openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  title: Azure Intune
  description: Azure Intune provides mobile device management, mobile application management, and PC management capabilities from the cloud.
  contact:
    name: StackQL Studios
    url: https://stackql.io/
    email: info@stackql.io
  version: 2024-10-07-stackql-generated
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: Service Api Version.
      required: false
      schema:
        type: string
  schemas:
    Resource:
      x-ms-azure-resource: true
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource Tags
        location:
          type: string
          description: Resource Location
      type: object
    Location:
      description: Location entity for given tenant.
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/LocationProperties'
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource Tags
        location:
          type: string
          description: Resource Location
      type: object
    LocationProperties:
      required:
        - hostName
      properties:
        hostName:
          type: string
      type: object
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: string
        message:
          type: string
      type: object
    LocationCollection:
      required:
        - value
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Location'
        nextlink:
          readOnly: true
          type: string
          description: Gets the URL to get the next set of results.
      type: object
    GroupsCollection:
      required:
        - value
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/GroupItem'
        nextlink:
          readOnly: true
          type: string
          description: Gets the URL to get the next set of results.
      type: object
    GroupItem:
      description: Group entity for Intune MAM.
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/GroupProperties'
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource Tags
        location:
          type: string
          description: Resource Location
      type: object
    GroupProperties:
      required:
        - friendlyName
        - platform
      properties:
        friendlyName:
          type: string
      type: object
    ApplicationCollection:
      required:
        - value
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Application'
        nextlink:
          readOnly: true
          type: string
          description: Gets the URL to get the next set of results.
      type: object
    Application:
      description: Application entity for Intune MAM.
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ApplicationProperties'
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource Tags
        location:
          type: string
          description: Resource Location
      type: object
    ApplicationProperties:
      required:
        - friendlyName
        - platform
      properties:
        friendlyName:
          type: string
        platform:
          type: string
          default: ios
          enum:
            - ios
            - android
            - windows
        appId:
          type: string
      type: object
    IOSMAMPolicyCollection:
      required:
        - value
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/iOSMAMPolicy'
        nextlink:
          readOnly: true
          type: string
          description: Gets the URL to get the next set of results.
      type: object
    AndroidMAMPolicyCollection:
      required:
        - value
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AndroidMAMPolicy'
        nextlink:
          readOnly: true
          type: string
          description: Gets the URL to get the next set of results.
      type: object
    iOSMAMPolicy:
      description: iOS Policy entity for Intune MAM.
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/iOSMAMPolicyProperties'
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource Tags
        location:
          type: string
          description: Resource Location
      type: object
    AndroidMAMPolicy:
      description: Android Policy entity for Intune MAM.
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AndroidMAMPolicyProperties'
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource Tags
        location:
          type: string
          description: Resource Location
      type: object
    MAMPolicyAppIdOrGroupIdPayload:
      description: MAM Policy request body for properties Intune MAM.
      properties:
        properties:
          $ref: '#/components/schemas/MAMPolicyAppOrGroupIdProperties'
      type: object
    MAMPolicyAppOrGroupIdProperties:
      required:
        - url
      properties:
        url:
          type: string
      description: Android Policy request body for Intune MAM.
      type: object
    MAMPolicyProperties:
      required:
        - friendlyName
      properties:
        friendlyName:
          type: string
        description:
          type: string
        appSharingFromLevel:
          type: string
          default: none
          enum:
            - none
            - policyManagedApps
            - allApps
        appSharingToLevel:
          type: string
          default: none
          enum:
            - none
            - policyManagedApps
            - allApps
        authentication:
          type: string
          default: required
          enum:
            - required
            - notRequired
        clipboardSharingLevel:
          type: string
          default: blocked
          enum:
            - blocked
            - policyManagedApps
            - policyManagedAppsWithPasteIn
            - allApps
        dataBackup:
          type: string
          default: allow
          enum:
            - allow
            - block
        fileSharingSaveAs:
          type: string
          default: allow
          enum:
            - allow
            - block
        pin:
          type: string
          default: required
          enum:
            - required
            - notRequired
        pinNumRetry:
          type: integer
        deviceCompliance:
          type: string
          default: enable
          enum:
            - enable
            - disable
        managedBrowser:
          type: string
          default: required
          enum:
            - required
            - notRequired
        accessRecheckOfflineTimeout:
          type: string
          format: duration
        accessRecheckOnlineTimeout:
          type: string
          format: duration
        offlineWipeTimeout:
          type: string
          format: duration
        numOfApps:
          type: integer
          readOnly: true
        groupStatus:
          readOnly: true
          type: string
          default: notTargeted
          enum:
            - notTargeted
            - targeted
        lastModifiedTime:
          type: string
          readOnly: true
          format: date-time
      type: object
    iOSMAMPolicyProperties:
      description: Intune MAM iOS Policy Properties.
      properties:
        friendlyName:
          type: string
        description:
          type: string
        appSharingFromLevel:
          type: string
          default: none
          enum:
            - none
            - policyManagedApps
            - allApps
        appSharingToLevel:
          type: string
          default: none
          enum:
            - none
            - policyManagedApps
            - allApps
        authentication:
          type: string
          default: required
          enum:
            - required
            - notRequired
        clipboardSharingLevel:
          type: string
          default: blocked
          enum:
            - blocked
            - policyManagedApps
            - policyManagedAppsWithPasteIn
            - allApps
        dataBackup:
          type: string
          default: allow
          enum:
            - allow
            - block
        fileSharingSaveAs:
          type: string
          default: allow
          enum:
            - allow
            - block
        pin:
          type: string
          default: required
          enum:
            - required
            - notRequired
        pinNumRetry:
          type: integer
        deviceCompliance:
          type: string
          default: enable
          enum:
            - enable
            - disable
        managedBrowser:
          type: string
          default: required
          enum:
            - required
            - notRequired
        accessRecheckOfflineTimeout:
          type: string
          format: duration
        accessRecheckOnlineTimeout:
          type: string
          format: duration
        offlineWipeTimeout:
          type: string
          format: duration
        numOfApps:
          type: integer
          readOnly: true
        groupStatus:
          readOnly: true
          type: string
          default: notTargeted
          enum:
            - notTargeted
            - targeted
        lastModifiedTime:
          type: string
          readOnly: true
          format: date-time
        fileEncryptionLevel:
          type: string
          default: deviceLocked
          enum:
            - deviceLocked
            - deviceLockedExceptFilesOpen
            - afterDeviceRestart
            - useDeviceSettings
        touchId:
          type: string
          default: enable
          enum:
            - enable
            - disable
      type: object
    AndroidMAMPolicyProperties:
      description: Intune MAM iOS Policy Properties.
      properties:
        friendlyName:
          type: string
        description:
          type: string
        appSharingFromLevel:
          type: string
          default: none
          enum:
            - none
            - policyManagedApps
            - allApps
        appSharingToLevel:
          type: string
          default: none
          enum:
            - none
            - policyManagedApps
            - allApps
        authentication:
          type: string
          default: required
          enum:
            - required
            - notRequired
        clipboardSharingLevel:
          type: string
          default: blocked
          enum:
            - blocked
            - policyManagedApps
            - policyManagedAppsWithPasteIn
            - allApps
        dataBackup:
          type: string
          default: allow
          enum:
            - allow
            - block
        fileSharingSaveAs:
          type: string
          default: allow
          enum:
            - allow
            - block
        pin:
          type: string
          default: required
          enum:
            - required
            - notRequired
        pinNumRetry:
          type: integer
        deviceCompliance:
          type: string
          default: enable
          enum:
            - enable
            - disable
        managedBrowser:
          type: string
          default: required
          enum:
            - required
            - notRequired
        accessRecheckOfflineTimeout:
          type: string
          format: duration
        accessRecheckOnlineTimeout:
          type: string
          format: duration
        offlineWipeTimeout:
          type: string
          format: duration
        numOfApps:
          type: integer
          readOnly: true
        groupStatus:
          readOnly: true
          type: string
          default: notTargeted
          enum:
            - notTargeted
            - targeted
        lastModifiedTime:
          type: string
          readOnly: true
          format: date-time
        screenCapture:
          type: string
          default: allow
          enum:
            - allow
            - block
        fileEncryption:
          type: string
          default: required
          enum:
            - required
            - notRequired
      type: object
    DeviceCollection:
      required:
        - value
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Device'
        nextlink:
          readOnly: true
          type: string
          description: Gets the URL to get the next set of results.
      type: object
    Device:
      description: Device entity for Intune.
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/DeviceProperties'
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource Tags
        location:
          type: string
          description: Resource Location
      type: object
    DeviceProperties:
      required:
        - userId
        - friendlyName
        - platform
        - platformVersion
        - deviceType
      properties:
        userId:
          type: string
        friendlyName:
          type: string
        platform:
          type: string
        platformVersion:
          type: string
        deviceType:
          type: string
      type: object
    WipeDeviceOperationResult:
      description: Device entity for Intune.
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/WipeDeviceOperationResultProperties'
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource Tags
        location:
          type: string
          description: Resource Location
      type: object
    WipeDeviceOperationResultProperties:
      required:
        - value
      properties:
        value:
          type: string
      type: object
    OperationResultCollection:
      required:
        - value
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/OperationResult'
        nextlink:
          readOnly: true
          type: string
          description: Gets the URL to get the next set of results.
      type: object
    OperationResult:
      description: OperationResult entity for Intune.
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/OperationResultProperties'
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource Tags
        location:
          type: string
          description: Resource Location
      type: object
    OperationResultProperties:
      required:
        - userId
        - friendlyName
        - platform
        - operationMetadata
      properties:
        friendlyName:
          type: string
        category:
          type: string
        lastModifiedTime:
          type: string
        state:
          type: string
        operationMetadata:
          type: array
          items:
            $ref: '#/components/schemas/operationMetadataProperties'
          x-ms-identifiers:
            - name
      type: object
    operationMetadataProperties:
      required:
        - name
        - value
      properties:
        name:
          type: string
        value:
          type: string
      type: object
    StatusesDefault:
      description: Default Statuses entity for the given tenant.
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/StatusesProperties'
        nextlink:
          readOnly: true
          type: string
          description: Gets the URL to get the next set of results.
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource Tags
        location:
          type: string
          description: Resource Location
      type: object
    StatusesProperties:
      properties:
        deployedPolicies:
          type: integer
          readOnly: true
        enrolledUsers:
          type: integer
          readOnly: true
        flaggedUsers:
          type: integer
          readOnly: true
        lastModifiedTime:
          type: string
          readOnly: true
          format: date-time
        policyAppliedUsers:
          type: integer
          readOnly: true
        status:
          type: string
          readOnly: true
        wipeFailedApps:
          type: integer
          readOnly: true
        wipePendingApps:
          type: integer
          readOnly: true
        wipeSucceededApps:
          type: integer
          readOnly: true
      type: object
    FlaggedUserCollection:
      required:
        - value
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/FlaggedUser'
        nextlink:
          readOnly: true
          type: string
          description: Gets the URL to get the next set of results.
      description: Flagged user collection for the given tenant.
      type: object
    FlaggedUser:
      description: Flagged user for the given tenant.
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/FlaggedUserProperties'
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource Tags
        location:
          type: string
          description: Resource Location
      type: object
    FlaggedUserProperties:
      properties:
        errorCount:
          type: integer
          readOnly: true
        friendlyName:
          type: string
          readOnly: true
      type: object
    FlaggedEnrolledAppCollection:
      required:
        - value
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/FlaggedEnrolledApp'
        nextlink:
          readOnly: true
          type: string
          description: Gets the URL to get the next set of results.
      description: Flagged Enrolled App collection for the given tenant.
      type: object
    FlaggedEnrolledApp:
      description: Flagged Enrolled App for the given tenant.
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/FlaggedEnrolledAppProperties'
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource Tags
        location:
          type: string
          description: Resource Location
      type: object
    FlaggedEnrolledAppProperties:
      properties:
        deviceType:
          type: string
          readOnly: true
        friendlyName:
          type: string
          readOnly: true
        lastModifiedTime:
          type: string
          readOnly: true
        platform:
          type: string
          readOnly: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/FlaggedEnrolledAppError'
          x-ms-identifiers:
            - errorCode
      type: object
    FlaggedEnrolledAppError:
      properties:
        errorCode:
          type: string
          readOnly: true
        severity:
          type: string
          readOnly: true
      type: object
  x-stackQL-resources:
    locations:
      id: azure_extras.intune.locations
      name: locations
      title: locations
      methods:
        get:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations?api-version=2015-01-14-preview/get'
            operationId: GetLocations
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            schemaRef: LocationCollection
            objectKey: $.value
        get_by_host_name:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1hostName?api-version=2015-01-14-preview/get'
            operationId: GetLocationByHostName
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            schemaRef: Location
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/locations/methods/get'
          - $ref: '#/components/x-stackQL-resources/locations/methods/get_by_host_name'
        insert: []
        update: []
        replace: []
        delete: []
    apps:
      id: azure_extras.intune.apps
      name: apps
      title: apps
      methods:
        get:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1apps?api-version=2015-01-14-preview/get'
            operationId: GetApps
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            schemaRef: ApplicationCollection
            objectKey: $.value
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/apps/methods/get'
        insert: []
        update: []
        replace: []
        delete: []
    ios_mam_policies:
      id: azure_extras.intune.ios_mam_policies
      name: ios_mam_policies
      title: ios_mam_policies
      methods:
        get_mam_policies:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1iosPolicies?api-version=2015-01-14-preview/get'
            operationId: Ios_GetMAMPolicies
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            schemaRef: IOSMAMPolicyCollection
            objectKey: $.value
        get_mam_policy_by_name:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1iosPolicies~1{policyName}?api-version=2015-01-14-preview/get'
            operationId: Ios_GetMAMPolicyByName
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            schemaRef: iOSMAMPolicy
        create_or_update_mam_policy:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1iosPolicies~1{policyName}?api-version=2015-01-14-preview/put'
            operationId: Ios_CreateOrUpdateMAMPolicy
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            schemaRef: iOSMAMPolicy
        delete_mam_policy:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1iosPolicies~1{policyName}?api-version=2015-01-14-preview/delete'
            operationId: Ios_DeleteMAMPolicy
          response:
            mediaType: application/json
            openAPIDocKey: '200'
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/ios_mam_policies/methods/get_mam_policy_by_name'
          - $ref: '#/components/x-stackQL-resources/ios_mam_policies/methods/get_mam_policies'
        insert:
          - $ref: '#/components/x-stackQL-resources/ios_mam_policies/methods/create_or_update_mam_policy'
        update: []
        replace: []
        delete:
          - $ref: '#/components/x-stackQL-resources/ios_mam_policies/methods/delete_mam_policy'
    androids_mam_policies:
      id: azure_extras.intune.androids_mam_policies
      name: androids_mam_policies
      title: androids_mam_policies
      methods:
        get_mam_policies:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1androidPolicies?api-version=2015-01-14-preview/get'
            operationId: Android_GetMAMPolicies
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            schemaRef: AndroidMAMPolicyCollection
            objectKey: $.value
        get_mam_policy_by_name:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1androidPolicies~1{policyName}?api-version=2015-01-14-preview/get'
            operationId: Android_GetMAMPolicyByName
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            schemaRef: AndroidMAMPolicy
        create_or_update_mam_policy:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1androidPolicies~1{policyName}?api-version=2015-01-14-preview/put'
            operationId: Android_CreateOrUpdateMAMPolicy
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            schemaRef: AndroidMAMPolicy
        delete_mam_policy:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1androidPolicies~1{policyName}?api-version=2015-01-14-preview/delete'
            operationId: Android_DeleteMAMPolicy
          response:
            mediaType: application/json
            openAPIDocKey: '200'
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/androids_mam_policies/methods/get_mam_policy_by_name'
          - $ref: '#/components/x-stackQL-resources/androids_mam_policies/methods/get_mam_policies'
        insert:
          - $ref: '#/components/x-stackQL-resources/androids_mam_policies/methods/create_or_update_mam_policy'
        update: []
        replace: []
        delete:
          - $ref: '#/components/x-stackQL-resources/androids_mam_policies/methods/delete_mam_policy'
    ios:
      id: azure_extras.intune.ios
      name: ios
      title: ios
      methods:
        patch_mam_policy:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1iosPolicies~1{policyName}?api-version=2015-01-14-preview/patch'
            operationId: Ios_PatchMAMPolicy
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            schemaRef: iOSMAMPolicy
        add_app_for_mam_policy:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1iosPolicies~1{policyName}~1apps~1{appName}?api-version=2015-01-14-preview/put'
            operationId: Ios_AddAppForMAMPolicy
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        add_group_for_mam_policy:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1iosPolicies~1{policyName}~1groups~1{groupId}?api-version=2015-01-14-preview/put'
            operationId: Ios_AddGroupForMAMPolicy
          response:
            mediaType: application/json
            openAPIDocKey: '200'
      sqlVerbs:
        select: []
        insert: []
        update:
          - $ref: '#/components/x-stackQL-resources/ios/methods/patch_mam_policy'
        replace: []
        delete: []
    androids:
      id: azure_extras.intune.androids
      name: androids
      title: androids
      methods:
        patch_mam_policy:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1androidPolicies~1{policyName}?api-version=2015-01-14-preview/patch'
            operationId: Android_PatchMAMPolicy
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            schemaRef: AndroidMAMPolicy
        add_app_for_mam_policy:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1androidPolicies~1{policyName}~1apps~1{appName}?api-version=2015-01-14-preview/put'
            operationId: Android_AddAppForMAMPolicy
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        add_group_for_mam_policy:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1androidPolicies~1{policyName}~1groups~1{groupId}?api-version=2015-01-14-preview/put'
            operationId: Android_AddGroupForMAMPolicy
          response:
            mediaType: application/json
            openAPIDocKey: '200'
      sqlVerbs:
        select: []
        insert: []
        update:
          - $ref: '#/components/x-stackQL-resources/androids/methods/patch_mam_policy'
        replace: []
        delete: []
    ios_app_for_mam_policies:
      id: azure_extras.intune.ios_app_for_mam_policies
      name: ios_app_for_mam_policies
      title: ios_app_for_mam_policies
      methods:
        get_app_for_mam_policy:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1iosPolicies~1{policyName}~1apps?api-version=2015-01-14-preview/get'
            operationId: Ios_GetAppForMAMPolicy
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            schemaRef: ApplicationCollection
            objectKey: $.value
        delete_app_for_mam_policy:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1iosPolicies~1{policyName}~1apps~1{appName}?api-version=2015-01-14-preview/delete'
            operationId: Ios_DeleteAppForMAMPolicy
          response:
            mediaType: application/json
            openAPIDocKey: '200'
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/ios_app_for_mam_policies/methods/get_app_for_mam_policy'
        insert: []
        update: []
        replace: []
        delete:
          - $ref: '#/components/x-stackQL-resources/ios_app_for_mam_policies/methods/delete_app_for_mam_policy'
    androids_app_for_mam_policies:
      id: azure_extras.intune.androids_app_for_mam_policies
      name: androids_app_for_mam_policies
      title: androids_app_for_mam_policies
      methods:
        get_app_for_mam_policy:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1AndroidPolicies~1{policyName}~1apps?api-version=2015-01-14-preview/get'
            operationId: Android_GetAppForMAMPolicy
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            schemaRef: ApplicationCollection
            objectKey: $.value
        delete_app_for_mam_policy:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1androidPolicies~1{policyName}~1apps~1{appName}?api-version=2015-01-14-preview/delete'
            operationId: Android_DeleteAppForMAMPolicy
          response:
            mediaType: application/json
            openAPIDocKey: '200'
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/androids_app_for_mam_policies/methods/get_app_for_mam_policy'
        insert: []
        update: []
        replace: []
        delete:
          - $ref: '#/components/x-stackQL-resources/androids_app_for_mam_policies/methods/delete_app_for_mam_policy'
    ios_groups_for_mam_policies:
      id: azure_extras.intune.ios_groups_for_mam_policies
      name: ios_groups_for_mam_policies
      title: ios_groups_for_mam_policies
      methods:
        get_groups_for_mam_policy:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1iosPolicies~1{policyName}~1groups?api-version=2015-01-14-preview/get'
            operationId: Ios_GetGroupsForMAMPolicy
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            schemaRef: GroupsCollection
            objectKey: $.value
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/ios_groups_for_mam_policies/methods/get_groups_for_mam_policy'
        insert: []
        update: []
        replace: []
        delete: []
    androids_groups_for_mam_policies:
      id: azure_extras.intune.androids_groups_for_mam_policies
      name: androids_groups_for_mam_policies
      title: androids_groups_for_mam_policies
      methods:
        get_groups_for_mam_policy:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1androidPolicies~1{policyName}~1groups?api-version=2015-01-14-preview/get'
            operationId: Android_GetGroupsForMAMPolicy
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            schemaRef: GroupsCollection
            objectKey: $.value
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/androids_groups_for_mam_policies/methods/get_groups_for_mam_policy'
        insert: []
        update: []
        replace: []
        delete: []
    ios_group_for_mam_policies:
      id: azure_extras.intune.ios_group_for_mam_policies
      name: ios_group_for_mam_policies
      title: ios_group_for_mam_policies
      methods:
        delete_group_for_mam_policy:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1iosPolicies~1{policyName}~1groups~1{groupId}?api-version=2015-01-14-preview/delete'
            operationId: Ios_DeleteGroupForMAMPolicy
          response:
            mediaType: application/json
            openAPIDocKey: '200'
      sqlVerbs:
        select: []
        insert: []
        update: []
        replace: []
        delete:
          - $ref: '#/components/x-stackQL-resources/ios_group_for_mam_policies/methods/delete_group_for_mam_policy'
    androids_group_for_mam_policies:
      id: azure_extras.intune.androids_group_for_mam_policies
      name: androids_group_for_mam_policies
      title: androids_group_for_mam_policies
      methods:
        delete_group_for_mam_policy:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1androidPolicies~1{policyName}~1groups~1{groupId}?api-version=2015-01-14-preview/delete'
            operationId: Android_DeleteGroupForMAMPolicy
          response:
            mediaType: application/json
            openAPIDocKey: '200'
      sqlVerbs:
        select: []
        insert: []
        update: []
        replace: []
        delete:
          - $ref: '#/components/x-stackQL-resources/androids_group_for_mam_policies/methods/delete_group_for_mam_policy'
    mam_user_devices:
      id: azure_extras.intune.mam_user_devices
      name: mam_user_devices
      title: mam_user_devices
      methods:
        get:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1users~1{userName}~1devices?api-version=2015-01-14-preview/get'
            operationId: GetMAMUserDevices
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            schemaRef: DeviceCollection
            objectKey: $.value
        get_by_device_name:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1users~1{userName}~1devices~1{deviceName}?api-version=2015-01-14-preview/get'
            operationId: GetMAMUserDeviceByDeviceName
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            schemaRef: Device
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/mam_user_devices/methods/get_by_device_name'
          - $ref: '#/components/x-stackQL-resources/mam_user_devices/methods/get'
        insert: []
        update: []
        replace: []
        delete: []
    operations:
      id: azure_extras.intune.operations
      name: operations
      title: operations
      methods:
        wipe_mam_user_device:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1users~1{userName}~1devices~1{deviceName}~1wipe?api-version=2015-01-14-preview/post'
            operationId: WipeMAMUserDevice
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            schemaRef: WipeDeviceOperationResult
      sqlVerbs:
        select: []
        insert: []
        update: []
        replace: []
        delete: []
    operation_results:
      id: azure_extras.intune.operation_results
      name: operation_results
      title: operation_results
      methods:
        get:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1operationResults?api-version=2015-01-14-preview/get'
            operationId: GetOperationResults
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            schemaRef: OperationResultCollection
            objectKey: $.value
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/operation_results/methods/get'
        insert: []
        update: []
        replace: []
        delete: []
    mam_statuses:
      id: azure_extras.intune.mam_statuses
      name: mam_statuses
      title: mam_statuses
      methods:
        get:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1statuses~1default?api-version=2015-01-14-preview/get'
            operationId: GetMAMStatuses
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            schemaRef: StatusesDefault
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/mam_statuses/methods/get'
        insert: []
        update: []
        replace: []
        delete: []
    mam_flagged_users:
      id: azure_extras.intune.mam_flagged_users
      name: mam_flagged_users
      title: mam_flagged_users
      methods:
        get:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1flaggedUsers?api-version=2015-01-14-preview/get'
            operationId: GetMAMFlaggedUsers
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            schemaRef: FlaggedUserCollection
            objectKey: $.value
        get_by_name:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1flaggedUsers~1{userName}?api-version=2015-01-14-preview/get'
            operationId: GetMAMFlaggedUserByName
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            schemaRef: FlaggedUser
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/mam_flagged_users/methods/get_by_name'
          - $ref: '#/components/x-stackQL-resources/mam_flagged_users/methods/get'
        insert: []
        update: []
        replace: []
        delete: []
    mam_user_flagged_enrolled_apps:
      id: azure_extras.intune.mam_user_flagged_enrolled_apps
      name: mam_user_flagged_enrolled_apps
      title: mam_user_flagged_enrolled_apps
      methods:
        get:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.Intune~1locations~1{hostName}~1flaggedUsers~1{userName}~1flaggedEnrolledApps?api-version=2015-01-14-preview/get'
            operationId: GetMAMUserFlaggedEnrolledApps
          response:
            mediaType: application/json
            openAPIDocKey: '200'
            schemaRef: FlaggedEnrolledAppCollection
            objectKey: $.value
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/mam_user_flagged_enrolled_apps/methods/get'
        insert: []
        update: []
        replace: []
        delete: []
    vw_ios_mam_policies:
      id: azure_extras.intune.vw_ios_mam_policies
      name: vw_ios_mam_policies
      config:
        views:
          select:
            predicate: sqlDialect == "sqlite3"
            ddl: |-
              SELECT
              id as id,
              name as name,
              location as location,
              type as type,
              tags as tags,
              JSON_EXTRACT(properties, '$.friendlyName') as "friendly_name",
              JSON_EXTRACT(properties, '$.description') as "description",
              JSON_EXTRACT(properties, '$.appSharingFromLevel') as "app_sharing_from_level",
              JSON_EXTRACT(properties, '$.appSharingToLevel') as "app_sharing_to_level",
              JSON_EXTRACT(properties, '$.authentication') as "authentication",
              JSON_EXTRACT(properties, '$.clipboardSharingLevel') as "clipboard_sharing_level",
              JSON_EXTRACT(properties, '$.dataBackup') as "data_backup",
              JSON_EXTRACT(properties, '$.fileSharingSaveAs') as "file_sharing_save_as",
              JSON_EXTRACT(properties, '$.pin') as "pin",
              JSON_EXTRACT(properties, '$.pinNumRetry') as "pin_num_retry",
              JSON_EXTRACT(properties, '$.deviceCompliance') as "device_compliance",
              JSON_EXTRACT(properties, '$.managedBrowser') as "managed_browser",
              JSON_EXTRACT(properties, '$.accessRecheckOfflineTimeout') as "access_recheck_offline_timeout",
              JSON_EXTRACT(properties, '$.accessRecheckOnlineTimeout') as "access_recheck_online_timeout",
              JSON_EXTRACT(properties, '$.offlineWipeTimeout') as "offline_wipe_timeout",
              JSON_EXTRACT(properties, '$.numOfApps') as "num_of_apps",
              JSON_EXTRACT(properties, '$.groupStatus') as "group_status",
              JSON_EXTRACT(properties, '$.lastModifiedTime') as "last_modified_time",
              JSON_EXTRACT(properties, '$.fileEncryptionLevel') as "file_encryption_level",
              JSON_EXTRACT(properties, '$.touchId') as "touch_id",
              hostName,
              policyName
              FROM azure_extras.intune.ios_mam_policies
              WHERE hostName = 'replace-me';
            fallback:
              predicate: sqlDialect == "postgres"
              ddl: |-
                SELECT
                id as id,
                name as name,
                location as location,
                type as type,
                tags as tags,
                json_extract_path_text(properties, '$.friendlyName') as "friendly_name",
                json_extract_path_text(properties, '$.description') as "description",
                json_extract_path_text(properties, '$.appSharingFromLevel') as "app_sharing_from_level",
                json_extract_path_text(properties, '$.appSharingToLevel') as "app_sharing_to_level",
                json_extract_path_text(properties, '$.authentication') as "authentication",
                json_extract_path_text(properties, '$.clipboardSharingLevel') as "clipboard_sharing_level",
                json_extract_path_text(properties, '$.dataBackup') as "data_backup",
                json_extract_path_text(properties, '$.fileSharingSaveAs') as "file_sharing_save_as",
                json_extract_path_text(properties, '$.pin') as "pin",
                json_extract_path_text(properties, '$.pinNumRetry') as "pin_num_retry",
                json_extract_path_text(properties, '$.deviceCompliance') as "device_compliance",
                json_extract_path_text(properties, '$.managedBrowser') as "managed_browser",
                json_extract_path_text(properties, '$.accessRecheckOfflineTimeout') as "access_recheck_offline_timeout",
                json_extract_path_text(properties, '$.accessRecheckOnlineTimeout') as "access_recheck_online_timeout",
                json_extract_path_text(properties, '$.offlineWipeTimeout') as "offline_wipe_timeout",
                json_extract_path_text(properties, '$.numOfApps') as "num_of_apps",
                json_extract_path_text(properties, '$.groupStatus') as "group_status",
                json_extract_path_text(properties, '$.lastModifiedTime') as "last_modified_time",
                json_extract_path_text(properties, '$.fileEncryptionLevel') as "file_encryption_level",
                json_extract_path_text(properties, '$.touchId') as "touch_id",
                hostName,
                policyName
                FROM azure_extras.intune.ios_mam_policies
                WHERE hostName = 'replace-me';
    vw_androids_mam_policies:
      id: azure_extras.intune.vw_androids_mam_policies
      name: vw_androids_mam_policies
      config:
        views:
          select:
            predicate: sqlDialect == "sqlite3"
            ddl: |-
              SELECT
              id as id,
              name as name,
              location as location,
              type as type,
              tags as tags,
              JSON_EXTRACT(properties, '$.friendlyName') as "friendly_name",
              JSON_EXTRACT(properties, '$.description') as "description",
              JSON_EXTRACT(properties, '$.appSharingFromLevel') as "app_sharing_from_level",
              JSON_EXTRACT(properties, '$.appSharingToLevel') as "app_sharing_to_level",
              JSON_EXTRACT(properties, '$.authentication') as "authentication",
              JSON_EXTRACT(properties, '$.clipboardSharingLevel') as "clipboard_sharing_level",
              JSON_EXTRACT(properties, '$.dataBackup') as "data_backup",
              JSON_EXTRACT(properties, '$.fileSharingSaveAs') as "file_sharing_save_as",
              JSON_EXTRACT(properties, '$.pin') as "pin",
              JSON_EXTRACT(properties, '$.pinNumRetry') as "pin_num_retry",
              JSON_EXTRACT(properties, '$.deviceCompliance') as "device_compliance",
              JSON_EXTRACT(properties, '$.managedBrowser') as "managed_browser",
              JSON_EXTRACT(properties, '$.accessRecheckOfflineTimeout') as "access_recheck_offline_timeout",
              JSON_EXTRACT(properties, '$.accessRecheckOnlineTimeout') as "access_recheck_online_timeout",
              JSON_EXTRACT(properties, '$.offlineWipeTimeout') as "offline_wipe_timeout",
              JSON_EXTRACT(properties, '$.numOfApps') as "num_of_apps",
              JSON_EXTRACT(properties, '$.groupStatus') as "group_status",
              JSON_EXTRACT(properties, '$.lastModifiedTime') as "last_modified_time",
              JSON_EXTRACT(properties, '$.screenCapture') as "screen_capture",
              JSON_EXTRACT(properties, '$.fileEncryption') as "file_encryption",
              hostName,
              policyName
              FROM azure_extras.intune.androids_mam_policies
              WHERE hostName = 'replace-me';
            fallback:
              predicate: sqlDialect == "postgres"
              ddl: |-
                SELECT
                id as id,
                name as name,
                location as location,
                type as type,
                tags as tags,
                json_extract_path_text(properties, '$.friendlyName') as "friendly_name",
                json_extract_path_text(properties, '$.description') as "description",
                json_extract_path_text(properties, '$.appSharingFromLevel') as "app_sharing_from_level",
                json_extract_path_text(properties, '$.appSharingToLevel') as "app_sharing_to_level",
                json_extract_path_text(properties, '$.authentication') as "authentication",
                json_extract_path_text(properties, '$.clipboardSharingLevel') as "clipboard_sharing_level",
                json_extract_path_text(properties, '$.dataBackup') as "data_backup",
                json_extract_path_text(properties, '$.fileSharingSaveAs') as "file_sharing_save_as",
                json_extract_path_text(properties, '$.pin') as "pin",
                json_extract_path_text(properties, '$.pinNumRetry') as "pin_num_retry",
                json_extract_path_text(properties, '$.deviceCompliance') as "device_compliance",
                json_extract_path_text(properties, '$.managedBrowser') as "managed_browser",
                json_extract_path_text(properties, '$.accessRecheckOfflineTimeout') as "access_recheck_offline_timeout",
                json_extract_path_text(properties, '$.accessRecheckOnlineTimeout') as "access_recheck_online_timeout",
                json_extract_path_text(properties, '$.offlineWipeTimeout') as "offline_wipe_timeout",
                json_extract_path_text(properties, '$.numOfApps') as "num_of_apps",
                json_extract_path_text(properties, '$.groupStatus') as "group_status",
                json_extract_path_text(properties, '$.lastModifiedTime') as "last_modified_time",
                json_extract_path_text(properties, '$.screenCapture') as "screen_capture",
                json_extract_path_text(properties, '$.fileEncryption') as "file_encryption",
                hostName,
                policyName
                FROM azure_extras.intune.androids_mam_policies
                WHERE hostName = 'replace-me';
    vw_mam_user_devices:
      id: azure_extras.intune.vw_mam_user_devices
      name: vw_mam_user_devices
      config:
        views:
          select:
            predicate: sqlDialect == "sqlite3"
            ddl: |-
              SELECT
              id as id,
              name as name,
              location as location,
              type as type,
              tags as tags,
              JSON_EXTRACT(properties, '$.userId') as "user_id",
              JSON_EXTRACT(properties, '$.friendlyName') as "friendly_name",
              JSON_EXTRACT(properties, '$.platform') as "platform",
              JSON_EXTRACT(properties, '$.platformVersion') as "platform_version",
              JSON_EXTRACT(properties, '$.deviceType') as "device_type",
              hostName,
              userName,
              deviceName
              FROM azure_extras.intune.mam_user_devices
              WHERE hostName = 'replace-me' AND userName = 'replace-me';
            fallback:
              predicate: sqlDialect == "postgres"
              ddl: |-
                SELECT
                id as id,
                name as name,
                location as location,
                type as type,
                tags as tags,
                json_extract_path_text(properties, '$.userId') as "user_id",
                json_extract_path_text(properties, '$.friendlyName') as "friendly_name",
                json_extract_path_text(properties, '$.platform') as "platform",
                json_extract_path_text(properties, '$.platformVersion') as "platform_version",
                json_extract_path_text(properties, '$.deviceType') as "device_type",
                hostName,
                userName,
                deviceName
                FROM azure_extras.intune.mam_user_devices
                WHERE hostName = 'replace-me' AND userName = 'replace-me';
    vw_mam_statuses:
      id: azure_extras.intune.vw_mam_statuses
      name: vw_mam_statuses
      config:
        views:
          select:
            predicate: sqlDialect == "sqlite3"
            ddl: |-
              SELECT
              id as id,
              name as name,
              location as location,
              nextlink as nextlink,
              type as type,
              tags as tags,
              JSON_EXTRACT(properties, '$.deployedPolicies') as "deployed_policies",
              JSON_EXTRACT(properties, '$.enrolledUsers') as "enrolled_users",
              JSON_EXTRACT(properties, '$.flaggedUsers') as "flagged_users",
              JSON_EXTRACT(properties, '$.lastModifiedTime') as "last_modified_time",
              JSON_EXTRACT(properties, '$.policyAppliedUsers') as "policy_applied_users",
              JSON_EXTRACT(properties, '$.status') as "status",
              JSON_EXTRACT(properties, '$.wipeFailedApps') as "wipe_failed_apps",
              JSON_EXTRACT(properties, '$.wipePendingApps') as "wipe_pending_apps",
              JSON_EXTRACT(properties, '$.wipeSucceededApps') as "wipe_succeeded_apps",
              hostName
              FROM azure_extras.intune.mam_statuses
              WHERE hostName = 'replace-me';
            fallback:
              predicate: sqlDialect == "postgres"
              ddl: |-
                SELECT
                id as id,
                name as name,
                location as location,
                nextlink as nextlink,
                type as type,
                tags as tags,
                json_extract_path_text(properties, '$.deployedPolicies') as "deployed_policies",
                json_extract_path_text(properties, '$.enrolledUsers') as "enrolled_users",
                json_extract_path_text(properties, '$.flaggedUsers') as "flagged_users",
                json_extract_path_text(properties, '$.lastModifiedTime') as "last_modified_time",
                json_extract_path_text(properties, '$.policyAppliedUsers') as "policy_applied_users",
                json_extract_path_text(properties, '$.status') as "status",
                json_extract_path_text(properties, '$.wipeFailedApps') as "wipe_failed_apps",
                json_extract_path_text(properties, '$.wipePendingApps') as "wipe_pending_apps",
                json_extract_path_text(properties, '$.wipeSucceededApps') as "wipe_succeeded_apps",
                hostName
                FROM azure_extras.intune.mam_statuses
                WHERE hostName = 'replace-me';
    vw_mam_flagged_users:
      id: azure_extras.intune.vw_mam_flagged_users
      name: vw_mam_flagged_users
      config:
        views:
          select:
            predicate: sqlDialect == "sqlite3"
            ddl: |-
              SELECT
              id as id,
              name as name,
              location as location,
              type as type,
              tags as tags,
              JSON_EXTRACT(properties, '$.errorCount') as "error_count",
              JSON_EXTRACT(properties, '$.friendlyName') as "friendly_name",
              hostName,
              userName
              FROM azure_extras.intune.mam_flagged_users
              WHERE hostName = 'replace-me';
            fallback:
              predicate: sqlDialect == "postgres"
              ddl: |-
                SELECT
                id as id,
                name as name,
                location as location,
                type as type,
                tags as tags,
                json_extract_path_text(properties, '$.errorCount') as "error_count",
                json_extract_path_text(properties, '$.friendlyName') as "friendly_name",
                hostName,
                userName
                FROM azure_extras.intune.mam_flagged_users
                WHERE hostName = 'replace-me';
paths:
  /providers/Microsoft.Intune/locations?api-version=2015-01-14-preview:
    get:
      description: Returns location for user tenant.
      operationId: GetLocations
      parameters: []
      responses:
        '200':
          description: location response as a collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/hostName?api-version=2015-01-14-preview:
    get:
      description: Returns location for given tenant.
      operationId: GetLocationByHostName
      parameters: []
      responses:
        '200':
          description: single location response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /providers/Microsoft.Intune/locations/{hostName}/apps?api-version=2015-01-14-preview:
    get:
      description: Returns Intune Manageable apps.
      operationId: GetApps
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: $filter
          in: query
          description: The filter to apply on the operation.
          required: false
          schema:
            type: string
        - name: $top
          in: query
          required: false
          schema:
            format: int32
            type: integer
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: applications as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies?api-version=2015-01-14-preview:
    get:
      description: Returns Intune iOSPolicies.
      operationId: Ios_GetMAMPolicies
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: $filter
          in: query
          description: The filter to apply on the operation.
          required: false
          schema:
            type: string
        - name: $top
          in: query
          required: false
          schema:
            format: int32
            type: integer
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: applications as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IOSMAMPolicyCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies?api-version=2015-01-14-preview:
    get:
      description: Returns Intune Android policies.
      operationId: Android_GetMAMPolicies
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: $filter
          in: query
          description: The filter to apply on the operation.
          required: false
          schema:
            type: string
        - name: $top
          in: query
          required: false
          schema:
            format: int32
            type: integer
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: android Policies response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidMAMPolicyCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}?api-version=2015-01-14-preview:
    get:
      description: Returns Intune iOS policies.
      operationId: Ios_GetMAMPolicyByName
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: iOSMAMPolicy entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iOSMAMPolicy'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      description: Creates or updates iOSMAMPolicy.
      operationId: Ios_CreateOrUpdateMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
      requestBody:
        description: Parameters supplied to the Create or update an android policy operation.
        required: true
        x-ms-requestBody-name: parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iOSMAMPolicy'
      responses:
        '200':
          description: iOSMAMPolicy entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iOSMAMPolicy'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: ' patch an iOSMAMPolicy.'
      operationId: Ios_PatchMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
      requestBody:
        description: Parameters supplied to the Create or update an android policy operation.
        required: true
        x-ms-requestBody-name: parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iOSMAMPolicy'
      responses:
        '200':
          description: iOSMAMPolicy entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iOSMAMPolicy'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Delete Ios Policy
      operationId: Ios_DeleteMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}?api-version=2015-01-14-preview:
    get:
      description: Returns AndroidMAMPolicy with given name.
      operationId: Android_GetMAMPolicyByName
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: iOSMAMPolicy entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidMAMPolicy'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      description: Creates or updates AndroidMAMPolicy.
      operationId: Android_CreateOrUpdateMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
      requestBody:
        description: Parameters supplied to the Create or update an android policy operation.
        required: true
        x-ms-requestBody-name: parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AndroidMAMPolicy'
      responses:
        '200':
          description: android entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidMAMPolicy'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Patch AndroidMAMPolicy.
      operationId: Android_PatchMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
      requestBody:
        description: Parameters supplied to the Create or update an android policy operation.
        required: true
        x-ms-requestBody-name: parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AndroidMAMPolicy'
      responses:
        '200':
          description: android entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidMAMPolicy'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Delete Android Policy
      operationId: Android_DeleteMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/apps?api-version=2015-01-14-preview:
    get:
      description: Get apps for an iOSMAMPolicy.
      operationId: Ios_GetAppForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - name: $filter
          in: query
          description: The filter to apply on the operation.
          required: false
          schema:
            type: string
        - name: $top
          in: query
          required: false
          schema:
            format: int32
            type: integer
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: applications as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/AndroidPolicies/{policyName}/apps?api-version=2015-01-14-preview:
    get:
      description: Get apps for an AndroidMAMPolicy.
      operationId: Android_GetAppForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - name: $filter
          in: query
          description: The filter to apply on the operation.
          required: false
          schema:
            type: string
        - name: $top
          in: query
          required: false
          schema:
            format: int32
            type: integer
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: applications as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/apps/{appName}?api-version=2015-01-14-preview:
    put:
      description: Add app to an iOSMAMPolicy.
      operationId: Ios_AddAppForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - name: appName
          in: path
          description: application unique Name
          required: true
          schema:
            type: string
      requestBody:
        description: Parameters supplied to add an app to an ios policy.
        required: true
        x-ms-requestBody-name: parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MAMPolicyAppIdOrGroupIdPayload'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Delete App for Ios Policy
      operationId: Ios_DeleteAppForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - name: appName
          in: path
          description: application unique Name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/apps/{appName}?api-version=2015-01-14-preview:
    put:
      description: Add app to an AndroidMAMPolicy.
      operationId: Android_AddAppForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - name: appName
          in: path
          description: application unique Name
          required: true
          schema:
            type: string
      requestBody:
        description: Parameters supplied to the Create or update app to an android policy operation.
        required: true
        x-ms-requestBody-name: parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MAMPolicyAppIdOrGroupIdPayload'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Delete App for Android Policy
      operationId: Android_DeleteAppForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - name: appName
          in: path
          description: application unique Name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/groups?api-version=2015-01-14-preview:
    get:
      description: Returns groups for a given iOSMAMPolicy.
      operationId: Ios_GetGroupsForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: policy name for the tenant
          required: true
          schema:
            type: string
      responses:
        '200':
          description: groups as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/groups?api-version=2015-01-14-preview:
    get:
      description: Returns groups for a given AndroidMAMPolicy.
      operationId: Android_GetGroupsForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: policy name for the tenant
          required: true
          schema:
            type: string
      responses:
        '200':
          description: groups as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/groups/{groupId}?api-version=2015-01-14-preview:
    put:
      description: Add group to an iOSMAMPolicy.
      operationId: Ios_AddGroupForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - name: groupId
          in: path
          description: group Id
          required: true
          schema:
            type: string
      requestBody:
        description: Parameters supplied to the Create or update app to an android policy operation.
        required: true
        x-ms-requestBody-name: parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MAMPolicyAppIdOrGroupIdPayload'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Delete Group for iOS Policy
      operationId: Ios_DeleteGroupForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - name: groupId
          in: path
          description: application unique Name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/groups/{groupId}?api-version=2015-01-14-preview:
    put:
      description: Add group to an AndroidMAMPolicy.
      operationId: Android_AddGroupForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - name: groupId
          in: path
          description: group Id
          required: true
          schema:
            type: string
      requestBody:
        description: Parameters supplied to the Create or update app to an android policy operation.
        required: true
        x-ms-requestBody-name: parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MAMPolicyAppIdOrGroupIdPayload'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Delete Group for Android Policy
      operationId: Android_DeleteGroupForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - name: groupId
          in: path
          description: application unique Name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices?api-version=2015-01-14-preview:
    get:
      description: Get devices for a user.
      operationId: GetMAMUserDevices
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: userName
          in: path
          description: user unique Name
          required: true
          schema:
            type: string
        - name: $filter
          in: query
          description: The filter to apply on the operation.
          required: false
          schema:
            type: string
        - name: $top
          in: query
          required: false
          schema:
            format: int32
            type: integer
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: devices as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices/{deviceName}?api-version=2015-01-14-preview:
    get:
      description: Get a unique device for a user.
      operationId: GetMAMUserDeviceByDeviceName
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: userName
          in: path
          description: unique user name
          required: true
          schema:
            type: string
        - name: deviceName
          in: path
          description: device name
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Device entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices/{deviceName}/wipe?api-version=2015-01-14-preview:
    post:
      description: Wipe a device for a user.
      operationId: WipeMAMUserDevice
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: userName
          in: path
          description: unique user name
          required: true
          schema:
            type: string
        - name: deviceName
          in: path
          description: device name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Wipe operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WipeDeviceOperationResult'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /providers/Microsoft.Intune/locations/{hostName}/operationResults?api-version=2015-01-14-preview:
    get:
      description: Returns operationResults.
      operationId: GetOperationResults
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: $filter
          in: query
          description: The filter to apply on the operation.
          required: false
          schema:
            type: string
        - name: $top
          in: query
          required: false
          schema:
            format: int32
            type: integer
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: applications as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/statuses/default?api-version=2015-01-14-preview:
    get:
      description: Returns Intune Tenant level statuses.
      operationId: GetMAMStatuses
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
      responses:
        '200':
          description: applications as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusesDefault'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/flaggedUsers?api-version=2015-01-14-preview:
    get:
      description: Returns Intune flagged user collection
      operationId: GetMAMFlaggedUsers
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: $filter
          in: query
          description: The filter to apply on the operation.
          required: false
          schema:
            type: string
        - name: $top
          in: query
          required: false
          schema:
            format: int32
            type: integer
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Flagged users as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlaggedUserCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/flaggedUsers/{userName}?api-version=2015-01-14-preview:
    get:
      description: Returns Intune flagged user details
      operationId: GetMAMFlaggedUserByName
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: userName
          in: path
          description: Flagged userName
          required: true
          schema:
            type: string
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Flagged user details in response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlaggedUser'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /providers/Microsoft.Intune/locations/{hostName}/flaggedUsers/{userName}/flaggedEnrolledApps?api-version=2015-01-14-preview:
    get:
      description: Returns Intune flagged enrolled app collection for the User
      operationId: GetMAMUserFlaggedEnrolledApps
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: userName
          in: path
          description: User name for the tenant
          required: true
          schema:
            type: string
        - name: $filter
          in: query
          description: The filter to apply on the operation.
          required: false
          schema:
            type: string
        - name: $top
          in: query
          required: false
          schema:
            format: int32
            type: integer
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Flagged enrolled Apps as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlaggedEnrolledAppCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
