openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  version: '2015-11-01'
  title: SubscriptionClient
  description: The User Subscription Management Client.
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Resource:
      description: Base Resource Object
      type: object
      properties:
        id:
          readOnly: true
          description: URI of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of resource.
          type: string
        location:
          description: Location of the resource
          type: string
        tags:
          readOnly: true
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    Subscription:
      description: List of supported operations.
      type: object
      properties:
        displayName:
          description: Subscription name.
          type: string
        id:
          description: Fully qualified identifier.
          type: string
        offerId:
          description: Identifier of the offer under the scope of a delegated provider.
          type: string
        state:
          description: Subscription state.
          $ref: '#/components/schemas/SubscriptionState'
        subscriptionId:
          description: Subscription identifier.
          type: string
        tenantId:
          description: Directory tenant identifier.
          type: string
    SubscriptionList:
      description: List of subscriptions.
      properties:
        value:
          type: array
          description: Subscription definition.
          items:
            $ref: '#/components/schemas/Subscription'
        nextLink:
          description: URI to the next page.
          type: string
    SubscriptionState:
      description: Subscription notification state.
      type: string
      enum:
        - NotDefined
        - Enabled
        - Warned
        - PastDue
        - Disabled
        - Deleted
      x-ms-enum:
        name: SubscriptionState
        modelAsString: true
    Offer:
      description: Represents an offering of services against which a subscription can be created.
      type: object
      properties:
        displayName:
          description: Display name of offer.
          type: string
        description:
          description: Description of offer.
          type: string
        name:
          description: The name of the offer.
          type: string
        id:
          description: The offer ID
          type: string
    OfferList:
      description: List of public offers.
      type: object
      properties:
        value:
          description: List of public offers.
          type: array
          items:
            $ref: '#/components/schemas/Offer'
        nextLink:
          type: string
          description: URI to next page.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        default: '2015-11-01'
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Id of the subscription.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
paths:
  /subscriptions:
    x-api-version: '2015-11-01'
    get:
      description: Get the list of subscriptions.
      tags:
        - Subscriptions
      operationId: Subscriptions_List
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionList'
      x-ms-pageable:
        nextLinkName: null
  /subscriptions/{subscriptionId}:
    x-api-version: '2015-11-01'
    get:
      tags:
        - Subscriptions
      operationId: Subscriptions_Get
      description: Gets details about particular subscription.
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
    put:
      description: Create or updates a subscription.
      tags:
        - Subscriptions
      operationId: Subscriptions_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: Subscription parameter.
        required: true
        x-ms-requestBody-name: subscriptionDefinition
        x-ms-parameter-location: method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subscription'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
    delete:
      description: Delete the specified subscription.
      tags:
        - Subscriptions
      operationId: Subscriptions_Delete
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
  /delegatedProviders/{delegatedProviderId}/offers:
    x-api-version: '2015-11-01'
    get:
      description: Get the list of offers for the specified delegated provider.
      tags:
        - DelegatedProviderOffers
      operationId: DelegatedProviderOffers_List
      parameters:
        - name: delegatedProviderId
          in: path
          description: Id of the delegated provider.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferList'
      x-ms-pageable:
        nextLinkName: nextLink
  /delegatedProviders/{delegatedProviderId}/offers/{offerName}:
    x-api-version: '2015-11-01'
    get:
      description: Get the specified offer for the delegated provider.
      tags:
        - DelegatedProviderOffers
      operationId: DelegatedProviderOffers_Get
      parameters:
        - name: delegatedProviderId
          in: path
          description: Id of the delegated provider.
          required: true
          schema:
            type: string
        - name: offerName
          in: path
          description: Name of the offer.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
  /offers:
    x-api-version: '2015-11-01'
    get:
      description: Get the list of public offers for the root provider.
      tags:
        - Offers
      operationId: Offers_List
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferList'
      x-ms-pageable:
        nextLinkName: nextLink
