openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  version: '2015-11-01'
  title: SubscriptionsManagementClient
  description: The Admin Subscriptions Management Client.
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Offer:
      description: Represents an offering of services against which a subscription can be created.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          description: Represents an offering of services against which a subscription can be created.
          $ref: '#/components/schemas/OfferProperties'
      allOf:
        - $ref: '#/components/schemas/Resource'
    OfferProperties:
      description: Represents an offering of services against which a subscription can be created.
      type: object
      properties:
        name:
          description: Name of the Offer.
          type: string
        displayName:
          description: Display name of offer.
          type: string
        description:
          description: Description of offer.
          type: string
        externalReferenceId:
          description: External reference identifier.
          type: string
        state:
          description: Offer accessibility state.
          $ref: '#/components/schemas/AccessibilityState'
        subscriptionCount:
          description: Current subscription count.
          type: integer
          format: int32
        maxSubscriptionsPerAccount:
          description: Maximum subscriptions per account.
          type: integer
          format: int32
        basePlanIds:
          description: Identifiers of the base plans that become available to the tenant immediately when a tenant subscribes to the offer.
          type: array
          items:
            type: string
        addonPlans:
          description: References to add-on plans that a tenant can optionally acquire as a part of the offer.
          type: array
          items:
            $ref: '#/components/schemas/AddonPlanDefinition'
          x-ms-identifiers:
            - planId
    AccessibilityState:
      type: string
      description: Represents the state of the offer
      enum:
        - Private
        - Public
        - Decommissioned
      x-ms-enum:
        name: AccessibilityState
        modelAsString: true
        values:
          - description: The offer or plan is private. Only an Admin can see and manage it.
            name: Private
            value: Private
          - description: The offer or plan is public. Users can see and self-subscribe to it.
            name: Public
            value: Public
          - description: The offer or plan is decommissioned. Current subscriptions can still consume it but new subscriptions cannot.
            name: Decommissioned
            value: Decommissioned
    AddonPlanDefinition:
      description: Contains the name of the desired plan to be linked or unlinked from an offer.
      type: object
      properties:
        planId:
          description: Plan identifier.
          type: string
        maxAcquisitionCount:
          description: Maximum number of instances that can be acquired by a single subscription. If not specified, the assumed value is 1.
          type: integer
          format: int32
    OfferList:
      description: List of offers.
      type: object
      properties:
        value:
          description: List of offers.
          type: array
          items:
            $ref: '#/components/schemas/Offer'
        nextLink:
          type: string
          description: URI to next page.
    PlanLinkDefinition:
      description: Definition for linking and unlinking plans to offers.
      type: object
      properties:
        planName:
          description: Name of the plan.
          type: string
        planLinkType:
          description: Type of the plan link.
          $ref: '#/components/schemas/PlanLinkType'
        maxAcquisitionCount:
          description: The maximum acquisition count by subscribers
          type: integer
          format: int32
    PlanLinkType:
      description: Plan link type.
      type: string
      enum:
        - None
        - Base
        - Addon
      x-ms-enum:
        name: PlanLinkType
        modelAsString: true
    OfferDelegation:
      description: Offer delegation.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          description: Properties for an offer.
          $ref: '#/components/schemas/OfferDelegationProperties'
      allOf:
        - $ref: '#/components/schemas/Resource'
    OfferDelegationProperties:
      description: Properties for an offer delegation.
      type: object
      properties:
        subscriptionId:
          description: Identifier of the subscription receiving the delegated offer.
          type: string
    OfferDelegationList:
      description: .
      properties:
        value:
          description: Array of usage aggregates.
          type: array
          items:
            $ref: '#/components/schemas/OfferDelegation'
        nextLink:
          type: string
          description: Continuation token
    DelegatedProviderOffer:
      description: The delegated provider offer.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          description: Properties for an delegated provider.
          $ref: '#/components/schemas/DelegatedProviderOfferProperties'
      allOf:
        - $ref: '#/components/schemas/Resource'
    DelegatedProviderOfferProperties:
      description: Properties for an delegated provider.
      type: object
      properties:
        delegatedOfferId:
          description: The delegated offer identifier.
          type: string
        displayName:
          description: Display name of offer.
          type: string
        description:
          description: Description of offer.
          type: string
        externalReferenceId:
          description: External reference identifier.
          type: string
        accessibilityState:
          description: Offer accessibility state.
          $ref: '#/components/schemas/AccessibilityState'
        subscriptionCount:
          description: Current subscription count.
          type: integer
          format: int32
    DelegatedProviderOfferList:
      description: List of delegated provider offers.
      properties:
        value:
          description: Array of delegated provider offers.
          type: array
          items:
            $ref: '#/components/schemas/DelegatedProviderOffer'
        nextLink:
          type: string
          description: Continuation token
    DirectoryTenant:
      description: Directory tenant.
      type: object
      properties:
        properties:
          description: Directory tenant.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/DirectoryTenantProperties'
      allOf:
        - $ref: '#/components/schemas/Resource'
    DirectoryTenantProperties:
      description: Directory tenant.
      type: object
      properties:
        tenantId:
          description: Tenant unique identifier.
          type: string
    DirectoryTenantList:
      description: List of directory tenants.
      type: object
      properties:
        value:
          description: List of directory tenants.
          type: array
          items:
            $ref: '#/components/schemas/DirectoryTenant'
        nextLink:
          type: string
          description: Continuation token
    Plan:
      description: A plan represents a package of quotas and capabilities that are offered tenants. A tenant can acquire this plan through an offer to upgrade his access to underlying cloud services.
      type: object
      properties:
        properties:
          description: Properties of a plan.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PlanProperties'
      allOf:
        - $ref: '#/components/schemas/Resource'
    PlanProperties:
      description: Properties of a plan.
      type: object
      properties:
        description:
          description: Description of the plan.
          type: string
        displayName:
          description: Display name.
          type: string
        externalReferenceId:
          description: External reference identifier.
          type: string
        quotaIds:
          description: Quota identifiers under the plan.
          type: array
          items:
            type: string
        name:
          description: Name of the plan.
          type: string
        subscriptionCount:
          description: Subscription count.
          type: integer
          format: int32
        skuIds:
          description: SKU identifiers.
          type: array
          items:
            type: string
    PlanList:
      description: List of plans
      properties:
        value:
          description: Array of plans.
          type: array
          items:
            $ref: '#/components/schemas/Plan'
        nextLink:
          type: string
          description: Continuation token
    Quota:
      description: Quotas for DelegatedProviders.
      type: object
      properties:
        properties:
          description: Quotas for DelegatedProviders.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/QuotaProperties'
      allOf:
        - $ref: '#/components/schemas/Resource'
    QuotaProperties:
      description: Quotas for DelegatedProviders.
      type: object
      properties:
        allowCustomPortalBranding:
          description: Value indicating whether custom portal branding is allowed.
          type: boolean
    QuotaList:
      description: List of quotas.
      properties:
        value:
          description: List of quotas.
          type: array
          items:
            $ref: '#/components/schemas/Quota'
        nextLink:
          type: string
          description: URI to next page.
    PlanAcquisition:
      description: Represents the acquisition of an add-on plan for a subscription.
      type: object
      properties:
        acquisitionId:
          description: Acquisition identifier.
          type: string
        id:
          description: Identifier in the tenant subscription context.
          type: string
        planId:
          description: Plan identifier in the tenant subscription context.
          type: string
        externalReferenceId:
          description: External reference identifier.
          type: string
        provisioningState:
          description: State of the provisioning.
          $ref: '#/components/schemas/ProvisioningState'
        acquisitionTime:
          description: Acquisition time.
          type: string
          format: date-time
    ProvisioningState:
      description: Provisioning state for subscriptions service resources, for example, resource provider registration.
      type: string
      enum:
        - NotSpecified
        - Accepted
        - Failed
        - Succeeded
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
          - description: The provisioning state is not specified.
            name: NotSpecified
            value: NotSpecified
          - description: The provisioning state is accepted, and indicates provisioning is ongoing.
            name: Accepted
            value: Accepted
          - description: The provisioning state is failed, and indicates the data is potentially out-of-sync with third parties.
            name: Failed
            value: Failed
          - description: The provisioning state is succeeded, and indicates the data is in-sync with third-parties.
            name: Succeeded
            value: Succeeded
    PlanAcquisitionList:
      description: List of acquired plans.
      properties:
        value:
          description: List of acquired plans.
          type: array
          items:
            $ref: '#/components/schemas/PlanAcquisition'
        nextLink:
          type: string
          description: URI to the next page.
    Manifest:
      description: The manifest.
      type: object
      properties:
        name:
          description: The unique identifier of the registration.
          type: string
        displayName:
          description: The display name.
          type: string
        resourceTags:
          description: The resource tags.
          type: object
        namespace:
          description: The namespace.
          type: string
        providerLocation:
          description: The location of the provider.
          type: string
        providerType:
          description: The type of the provider.
          $ref: '#/components/schemas/ResourceProviderType'
        enabled:
          description: A value indicating whether this resource provider is enabled.
          type: boolean
        extensionCollection:
          description: The extensions.
          $ref: '#/components/schemas/ExtensionCollectionDefinition'
        resourceTypes:
          description: The resource types
          $ref: '#/components/schemas/ResourceTypeList'
        providerAuthorization:
          description: The resource provider authorization.
          $ref: '#/components/schemas/ResourceProviderAuthorization'
        resourceHydrationAccounts:
          description: The resource hydration accounts.
          $ref: '#/components/schemas/AzureResourceHydrationAccountList'
        linkedNotificationRules:
          description: The linked notification rules.
          $ref: '#/components/schemas/FanoutLinkedNotificationRuleList'
        provisioningState:
          description: The provisioning state.
          $ref: '#/components/schemas/ManifestProvisioningState'
        resourceGroupName:
          description: The name of the resource group.
          type: string
        resourceLocation:
          description: The location of the resource.
          type: string
        subscriptionId:
          description: The subscription ID under which RP is registered.
          type: string
        alwaysRoutable:
          description: A value indicating whether the manifest is always routable by all subscriptions.
          type: boolean
        routingResourceManagerType:
          description: The routing resource manager type.
          $ref: '#/components/schemas/ResourceManagerType'
        metadata:
          description: The metadata.
          type: object
    ManifestList:
      description: List of manifests.
      properties:
        value:
          description: List of manifests.
          type: array
          items:
            $ref: '#/components/schemas/Manifest'
          x-ms-identifiers:
            - name
        nextLink:
          description: URI to next page.
          type: string
    ResourceProviderType:
      description: The resource provider type.
      type: string
      enum:
        - NotSpecified
        - Internal
        - External
        - RegistrationFree
        - TenantOnly
        - AlwaysRoutable
      x-ms-enum:
        name: ResourceProviderType
        modelAsString: true
        values:
          - description: The resource provider type is not specified.
            name: NotSpecified
            value: NotSpecified
          - description: The resource provider type is internal.
            name: Internal
            value: Internal
          - description: The resource provider type is external. This is used for 3rd party resource providers.
            name: External
            value: External
          - description: The resource provider doesn't require subscription registrations.
            name: RegistrationFree
            value: RegistrationFree
          - description: The resource provider operates only at tenant level.
            name: TenantOnly
            value: TenantOnly
          - description: The resource provider can always be routed to without explicit access via plan.
            name: AlwaysRoutable
            value: AlwaysRoutable
    ExtensionCollectionDefinition:
      description: The manifest extension collection definition.
      type: object
      properties:
        version:
          description: The version of the format a.b[.c[.d]]. see System.Version documentation for more details.
          type: string
        extensions:
          description: The extensions.
          $ref: '#/components/schemas/ExtensionList'
    ExtensionList:
      description: List of the extensions.
      properties:
        value:
          description: List of the extensions.
          type: array
          items:
            $ref: '#/components/schemas/ExtensionDefinition'
          x-ms-identifiers:
            - name
        nextLink:
          description: URI to next page.
          type: string
    ExtensionDefinition:
      description: The data contract for specifying extensions in resource provider manifests.
      type: object
      properties:
        name:
          description: The name.
          type: string
        uri:
          description: The Uri
          type: string
        properties:
          description: The extension properties.
          $ref: '#/components/schemas/ExtensionPropertiesDefinition'
        obsoleteBundlesBitmask:
          description: The obsolete bundles bitmask.
          type: integer
          format: int32
        resourceAccess:
          description: The resource access.
          $ref: '#/components/schemas/ResourceAccessList'
    ExtensionPropertiesDefinition:
      description: The extension properties definition.
      type: object
      properties:
        quotaCreateBladeName:
          description: The quota create blade.
          type: string
        resourceProviderDashboardBladeName:
          description: The resource provider dashboard blade.
          type: string
    ResourceAccessList:
      description: List of the resource access.
      properties:
        value:
          description: List of the resource access.
          type: array
          items:
            $ref: '#/components/schemas/ResourceAccess'
          x-ms-identifiers:
            - name
        nextLink:
          description: URI to next page.
          type: string
    ResourceAccess:
      description: Extension Client Access Section.
      type: object
      properties:
        name:
          description: The name.
          type: string
        resource:
          description: The resource.
          type: string
    ResourceTypeList:
      description: List of the resource types.
      properties:
        value:
          description: List of the resource types.
          type: array
          items:
            $ref: '#/components/schemas/ResourceType'
          x-ms-identifiers:
            - name
        nextLink:
          description: URI to next page.
          type: string
    ResourceType:
      description: The resource type definition.
      type: object
      properties:
        name:
          description: The name.
          type: string
        routingType:
          description: The resource routing type.
          $ref: '#/components/schemas/RoutingType'
        resourceDeletionPolicy:
          description: The resource deletion policy.
          $ref: '#/components/schemas/ResourceDeletionPolicy'
        allowedUnauthorizedActions:
          description: The allowed unauthorized actions.
          type: array
          items:
            type: string
        authorizationActionMappings:
          description: The read-only actions.
          $ref: '#/components/schemas/AuthorizationActionMappingList'
        linkedAccessChecks:
          description: The linked access checks.
          $ref: '#/components/schemas/LinkedAccessCheckList'
        linkedNotificationRules:
          description: The linked notification rules.
          $ref: '#/components/schemas/LinkedNotificationRuleList'
        linkedOperationRules:
          description: The linked operation rules.
          $ref: '#/components/schemas/LinkedOperationRuleList'
        apiProfiles:
          description: The API profiles.
          $ref: '#/components/schemas/ApiProfileList'
        endpoints:
          description: The resource provider endpoints.
          $ref: '#/components/schemas/ResourceProviderEndpointList'
        marketplaceType:
          description: The resource type behavior in the marketplace.
          $ref: '#/components/schemas/MarketplaceType'
        inGlobalLocation:
          description: A value indicating whether the resource type is in global location.
          type: boolean
        meteredResourceIds:
          description: The metered resource ids.
          type: array
          items:
            type: string
    RoutingType:
      description: The resource routing type.
      type: string
      enum:
        - Default
        - ProxyOnly
        - HostBased
        - Extension
        - Tenant
        - Fanout
        - LocationBased
      x-ms-enum:
        name: RoutingType
        modelAsString: true
        values:
          - description: The resource routing type is default.
            name: Default
            value: Default
          - description: The resource routing type is proxy only.
            name: ProxyOnly
            value: ProxyOnly
          - description: The resource routing type is host based.
            name: HostBased
            value: HostBased
          - description: The resource routing type is extension.
            name: Extension
            value: Extension
          - description: The resource routing type is tenant.
            name: Tenant
            value: Tenant
          - description: The resource routing type is fan out.
            name: Fanout
            value: Fanout
          - description: The resource routing type is Location based.
            name: LocationBased
            value: LocationBased
    ResourceDeletionPolicy:
      description: The resource deletion policy.
      type: string
      enum:
        - NotSpecified
        - Cascade
      x-ms-enum:
        name: ResourceDeletionPolicy
        modelAsString: true
        values:
          - description: The resource deletion policy is not specified.
            name: NotSpecified
            value: NotSpecified
          - description: The resource deletion policy is cascade.
            name: Cascade
            value: Cascade
    AuthorizationActionMappingList:
      description: List of the read-only actions.
      properties:
        value:
          description: List of the read-only actions.
          type: array
          items:
            $ref: '#/components/schemas/AuthorizationActionMapping'
          x-ms-identifiers: []
        nextLink:
          description: URI to next page.
          type: string
    AuthorizationActionMapping:
      description: The linked resource access checks.
      properties:
        original:
          description: The original action name.
          type: string
        desired:
          description: The desired action name.
          type: string
    LinkedAccessCheckList:
      description: List of the linked access checks.
      properties:
        value:
          description: List of the linked access checks.
          type: array
          items:
            $ref: '#/components/schemas/LinkedAccessCheck'
          x-ms-identifiers:
            - actionName
            - linkedType
        nextLink:
          description: URI to next page.
          type: string
    LinkedAccessCheck:
      description: The linked resource access checks.
      properties:
        actionName:
          description: The action name.
          type: string
        linkedProperty:
          description: The linked property.
          type: string
        linkedAction:
          description: The linked action.
          type: string
        linkedActionVerb:
          description: The linked action verb.
          type: string
        linkedType:
          description: The linked type.
          type: string
    LinkedNotificationRuleList:
      description: List of the linked notification rules.
      properties:
        value:
          description: List of the linked notification rules.
          type: array
          items:
            $ref: '#/components/schemas/LinkedNotificationRule'
          x-ms-identifiers: []
        nextLink:
          description: URI to next page.
          type: string
    LinkedNotificationRule:
      description: The linked notification rule.
      properties:
        actions:
          description: List of actions.
          type: array
          items:
            type: string
    LinkedOperationRuleList:
      description: List of the linked operation rules.
      properties:
        value:
          description: List of the linked operation rules.
          type: array
          items:
            $ref: '#/components/schemas/LinkedOperationRule'
          x-ms-identifiers: []
        nextLink:
          description: URI to next page.
          type: string
    LinkedOperationRule:
      description: The linked resource access checks.
      properties:
        linkedOperation:
          description: The linked operation.
          $ref: '#/components/schemas/LinkedOperation'
        linkedAction:
          description: The linked action.
          $ref: '#/components/schemas/LinkedAction'
        dependsOnTypes:
          description: The list of resource types this rule depends on.
          type: array
          items:
            type: string
    LinkedOperation:
      description: The linked operation.
      type: string
      enum:
        - None
        - CrossResourceGroupResourceMove
        - CrossSubscriptionResourceMove
      x-ms-enum:
        name: LinkedOperation
        modelAsString: true
        values:
          - description: The operation is none.
            name: None
            value: None
          - description: Move resources between resource groups within the same subscription.
            name: CrossResourceGroupResourceMove
            value: CrossResourceGroupResourceMove
          - description: Move resources across subscriptions.
            name: CrossSubscriptionResourceMove
            value: CrossSubscriptionResourceMove
    LinkedAction:
      description: The resource type linked action.
      type: string
      enum:
        - NotSpecified
        - Blocked
        - Validate
        - Enabled
      x-ms-enum:
        name: LinkedAction
        modelAsString: true
        values:
          - description: The action is not specified.
            name: NotSpecified
            value: NotSpecified
          - description: The operation is blocked.
            name: Blocked
            value: Blocked
          - description: The operation must be validated.
            name: Validate
            value: Validate
          - description: The operation must be Enabled.
            name: Enabled
            value: Enabled
    ApiProfileList:
      description: List of the API profiles.
      properties:
        value:
          description: List of the API profiles.
          type: array
          items:
            $ref: '#/components/schemas/ApiProfile'
          x-ms-identifiers:
            - apiVersion
            - profileVersion
        nextLink:
          description: URI to next page.
          type: string
    ApiProfile:
      description: Represents the API profile.
      properties:
        profileVersion:
          description: The profile version.
          type: string
        apiVersion:
          description: The API version.
          type: string
    ResourceProviderEndpointList:
      description: List of the resource provider endpoints.
      properties:
        value:
          description: List of the resource provider endpoints.
          type: array
          items:
            $ref: '#/components/schemas/ResourceProviderEndpoint'
          x-ms-identifiers:
            - endpointUri
        nextLink:
          description: URI to next page.
          type: string
    ResourceProviderEndpoint:
      description: The API versions supported by the endpoint.
      properties:
        apiVersions:
          description: The API versions supported by the endpoint.
          type: array
          items:
            type: string
        enabled:
          description: The enabled.
          type: boolean
        endpointUri:
          description: The endpoint uri.
          type: string
        timeout:
          description: The timeout.
          type: string
    MarketplaceType:
      description: The type of marketplace behavior for the resource type.
      type: string
      enum:
        - NotSpecified
        - AddOn
      x-ms-enum:
        name: MarketplaceType
        modelAsString: true
        values:
          - description: The marketplace type is not specified.
            name: NotSpecified
            value: NotSpecified
          - description: The marketplace offer is an add-on to a resource.
            name: AddOn
            value: AddOn
    ResourceProviderAuthorization:
      description: The resource provider authorization information.
      properties:
        applicationId:
          description: The application id of resource provider in AAD.
          type: string
        roleDefinitionId:
          description: The role definition identifier against which a role assignment is created.
          type: string
    AzureResourceHydrationAccountList:
      description: List of the resource hydration accounts.
      properties:
        value:
          description: List of the resource hydration accounts.
          type: array
          items:
            $ref: '#/components/schemas/AzureResourceHydrationAccount'
          x-ms-identifiers:
            - accountName
        nextLink:
          description: URI to next page.
          type: string
    AzureResourceHydrationAccount:
      description: The API versions supported by the endpoint.
      properties:
        subscriptionId:
          description: The subscription identifier.
          type: string
        accountName:
          description: The account name.
          type: string
        encryptedKey:
          description: The encrypted key.
          type: string
        maxChildResourceConsistencyJobLimit:
          description: The next child resource consistency job limit.
          type: integer
          format: int32
    FanoutLinkedNotificationRuleList:
      description: List of the linked notification rules.
      properties:
        value:
          description: List of the linked notification rules.
          type: array
          items:
            $ref: '#/components/schemas/FanoutLinkedNotificationRule'
          x-ms-identifiers: []
        nextLink:
          description: URI to next page.
          type: string
    FanoutLinkedNotificationRule:
      description: The fan-out linked notification rule.
      properties:
        actions:
          description: The list of actions.
          type: array
          items:
            type: string
        endpoints:
          description: The list of endpoint uris.
          $ref: '#/components/schemas/ResourceProviderEndpointList'
    ManifestProvisioningState:
      description: The provisioning state.
      type: string
      enum:
        - Accepted
        - Creating
        - Deleting
        - Moving
        - Failed
        - Succeeded
      x-ms-enum:
        name: ManifestProvisioningState
        modelAsString: true
        values:
          - description: The accepted provisioning state.
            name: Accepted
            value: Accepted
          - description: The creating provisioning state.
            name: Creating
            value: Creating
          - description: The deleting provisioning state.
            name: Deleting
            value: Deleting
          - description: The moving provisioning state.
            name: Moving
            value: Moving
          - description: The failed provisioning state.
            name: Failed
            value: Failed
          - description: The succeeded provisioning state.
            name: Succeeded
            value: Succeeded
    Resource:
      description: Base Resource Object
      type: object
      properties:
        id:
          readOnly: true
          description: URI of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of resource.
          type: string
        location:
          description: Location of the resource
          type: string
        tags:
          readOnly: true
          description: List of key-value pairs.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
    Error:
      type: object
      description: Error response.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinition'
          description: The error details.
    ErrorDefinition:
      type: object
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            $ref: '#/components/schemas/ErrorDefinition'
          x-ms-identifiers: []
          readOnly: true
    Display:
      description: Contains the localized display information for this particular operation / action.
      properties:
        provider:
          description: The localized friendly form of the resource provider name – it is expected to also include the publisher/company responsible. It should use Title Casing and begin with "Microsoft" for 1st party services. e.g. "Microsoft Monitoring Insights" or "Microsoft Compute."
          type: string
          readOnly: true
        resource:
          description: The localized, friendly version of the resource type related to this action or operation; the resource type should match the public documentation for the resource provider.
          type: string
          readOnly: true
        operation:
          description: The localized, friendly name for the operation. Use the name as it will displayed to the user.
          type: string
          readOnly: true
        description:
          description: The localized, friendly description for the operation. The description will be displayed to the user. It should be thorough and concise for used in both tooltips and detailed views.
          type: string
          readOnly: true
    Operation:
      description: Supported REST operation.
      type: object
      properties:
        display:
          description: Display information for the operation.
          $ref: '#/components/schemas/Display'
          readOnly: true
        isDataAction:
          description: Whether the operation applies to data-plane. This is "true" for data-plane operations and "false" for ARM/control-plane operations.
          type: boolean
          readOnly: true
        name:
          description: Name of the operation being performed on an object.
          type: string
          readOnly: true
        origin:
          description: Origin for the operation.
          type: string
          readOnly: true
    OperationList:
      description: List of supported operations.
      type: object
      properties:
        value:
          description: List of supported operations.
          type: array
          items:
            $ref: '#/components/schemas/Operation'
          x-ms-identifiers:
            - name
    CheckNameAvailabilityDefinition:
      description: The check name availability action definition.
      type: object
      properties:
        name:
          description: The resource name to verify.
          type: string
        resourceType:
          description: The resource type to verify.
          type: string
    CheckNameAvailabilityResponse:
      description: The check name availability response definition
      type: object
      properties:
        nameAvailable:
          description: A value indicating whether the name is available.
          type: boolean
        reason:
          description: The reason for the unavailability of the name.
          $ref: '#/components/schemas/NameUnavailabilityReason'
        message:
          description: The message explaining the reason.
          type: string
    IdentityHealthCheckReportDefinition:
      description: The identity health check report action definition.
      type: object
      properties:
        reportStartTimeUtc:
          description: Start time of the report.
          type: string
          format: date-time
        reportEndTimeUtc:
          description: End time of the report.
          type: string
          format: date-time
        status:
          description: The roll-up health status for the directory.
          $ref: '#/components/schemas/HealthStatus'
        directoryTenants:
          description: List of directory tenant health reports.
          $ref: '#/components/schemas/DirectoryTenantHealthReportList'
    DirectoryTenantHealthReportList:
      description: List of directory tenant health reports.
      properties:
        value:
          type: array
          description: Directory tenant health report.
          items:
            $ref: '#/components/schemas/DirectoryTenantHealthReport'
          x-ms-identifiers:
            - tenantId
        nextLink:
          description: URI to the next page.
          type: string
    DirectoryTenantHealthReport:
      description: A report of the health status of a directory tenant and identity applications within.
      type: object
      properties:
        tenantId:
          description: The tenant unique identifier.
          type: string
        tenantName:
          description: The directory tenant resource name.
          type: string
        status:
          description: The roll-up health status for the directory.
          $ref: '#/components/schemas/HealthStatus'
        applications:
          description: List of the application health reports.
          $ref: '#/components/schemas/ApplicationHealthReportList'
    ApplicationHealthReportList:
      description: List of the application health reports.
      properties:
        value:
          type: array
          description: A report of the health status of an identity applications.
          items:
            $ref: '#/components/schemas/ApplicationHealthReport'
          x-ms-identifiers: []
        nextLink:
          description: URI to the next page.
          type: string
    ApplicationHealthReport:
      description: A report of the health status of an identity applications.
      type: object
      properties:
        appId:
          description: The application identifier.
          type: string
        servicePrincipalObjectId:
          description: The service principal identifier.
          type: string
        status:
          description: The roll-up health status for the application
          $ref: '#/components/schemas/HealthStatus'
        appRoleAssignments:
          description: List of AppRoleAssignment health reports for the application.
          $ref: '#/components/schemas/AppRoleAssignmentHealthReportList'
        oAuth2PermissionGrants:
          description: List of OAuth2PermissionGrant health reports for the application.
          $ref: '#/components/schemas/OAuth2PermissionGrantHealthReportList'
        servicePrincipalTags:
          description: List of ServicePrincipalTag health reports for the application.
          $ref: '#/components/schemas/ServicePrincipalTagHealthReportList'
    AppRoleAssignmentHealthReportList:
      description: List of AppRoleAssignment health reports for the application.
      properties:
        value:
          type: array
          description: A report of the health status of an AppRoleAssignment.
          items:
            $ref: '#/components/schemas/AppRoleAssignmentHealthReport'
          x-ms-identifiers:
            - appRoleAssignment/resource
        nextLink:
          description: URI to the next page.
          type: string
    AppRoleAssignmentHealthReport:
      description: A report of the health status of an AppRoleAssignment.
      type: object
      properties:
        appRoleAssignment:
          description: The permission description.
          $ref: '#/components/schemas/AppRoleAssignmentDefinition'
        status:
          description: The health status for the permission.
          $ref: '#/components/schemas/HealthStatus'
    AppRoleAssignmentDefinition:
      description: Application role assignment definition.
      type: object
      properties:
        resource:
          description: The resource identifier. This should be the application identifier of the resource application.
          type: string
        client:
          description: The client identifier. This should be the application identifier of the client application.
          type: string
        roleId:
          description: The role identifier. This should be the ID of the AppRole exposed by the resource application.
          type: string
    OAuth2PermissionGrantHealthReportList:
      description: List of OAuth2PermissionGrant health reports for the application.
      properties:
        value:
          type: array
          description: A report of the health status of an OAuth2PermissionGrant.
          items:
            $ref: '#/components/schemas/OAuth2PermissionGrantHealthReport'
          x-ms-identifiers:
            - oAuth2PermissionGrant/resource
        nextLink:
          description: URI to the next page.
          type: string
    OAuth2PermissionGrantHealthReport:
      description: A report of the health status of an OAuth2PermissionGrant.
      type: object
      properties:
        oAuth2PermissionGrant:
          description: The permission description.
          $ref: '#/components/schemas/OAuth2PermissionGrantDefinition'
        status:
          description: The health status for the permission.
          $ref: '#/components/schemas/HealthStatus'
    OAuth2PermissionGrantDefinition:
      description: Application permission grant definition.
      type: object
      properties:
        resource:
          description: The resource identifier. This should be the application identifier of the resource application.
          type: string
        client:
          description: The client identifier. This should be the application identifier of the client application.
          type: string
        scope:
          description: The scope identifier. This should be the scope value of the OAUTH2PERMISSION exposed by the resource application.
          type: string
    ServicePrincipalTagHealthReportList:
      description: List of ServicePrincipalTag health reports for the application.
      properties:
        value:
          type: array
          description: A report of the health status of a tag on an identity application service principal.
          items:
            $ref: '#/components/schemas/ServicePrincipalTagHealthReport'
          x-ms-identifiers:
            - servicePrincipalTag
        nextLink:
          description: URI to the next page.
          type: string
    ServicePrincipalTagHealthReport:
      description: A report of the health status of a tag on an identity application service principal.
      type: object
      properties:
        servicePrincipalTag:
          description: The tag.
          type: string
        status:
          description: The health status for the tag.
          $ref: '#/components/schemas/HealthStatus'
    NameUnavailabilityReason:
      description: The reason that the name is not available.
      type: string
      enum:
        - Invalid
        - AlreadyExists
      x-ms-enum:
        name: NameUnavailabilityReason
        modelAsString: true
    MoveSubscriptionsDefinition:
      description: The move subscriptions action definition
      type: object
      required:
        - resources
      properties:
        targetDelegatedProviderOffer:
          description: The delegated provider offer identifier (from the Admin context) that the subscriptions to be moved to.
          type: string
        resources:
          description: A collection of subscriptions to move to the target delegated provider offer.
          type: array
          items:
            type: string
    SubscriptionDefinition:
      description: Subscription object properties.
      type: object
      properties:
        delegatedProviderSubscriptionId:
          description: Parent DelegatedProvider subscription identifier.
          type: string
        displayName:
          description: Subscription name.
          type: string
        id:
          description: Fully qualified identifier.
          type: string
        externalReferenceId:
          description: External reference identifier.
          type: string
        offerId:
          description: Identifier of the offer under the scope of a delegated provider.
          type: string
        owner:
          description: Subscription owner.
          type: string
        routingResourceManagerType:
          description: Routing resource manager type.
          $ref: '#/components/schemas/ResourceManagerType'
        state:
          description: Subscription state.
          $ref: '#/components/schemas/SubscriptionState'
        subscriptionId:
          description: Subscription identifier.
          type: string
        tenantId:
          description: Directory tenant identifier.
          type: string
      x-ms-azure-resource: true
    SubscriptionList:
      description: List of subscriptions.
      properties:
        value:
          type: array
          description: Subscription definition.
          items:
            $ref: '#/components/schemas/SubscriptionDefinition'
        nextLink:
          description: URI to the next page.
          type: string
    ResourceManagerType:
      description: Resource manager type.
      type: string
      enum:
        - Default
        - Admin
      x-ms-enum:
        name: ResourceManagerType
        modelAsString: true
    SubscriptionState:
      description: Subscription notification state.
      type: string
      enum:
        - NotDefined
        - Enabled
        - Warned
        - PastDue
        - Disabled
        - Deleted
        - Deleting
        - PartiallyDeleted
      x-ms-enum:
        name: SubscriptionState
        modelAsString: true
        values:
          - description: Subscription is active. New resources can be created.
            name: Enabled
            value: Enabled
          - description: This state is not used in Azure Stack.
            name: PastDue
            value: PastDue
          - description: This state is not used in Azure Stack.
            name: Warned
            value: Warned
          - description: Subscription is not active and usage is not reported. Resources are shut down (VMs stopped and deallocated, IP addresses are freed, etc). During this period, the Azure Stack Operator can re-enable the subscription which allows creation of new resources but doesn’t automatically restore disabled resources.
            name: Disabled
            value: Disabled
          - description: This state is unique to Azure Stack and is only visible to the Azure Stack Operator, and if used, to the respective Delegated Provider. Resources and Data are being deleted before subscription state is set to Deleted. This state cannot be reversed. It means that deletion is in progress.
            name: Deleting
            value: Deleting
          - description: Final state of subscription. All resources and data are deleted. This state cannot be reversed.
            name: Deleted
            value: Deleted
          - description: This state is not used in Azure Stack.
            name: NotDefined
            value: NotDefined
          - description: This state is unique to Azure Stack and is only visible to the Azure Stack Operator, and if used, to the respective Delegated Provider. It means that deletion failed.  You can’t reverse the deletion process, so in this state all you can do is restart deletion.  This state is not reported to RPs.
            name: PartiallyDeleted
            value: PartiallyDeleted
    HealthStatus:
      description: Health Status.
      type: string
      enum:
        - Unknown
        - Unhealthy
        - Healthy
      x-ms-enum:
        name: HealthStatus
        modelAsString: true
        values:
          - description: The health status is unknown.
            name: Unknown
            value: Unknown
          - description: The health status is unhealthy, indicating something is wrong or a sub-health status is Unhealthy or Unknown.
            name: Unhealthy
            value: Unhealthy
          - description: The health status is healthy, indicating nothing is wrong.
            name: Healthy
            value: Healthy
    Metric:
      description: The resource metric set that represents the metrics for a particular resource.
      type: object
      properties:
        metricUnit:
          description: Unit of metrics.
          $ref: '#/components/schemas/MetricUnit'
        timeGrain:
          description: Timespan of the metric.
          type: string
        startTime:
          description: Start time of the metric.
          type: string
          format: date-time
        endTime:
          description: End time of the metric.
          type: string
          format: date-time
        metricValues:
          description: Collected metric values in the timespan.
          $ref: '#/components/schemas/MetricValueList'
    MetricValue:
      description: Metric value
      type: object
      properties:
        timeStamp:
          description: Timestamp of when the metric value was collected.
          type: string
          format: date-time
        average:
          description: Average value for metric sample period.
          type: number
          format: double
        minimum:
          description: Minimum value for metric sample period.
          type: number
          format: double
        maximum:
          description: Maximum value for metric sample period.
          type: number
          format: double
        total:
          description: Total value for metric sample period.
          type: number
          format: double
        count:
          description: Number of measurements for metric sample period.
          type: integer
          format: int32
        properties:
          x-ms-client-name: extendedProperties
          description: Extended properties.
          type: object
          additionalProperties:
            type: string
    MetricValueList:
      description: List of metric values.
      type: array
      items:
        $ref: '#/components/schemas/MetricValue'
      x-ms-identifiers: []
    MetricDefinition:
      description: Metric Definition
      type: object
      properties:
        name:
          description: Metric definition name.
          type: string
        unit:
          description: Unit of metrics.
          $ref: '#/components/schemas/MetricUnit'
        primaryAggregationType:
          description: Type of the primary aggregation.
          $ref: '#/components/schemas/MetricPrimaryAggregationType'
        metricAvailabilities:
          description: Metric availabilities.
          $ref: '#/components/schemas/MetricAvailabilityList'
    MetricUnit:
      description: The resource metric unit.
      type: string
      enum:
        - Count
        - Bytes
        - Seconds
        - CountPerSecond
        - BytesPerSecond
      x-ms-enum:
        name: MetricUnit
        modelAsString: true
        values:
          - description: The count.
            name: Count
            value: Count
          - description: The bytes.
            name: Bytes
            value: Bytes
          - description: The seconds.
            name: Seconds
            value: Seconds
          - description: The count per second.
            name: CountPerSecond
            value: CountPerSecond
          - description: The bytes per second.
            name: BytesPerSecond
            value: BytesPerSecond
    MetricPrimaryAggregationType:
      description: The primary aggregation type for resource metric.
      type: string
      enum:
        - None
        - Average
        - Total
        - Minimum
        - Maximum
        - Last
      x-ms-enum:
        name: MetricPrimaryAggregationType
        modelAsString: true
        values:
          - description: No aggregation applied to resource.
            name: None
            value: None
          - description: The average aggregation type.
            name: Average
            value: Average
          - description: The total aggregation type.
            name: Total
            value: Total
          - description: The minimum aggregation type.
            name: Minimum
            value: Minimum
          - description: The maximum aggregation type.
            name: Maximum
            value: Maximum
          - description: The last aggregation type.
            name: Last
            value: Last
    MetricAvailability:
      description: Metric Definition
      type: object
      properties:
        timeGrain:
          description: The time grain. Metrics will be available for this time grain.
          type: string
        retention:
          description: the retention. Metrics may be queried for this interval.
          type: string
    MetricAvailabilityList:
      description: List of metric definitions.
      type: array
      items:
        $ref: '#/components/schemas/MetricAvailability'
      x-ms-identifiers: []
    MetricList:
      description: List of metrics.
      properties:
        value:
          description: List of metrics.
          type: array
          items:
            $ref: '#/components/schemas/Metric'
          x-ms-identifiers: []
        nextLink:
          type: string
          description: Continuation token
    MetricDefinitionList:
      description: List of metric definitions.
      properties:
        value:
          description: Array of metric definitions.
          type: array
          items:
            $ref: '#/components/schemas/MetricDefinition'
          x-ms-identifiers:
            - name
        nextLink:
          type: string
          description: Continuation token
    Location:
      description: Contains information about a geographical location where resource providers can be deployed.
      type: object
      properties:
        displayName:
          description: Display name of the location.
          type: string
        id:
          description: Location identifier.
          type: string
        latitude:
          description: Latitude of the location.
          type: string
        longitude:
          description: Longitude of the location.
          type: string
        name:
          description: Location name.
          type: string
    LocationList:
      description: List of locations.
      properties:
        value:
          description: List of locations.
          type: array
          items:
            $ref: '#/components/schemas/Location'
        nextLink:
          description: URI to next page.
          type: string
    OperationsStatus:
      description: A long running operation status.
      type: object
      properties:
        id:
          description: The operation status identifier.
          $ref: '#/components/schemas/OperationsStatusIdentifier'
        status:
          description: The status of the operation.
          type: string
        startTime:
          description: The start time of the operation.
          type: string
          format: date-time
        endTime:
          description: The end time of the operation.
          type: string
          format: date-time
        percentComplete:
          description: The completion percentage of the operation.
          type: number
        properties:
          description: The internal operation properties.
          type: object
        error:
          description: The operation error.
          $ref: '#/components/schemas/ExtendedErrorInfo'
        retryAfter:
          description: The amount of time clients should wait..
          type: string
        terminalHttpStatusCode:
          description: The terminal http status code for the operation.
          type: string
        responseContent:
          description: The content of the response.
          type: object
    OperationsStatusIdentifier:
      description: The admin offer identifier for the location wide SubscriptionsAdminResourceTypes.OperationsStatus resource type.
      properties:
        location:
          description: The location of the operations status.
          type: string
        name:
          description: The name of the operations status.
          type: string
        subscriptionId:
          description: The subscription identifier..
          type: string
    ExtendedErrorInfo:
      description: The extended error information.
      properties:
        code:
          description: The error code.
          type: string
        message:
          description: The error message.
          type: string
        details:
          description: The detailed error message details.
          $ref: '#/components/schemas/ExtendedErrorInfoList'
    ExtendedErrorInfoList:
      description: List of the extended error information.
      properties:
        value:
          description: List of the extended error information.
          type: array
          items:
            $ref: '#/components/schemas/ExtendedErrorInfo'
          x-ms-identifiers: []
        nextLink:
          description: URI to next page.
          type: string
  parameters:
    OfferDelegationParameter:
      name: offerDelegationName
      in: path
      description: Name of a offer delegation.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    DirectoryTenantParameter:
      name: tenant
      in: path
      description: Directory tenant name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    QuotaParameter:
      name: quota
      in: path
      description: Name of the quota.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    TargetSubscriptionIdParameter:
      name: targetSubscriptionId
      in: path
      description: The target subscription ID.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    PlanAcquisitionIdParameter:
      name: planAcquisitionId
      in: path
      description: The plan acquisition Identifier
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ManifestParameter:
      name: manifestName
      in: path
      description: The manifest name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        default: '2015-11-01'
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: The resource group the resource is located under.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    OperationsStatusParameter:
      name: operationsStatusName
      in: path
      description: The operation status name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    LocationParameter:
      name: location
      in: path
      description: The AzureStack location.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    OfferParameter:
      name: offer
      in: path
      description: Name of an offer.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    PlanParameter:
      name: plan
      in: path
      description: Name of the plan.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    DelegatedProviderParameter:
      name: delegatedProvider
      in: path
      description: DelegatedProvider identifier.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    DelegatedProviderSubscriptionIdParameter:
      name: delegatedProviderSubscriptionId
      in: path
      description: Delegated provider subscription identifier.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    FilterParameter:
      name: $filter
      in: query
      description: OData filter parameter.
      x-ms-parameter-location: method
      schema:
        type: string
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/offers:
    x-api-version: '2015-11-01'
    get:
      description: Get the list of offers.
      tags:
        - Offers
      operationId: Offers_ListAll
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferList'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers:
    x-api-version: '2015-11-01'
    get:
      description: Get the list of offers under a resource group.
      tags:
        - Offers
      operationId: Offers_List
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferList'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}:
    x-api-version: '2015-11-01'
    get:
      description: Get the specified offer.
      tags:
        - Offers
      operationId: Offers_Get
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/OfferParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      description: Create or update the offer.
      tags:
        - Offers
      operationId: Offers_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/OfferParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: New offer.
        required: true
        x-ms-requestBody-name: offerDefinition
        x-ms-parameter-location: method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Offer'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Delete the specified offer.
      tags:
        - Offers
      operationId: Offers_Delete
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/OfferParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/metrics:
    x-api-version: '2015-11-01'
    get:
      description: Get the offer metrics.
      tags:
        - Offers
      operationId: Offers_ListMetrics
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/OfferParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricList'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/metricDefinitions:
    x-api-version: '2015-11-01'
    get:
      description: Get the metric definitions.
      tags:
        - Offers
      operationId: Offers_ListMetricDefinitions
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/OfferParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricDefinitionList'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/link:
    x-api-version: '2015-11-01'
    post:
      description: Links a plan to an offer.
      tags:
        - Offers
      operationId: Offers_Link
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/OfferParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: New plan link.
        required: true
        x-ms-requestBody-name: planLink
        x-ms-parameter-location: method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanLinkDefinition'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/unlink:
    x-api-version: '2015-11-01'
    post:
      description: Unlink a plan from an offer.
      tags:
        - Offers
      operationId: Offers_Unlink
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/OfferParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: New plan link.
        required: true
        x-ms-requestBody-name: planLink
        x-ms-parameter-location: method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanLinkDefinition'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/offerDelegations:
    x-api-version: '2015-11-01'
    get:
      description: Get the list of offer delegations.
      tags:
        - OfferDelegations
      operationId: OfferDelegations_List
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/OfferParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferDelegationList'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/offerDelegations/{offerDelegationName}:
    x-api-version: '2015-11-01'
    get:
      description: Get the specified offer delegation.
      tags:
        - OfferDelegations
      operationId: OfferDelegations_Get
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/OfferParameter'
        - $ref: '#/components/parameters/OfferDelegationParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferDelegation'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      description: Create or update the offer delegation.
      tags:
        - OfferDelegations
      operationId: OfferDelegations_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/OfferParameter'
        - $ref: '#/components/parameters/OfferDelegationParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: New offer delegation parameter.
        required: true
        x-ms-requestBody-name: offerDelegationDefinition
        x-ms-parameter-location: method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferDelegation'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferDelegation'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferDelegation'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Delete the specified offer delegation.
      tags:
        - OfferDelegations
      operationId: OfferDelegations_Delete
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/OfferParameter'
        - $ref: '#/components/parameters/OfferDelegationParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/delegatedProviders/{delegatedProviderSubscriptionId}/offers:
    x-api-version: '2015-11-01'
    get:
      description: Get the list of delegated provider offers.
      tags:
        - DelegatedProviderOffers
      operationId: DelegatedProviderOffers_List
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/DelegatedProviderSubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DelegatedProviderOfferList'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/delegatedProviders/{delegatedProviderSubscriptionId}/offers/{offer}:
    x-api-version: '2015-11-01'
    get:
      description: Get the specified delegated provider offer.
      tags:
        - DelegatedProviderOffers
      operationId: DelegatedProviderOffers_Get
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/DelegatedProviderSubscriptionIdParameter'
        - $ref: '#/components/parameters/OfferParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DelegatedProviderOffer'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/directoryTenants:
    x-api-version: '2015-11-01'
    get:
      tags:
        - DirectoryTenants
      description: Lists all the directory tenants under the current subscription and given resource group name.
      operationId: DirectoryTenants_List
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryTenantList'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/directoryTenants/{tenant}:
    x-api-version: '2015-11-01'
    get:
      description: Get a directory tenant by name.
      tags:
        - DirectoryTenants
      operationId: DirectoryTenants_Get
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/DirectoryTenantParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryTenant'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Delete a directory tenant under a resource group.
      tags:
        - DirectoryTenants
      operationId: DirectoryTenants_Delete
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/DirectoryTenantParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      description: Create or updates a directory tenant.
      tags:
        - DirectoryTenants
      operationId: DirectoryTenants_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/DirectoryTenantParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: New directory tenant properties.
        required: true
        x-ms-requestBody-name: tenantDefinition
        x-ms-parameter-location: method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectoryTenant'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryTenant'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryTenant'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/plans:
    x-api-version: '2015-11-01'
    get:
      description: List all plans across all subscriptions.
      tags:
        - Plans
      operationId: Plans_ListAll
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanList'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/plans:
    x-api-version: '2015-11-01'
    get:
      description: Get the list of plans under a resource group.
      tags:
        - Plans
      operationId: Plans_List
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanList'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/plans/{plan}:
    x-api-version: '2015-11-01'
    get:
      description: Get the specified plan.
      tags:
        - Plans
      operationId: Plans_Get
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/PlanParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      description: Create or update the plan.
      tags:
        - Plans
      operationId: Plans_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/PlanParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: New plan.
        required: true
        x-ms-requestBody-name: planDefinition
        x-ms-parameter-location: method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Plan'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Delete the specified plan.
      tags:
        - Plans
      operationId: Plans_Delete
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/PlanParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/plans/{plan}/metrics:
    x-api-version: '2015-11-01'
    get:
      description: Get the metrics of the specified plan.
      tags:
        - Plans
      operationId: Plans_ListMetrics
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/PlanParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricList'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/plans/{plan}/metricDefinitions:
    x-api-version: '2015-11-01'
    get:
      description: Get the metric definitions of the specified plan.
      tags:
        - Plans
      operationId: Plans_ListMetricDefinitions
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/PlanParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricDefinitionList'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}/quotas:
    x-api-version: '2015-11-01'
    get:
      tags:
        - Quotas
      description: Get the list of quotas at a location.
      operationId: Quotas_List
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/LocationParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaList'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: null
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}/quotas/{quota}:
    x-api-version: '2015-11-01'
    get:
      description: Gets a quota by name.
      tags:
        - Quotas
      operationId: Quotas_Get
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/LocationParameter'
        - $ref: '#/components/parameters/QuotaParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quota'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/subscriptions/{targetSubscriptionId}/acquiredPlans:
    x-api-version: '2015-11-01'
    get:
      description: Get a collection of all acquired plans that subscription has access to.
      tags:
        - AcquiredPlans
      operationId: AcquiredPlans_List
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/TargetSubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanAcquisitionList'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/subscriptions/{targetSubscriptionId}/acquiredPlans/{planAcquisitionId}:
    x-api-version: '2015-11-01'
    get:
      tags:
        - AcquiredPlans
      description: Gets the specified plan acquired by a subscription consuming the offer.
      operationId: AcquiredPlans_Get
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/TargetSubscriptionIdParameter'
        - $ref: '#/components/parameters/PlanAcquisitionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanAcquisition'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Deletes an acquired plan.
      tags:
        - AcquiredPlans
      operationId: AcquiredPlans_Delete
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/TargetSubscriptionIdParameter'
        - $ref: '#/components/parameters/PlanAcquisitionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - AcquiredPlans
      description: Creates an acquired plan.
      operationId: AcquiredPlans_Create
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/TargetSubscriptionIdParameter'
        - $ref: '#/components/parameters/PlanAcquisitionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: The new acquired plan.
        required: true
        x-ms-requestBody-name: acquiredPlanDefinition
        x-ms-parameter-location: method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanAcquisition'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanAcquisition'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanAcquisition'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/delegatedProviders:
    x-api-version: '2015-11-01'
    get:
      description: Get the list of delegatedProviders.
      tags:
        - DelegatedProviders
      operationId: DelegatedProviders_List
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionList'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: null
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/delegatedProviders/{delegatedProvider}:
    x-api-version: '2015-11-01'
    get:
      description: Get the specified delegated provider.
      tags:
        - DelegatedProviders
      operationId: DelegatedProviders_Get
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/DelegatedProviderParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionDefinition'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/manifests:
    x-api-version: '2015-11-01'
    get:
      description: Get a list of all manifests.
      tags:
        - Manifests
      operationId: Manifests_List
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManifestList'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/manifests/{manifestName}:
    x-api-version: '2015-11-01'
    get:
      description: Get the specified manifest.
      tags:
        - Manifests
      operationId: Manifests_Get
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ManifestParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manifest'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /providers/Microsoft.Subscriptions.Admin/operations:
    x-api-version: '2015-11-01'
    get:
      description: Get the list of Operations.
      tags:
        - Operations
      operationId: Operations_List
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/updateEncryption:
    x-api-version: '2015-11-01'
    post:
      description: Update the encryption settings.
      tags:
        - Subscriptions
      operationId: Subscriptions_UpdateEncryption
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/restoreData:
    x-api-version: '2015-11-01'
    post:
      description: Restores the data
      tags:
        - Subscriptions
      operationId: Subscriptions_RestoreData
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionList'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/checkIdentityHealth:
    x-api-version: '2015-11-01'
    post:
      description: Checks the identity health
      tags:
        - Subscriptions
      operationId: Subscriptions_CheckIdentityHealth
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityHealthCheckReportDefinition'
        default:
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/moveSubscriptions:
    x-api-version: '2015-11-01'
    post:
      description: Move subscriptions between delegated provider offers.
      tags:
        - Subscriptions
      operationId: Subscriptions_MoveSubscriptions
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: Move subscriptions parameter.
        required: true
        x-ms-requestBody-name: moveSubscriptionsDefinition
        x-ms-parameter-location: method
        content:
          application/json:
[...]
