openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  title: Cosmos DB
  description: Azure Cosmos DB Database Service Resource Provider REST API
  version: 2023-11-15-preview
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    PrivateEndpointConnectionListResult:
      description: A list of private endpoint connections
      type: object
      properties:
        value:
          type: array
          description: Array of private endpoint connections
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
    PrivateEndpointConnection:
      description: A private endpoint connection
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
          description: Resource properties.
          x-ms-client-flatten: true
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
    PrivateEndpointConnectionProperties:
      description: Properties of a private endpoint connection.
      type: object
      properties:
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpointProperty'
          description: Private endpoint which the connection belongs to.
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionStateProperty'
          description: Connection State of the Private Endpoint Connection.
        groupId:
          type: string
          description: Group id of the private endpoint.
        provisioningState:
          type: string
          description: Provisioning state of the private endpoint.
    PrivateEndpointProperty:
      type: object
      description: Private endpoint which the connection belongs to.
      properties:
        id:
          type: string
          description: Resource id of the private endpoint.
    PrivateLinkServiceConnectionStateProperty:
      type: object
      description: Connection State of the Private Endpoint Connection.
      properties:
        status:
          type: string
          description: The private link service connection status.
        description:
          type: string
          description: The private link service connection description.
        actionsRequired:
          type: string
          description: Any action that is required beyond basic workflow (approve/ reject/ disconnect)
          readOnly: true
    ProvisioningState:
      description: The provisioning state of the resource.
      type: string
      enum:
        - Succeeded
        - Failed
        - Canceled
        - Updating
      x-ms-enum:
        name: status
        modelAsString: true
      readOnly: true
    MongoClusterStatus:
      description: The status of the resource at the time the operation was called.
      type: string
      enum:
        - Ready
        - Provisioning
        - Updating
        - Starting
        - Stopping
        - Stopped
        - Dropping
      x-ms-enum:
        name: MongoClusterStatus
        modelAsString: true
      readOnly: true
    MongoClusterListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/MongoCluster'
          description: The list of mongo clusters
        nextLink:
          description: The link used to get the next page of results.
          type: string
          readOnly: true
      description: A list of mongo clusters.
    MongoCluster:
      type: object
      description: Represents a mongo cluster resource.
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      properties:
        properties:
          $ref: '#/components/schemas/MongoClusterProperties'
          x-ms-client-flatten: true
          description: Properties of the mongo cluster.
    MongoClusterUpdate:
      type: object
      description: Represents a mongo cluster resource for updates.
      properties:
        properties:
          $ref: '#/components/schemas/MongoClusterProperties'
          x-ms-client-flatten: true
          description: Properties of the mongo cluster.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Application-specific metadata in the form of key-value pairs.
    MongoClusterProperties:
      type: object
      description: The properties of a mongo cluster.
      properties:
        createMode:
          type: string
          description: The mode to create a mongo cluster.
          enum:
            - Default
            - PointInTimeRestore
          x-ms-enum:
            name: CreateMode
            modelAsString: true
          x-ms-mutability:
            - create
          default: Default
        restoreParameters:
          $ref: '#/components/schemas/MongoClusterRestoreParameters'
          description: Parameters used for restore operations
          x-ms-mutability:
            - create
        administratorLogin:
          type: string
          description: The administrator's login for the mongo cluster.
          x-ms-mutability:
            - create
            - update
            - read
        administratorLoginPassword:
          type: string
          x-ms-secret: true
          format: password
          x-ms-mutability:
            - create
            - update
          description: The password of the administrator login.
        serverVersion:
          type: string
          description: The Mongo DB server version. Defaults to the latest available version if not specified.
        connectionString:
          type: string
          readOnly: true
          description: The default mongo connection string for the cluster.
        earliestRestoreTime:
          type: string
          readOnly: true
          description: Earliest restore timestamp in UTC ISO8601 format.
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: A provisioning state of the mongo cluster.
          readOnly: true
        clusterStatus:
          $ref: '#/components/schemas/MongoClusterStatus'
          description: A status of the mongo cluster.
        nodeGroupSpecs:
          $ref: '#/components/schemas/NodeGroupSpecList'
          description: The list of node group specs in the cluster.
    NodeGroupSpecList:
      type: array
      description: The list of node group specifications for the cluster. Must include one node group spec with kind = 'Shard'.
      items:
        $ref: '#/components/schemas/NodeGroupSpec'
      x-ms-identifiers: []
      minItems: 1
    NodeGroupSpec:
      type: object
      description: Specification for a node group.
      allOf:
        - $ref: '#/components/schemas/NodeGroupProperties'
      properties:
        kind:
          $ref: '#/components/schemas/NodeKind'
          description: The node type deployed in the node group.
        nodeCount:
          type: integer
          format: int32
          description: The number of nodes in the node group.
    NodeKind:
      type: string
      description: The kind of a node in the mongo cluster.
      enum:
        - Shard
      x-ms-enum:
        name: NodeKind
        modelAsString: true
    NodeGroupProperties:
      type: object
      description: The properties of the node group on a cluster.
      properties:
        sku:
          type: string
          description: 'The resource sku for the node group. This defines the size of CPU and memory that is provisioned for each node. Example values: ''M30'', ''M40''.'
        diskSizeGB:
          type: integer
          format: int64
          description: 'The disk storage size for the node group in GB. Example values: 128, 256, 512, 1024.'
        enableHa:
          type: boolean
          description: Whether high availability is enabled on the node group.
    FirewallRuleProperties:
      type: object
      description: The properties of a mongo cluster firewall rule.
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state of the firewall rule.
          readOnly: true
        startIpAddress:
          type: string
          description: The start IP address of the mongo cluster firewall rule. Must be IPv4 format.
          pattern: ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$
        endIpAddress:
          type: string
          description: The end IP address of the mongo cluster firewall rule. Must be IPv4 format.
          pattern: ^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$
      required:
        - startIpAddress
        - endIpAddress
    FirewallRule:
      type: object
      description: Represents a mongo cluster firewall rule.
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          $ref: '#/components/schemas/FirewallRuleProperties'
          x-ms-client-flatten: true
          description: The properties of a firewall rule.
      required:
        - properties
    FirewallRuleListResult:
      type: object
      description: A list of firewall rules.
      properties:
        value:
          type: array
          description: The list of firewall rules in a mongo cluster.
          items:
            $ref: '#/components/schemas/FirewallRule'
        nextLink:
          description: The link used to get the next page of results.
          type: string
          readOnly: true
    ConnectionString:
      type: object
      description: Connection string for the mongo cluster
      properties:
        connectionString:
          readOnly: true
          type: string
          description: Value of the connection string
        description:
          readOnly: true
          type: string
          description: Description of the connection string
    ListConnectionStringsResult:
      type: object
      description: The connection strings for the given mongo cluster.
      properties:
        connectionStrings:
          readOnly: true
          type: array
          description: An array that contains the connection strings for a mongo cluster.
          x-ms-identifiers: []
          items:
            $ref: '#/components/schemas/ConnectionString'
    MongoClusterRestoreParameters:
      type: object
      description: Parameters used for restore operations
      properties:
        pointInTimeUTC:
          type: string
          format: date-time
          description: UTC point in time to restore a mongo cluster
        sourceResourceId:
          type: string
          description: Resource ID to locate the source cluster to restore
    Resource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
        systemData:
          readOnly: true
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
          $ref: '#/components/schemas/systemData'
      x-ms-azure-resource: true
    AzureEntityResource:
      x-ms-client-name: AzureEntityResource
      title: Entity Resource
      description: The resource model definition for an Azure Resource Manager resource with an etag.
      type: object
      properties:
        etag:
          type: string
          readOnly: true
          description: Resource Etag.
      allOf:
        - $ref: '#/components/schemas/Resource'
    TrackedResource:
      title: Tracked Resource
      description: The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
            - read
            - create
            - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
            - read
            - create
          description: The geo-location where the resource lives
      required:
        - location
      allOf:
        - $ref: '#/components/schemas/Resource'
    ProxyResource:
      title: Proxy Resource
      description: The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a location
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
    ResourceModelWithAllowedPropertySet:
      description: The resource model definition containing the full set of allowed properties for a resource. Except properties bag, there cannot be a top level property outside of this set.
      type: object
      properties:
        managedBy:
          type: string
          x-ms-mutability:
            - read
            - create
            - update
          description: The fully qualified resource ID of the resource that manages this resource. Indicates if this resource is managed by another Azure resource. If this is present, complete mode deployment will not delete the resource if it is removed from the template since it is managed by another resource.
        kind:
          type: string
          x-ms-mutability:
            - read
            - create
          description: Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type. E.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value.
          pattern: ^[-\w\._,\(\)]+$
        etag:
          readOnly: true
          type: string
          description: 'The etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields. '
        identity:
          allOf:
            - $ref: '#/components/schemas/Identity'
        sku:
          allOf:
            - $ref: '#/components/schemas/Sku'
        plan:
          allOf:
            - $ref: '#/components/schemas/Plan'
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      x-ms-azure-resource: true
    SkuTier:
      type: string
      enum:
        - Free
        - Basic
        - Standard
        - Premium
      x-ms-enum:
        name: SkuTier
        modelAsString: false
      description: This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT.
    Sku:
      description: The resource model definition representing SKU
      type: object
      properties:
        name:
          type: string
          description: The name of the SKU. E.g. P3. It is typically a letter+number code
        tier:
          $ref: '#/components/schemas/SkuTier'
        size:
          type: string
          description: 'The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. '
        family:
          type: string
          description: If the service has different generations of hardware, for the same SKU, then that can be captured here.
        capacity:
          type: integer
          format: int32
          description: If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted.
      required:
        - name
    Identity:
      description: Identity for the resource.
      type: object
      properties:
        principalId:
          readOnly: true
          type: string
          format: uuid
          description: The principal ID of resource identity. The value must be an UUID.
        tenantId:
          readOnly: true
          type: string
          format: uuid
          description: The tenant ID of resource. The value must be an UUID.
        type:
          type: string
          description: The identity type.
          enum:
            - SystemAssigned
          x-ms-enum:
            name: ResourceIdentityType
            modelAsString: false
    Plan:
      type: object
      properties:
        name:
          type: string
          description: A user defined name of the 3rd Party Artifact that is being procured.
        publisher:
          type: string
          description: The publisher of the 3rd Party Artifact that is being bought. E.g. NewRelic
        product:
          type: string
          description: 'The 3rd Party artifact that is being procured. E.g. NewRelic. Product maps to the OfferID specified for the artifact at the time of Data Market onboarding. '
        promotionCode:
          type: string
          description: A publisher provided promotion code as provisioned in Data Market for the said product/artifact.
        version:
          type: string
          description: The version of the desired product/artifact.
      description: Plan for the resource.
      required:
        - name
        - publisher
        - product
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
          x-ms-identifiers:
            - message
            - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          description: The error additional info.
    ErrorResponse:
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      description: Error Response.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    Operation:
      description: REST API operation
      type: object
      properties:
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
        display:
          description: The object that represents the operation.
          type: object
          properties:
            Provider:
              description: 'Service provider: Microsoft.ResourceProvider'
              type: string
            Resource:
              description: 'Resource on which the operation is performed: Profile, endpoint, etc.'
              type: string
            Operation:
              description: 'Operation type: Read, write, delete, etc.'
              type: string
            Description:
              description: Description of operation
              type: string
    OperationListResult:
      description: Result of the request to list Resource Provider operations. It contains a list of operations and a URL link to get the next set of results.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Operation'
          description: List of operations supported by the Resource Provider.
        nextLink:
          type: string
          description: URL to get the next set of operation list results if there are any.
    OperationStatusResult:
      description: The current status of an async operation.
      type: object
      required:
        - status
      properties:
        id:
          description: Fully qualified ID for the async operation.
          type: string
          format: arm-id
        resourceId:
          description: Fully qualified ID of the resource against which the original async operation was started.
          type: string
          format: arm-id
          readOnly: true
        name:
          description: Name of the async operation.
          type: string
        status:
          description: Operation status.
          type: string
        percentComplete:
          description: Percent of the operation that is complete.
          type: number
          minimum: 0
          maximum: 100
        startTime:
          description: The start time of the operation.
          type: string
          format: date-time
        endTime:
          description: The end time of the operation.
          type: string
          format: date-time
        operations:
          description: The operations list.
          type: array
          items:
            $ref: '#/components/schemas/OperationStatusResult'
        error:
          description: If present, details of the operation error.
          $ref: '#/components/schemas/ErrorDetail'
    locationData:
      description: Metadata pertaining to the geographic location of the resource.
      type: object
      properties:
        name:
          type: string
          maxLength: 256
          description: A canonical name for the geographic or physical location.
        city:
          type: string
          description: The city or locality where the resource is located.
        district:
          type: string
          description: The district, state, or province where the resource is located.
        countryOrRegion:
          type: string
          description: The country or region where the resource is located
      required:
        - name
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
    encryptionProperties:
      description: Configuration of key for data encryption
      type: object
      properties:
        status:
          description: Indicates whether or not the encryption is enabled for container registry.
          enum:
            - enabled
            - disabled
          type: string
          x-ms-enum:
            name: EncryptionStatus
            modelAsString: true
        keyVaultProperties:
          $ref: '#/components/schemas/KeyVaultProperties'
          description: Key vault properties.
    KeyVaultProperties:
      type: object
      properties:
        keyIdentifier:
          description: Key vault uri to access the encryption key.
          type: string
        identity:
          description: The client ID of the identity which will be used to access key vault.
          type: string
    CheckNameAvailabilityRequest:
      description: The check availability request body.
      type: object
      properties:
        name:
          description: The name of the resource for which availability needs to be checked.
          type: string
        type:
          description: The resource type.
          type: string
    CheckNameAvailabilityResponse:
      description: The check availability result.
      type: object
      properties:
        nameAvailable:
          description: Indicates if the resource name is available.
          type: boolean
        reason:
          description: The reason why the given name is not available.
          type: string
          enum:
            - Invalid
            - AlreadyExists
          x-ms-enum:
            name: CheckNameAvailabilityReason
            modelAsString: true
        message:
          description: Detailed reason why the given name is available.
          type: string
    RestorableDatabaseAccountsListResult:
      type: object
      properties:
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/RestorableDatabaseAccountGetResult'
          description: List of restorable database accounts and their properties.
      description: The List operation response, that contains the restorable database accounts and their properties.
    RestorableDatabaseAccountGetResult:
      description: A Azure Cosmos DB restorable database account.
      type: object
      properties:
        properties:
          type: object
          x-ms-client-flatten: true
          description: The properties of a restorable database account.
          $ref: '#/components/schemas/RestorableDatabaseAccountProperties'
        id:
          readOnly: true
          type: string
          description: The unique resource identifier of the ARM resource.
        name:
          readOnly: true
          type: string
          description: The name of the ARM resource.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
        location:
          type: string
          description: The location of the resource group to which the resource belongs.
    RestorableDatabaseAccountProperties:
      type: object
      description: The properties of a restorable database account.
      properties:
        accountName:
          type: string
          description: The name of the global database account
        creationTime:
          type: string
          format: date-time
          description: The creation time of the restorable database account (ISO-8601 format).
        oldestRestorableTime:
          type: string
          format: date-time
          description: The least recent time at which the database account can be restored to (ISO-8601 format).
        deletionTime:
          type: string
          format: date-time
          description: The time at which the restorable database account has been deleted (ISO-8601 format).
        apiType:
          type: string
          readOnly: true
          description: The API type of the restorable database account.
          $ref: '#/components/schemas/ApiType'
        restorableLocations:
          type: array
          readOnly: true
          description: List of regions where the of the database account can be restored from.
          items:
            $ref: '#/components/schemas/RestorableLocationResource'
    ApiType:
      description: Enum to indicate the API type of the restorable database account.
      type: string
      readOnly: true
      enum:
        - MongoDB
        - Gremlin
        - Cassandra
        - Table
        - Sql
        - GremlinV2
      x-ms-enum:
        name: ApiType
        modelAsString: true
    RestorableLocationResource:
      type: object
      description: Properties of the regional restorable account.
      properties:
        locationName:
          type: string
          readOnly: true
          description: The location of the regional restorable account.
        regionalDatabaseAccountInstanceId:
          type: string
          readOnly: true
          description: The instance id of the regional restorable account.
        creationTime:
          type: string
          readOnly: true
          format: date-time
          description: The creation time of the regional restorable database account (ISO-8601 format).
        deletionTime:
          type: string
          readOnly: true
          format: date-time
          description: The time at which the regional restorable database account has been deleted (ISO-8601 format).
    RestorableSqlDatabasesListResult:
      type: object
      properties:
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/RestorableSqlDatabaseGetResult'
          description: List of SQL database events and their properties.
      description: The List operation response, that contains the SQL database events and their properties.
    RestorableSqlDatabaseGetResult:
      description: An Azure Cosmos DB SQL database event
      type: object
      properties:
        properties:
          type: object
          x-ms-client-flatten: true
          description: The properties of a SQL database event.
          $ref: '#/components/schemas/RestorableSqlDatabaseProperties'
        id:
          readOnly: true
          type: string
          description: The unique resource Identifier of the ARM resource.
        name:
          readOnly: true
          type: string
          description: The name of the ARM resource.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
    RestorableSqlDatabaseProperties:
      description: The properties of an Azure Cosmos DB SQL database event
      type: object
      properties:
        resource:
          type: object
          description: The resource of an Azure Cosmos DB SQL database event
          properties:
            _rid:
              type: string
              readOnly: true
              description: A system generated property. A unique identifier.
            operationType:
              type: string
              readOnly: true
              description: The operation type of this database event.
              $ref: '#/components/schemas/OperationType'
            canUndelete:
              type: string
              readOnly: true
              description: A state of this database to identify if this database is restorable in same account.
            canUndeleteReason:
              type: string
              readOnly: true
              description: The reason why this database can not be restored in same account.
            eventTimestamp:
              type: string
              readOnly: true
              description: The time when this database event happened.
            ownerId:
              type: string
              readOnly: true
              description: The name of the SQL database.
            ownerResourceId:
              type: string
              readOnly: true
              description: The resource ID of the SQL database.
            database:
              type: object
              description: Cosmos DB SQL database resource object
              properties:
                _colls:
                  type: string
                  readOnly: true
                  description: A system generated property that specified the addressable path of the collections resource.
                _users:
                  type: string
                  readOnly: true
                  description: A system generated property that specifies the addressable path of the users resource.
                _self:
                  type: string
                  readOnly: true
                  description: A system generated property that specifies the addressable path of the database resource.
              allOf:
                - $ref: '#/components/schemas/SqlDatabaseResource'
                - $ref: '#/components/schemas/ExtendedResourceProperties'
    RestorableSqlContainersListResult:
      type: object
      properties:
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/RestorableSqlContainerGetResult'
          description: List of SQL container events and their properties.
      description: The List operation response, that contains the SQL container events and their properties.
    RestorableSqlContainerGetResult:
      description: An Azure Cosmos DB SQL container event
      type: object
      properties:
        properties:
          type: object
          x-ms-client-flatten: true
          description: The properties of a SQL container event.
          $ref: '#/components/schemas/RestorableSqlContainerProperties'
        id:
          readOnly: true
          type: string
          description: The unique resource Identifier of the ARM resource.
        name:
          readOnly: true
          type: string
          description: The name of the ARM resource.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
    RestorableSqlContainerProperties:
      description: The properties of an Azure Cosmos DB SQL container event
      type: object
      properties:
        resource:
          description: The resource of an Azure Cosmos DB SQL container event
          type: object
          properties:
            _rid:
              type: string
              readOnly: true
              description: A system generated property. A unique identifier.
            operationType:
              type: string
              readOnly: true
              description: The operation type of this container event.
              $ref: '#/components/schemas/OperationType'
            canUndelete:
              type: string
              readOnly: true
              description: A state of this container to identify if this container is restorable in same account.
            canUndeleteReason:
              type: string
              readOnly: true
              description: The reason why this container can not be restored in same account.
            eventTimestamp:
              type: string
              readOnly: true
              description: The when this container event happened.
            ownerId:
              type: string
              readOnly: true
              description: The name of this SQL container.
            ownerResourceId:
              type: string
              readOnly: true
              description: The resource ID of this SQL container.
            container:
              type: object
              description: Cosmos DB SQL container resource object
              properties:
                _self:
                  type: string
                  readOnly: true
                  description: A system generated property that specifies the addressable path of the container resource.
              allOf:
                - $ref: '#/components/schemas/SqlContainerResource'
                - $ref: '#/components/schemas/ExtendedResourceProperties'
    RestorableSqlResourcesListResult:
      type: object
      properties:
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/RestorableSqlResourcesGetResult'
          description: List of restorable SQL resources, including the database and collection names.
      description: The List operation response, that contains the restorable SQL resources.
    RestorableSqlResourcesGetResult:
      type: object
      description: Specific Databases to restore.
      properties:
        id:
          readOnly: true
          type: string
          description: The unique resource identifier of the ARM resource.
        name:
          readOnly: true
          type: string
          description: The name of the ARM resource.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
        databaseName:
          type: string
          description: The name of the database available for restore.
        collectionNames:
          type: array
          description: The names of the collections available for restore.
          items:
            $ref: '#/components/schemas/CollectionName'
    RestorableMongodbDatabasesListResult:
      type: object
      properties:
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/RestorableMongodbDatabaseGetResult'
          description: List of MongoDB database events and their properties.
      description: The List operation response, that contains the MongoDB database events and their properties.
    RestorableMongodbDatabaseGetResult:
      description: An Azure Cosmos DB MongoDB database event
      type: object
      properties:
        properties:
          type: object
          x-ms-client-flatten: true
          description: The properties of a MongoDB database event.
          $ref: '#/components/schemas/RestorableMongodbDatabaseProperties'
        id:
          readOnly: true
          type: string
          description: The unique resource Identifier of the ARM resource.
        name:
          readOnly: true
          type: string
          description: The name of the ARM resource.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
    RestorableMongodbDatabaseProperties:
      description: The properties of an Azure Cosmos DB MongoDB database event
      type: object
      properties:
        resource:
          description: The resource of an Azure Cosmos DB MongoDB database event
          type: object
          properties:
            _rid:
              type: string
              readOnly: true
              description: A system generated property. A unique identifier.
            operationType:
              type: string
              readOnly: true
              description: The operation type of this database event.
              $ref: '#/components/schemas/OperationType'
            canUndelete:
              type: string
              readOnly: true
              description: A state of this database to identify if this database is restorable in same account.
            canUndeleteReason:
              type: string
              readOnly: true
              description: The reason why this database can not be restored in same account.
            eventTimestamp:
              type: string
              readOnly: true
              description: The time when this database event happened.
            ownerId:
              type: string
              readOnly: true
              description: The name of this MongoDB database.
            ownerResourceId:
              type: string
              readOnly: true
              description: The resource ID of this MongoDB database.
    RestorableMongodbCollectionsListResult:
      type: object
      properties:
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/RestorableMongodbCollectionGetResult'
          description: List of MongoDB collection events and their properties.
      description: The List operation response, that contains the MongoDB collection events and their properties.
    RestorableMongodbCollectionGetResult:
      description: An Azure Cosmos DB MongoDB collection event
      type: object
      properties:
        properties:
          type: object
          x-ms-client-flatten: true
          description: The properties of a MongoDB collection event.
          $ref: '#/components/schemas/RestorableMongodbCollectionProperties'
        id:
          readOnly: true
          type: string
          description: The unique resource Identifier of the ARM resource.
        name:
          readOnly: true
          type: string
          description: The name of the ARM resource.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
    RestorableMongodbCollectionProperties:
      description: The properties of an Azure Cosmos DB MongoDB collection event
      type: object
      properties:
        resource:
          description: The resource of an Azure Cosmos DB MongoDB collection event
          type: object
          properties:
            _rid:
              type: string
              readOnly: true
              description: A system generated property. A unique identifier.
            operationType:
              type: string
              readOnly: true
              description: The operation type of this collection event.
              $ref: '#/components/schemas/OperationType'
            canUndelete:
              type: string
              readOnly: true
              description: A state of this collection to identify if this container is restorable in same account.
            canUndeleteReason:
              type: string
              readOnly: true
              description: The reason why this collection can not be restored in same account.
            eventTimestamp:
              type: string
              readOnly: true
              description: The time when this collection event happened.
            ownerId:
              type: string
              readOnly: true
              description: The name of this MongoDB collection.
            ownerResourceId:
              type: string
              readOnly: true
              description: The resource ID of this MongoDB collection.
    RestorableMongodbResourcesListResult:
      type: object
      properties:
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/RestorableMongodbResourcesGetResult'
          description: List of restorable MongoDB resources, including the database and collection names.
      description: The List operation response, that contains the restorable MongoDB resources.
    RestorableMongodbResourcesGetResult:
      type: object
      description: Specific Databases to restore.
      properties:
        id:
          readOnly: true
          type: string
          description: The unique resource identifier of the ARM resource.
        name:
          readOnly: true
          type: string
          description: The name of the ARM resource.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
        databaseName:
          type: string
          description: The name of the database available for restore.
        collectionNames:
          type: array
          description: The names of the collections available for restore.
          items:
            $ref: '#/components/schemas/CollectionName'
    RestorableGremlinDatabasesListResult:
      type: object
      properties:
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/RestorableGremlinDatabaseGetResult'
          description: List of Gremlin database events and their properties.
      description: The List operation response, that contains the Gremlin database events and their properties.
    RestorableGremlinDatabaseGetResult:
      description: An Azure Cosmos DB Gremlin database event
      type: object
      properties:
        properties:
          type: object
          x-ms-client-flatten: true
          description: The properties of a Gremlin database event.
          $ref: '#/components/schemas/RestorableGremlinDatabaseProperties'
        id:
          readOnly: true
          type: string
          description: The unique resource Identifier of the ARM resource.
        name:
          readOnly: true
          type: string
          description: The name of the ARM resource.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
    RestorableGremlinDatabaseProperties:
      description: The properties of an Azure Cosmos DB Gremlin database event
      type: object
      properties:
        resource:
          description: The resource of an Azure Cosmos DB Gremlin database event
          type: object
          properties:
            _rid:
              type: string
              readOnly: true
              description: A system generated property. A unique identifier.
            operationType:
              type: string
              readOnly: true
              description: The operation type of this database event.
              $ref: '#/components/schemas/OperationType'
            canUndelete:
              type: string
              readOnly: true
              description: A state of this database to identify if this database is restorable in same account.
            canUndeleteReason:
              type: string
              readOnly: true
              description: The reason why this database can not be restored in same account.
            eventTimestamp:
              type: string
              readOnly: true
              description: The time when this database event happened.
            ownerId:
              type: string
              readOnly: true
              description: The name of this Gremlin database.
            ownerResourceId:
              type: string
              readOnly: true
              description: The resource ID of this Gremlin database.
    RestorableGremlinGraphsListResult:
      type: object
      properties:
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/RestorableGremlinGraphGetResult'
          description: List of Gremlin graph events and their properties.
      description: The List operation response, that contains the Gremlin graph events and their properties.
    RestorableGremlinGraphGetResult:
      description: An Azure Cosmos DB Gremlin graph event
      type: object
      properties:
        properties:
          type: object
          x-ms-client-flatten: true
          description: The properties of a Gremlin graph event.
          $ref: '#/components/schemas/RestorableGremlinGraphProperties'
        id:
          readOnly: true
          type: string
          description: The unique resource Identifier of the ARM resource.
        name:
          readOnly: true
          type: string
          description: The name of the ARM resource.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
    RestorableGremlinGraphProperties:
      description: The properties of an Azure Cosmos DB Gremlin graph event
      type: object
      properties:
        resource:
          description: The resource of an Azure Cosmos DB Gremlin graph event
          type: object
          properties:
            _rid:
              type: string
              readOnly: true
              description: A system generated property. A unique identifier.
            operationType:
              type: string
              readOnly: true
              description: The operation type of this graph event.
              $ref: '#/components/schemas/OperationType'
            canUndelete:
              type: string
              readOnly: true
              description: A state of this graph to identify if this graph is restorable in same account.
            canUndeleteReason:
              type: string
              readOnly: true
              description: The reason why this graph can not be restored in same account.
            eventTimestamp:
              type: string
              readOnly: true
              description: The time when this graph event happened.
            ownerId:
              type: string
              readOnly: true
              description: The name of this Gremlin graph.
            ownerResourceId:
              type: string
              readOnly: true
              description: The resource ID of this Gremlin graph.
    RestorableGremlinResourcesListResult:
      type: object
      properties:
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/RestorableGremlinResourcesGetResult'
          description: List of restorable Gremlin resources, including the gremlin database and graph names.
      description: The List operation response, that contains the restorable Gremlin resources.
    RestorableGremlinResourcesGetResult:
      type: object
      description: Specific Databases to restore.
      properties:
        id:
          readOnly: true
          type: string
          description: The unique resource identifier of the ARM resource.
        name:
          readOnly: true
          type: string
          description: The name of the ARM resource.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
        databaseName:
          type: string
          description: The name of the gremlin database available for restore.
        graphNames:
          type: array
          description: The names of the graphs available for restore.
          items:
            $ref: '#/components/schemas/GraphName'
    RestorableTablesListResult:
      type: object
      properties:
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/RestorableTableGetResult'
          description: List of Table events and their properties.
      description: The List operation response, that contains the Table events and their properties.
    RestorableTableGetResult:
      description: An Azure Cosmos DB Table event
      type: object
      properties:
        properties:
          type: object
          x-ms-client-flatten: true
          description: The properties of a Table event.
          $ref: '#/components/schemas/RestorableTableProperties'
        id:
          readOnly: true
          type: string
          description: The unique resource Identifier of the ARM resource.
        name:
          readOnly: true
          type: string
          description: The name of the ARM resource.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
    RestorableTableProperties:
      description: The properties of an Azure Cosmos DB Table event
      type: object
      properties:
        resource:
          description: The resource of an Azure Cosmos DB Table event
          type: object
          properties:
            _rid:
              type: string
              readOnly: true
              description: A system generated property. A unique identifier.
            operationType:
              type: string
              readOnly: true
              description: The operation type of this table event.
              $ref: '#/components/schemas/OperationType'
            canUndelete:
              type: string
              readOnly: true
              description: A state of this table to identify if this table is restorable in same account.
            canUndeleteReason:
              type: string
              readOnly: true
              description: The reason why this table can not be restored in same account.
            eventTimestamp:
              type: string
              readOnly: true
              description: The time when this table event happened.
            ownerId:
              type: string
              readOnly: true
              description: The name of this Table.
            ownerResourceId:
              type: string
              readOnly: true
              description: The resource ID of this Table.
    RestorableTableResourcesListResult:
      type: object
      properties:
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/RestorableTableResourcesGetResult'
          description: List of restorable table names.
      description: List of restorable table names.
    RestorableTableResourcesGetResult:
      type: object
      description: Specific Databases to restore.
      properties:
        id:
          readOnly: true
          type: string
          description: The unique resource identifier of the ARM resource.
        name:
          readOnly: true
          type: string
          description: The name of the Table.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
    OperationType:
      description: Enum to indicate the operation type of the event.
      type: string
      readOnly: true
      enum:
        - Create
        - Replace
        - Delete
        - Recreate
        - SystemOperation
      x-ms-enum:
        name: OperationType
        modelAsString: true
    ContinuousBackupRestoreLocation:
      type: object
      description: Properties of the regional restorable account.
      properties:
        location:
          type: string
          description: The name of the continuous backup restore location.
    BackupInformation:
      description: Backup information of a resource.
      type: object
      properties:
        continuousBackupInformation:
          description: Information about the status of continuous backups.
          type: object
          $ref: '#/components/schemas/ContinuousBackupInformation'
    ContinuousBackupInformation:
      description: Information about the status of continuous backups.
      type: object
      readOnly: true
      properties:
        latestRestorableTimestamp:
          type: string
          description: The latest restorable timestamp for a resource.
    ServiceResourceProperties:
      description: Services response resource.
      type: object
      discriminator:
        propertyName: serviceType
      properties:
        creationTime:
          readOnly: true
          type: string
          format: date-time
          description: Time of the last state change (ISO-8601 format).
        instanceSize:
          $ref: '#/components/schemas/ServiceResourceInstanceSize'
        instanceCount:
          description: Instance count for the service.
          type: integer
          minimum: 0
          format: int32
        serviceType:
          $ref: '#/components/schemas/ServiceType'
        status:
          readOnly: true
          $ref: '#/components/schemas/ServiceResourceStatus'
      additionalProperties: true
      required:
        - serviceType
    ServiceResourceCreateUpdateParameters:
      description: Parameters for Create or Update Request for ServiceResource
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ServiceResourceCreateUpdateProperties'
    ServiceResourceCreateUpdateProperties:
      description: Properties in ServiceResourceCreateUpdateParameters.
      type: object
      properties:
        instanceSize:
          $ref: '#/components/schemas/ServiceResourceInstanceSize'
        instanceCount:
          description: Instance count for the service.
          type: integer
          minimum: 0
          format: int32
        serviceType:
          $ref: '#/components/schemas/ServiceType'
    ServiceResource:
      description: Properties for the database account.
      type: object
      allOf:
        - $ref: '#/components/schemas/ARMProxyResource'
      properties:
        properties:
          x-ms-client-flatten: false
          $ref: '#/components/schemas/ServiceResourceProperties'
    ServiceResourceListResult:
      type: object
      properties:
        value:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ServiceResource'
          description: List of Service Resource and their properties.
      description: The List operation response, that contains the Service Resource and their properties.
    DataTransferServiceResource:
      description: Describes the service response property.
      type: object
      properties:
        properties:
          x-ms-client-flatten: false
          $ref: '#/components/schemas/DataTransferServiceResourceProperties'
    DataTransferServiceResourceProperties:
      description: Properties for DataTransferServiceResource.
      type: object
      x-ms-discriminator-value: DataTransfer
      allOf:
        - $ref: '#/components/schemas/ServiceResourceProperties'
      properties:
        locations:
          type: array
          readOnly: true
          description: An array that contains all of the locations for the service.
          items:
            $ref: '#/components/schemas/DataTransferRegionalServiceResource'
    SqlDedicatedGatewayServiceResource:
      description: Describes the service response property for SqlDedicatedGateway.
      type: object
      properties:
        properties:
          x-ms-client-flatten: false
          $ref: '#/components/schemas/SqlDedicatedGatewayServiceResourceProperties'
    SqlDedicatedGatewayServiceResourceProperties:
      description: Properties for SqlDedicatedGatewayServiceResource.
      type: object
      x-ms-discriminator-value: SqlDedicatedGateway
      allOf:
        - $ref: '#/components/schemas/ServiceResourceProperties'
      properties:
        sqlDedicatedGatewayEndpoint:
          type: string
          description: SqlDedicatedGateway endpoint for the service.
        locations:
          type: array
          readOnly: true
          description: An array that contains all of the locations for the service.
          items:
            $ref: '#/components/schemas/SqlDedicatedGatewayRegionalServiceResource'
    GraphAPIComputeServiceResource:
      description: Describes the service response property for GraphAPICompute.
      type: object
      properties:
        properties:
          x-ms-client-flatten: false
          $ref: '#/components/schemas/GraphAPIComputeServiceResourceProperties'
    GraphAPIComputeServiceResourceProperties:
      description: Properties for GraphAPIComputeServiceResource.
      type: object
      x-ms-discriminator-value: GraphAPICompute
      allOf:
        - $ref: '#/components/schemas/ServiceResourceProperties'
      properties:
        graphApiComputeEndpoint:
          type: string
          description: GraphAPICompute endpoint for the service.
        locations:
          type: array
          readOnly: true
          description: An array that contains all of the locations for the service.
          items:
            $ref: '#/components/schemas/GraphAPIComputeRegionalServiceResource'
    MaterializedViewsBuilderServiceResource:
      description: Describes the service response property for MaterializedViewsBuilder.
      type: object
      properties:
        properties:
          x-ms-client-flatten: false
          $ref: '#/components/schemas/MaterializedViewsBuilderServiceResourceProperties'
    MaterializedViewsBuilderServiceResourceProperties:
      description: Properties for MaterializedViewsBuilderServiceResource.
      type: object
      x-ms-discriminator-value: MaterializedViewsBuilder
      allOf:
        - $ref: '#/components/schemas/ServiceResourceProperties'
      properties:
        locations:
          type: array
          readOnly: true
          description: An array that contains all of the locations for the service.
          items:
            $ref: '#/components/schemas/MaterializedViewsBuilderRegionalServiceResource'
    RegionalServiceResource:
      description: Resource for a regional service location.
      type: object
      readOnly: true
      properties:
        name:
          readOnly: true
          type: string
          description: The regional service name.
        location:
          readOnly: true
          type: string
          description: The location name.
        status:
          readOnly: true
          $ref: '#/components/schemas/ServiceResourceStatus'
    SqlDedicatedGatewayRegionalServiceResource:
      description: Resource for a regional service location.
      type: object
      allOf:
        - $ref: '#/components/schemas/RegionalServiceResource'
      properties:
        sqlDedicatedGatewayEndpoint:
          readOnly: true
          type: string
          description: The regional endpoint for SqlDedicatedGateway.
    GraphAPIComputeRegionalServiceResource:
      description: Resource for a regional service location.
      type: object
      allOf:
        - $ref: '#/components/schemas/RegionalServiceResource'
      properties:
        graphApiComputeEndpoint:
          readOnly: true
          type: string
          description: The regional endpoint for GraphAPICompute.
    DataTransferRegionalServiceResource:
      description: Resource for a regional service location.
      type: object
      allOf:
        - $ref: '#/components/schemas/RegionalServiceResource'
    MaterializedViewsBuilderRegionalServiceResource:
      description: Resource for a regional service location.
      type: object
      allOf:
        - $ref: '#/components/schemas/RegionalServiceResource'
    ServiceResourceStatus:
      type: string
      enum:
        - Creating
        - Running
        - Updating
        - Deleting
        - Error
        - Stopped
      readOnly: true
      description: Describes the status of a service.
      x-ms-enum:
        modelAsString: true
        name: ServiceStatus
    ServiceResourceInstanceSize:
      type: string
      enum:
        - Cosmos.D4s
        - Cosmos.D8s
        - Cosmos.D16s
      description: Instance type for the service.
      x-ms-enum:
        modelAsString: true
        name: ServiceSize
    ServiceType:
      type: string
      enum:
        - SqlDedicatedGateway
        - DataTransfer
        - GraphAPICompute
        - MaterializedViewsBuilder
      description: ServiceType for the service.
      x-ms-enum:
        modelAsString: true
        name: ServiceType
    MongoRoleDefinitionResource:
      type: object
      properties:
        roleName:
          type: string
          description: A user-friendly name for the Role Definition. Must be unique for the database account.
        type:
          type: string
          enum:
            - BuiltInRole
            - CustomRole
          description: Indicates whether the Role Definition was built-in or user created.
          x-ms-enum:
            name: MongoRoleDefinitionType
            modelAsString: false
        databaseName:
          type: string
          description: The database name for which access is being granted for this Role Definition.
        privileges:
          type: array
          items:
            $ref: '#/components/schemas/Privilege'
          description: A set of privileges contained by the Role Definition. This will allow application of this Role Definition on the entire database account or any underlying Database / Collection. Scopes higher than Database are not enforceable as privilege.
        roles:
          type: array
          items:
            $ref: '#/components/schemas/Role'
          description: The set of roles inherited by this Role Definition.
      description: Azure Cosmos DB Mongo Role Definition resource object.
    MongoRoleDefinitionCreateUpdateParameters:
      description: Parameters to create and update an Azure Cosmos DB Mongo Role Definition.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          description: Properties to create and update an Azure Cosmos DB Mongo Role Definition.
          $ref: '#/components/schemas/MongoRoleDefinitionResource'
    MongoRoleDefinitionGetResults:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/MongoRoleDefinitionResource'
          description: Properties related to the Mongo Role Definition.
      allOf:
        - $ref: '#/components/schemas/ARMProxyResource'
      description: An Azure Cosmos DB Mongo Role Definition.
    Privilege:
      type: object
      properties:
        resource:
          type: object
          properties:
            db:
              type: string
              description: The database name the role is applied.
            collection:
              type: string
              description: The collection name the role is applied.
          description: An Azure Cosmos DB Mongo DB Resource.
        actions:
          type: array
          items:
            type: string
          description: An array of actions that are allowed.
      description: The set of data plane operations permitted through this Role Definition.
    Role:
      type: object
      properties:
        db:
          type: string
          description: The database name the role is applied.
        role:
          type: string
          description: The role name.
      description: The set of roles permitted through this Role Definition.
    MongoRoleDefinitionListResult:
      type: object
      properties:
        value:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/MongoRoleDefinitionGetResults'
          description: List of Mongo Role Definitions and their properties.
      description: The relevant Mongo Role Definitions.
    MongoUserDefinitionResource:
      type: object
      properties:
        userName:
          type: string
          description: The user name for User Definition.
        password:
          type: string
          description: The password for User Definition. Response does not contain user password.
        databaseName:
          type: string
          description: The database name for which access is being granted for this User Definition.
        customData:
          type: string
          description: A custom definition for the USer Definition.
        roles:
          type: array
          items:
            $ref: '#/components/schemas/Role'
          description: The set of roles inherited by the User Definition.
        mechanisms:
          type: string
          description: The Mongo Auth mechanism. For now, we only support auth mechanism SCRAM-SHA-256.
      description: Azure Cosmos DB Mongo User Definition resource object.
    MongoUserDefinitionCreateUpdateParameters:
      description: Parameters to create and update an Azure Cosmos DB Mongo User Definition.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          description: Properties to create and update an Azure Cosmos DB Mongo User Definition.
          $ref: '#/components/schemas/MongoUserDefinitionResource'
    MongoUserDefinitionGetResults:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/MongoUserDefinitionResource'
          description: Properties related to the User Definition.
      allOf:
        - $ref: '#/components/schemas/ARMProxyResource'
      description: An Azure Cosmos DB User Definition
    MongoUserDefinitionListResult:
      type: object
      properties:
        value:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/MongoUserDefinitionGetResults'
          description: List of User Definition and their properties
      description: The relevant User Definition.
    NotebookWorkspaceCreateUpdateParameters:
      description: Parameters to create a notebook workspace resource
      type: object
      allOf:
        - $ref: '#/components/schemas/ARMProxyResource'
    NotebookWorkspaceListResult:
      description: A list of notebook workspace resources
      type: object
      properties:
        value:
          type: array
          description: Array of notebook workspace resources
          items:
            $ref: '#/components/schemas/NotebookWorkspace'
    NotebookWorkspace:
      description: A notebook workspace resource
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/NotebookWorkspaceProperties'
          description: Resource properties.
          x-ms-client-flatten: true
      allOf:
        - $ref: '#/components/schemas/ARMProxyResource'
    NotebookWorkspaceProperties:
      description: Properties of a notebook workspace resource.
      type: object
      properties:
        notebookServerEndpoint:
          description: Specifies the endpoint of Notebook server.
          type: string
          readOnly: true
        status:
          description: 'Status of the notebook workspace. Possible values are: Creating, Online, Deleting, Failed, Updating.'
          type: string
          readOnly: true
    NotebookWorkspaceConnectionInfoResult:
      description: The connection info for the given notebook workspace
      properties:
        authToken:
          type: string
          description: Specifies auth token used for connecting to Notebook server (uses token-based auth).
          readOnly: true
        notebookServerEndpoint:
          type: string
          description: Specifies the endpoint of Notebook server.
          readOnly: true
    SqlRoleDefinitionResource:
      properties:
        roleName:
          type: string
          description: A user-friendly name for the Role Definition. Must be unique for the database account.
        type:
          type: string
          enum:
            - BuiltInRole
            - CustomRole
          description: Indicates whether the Role Definition was built-in or user created.
          x-ms-enum:
            name: RoleDefinitionType
            modelAsString: false
        assignableScopes:
          type: array
          items:
            type: string
          description: A set of fully qualified Scopes at or below which Role Assignments may be created using this Role Definition. This will allow application of this Role Definition on the entire database account or any underlying Database / Collection. Must have at least one element. Scopes higher than Database account are not enforceable as assignable Scopes. Note that resources referenced in assignable Scopes need not exist.
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/Permission'
          description: The set of operations allowed through this Role Definition.
      description: Azure Cosmos DB SQL Role Definition resource object.
    SqlRoleDefinitionCreateUpdateParameters:
      description: Parameters to create and update an Azure Cosmos DB SQL Role Definition.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          description: Properties to create and update an Azure Cosmos DB SQL Role Definition.
          $ref: '#/components/schemas/SqlRoleDefinitionResource'
    SqlRoleDefinitionGetResults:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/SqlRoleDefinitionResource'
          description: Properties related to the Role Definition.
      allOf:
        - $ref: '#/components/schemas/ARMProxyResource'
      description: An Azure Cosmos DB SQL Role Definition.
    Permission:
      type: object
      properties:
        dataActions:
          type: array
          items:
            type: string
          description: An array of data actions that are allowed.
        notDataActions:
          type: array
          items:
            type: string
          description: An array of data actions that are denied.
      description: The set of data plane operations permitted through this Role Definition.
    SqlRoleDefinitionListResult:
      properties:
        value:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/SqlRoleDefinitionGetResults'
          description: List of Role Definitions and their properties.
      description: The relevant Role Definitions.
    SqlRoleAssignmentResource:
      type: object
      properties:
        roleDefinitionId:
          type: string
          description: The unique identifier for the associated Role Definition.
        scope:
          type: string
          description: The data plane resource path for which access is being granted through this Role Assignment.
        principalId:
          type: string
          description: The unique identifier for the associated AAD principal in the AAD graph to which access is being granted through this Role Assignment. Tenant ID for the principal is inferred using the tenant associated with the subscription.
      description: Azure Cosmos DB SQL Role Assignment resource object.
    SqlRoleAssignmentCreateUpdateParameters:
      description: Parameters to create and update an Azure Cosmos DB SQL Role Assignment.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          description: Properties to create and update an Azure Cosmos DB SQL Role Assignment.
          $ref: '#/components/schemas/SqlRoleAssignmentResource'
    SqlRoleAssignmentGetResults:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/SqlRoleAssignmentResource'
          description: Properties related to the Role Assignment.
      allOf:
        - $ref: '#/components/schemas/ARMProxyResource'
      description: An Azure Cosmos DB Role Assignment
    SqlRoleAssignmentListResult:
      properties:
        value:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/SqlRoleAssignmentGetResults'
          description: List of Role Assignments and their properties
      description: The relevant Role Assignments.
    ListClusters:
      description: List of managed Cassandra clusters.
      readOnly: true
      type: object
      properties:
        value:
          description: Container for the array of clusters.
          type: array
          items:
            $ref: '#/components/schemas/ClusterResource'
    ManagedCassandraARMResourceProperties:
      type: object
      description: The core properties of ARM resources.
      properties:
        id:
          readOnly: true
          type: string
          description: The unique resource identifier of the ARM resource.
        name:
          readOnly: true
          type: string
          description: The name of the ARM resource.
        type:
          readOnly: true
          type: string
          description: The type of Azure resource.
        location:
          type: string
          description: The location of the resource group to which the resource belongs.
        tags:
          $ref: '#/components/schemas/Tags'
        identity:
          $ref: '#/components/schemas/ManagedCassandraManagedServiceIdentity'
      x-ms-azure-resource: true
    ManagedCassandraManagedServiceIdentity:
      description: Identity for the resource.
      type: object
      properties:
        principalId:
          readOnly: true
          type: string
          description: The object id of the identity resource.
        tenantId:
          readOnly: true
          type: string
          description: The tenant id of the resource.
        type:
          type: string
          description: The type of the resource.
          enum:
            - SystemAssigned
            - None
          x-ms-enum:
            name: ManagedCassandraResourceIdentityType
            modelAsString: true
    ManagedCassandraProvisioningState:
      description: The status of the resource at the time the operation was called.
      type: string
      enum:
        - Creating
        - Updating
        - Deleting
        - Succeeded
        - Failed
        - Canceled
      x-ms-enum:
        name: ManagedCassandraProvisioningState
        modelAsString: true
    ClusterResource:
      description: Representation of a managed Cassandra cluster.
      type: object
      allOf:
        - $ref: '#/components/schemas/ManagedCassandraARMResourceProperties'
      properties:
        properties:
          type: object
          description: Properties of a managed Cassandra cluster.
          properties:
            provisioningState:
              $ref: '#/components/schemas/ManagedCassandraProvisioningState'
            restoreFromBackupId:
              type: string
              x-ms-mutability:
                - create
              description: To create an empty cluster, omit this field or set it to null. To restore a backup into a new cluster, set this field to the resource id of the backup.
            delegatedManagementSubnetId:
              type: string
              x-ms-mutability:
                - create
                - read
              description: Resource id of a subnet that this cluster's management service should have its network interface attached to. The subnet must be routable to all subnets that will be delegated to data centers. The resource id must be of the form '/subscriptions/<subscription id>/resourceGroups/<resource group>/providers/Microsoft.Network/virtualNetworks/<virtual network>/subnets/<subnet>'
            cassandraVersion:
              type: string
              description: Which version of Cassandra should this cluster converge to running (e.g., 3.11). When updated, the cluster may take some time to migrate to the new version.
            clusterNameOverride:
              type: string
              x-ms-mutability:
                - create
                - read
              description: If you need to set the clusterName property in cassandra.yaml to something besides the resource name of the cluster, set the value to use on this property.
            authenticationMethod:
              type: string
              description: Which authentication method Cassandra should use to authenticate clients. 'None' turns off authentication, so should not be used except in emergencies. 'Cassandra' is the default password based authentication. The default is 'Cassandra'.
              enum:
                - None
                - Cassandra
                - Ldap
              x-ms-enum:
                name: AuthenticationMethod
                modelAsString: true
            initialCassandraAdminPassword:
              x-ms-mutability:
                - create
              x-ms-secret: true
              description: Initial password for clients connecting as admin to the cluster. Should be changed after cluster creation. Returns null on GET. This field only applies when the authenticationMethod field is 'Cassandra'.
              type: string
            prometheusEndpoint:
              $ref: '#/components/schemas/SeedNode'
              description: Hostname or IP address where the Prometheus endpoint containing data about the managed Cassandra nodes can be reached.
            repairEnabled:
              type: boolean
              description: Should automatic repairs run on this cluster? If omitted, this is true, and should stay true unless you are running a hybrid cluster where you are already doing your own repairs.
            autoReplicate:
              type: string
              description: The form of AutoReplicate that is being used by this cluster.
              enum:
                - None
                - SystemKeyspaces
                - AllKeyspaces
              x-ms-enum:
                name: AutoReplicate
                modelAsString: true
            clientCertificates:
              description: List of TLS certificates used to authorize clients connecting to the cluster. All connections are TLS encrypted whether clientCertificates is set or not, but if clientCertificates is set, the managed Cassandra cluster will reject all connections not bearing a TLS client certificate that can be validated from one or more of the public certificates in this property.
              type: array
              items:
                $ref: '#/components/schemas/Certificate'
            externalGossipCertificates:
              description: List of TLS certificates used to authorize gossip from unmanaged data centers. The TLS certificates of all nodes in unmanaged data centers must be verifiable using one of the certificates provided in this property.
              type: array
              items:
                $ref: '#/components/schemas/Certificate'
            gossipCertificates:
              readOnly: true
              x-ms-mutability:
                - read
              description: List of TLS certificates that unmanaged nodes must trust for gossip with managed nodes. All managed nodes will present TLS client certificates that are verifiable using one of the certificates provided in this property.
              type: array
              items:
                $ref: '#/components/schemas/Certificate'
            externalSeedNodes:
              type: array
              description: List of IP addresses of seed nodes in unmanaged data centers. These will be added to the seed node lists of all managed nodes.
              items:
                $ref: '#/components/schemas/SeedNode'
            seedNodes:
              readOnly: true
              type: array
              items:
                $ref: '#/components/schemas/SeedNode'
              description: List of IP addresses of seed nodes in the managed data centers. These should be added to the seed node lists of all unmanaged nodes.
            externalDataCenters:
              type: array
              description: List of the data center names for unmanaged data centers in this cluster to be included in auto-replication.
              items:
                type: string
            hoursBetweenBackups:
              type: integer
              format: int32
              description: (Deprecated) Number of hours to wait between taking a backup of the cluster.
            deallocated:
              type: boolean
              description: Whether the cluster and associated data centers has been deallocated.
            cassandraAuditLoggingEnabled:
              type: boolean
              description: Whether Cassandra audit logging is enabled
            clusterType:
              type: string
              description: Type of the cluster. If set to Production, some operations might not be permitted on cluster.
              enum:
                - Production
                - NonProduction
              x-ms-enum:
                name: ClusterType
                modelAsString: true
            provisionError:
              $ref: '#/components/schemas/CassandraError'
              description: Error related to resource provisioning.
            extensions:
              type: array
              description: Extensions to be added or updated on cluster.
              items:
                type: string
            backupSchedules:
              type: array
              items:
                $ref: '#/components/schemas/BackupSchedule'
              description: List of backup schedules that define when you want to back up your data.
            scheduledEventStrategy:
              type: string
              description: How the nodes in the cluster react to scheduled events
              enum:
                - Ignore
                - StopAny
                - StopByRack
              x-ms-enum:
                name: ScheduledEventStrategy
                modelAsString: true
            azureConnectionMethod:
              type: string
              description: How to connect to the azure services needed for running the cluster
              enum:
                - None
                - VPN
              x-ms-enum:
                name: AzureConnectionType
                modelAsString: true
            privateLinkResourceId:
              type: string
              readOnly: true
              description: If the Connection Method is Vpn, this is the Id of the private link resource that the datacenters need to connect to.
    ManagedCassandraNodeStatus:
      type: string
      description: Indicates whether the node is functioning or not.
      enum:
        - Up
        - Down
      x-ms-enum:
        name: NodeStatus
        modelAsString: true
    ManagedCassandraNodeState:
      type: string
      description: The state of the node in Cassandra ring.
      enum:
        - Normal
        - Leaving
        - Joining
        - Moving
        - Stopped
      x-ms-enum:
        name: NodeState
        modelAsString: true
    CassandraClusterPublicStatus:
      type: object
      description: Properties of a managed Cassandra cluster public status.
      properties:
        eTag:
          type: string
        reaperStatus:
          $ref: '#/components/schemas/ManagedCassandraReaperStatus'
        connectionErrors:
          type: array
          description: List relevant information about any connection errors to the Datacenters.
          items:
            $ref: '#/components/schemas/ConnectionError'
        errors:
          type: array
          description: List relevant information about any errors about cluster, data center and connection error.
          items:
            $ref: '#/components/schemas/CassandraError'
        dataCenters:
          type: array
          description: List of the status of each datacenter in this cluster.
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of this Datacenter.
              seedNodes:
                type: array
                description: A list of all seed nodes in the cluster, managed and unmanaged.
                items:
                  type: string
              nodes:
                type: array
                items:
                  type: object
                  properties:
                    address:
                      type: string
                      description: The node's IP address.
                    state:
                      $ref: '#/components/schemas/ManagedCassandraNodeState'
                    status:
                      type: string
                    cassandraProcessStatus:
                      type: string
                      description: Cassandra service status on this node
                    load:
                      type: string
                      description: The amount of file system data in the data directory (e.g., 47.66 kB), excluding all content in the snapshots subdirectories. Because all SSTable data files are included, any data that is not cleaned up (such as TTL-expired cells or tombstones) is counted.
                    tokens:
                      type: array
                      description: List of tokens this node covers.
                      items:
                        type: string
                    size:
                      type: integer
                      format: int32
                    hostID:
                      description: The network ID of the node.
                      type: string
                    rack:
                      description: The rack this node is part of.
                      type: string
                    timestamp:
                      description: The timestamp when these statistics were captured.
                      type: string
                    diskUsedKB:
                      description: The amount of disk used, in kB, of the directory /var/lib/cassandra.
                      type: integer
                      format: int64
                    diskFreeKB:
                      description: The amount of disk free, in kB, of the directory /var/lib/cassandra.
                      type: integer
                      format: int64
                    memoryUsedKB:
                      description: Used memory (calculated as total - free - buffers - cache), in kB.
                      type: integer
                      format: int64
                    memoryBuffersAndCachedKB:
                      description: Memory used by kernel buffers (Buffers in /proc/meminfo) and page cache and slabs (Cached and SReclaimable in /proc/meminfo), in kB.
                      type: integer
                      format: int64
                    memoryFreeKB:
                      description: Unused memory (MemFree and SwapFree in /proc/meminfo), in kB.
                      type: integer
                      format: int64
                    memoryTotalKB:
                      description: Total installed memory (MemTotal and SwapTotal in /proc/meminfo), in kB.
                      type: integer
                      format: int64
                    cpuUsage:
                      description: A float representing the current system-wide CPU utilization as a percentage.
                      type: number
                      format: double
                    isLatestModel:
                      type: boolean
                      description: If node has been updated to latest model
    ManagedCassandraReaperStatus:
      type: object
      properties:
        healthy:
          type: boolean
        repairRunIds:
          type: object
          additionalProperties:
            type: string
        repairSchedules:
          type: object
          additionalProperties:
            type: string
    ConnectionError:
      type: object
      properties:
        connectionState:
          description: The kind of connection error that occurred.
          type: string
          enum:
            - Unknown
            - OK
            - OperatorToDataCenterNetworkError
            - DatacenterToDatacenterNetworkError
            - InternalOperatorToDataCenterCertificateError
            - InternalError
          x-ms-enum:
            name: ConnectionState
            modelAsString: true
        iPFrom:
          description: The IP of host that originated the failed connection.
          type: string
        iPTo:
          description: The IP that the connection attempted to reach.
          type: string
        port:
          description: The TCP port the connection was attempted on.
          type: integer
          format: int32
        exception:
          description: Detailed error message about the failed connection.
          type: string
    CassandraError:
      type: object
      properties:
        code:
          description: The code of error that occurred.
          type: string
        message:
          description: The message of the error.
          type: string
        target:
          description: The target resource of the error.
          type: string
        additionalErrorInfo:
          description: Additional information about the error.
          type: string
    CommandPostBody:
      description: Specification of which command to run where
      type: object
      required:
        - command
        - host
      properties:
        command:
          type: string
          description: The command which should be run
        arguments:
          type: object
          description: The arguments for the command to be run
        host:
          type: string
          description: IP address of the cassandra host to run the command on
        cassandra-stop-start:
          type: boolean
          description: If true, stops cassandra before executing the command and then start it again
        readWrite:
          type: boolean
          description: If true, allows the command to *write* to the cassandra directory, otherwise read-only.
    CommandPublicResource:
      description: resource representing a command
      type: object
      properties:
        command:
          type: string
          description: The command which should be run
        commandId:
          type: string
          description: The unique id of command
        arguments:
          type: object
          description: The arguments for the command to be run
        host:
          type: string
          description: IP address of the cassandra host to run the command on
        isAdmin:
          type: boolean
          description: Whether command has admin privileges
        cassandraStopStart:
          type: boolean
          description: If true, stops cassandra before executing the command and then start it again
        readWrite:
          type: boolean
          description: If true, allows the command to *write* to the cassandra directory, otherwise read-only.
        result:
          type: string
          description: Result output of the command.
        status:
          type: string
          description: Status of the command.
          enum:
            - Done
            - Running
            - Enqueue
            - Processing
            - Finished
            - Failed
          x-ms-enum:
            name: CommandStatus
            modelAsString: true
        outputFile:
          type: string
          description: The name of the file where the result is written.
    ListCommands:
      description: List of commands for cluster.
      type: object
      properties:
        value:
          description: Container for array of commands.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/CommandPublicResource'
    CommandOutput:
      description: Response of /command api
      type: object
      properties:
        commandOutput:
          type: string
          description: Output of the command.
    ListDataCenters:
      description: List of managed Cassandra data centers and their properties.
      type: object
      properties:
        value:
          description: Container for array of data centers.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/DataCenterResource'
    BackupResource:
      description: A restorable backup of a Cassandra cluster.
      type: object
      properties:
        backupId:
          description: The unique identifier of backup.
          type: string
        backupState:
          description: The current state of the backup.
          type: string
          enum:
            - Initiated
            - InProgress
            - Succeeded
            - Failed
          x-ms-enum:
            name: BackupState
            modelAsString: true
        backupStartTimestamp:
          description: The time at which the backup process begins.
          type: string
          format: date-time
        backupStopTimestamp:
          description: The time at which the backup process ends.
          type: string
          format: date-time
        backupExpiryTimestamp:
          description: The time at which the backup will expire.
          type: string
          format: date-time
    ListBackups:
      description: List of restorable backups for a Cassandra cluster.
      type: object
      properties:
        value:
          description: Container for array of backups.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/BackupResource'
    SeedNode:
      type: object
      properties:
        ipAddress:
          description: IP address of this seed node.
          type: string
    Certificate:
      type: object
      properties:
        pem:
          description: PEM formatted public key.
          type: string
    BackupSchedule:
      type: object
      properties:
        scheduleName:
          description: The unique identifier of backup schedule.
          type: string
        cronExpression:
          description: The cron expression that defines when you want to back up your data.
          type: string
        retentionInHours:
          description: The retention period (hours) of the backups. If you want to retain data forever, set retention to 0.
          type: integer
          format: int32
    DataCenterResource:
      description: A managed Cassandra data center.
      type: object
      allOf:
        - $ref: '#/components/schemas/ARMProxyResource'
      properties:
        properties:
          description: Properties of a managed Cassandra data center.
          type: object
          properties:
            provisioningState:
              $ref: '#/components/schemas/ManagedCassandraProvisioningState'
            dataCenterLocation:
              type: string
              x-ms-mutability:
                - create
                - read
              description: The region this data center should be created in.
            delegatedSubnetId:
              type: string
              x-ms-mutability:
                - create
                - read
              description: Resource id of a subnet the nodes in this data center should have their network interfaces connected to. The subnet must be in the same region specified in 'dataCenterLocation' and must be able to route to the subnet specified in the cluster's 'delegatedManagementSubnetId' property. This resource id will be of the form '/subscriptions/<subscription id>/resourceGroups/<resource group>/providers/Microsoft.Network/virtualNetworks/<virtual network>/subnets/<subnet>'.
            nodeCount:
              type: integer
              format: int32
              description: The number of nodes the data center should have. This is the desired number. After it is set, it may take some time for the data center to be scaled to match. To monitor the number of nodes and their status, use the fetchNodeStatus method on the cluster.
            seedNodes:
              readOnly: true
              type: array
              description: IP addresses for seed nodes in this data center. This is for reference. Generally you will want to use the seedNodes property on the cluster, which aggregates the seed nodes from all data centers in the cluster.
              items:
                $ref: '#/components/schemas/SeedNode'
            base64EncodedCassandraYamlFragment:
              type: string
              description: A fragment of a cassandra.yaml configuration file to be included in the cassandra.yaml for all nodes in this data center. The fragment should be Base64 encoded, and only a subset of keys are allowed.
            managedDiskCustomerKeyUri:
              type: string
[...]
