openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  title: HybridComputeManagementClient
  description: The Hybrid Compute Management Client.
  version: 2023-10-03-preview
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Resource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
        systemData:
          readOnly: true
          type: object
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
          $ref: '#/components/schemas/systemData'
      x-ms-azure-resource: true
    AzureEntityResource:
      x-ms-client-name: AzureEntityResource
      title: Entity Resource
      description: The resource model definition for an Azure Resource Manager resource with an etag.
      type: object
      properties:
        etag:
          type: string
          readOnly: true
          description: Resource Etag.
      allOf:
        - $ref: '#/components/schemas/Resource'
    TrackedResource:
      title: Tracked Resource
      description: The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
            - read
            - create
            - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
            - read
            - create
          description: The geo-location where the resource lives
      required:
        - location
      allOf:
        - $ref: '#/components/schemas/Resource'
    ProxyResource:
      title: Proxy Resource
      description: The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a location
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
    ResourceModelWithAllowedPropertySet:
      description: The resource model definition containing the full set of allowed properties for a resource. Except properties bag, there cannot be a top level property outside of this set.
      type: object
      properties:
        managedBy:
          type: string
          x-ms-mutability:
            - read
            - create
            - update
          description: The fully qualified resource ID of the resource that manages this resource. Indicates if this resource is managed by another Azure resource. If this is present, complete mode deployment will not delete the resource if it is removed from the template since it is managed by another resource.
        kind:
          type: string
          x-ms-mutability:
            - read
            - create
          description: Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value.
          pattern: ^[-\w\._,\(\)]+$
        etag:
          readOnly: true
          type: string
          description: 'The etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields. '
        identity:
          allOf:
            - $ref: '#/components/schemas/Identity'
        sku:
          allOf:
            - $ref: '#/components/schemas/Sku'
        plan:
          allOf:
            - $ref: '#/components/schemas/Plan'
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      x-ms-azure-resource: true
    Sku:
      description: The resource model definition representing SKU
      type: object
      properties:
        name:
          type: string
          description: The name of the SKU. Ex - P3. It is typically a letter+number code
        tier:
          $ref: '#/components/schemas/SkuTier'
        size:
          type: string
          description: 'The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. '
        family:
          type: string
          description: If the service has different generations of hardware, for the same SKU, then that can be captured here.
        capacity:
          type: integer
          format: int32
          description: If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted.
      required:
        - name
    Identity:
      description: Identity for the resource.
      type: object
      properties:
        principalId:
          readOnly: true
          type: string
          description: The principal ID of resource identity.
        tenantId:
          readOnly: true
          type: string
          description: The tenant ID of resource.
        type:
          type: string
          description: The identity type.
          enum:
            - SystemAssigned
          x-ms-enum:
            name: ResourceIdentityType
            modelAsString: false
    Plan:
      type: object
      properties:
        name:
          type: string
          description: A user defined name of the 3rd Party Artifact that is being procured.
        publisher:
          type: string
          description: The publisher of the 3rd Party Artifact that is being bought. E.g. NewRelic
        product:
          type: string
          description: 'The 3rd Party artifact that is being procured. E.g. NewRelic. Product maps to the OfferID specified for the artifact at the time of Data Market onboarding. '
        promotionCode:
          type: string
          description: A publisher provided promotion code as provisioned in Data Market for the said product/artifact.
        version:
          type: string
          description: The version of the desired product/artifact.
      description: Plan for the resource.
      required:
        - name
        - publisher
        - product
    ErrorResponse:
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).
      type: object
      properties:
        error:
          description: The error object.
          $ref: '#/components/schemas/ErrorDetail'
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    Operation:
      title: REST API Operation
      description: Details of a REST API operation, returned from the Resource Provider Operations API
      type: object
      properties:
        name:
          description: 'The name of the operation, as per Resource-Based Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write", "Microsoft.Compute/virtualMachines/capture/action"'
          type: string
          readOnly: true
        isDataAction:
          description: Whether the operation applies to data-plane. This is "true" for data-plane operations and "false" for ARM/control-plane operations.
          type: boolean
          readOnly: true
        display:
          description: Localized display information for this particular operation.
          type: object
          properties:
            provider:
              description: The localized friendly form of the resource provider name, e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".
              type: string
              readOnly: true
            resource:
              description: The localized friendly name of the resource type related to this operation. E.g. "Virtual Machines" or "Job Schedule Collections".
              type: string
              readOnly: true
            operation:
              description: The concise, localized friendly name for the operation; suitable for dropdowns. E.g. "Create or Update Virtual Machine", "Restart Virtual Machine".
              type: string
              readOnly: true
            description:
              description: The short, localized friendly description of the operation; suitable for tool tips and detailed views.
              type: string
              readOnly: true
        origin:
          description: The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is "user,system"
          type: string
          readOnly: true
          enum:
            - user
            - system
            - user,system
          x-ms-enum:
            name: Origin
            modelAsString: true
        actionType:
          description: Enum. Indicates the action type. "Internal" refers to actions that are for internal only APIs.
          type: string
          readOnly: true
          enum:
            - Internal
          x-ms-enum:
            name: ActionType
            modelAsString: true
    OperationListResult:
      description: A list of REST API operations supported by an Azure Resource Provider. It contains an URL link to get the next set of results.
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Operation'
          x-ms-identifiers:
            - name
          description: List of operations supported by the resource provider
          readOnly: true
        nextLink:
          type: string
          description: URL to get the next set of operation list results (if there are any).
          readOnly: true
    locationData:
      description: Metadata pertaining to the geographic location of the resource.
      type: object
      properties:
        name:
          type: string
          maxLength: 256
          description: A canonical name for the geographic or physical location.
        city:
          type: string
          description: The city or locality where the resource is located.
        district:
          type: string
          description: The district, state, or province where the resource is located.
        countryOrRegion:
          type: string
          description: The country or region where the resource is located
      required:
        - name
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
    encryptionProperties:
      description: Configuration of key for data encryption
      type: object
      properties:
        status:
          description: Indicates whether or not the encryption is enabled for container registry.
          enum:
            - enabled
            - disabled
          type: string
          x-ms-enum:
            name: EncryptionStatus
            modelAsString: true
        keyVaultProperties:
          $ref: '#/components/schemas/KeyVaultProperties'
          description: Key vault properties.
    KeyVaultProperties:
      type: object
      properties:
        keyIdentifier:
          description: Key vault uri to access the encryption key.
          type: string
        identity:
          description: The client ID of the identity which will be used to access key vault.
          type: string
    ExtensionValueListResult:
      type: object
      properties:
        value:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ExtensionValue'
          description: The list of extension metadata
          x-ms-identifiers: []
      description: The List Extension Metadata response.
    ExtensionValue:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ExtensionValueProperties'
          description: The single extension based on search criteria
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      description: Describes a Extension Metadata
    ExtensionValueProperties:
      type: object
      properties:
        version:
          type: string
          readOnly: true
          description: The version of the Extension being received.
        extensionType:
          type: string
          readOnly: true
          description: The type of the Extension being received.
        publisher:
          type: string
          readOnly: true
          description: The publisher of the Extension being received.
      description: Describes Extension Metadata properties
    OperationValue:
      type: object
      properties:
        origin:
          type: string
          readOnly: true
          description: The origin of the compute operation.
        name:
          type: string
          readOnly: true
          description: The name of the compute operation.
        display:
          $ref: '#/components/schemas/OperationValueDisplay'
          description: Display properties
        isDataAction:
          type: boolean
          readOnly: true
          description: This property indicates if the operation is an action or a data action
      description: Describes the properties of a Compute Operation value.
    OperationValueDisplay:
      type: object
      properties:
        operation:
          type: string
          readOnly: true
          description: The display name of the compute operation.
        resource:
          type: string
          readOnly: true
          description: The display name of the resource the operation applies to.
        description:
          type: string
          readOnly: true
          description: The description of the operation.
        provider:
          type: string
          readOnly: true
          description: The resource provider for the operation.
      description: Describes the properties of a Hybrid Compute Operation Value Display.
    PatchSettings:
      type: object
      properties:
        assessmentMode:
          type: string
          description: Specifies the assessment mode.
          enum:
            - ImageDefault
            - AutomaticByPlatform
          x-ms-enum:
            name: AssessmentModeTypes
            modelAsString: true
        patchMode:
          type: string
          description: Specifies the patch mode.
          enum:
            - ImageDefault
            - AutomaticByPlatform
            - AutomaticByOS
            - Manual
          x-ms-enum:
            name: PatchModeTypes
            modelAsString: true
      description: Specifies the patch settings.
    AgentConfiguration:
      type: object
      readOnly: true
      properties:
        proxyUrl:
          type: string
          readOnly: true
          description: Specifies the URL of the proxy to be used.
        incomingConnectionsPorts:
          type: array
          readOnly: true
          description: Specifies the list of ports that the agent will be able to listen on.
          items:
            type: string
        extensionsAllowList:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ConfigurationExtension'
          description: Array of extensions that are allowed to be installed or updated.
          x-ms-identifiers: []
        extensionsBlockList:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ConfigurationExtension'
          description: Array of extensions that are blocked (cannot be installed or updated)
          x-ms-identifiers: []
        proxyBypass:
          type: array
          readOnly: true
          description: List of service names which should not use the specified proxy server.
          items:
            type: string
        extensionsEnabled:
          type: string
          readOnly: true
          description: Specifies whether the extension service is enabled or disabled.
        guestConfigurationEnabled:
          type: string
          readOnly: true
          description: Specified whether the guest configuration service is enabled or disabled.
        configMode:
          type: string
          readOnly: true
          description: Name of configuration mode to use. Modes are pre-defined configurations of security controls, extension allowlists and guest configuration, maintained by Microsoft.
          enum:
            - full
            - monitor
          x-ms-enum:
            name: agent configuration mode
            modelAsString: true
      description: Configurable properties that the user can set locally via the azcmagent config command, or remotely via ARM.
    ConfigurationExtension:
      type: object
      properties:
        publisher:
          type: string
          readOnly: true
          description: Publisher of the extension.
        type:
          type: string
          readOnly: true
          description: Type of the extension.
      description: Describes properties that can identify extensions.
    ServiceStatuses:
      type: object
      properties:
        extensionService:
          $ref: '#/components/schemas/ServiceStatus'
          description: The state of the extension service on the Arc-enabled machine.
        guestConfigurationService:
          $ref: '#/components/schemas/ServiceStatus'
          description: The state of the guest configuration service on the Arc-enabled machine.
      description: Reports the state and behavior of dependent services.
    ServiceStatus:
      type: object
      properties:
        status:
          type: string
          description: The current status of the service.
        startupType:
          type: string
          description: The behavior of the service when the Arc-enabled machine starts up.
      description: Describes the status and behavior of a service.
    CloudMetadata:
      type: object
      properties:
        provider:
          type: string
          readOnly: true
          description: Specifies the cloud provider (Azure/AWS/GCP...).
      description: The metadata of the cloud environment (Azure/GCP/AWS/OCI...).
    AgentUpgrade:
      type: object
      properties:
        desiredVersion:
          type: string
          description: Specifies the version info w.r.t AgentUpgrade for the machine.
        correlationId:
          type: string
          description: The correlation ID passed in from RSM per upgrade.
        enableAutomaticUpgrade:
          type: boolean
          description: Specifies if RSM should try to upgrade this machine
        lastAttemptDesiredVersion:
          type: string
          readOnly: true
          description: Specifies the version of the last attempt
        lastAttemptTimestamp:
          type: string
          readOnly: true
          description: Timestamp of last upgrade attempt
        lastAttemptStatus:
          type: string
          readOnly: true
          enum:
            - Success
            - Failed
          x-ms-enum:
            name: LastAttemptStatusEnum
            modelAsString: true
          description: Specifies the status of Agent Upgrade.
        lastAttemptMessage:
          type: string
          readOnly: true
          description: Failure message of last upgrade attempt if any.
      description: The info w.r.t Agent Upgrade.
    OSProfile:
      type: object
      properties:
        computerName:
          type: string
          readOnly: true
          description: Specifies the host OS name of the hybrid machine.
        windowsConfiguration:
          type: object
          properties:
            patchSettings:
              x-ms-client-flatten: true
              $ref: '#/components/schemas/PatchSettings'
          description: Specifies the windows configuration for update management.
        linuxConfiguration:
          type: object
          properties:
            patchSettings:
              x-ms-client-flatten: true
              $ref: '#/components/schemas/PatchSettings'
          description: Specifies the linux configuration for update management.
      description: Specifies the operating system settings for the hybrid machine.
    DetectedProperties:
      readOnly: true
      type: object
      additionalProperties:
        type: string
      description: Detected properties from the machine.
    MachineProperties:
      type: object
      properties:
        locationData:
          $ref: '#/components/schemas/locationData'
        agentConfiguration:
          $ref: '#/components/schemas/AgentConfiguration'
          description: Configurable properties that the user can set locally via the azcmagent config command, or remotely via ARM.
        serviceStatuses:
          $ref: '#/components/schemas/ServiceStatuses'
          description: Statuses of dependent services that are reported back to ARM.
        cloudMetadata:
          $ref: '#/components/schemas/CloudMetadata'
          description: The metadata of the cloud environment (Azure/GCP/AWS/OCI...).
        agentUpgrade:
          $ref: '#/components/schemas/AgentUpgrade'
          description: The info of the machine w.r.t Agent Upgrade
        osProfile:
          $ref: '#/components/schemas/OSProfile'
          description: Specifies the operating system settings for the hybrid machine.
        licenseProfile:
          $ref: '#/components/schemas/LicenseProfileMachineInstanceView'
          description: Specifies the License related properties for a machine.
        provisioningState:
          readOnly: true
          type: string
          description: The provisioning state, which only appears in the response.
        status:
          readOnly: true
          type: string
          description: The status of the hybrid machine agent.
          enum:
            - Connected
            - Disconnected
            - Error
          x-ms-enum:
            name: StatusTypes
            modelAsString: true
        lastStatusChange:
          readOnly: true
          type: string
          format: date-time
          description: The time of the last status change.
        errorDetails:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Details about the error state.
          x-ms-identifiers: []
        agentVersion:
          readOnly: true
          type: string
          description: The hybrid machine agent full version.
        vmId:
          type: string
          x-ms-mutability:
            - read
            - create
          description: Specifies the hybrid machine unique ID.
        displayName:
          readOnly: true
          type: string
          description: Specifies the hybrid machine display name.
        machineFqdn:
          readOnly: true
          type: string
          description: Specifies the hybrid machine FQDN.
        clientPublicKey:
          type: string
          description: Public Key that the client provides to be used during initial resource onboarding
        osName:
          readOnly: true
          type: string
          description: The Operating System running on the hybrid machine.
        osVersion:
          readOnly: true
          type: string
          description: The version of Operating System running on the hybrid machine.
        osType:
          type: string
          description: The type of Operating System (windows/linux).
        vmUuid:
          readOnly: true
          type: string
          description: Specifies the Arc Machine's unique SMBIOS ID
        extensions:
          type: array
          items:
            $ref: '#/components/schemas/MachineExtensionInstanceView'
          description: Machine Extensions information (deprecated field)
          x-ms-identifiers: []
        osSku:
          readOnly: true
          type: string
          description: Specifies the Operating System product SKU.
        osEdition:
          readOnly: true
          type: string
          description: The edition of the Operating System.
        domainName:
          readOnly: true
          type: string
          description: Specifies the Windows domain name.
        adFqdn:
          readOnly: true
          type: string
          description: Specifies the AD fully qualified display name.
        dnsFqdn:
          readOnly: true
          type: string
          description: Specifies the DNS fully qualified display name.
        privateLinkScopeResourceId:
          type: string
          description: The resource id of the private link scope this machine is assigned to, if any.
        parentClusterResourceId:
          type: string
          description: The resource id of the parent cluster (Azure HCI) this machine is assigned to, if any.
        mssqlDiscovered:
          type: string
          description: Specifies whether any MS SQL instance is discovered on the machine.
        detectedProperties:
          $ref: '#/components/schemas/DetectedProperties'
          description: Detected properties from the machine.
        networkProfile:
          $ref: '#/components/schemas/NetworkProfile'
          description: Information about the network the machine is on.
      description: Describes the properties of a hybrid machine.
    MachineUpdateProperties:
      type: object
      properties:
        locationData:
          $ref: '#/components/schemas/locationData'
        osProfile:
          $ref: '#/components/schemas/OSProfile'
        cloudMetadata:
          $ref: '#/components/schemas/CloudMetadata'
          description: The metadata of the cloud environment (Azure/GCP/AWS/OCI...).
        agentUpgrade:
          $ref: '#/components/schemas/AgentUpgrade'
          description: The info of the machine w.r.t Agent Upgrade
        parentClusterResourceId:
          type: string
          description: The resource id of the parent cluster (Azure HCI) this machine is assigned to, if any.
        privateLinkScopeResourceId:
          type: string
          description: The resource id of the private link scope this machine is assigned to, if any.
      description: Describes the ARM updatable properties of a hybrid machine.
    Machine:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/MachineProperties'
          description: Hybrid Compute Machine properties
        resources:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/MachineExtension'
          description: The list of extensions affiliated to the machine
        identity:
          $ref: '#/components/schemas/Identity'
        kind:
          $ref: '#/components/schemas/ArcKindEnum'
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: Describes a hybrid machine.
    ArcKindEnum:
      type: string
      description: Indicates which kind of Arc machine placement on-premises, such as HCI, SCVMM or VMware etc.
      enum:
        - AVS
        - HCI
        - SCVMM
        - VMware
        - EPS
        - GCP
        - AWS
      x-ms-enum:
        name: 'ArcKindEnum '
        modelAsString: true
    MachineUpdate:
      type: object
      properties:
        identity:
          $ref: '#/components/schemas/Identity'
        kind:
          $ref: '#/components/schemas/ArcKindEnum'
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/MachineUpdateProperties'
          description: Hybrid Compute Machine properties
      allOf:
        - $ref: '#/components/schemas/ResourceUpdate'
      description: Describes a hybrid machine Update.
    MachineListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Machine'
          description: The list of hybrid machines.
        nextLink:
          type: string
          description: The URI to fetch the next page of Machines. Call ListNext() with this URI to fetch the next page of hybrid machines.
      required:
        - value
      description: The List hybrid machine operation response.
    ProvisioningState:
      readOnly: true
      type: string
      enum:
        - Creating
        - Updating
        - Deleting
        - Succeeded
        - Failed
        - Accepted
        - Canceled
        - Deleted
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
      description: The provisioning state, which only appears in the response.
    License:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/LicenseProperties'
          description: Hybrid Compute License properties
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: Describes a license in a hybrid machine.
    LicenseProperties:
      type: object
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state, which only appears in the response.
        tenantId:
          type: string
          description: Describes the tenant id.
        licenseType:
          $ref: '#/components/schemas/LicenseType'
          description: The type of the license resource.
        licenseDetails:
          $ref: '#/components/schemas/LicenseDetails'
          description: Describes the properties of a License.
      description: Describes the properties of a License Profile.
    LicenseUpdate:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/LicenseUpdateProperties'
          description: License Update properties
      allOf:
        - $ref: '#/components/schemas/ResourceUpdate'
      description: Describes a License Update.
    LicenseUpdateProperties:
      type: object
      properties:
        licenseType:
          $ref: '#/components/schemas/LicenseType'
          description: The type of the license resource.
        licenseDetails:
          x-ms-client-flatten: true
          type: object
          properties:
            state:
              $ref: '#/components/schemas/LicenseState'
            target:
              $ref: '#/components/schemas/LicenseTarget'
            edition:
              $ref: '#/components/schemas/LicenseEdition'
            type:
              $ref: '#/components/schemas/LicenseCoreType'
            processors:
              type: integer
              format: int32
              description: Describes the number of processors.
      description: Describes the Update properties of a License Profile.
    LicenseDetails:
      type: object
      properties:
        state:
          $ref: '#/components/schemas/LicenseState'
        target:
          $ref: '#/components/schemas/LicenseTarget'
        edition:
          $ref: '#/components/schemas/LicenseEdition'
        type:
          $ref: '#/components/schemas/LicenseCoreType'
        processors:
          type: integer
          format: int32
          description: Describes the number of processors.
        assignedLicenses:
          readOnly: true
          type: integer
          format: int32
          description: Describes the number of assigned licenses.
        immutableId:
          readOnly: true
          type: string
          description: Describes the immutable id.
      description: Describes the properties of a License.
    LicenseType:
      type: string
      enum:
        - ESU
      x-ms-enum:
        name: LicenseType
        modelAsString: true
      description: The type of the license resource.
    LicenseState:
      type: string
      enum:
        - Activated
        - Deactivated
      x-ms-enum:
        name: LicenseState
        modelAsString: true
      description: Describes the state of the license.
    LicenseEdition:
      type: string
      enum:
        - Standard
        - Datacenter
      x-ms-enum:
        name: LicenseEdition
        modelAsString: true
      description: Describes the edition of the license. The values are either Standard or Datacenter.
    LicenseTarget:
      type: string
      enum:
        - Windows Server 2012
        - Windows Server 2012 R2
      x-ms-enum:
        name: LicenseTarget
        modelAsString: true
      description: Describes the license target server.
    LicenseCoreType:
      type: string
      enum:
        - pCore
        - vCore
      x-ms-enum:
        name: LicenseCoreType
        modelAsString: true
      description: Describes the license core type (pCore or vCore).
    LicensesListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/License'
          description: The list of licenses.
        nextLink:
          type: string
          description: The URI to fetch the next page of Machines. Call ListNext() with this URI to fetch the next page of license profile.
      required:
        - value
      description: The List license operation response.
    LicenseProfile:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          type: object
          properties:
            softwareAssurance:
              x-ms-client-flatten: true
              type: object
              properties:
                softwareAssuranceCustomer:
                  type: boolean
                  description: Specifies if this machine is licensed as part of a Software Assurance agreement.
            esuProfile:
              x-ms-client-flatten: true
              $ref: '#/components/schemas/LicenseProfileArmEsuProperties'
              description: Hybrid Compute ESU Profile properties
            productProfile:
              x-ms-client-flatten: true
              $ref: '#/components/schemas/LicenseProfileArmProductProfileProperties'
              description: Hybrid Compute Product Profile properties
            provisioningState:
              $ref: '#/components/schemas/ProvisioningState'
              description: The provisioning state, which only appears in the response.
          description: Describe the properties of a license profile.
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: Describes a license profile in a hybrid machine.
    LicenseProfileUpdate:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          type: object
          properties:
            softwareAssurance:
              x-ms-client-flatten: true
              type: object
              properties:
                softwareAssuranceCustomer:
                  type: boolean
                  description: Specifies if this machine is licensed as part of a Software Assurance agreement.
            esuProfile:
              x-ms-client-flatten: true
              $ref: '#/components/schemas/EsuProfileUpdateProperties'
              description: Hybrid Compute ESU Profile Update properties
            productProfile:
              x-ms-client-flatten: true
              $ref: '#/components/schemas/ProductProfileUpdateProperties'
              description: Hybrid Compute Product Profile Update properties
          description: Describe the Update properties of a license profile.
      allOf:
        - $ref: '#/components/schemas/ResourceUpdate'
      description: Describes a License Profile Update.
    LicenseProfilesListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/LicenseProfile'
          description: The list of license profiles.
        nextLink:
          type: string
          description: The URI to fetch the next page of Machines. Call ListNext() with this URI to fetch the next page of license profile.
      required:
        - value
      description: The List hybrid machine license profile operation response.
    EsuServerType:
      type: string
      enum:
        - Standard
        - Datacenter
      x-ms-enum:
        name: EsuServerType
        modelAsString: true
      description: The server types for Esu.
    EsuEligibility:
      type: string
      enum:
        - Eligible
        - Ineligible
        - Unknown
      x-ms-enum:
        name: EsuEligibility
        modelAsString: true
      description: The ESU eligibility.
    EsuKey:
      type: object
      properties:
        sku:
          type: string
          description: SKU number.
        licenseStatus:
          type: string
          description: The current status of the license profile key.
      description: ESU key
    EsuKeyState:
      type: string
      enum:
        - Inactive
        - Active
      x-ms-enum:
        name: EsuKeyState
        modelAsString: true
      description: The ESU key state.
    LicenseProfileStorageModelEsuProperties:
      type: object
      properties:
        assignedLicenseImmutableId:
          readOnly: true
          type: string
          description: The guid id of the license.
        esuKeys:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/EsuKey'
          description: The list of ESU keys.
          x-ms-identifiers: []
      description: License profile storage model for ESU properties.
    LicenseProfileArmEsuProperties:
      type: object
      properties:
        assignedLicense:
          type: string
          description: The resource id of the license.
      allOf:
        - $ref: '#/components/schemas/LicenseProfileArmEsuPropertiesWithoutAssignedLicense'
      description: Describes the properties of a License Profile ARM model.
    LicenseProfileArmEsuPropertiesWithoutAssignedLicense:
      type: object
      properties:
        serverType:
          readOnly: true
          $ref: '#/components/schemas/EsuServerType'
          description: The type of the Esu servers.
        esuEligibility:
          readOnly: true
          $ref: '#/components/schemas/EsuEligibility'
          description: Indicates the eligibility state of Esu.
        esuKeyState:
          readOnly: true
          $ref: '#/components/schemas/EsuKeyState'
          description: Indicates whether there is an ESU Key currently active for the machine.
      allOf:
        - $ref: '#/components/schemas/LicenseProfileStorageModelEsuProperties'
      description: Describes the properties of a License Profile ARM model.
    EsuProfileUpdateProperties:
      type: object
      properties:
        assignedLicense:
          type: string
          description: The resource id of the license.
      description: Describes the Update properties of a ESU License Profile.
    LicenseProfileSubscriptionStatusUpdate:
      type: string
      enum:
        - Enable
        - Disable
      x-ms-enum:
        name: LicenseProfileSubscriptionStatusUpdate
        modelAsString: true
      description: Indicates the new subscription status of the OS or Product Features.
    ProductFeatureUpdate:
      type: object
      properties:
        name:
          type: string
          description: Product feature name.
        subscriptionStatus:
          $ref: '#/components/schemas/LicenseProfileSubscriptionStatusUpdate'
          description: Indicates the new status of the product feature.
      description: Product Feature
    ProductProfileUpdateProperties:
      type: object
      properties:
        subscriptionStatus:
          $ref: '#/components/schemas/LicenseProfileSubscriptionStatusUpdate'
          description: Indicates the subscription status of the product.
        productType:
          $ref: '#/components/schemas/LicenseProfileProductType'
          description: Indicates the product type of the license.
        productFeatures:
          type: array
          items:
            $ref: '#/components/schemas/ProductFeatureUpdate'
          description: The list of product feature updates.
          x-ms-identifiers: []
      description: Describes the Update properties of a Product Profile.
    LicenseProfileMachineInstanceView:
      type: object
      properties:
        licenseStatus:
          $ref: '#/components/schemas/LicenseStatus'
          description: Indicates the license status of the OS.
        licenseChannel:
          readOnly: true
          type: string
          description: Indicates the license channel.
        softwareAssurance:
          x-ms-client-flatten: true
          type: object
          readOnly: true
          properties:
            softwareAssuranceCustomer:
              type: boolean
              description: Specifies if this machine is licensed as part of a Software Assurance agreement.
        esuProfile:
          $ref: '#/components/schemas/LicenseProfileMachineInstanceViewEsuProperties'
        productProfile:
          x-ms-client-flatten: true
          readOnly: true
          $ref: '#/components/schemas/LicenseProfileArmProductProfileProperties'
          description: Hybrid Compute Product Profile properties
      description: License Profile Instance View in Machine Properties.
    LicenseProfileMachineInstanceViewEsuProperties:
      type: object
      properties:
        assignedLicense:
          $ref: '#/components/schemas/License'
          description: The assigned license resource.
        licenseAssignmentState:
          type: string
          enum:
            - Assigned
            - NotAssigned
          description: Describes the license assignment state (Assigned or NotAssigned).
          x-ms-enum:
            name: licenseAssignmentState
            modelAsString: true
      allOf:
        - $ref: '#/components/schemas/LicenseProfileArmEsuPropertiesWithoutAssignedLicense'
      description: Properties for the Machine ESU profile.
    LicenseStatus:
      readOnly: true
      type: string
      enum:
        - Unlicensed
        - Licensed
        - OOBGrace
        - OOTGrace
        - NonGenuineGrace
        - Notification
        - ExtendedGrace
      x-ms-enum:
        name: LicenseStatus
        modelAsString: true
      description: The license status.
    LicenseProfileSubscriptionStatus:
      type: string
      enum:
        - Unknown
        - Enabling
        - Enabled
        - Disabled
      x-ms-enum:
        name: LicenseProfileSubscriptionStatus
        modelAsString: true
      description: Subscription status of the OS or Product feature.
    LicenseProfileProductType:
      type: string
      enum:
        - WindowsServer
        - WindowsIoTEnterprise
      x-ms-enum:
        name: LicenseProfileProductType
        modelAsString: true
      description: The product type of the license.
    ProductFeature:
      type: object
      properties:
        name:
          type: string
          description: Product feature name.
        subscriptionStatus:
          $ref: '#/components/schemas/LicenseProfileSubscriptionStatus'
          description: Indicates the current status of the product features.
        billingStartDate:
          type: string
          readOnly: true
          format: date-time
          description: The timestamp in UTC when the billing starts.
        enrollmentDate:
          type: string
          readOnly: true
          format: date-time
          description: The timestamp in UTC when the user enrolls the feature.
        disenrollmentDate:
          type: string
          readOnly: true
          format: date-time
          description: The timestamp in UTC when the user disenrolled the feature.
      description: Product Feature
    LicenseProfileArmProductProfileProperties:
      type: object
      properties:
        subscriptionStatus:
          $ref: '#/components/schemas/LicenseProfileSubscriptionStatus'
          description: Indicates the subscription status of the product.
        productType:
          $ref: '#/components/schemas/LicenseProfileProductType'
          description: Indicates the product type of the license.
        billingStartDate:
          type: string
          readOnly: true
          format: date-time
          description: The timestamp in UTC when the billing starts.
        enrollmentDate:
          type: string
          readOnly: true
          format: date-time
          description: The timestamp in UTC when the user enrolls the feature.
        disenrollmentDate:
          type: string
          readOnly: true
          format: date-time
          description: The timestamp in UTC when the user disenrolled the feature.
        productFeatures:
          type: array
          items:
            $ref: '#/components/schemas/ProductFeature'
          description: The list of product features.
          x-ms-identifiers: []
      description: Describes the properties of a Product License Profile ARM model.
    ResourceUpdate:
      type: object
      description: The Update Resource model definition.
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
    MachineExtension:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/MachineExtensionProperties'
          description: Describes Machine Extension Properties.
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: Describes a Machine Extension.
    MachineExtensionUpdate:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/MachineExtensionUpdateProperties'
          description: Describes Machine Extension Update Properties.
      allOf:
        - $ref: '#/components/schemas/ResourceUpdate'
      description: Describes a Machine Extension Update.
    MachineExtensionProperties:
      type: object
      properties:
        forceUpdateTag:
          type: string
          description: How the extension handler should be forced to update even if the extension configuration has not changed.
        publisher:
          type: string
          description: The name of the extension handler publisher.
        type:
          type: string
          description: Specifies the type of the extension; an example is "CustomScriptExtension".
        typeHandlerVersion:
          type: string
          description: Specifies the version of the script handler.
        enableAutomaticUpgrade:
          type: boolean
          description: Indicates whether the extension should be automatically upgraded by the platform if there is a newer version available.
        autoUpgradeMinorVersion:
          type: boolean
          description: Indicates whether the extension should use a newer minor version if one is available at deployment time. Once deployed, however, the extension will not upgrade minor versions unless redeployed, even with this property set to true.
        settings:
          type: object
          additionalProperties: {}
          description: Json formatted public settings for the extension.
        protectedSettings:
          type: object
          additionalProperties: {}
          description: The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all.
        provisioningState:
          readOnly: true
          type: string
          description: The provisioning state, which only appears in the response.
        instanceView:
          $ref: '#/components/schemas/MachineExtensionInstanceView'
          description: The machine extension instance view.
      description: Describes the properties of a Machine Extension.
    MachineExtensionUpdateProperties:
      type: object
      properties:
        forceUpdateTag:
          type: string
          description: How the extension handler should be forced to update even if the extension configuration has not changed.
        publisher:
          type: string
          description: The name of the extension handler publisher.
        type:
          type: string
          description: Specifies the type of the extension; an example is "CustomScriptExtension".
        typeHandlerVersion:
          type: string
          description: Specifies the version of the script handler.
        enableAutomaticUpgrade:
          type: boolean
          description: Indicates whether the extension should be automatically upgraded by the platform if there is a newer version available.
        autoUpgradeMinorVersion:
          type: boolean
          description: Indicates whether the extension should use a newer minor version if one is available at deployment time. Once deployed, however, the extension will not upgrade minor versions unless redeployed, even with this property set to true.
        settings:
          type: object
          additionalProperties: {}
          description: Json formatted public settings for the extension.
        protectedSettings:
          type: object
          additionalProperties: {}
          description: The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all.
      description: Describes the properties of a Machine Extension.
    MachineExtensionInstanceView:
      type: object
      properties:
        name:
          type: string
          description: The machine extension name.
        type:
          type: string
          description: Specifies the type of the extension; an example is "CustomScriptExtension".
        typeHandlerVersion:
          type: string
          description: Specifies the version of the script handler.
        status:
          type: object
          properties:
            code:
              type: string
              description: The status code.
            level:
              type: string
              description: The level code.
              enum:
                - Info
                - Warning
                - Error
              x-ms-enum:
                name: StatusLevelTypes
                modelAsString: true
            displayStatus:
              type: string
              description: The short localizable label for the status.
            message:
              type: string
              description: The detailed status message, including for alerts and error messages.
            time:
              type: string
              format: date-time
              description: The time of the status.
          description: Instance view status.
      description: Describes the Machine Extension Instance View.
    MachineExtensionsListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/MachineExtension'
          description: The list of extensions
        nextLink:
          type: string
          description: The uri to fetch the next page of machine extensions. Call ListNext() with this to fetch the next page of extensions.
      description: Describes the Machine Extensions List Result.
    TargetVersion:
      type: string
      description: Extension Upgrade Target Version.
    ExtensionTargetProperties:
      type: object
      properties:
        targetVersion:
          type: object
          $ref: '#/components/schemas/TargetVersion'
          description: Properties for the specified Extension to Upgrade.
      description: Describes the Machine Extension Target Version Properties
    ExtensionTarget:
      type: object
      additionalProperties:
        type: object
        $ref: '#/components/schemas/ExtensionTargetProperties'
      description: Describes the Machine Extension Target Properties
    MachineExtensionUpgrade:
      type: object
      properties:
        extensionTargets:
          $ref: '#/components/schemas/ExtensionTarget'
          description: Describes the Extension Target Properties.
      description: Describes the Machine Extension Upgrade Properties.
    NetworkProfile:
      type: object
      readOnly: true
      properties:
        networkInterfaces:
          type: array
          items:
            $ref: '#/components/schemas/NetworkInterface'
          description: The list of network interfaces.
          x-ms-identifiers: []
      description: Describes the network information on this machine.
    NetworkInterface:
      type: object
      readOnly: true
      properties:
        ipAddresses:
          type: array
          items:
            $ref: '#/components/schemas/IpAddress'
          description: The list of IP addresses in this interface.
          x-ms-identifiers: []
      description: Describes a network interface.
    IpAddress:
      type: object
      readOnly: true
      properties:
        address:
          type: string
          description: Represents the IP Address.
        ipAddressVersion:
          type: string
          description: Represents the Ip Address Version.
        subnet:
          type: object
          $ref: '#/components/schemas/Subnet'
          description: The subnet to which this IP address belongs.
      description: Describes properties of the IP address.
    Subnet:
      type: object
      readOnly: true
      properties:
        addressPrefix:
          type: string
          description: Represents address prefix.
      description: Describes the subnet.
    HybridIdentityMetadataList:
      description: List of HybridIdentityMetadata.
      type: object
      properties:
        nextLink:
          description: Url to follow for getting next page of HybridIdentityMetadata.
          type: string
        value:
          description: Array of HybridIdentityMetadata
          type: array
          items:
            $ref: '#/components/schemas/HybridIdentityMetadata'
      required:
        - value
    HybridIdentityMetadata:
      description: Defines the HybridIdentityMetadata.
      required:
        - properties
      type: object
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
          description: The resource model definition for an Azure Resource Manager proxy resource. It will have everything other than required location and tags.
      properties:
        properties:
          x-ms-client-flatten: true
          description: Resource properties.
          $ref: '#/components/schemas/HybridIdentityMetadataProperties'
        systemData:
          $ref: '#/components/schemas/systemData'
          description: The system data.
      x-ms-azure-resource: true
    HybridIdentityMetadataProperties:
      description: Defines the resource properties.
      type: object
      properties:
        vmId:
          description: The unique identifier for the resource.
          type: string
        publicKey:
          description: The Public Key.
          type: string
        identity:
          $ref: '#/components/schemas/Identity'
          readOnly: true
    AgentVersionsList:
      type: object
      readOnly: true
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AgentVersion'
          description: The list of available Agent Versions.
          x-ms-identifiers:
            - agentVersion
        nextLink:
          type: string
          description: The URI to fetch the next 10 available Agent Versions.
      description: Describes AgentVersions List.
    AgentVersion:
      type: object
      readOnly: true
      properties:
        agentVersion:
          type: string
          description: Represents the agent version.
        downloadLink:
          type: string
          description: Represents the download link of specific agent version.
        osType:
          type: string
          description: Defines the os type.
      description: Describes properties of Agent Version.
    MachineAssessPatchesResult:
      type: object
      properties:
        status:
          type: string
          readOnly: true
          description: The overall success or failure status of the operation. It remains "InProgress" until the operation completes. At that point it will become "Unknown", "Failed", "Succeeded", or "CompletedWithWarnings."
          enum:
            - Unknown
            - InProgress
            - Failed
            - Succeeded
            - CompletedWithWarnings
          x-ms-enum:
            name: PatchOperationStatus
            modelAsString: true
        assessmentActivityId:
          type: string
          readOnly: true
          description: The activity ID of the operation that produced this result.
        rebootPending:
          type: boolean
          readOnly: true
          description: The overall reboot status of the VM. It will be true when partially installed patches require a reboot to complete installation but the reboot has not yet occurred.
        availablePatchCountByClassification:
          $ref: '#/components/schemas/AvailablePatchCountByClassification'
          description: Summarization of patches available for installation on the machine by classification.
        startDateTime:
          type: string
          readOnly: true
          format: date-time
          description: The UTC timestamp when the operation began.
        lastModifiedDateTime:
          type: string
          readOnly: true
          format: date-time
          description: The UTC timestamp when the operation finished.
        startedBy:
          type: string
          readOnly: true
          enum:
            - User
            - Platform
          x-ms-enum:
            name: PatchOperationStartedBy
            modelAsString: true
          description: Indicates if operation was triggered by user or by platform.
        patchServiceUsed:
          type: string
          readOnly: true
          enum:
            - Unknown
            - WU
            - WU_WSUS
            - YUM
            - APT
            - Zypper
          x-ms-enum:
            name: PatchServiceUsed
            modelAsString: true
          description: Specifies the patch service used for the operation.
        osType:
          type: string
          readOnly: true
          enum:
            - Windows
            - Linux
          x-ms-enum:
            name: OsType
            modelAsString: true
          description: The operating system type of the machine.
        errorDetails:
          $ref: '#/components/schemas/ErrorDetail'
          readOnly: true
          description: The errors that were encountered during execution of the operation. The details array contains the list of them.
      description: Describes the properties of an AssessPatches result.
    AvailablePatchCountByClassification:
      type: object
      properties:
        security:
          readOnly: true
          type: integer
          format: int32
          description: Number of security patches available for installation.
        critical:
          readOnly: true
          type: integer
          format: int32
          description: Number of critical patches available for installation.
        definition:
          readOnly: true
          type: integer
          format: int32
          description: Number of definition patches available for installation.
        updateRollup:
          readOnly: true
          type: integer
          format: int32
          description: Number of update Rollup patches available for installation.
        featurePack:
          readOnly: true
          type: integer
          format: int32
          description: Number of feature pack patches available for installation.
        servicePack:
          readOnly: true
          type: integer
          format: int32
          description: Number of service pack patches available for installation.
        tools:
          readOnly: true
          type: integer
          format: int32
          description: Number of tools patches available for installation.
        updates:
          readOnly: true
          type: integer
          format: int32
          description: Number of updates category patches available for installation.
        other:
          readOnly: true
          type: integer
          format: int32
          description: Number of other patches available for installation.
      description: Summarization of patches available for installation on the machine by classification.
    MachineInstallPatchesParameters:
      type: object
      properties:
        maximumDuration:
          type: string
          description: Specifies the maximum amount of time that the operation will run. It must be an ISO 8601-compliant duration string such as PT4H (4 hours)
        rebootSetting:
          type: string
          description: Defines when it is acceptable to reboot a VM during a software update operation.
          enum:
            - IfRequired
            - Never
            - Always
          x-ms-enum:
            name: VMGuestPatchRebootSetting
            modelAsString: true
        windowsParameters:
          $ref: '#/components/schemas/WindowsParameters'
          description: Input for InstallPatches on a Windows VM, as directly received by the API
        linuxParameters:
          $ref: '#/components/schemas/LinuxParameters'
          description: Input for InstallPatches on a Linux VM, as directly received by the API
      required:
        - maximumDuration
        - rebootSetting
      description: Input for InstallPatches as directly received by the API
    WindowsParameters:
      type: object
      properties:
        classificationsToInclude:
          type: array
          description: The update classifications to select when installing patches for Windows.
          items:
            type: string
            enum:
              - Critical
              - Security
              - UpdateRollUp
              - FeaturePack
              - ServicePack
              - Definition
              - Tools
              - Updates
            x-ms-enum:
              name: VMGuestPatchClassification_Windows
              modelAsString: true
        kbNumbersToInclude:
          type: array
          description: Kbs to include in the patch operation
          items:
            type: string
        kbNumbersToExclude:
          type: array
          description: Kbs to exclude in the patch operation
          items:
            type: string
        excludeKbsRequiringReboot:
          type: boolean
          description: Filters out Kbs that don't have an InstallationRebootBehavior of 'NeverReboots' when this is set to true.
        maxPatchPublishDate:
          type: string
          format: date-time
          description: This is used to install patches that were published on or before this given max published date.
      description: Input for InstallPatches on a Windows VM, as directly received by the API
    LinuxParameters:
      type: object
      properties:
        classificationsToInclude:
          type: array
          description: The update classifications to select when installing patches for Linux.
          items:
            type: string
            enum:
              - Critical
              - Security
              - Other
            x-ms-enum:
              name: VMGuestPatchClassification_Linux
              modelAsString: true
        packageNameMasksToInclude:
          type: array
          description: 'packages to include in the patch operation. Format: packageName_packageVersion'
          items:
            type: string
        packageNameMasksToExclude:
          type: array
          description: 'packages to exclude in the patch operation. Format: packageName_packageVersion'
          items:
            type: string
      description: Input for InstallPatches on a Linux VM, as directly received by the API
    MachineInstallPatchesResult:
      type: object
      properties:
        status:
          type: string
          readOnly: true
          description: The overall success or failure status of the operation. It remains "InProgress" until the operation completes. At that point it will become "Failed", "Succeeded", "Unknown" or "CompletedWithWarnings."
          enum:
            - Unknown
            - InProgress
            - Failed
            - Succeeded
            - CompletedWithWarnings
          x-ms-enum:
            name: PatchOperationStatus
            modelAsString: true
        installationActivityId:
          type: string
          readOnly: true
          description: The activity ID of the operation that produced this result.
        rebootStatus:
          type: string
          readOnly: true
          description: The reboot state of the VM following completion of the operation.
          enum:
            - Unknown
            - NotNeeded
            - Required
            - Started
            - Failed
            - Completed
          x-ms-enum:
            name: VMGuestPatchRebootStatus
            modelAsString: true
        maintenanceWindowExceeded:
          type: boolean
          readOnly: true
          description: Whether the operation ran out of time before it completed all its intended actions.
        excludedPatchCount:
          type: integer
          readOnly: true
          format: int32
          description: The number of patches that were not installed due to the user blocking their installation.
        notSelectedPatchCount:
          type: integer
          readOnly: true
          format: int32
          description: The number of patches that were detected as available for install, but did not meet the operation's criteria.
        pendingPatchCount:
          type: integer
          readOnly: true
          format: int32
          description: The number of patches that were identified as meeting the installation criteria, but were not able to be installed. Typically this happens when maintenanceWindowExceeded == true.
        installedPatchCount:
          type: integer
          readOnly: true
          format: int32
          description: The number of patches successfully installed.
        failedPatchCount:
          type: integer
          readOnly: true
          format: int32
          description: The number of patches that could not be installed due to some issue. See errors for details.
        startDateTime:
          type: string
          readOnly: true
          format: date-time
          description: The UTC timestamp when the operation began.
        lastModifiedDateTime:
          type: string
          readOnly: true
          format: date-time
          description: The UTC timestamp when the operation finished.
        startedBy:
          type: string
          readOnly: true
          enum:
            - User
            - Platform
          x-ms-enum:
            name: PatchOperationStartedBy
            modelAsString: true
          description: Indicates if operation was triggered by user or by platform.
        patchServiceUsed:
          type: string
          readOnly: true
          enum:
            - Unknown
            - WU
            - WU_WSUS
            - YUM
            - APT
            - Zypper
          x-ms-enum:
            name: PatchServiceUsed
            modelAsString: true
          description: Specifies the patch service used for the operation.
        osType:
          type: string
          readOnly: true
          enum:
            - Windows
            - Linux
          x-ms-enum:
            name: OsType
            modelAsString: true
          description: The operating system type of the machine.
        errorDetails:
          $ref: '#/components/schemas/ErrorDetail'
          readOnly: true
          description: The errors that were encountered during execution of the operation. The details array contains the list of them.
      description: The result summary of an installation operation.
    MachineRunCommand:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/MachineRunCommandProperties'
          description: Describes Run Command Properties
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: Describes a Run Command
    MachineRunCommandProperties:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/MachineRunCommandScriptSource'
          description: The source of the run command script.
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/RunCommandInputParameter'
          x-ms-identifiers:
            - name
          description: The parameters used by the script.
        protectedParameters:
          type: array
          items:
            $ref: '#/components/schemas/RunCommandInputParameter'
          x-ms-identifiers:
            - name
          description: The parameters used by the script.
        asyncExecution:
          type: boolean
          default: false
          description: Optional. If set to true, provisioning will complete as soon as script starts and will not wait for script to complete.
        runAsUser:
          type: string
          description: Specifies the user account on the machine when executing the run command.
        runAsPassword:
          type: string
          description: Specifies the user account password on the machine when executing the run command.
          x-ms-secret: true
        timeoutInSeconds:
          type: integer
          format: int32
          description: The timeout in seconds to execute the run command.
        outputBlobUri:
          type: string
          description: 'Specifies the Azure storage blob where script output stream will be uploaded. Use a SAS URI with read, append, create, write access OR use managed identity to provide the VM access to the blob. Refer outputBlobManagedIdentity parameter. '
        errorBlobUri:
          type: string
          description: Specifies the Azure storage blob where script error stream will be uploaded. Use a SAS URI with read, append, create, write access OR use managed identity to provide the VM access to the blob. Refer errorBlobManagedIdentity parameter.
        outputBlobManagedIdentity:
          $ref: '#/components/schemas/RunCommandManagedIdentity'
          description: 'User-assigned managed identity that has access to outputBlobUri storage blob. Use an empty object in case of system-assigned identity. Make sure managed identity has been given access to blob''s container with ''Storage Blob Data Contributor'' role assignment. In case of user-assigned identity, make sure you add it under VM''s identity. For more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity and https://aka.ms/RunCommandManaged '
        errorBlobManagedIdentity:
          $ref: '#/components/schemas/RunCommandManagedIdentity'
          description: 'User-assigned managed identity that has access to errorBlobUri storage blob. Use an empty object in case of system-assigned identity. Make sure managed identity has been given access to blob''s container with ''Storage Blob Data Contributor'' role assignment. In case of user-assigned identity, make sure you add it under VM''s identity. For more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity and https://aka.ms/RunCommandManaged '
        provisioningState:
          readOnly: true
          type: string
          description: The provisioning state, which only appears in the response.
        instanceView:
          readOnly: true
          $ref: '#/components/schemas/MachineRunCommandInstanceView'
          description: The machine run command instance view.
      description: Describes the properties of a run command.
    MachineRunCommandScriptSource:
      type: object
      properties:
        script:
          type: string
          description: Specifies the script content to be executed on the machine.
        scriptUri:
          type: string
          description: Specifies the script download location. It can be either SAS URI of an Azure storage blob with read access or public URI.
        commandId:
          type: string
          description: Specifies the commandId of predefined built-in script.
        scriptUriManagedIdentity:
          $ref: '#/components/schemas/RunCommandManagedIdentity'
          description: User-assigned managed identity that has access to scriptUri in case of Azure storage blob. Use an empty object in case of system-assigned identity. Make sure the Azure storage blob exists, and managed identity has been given access to blob's container with 'Storage Blob Data Reader' role assignment. In case of user-assigned identity, make sure you add it under VM's identity. For more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity and https://aka.ms/RunCommandManaged.
      description: Describes the script sources for run command. Use only one of script, scriptUri, commandId.
    MachineRunCommandInstanceView:
      type: object
      properties:
        executionState:
          type: string
          description: Script execution status.
          enum:
            - Unknown
            - Pending
            - Running
            - Failed
            - Succeeded
            - TimedOut
            - Canceled
          x-ms-enum:
            name: ExecutionState
            modelAsString: true
        executionMessage:
          type: string
          description: Communicate script configuration errors or execution messages.
        exitCode:
          type: integer
          format: int32
          description: Exit code returned from script execution.
        output:
          type: string
          description: Script output stream.
        error:
          type: string
          description: Script error stream.
        startTime:
          type: string
          format: date-time
          description: Script start time.
        endTime:
          type: string
          format: date-time
          description: Script end time.
        statuses:
          type: array
          items:
            $ref: '#/components/schemas/ExtensionsResourceStatus'
          x-ms-identifiers: []
          description: The  status information.
      description: The instance view of a machine run command.
    MachineRunCommandsListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/MachineRunCommand'
          description: The list of run commands
        nextLink:
          type: string
          description: The uri to fetch the next page of run commands. Call ListNext() with this to fetch the next page of run commands.
      description: Describes the Run Commands List Result.
    MachineRunCommandUpdate:
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceUpdate'
      description: Describes a Machine Extension Update.
    RunCommandInputParameter:
      type: object
      properties:
        name:
          type: string
          description: The run command parameter name.
        value:
          type: string
          description: The run command parameter value.
      required:
        - name
        - value
      description: Describes the properties of a run command parameter.
    RunCommandManagedIdentity:
      type: object
      properties:
        clientId:
          type: string
          description: Client Id (GUID value) of the user-assigned managed identity. ObjectId should not be used if this is provided.
        objectId:
          type: string
          description: Object Id (GUID value) of the user-assigned managed identity. ClientId should not be used if this is provided.
      description: ' Contains clientId or objectId (use only one, not both) of a user-assigned managed identity that has access to storage blob used in Run Command. Use an empty RunCommandManagedIdentity object in case of system-assigned identity. Make sure the Azure storage blob exists in case of scriptUri, and managed identity has been given access to blob''s container with ''Storage Blob Data Reader'' role assignment with scriptUri blob and ''Storage Blob Data Contributor'' for Append blobs(outputBlobUri, errorBlobUri). In case of user assigned identity, make sure you add it under VM''s identity. For more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity and https://aka.ms/RunCommandManaged.'
    ExtensionsResourceStatus:
      properties:
        code:
          type: string
          description: The status code.
        level:
          type: string
          description: The level code.
          enum:
            - Info
            - Warning
            - Error
          x-ms-enum:
            name: ExtensionsStatusLevelTypes
            modelAsString: false
        displayStatus:
          type: string
          description: The short localizable label for the status.
        message:
          type: string
          description: The detailed status message, including for alerts and error messages.
        time:
          type: string
          format: date-time
          description: The time of the status.
      type: object
      description: Instance view status.
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
          x-ms-identifiers:
            - message
            - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          description: The error additional info.
    OperationStatusResult:
      description: The current status of an async operation.
      type: object
      required:
        - status
      properties:
        id:
          description: Fully qualified ID for the async operation.
          type: string
        name:
          description: Name of the async operation.
          type: string
        status:
          description: Operation status.
          type: string
        percentComplete:
          description: Percent of the operation that is complete.
          type: number
          minimum: 0
          maximum: 100
        startTime:
          description: The start time of the operation.
          type: string
          format: date-time
        endTime:
          description: The end time of the operation.
          type: string
          format: date-time
        operations:
          description: The operations list.
          type: array
          items:
            $ref: '#/components/schemas/OperationStatusResult'
        error:
          description: If present, details of the operation error.
          $ref: '#/components/schemas/ErrorDetail'
    CheckNameAvailabilityRequest:
      description: The check availability request body.
      type: object
      properties:
        name:
          description: The name of the resource for which availability needs to be checked.
          type: string
        type:
          description: The resource type.
          type: string
    CheckNameAvailabilityResponse:
      description: The check availability result.
      type: object
      properties:
        nameAvailable:
          description: Indicates if the resource name is available.
          type: boolean
        reason:
          description: The reason why the given name is not available.
          type: string
          enum:
            - Invalid
            - AlreadyExists
          x-ms-enum:
            name: CheckNameAvailabilityReason
            modelAsString: true
        message:
          description: Detailed reason why the given name is available.
          type: string
    SkuTier:
      type: string
      enum:
        - Free
        - Basic
        - Standard
        - Premium
      x-ms-enum:
        name: SkuTier
        modelAsString: false
      description: This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT.
    NetworkConfiguration:
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/NetworkConfigurationProperties'
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
    NetworkConfigurationProperties:
      type: object
      description: Network configuration properties
      properties:
        location:
          type: string
          description: Resource location
          x-ms-mutability:
            - create
            - read
        tenantId:
          type: string
          readOnly: true
          description: Azure resource tenant Id
        networkConfigurationScopeId:
          type: string
          description: Associated Network Configuration Scope Id (GUID)
        networkConfigurationScopeResourceId:
          type: string
          description: Associated Network Configuration Scope Resource Id
          format: arm-id
          x-ms-arm-id-details:
            allowedResources:
              - type: Microsoft.HybridCompute/privateLinkScopes
        keyProperties:
          description: Public key information for client authentication
          readOnly: true
          $ref: '#/components/schemas/KeyProperties'
      required:
        - networkConfigurationScopeResourceId
    KeyProperties:
      type: object
      description: Public key information for client authentication
      properties:
        clientPublicKey:
          description: Current public key details
          readOnly: true
          $ref: '#/components/schemas/KeyDetails'
        candidatePublicKey:
          description: Candidate public key details
          readOnly: true
          $ref: '#/components/schemas/KeyDetails'
    KeyDetails:
      type: object
      description: Public key details
      properties:
        publicKey:
          type: string
          description: Public key
          readOnly: true
        notAfter:
          type: string
          format: date-time
          description: Key expiration date
          readOnly: true
        renewAfter:
          type: string
          format: date-time
          description: Recommended key renewal date
          readOnly: true
    NetworkSecurityPerimeterConfiguration:
      type: object
      description: Properties that define a Network Security Perimeter resource.
      properties:
        id:
          type: string
          readOnly: true
          description: Azure resource Id
        name:
          type: string
          description: Azure resource name
          readOnly: true
        type:
          type: string
          readOnly: true
          description: Azure resource type
        properties:
          x-ms-client-flatten: true
          description: Properties that define a Network Security Perimeter resource.
          $ref: '#/components/schemas/NetworkSecurityPerimeterConfigurationProperties'
      x-ms-azure-resource: true
    NetworkSecurityPerimeterConfigurationProperties:
      type: object
      description: Properties that define a Network Security Perimeter resource.
      properties:
        provisioningState:
          type: string
          description: 'Current state of this NetworkSecurityPerimeter: whether or not is has been provisioned within the resource group it is defined. Users cannot change this value but are able to read from it. Values will include Provisioning ,Succeeded, Canceled and Failed.'
          readOnly: true
        provisioningIssues:
          type: array
          description: Provisioning issues.
          readOnly: true
          items:
            $ref: '#/components/schemas/ProvisioningIssue'
          x-ms-identifiers: []
        networkSecurityPerimeter:
          description: The Network Security Perimeter associated with this configuration.
          $ref: '#/components/schemas/NetworkSecurityPerimeter'
        resourceAssociation:
          description: The Resource Association.
          $ref: '#/components/schemas/ResourceAssociation'
        profile:
          description: Network Security Perimeter profile
          $ref: '#/components/schemas/NetworkSecurityPerimeterProfile'
    NetworkSecurityPerimeterProfile:
      type: object
      description: Network Security Perimeter profile
      properties:
        name:
          type: string
          description: Name of the resource
          readOnly: true
        accessRulesVersion:
          type: string
          description: Access rules version number
          readOnly: true
        accessRules:
          type: array
          description: Collection of access rules for the profile
          readOnly: true
          items:
            $ref: '#/components/schemas/AccessRule'
          x-ms-identifiers: []
        diagnosticSettingsVersion:
          type: string
          description: Diagnostic settings version number
          readOnly: true
        enabledLogCategories:
          type: array
          description: Collection of enabled log categories for the profile
          readOnly: true
          items:
            type: string
    ProvisioningIssue:
      type: object
      description: Details on issues that occurred during provisioning.
      properties:
        name:
          type: string
          description: Name of the provisioning issue.
          readOnly: true
        properties:
          x-ms-client-flatten: true
          description: Provisioning issue properties
          readOnly: true
          $ref: '#/components/schemas/ProvisioningIssueProperties'
    ProvisioningIssueProperties:
      type: object
      description: Properties of a provisioning issue.
      properties:
        issueType:
          description: Issue type
          readOnly: true
          $ref: '#/components/schemas/ProvisioningIssueType'
        severity:
          description: Severity of the provisioning issue.
          readOnly: true
          $ref: '#/components/schemas/ProvisioningIssueSeverity'
        description:
          type: string
          description: Description of the provisioning issue.
          readOnly: true
        suggestedResourceIds:
          type: array
          description: ARM Ids of the resources that can be associated to the same perimeter to remediate the issue
          readOnly: true
          items:
            type: string
          x-ms-identifiers: []
        suggestedAccessRules:
          type: array
          description: Access rules that can be added to the perimeter to remediate the issue
          readOnly: true
          items:
            $ref: '#/components/schemas/AccessRule'
          x-ms-identifiers: []
    ProvisioningIssueType:
      type: string
      description: Type of provisioning issue.
      enum:
        - MissingPerimeterConfiguration
        - MissingIdentityConfiguration
        - ConfigurationPropagationFailure
        - Other
      x-ms-enum:
        name: ProvisioningIssueType
        modelAsString: true
        values:
          - value: MissingPerimeterConfiguration
            description: Perimeter configuration is missing.
          - value: MissingIdentityConfiguration
            description: Identity configuration is missing.
          - value: ConfigurationPropagationFailure
            description: Configuration failed to propagate.
          - value: Other
            description: Other failure.
    ProvisioningIssueSeverity:
      type: string
      description: Severity of the provisioning issue.
      enum:
        - Warning
        - Error
      x-ms-enum:
        name: ProvisioningIssueSeverity
        modelAsString: true
        values:
          - value: Warning
            description: Warnings can cause connectivity issues after provisioning succeeds.
          - value: Error
            description: Errors will cause association provisioning to fail.
    AccessMode:
      type: string
      description: Property that impacts a resource's logging behavior and its connectivity with other resources and public networks.
      enum:
        - enforced
        - audit
        - learning
      x-ms-enum:
        name: AccessMode
        modelAsString: true
        values:
          - value: enforced
            description: Indicates that resource access is controlled by the NSP definition.
          - value: audit
            description: Dry run mode, where traffic is evaluated against NSP Rules, logged but not enforced.
          - value: learning
            description: Enables traffic evaluation to fall back to resource-specific firewall configurations.
    AccessRuleDirection:
      type: string
      description: Indicates direction of an access rule.
      enum:
        - Inbound
        - Outbound
      x-ms-enum:
        name: AccessRuleDirection
        modelAsString: true
        values:
          - value: Inbound
            description: Traffic originates outside of network.
          - value: Outbound
            description: Traffic originates inside the network
    AccessRule:
      type: object
      description: Access rule.
      properties:
        name:
          type: string
          description: Name of the access rule.
          readOnly: true
        properties:
          x-ms-client-flatten: true
          description: Access rule properties
          readOnly: true
          $ref: '#/components/schemas/AccessRuleProperties'
    AccessRuleProperties:
      type: object
      description: Properties of an access rule.
      properties:
        direction:
          description: Direction of the access rule.
          readOnly: true
          $ref: '#/components/schemas/AccessRuleDirection'
        addressPrefixes:
          type: array
          description: Address prefixes that are allowed access.
          readOnly: true
          items:
            type: string
    NetworkSecurityPerimeter:
      type: object
      description: Properties that define a Network Security Perimeter resource.
      properties:
        id:
          type: string
          readOnly: true
          description: Azure resource Id
        perimeterGuid:
          type: string
          description: Guid of the Network Security Perimeter
          readOnly: true
        location:
          type: string
          readOnly: true
          description: Regional location of the perimeter
    NetworkSecurityPerimeterConfigurationListResult:
      type: object
      description: A list of network security perimeter configurations.
      properties:
        value:
          description: Array of results.
          type: array
          items:
            $ref: '#/components/schemas/NetworkSecurityPerimeterConfiguration'
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    ResourceAssociation:
      type: object
      description: Properties that define a Resource Association.
      properties:
        name:
          type: string
          readOnly: true
          description: Name of the Resource Association
        accessMode:
          description: The access mode
          readOnly: true
          $ref: '#/components/schemas/AccessMode'
    PrivateLinkScopesResource:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: Azure resource Id
        name:
          type: string
          description: Azure resource name
          readOnly: true
        type:
          type: string
          readOnly: true
          description: Azure resource type
        location:
          type: string
          description: Resource location
          x-ms-mutability:
            - create
            - read
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      required:
        - location
      x-ms-azure-resource: true
      description: An azure resource object
    TagsResource:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      description: A container holding only the Tags for a resource, allowing the user to update the tags on a PrivateLinkScope instance.
    HybridComputePrivateLinkScope:
      type: object
      properties:
        properties:
          description: Properties that define a Azure Arc PrivateLinkScope resource.
          $ref: '#/components/schemas/HybridComputePrivateLinkScopeProperties'
        systemData:
          readOnly: true
          description: The system meta data relating to this resource.
          $ref: '#/components/schemas/systemData'
      allOf:
        - $ref: '#/components/schemas/PrivateLinkScopesResource'
      description: An Azure Arc PrivateLinkScope definition.
    PrivateLinkScopeValidationDetails:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: Azure resource Id
        publicNetworkAccess:
          description: Indicates whether machines associated with the private link scope can also use public Azure Arc service endpoints.
          $ref: '#/components/schemas/PublicNetworkAccessType'
        connectionDetails:
          type: array
          description: List of Private Endpoint Connection details.
          items:
            $ref: '#/components/schemas/ConnectionDetail'
    ConnectionDetail:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: Azure resource Id
        privateIpAddress:
          type: string
          readOnly: true
          description: The private endpoint connection private ip address
        linkIdentifier:
          type: string
          readOnly: true
          description: The private endpoint connection link identifier
        groupId:
          type: string
          readOnly: true
          description: The private endpoint connection group id
        memberName:
          type: string
          readOnly: true
          description: The private endpoint connection member name
    HybridComputePrivateLinkScopeProperties:
      type: object
      description: Properties that define a Azure Arc PrivateLinkScope resource.
      properties:
        publicNetworkAccess:
          description: Indicates whether machines associated with the private link scope can also use public Azure Arc service endpoints.
          $ref: '#/components/schemas/PublicNetworkAccessType'
        provisioningState:
          type: string
          description: 'Current state of this PrivateLinkScope: whether or not is has been provisioned within the resource group it is defined. Users cannot change this value but are able to read from it. Values will include Provisioning ,Succeeded, Canceled and Failed.'
          readOnly: true
        privateLinkScopeId:
          readOnly: true
          description: The Guid id of the private link scope.
          type: string
        privateEndpointConnections:
          readOnly: true
          description: The collection of associated Private Endpoint Connections.
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnectionDataModel'
    HybridComputePrivateLinkScopeListResult:
      type: object
      description: Describes the list of Azure Arc PrivateLinkScope resources.
      required:
        - value
      properties:
        value:
          type: array
          description: List of Azure Arc PrivateLinkScope definitions.
          items:
            $ref: '#/components/schemas/HybridComputePrivateLinkScope'
        nextLink:
          type: string
          description: The URI to get the next set of Azure Arc PrivateLinkScope definitions if too many PrivateLinkScopes where returned in the result set.
    PrivateLinkResourceListResult:
      type: object
      description: A list of private link resources
      properties:
        value:
          description: Array of results.
          type: array
          items:
            $ref: '#/components/schemas/PrivateLinkResource'
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    PrivateLinkResource:
      type: object
      description: A private link resource
      properties:
        properties:
          $ref: '#/components/schemas/PrivateLinkResourceProperties'
          description: Resource properties.
        systemData:
          readOnly: true
          description: The system meta data relating to this resource.
[...]
