openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  version: '2019-04-01'
  title: DevSpacesManagement
  description: Dev Spaces REST API
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    ContainerHostMapping:
      description: Container host mapping object specifying the Container host resource ID and its associated Controller resource.
      properties:
        containerHostResourceId:
          description: ARM ID of the Container Host resource
          type: string
        mappedControllerResourceId:
          description: ARM ID of the mapped Controller resource
          type: string
          readOnly: true
    TrackedResource:
      description: The resource model definition for a ARM tracked top level resource.
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        tags:
          description: Tags for the Azure resource.
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
            - read
            - create
            - update
        location:
          description: Region where the Azure resource is located.
          type: string
          x-ms-mutability:
            - read
            - create
    ResourceProviderOperationList:
      properties:
        value:
          description: Resource provider operations list.
          type: array
          items:
            $ref: '#/components/schemas/ResourceProviderOperationDefinition'
        nextLink:
          description: The URI that can be used to request the next page for list of Azure operations.
          type: string
          readOnly: true
    ResourceProviderOperationDefinition:
      properties:
        name:
          description: Resource provider operation name.
          type: string
        display:
          $ref: '#/components/schemas/ResourceProviderOperationDisplay'
    ResourceProviderOperationDisplay:
      properties:
        provider:
          description: Name of the resource provider.
          type: string
        resource:
          description: Name of the resource type.
          type: string
        operation:
          description: Name of the resource provider operation.
          type: string
        description:
          description: Description of the resource provider operation.
          type: string
    Controller:
      required:
        - properties
        - sku
        - location
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      properties:
        properties:
          $ref: '#/components/schemas/ControllerProperties'
          x-ms-client-flatten: true
        sku:
          $ref: '#/components/schemas/Sku'
    ControllerProperties:
      required:
        - targetContainerHostResourceId
        - targetContainerHostCredentialsBase64
      properties:
        provisioningState:
          description: Provisioning state of the Azure Dev Spaces Controller.
          enum:
            - Succeeded
            - Failed
            - Canceled
            - Updating
            - Creating
            - Deleting
            - Deleted
          type: string
          readOnly: true
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
        hostSuffix:
          description: DNS suffix for public endpoints running in the Azure Dev Spaces Controller.
          type: string
          readOnly: true
        dataPlaneFqdn:
          description: DNS name for accessing DataPlane services
          type: string
          readOnly: true
        targetContainerHostApiServerFqdn:
          description: DNS of the target container host's API server
          type: string
          readOnly: true
        targetContainerHostResourceId:
          description: Resource ID of the target container host
          type: string
          x-ms-mutability:
            - read
            - create
        targetContainerHostCredentialsBase64:
          description: Credentials of the target container host (base64).
          type: string
          x-ms-mutability:
            - create
    Sku:
      description: Model representing SKU for Azure Dev Spaces Controller.
      required:
        - name
      properties:
        name:
          description: The name of the SKU for Azure Dev Spaces Controller.
          enum:
            - S1
          type: string
          x-ms-enum:
            name: SkuName
            modelAsString: true
        tier:
          description: The tier of the SKU for Azure Dev Spaces Controller.
          enum:
            - Standard
          type: string
          x-ms-enum:
            name: SkuTier
            modelAsString: true
    ControllerUpdateParameters:
      description: Parameters for updating an Azure Dev Spaces Controller.
      properties:
        tags:
          description: Tags for the Azure Dev Spaces Controller.
          additionalProperties:
            type: string
        properties:
          $ref: '#/components/schemas/ControllerUpdateParametersProperties'
          x-ms-client-flatten: true
    ControllerUpdateParametersProperties:
      properties:
        targetContainerHostCredentialsBase64:
          description: Credentials of the target container host (base64).
          type: string
    ControllerList:
      properties:
        value:
          description: List of Azure Dev Spaces Controllers.
          type: array
          items:
            $ref: '#/components/schemas/Controller'
        nextLink:
          description: The URI that can be used to request the next page for list of Azure Dev Spaces Controllers.
          type: string
          readOnly: true
    ListConnectionDetailsParameters:
      description: Parameters for listing connection details of an Azure Dev Spaces Controller.
      required:
        - targetContainerHostResourceId
      properties:
        targetContainerHostResourceId:
          description: Resource ID of the target container host mapped to the Azure Dev Spaces Controller.
          type: string
    ControllerConnectionDetailsList:
      properties:
        connectionDetailsList:
          description: List of Azure Dev Spaces Controller connection details.
          type: array
          items:
            $ref: '#/components/schemas/ControllerConnectionDetails'
    ControllerConnectionDetails:
      properties:
        orchestratorSpecificConnectionDetails:
          $ref: '#/components/schemas/OrchestratorSpecificConnectionDetails'
    OrchestratorSpecificConnectionDetails:
      description: Base class for types that supply values used to connect to container orchestrators
      properties:
        instanceType:
          description: Gets the Instance type.
          type: string
          readOnly: true
      discriminator:
        propertyName: instanceType
    Resource:
      description: An Azure resource.
      properties:
        id:
          description: Fully qualified resource Id for the resource.
          type: string
          readOnly: true
        name:
          description: The name of the resource.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    KubernetesConnectionDetails:
      description: Contains information used to connect to a Kubernetes cluster
      allOf:
        - $ref: '#/components/schemas/OrchestratorSpecificConnectionDetails'
      properties:
        kubeConfig:
          description: Gets the kubeconfig for the cluster.
          type: string
      x-ms-discriminator-value: Kubernetes
    DevSpacesErrorResponse:
      description: Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
          description: The details of the error.
    ErrorDetails:
      properties:
        code:
          description: Status code for the error.
          type: string
          readOnly: true
        message:
          description: Error message describing the error in detail.
          type: string
          readOnly: true
        target:
          description: The target of the particular error.
          type: string
          readOnly: true
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Azure subscription ID.
      required: true
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroupName
      in: path
      description: Resource group to which the resource belongs.
      required: true
      x-ms-parameter-location: method
      schema:
        maxLength: 90
        minLength: 1
        type: string
    NameParameter:
      name: name
      in: path
      description: Name of the resource.
      required: true
      x-ms-parameter-location: method
      schema:
        maxLength: 63
        minLength: 1
        pattern: ^[a-zA-Z0-9]([_-]*[a-zA-Z0-9])*$
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API version.
      required: true
      schema:
        type: string
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/locations/{location}/checkContainerHostMapping:
    post:
      tags:
        - ContainerHostMappings
      summary: Returns container host mapping object for a container host resource ID if an associated controller exists.
      operationId: ContainerHostMappings_GetContainerHostMapping
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - name: location
          in: path
          description: Location of the container host.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        x-ms-requestBody-name: containerHostMapping
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContainerHostMapping'
      responses:
        '200':
          description: The request was successful; response contains the container host mapping.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContainerHostMapping'
        '204':
          description: The request was successful; container host mapping does not exist.
        default:
          description: Error response describing the reason for operation failure. 400 - BadRequest(Invalid container host resource ID.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevSpacesErrorResponse'
      x-stackQL-resource: container_host_mappings
      x-stackQL-verb: exec
  /providers/Microsoft.DevSpaces/operations:
    get:
      tags:
        - Operations
      summary: Lists operations for the resource provider.
      description: Lists all the supported operations by the Microsoft.DevSpaces resource provider along with their description.
      operationId: Operations_List
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The request was successful; response contains the list of operations under Microsoft.DevSpaces resource provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderOperationList'
      x-ms-pageable:
        nextLinkName: nextLink
      x-stackQL-resource: operations
      x-stackQL-verb: select
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/controllers/{name}:
    get:
      tags:
        - Controllers
      summary: Gets an Azure Dev Spaces Controller.
      description: Gets the properties for an Azure Dev Spaces Controller.
      operationId: Controllers_Get
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/NameParameter'
      responses:
        '200':
          description: The request was successful; response contains the Azure Dev Spaces Controller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Controller'
        default:
          description: Error response describing the reason for operation failure. 404 - NotFound(Azure Dev Spaces Controller doesn't exist.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevSpacesErrorResponse'
      x-stackQL-resource: controllers
      x-stackQL-verb: exec
    put:
      tags:
        - Controllers
      summary: Creates an Azure Dev Spaces Controller.
      description: Creates an Azure Dev Spaces Controller with the specified create parameters.
      operationId: Controllers_Create
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/NameParameter'
      requestBody:
        description: Controller create parameters.
        required: true
        x-ms-requestBody-name: controller
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Controller'
      responses:
        '200':
          description: The request was successful; response contains the created Azure Dev Spaces Controller .
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Controller'
        '201':
          description: The request was successful; Azure Dev Spaces Controller is being created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Controller'
        default:
          description: Error response describing the reason for operation failure. 400 - BadRequest(One or more creation parameters are invalid.), 409 - Conflict(Target container host is not in a supported state.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevSpacesErrorResponse'
      x-ms-long-running-operation: true
      x-stackQL-resource: controllers
      x-stackQL-verb: insert
    delete:
      tags:
        - Controllers
      summary: Deletes an Azure Dev Spaces Controller.
      description: Deletes an existing Azure Dev Spaces Controller.
      operationId: Controllers_Delete
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/NameParameter'
      responses:
        '200':
          description: The request was successful; the Azure Dev Spaces Controller is deleted.
        '202':
          description: The request was successful; Azure Dev Spaces Controller is being deleted.
        '204':
          description: The request was successful; Azure Dev Spaces Controller does not exist.
        default:
          description: Error response describing the reason for operation failure. 409 - Conflict(Azure Dev Spaces Controller is in a non-terminal state due to an ongoing operation.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevSpacesErrorResponse'
      x-ms-long-running-operation: true
      x-stackQL-resource: controllers
      x-stackQL-verb: delete
    patch:
      tags:
        - Controllers
      summary: Updates an Azure Dev Spaces Controller.
      description: Updates the properties of an existing Azure Dev Spaces Controller with the specified update parameters.
      operationId: Controllers_Update
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/NameParameter'
      requestBody:
        description: Parameters for updating the Azure Dev Spaces Controller.
        required: true
        x-ms-requestBody-name: controllerUpdateParameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ControllerUpdateParameters'
      responses:
        '200':
          description: The request was successful; response contains the updated Azure Dev Spaces Controller .
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Controller'
        '201':
          description: The request was successful; Azure Dev Spaces Controller is being updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Controller'
        default:
          description: Error response describing the reason for operation failure. 404 - NotFound(Azure Dev Spaces Controller doesn't exist.), 400 - BadRequest(One or more update parameters are invalid.), 409 - Conflict(Target container host is not in a supported state.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevSpacesErrorResponse'
      x-stackQL-resource: controllers
      x-stackQL-verb: exec
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/controllers:
    get:
      tags:
        - Controllers
      summary: Lists the Azure Dev Spaces Controllers in a resource group.
      description: Lists all the Azure Dev Spaces Controllers with their properties in the specified resource group and subscription.
      operationId: Controllers_ListByResourceGroup
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
      responses:
        '200':
          description: The request was successful; response contains the list of Azure Dev Spaces Controllers in the resource group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControllerList'
        default:
          description: Error response describing the reason for operation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevSpacesErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-stackQL-resource: controllers
      x-stackQL-verb: select
  /subscriptions/{subscriptionId}/providers/Microsoft.DevSpaces/controllers:
    get:
      tags:
        - Controllers
      summary: Lists the Azure Dev Spaces Controllers in a subscription.
      description: Lists all the Azure Dev Spaces Controllers with their properties in the subscription.
      operationId: Controllers_List
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The request was successful; response contains the list of Azure Dev Spaces Controllers in the subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControllerList'
        default:
          description: Error response describing the reason for operation failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevSpacesErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
      x-stackQL-resource: controllers
      x-stackQL-verb: select
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/controllers/{name}/listConnectionDetails:
    post:
      tags:
        - Controllers
      summary: Lists connection details for an Azure Dev Spaces Controller.
      description: Lists connection details for the underlying container resources of an Azure Dev Spaces Controller.
      operationId: Controllers_ListConnectionDetails
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupParameter'
        - $ref: '#/components/parameters/NameParameter'
      requestBody:
        description: Parameters for listing connection details of Azure Dev Spaces Controller.
        required: true
        x-ms-requestBody-name: listConnectionDetailsParameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListConnectionDetailsParameters'
      responses:
        '200':
          description: The request was successful; response contains the list of connection details for the Azure Dev Spaces Controller .
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControllerConnectionDetailsList'
        default:
          description: Error response describing the reason for operation failure. 404 - NotFound(Azure Dev Spaces Controller doesn't exist.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevSpacesErrorResponse'
      x-stackQL-resource: controllers
      x-stackQL-verb: exec
