openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  title: AutomationManagement
  version: 2020-01-13-preview
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    PrivateLinkResourceListResult:
      description: A list of private link resources
      type: object
      properties:
        value:
          type: array
          description: Array of private link resources
          items:
            $ref: '#/components/schemas/PrivateLinkResource'
    PrivateLinkResource:
      description: A private link resource
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/PrivateLinkResourceProperties'
          description: Resource properties.
          x-ms-client-flatten: true
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
    PrivateLinkResourceProperties:
      description: Properties of a private link resource.
      type: object
      properties:
        groupId:
          description: The private link resource group id.
          type: string
          readOnly: true
        requiredMembers:
          description: The private link resource required member names.
          type: array
          items:
            type: string
          readOnly: true
    JobStream:
      type: object
      properties:
        id:
          type: string
          description: Gets or sets the id of the resource.
        properties:
          $ref: '#/components/schemas/JobStreamProperties'
          x-ms-client-flatten: true
          description: Gets or sets the id of the job stream.
      description: Definition of the job stream.
    JobStreamProperties:
      type: object
      properties:
        jobStreamId:
          type: string
          description: Gets or sets the id of the job stream.
        time:
          type: string
          format: date-time
          description: Gets or sets the creation time of the job.
          nullable: false
        streamType:
          type: string
          description: Gets or sets the stream type.
          enum:
            - Progress
            - Output
            - Warning
            - Error
            - Debug
            - Verbose
            - Any
          x-ms-enum:
            name: JobStreamType
            modelAsString: true
        streamText:
          type: string
          description: Gets or sets the stream text.
        summary:
          type: string
          description: Gets or sets the summary.
        value:
          type: object
          additionalProperties:
            type: object
          description: Gets or sets the values of the job stream.
      x-ms-client-flatten: true
      description: Definition of the job stream.
    JobStreamListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/JobStream'
          description: A list of job streams.
        nextLink:
          type: string
          description: Gets or sets the next link.
      description: The response model for the list job stream operation.
    Job:
      description: Definition of the job.
      x-ms-mutability:
        - read
        - create
      properties:
        properties:
          $ref: '#/components/schemas/JobProperties'
          x-ms-client-flatten: true
          description: The properties of the job.
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
    JobListResultV2:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/JobCollectionItem'
            readOnly: true
          description: List of jobs.
        nextLink:
          type: string
          readOnly: true
          description: The  link to the next page.
      description: The response model for the list job operation.
    JobCollectionItem:
      description: Job collection item properties.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          description: Job properties.
          $ref: '#/components/schemas/JobCollectionItemProperties'
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      required:
        - properties
    JobProperties:
      properties:
        runbook:
          $ref: '#/components/schemas/RunbookAssociationProperty'
          description: Gets or sets the runbook.
        startedBy:
          type: string
          description: Gets or sets the job started by.
        runOn:
          type: string
          description: Gets or sets the runOn which specifies the group name where the job is to be executed.
        jobId:
          type: string
          format: uuid
          description: Gets or sets the id of the job.
          nullable: false
        creationTime:
          type: string
          format: date-time
          nullable: false
          description: Gets or sets the creation time of the job.
        status:
          type: string
          description: Gets or sets the status of the job.
          enum:
            - New
            - Activating
            - Running
            - Completed
            - Failed
            - Stopped
            - Blocked
            - Suspended
            - Disconnected
            - Suspending
            - Stopping
            - Resuming
            - Removing
          x-ms-enum:
            name: JobStatus
            modelAsString: true
        statusDetails:
          type: string
          description: Gets or sets the status details of the job.
        startTime:
          type: string
          format: date-time
          nullable: true
          description: Gets or sets the start time of the job.
        endTime:
          type: string
          format: date-time
          nullable: true
          description: Gets or sets the end time of the job.
        exception:
          type: string
          description: Gets or sets the exception of the job.
        lastModifiedTime:
          type: string
          format: date-time
          nullable: true
          description: Gets or sets the last modified time of the job.
        lastStatusModifiedTime:
          type: string
          format: date-time
          nullable: true
          description: Gets or sets the last status modified time of the job.
        parameters:
          type: object
          additionalProperties:
            type: string
          description: Gets or sets the parameters of the job.
        provisioningState:
          $ref: '#/components/schemas/JobProvisioningStateProperty'
          description: The current provisioning state of the job.
      description: Definition of job properties.
    RunbookAssociationProperty:
      properties:
        name:
          type: string
          description: Gets or sets the name of the runbook.
      description: The runbook property associated with the entity.
    JobCreateParameters:
      properties:
        properties:
          $ref: '#/components/schemas/JobCreateProperties'
          x-ms-client-flatten: true
          description: Gets or sets the list of job properties.
      required:
        - properties
      description: The parameters supplied to the create job operation.
    JobCollectionItemProperties:
      description: Job collection item properties.
      properties:
        runbook:
          $ref: '#/components/schemas/RunbookAssociationProperty'
          readOnly: true
          description: The runbook association.
        jobId:
          type: string
          format: uuid
          readOnly: true
          description: The id of the job.
          nullable: false
        creationTime:
          type: string
          format: date-time
          nullable: false
          readOnly: true
          description: The creation time of the job.
        status:
          type: string
          readOnly: true
          description: The status of the job.
          enum:
            - New
            - Activating
            - Running
            - Completed
            - Failed
            - Stopped
            - Blocked
            - Suspended
            - Disconnected
            - Suspending
            - Stopping
            - Resuming
            - Removing
          x-ms-enum:
            name: JobStatus
            modelAsString: true
        startTime:
          type: string
          format: date-time
          nullable: true
          readOnly: true
          description: The start time of the job.
        endTime:
          type: string
          format: date-time
          nullable: true
          readOnly: true
          description: The end time of the job.
        lastModifiedTime:
          type: string
          format: date-time
          nullable: true
          readOnly: true
          description: The last modified time of the job.
        provisioningState:
          type: string
          description: The provisioning state of a resource.
          readOnly: true
        runOn:
          type: string
          description: Specifies the runOn group name where the job was executed.
    JobCreateProperties:
      properties:
        runbook:
          $ref: '#/components/schemas/RunbookAssociationProperty'
          description: Gets or sets the runbook.
        parameters:
          type: object
          additionalProperties:
            type: string
          description: Gets or sets the parameters of the job.
        runOn:
          type: string
          description: Gets or sets the runOn which specifies the group name where the job is to be executed.
    JobProvisioningStateProperty:
      readOnly: true
      type: string
      description: The provisioning state of the resource.
      enum:
        - Failed
        - Succeeded
        - Suspended
        - Processing
      x-ms-enum:
        name: JobProvisioningState
        modelAsString: true
    ErrorResponse:
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).
      type: object
      properties:
        error:
          description: The error object.
          $ref: '#/components/schemas/ErrorDetail'
    Resource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
        systemData:
          readOnly: true
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
          $ref: '#/components/schemas/systemData'
      x-ms-azure-resource: true
    TrackedResource:
      title: Tracked Resource
      description: The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
            - read
            - create
            - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
            - read
            - create
          description: The geo-location where the resource lives
      required:
        - location
      allOf:
        - $ref: '#/components/schemas/Resource'
    ProxyResource:
      title: Proxy Resource
      description: The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a location
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
    PrivateEndpointConnection:
      description: A private endpoint connection
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
          description: Resource properties.
          x-ms-client-flatten: true
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
    PrivateEndpointConnectionProperties:
      description: Properties of a private endpoint connection.
      type: object
      properties:
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpointProperty'
          description: Private endpoint which the connection belongs to.
        groupIds:
          $ref: '#/components/schemas/GroupIdsProperty'
          description: Gets the groupIds.
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionStateProperty'
          description: Connection State of the Private Endpoint Connection.
    PrivateEndpointProperty:
      type: object
      description: Private endpoint which the connection belongs to.
      properties:
        id:
          type: string
          description: Resource id of the private endpoint.
    GroupIdsProperty:
      type: array
      items:
        type: string
      description: Gets the groupIds.
    PrivateLinkServiceConnectionStateProperty:
      type: object
      description: Connection State of the Private Endpoint Connection.
      properties:
        status:
          type: string
          description: The private link service connection status.
        description:
          type: string
          description: The private link service connection description.
        actionsRequired:
          type: string
          description: Any action that is required beyond basic workflow (approve/ reject/ disconnect)
          readOnly: true
    AzureEntityResource:
      x-ms-client-name: AzureEntityResource
      title: Entity Resource
      description: The resource model definition for an Azure Resource Manager resource with an etag.
      type: object
      properties:
        etag:
          type: string
          readOnly: true
          description: Resource Etag.
      allOf:
        - $ref: '#/components/schemas/Resource'
    ResourceModelWithAllowedPropertySet:
      description: The resource model definition containing the full set of allowed properties for a resource. Except properties bag, there cannot be a top level property outside of this set.
      type: object
      properties:
        managedBy:
          type: string
          x-ms-mutability:
            - read
            - create
            - update
          description: The fully qualified resource ID of the resource that manages this resource. Indicates if this resource is managed by another Azure resource. If this is present, complete mode deployment will not delete the resource if it is removed from the template since it is managed by another resource.
        kind:
          type: string
          x-ms-mutability:
            - read
            - create
          description: Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type. E.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value.
          pattern: ^[-\w\._,\(\)]+$
        etag:
          readOnly: true
          type: string
          description: 'The etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields. '
        identity:
          allOf:
            - $ref: '#/components/schemas/Identity'
        sku:
          allOf:
            - $ref: '#/components/schemas/Sku'
        plan:
          allOf:
            - $ref: '#/components/schemas/Plan'
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      x-ms-azure-resource: true
    Sku:
      description: The resource model definition representing SKU
      type: object
      properties:
        name:
          type: string
          description: The name of the SKU. E.g. P3. It is typically a letter+number code
        tier:
          $ref: '#/components/schemas/SkuTier'
        size:
          type: string
          description: 'The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. '
        family:
          type: string
          description: If the service has different generations of hardware, for the same SKU, then that can be captured here.
        capacity:
          type: integer
          format: int32
          description: If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted.
      required:
        - name
    Identity:
      description: Identity for the resource.
      type: object
      properties:
        principalId:
          readOnly: true
          type: string
          format: uuid
          description: The principal ID of resource identity. The value must be an UUID.
        tenantId:
          readOnly: true
          type: string
          format: uuid
          description: The tenant ID of resource. The value must be an UUID.
        type:
          type: string
          description: The identity type.
          enum:
            - SystemAssigned
          x-ms-enum:
            name: ResourceIdentityType
            modelAsString: false
    Plan:
      type: object
      properties:
        name:
          type: string
          description: A user defined name of the 3rd Party Artifact that is being procured.
        publisher:
          type: string
          description: The publisher of the 3rd Party Artifact that is being bought. E.g. NewRelic
        product:
          type: string
          description: 'The 3rd Party artifact that is being procured. E.g. NewRelic. Product maps to the OfferID specified for the artifact at the time of Data Market onboarding. '
        promotionCode:
          type: string
          description: A publisher provided promotion code as provisioned in Data Market for the said product/artifact.
        version:
          type: string
          description: The version of the desired product/artifact.
      description: Plan for the resource.
      required:
        - name
        - publisher
        - product
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
          x-ms-identifiers:
            - message
            - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    Operation:
      title: REST API Operation
      description: Details of a REST API operation, returned from the Resource Provider Operations API
      type: object
      properties:
        name:
          description: 'The name of the operation, as per Resource-Based Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write", "Microsoft.Compute/virtualMachines/capture/action"'
          type: string
          readOnly: true
        isDataAction:
          description: Whether the operation applies to data-plane. This is "true" for data-plane operations and "false" for ARM/control-plane operations.
          type: boolean
          readOnly: true
        display:
          description: Localized display information for this particular operation.
          type: object
          properties:
            provider:
              description: The localized friendly form of the resource provider name, e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".
              type: string
              readOnly: true
            resource:
              description: The localized friendly name of the resource type related to this operation. E.g. "Virtual Machines" or "Job Schedule Collections".
              type: string
              readOnly: true
            operation:
              description: The concise, localized friendly name for the operation; suitable for dropdowns. E.g. "Create or Update Virtual Machine", "Restart Virtual Machine".
              type: string
              readOnly: true
            description:
              description: The short, localized friendly description of the operation; suitable for tool tips and detailed views.
              type: string
              readOnly: true
        origin:
          description: The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is "user,system"
          type: string
          readOnly: true
          enum:
            - user
            - system
            - user,system
          x-ms-enum:
            name: Origin
            modelAsString: true
        actionType:
          description: Enum. Indicates the action type. "Internal" refers to actions that are for internal only APIs.
          type: string
          readOnly: true
          enum:
            - Internal
          x-ms-enum:
            name: ActionType
            modelAsString: true
    OperationListResult:
      description: A list of REST API operations supported by an Azure Resource Provider. It contains an URL link to get the next set of results.
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Operation'
          x-ms-identifiers:
            - name
          description: List of operations supported by the resource provider
          readOnly: true
        nextLink:
          type: string
          format: uri
          description: URL to get the next set of operation list results (if there are any).
          readOnly: true
    OperationStatusResult:
      description: The current status of an async operation.
      type: object
      required:
        - status
      properties:
        id:
          description: Fully qualified ID for the async operation.
          type: string
          format: arm-id
        resourceId:
          description: Fully qualified ID of the resource against which the original async operation was started.
          type: string
          format: arm-id
          readOnly: true
        name:
          description: Name of the async operation.
          type: string
        status:
          description: Operation status.
          type: string
        percentComplete:
          description: Percent of the operation that is complete.
          type: number
          minimum: 0
          maximum: 100
        startTime:
          description: The start time of the operation.
          type: string
          format: date-time
        endTime:
          description: The end time of the operation.
          type: string
          format: date-time
        operations:
          description: The operations list.
          type: array
          items:
            $ref: '#/components/schemas/OperationStatusResult'
        error:
          description: If present, details of the operation error.
          $ref: '#/components/schemas/ErrorDetail'
    locationData:
      description: Metadata pertaining to the geographic location of the resource.
      type: object
      properties:
        name:
          type: string
          maxLength: 256
          description: A canonical name for the geographic or physical location.
        city:
          type: string
          description: The city or locality where the resource is located.
        district:
          type: string
          description: The district, state, or province where the resource is located.
        countryOrRegion:
          type: string
          description: The country or region where the resource is located
      required:
        - name
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
    encryptionProperties:
      description: Configuration of key for data encryption
      type: object
      properties:
        status:
          description: Indicates whether or not the encryption is enabled for container registry.
          enum:
            - enabled
            - disabled
          type: string
          x-ms-enum:
            name: EncryptionStatus
            modelAsString: true
        keyVaultProperties:
          $ref: '#/components/schemas/KeyVaultProperties'
          description: Key vault properties.
    KeyVaultProperties:
      type: object
      properties:
        keyIdentifier:
          description: Key vault uri to access the encryption key.
          type: string
        identity:
          description: The client ID of the identity which will be used to access key vault.
          type: string
    CheckNameAvailabilityRequest:
      description: The check availability request body.
      type: object
      properties:
        name:
          description: The name of the resource for which availability needs to be checked.
          type: string
        type:
          description: The resource type.
          type: string
    CheckNameAvailabilityResponse:
      description: The check availability result.
      type: object
      properties:
        nameAvailable:
          description: Indicates if the resource name is available.
          type: boolean
        reason:
          description: The reason why the given name is not available.
          type: string
          enum:
            - Invalid
            - AlreadyExists
          x-ms-enum:
            name: CheckNameAvailabilityReason
            modelAsString: true
        message:
          description: Detailed reason why the given name is available.
          type: string
    PrivateEndpointConnectionListResult:
      description: A list of private endpoint connections
      type: object
      properties:
        value:
          type: array
          description: Array of private endpoint connections
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
    AdvancedSchedule:
      properties:
        weekDays:
          type: array
          items:
            type: string
          description: Days of the week that the job should execute on.
        monthDays:
          type: array
          items:
            type: integer
            format: int32
            nullable: false
          description: Days of the month that the job should execute on. Must be between 1 and 31.
        monthlyOccurrences:
          type: array
          items:
            $ref: '#/components/schemas/AdvancedScheduleMonthlyOccurrence'
          x-ms-identifiers: []
          description: Occurrences of days within a month.
      description: The properties of the create Advanced Schedule.
    AdvancedScheduleMonthlyOccurrence:
      properties:
        occurrence:
          type: integer
          format: int32
          description: Occurrence of the week within the month. Must be between 1 and 5
        day:
          type: string
          description: Day of the occurrence. Must be one of monday, tuesday, wednesday, thursday, friday, saturday, sunday.
          enum:
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
            - Sunday
          x-ms-enum:
            name: ScheduleDay
            modelAsString: true
      description: The properties of the create advanced schedule monthly occurrence.
    ScheduleCreateOrUpdateProperties:
      properties:
        description:
          type: string
          description: Gets or sets the description of the schedule.
        startTime:
          type: string
          format: date-time
          description: Gets or sets the start time of the schedule.
          nullable: false
        expiryTime:
          type: string
          format: date-time
          description: Gets or sets the end time of the schedule.
          nullable: true
        interval:
          description: Gets or sets the interval of the schedule.
        frequency:
          type: string
          description: Gets or sets the frequency of the schedule.
          $ref: '#/components/schemas/scheduleFrequency'
        timeZone:
          type: string
          description: Gets or sets the time zone of the schedule.
        advancedSchedule:
          $ref: '#/components/schemas/AdvancedSchedule'
          description: Gets or sets the AdvancedSchedule.
      required:
        - startTime
        - frequency
      description: The parameters supplied to the create or update schedule operation.
    scheduleFrequency:
      type: string
      description: Gets or sets the frequency of the schedule.
      enum:
        - OneTime
        - Day
        - Hour
        - Week
        - Month
        - Minute
      x-ms-enum:
        name: ScheduleFrequency
        modelAsString: true
        values:
          - value: OneTime
          - value: Day
          - value: Hour
          - value: Week
          - value: Month
          - value: Minute
            description: The minimum allowed interval for Minute schedules is 15 minutes.
    ScheduleCreateOrUpdateParameters:
      properties:
        name:
          type: string
          description: Gets or sets the name of the Schedule.
        properties:
          $ref: '#/components/schemas/ScheduleCreateOrUpdateProperties'
          x-ms-client-flatten: true
          description: Gets or sets the list of schedule properties.
      required:
        - name
        - properties
      description: The parameters supplied to the create or update schedule operation.
    Schedule:
      properties:
        properties:
          $ref: '#/components/schemas/ScheduleProperties'
          x-ms-client-flatten: true
          description: Gets or sets the properties of the schedule.
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      description: Definition of the schedule.
    ScheduleProperties:
      properties:
        startTime:
          type: string
          format: date-time
          description: Gets or sets the start time of the schedule.
          nullable: false
        startTimeOffsetMinutes:
          readOnly: true
          type: number
          format: double
          description: Gets the start time's offset in minutes.
          nullable: false
        expiryTime:
          type: string
          format: date-time
          description: Gets or sets the end time of the schedule.
          nullable: true
        expiryTimeOffsetMinutes:
          type: number
          format: double
          description: Gets or sets the expiry time's offset in minutes.
          nullable: false
        isEnabled:
          type: boolean
          default: false
          description: Gets or sets a value indicating whether this schedule is enabled.
        nextRun:
          type: string
          format: date-time
          description: Gets or sets the next run time of the schedule.
          nullable: true
        nextRunOffsetMinutes:
          type: number
          format: double
          description: Gets or sets the next run time's offset in minutes.
          nullable: false
        interval:
          description: Gets or sets the interval of the schedule.
        frequency:
          type: string
          description: Gets or sets the frequency of the schedule.
          $ref: '#/components/schemas/scheduleFrequency'
        timeZone:
          type: string
          description: Gets or sets the time zone of the schedule.
        advancedSchedule:
          $ref: '#/components/schemas/AdvancedSchedule'
          description: Gets or sets the advanced schedule.
        creationTime:
          type: string
          format: date-time
          description: Gets or sets the creation time.
          nullable: false
        lastModifiedTime:
          type: string
          format: date-time
          description: Gets or sets the last modified time.
          nullable: false
        description:
          type: string
          description: Gets or sets the description.
      description: Definition of schedule parameters.
    ScheduleUpdateProperties:
      properties:
        description:
          type: string
          description: Gets or sets the description of the schedule.
        isEnabled:
          type: boolean
          description: Gets or sets a value indicating whether this schedule is enabled.
      description: The parameters supplied to the update schedule operation.
    ScheduleUpdateParameters:
      properties:
        name:
          type: string
          description: Gets or sets the name of the Schedule.
        properties:
          $ref: '#/components/schemas/ScheduleUpdateProperties'
          x-ms-client-flatten: true
          description: Gets or sets the list of schedule properties.
      description: The parameters supplied to the update schedule operation.
    ScheduleListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Schedule'
          description: Gets or sets a list of schedules.
        nextLink:
          type: string
          description: Gets or sets the next link.
      description: The response model for the list schedule operation.
    CertificateCreateOrUpdateProperties:
      properties:
        base64Value:
          type: string
          description: Gets or sets the base64 encoded value of the certificate.
        description:
          type: string
          description: Gets or sets the description of the certificate.
        thumbprint:
          type: string
          description: Gets or sets the thumbprint of the certificate.
        isExportable:
          type: boolean
          description: Gets or sets the is exportable flag of the certificate.
          nullable: false
      required:
        - base64Value
      description: The properties of the create certificate operation.
    CertificateCreateOrUpdateParameters:
      properties:
        name:
          type: string
          description: Gets or sets the name of the certificate.
        properties:
          $ref: '#/components/schemas/CertificateCreateOrUpdateProperties'
          x-ms-client-flatten: true
          description: Gets or sets the properties of the certificate.
      required:
        - name
        - properties
      description: The parameters supplied to the create or update or replace certificate operation.
    CertificateProperties:
      properties:
        thumbprint:
          type: string
          readOnly: true
          description: Gets the thumbprint of the certificate.
        expiryTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the expiry time of the certificate.
          nullable: false
        isExportable:
          type: boolean
          readOnly: true
          description: Gets the is exportable flag of the certificate.
          nullable: false
        creationTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the creation time.
          nullable: false
        lastModifiedTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the last modified time.
          nullable: false
        description:
          type: string
          description: Gets or sets the description.
      description: Properties of the certificate.
    Certificate:
      properties:
        properties:
          $ref: '#/components/schemas/CertificateProperties'
          x-ms-client-flatten: true
          description: Gets or sets the properties of the certificate.
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      description: Definition of the certificate.
    CertificateListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Certificate'
          description: Gets or sets a list of certificates.
        nextLink:
          type: string
          description: Gets or sets the next link.
      description: The response model for the list certificate operation.
    CertificateUpdateProperties:
      properties:
        description:
          type: string
          description: Gets or sets the description of the certificate.
      description: The properties of the update certificate operation
    CertificateUpdateParameters:
      properties:
        name:
          type: string
          description: Gets or sets the name of the certificate.
        properties:
          $ref: '#/components/schemas/CertificateUpdateProperties'
          x-ms-client-flatten: true
          description: Gets or sets the properties of the certificate.
      description: The parameters supplied to the update certificate operation.
    SourceControlSyncJobStreamsListBySyncJob:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SourceControlSyncJobStream'
          description: The list of source control sync job streams.
        nextLink:
          type: string
          readOnly: true
          description: The next link.
      description: The response model for the list source control sync job streams operation.
    SourceControlSyncJobStream:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource id.
        properties:
          $ref: '#/components/schemas/SourceControlSyncJobStreamProperties'
          x-ms-client-flatten: true
          description: The properties of the source control sync job stream.
      description: Definition of the source control sync job stream.
    SourceControlSyncJobStreamProperties:
      properties:
        sourceControlSyncJobStreamId:
          type: string
          description: The sync job stream id.
        summary:
          type: string
          description: The summary of the sync job stream.
        time:
          type: string
          format: date-time
          nullable: true
          readOnly: true
          description: The time of the sync job stream.
        streamType:
          type: string
          description: The type of the sync job stream.
          enum:
            - Error
            - Output
          x-ms-enum:
            name: streamType
            modelAsString: true
      description: Definition of source control sync job stream properties.
    SourceControlSyncJobStreamById:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource id.
        properties:
          $ref: '#/components/schemas/SourceControlSyncJobStreamByIdProperties'
          x-ms-client-flatten: true
          description: The properties of the source control sync job stream.
      description: Definition of the source control sync job stream by id.
    SourceControlSyncJobStreamByIdProperties:
      properties:
        sourceControlSyncJobStreamId:
          type: string
          description: The sync job stream id.
        summary:
          type: string
          description: The summary of the sync job stream.
        time:
          type: string
          format: date-time
          nullable: true
          readOnly: true
          description: The time of the sync job stream.
        streamType:
          type: string
          description: The type of the sync job stream.
          enum:
            - Error
            - Output
          x-ms-enum:
            name: streamType
            modelAsString: true
        streamText:
          type: string
          description: The text of the sync job stream.
        value:
          type: object
          additionalProperties:
            type: object
          description: The values of the job stream.
      description: Definition of source control sync job stream by id properties.
    softwareUpdateConfiguration:
      x-ms-azure-resource: true
      description: Software update configuration properties.
      type: object
      properties:
        name:
          readOnly: true
          type: string
          description: Resource name.
        id:
          readOnly: true
          type: string
          description: Resource Id.
        type:
          readOnly: true
          type: string
          description: Resource type
        properties:
          x-ms-client-flatten: true
          description: Software update configuration properties.
          $ref: '#/components/schemas/softwareUpdateConfigurationProperties'
      required:
        - properties
    softwareUpdateConfigurationProperties:
      description: Software update configuration properties.
      properties:
        updateConfiguration:
          description: update specific properties for the Software update configuration
          $ref: '#/components/schemas/updateConfiguration'
        scheduleInfo:
          description: Schedule information for the Software update configuration
          $ref: '#/components/schemas/SUCScheduleProperties'
        provisioningState:
          type: string
          description: Provisioning state for the software update configuration, which only appears in the response.
          readOnly: true
        error:
          description: Details of provisioning error
          $ref: '#/components/schemas/ErrorResponse'
        creationTime:
          type: string
          description: Creation time of the resource, which only appears in the response.
          format: date-time
          nullable: false
          readOnly: true
        createdBy:
          type: string
          description: CreatedBy property, which only appears in the response.
          readOnly: true
        lastModifiedTime:
          type: string
          description: Last time resource was modified, which only appears in the response.
          format: date-time
          nullable: false
          readOnly: true
        lastModifiedBy:
          type: string
          description: LastModifiedBy property, which only appears in the response.
          readOnly: true
        tasks:
          description: Tasks information for the Software update configuration.
          $ref: '#/components/schemas/softwareUpdateConfigurationTasks'
      required:
        - updateConfiguration
        - scheduleInfo
    softwareUpdateConfigurationTasks:
      type: object
      description: Task properties of the software update configuration.
      properties:
        preTask:
          description: Pre task properties.
          $ref: '#/components/schemas/taskProperties'
        postTask:
          description: Post task properties.
          $ref: '#/components/schemas/taskProperties'
    taskProperties:
      type: object
      description: Task properties of the software update configuration.
      properties:
        parameters:
          type: object
          additionalProperties:
            type: string
          description: Gets or sets the parameters of the task.
        source:
          type: string
          description: Gets or sets the name of the runbook.
    WindowsProperties:
      type: object
      description: Windows specific update configuration.
      properties:
        includedUpdateClassifications:
          description: Update classification included in the software update configuration. A comma separated string with required values
          type: string
          enum:
            - Unclassified
            - Critical
            - Security
            - UpdateRollup
            - FeaturePack
            - ServicePack
            - Definition
            - Tools
            - Updates
          x-ms-enum:
            name: WindowsUpdateClasses
            modelAsString: true
        excludedKbNumbers:
          type: array
          description: KB numbers excluded from the software update configuration.
          items:
            type: string
        includedKbNumbers:
          type: array
          description: KB numbers included from the software update configuration.
          items:
            type: string
        rebootSetting:
          description: Reboot setting for the software update configuration.
          type: string
    operatingSystemType:
      type: string
      description: Target operating system for the software update configuration.
      enum:
        - Windows
        - Linux
      x-ms-enum:
        modelAsString: false
        name: OperatingSystemType
    updateConfiguration:
      type: object
      description: Update specific properties of the software update configuration.
      properties:
        operatingSystem:
          description: operating system of target machines
          $ref: '#/components/schemas/operatingSystemType'
        windows:
          description: Windows specific update configuration.
          $ref: '#/components/schemas/WindowsProperties'
        linux:
          description: Linux specific update configuration.
          $ref: '#/components/schemas/LinuxProperties'
        duration:
          type: string
          format: duration
          description: Maximum time allowed for the software update configuration run. Duration needs to be specified using the format PT[n]H[n]M[n]S as per ISO8601
        azureVirtualMachines:
          type: array
          description: List of azure resource Ids for azure virtual machines targeted by the software update configuration.
          items:
            type: string
            description: Azure Resource Manager Id for a virtual machine.
        nonAzureComputerNames:
          type: array
          description: List of names of non-azure machines targeted by the software update configuration.
          items:
            type: string
            description: Name of Non-Azure OMS Computer.
        targets:
          description: Group targets for the software update configuration.
          $ref: '#/components/schemas/TargetProperties'
      required:
        - operatingSystem
    LinuxProperties:
      type: object
      description: Linux specific update configuration.
      properties:
        includedPackageClassifications:
          description: Update classifications included in the software update configuration.
          type: string
          enum:
            - Unclassified
            - Critical
            - Security
            - Other
          x-ms-enum:
            name: LinuxUpdateClasses
            modelAsString: true
        excludedPackageNameMasks:
          type: array
          description: packages excluded from the software update configuration.
          items:
            type: string
        includedPackageNameMasks:
          type: array
          description: packages included from the software update configuration.
          items:
            type: string
        rebootSetting:
          description: Reboot setting for the software update configuration.
          type: string
    SUCScheduleProperties:
      properties:
        startTime:
          type: string
          format: date-time
          nullable: false
          description: Gets or sets the start time of the schedule.
        startTimeOffsetMinutes:
          readOnly: true
          type: number
          format: double
          description: Gets the start time's offset in minutes.
          nullable: false
        expiryTime:
          type: string
          format: date-time
          nullable: true
          description: Gets or sets the end time of the schedule.
        expiryTimeOffsetMinutes:
          type: number
          format: double
          description: Gets or sets the expiry time's offset in minutes.
          nullable: false
        isEnabled:
          type: boolean
          default: false
          description: Gets or sets a value indicating whether this schedule is enabled.
        nextRun:
          type: string
          format: date-time
          nullable: true
          description: Gets or sets the next run time of the schedule.
        nextRunOffsetMinutes:
          type: number
          format: double
          description: Gets or sets the next run time's offset in minutes.
          nullable: false
        interval:
          type: integer
          format: int64
          description: Gets or sets the interval of the schedule.
        frequency:
          type: string
          description: Gets or sets the frequency of the schedule.
          $ref: '#/components/schemas/scheduleFrequency'
        timeZone:
          type: string
          description: Gets or sets the time zone of the schedule.
        advancedSchedule:
          $ref: '#/components/schemas/AdvancedSchedule'
          description: Gets or sets the advanced schedule.
        creationTime:
          type: string
          format: date-time
          nullable: false
          description: Gets or sets the creation time.
        lastModifiedTime:
          type: string
          format: date-time
          nullable: false
          description: Gets or sets the last modified time.
        description:
          type: string
          description: Gets or sets the description.
      description: Definition of schedule parameters.
    softwareUpdateConfigurationListResult:
      description: result of listing all software update configuration
      properties:
        value:
          description: outer object returned when listing all software update configurations
          type: array
          items:
            $ref: '#/components/schemas/softwareUpdateConfigurationCollectionItem'
    softwareUpdateConfigurationCollectionItem:
      description: Software update configuration collection item properties.
      type: object
      properties:
        name:
          readOnly: true
          type: string
          description: Name of the software update configuration.
        id:
          readOnly: true
          type: string
          description: Resource Id of the software update configuration
        properties:
          x-ms-client-flatten: true
          description: Software update configuration properties.
          $ref: '#/components/schemas/softwareUpdateConfigurationCollectionItemProperties'
      required:
        - properties
    softwareUpdateConfigurationCollectionItemProperties:
      description: Software update configuration collection item properties.
      properties:
        updateConfiguration:
          description: Update specific properties of the software update configuration.
          $ref: '#/components/schemas/updateConfiguration'
        tasks:
          description: Pre and Post Tasks defined
          $ref: '#/components/schemas/softwareUpdateConfigurationTasks'
        frequency:
          description: execution frequency of the schedule associated with the software update configuration
          type: string
          $ref: '#/components/schemas/scheduleFrequency'
        startTime:
          type: string
          format: date-time
          nullable: false
          description: the start time of the update.
        creationTime:
          type: string
          description: Creation time of the software update configuration, which only appears in the response.
          format: date-time
          nullable: false
          readOnly: true
        lastModifiedTime:
          type: string
          description: Last time software update configuration was modified, which only appears in the response.
          format: date-time
          nullable: false
          readOnly: true
        provisioningState:
          type: string
          description: Provisioning state for the software update configuration, which only appears in the response.
          readOnly: true
        nextRun:
          type: string
          format: date-time
          nullable: true
          description: ext run time of the update.
    TargetProperties:
      type: object
      description: Group specific to the update configuration.
      properties:
        azureQueries:
          description: List of Azure queries in the software update configuration.
          type: array
          items:
            type: object
            $ref: '#/components/schemas/AzureQueryProperties'
          x-ms-identifiers: []
        nonAzureQueries:
          description: List of non Azure queries in the software update configuration.
          type: array
          items:
            type: object
            $ref: '#/components/schemas/NonAzureQueryProperties'
          x-ms-identifiers:
            - workspaceId
    NonAzureQueryProperties:
      type: object
      description: Non Azure query for the update configuration.
      properties:
        functionAlias:
          type: string
          description: Log Analytics Saved Search name.
        workspaceId:
          type: string
          description: Workspace Id for Log Analytics in which the saved Search is resided.
    AzureQueryProperties:
      type: object
      description: Azure query for the update configuration.
      properties:
        scope:
          type: array
          description: List of Subscription or Resource Group ARM Ids.
          items:
            type: string
            description: Subscription or Resource Group ARM Id.
        locations:
          type: array
          description: List of locations to scope the query to.
          items:
            type: string
            description: Location to scope the query to.
        tagSettings:
          type: object
          description: Tag settings for the VM.
          $ref: '#/components/schemas/TagSettingsProperties'
    TagSettingsProperties:
      type: object
      description: Tag filter information for the VM.
      properties:
        tags:
          type: object
          description: Dictionary of tags with its list of values.
          additionalProperties:
            type: array
            items:
              type: string
              description: List of tag values for a tag.
        filterOperator:
          type: string
          description: Filter VMs by Any or All specified tags.
          enum:
            - All
            - Any
          x-ms-enum:
            name: TagOperators
            modelAsString: false
    SourceControlListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SourceControl'
          description: The list of source controls.
        nextLink:
          type: string
          description: The next link.
      description: The response model for the list source controls operation.
    SourceControlUpdateProperties:
      properties:
        branch:
          type: string
          description: The repo branch of the source control.
        folderPath:
          type: string
          description: The folder path of the source control. Path must be relative.
        autoSync:
          type: boolean
          description: The auto sync of the source control. Default is false.
        publishRunbook:
          type: boolean
          description: The auto publish of the source control. Default is true.
        securityToken:
          description: The authorization token for the repo of the source control.
          $ref: '#/components/schemas/SourceControlSecurityTokenProperties'
        description:
          type: string
          description: The user description of the source control.
      description: The properties of the update source control
    SourceControlUpdateParameters:
      properties:
        properties:
          $ref: '#/components/schemas/SourceControlUpdateProperties'
          x-ms-client-flatten: true
          description: The value of the source control.
      description: The parameters supplied to the update source control operation.
    SourceControl:
      properties:
        properties:
          $ref: '#/components/schemas/SourceControlProperties'
          x-ms-client-flatten: true
          description: The properties of the source control.
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      description: Definition of the source control.
    SourceControlProperties:
      properties:
        repoUrl:
          type: string
          description: The repo url of the source control.
        branch:
          type: string
          description: The repo branch of the source control. Include branch as empty string for VsoTfvc.
        folderPath:
          type: string
          description: The folder path of the source control.
        autoSync:
          type: boolean
          description: The auto sync of the source control. Default is false.
        publishRunbook:
          type: boolean
          description: The auto publish of the source control. Default is true.
        sourceType:
          type: string
          description: The source type. Must be one of VsoGit, VsoTfvc, GitHub.
          enum:
            - VsoGit
            - VsoTfvc
            - GitHub
          x-ms-enum:
            name: sourceType
            modelAsString: true
        description:
          type: string
          description: The description.
        creationTime:
          type: string
          format: date-time
          nullable: false
          description: The creation time.
        lastModifiedTime:
          type: string
          format: date-time
          nullable: false
          description: The last modified time.
      description: Definition of the source control properties
    SourceControlCreateOrUpdateParameters:
      properties:
        properties:
          $ref: '#/components/schemas/SourceControlCreateOrUpdateProperties'
          x-ms-client-flatten: true
          description: The properties of the source control.
      required:
        - properties
      description: The parameters supplied to the create or update source control operation.
    SourceControlCreateOrUpdateProperties:
      properties:
        repoUrl:
          type: string
          maxLength: 2000
          description: The repo url of the source control.
        branch:
          type: string
          maxLength: 255
          description: The repo branch of the source control. Include branch as empty string for VsoTfvc.
        folderPath:
          type: string
          maxLength: 255
          description: The folder path of the source control. Path must be relative.
        autoSync:
          type: boolean
          description: The auto async of the source control. Default is false.
        publishRunbook:
          type: boolean
          description: The auto publish of the source control. Default is true.
        sourceType:
          type: string
          description: The source type. Must be one of VsoGit, VsoTfvc, GitHub, case sensitive.
          enum:
            - VsoGit
            - VsoTfvc
            - GitHub
          x-ms-enum:
            name: sourceType
            modelAsString: true
        securityToken:
          description: The authorization token for the repo of the source control.
          $ref: '#/components/schemas/SourceControlSecurityTokenProperties'
        description:
          type: string
          maxLength: 512
          description: The user description of the source control.
      description: The properties of the create source control operation.
    SourceControlSecurityTokenProperties:
      properties:
        accessToken:
          type: string
          maxLength: 1024
          description: The access token.
        refreshToken:
          type: string
          maxLength: 1024
          description: The refresh token.
        tokenType:
          type: string
          description: The token type. Must be either PersonalAccessToken or Oauth.
          enum:
            - PersonalAccessToken
            - Oauth
          x-ms-enum:
            name: tokenType
            modelAsString: true
    OperationPropertiesFormat:
      description: Description of operation properties format.
      type: object
      properties:
        serviceSpecification:
          description: Specification of the service.
          type: object
          properties:
            metricSpecifications:
              type: array
              x-ms-identifiers: []
              items:
                $ref: '#/components/schemas/MetricSpecification'
              description: Operation service specification.
            logSpecifications:
              type: array
              x-ms-identifiers: []
              items:
                $ref: '#/components/schemas/LogSpecification'
              description: Operation log specification.
    LogSpecification:
      description: Description of logging specification.
      type: object
      properties:
        name:
          type: string
          description: The name of the specification.
        displayName:
          type: string
          description: The display name of the specification.
        blobDuration:
          type: string
          description: Duration of the blob.
    MetricSpecification:
      description: Description of metrics specification.
      type: object
      properties:
        name:
          type: string
          description: The name of the metric.
        displayName:
          type: string
          description: The display name of the metric.
        displayDescription:
          type: string
          description: The description of the metric.
        unit:
          type: string
          description: Units the metric to be displayed in.
        aggregationType:
          type: string
          description: The aggregation type.
        dimensions:
          type: array
          x-ms-identifiers: []
          items:
            $ref: '#/components/schemas/Dimension'
          description: List of dimensions.
    Dimension:
      description: Dimension of the metric.
      type: object
      properties:
        name:
          type: string
          description: The name of the dimension.
        displayName:
          type: string
          description: The display name of the dimension.
    GraphicalRunbookContent:
      type: object
      description: Graphical Runbook Content
      properties:
        rawContent:
          nullable: true
          x-nullable: true
          description: Raw graphical Runbook content.
          $ref: '#/components/schemas/RawGraphicalRunbookContent'
        graphRunbookJson:
          type: string
          nullable: true
          description: Graphical Runbook content as JSON
    RawGraphicalRunbookContent:
      type: object
      description: Raw Graphical Runbook content
      properties:
        schemaVersion:
          type: string
          description: Schema version of the serializer.
        runbookDefinition:
          type: string
          description: Serialized Graphical runbook
        runbookType:
          type: string
          description: Runbook Type
          enum:
            - GraphPowerShell
            - GraphPowerShellWorkflow
          x-ms-enum:
            name: GraphRunbookType
            modelAsString: true
    DscNodeReportListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/DscNodeReport'
          description: Gets or sets a list of dsc node reports.
        nextLink:
          type: string
          description: Gets or sets the next link.
      description: The response model for the list dsc nodes operation.
    DscReportResourceNavigation:
      properties:
        resourceId:
          type: string
          description: Gets or sets the ID of the resource to navigate to.
      description: Navigation for DSC Report Resource.
    DscMetaConfiguration:
      properties:
        configurationModeFrequencyMins:
          type: integer
          format: int32
          description: Gets or sets the ConfigurationModeFrequencyMins value of the meta configuration.
        rebootNodeIfNeeded:
          type: boolean
          description: Gets or sets the RebootNodeIfNeeded value of the meta configuration.
        configurationMode:
          type: string
          description: Gets or sets the ConfigurationMode value of the meta configuration.
        actionAfterReboot:
          type: string
          description: Gets or sets the ActionAfterReboot value of the meta configuration.
        certificateId:
          type: string
          description: Gets or sets the CertificateId value of the meta configuration.
        refreshFrequencyMins:
          type: integer
          format: int32
          description: Gets or sets the RefreshFrequencyMins value of the meta configuration.
        allowModuleOverwrite:
          type: boolean
          description: Gets or sets the AllowModuleOverwrite value of the meta configuration.
      description: Definition of the DSC Meta Configuration.
    DscNodeReport:
      properties:
        endTime:
          type: string
          format: date-time
          description: Gets or sets the end time of the node report.
          nullable: true
        lastModifiedTime:
          type: string
          format: date-time
          description: Gets or sets the lastModifiedTime of the node report.
          nullable: false
        startTime:
          type: string
          format: date-time
          description: Gets or sets the start time of the node report.
          nullable: true
        type:
          type: string
          description: Gets or sets the type of the node report.
        reportId:
          type: string
          description: Gets or sets the id of the node report.
        status:
          type: string
          description: Gets or sets the status of the node report.
        refreshMode:
          type: string
          description: Gets or sets the refreshMode of the node report.
        rebootRequested:
          type: string
          description: Gets or sets the rebootRequested of the node report.
        reportFormatVersion:
          type: string
          description: Gets or sets the reportFormatVersion of the node report.
        configurationVersion:
          type: string
          description: Gets or sets the configurationVersion of the node report.
        id:
          type: string
          description: Gets or sets the id.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/DscReportError'
          x-ms-identifiers:
            - errorMessage
            - resourceId
          description: Gets or sets the errors for the node report.
        resources:
          type: array
          items:
            $ref: '#/components/schemas/DscReportResource'
          x-ms-identifiers:
            - resourceId
          description: Gets or sets the resource for the node report.
        metaConfiguration:
          $ref: '#/components/schemas/DscMetaConfiguration'
          description: Gets or sets the metaConfiguration of the node at the time of the report.
        hostName:
          type: string
          description: Gets or sets the hostname of the node that sent the report.
        iPV4Addresses:
          type: array
          items:
            type: string
          description: Gets or sets the IPv4 address of the node that sent the report.
        iPV6Addresses:
          type: array
          items:
            type: string
          description: Gets or sets the IPv6 address of the node that sent the report.
        numberOfResources:
          type: integer
          format: int32
          description: Gets or sets the number of resource in the node report.
        rawErrors:
          type: string
          description: Gets or sets the unparsed errors for the node report.
      description: Definition of the dsc node report type.
    DscReportResource:
      properties:
        resourceId:
          type: string
          description: Gets or sets the ID of the resource.
        sourceInfo:
          type: string
          description: Gets or sets the source info of the resource.
        dependsOn:
          type: array
          items:
            $ref: '#/components/schemas/DscReportResourceNavigation'
          x-ms-identifiers:
            - resourceId
          description: Gets or sets the Resource Navigation values for resources the resource depends on.
        moduleName:
          type: string
          description: Gets or sets the module name of the resource.
        moduleVersion:
          type: string
          description: Gets or sets the module version of the resource.
        resourceName:
          type: string
          description: Gets or sets the name of the resource.
        error:
          type: string
          description: Gets or sets the error of the resource.
        status:
          type: string
          description: Gets or sets the status of the resource.
        durationInSeconds:
          type: number
          format: double
          description: Gets or sets the duration in seconds for the resource.
        startDate:
          type: string
          format: date-time
          description: Gets or sets the start date of the resource.
          nullable: false
      description: Definition of the DSC Report Resource.
    DscReportError:
      properties:
        errorSource:
          type: string
          description: Gets or sets the source of the error.
        resourceId:
          type: string
          description: Gets or sets the resource ID which generated the error.
        errorCode:
          type: string
          description: Gets or sets the error code.
        errorMessage:
          type: string
          description: Gets or sets the error message.
        locale:
          type: string
          description: Gets or sets the locale of the error.
        errorDetails:
          type: string
          description: Gets or sets the error details.
      description: Definition of the dsc node report error type.
    AgentRegistration:
      properties:
        dscMetaConfiguration:
          type: string
          description: Gets or sets the dsc meta configuration.
        endpoint:
          type: string
          description: Gets or sets the dsc server endpoint.
        keys:
          $ref: '#/components/schemas/AgentRegistrationKeys'
          description: Gets or sets the agent registration keys.
        id:
          type: string
          description: Gets or sets the id.
      description: Definition of the agent registration information type.
    AgentRegistrationKeys:
      properties:
        primary:
          type: string
          description: Gets or sets the primary key.
        secondary:
          type: string
          description: Gets or sets the secondary key.
      description: Definition of the agent registration keys.
    DscNode:
      description: Definition of a DscNode
      properties:
        properties:
          $ref: '#/components/schemas/DscNodeProperties'
          x-ms-client-flatten: true
          description: The properties of a DscNode.
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
    DscNodeProperties:
      description: The properties of a DscNode
      properties:
        lastSeen:
          type: string
          format: date-time
          description: Gets or sets the last seen time of the node.
          nullable: false
        registrationTime:
          type: string
          format: date-time
          description: Gets or sets the registration time of the node.
          nullable: false
        ip:
          type: string
          description: Gets or sets the ip of the node.
        accountId:
          type: string
          description: Gets or sets the account id of the node.
        nodeConfiguration:
          nullable: true
          x-nullable: true
          x-ms-client-flatten: true
          $ref: '#/components/schemas/DscNodeConfigurationAssociationProperty'
          description: Gets or sets the configuration of the node.
        status:
          type: string
          description: Gets or sets the status of the node.
        nodeId:
          type: string
          description: Gets or sets the node id.
        etag:
          type: string
          description: Gets or sets the etag of the resource.
        totalCount:
          type: integer
          description: Gets the total number of records matching filter criteria.
        extensionHandler:
          type: array
          description: Gets or sets the list of extensionHandler properties for a Node.
          items:
            $ref: '#/components/schemas/DscNodeExtensionHandlerAssociationProperty'
          x-ms-identifiers:
            - name
    DscNodeExtensionHandlerAssociationProperty:
      properties:
        name:
          type: string
          description: Gets or sets the name of the extension handler.
        version:
          type: string
          description: Gets or sets the version of the extension handler.
      description: The dsc extensionHandler property associated with the node
    DscNodeConfigurationAssociationProperty:
      properties:
        name:
          type: string
          description: Gets or sets the name of the dsc node configuration.
      description: The dsc node configuration property associated with the entity.
    AgentRegistrationRegenerateKeyParameter:
      properties:
        keyName:
          type: string
          description: Gets or sets the agent registration key name - primary or secondary.
          enum:
            - primary
            - secondary
          x-ms-enum:
            name: AgentRegistrationKeyName
            modelAsString: true
      required:
        - keyName
      description: The parameters supplied to the regenerate keys operation.
    DscNodeUpdateParameters:
      properties:
        nodeId:
          type: string
          description: Gets or sets the id of the dsc node.
        properties:
          properties:
            nodeConfiguration:
              x-ms-client-flatten: true
              $ref: '#/components/schemas/DscNodeConfigurationAssociationProperty'
              description: Gets or sets the configuration of the node.
      description: The parameters supplied to the update dsc node operation.
    DscNodeListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/DscNode'
          description: Gets or sets a list of dsc nodes.
        nextLink:
          type: string
          description: Gets or sets the next link.
        totalCount:
          type: integer
          description: Gets the total number of nodes matching filter criteria.
      description: The response model for the list dsc nodes operation.
    softwareUpdateConfigurationMachineRun:
      description: Software update configuration machine run model.
      x-ms-azure-resource: false
      type: object
      properties:
        name:
          readOnly: true
          type: string
          description: Name of the software update configuration machine run
        id:
          readOnly: true
          type: string
          description: Resource Id of the software update configuration machine run
        properties:
          x-ms-client-flatten: true
          description: Software update configuration machine run properties.
          $ref: '#/components/schemas/updateConfigurationMachineRunProperties'
    softwareUpdateConfigurationMachineRunListResult:
      description: result of listing all software update configuration machine runs
      properties:
        value:
          description: outer object returned when listing all software update configuration machine runs
          type: array
          items:
            $ref: '#/components/schemas/softwareUpdateConfigurationMachineRun'
        nextLink:
          type: string
          description: link to next page of results.
    updateConfigurationMachineRunProperties:
      description: Software update configuration machine run properties.
      properties:
        targetComputer:
          type: string
          description: name of the updated computer
          readOnly: true
        targetComputerType:
          type: string
          description: type of the updated computer.
          readOnly: true
        softwareUpdateConfiguration:
          description: software update configuration triggered this run
          $ref: '#/components/schemas/updateConfigurationNavigation'
        status:
          type: string
          description: Status of the software update configuration machine run.
          readOnly: true
        osType:
          type: string
          description: Operating system target of the software update configuration triggered this run
          readOnly: true
        correlationId:
          type: string
          format: uuid
          description: correlation id of the software update configuration machine run
          readOnly: true
        sourceComputerId:
          type: string
          format: uuid
          description: source computer id of the software update configuration machine run
          readOnly: true
        startTime:
          type: string
          format: date-time
          nullable: false
          description: Start time of the software update configuration machine run.
          readOnly: true
        endTime:
          type: string
          format: date-time
          nullable: true
          description: End time of the software update configuration machine run.
          readOnly: true
        configuredDuration:
          type: string
          description: configured duration for the software update configuration run.
          readOnly: true
        job:
          description: Job associated with the software update configuration machine run
          $ref: '#/components/schemas/jobNavigation'
        creationTime:
          type: string
          description: Creation time of the resource, which only appears in the response.
          format: date-time
          nullable: false
          readOnly: true
        createdBy:
          type: string
          description: createdBy property, which only appears in the response.
          readOnly: true
        lastModifiedTime:
          type: string
          description: Last time resource was modified, which only appears in the response.
          format: date-time
          nullable: false
          readOnly: true
        lastModifiedBy:
          type: string
          description: lastModifiedBy property, which only appears in the response.
          readOnly: true
        error:
          description: Details of provisioning error
          $ref: '#/components/schemas/ErrorResponse'
    updateConfigurationNavigation:
      description: Software update configuration Run Navigation model.
      type: object
      properties:
        name:
          description: Name of the software update configuration triggered the software update configuration run
          type: string
          readOnly: true
    jobNavigation:
      description: Software update configuration machine run job navigation properties.
      type: object
      properties:
        id:
          description: Id of the job associated with the software update configuration run
          type: string
          readOnly: true
    AutomationAccount:
      properties:
        properties:
          $ref: '#/components/schemas/AutomationAccountProperties'
          x-ms-client-flatten: true
          description: Gets or sets the automation account properties.
        etag:
          type: string
          description: Gets or sets the etag of the resource.
        identity:
          $ref: '#/components/schemas/Identity'
        systemData:
          $ref: '#/components/schemas/systemData'
          description: Resource system metadata.
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: Definition of the automation account type.
    AutomationAccountProperties:
      properties:
        sku:
          $ref: '#/components/schemas/Sku'
          description: Gets or sets the SKU of account.
        lastModifiedBy:
          type: string
          description: Gets or sets the last modified by.
        state:
          type: string
          readOnly: true
          description: Gets status of account.
          enum:
            - Ok
            - Unavailable
            - Suspended
          x-ms-enum:
            name: AutomationAccountState
            modelAsString: true
        creationTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the creation time.
          nullable: false
        lastModifiedTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the last modified time.
          nullable: false
        description:
          type: string
          description: Gets or sets the description.
        encryption:
          $ref: '#/components/schemas/EncryptionProperties'
          description: Encryption properties for the automation account
        privateEndpointConnections:
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          description: List of Automation operations supported by the Automation resource provider.
        publicNetworkAccess:
          type: boolean
          description: Indicates whether traffic on the non-ARM endpoint (Webhook/Agent) is allowed from the public internet
        disableLocalAuth:
          type: boolean
          description: Indicates whether requests using non-AAD authentication are blocked
        automationHybridServiceUrl:
          type: string
          description: URL of automation hybrid service which is used for hybrid worker on-boarding.
      description: Definition of the account property.
    AutomationAccountCreateOrUpdateParameters:
      properties:
        properties:
          $ref: '#/components/schemas/AutomationAccountCreateOrUpdateProperties'
          x-ms-client-flatten: true
          description: Gets or sets account create or update properties.
        name:
          type: string
          description: Gets or sets name of the resource.
        location:
          type: string
          description: Gets or sets the location of the resource.
        identity:
          type: object
          $ref: '#/components/schemas/Identity'
          description: Sets the identity property for automation account
        tags:
          type: object
          additionalProperties:
            type: string
          description: Gets or sets the tags attached to the resource.
      description: The parameters supplied to the create or update automation account operation.
    AutomationAccountCreateOrUpdateProperties:
      properties:
        sku:
          $ref: '#/components/schemas/Sku'
          description: Gets or sets account SKU.
        encryption:
          $ref: '#/components/schemas/EncryptionProperties'
          description: Set the encryption properties for the automation account
        publicNetworkAccess:
          type: boolean
          description: Indicates whether traffic on the non-ARM endpoint (Webhook/Agent) is allowed from the public internet
        disableLocalAuth:
          type: boolean
          description: Indicates whether requests using non-AAD authentication are blocked
      description: The parameters supplied to the create or update account properties.
    AutomationAccountListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AutomationAccount'
          description: Gets or sets list of accounts.
        nextLink:
          type: string
          description: Gets or sets the next link.
      description: The response model for the list account operation.
    Statistics:
      properties:
        counterProperty:
          type: string
          readOnly: true
          description: Gets the property value of the statistic.
        counterValue:
          type: integer
          format: int64
          readOnly: true
          description: Gets the value of the statistic.
        startTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the startTime of the statistic.
          nullable: false
        endTime:
          type: string
          format: date-time
          readOnly: true
          description: Gets the endTime of the statistic.
          nullable: true
        id:
          type: string
          readOnly: true
          description: Gets the id.
      description: Definition of the statistic.
    StatisticsListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Statistics'
          description: Gets or sets a list of statistics.
      description: The response model for the list statistics operation.
    Usage:
      properties:
        id:
          type: string
          description: Gets or sets the id of the resource.
        name:
          $ref: '#/components/schemas/UsageCounterName'
          description: Gets or sets the usage counter name.
        unit:
          type: string
          description: Gets or sets the usage unit name.
        currentValue:
          type: number
          format: double
          description: Gets or sets the current usage value.
        limit:
          type: integer
          format: int64
          description: Gets or sets max limit. -1 for unlimited
        throttleStatus:
          type: string
          description: Gets or sets the throttle status.
      description: Definition of Usage.
    UsageCounterName:
      properties:
        value:
          type: string
          description: Gets or sets the usage counter name.
        localizedValue:
          type: string
          description: Gets or sets the localized usage counter name.
      description: Definition of usage counter name.
    UsageListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Usage'
          description: Gets or sets usage.
      description: The response model for the get usage operation.
    Key:
      properties:
        KeyName:
          readOnly: true
          type: string
          description: Automation key name.
          enum:
            - Primary
            - Secondary
          x-ms-enum:
            name: AutomationKeyName
            modelAsString: true
        Permissions:
          readOnly: true
          type: string
          description: Automation key permissions.
          enum:
            - Read
            - Full
          x-ms-enum:
            name: AutomationKeyPermissions
            modelAsString: true
        Value:
          readOnly: true
          type: string
          description: Value of the Automation Key used for registration.
      description: Automation key which is used to register a DSC Node
    KeyListResult:
      properties:
        keys:
          type: array
          items:
            $ref: '#/components/schemas/Key'
          x-ms-identifiers:
            - KeyName
          description: Lists the automation keys.
    AutomationAccountUpdateProperties:
      properties:
        sku:
          $ref: '#/components/schemas/Sku'
          description: Gets or sets account SKU.
        encryption:
          $ref: '#/components/schemas/EncryptionProperties'
          description: Set the encryption properties for the automation account
        publicNetworkAccess:
          type: boolean
          description: Indicates whether traffic on the non-ARM endpoint (Webhook/Agent) is allowed from the public internet
        disableLocalAuth:
          type: boolean
          description: Indicates whether requests using non-AAD authentication are blocked
      description: The parameters supplied to the update account properties.
    AutomationAccountUpdateParameters:
      properties:
        properties:
          $ref: '#/components/schemas/AutomationAccountUpdateProperties'
          x-ms-client-flatten: true
          description: Gets or sets account update properties.
        name:
          type: string
          description: Gets or sets the name of the resource.
        location:
          type: string
          description: Gets or sets the location of the resource.
        identity:
          type: object
          $ref: '#/components/schemas/Identity'
          description: Sets the identity property for automation account
        tags:
          type: object
          additionalProperties:
            type: string
          description: Gets or sets the tags attached to the resource.
      description: The parameters supplied to the update automation account operation.
    EncryptionProperties:
      description: The encryption settings for automation account
      properties:
        keyVaultProperties:
          $ref: '#/components/schemas/KeyVaultProperties'
          description: Key vault properties.
        keySource:
          type: string
          description: Encryption Key Source
          enum:
            - Microsoft.Automation
            - Microsoft.Keyvault
          x-ms-enum:
            name: EncryptionKeySourceType
            modelAsString: false
        identity:
          description: User identity used for CMK.
          properties:
            userAssignedIdentity:
              type: object
              description: 'The user identity used for CMK. It will be an ARM resource id in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
    UserAssignedIdentitiesProperties:
      type: object
      properties:
        principalId:
          readOnly: true
          type: string
          description: The principal id of user assigned identity.
        clientId:
          readOnly: true
          type: string
          description: The client id of user assigned identity.
    softwareUpdateConfigurationRun:
      description: Software update configuration Run properties.
      x-ms-azure-resource: false
      type: object
      properties:
        name:
          readOnly: true
          type: string
          description: Name of the software update configuration run.
        id:
          readOnly: true
          type: string
          description: Resource Id of the software update configuration run
        properties:
          x-ms-client-flatten: true
          description: Software update configuration Run properties.
          $ref: '#/components/schemas/softwareUpdateConfigurationRunProperties'
    softwareUpdateConfigurationRunProperties:
      description: Software update configuration properties.
      properties:
        softwareUpdateConfiguration:
          description: software update configuration triggered this run
          $ref: '#/components/schemas/updateConfigurationNavigation'
        status:
          type: string
          description: Status of the software update configuration run.
          readOnly: true
        configuredDuration:
          type: string
          description: Configured duration for the software update configuration run.
          readOnly: true
        osType:
          type: string
          description: Operating system target of the software update configuration triggered this run
          readOnly: true
        startTime:
          type: string
          format: date-time
          nullable: false
          description: Start time of the software update configuration run.
          readOnly: true
        endTime:
          type: string
          format: date-time
          nullable: true
          description: End time of the software update configuration run.
          readOnly: true
        computerCount:
          type: integer
          description: Number of computers in the software update configuration run.
          readOnly: true
        failedCount:
          type: integer
          description: Number of computers with failed status.
          readOnly: true
        creationTime:
          type: string
          description: Creation time of the resource, which only appears in the response.
          format: date-time
          nullable: false
          readOnly: true
        createdBy:
          type: string
          description: CreatedBy property, which only appears in the response.
          readOnly: true
        lastModifiedTime:
          type: string
          description: Last time resource was modified, which only appears in the response.
          format: date-time
          nullable: false
          readOnly: true
        lastModifiedBy:
          type: string
          description: LastModifiedBy property, which only appears in the response.
          readOnly: true
        tasks:
          description: Software update configuration tasks triggered in this run
          $ref: '#/components/schemas/softwareUpdateConfigurationRunTasks'
    softwareUpdateConfigurationRunTasks:
      description: Software update configuration run tasks model.
      type: object
      properties:
        preTask:
          description: Pre task properties.
          $ref: '#/components/schemas/softwareUpdateConfigurationRunTaskProperties'
        postTask:
          description: Post task properties.
          $ref: '#/components/schemas/softwareUpdateConfigurationRunTaskProperties'
    softwareUpdateConfigurationRunTaskProperties:
      type: object
      description: Task properties of the software update configuration.
      properties:
        status:
          type: string
          description: The status of the task.
        source:
          type: string
          description: The name of the source of the task.
        jobId:
          type: string
          description: The job id of the task.
    softwareUpdateConfigurationRunListResult:
      description: result of listing all software update configuration runs
      properties:
        value:
          description: outer object returned when listing all software update configuration runs
          type: array
          items:
            $ref: '#/components/schemas/softwareUpdateConfigurationRun'
        nextLink:
          type: string
          description: link to next page of results.
    SourceControlSyncJobListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SourceControlSyncJob'
          description: The list of source control sync jobs.
        nextLink:
          type: string
          description: The next link.
      description: The response model for the list source control sync jobs operation.
    SourceControlSyncJobCreateParameters:
      properties:
        properties:
          $ref: '#/components/schemas/SourceControlSyncJobCreateProperties'
          x-ms-client-flatten: true
          description: The properties of the source control sync job.
      required:
        - properties
      description: The parameters supplied to the create source control sync job operation.
    SourceControlSyncJobCreateProperties:
      properties:
        commitId:
          type: string
          description: The commit id of the source control sync job. If not syncing to a commitId, enter an empty string.
          minLength: 0
      required:
        - commitId
      description: Definition of create source control sync job properties.
    SourceControlSyncJobById:
      properties:
        id:
          type: string
          description: The id of the job.
        properties:
          $ref: '#/components/schemas/SourceControlSyncJobByIdProperties'
          x-ms-client-flatten: true
          description: The properties of the source control sync job.
      description: Definition of the source control sync job.
    SourceControlSyncJobByIdProperties:
      properties:
        sourceControlSyncJobId:
          type: string
          description: The source control sync job id.
        creationTime:
          type: string
          format: date-time
          nullable: false
          readOnly: true
          description: The creation time of the job.
        provisioningState:
          type: string
          description: The provisioning state of the job.
          enum:
            - Completed
            - Failed
            - Running
          x-ms-enum:
            name: provisioningState
            modelAsString: true
        startTime:
          type: string
          format: date-time
          nullable: true
[...]
