openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  version: 2023-10-01-preview
  title: DevCenter
  description: DevCenter Management API
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Capability:
      description: A name/value pair to describe a capability.
      type: object
      properties:
        name:
          description: Name of the capability.
          type: string
          readOnly: true
        value:
          description: Value of the capability.
          type: string
          readOnly: true
    TrackedResourceUpdate:
      description: Base tracked resource type for PATCH updates
      type: object
      properties:
        tags:
          $ref: '#/components/schemas/Tags'
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
            - read
            - create
          description: The geo-location where the resource lives
    Tags:
      type: object
      additionalProperties:
        type: string
      x-ms-mutability:
        - read
        - create
        - update
      description: Resource tags.
    CloudError:
      x-ms-external: true
      type: object
      properties:
        error:
          description: Error body
          $ref: '#/components/schemas/CloudErrorBody'
      description: An error response from the DevCenter service.
      required:
        - error
    CloudErrorBody:
      x-ms-external: true
      type: object
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers: []
          description: A list of additional details about the error.
      description: An error response from the DevCenter service.
      required:
        - code
        - message
    DevCenterSku:
      description: The resource model definition representing SKU for DevCenter resources
      type: object
      allOf:
        - $ref: '#/components/schemas/Sku'
      properties:
        resourceType:
          type: string
          description: The name of the resource type
          readOnly: true
        locations:
          description: SKU supported locations.
          type: array
          readOnly: true
          items:
            type: string
        capabilities:
          description: Collection of name/value pairs to describe the SKU capabilities.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Capability'
          x-ms-identifiers: []
      required:
        - name
    ProvisioningState:
      type: string
      description: Provisioning state of the resource.
      enum:
        - NotSpecified
        - Accepted
        - Running
        - Creating
        - Created
        - Updating
        - Updated
        - Deleting
        - Deleted
        - Succeeded
        - Failed
        - Canceled
        - MovingResources
        - TransientFailure
        - RolloutInProgress
        - StorageProvisioningFailed
      readOnly: true
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    UserAssignedIdentities:
      title: User-Assigned Identities
      description: 'The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests.'
      type: object
      additionalProperties:
        $ref: '#/components/schemas/UserAssignedIdentity'
    UserAssignedIdentity:
      type: object
      description: User assigned identity properties
      properties:
        principalId:
          description: The principal ID of the assigned identity.
          format: uuid
          type: string
          readOnly: true
        clientId:
          description: The client ID of the assigned identity.
          format: uuid
          type: string
          readOnly: true
    ManagedServiceIdentityType:
      description: Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed).
      enum:
        - None
        - SystemAssigned
        - UserAssigned
        - SystemAssigned, UserAssigned
      type: string
      x-ms-enum:
        name: ManagedServiceIdentityType
        modelAsString: true
    ManagedServiceIdentity:
      description: Managed service identity (system assigned and/or user assigned identities)
      type: object
      properties:
        principalId:
          readOnly: true
          format: uuid
          type: string
          description: The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity.
        tenantId:
          readOnly: true
          format: uuid
          type: string
          description: The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity.
        type:
          $ref: '#/components/schemas/ManagedServiceIdentityType'
        userAssignedIdentities:
          $ref: '#/components/schemas/UserAssignedIdentities'
      required:
        - type
    SystemAssignedServiceIdentityType:
      description: Type of managed service identity (either system assigned, or none).
      enum:
        - None
        - SystemAssigned
      type: string
      x-ms-enum:
        name: SystemAssignedServiceIdentityType
        modelAsString: true
    SystemAssignedServiceIdentity:
      description: Managed service identity (either system assigned, or none)
      type: object
      properties:
        principalId:
          readOnly: true
          format: uuid
          type: string
          description: The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity.
        tenantId:
          readOnly: true
          format: uuid
          type: string
          description: The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity.
        type:
          $ref: '#/components/schemas/SystemAssignedServiceIdentityType'
      required:
        - type
    SkuListResult:
      description: Results of the Microsoft.DevCenter SKU list operation.
      type: object
      properties:
        value:
          description: Current page of results.
          type: array
          items:
            $ref: '#/components/schemas/DevCenterSku'
          x-ms-identifiers: []
          readOnly: true
        nextLink:
          description: URL to get the next set of results if there are any.
          type: string
          readOnly: true
    Pool:
      description: A pool of Virtual Machines.
      type: object
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      properties:
        properties:
          description: Pool properties
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PoolProperties'
    PoolUpdateProperties:
      description: Properties of a Pool. These properties can be updated after the resource has been created.
      type: object
      properties:
        devBoxDefinitionName:
          description: Name of a Dev Box definition in parent Project of this Pool
          type: string
        networkConnectionName:
          description: Name of a Network Connection in parent Project of this Pool
          type: string
        licenseType:
          description: Specifies the license type indicating the caller has already acquired licenses for the Dev Boxes that will be created.
          $ref: '#/components/schemas/LicenseType'
        localAdministrator:
          description: Indicates whether owners of Dev Boxes in this pool are added as local administrators on the Dev Box.
          $ref: '#/components/schemas/LocalAdminStatus'
        stopOnDisconnect:
          description: Stop on disconnect configuration settings for Dev Boxes created in this pool.
          $ref: '#/components/schemas/StopOnDisconnectConfiguration'
        singleSignOnStatus:
          description: Indicates whether Dev Boxes in this pool are created with single sign on enabled. The also requires that single sign on be enabled on the tenant.
          $ref: '#/components/schemas/SingleSignOnStatus'
        displayName:
          type: string
          description: The display name of the pool.
        virtualNetworkType:
          description: Indicates whether the pool uses a Virtual Network managed by Microsoft or a customer provided network.
          $ref: '#/components/schemas/VirtualNetworkType'
        managedVirtualNetworkRegions:
          type: array
          description: The regions of the managed virtual network (required when managedNetworkType is Managed).
          items:
            type: string
    PoolProperties:
      type: object
      description: Properties of a Pool
      allOf:
        - $ref: '#/components/schemas/PoolUpdateProperties'
      properties:
        healthStatus:
          description: Overall health status of the Pool. Indicates whether or not the Pool is available to create Dev Boxes.
          $ref: '#/components/schemas/HealthStatus'
          readOnly: true
        healthStatusDetails:
          description: Details on the Pool health status to help diagnose issues. This is only populated when the pool status indicates the pool is in a non-healthy state
          type: array
          items:
            $ref: '#/components/schemas/HealthStatusDetail'
          readOnly: true
        devBoxCount:
          description: Indicates the number of provisioned Dev Boxes in this pool.
          type: integer
          format: int32
          readOnly: true
        provisioningState:
          description: The provisioning state of the resource.
          $ref: '#/components/schemas/ProvisioningState'
          readOnly: true
      required:
        - devBoxDefinitionName
        - networkConnectionName
        - licenseType
        - localAdministrator
    HealthStatus:
      description: Health status indicating whether a pool is available to create Dev Boxes.
      enum:
        - Unknown
        - Pending
        - Healthy
        - Warning
        - Unhealthy
      type: string
      x-ms-enum:
        name: HealthStatus
        modelAsString: true
    HealthStatusDetail:
      type: object
      description: Pool health status detail.
      properties:
        code:
          type: string
          description: An identifier for the issue.
          readOnly: true
        message:
          type: string
          description: A message describing the issue, intended to be suitable for display in a user interface
          readOnly: true
    LicenseType:
      description: License Types
      enum:
        - Windows_Client
      type: string
      x-ms-enum:
        name: LicenseType
        modelAsString: true
    LocalAdminStatus:
      description: Local Administrator enable or disable status. Indicates whether owners of Dev Boxes are added as local administrators on the Dev Box.
      type: string
      enum:
        - Disabled
        - Enabled
      x-ms-enum:
        name: LocalAdminStatus
        modelAsString: true
    SingleSignOnStatus:
      description: SingleSignOn (SSO) enable or disable status. Indicates whether Dev Boxes in the Pool will have SSO enabled or disabled.
      type: string
      enum:
        - Disabled
        - Enabled
      x-ms-enum:
        name: SingleSignOnStatus
        modelAsString: true
    VirtualNetworkType:
      description: Indicates a pool uses a Virtual Network managed by Microsoft (Managed), or a customer provided Network (Unmanaged).
      type: string
      enum:
        - Managed
        - Unmanaged
      x-ms-enum:
        name: VirtualNetworkType
        modelAsString: true
    StopOnDisconnectConfiguration:
      type: object
      description: Stop on disconnect configuration settings for Dev Boxes created in this pool.
      properties:
        status:
          description: Whether the feature to stop the Dev Box on disconnect once the grace period has lapsed is enabled.
          $ref: '#/components/schemas/StopOnDisconnectEnableStatus'
        gracePeriodMinutes:
          description: The specified time in minutes to wait before stopping a Dev Box once disconnect is detected.
          type: integer
          format: int32
    StopOnDisconnectEnableStatus:
      description: Stop on disconnect enable or disable status. Indicates whether stop on disconnect to is either enabled or disabled.
      enum:
        - Enabled
        - Disabled
      type: string
      x-ms-enum:
        name: StopOnDisconnectEnableStatus
        modelAsString: true
    PoolListResult:
      description: Results of the machine pool list operation.
      type: object
      properties:
        value:
          description: Current page of results.
          type: array
          items:
            $ref: '#/components/schemas/Pool'
          readOnly: true
        nextLink:
          description: URL to get the next set of results if there are any.
          type: string
          readOnly: true
    PoolUpdate:
      description: The pool properties for partial update. Properties not provided in the update request will not be changed.
      type: object
      allOf:
        - $ref: '#/components/schemas/TrackedResourceUpdate'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PoolUpdateProperties'
          description: Properties of a pool to be updated.
    ImageReference:
      type: object
      description: Image reference information
      properties:
        id:
          description: Image ID, or Image version ID. When Image ID is provided, its latest version will be used.
          type: string
        exactVersion:
          type: string
          readOnly: true
          description: The actual version of the image after use. When id references a gallery image latest version, this will indicate the actual version in use.
    ImageValidationStatus:
      description: Image validation status
      enum:
        - Unknown
        - Pending
        - Succeeded
        - Failed
        - TimedOut
      type: string
      x-ms-enum:
        name: ImageValidationStatus
        modelAsString: true
    ImageValidationErrorDetails:
      type: object
      description: Image validation error details
      properties:
        code:
          type: string
          description: An identifier for the error.
        message:
          type: string
          description: A message describing the error.
    CatalogResourceValidationStatus:
      description: Catalog resource validation status
      enum:
        - Unknown
        - Pending
        - Succeeded
        - Failed
      type: string
      x-ms-enum:
        name: CatalogResourceValidationStatus
        modelAsString: true
    CatalogResourceValidationErrorDetails:
      type: object
      description: List of validator error details. Populated when changes are made to the resource or its dependent resources that impact the validity of the Catalog resource.
      properties:
        errors:
          description: Errors associated with resources synchronized from the catalog.
          type: array
          items:
            $ref: '#/components/schemas/CatalogErrorDetails'
          x-ms-identifiers: []
          readOnly: true
    CatalogErrorDetails:
      type: object
      description: Catalog error details
      properties:
        code:
          type: string
          description: An identifier for the error.
        message:
          type: string
          description: A message describing the error.
    NetworkConnection:
      type: object
      description: Network related settings
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      properties:
        properties:
          description: Properties of a Network Connection
          x-ms-client-flatten: true
          $ref: '#/components/schemas/NetworkProperties'
    NetworkConnectionUpdate:
      description: The network connection properties for partial update. Properties not provided in the update request will not be changed.
      type: object
      allOf:
        - $ref: '#/components/schemas/TrackedResourceUpdate'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/NetworkConnectionUpdateProperties'
          description: Properties of a network connection resource to be updated.
    NetworkConnectionUpdateProperties:
      description: Properties of network connection. These properties can be updated after the resource has been created.
      type: object
      properties:
        subnetId:
          description: The subnet to attach Virtual Machines to
          type: string
        domainName:
          description: Active Directory domain name
          type: string
        organizationUnit:
          description: Active Directory domain Organization Unit (OU)
          type: string
        domainUsername:
          description: 'The username of an Active Directory account (user or service account) that has permissions to create computer objects in Active Directory. Required format: admin@contoso.com.'
          type: string
        domainPassword:
          description: The password for the account used to join domain
          type: string
          x-ms-secret: true
    NetworkProperties:
      description: Network properties
      type: object
      allOf:
        - $ref: '#/components/schemas/NetworkConnectionUpdateProperties'
      properties:
        provisioningState:
          description: The provisioning state of the resource.
          $ref: '#/components/schemas/ProvisioningState'
          readOnly: true
        healthCheckStatus:
          description: Overall health status of the network connection. Health checks are run on creation, update, and periodically to validate the network connection.
          $ref: '#/components/schemas/HealthCheckStatus'
          readOnly: true
        networkingResourceGroupName:
          description: The name for resource group where NICs will be placed.
          type: string
          x-ms-mutability:
            - read
            - create
        domainJoinType:
          description: AAD Join type.
          $ref: '#/components/schemas/DomainJoinType'
          x-ms-mutability:
            - read
            - create
      required:
        - subnetId
        - domainJoinType
    NetworkConnectionListResult:
      description: Result of the network connection list operation.
      type: object
      properties:
        value:
          description: Current page of results.
          type: array
          items:
            $ref: '#/components/schemas/NetworkConnection'
          readOnly: true
        nextLink:
          description: URL to get the next set of results if there are any.
          type: string
          readOnly: true
    DomainJoinType:
      description: Active Directory join type
      enum:
        - HybridAzureADJoin
        - AzureADJoin
      type: string
      x-ms-enum:
        name: DomainJoinType
        modelAsString: true
    HealthCheckStatus:
      description: Health check status values
      enum:
        - Unknown
        - Pending
        - Running
        - Passed
        - Warning
        - Failed
      type: string
      x-ms-enum:
        name: HealthCheckStatus
        modelAsString: true
    HealthCheckStatusDetails:
      description: Health Check details.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          x-ms-client-flatten: true
          description: Health check status details properties.
          $ref: '#/components/schemas/HealthCheckStatusDetailsProperties'
    HealthCheckStatusDetailsProperties:
      description: Health Check properties.
      type: object
      properties:
        startDateTime:
          type: string
          description: Start time of last execution of the health checks.
          readOnly: true
          format: date-time
        endDateTime:
          type: string
          description: End time of last execution of the health checks.
          readOnly: true
          format: date-time
        healthChecks:
          description: Details for each health check item.
          type: array
          items:
            $ref: '#/components/schemas/HealthCheck'
          x-ms-identifiers: []
          readOnly: true
    HealthCheck:
      description: An individual health check item
      type: object
      properties:
        status:
          description: The status of the health check item.
          $ref: '#/components/schemas/HealthCheckStatus'
          readOnly: true
        displayName:
          description: The display name of this health check item.
          type: string
          readOnly: true
        startDateTime:
          description: Start time of health check item.
          type: string
          readOnly: true
          format: date-time
        endDateTime:
          description: End time of the health check item.
          type: string
          readOnly: true
          format: date-time
        errorType:
          description: The type of error that occurred during this health check.
          type: string
          readOnly: true
        recommendedAction:
          description: The recommended action to fix the corresponding error.
          type: string
          readOnly: true
        additionalDetails:
          description: Additional details about the health check or the recommended action.
          type: string
          readOnly: true
    HealthCheckStatusDetailsListResult:
      description: Result of the network health check list operation.
      type: object
      properties:
        value:
          description: Current page of results.
          type: array
          items:
            $ref: '#/components/schemas/HealthCheckStatusDetails'
          readOnly: true
        nextLink:
          description: URL to get the next set of results if there are any.
          type: string
          readOnly: true
    OutboundEnvironmentEndpointCollection:
      type: object
      properties:
        value:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/OutboundEnvironmentEndpoint'
          x-ms-identifiers:
            - category
          description: The collection of outbound network dependency endpoints returned by the listing operation.
        nextLink:
          type: string
          description: The continuation token.
      description: Values returned by the List operation.
    OutboundEnvironmentEndpoint:
      type: object
      properties:
        category:
          type: string
          readOnly: true
          description: The type of service that the agent connects to.
        endpoints:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/EndpointDependency'
          x-ms-identifiers:
            - domainName
          description: The endpoints for this service for which the agent requires outbound access.
      description: A collection of related endpoints from the same service for which the agent requires outbound access.
    EndpointDependency:
      type: object
      properties:
        domainName:
          type: string
          readOnly: true
          description: The domain name of the dependency. Domain names may be fully qualified or may contain a * wildcard.
        description:
          type: string
          readOnly: true
          description: Human-readable supplemental information about the dependency and when it is applicable.
        endpointDetails:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/EndpointDetail'
          description: The list of connection details for this endpoint.
      description: A domain name and connection details used to access a dependency.
    EndpointDetail:
      type: object
      properties:
        port:
          type: integer
          format: int32
          readOnly: true
          description: The port an endpoint is connected to.
      description: Details about the connection between the Batch service and the endpoint.
    Schedule:
      type: object
      description: Represents a Schedule to execute a task.
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: Properties of a Schedule resource
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ScheduleProperties'
    ScheduleUpdate:
      description: The schedule properties for partial update. Properties not provided in the update request will not be changed.
      type: object
      allOf:
        - $ref: '#/components/schemas/TrackedResourceUpdate'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ScheduleUpdateProperties'
          description: Properties of a schedule resource to be updated.
    ScheduleUpdateProperties:
      description: Updatable properties of a Schedule.
      type: object
      properties:
        type:
          description: Supported type this scheduled task represents.
          $ref: '#/components/schemas/ScheduledType'
        frequency:
          description: The frequency of this scheduled task.
          $ref: '#/components/schemas/ScheduledFrequency'
        time:
          description: The target time to trigger the action. The format is HH:MM.
          type: string
        timeZone:
          description: The IANA timezone id at which the schedule should execute.
          type: string
        state:
          description: Indicates whether or not this scheduled task is enabled.
          $ref: '#/components/schemas/ScheduleEnableStatus'
    ScheduleProperties:
      description: The Schedule properties defining when and what to execute.
      type: object
      allOf:
        - $ref: '#/components/schemas/ScheduleUpdateProperties'
      properties:
        provisioningState:
          description: The provisioning state of the resource.
          $ref: '#/components/schemas/ProvisioningState'
          readOnly: true
      required:
        - type
        - frequency
        - timeZone
        - time
    ScheduleListResult:
      description: Result of the schedule list operation.
      type: object
      properties:
        value:
          description: Current page of results.
          type: array
          items:
            $ref: '#/components/schemas/Schedule'
          readOnly: true
        nextLink:
          description: URL to get the next set of results if there are any.
          type: string
          readOnly: true
    ScheduledType:
      description: The supported types for a scheduled task.
      enum:
        - StopDevBox
      type: string
      x-ms-enum:
        name: ScheduledType
        modelAsString: true
    ScheduledFrequency:
      description: The frequency of task execution.
      enum:
        - Daily
      type: string
      x-ms-enum:
        name: ScheduledFrequency
        modelAsString: true
    ScheduleEnableStatus:
      description: Schedule enable or disable status. Indicates whether the schedule applied to is either enabled or disabled.
      enum:
        - Enabled
        - Disabled
      type: string
      x-ms-enum:
        name: ScheduleEnableStatus
        modelAsString: true
    DevCenter:
      type: object
      description: Represents a devcenter resource.
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      properties:
        properties:
          description: DevCenter properties
          x-ms-client-flatten: true
          $ref: '#/components/schemas/DevCenterProperties'
        identity:
          description: Managed identity properties
          $ref: '#/components/schemas/ManagedServiceIdentity'
    DevCenterProperties:
      description: Properties of the devcenter.
      type: object
      allOf:
        - $ref: '#/components/schemas/DevCenterUpdateProperties'
      properties:
        provisioningState:
          description: The provisioning state of the resource.
          $ref: '#/components/schemas/ProvisioningState'
          readOnly: true
        devCenterUri:
          description: The URI of the Dev Center.
          $ref: '#/components/schemas/DevCenterUri'
    DevCenterUpdateProperties:
      description: Properties of the devcenter. These properties can be updated after the resource has been created.
      type: object
      properties:
        encryption:
          $ref: '#/components/schemas/Encryption'
          description: Encryption settings to be used for server-side encryption for proprietary content (such as catalogs, logs, customizations).
        displayName:
          type: string
          description: The display name of the devcenter.
    Encryption:
      type: object
      properties:
        customerManagedKeyEncryption:
          $ref: '#/components/schemas/customerManagedKeyEncryption'
    DevCenterUpdate:
      description: The devcenter resource for partial updates. Properties not provided in the update request will not be changed.
      type: object
      allOf:
        - $ref: '#/components/schemas/TrackedResourceUpdate'
      properties:
        identity:
          description: Managed identity properties
          $ref: '#/components/schemas/ManagedServiceIdentity'
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/DevCenterUpdateProperties'
          description: Properties of a Dev Center to be updated.
    DevCenterListResult:
      description: Result of the list devcenters operation
      type: object
      properties:
        value:
          description: Current page of results.
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/DevCenter'
        nextLink:
          description: URL to get the next set of results if there are any.
          type: string
          readOnly: true
    DevCenterUri:
      description: The URI of the resource.
      readOnly: true
      type: string
    Project:
      description: Represents a project resource.
      type: object
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ProjectProperties'
          description: Properties of a project.
    ProjectUpdateProperties:
      description: Properties of a project. These properties can be updated after the resource has been created.
      type: object
      properties:
        devCenterId:
          type: string
          description: Resource Id of an associated DevCenter
        description:
          type: string
          description: Description of the project.
        maxDevBoxesPerUser:
          type: integer
          format: int32
          minimum: 0
          description: When specified, limits the maximum number of Dev Boxes a single user can create across all pools in the project. This will have no effect on existing Dev Boxes when reduced.
        displayName:
          type: string
          description: The display name of the project.
    ProjectProperties:
      description: Properties of a project.
      type: object
      allOf:
        - $ref: '#/components/schemas/ProjectUpdateProperties'
      properties:
        provisioningState:
          description: The provisioning state of the resource.
          $ref: '#/components/schemas/ProvisioningState'
          readOnly: true
        devCenterUri:
          description: The URI of the Dev Center resource this project is associated with.
          $ref: '#/components/schemas/DevCenterUri'
    ProjectUpdate:
      description: The project properties for partial update. Properties not provided in the update request will not be changed.
      type: object
      allOf:
        - $ref: '#/components/schemas/TrackedResourceUpdate'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ProjectUpdateProperties'
          description: Properties of a project to be updated.
    ProjectListResult:
      description: Results of the project list operation.
      type: object
      properties:
        value:
          description: Current page of results.
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/Project'
        nextLink:
          description: URL to get the next set of results if there are any.
          type: string
          readOnly: true
    Catalog:
      description: Represents a catalog.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/CatalogProperties'
          description: Catalog properties.
    CatalogUpdateProperties:
      description: Properties of a catalog. These properties can be updated after the resource has been created.
      type: object
      properties:
        gitHub:
          description: Properties for a GitHub catalog type.
          $ref: '#/components/schemas/GitCatalog'
        adoGit:
          description: Properties for an Azure DevOps catalog type.
          $ref: '#/components/schemas/GitCatalog'
        syncType:
          enum:
            - Manual
            - Scheduled
          description: Indicates the type of sync that is configured for the catalog.
          type: string
          x-ms-enum:
            name: CatalogSyncType
            modelAsString: true
    CatalogProperties:
      description: Properties of a catalog.
      type: object
      allOf:
        - $ref: '#/components/schemas/CatalogUpdateProperties'
      properties:
        provisioningState:
          description: The provisioning state of the resource.
          $ref: '#/components/schemas/ProvisioningState'
          readOnly: true
        syncState:
          enum:
            - Succeeded
            - InProgress
            - Failed
            - Canceled
          description: The synchronization state of the catalog.
          readOnly: true
          type: string
          x-ms-enum:
            name: CatalogSyncState
            modelAsString: true
        lastSyncStats:
          description: Stats of the latest synchronization.
          $ref: '#/components/schemas/SyncStats'
          readOnly: true
        connectionState:
          enum:
            - Connected
            - Disconnected
          description: The connection state of the catalog.
          readOnly: true
          type: string
          x-ms-enum:
            name: CatalogConnectionState
            modelAsString: true
        lastConnectionTime:
          description: When the catalog was last connected.
          type: string
          readOnly: true
          format: date-time
        lastSyncTime:
          description: When the catalog was last synced.
          type: string
          readOnly: true
          format: date-time
    SyncStats:
      description: Stats of the synchronization.
      type: object
      properties:
        added:
          description: Count of catalog items added during synchronization.
          type: integer
          format: int32
          readOnly: true
          minimum: 0
        updated:
          description: Count of catalog items updated during synchronization.
          type: integer
          format: int32
          readOnly: true
          minimum: 0
        unchanged:
          description: Count of catalog items that were unchanged during synchronization.
          type: integer
          format: int32
          readOnly: true
          minimum: 0
        removed:
          description: Count of catalog items removed during synchronization.
          type: integer
          format: int32
          readOnly: true
          minimum: 0
        validationErrors:
          description: Count of catalog items that had validation errors during synchronization.
          type: integer
          format: int32
          readOnly: true
          minimum: 0
        synchronizationErrors:
          description: Count of synchronization errors that occured during synchronization.
          type: integer
          format: int32
          readOnly: true
          minimum: 0
    GitCatalog:
      description: Properties for a Git repository catalog.
      type: object
      properties:
        uri:
          description: Git URI.
          type: string
        branch:
          description: Git branch.
          type: string
        secretIdentifier:
          description: A reference to the Key Vault secret containing a security token to authenticate to a Git repository.
          type: string
        path:
          description: The folder where the catalog items can be found inside the repository.
          type: string
    CatalogUpdate:
      description: The catalog's properties for partial update. Properties not provided in the update request will not be changed.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/CatalogUpdateProperties'
          description: Catalog properties for update.
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
            - read
            - create
            - update
          description: Resource tags.
    CatalogListResult:
      description: Results of the catalog list operation.
      type: object
      properties:
        value:
          description: Current page of results.
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/Catalog'
        nextLink:
          description: URL to get the next set of results if there are any.
          type: string
          readOnly: true
    SyncErrorDetails:
      description: Synchronization error details.
      type: object
      properties:
        operationError:
          description: Error information for the overall synchronization operation.
          readOnly: true
          $ref: '#/components/schemas/CatalogErrorDetails'
        conflicts:
          description: Catalog items that have conflicting names.
          type: array
          items:
            $ref: '#/components/schemas/CatalogConflictError'
          x-ms-identifiers: []
          readOnly: true
        errors:
          description: Errors that occured during synchronization.
          type: array
          items:
            $ref: '#/components/schemas/CatalogSyncError'
          x-ms-identifiers: []
          readOnly: true
    CatalogSyncError:
      description: An individual synchronization error.
      type: object
      properties:
        path:
          description: The path of the file the error is associated with.
          type: string
          readOnly: true
        errorDetails:
          description: Errors associated with the file.
          type: array
          items:
            $ref: '#/components/schemas/CatalogErrorDetails'
          x-ms-identifiers: []
          readOnly: true
    CatalogConflictError:
      description: An individual conflict error.
      type: object
      properties:
        path:
          description: The path of the file that has a conflicting name.
          type: string
          readOnly: true
        name:
          description: Name of the conflicting catalog item.
          type: string
          readOnly: true
    Gallery:
      description: Represents a gallery.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/GalleryProperties'
          description: Gallery properties.
    GalleryProperties:
      description: Properties of a gallery.
      type: object
      properties:
        provisioningState:
          description: The provisioning state of the resource.
          $ref: '#/components/schemas/ProvisioningState'
          readOnly: true
        galleryResourceId:
          description: The resource ID of the backing Azure Compute Gallery.
          type: string
          x-ms-mutability:
            - read
            - create
      required:
        - galleryResourceId
    Image:
      description: Represents an image.
      type: object
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ImageProperties'
          description: Image properties.
    ImageProperties:
      description: Properties of an image.
      type: object
      properties:
        description:
          description: The description of the image.
          type: string
          readOnly: true
        publisher:
          description: The publisher of the image.
          type: string
          readOnly: true
        offer:
          description: The name of the image offer.
          type: string
          readOnly: true
        sku:
          description: The SKU name for the image.
          type: string
          readOnly: true
        recommendedMachineConfiguration:
          description: The recommended machine configuration to use with the image.
          $ref: '#/components/schemas/RecommendedMachineConfiguration'
          readOnly: true
        provisioningState:
          description: The provisioning state of the resource.
          $ref: '#/components/schemas/ProvisioningState'
          readOnly: true
        hibernateSupport:
          description: Indicates whether this image has hibernate enabled. Not all images are capable of supporting hibernation. To find out more see https://aka.ms/devbox/hibernate
          readOnly: true
          $ref: '#/components/schemas/HibernateSupport'
    RecommendedMachineConfiguration:
      description: Properties for a recommended machine configuration.
      type: object
      properties:
        memory:
          description: Recommended memory range.
          $ref: '#/components/schemas/ResourceRange'
          readOnly: true
        vCPUs:
          description: Recommended vCPU range.
          $ref: '#/components/schemas/ResourceRange'
          readOnly: true
    ResourceRange:
      description: Properties for a range of values.
      type: object
      properties:
        min:
          description: Minimum value.
          type: integer
          format: int32
          readOnly: true
        max:
          description: Maximum value.
          type: integer
          format: int32
          readOnly: true
    ImageVersion:
      description: Represents an image version.
      type: object
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ImageVersionProperties'
          description: Image version properties.
    ImageVersionProperties:
      description: Properties of an image version.
      type: object
      properties:
        name:
          description: The semantic version string.
          type: string
          readOnly: true
        publishedDate:
          description: The datetime that the backing image version was published.
          type: string
          readOnly: true
          format: date-time
        excludeFromLatest:
          description: If the version should be excluded from being treated as the latest version.
          type: boolean
          readOnly: true
        osDiskImageSizeInGb:
          description: The size of the OS disk image, in GB.
          type: integer
          format: int32
          readOnly: true
        provisioningState:
          description: The provisioning state of the resource.
          $ref: '#/components/schemas/ProvisioningState'
          readOnly: true
    GalleryListResult:
      description: Results of the gallery list operation.
      type: object
      properties:
        value:
          description: Current page of results.
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/Gallery'
        nextLink:
          description: URL to get the next set of results if there are any.
          type: string
          readOnly: true
    ImageListResult:
      description: Results of the image list operation.
      type: object
      properties:
        value:
          description: Current page of results.
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/Image'
        nextLink:
          description: URL to get the next set of results if there are any.
          type: string
          readOnly: true
    ImageVersionListResult:
      description: Results of the image version list operation.
      type: object
      properties:
        value:
          description: Current page of results.
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ImageVersion'
        nextLink:
          description: URL to get the next set of results if there are any.
          type: string
          readOnly: true
    AllowedEnvironmentType:
      description: Represents an allowed environment type.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AllowedEnvironmentTypeProperties'
          description: Properties of an allowed environment type.
    AllowedEnvironmentTypeProperties:
      description: Properties of an allowed environment type.
      type: object
      properties:
        provisioningState:
          description: The provisioning state of the resource.
          $ref: '#/components/schemas/ProvisioningState'
          readOnly: true
        displayName:
          description: The display name of the allowed environment type.
          type: string
          readOnly: true
    AllowedEnvironmentTypeListResult:
      description: Result of the allowed environment type list operation.
      type: object
      properties:
        value:
          description: Current page of results.
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/AllowedEnvironmentType'
        nextLink:
          description: URL to get the next set of results if there are any.
          type: string
          readOnly: true
    EnvironmentType:
      description: Represents an environment type.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/EnvironmentTypeProperties'
          description: Properties of an environment type.
        tags:
          $ref: '#/components/schemas/Tags'
          description: Resource tags.
    EnvironmentTypeProperties:
      description: Properties of an environment type.
      type: object
      allOf:
        - $ref: '#/components/schemas/EnvironmentTypeUpdateProperties'
      properties:
        provisioningState:
          description: The provisioning state of the resource.
          $ref: '#/components/schemas/ProvisioningState'
          readOnly: true
    EnvironmentTypeUpdate:
      description: The environment type for partial update. Properties not provided in the update request will not be changed.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/EnvironmentTypeUpdateProperties'
          description: Properties of an environment type to be updated.
        tags:
          $ref: '#/components/schemas/Tags'
          description: Resource tags.
    EnvironmentTypeUpdateProperties:
      description: Properties of an environment type. These properties can be updated after the resource has been created.
      type: object
      properties:
        displayName:
          type: string
          description: The display name of the environment type.
    EnvironmentTypeListResult:
      description: Result of the environment type list operation.
      type: object
      properties:
        value:
          description: Current page of results.
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/EnvironmentType'
        nextLink:
          description: URL to get the next set of results if there are any.
          type: string
          readOnly: true
    ProjectEnvironmentType:
      description: Represents an environment type.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ProjectEnvironmentTypeProperties'
          description: Properties of an environment type.
        tags:
          $ref: '#/components/schemas/Tags'
          description: Resource tags.
        identity:
          description: Managed identity properties
          $ref: '#/components/schemas/ManagedServiceIdentity'
        location:
          type: string
          description: The geo-location for the environment type
    ProjectEnvironmentTypeUpdateProperties:
      description: Properties of a project environment type. These properties can be updated after the resource has been created.
      type: object
      properties:
        deploymentTargetId:
          description: Id of a subscription that the environment type will be mapped to. The environment's resources will be deployed into this subscription.
          type: string
        status:
          description: Defines whether this Environment Type can be used in this Project.
          $ref: '#/components/schemas/EnvironmentTypeEnableStatus'
        creatorRoleAssignment:
          description: The role definition assigned to the environment creator on backing resources.
          type: object
          properties:
            roles:
              type: object
              description: A map of roles to assign to the environment creator.
              additionalProperties:
                $ref: '#/components/schemas/EnvironmentRole'
        userRoleAssignments:
          description: Role Assignments created on environment backing resources. This is a mapping from a user object ID to an object of role definition IDs.
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserRoleAssignment'
    ProjectEnvironmentTypeProperties:
      description: Properties of a project environment type.
      type: object
      allOf:
        - $ref: '#/components/schemas/ProjectEnvironmentTypeUpdateProperties'
      properties:
        provisioningState:
          description: The provisioning state of the resource.
          $ref: '#/components/schemas/ProvisioningState'
          readOnly: true
        displayName:
          description: The display name of the project environment type.
          type: string
        environmentCount:
          description: The number of environments of this type.
          type: integer
          format: int32
          minimum: 0
          readOnly: true
    ProjectEnvironmentTypeUpdate:
      description: The project environment type for partial update. Properties not provided in the update request will not be changed.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ProjectEnvironmentTypeUpdateProperties'
          description: Properties to configure an environment type.
        tags:
          $ref: '#/components/schemas/Tags'
          description: Resource tags.
        identity:
          description: Managed identity properties
          $ref: '#/components/schemas/ManagedServiceIdentity'
    ProjectEnvironmentTypeListResult:
      description: Result of the project environment type list operation.
      type: object
      properties:
        value:
          description: Current page of results.
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ProjectEnvironmentType'
        nextLink:
          description: URL to get the next set of results if there are any.
          type: string
          readOnly: true
    DevBoxDefinitionListResult:
      description: Results of the Dev Box definition list operation.
      type: object
      properties:
        value:
          description: Current page of results.
          type: array
          items:
            $ref: '#/components/schemas/DevBoxDefinition'
          readOnly: true
        nextLink:
          description: URL to get the next set of results if there are any.
          type: string
          readOnly: true
    DevBoxDefinitionUpdate:
      description: Partial update of a Dev Box definition resource.
      type: object
      allOf:
        - $ref: '#/components/schemas/TrackedResourceUpdate'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/DevBoxDefinitionUpdateProperties'
          description: Properties of a Dev Box definition to be updated.
    DevBoxDefinition:
      description: Represents a definition for a Developer Machine.
      type: object
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      properties:
        properties:
          description: Dev Box definition properties
          x-ms-client-flatten: true
          $ref: '#/components/schemas/DevBoxDefinitionProperties'
    DevBoxDefinitionUpdateProperties:
      description: Properties of a Dev Box definition. These properties can be updated after the resource has been created.
      type: object
      properties:
        imageReference:
          $ref: '#/components/schemas/ImageReference'
          description: Image reference information.
        sku:
          description: The SKU for Dev Boxes created using this definition.
          $ref: '#/components/schemas/Sku'
        osStorageType:
          description: The storage type used for the Operating System disk of Dev Boxes created using this definition.
          type: string
        hibernateSupport:
          description: Indicates whether Dev Boxes created with this definition are capable of hibernation. Not all images are capable of supporting hibernation. To find out more see https://aka.ms/devbox/hibernate
          $ref: '#/components/schemas/HibernateSupport'
    DevBoxDefinitionProperties:
      description: Properties of a Dev Box definition.
      type: object
      allOf:
        - $ref: '#/components/schemas/DevBoxDefinitionUpdateProperties'
      properties:
        provisioningState:
          description: The provisioning state of the resource.
          $ref: '#/components/schemas/ProvisioningState'
          readOnly: true
        imageValidationStatus:
          description: Validation status of the configured image.
          $ref: '#/components/schemas/ImageValidationStatus'
          readOnly: true
        imageValidationErrorDetails:
          description: Details for image validator error. Populated when the image validation is not successful.
          $ref: '#/components/schemas/ImageValidationErrorDetails'
          readOnly: true
        validationStatus:
          description: Validation status for the Dev Box Definition.
          $ref: '#/components/schemas/CatalogResourceValidationStatus'
          readOnly: true
        activeImageReference:
          $ref: '#/components/schemas/ImageReference'
          description: Image reference information for the currently active image (only populated during updates).
          readOnly: true
      required:
        - imageReference
        - sku
    AttachedNetworkConnection:
      description: Represents an attached NetworkConnection.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AttachedNetworkConnectionProperties'
          description: Attached NetworkConnection properties.
    AttachedNetworkConnectionProperties:
      description: Properties of an attached NetworkConnection.
      type: object
      properties:
        provisioningState:
          description: The provisioning state of the resource.
          $ref: '#/components/schemas/ProvisioningState'
          readOnly: true
        networkConnectionId:
          description: The resource ID of the NetworkConnection you want to attach.
          type: string
          x-ms-mutability:
            - read
            - create
        networkConnectionLocation:
          description: The geo-location where the NetworkConnection resource specified in 'networkConnectionResourceId' property lives.
          type: string
          readOnly: true
        healthCheckStatus:
          $ref: '#/components/schemas/HealthCheckStatus'
          readOnly: true
        domainJoinType:
          description: AAD Join type of the network. This is populated based on the referenced Network Connection.
          $ref: '#/components/schemas/DomainJoinType'
          readOnly: true
      required:
        - networkConnectionId
    AttachedNetworkListResult:
      description: Results of the Attached Networks list operation.
      type: object
      properties:
        value:
          description: Current page of results.
          type: array
          items:
            $ref: '#/components/schemas/AttachedNetworkConnection'
          readOnly: true
        nextLink:
          description: URL to get the next set of results if there are any.
          type: string
          readOnly: true
    EnvironmentRole:
      type: object
      description: A role that can be assigned to a user.
      properties:
        roleName:
          description: The common name of the Role Assignment. This is a descriptive name such as 'AcrPush'.
          type: string
          readOnly: true
        description:
          description: This is a description of the Role Assignment.
          type: string
          readOnly: true
    UserRoleAssignment:
      type: object
      description: Mapping of user object ID to role assignments.
      x-ms-client-name: userRoleAssignmentValue
      properties:
        roles:
          type: object
          description: A map of roles to assign to the parent user.
          additionalProperties:
            $ref: '#/components/schemas/EnvironmentRole'
    OperationStatus:
      description: The current status of an async operation
      type: object
      allOf:
        - $ref: '#/components/schemas/OperationStatusResult'
      properties:
        resourceId:
          description: The id of the resource.
          type: string
          readOnly: true
        properties:
          description: Custom operation properties, populated only for a successful operation.
          type: object
          readOnly: true
    EnvironmentTypeEnableStatus:
      description: Indicates whether the environment type is either enabled or disabled.
      enum:
        - Enabled
        - Disabled
      type: string
      x-ms-enum:
        name: EnvironmentTypeEnableStatus
        modelAsString: true
    HibernateSupport:
      description: Indicates whether hibernate is enabled/disabled.
      enum:
        - Disabled
        - Enabled
      type: string
      x-ms-enum:
        name: HibernateSupport
        modelAsString: true
    ListUsagesResult:
      description: List of Core Usages.
      type: object
      properties:
        value:
          description: The array page of Usages.
          type: array
          items:
            $ref: '#/components/schemas/Usage'
          x-ms-identifiers: []
          readOnly: true
        nextLink:
          description: The link to get the next page of Usage result.
          type: string
          readOnly: true
    Usage:
      description: The core usage details.
      type: object
      properties:
        currentValue:
          description: The current usage.
          type: integer
          format: int64
        limit:
          description: The limit integer.
          type: integer
          format: int64
        unit:
          description: The unit details.
          type: string
          enum:
            - Count
          x-ms-enum:
            name: UsageUnit
            modelAsString: true
        name:
          description: The name.
          $ref: '#/components/schemas/UsageName'
        id:
          description: The fully qualified arm resource id.
          type: string
    UsageName:
      description: The Usage Names.
      type: object
      properties:
        localizedValue:
          description: The localized name of the resource.
          type: string
        value:
          description: The name of the resource.
          type: string
    CustomizationTaskListResult:
      description: Results of the Task list operation.
      type: object
      properties:
        value:
          description: Current page of results.
          type: array
          items:
            $ref: '#/components/schemas/CustomizationTask'
          readOnly: true
        nextLink:
          description: URL to get the next set of results if there are any.
          type: string
          readOnly: true
    CustomizationTask:
      description: Represents a Task to be used in customizing a Dev Box.
      type: object
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          description: Task properties
          x-ms-client-flatten: true
          $ref: '#/components/schemas/CustomizationTaskProperties'
    CustomizationTaskProperties:
      description: Properties of a Task.
      type: object
      properties:
        inputs:
          description: Inputs to the task.
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CustomizationTaskInput'
          readOnly: true
        timeout:
          description: The default timeout for the task.
          type: integer
          format: int32
          readOnly: true
        validationStatus:
          description: Validation status for the Task.
          $ref: '#/components/schemas/CatalogResourceValidationStatus'
          readOnly: true
    CustomizationTaskInput:
      description: Input for a Task.
      type: object
      properties:
        description:
          description: Description of the input.
          type: string
          readOnly: true
        type:
          description: Type of the input.
          type: string
          enum:
            - string
            - number
            - boolean
          x-ms-enum:
            name: CustomizationTaskInputType
            modelAsString: true
          readOnly: true
        required:
          description: Whether or not the input is required.
          type: boolean
          readOnly: true
    EnvironmentDefinitionListResult:
      description: Results of the environment definition list operation.
      type: object
      properties:
        value:
          description: Current page of results.
          type: array
          items:
            $ref: '#/components/schemas/EnvironmentDefinition'
          readOnly: true
        nextLink:
          description: URL to get the next set of results if there are any.
          type: string
          readOnly: true
    EnvironmentDefinition:
      description: Represents an environment definition catalog item.
      type: object
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          description: Environment definition properties.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/EnvironmentDefinitionProperties'
    EnvironmentDefinitionProperties:
      description: Properties of an environment definition.
      type: object
      properties:
        description:
          description: A short description of the environment definition.
          type: string
          readOnly: true
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/EnvironmentDefinitionParameter'
          description: Input parameters passed to an environment.
          readOnly: true
        templatePath:
          description: Path to the Environment Definition entrypoint file.
          type: string
          readOnly: true
        validationStatus:
          description: Validation status for the environment definition.
          $ref: '#/components/schemas/CatalogResourceValidationStatus'
          readOnly: true
    EnvironmentDefinitionParameter:
      type: object
      description: Properties of an Environment Definition parameter
      properties:
        id:
          type: string
          description: Unique ID of the parameter
          readOnly: true
        name:
          type: string
          description: Display name of the parameter
          readOnly: true
        description:
          type: string
          description: Description of the parameter
          readOnly: true
        type:
          description: A string of one of the basic JSON types (number, integer, array, object, boolean, string)
          $ref: '#/components/schemas/ParameterType'
          readOnly: true
        readOnly:
          type: boolean
          description: Whether or not this parameter is read-only.  If true, default should have a value.
          readOnly: true
        required:
          type: boolean
          description: Whether or not this parameter is required
          readOnly: true
    ParameterType:
      type: string
      enum:
        - array
        - boolean
        - integer
        - number
        - object
        - string
      description: The type of data a parameter accepts.
      readOnly: true
      x-ms-enum:
        name: ParameterType
        modelAsString: true
        values:
          - value: array
            description: The parameter accepts an array of values.
          - value: boolean
            description: The parameter accepts a boolean value.
          - value: integer
            description: The parameter accepts an integer value.
          - value: number
            description: The parameter accepts a number value.
          - value: object
            description: The parameter accepts an object value.
          - value: string
            description: The parameter accepts a string value.
    encryption:
      type: object
      description: (Optional) Discouraged to include in resource definition. Only needed where it is possible to disable platform (AKA infrastructure) encryption. Azure SQL TDE is an example of this. Values are enabled and disabled.
      properties:
        infrastructureEncryption:
          type: string
          enum:
            - enabled
            - disabled
          x-ms-enum:
            name: InfrastructureEncryption
            modelAsString: true
          description: Values are enabled and disabled.
        customerManagedKeyEncryption:
          description: All Customer-managed key encryption properties for the resource.
          $ref: '#/components/schemas/customerManagedKeyEncryption'
    customerManagedKeyEncryption:
      type: object
      description: All Customer-managed key encryption properties for the resource.
      properties:
        keyEncryptionKeyIdentity:
          type: object
          description: All identity configuration for Customer-managed key settings defining which identity should be used to auth to Key Vault.
          properties:
            identityType:
              type: string
              enum:
                - systemAssignedIdentity
                - userAssignedIdentity
                - delegatedResourceIdentity
              x-ms-enum:
                name: IdentityType
                modelAsString: true
              description: Values can be systemAssignedIdentity or userAssignedIdentity
            userAssignedIdentityResourceId:
              type: string
              format: arm-id
              description: 'user assigned identity to use for accessing key encryption key Url. Ex: /subscriptions/fa5fc227-a624-475e-b696-cdd604c735bc/resourceGroups/<resource group>/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myId. Mutually exclusive with identityType systemAssignedIdentity and delegatedResourceIdentity.'
            delegatedIdentityClientId:
              type: string
              format: uuid
              description: 'delegated identity to use for accessing key encryption key Url. Ex: /subscriptions/fa5fc227-a624-475e-b696-cdd604c735bc/resourceGroups/<resource group>/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myId. Mutually exclusive with identityType systemAssignedIdentity and userAssignedIdentity - internal use only.'
        keyEncryptionKeyUrl:
          type: string
          description: 'key encryption key Url, versioned or non-versioned. Ex: https://contosovault.vault.azure.net/keys/contosokek/562a4bb76b524a1493a6afe8e536ee78 or https://contosovault.vault.azure.net/keys/contosokek.'
    Resource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
        systemData:
          readOnly: true
          type: object
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
          $ref: '#/components/schemas/systemData'
      x-ms-azure-resource: true
    AzureEntityResource:
      x-ms-client-name: AzureEntityResource
      title: Entity Resource
      description: The resource model definition for an Azure Resource Manager resource with an etag.
      type: object
      properties:
        etag:
          type: string
          readOnly: true
          description: Resource Etag.
      allOf:
        - $ref: '#/components/schemas/Resource'
    TrackedResource:
      title: Tracked Resource
      description: The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
            - read
            - create
            - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
            - read
            - create
          description: The geo-location where the resource lives
      required:
        - location
      allOf:
        - $ref: '#/components/schemas/Resource'
    ProxyResource:
      title: Proxy Resource
      description: The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a location
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
    ResourceModelWithAllowedPropertySet:
      description: The resource model definition containing the full set of allowed properties for a resource. Except properties bag, there cannot be a top level property outside of this set.
      type: object
      properties:
        managedBy:
          type: string
          x-ms-mutability:
            - read
            - create
            - update
          description: The fully qualified resource ID of the resource that manages this resource. Indicates if this resource is managed by another Azure resource. If this is present, complete mode deployment will not delete the resource if it is removed from the template since it is managed by another resource.
        kind:
          type: string
          x-ms-mutability:
            - read
            - create
          description: Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value.
          pattern: ^[-\w\._,\(\)]+$
        etag:
          readOnly: true
          type: string
          description: 'The etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields. '
        identity:
          allOf:
            - $ref: '#/components/schemas/Identity'
        sku:
          allOf:
            - $ref: '#/components/schemas/Sku'
        plan:
          allOf:
            - $ref: '#/components/schemas/Plan'
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      x-ms-azure-resource: true
    SkuTier:
      type: string
      enum:
        - Free
        - Basic
        - Standard
        - Premium
      x-ms-enum:
        name: SkuTier
        modelAsString: false
      description: This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT.
    Sku:
      description: The resource model definition representing SKU
      type: object
      properties:
        name:
          type: string
          description: The name of the SKU. Ex - P3. It is typically a letter+number code
        tier:
          $ref: '#/components/schemas/SkuTier'
        size:
          type: string
          description: 'The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. '
        family:
          type: string
          description: If the service has different generations of hardware, for the same SKU, then that can be captured here.
        capacity:
          type: integer
          format: int32
          description: If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted.
      required:
        - name
    Identity:
      description: Identity for the resource.
      type: object
      properties:
        principalId:
          readOnly: true
          type: string
          description: The principal ID of resource identity.
        tenantId:
          readOnly: true
          type: string
          description: The tenant ID of resource.
        type:
          type: string
          description: The identity type.
          enum:
            - SystemAssigned
          x-ms-enum:
            name: ResourceIdentityType
            modelAsString: false
    Plan:
      type: object
      properties:
        name:
          type: string
          description: A user defined name of the 3rd Party Artifact that is being procured.
        publisher:
          type: string
          description: The publisher of the 3rd Party Artifact that is being bought. E.g. NewRelic
        product:
          type: string
          description: 'The 3rd Party artifact that is being procured. E.g. NewRelic. Product maps to the OfferID specified for the artifact at the time of Data Market onboarding. '
        promotionCode:
          type: string
          description: A publisher provided promotion code as provisioned in Data Market for the said product/artifact.
        version:
          type: string
          description: The version of the desired product/artifact.
      description: Plan for the resource.
      required:
        - name
        - publisher
        - product
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
          x-ms-identifiers:
            - message
            - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          description: The error additional info.
    ErrorResponse:
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).
      type: object
      properties:
        error:
          description: The error object.
          $ref: '#/components/schemas/ErrorDetail'
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    Operation:
      title: REST API Operation
      description: Details of a REST API operation, returned from the Resource Provider Operations API
      type: object
      properties:
        name:
          description: 'The name of the operation, as per Resource-Based Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write", "Microsoft.Compute/virtualMachines/capture/action"'
          type: string
          readOnly: true
        isDataAction:
          description: Whether the operation applies to data-plane. This is "true" for data-plane operations and "false" for ARM/control-plane operations.
          type: boolean
          readOnly: true
        display:
          description: Localized display information for this particular operation.
          type: object
          properties:
            provider:
              description: The localized friendly form of the resource provider name, e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".
              type: string
              readOnly: true
            resource:
              description: The localized friendly name of the resource type related to this operation. E.g. "Virtual Machines" or "Job Schedule Collections".
              type: string
              readOnly: true
            operation:
              description: The concise, localized friendly name for the operation; suitable for dropdowns. E.g. "Create or Update Virtual Machine", "Restart Virtual Machine".
              type: string
              readOnly: true
            description:
              description: The short, localized friendly description of the operation; suitable for tool tips and detailed views.
              type: string
              readOnly: true
        origin:
          description: The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is "user,system"
          type: string
          readOnly: true
          enum:
            - user
            - system
            - user,system
          x-ms-enum:
            name: Origin
            modelAsString: true
        actionType:
          description: Enum. Indicates the action type. "Internal" refers to actions that are for internal only APIs.
          type: string
          readOnly: true
          enum:
            - Internal
          x-ms-enum:
            name: ActionType
            modelAsString: true
    OperationListResult:
      description: A list of REST API operations supported by an Azure Resource Provider. It contains an URL link to get the next set of results.
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Operation'
          x-ms-identifiers:
            - name
          description: List of operations supported by the resource provider
          readOnly: true
        nextLink:
          type: string
          description: URL to get the next set of operation list results (if there are any).
          readOnly: true
    OperationStatusResult:
      description: The current status of an async operation.
      type: object
      required:
        - status
      properties:
        id:
          description: Fully qualified ID for the async operation.
          type: string
        name:
          description: Name of the async operation.
          type: string
        status:
          description: Operation status.
          type: string
        percentComplete:
          description: Percent of the operation that is complete.
          type: number
          minimum: 0
          maximum: 100
        startTime:
          description: The start time of the operation.
          type: string
          format: date-time
        endTime:
          description: The end time of the operation.
          type: string
          format: date-time
        operations:
          description: The operations list.
          type: array
          items:
            $ref: '#/components/schemas/OperationStatusResult'
        error:
          description: If present, details of the operation error.
          $ref: '#/components/schemas/ErrorDetail'
    locationData:
      description: Metadata pertaining to the geographic location of the resource.
      type: object
      properties:
        name:
          type: string
          maxLength: 256
          description: A canonical name for the geographic or physical location.
        city:
          type: string
          description: The city or locality where the resource is located.
        district:
          type: string
          description: The district, state, or province where the resource is located.
        countryOrRegion:
          type: string
          description: The country or region where the resource is located
      required:
        - name
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
    encryptionProperties:
      description: Configuration of key for data encryption
      type: object
      properties:
        status:
          description: Indicates whether or not the encryption is enabled for container registry.
          enum:
            - enabled
            - disabled
          type: string
          x-ms-enum:
            name: EncryptionStatus
            modelAsString: true
        keyVaultProperties:
          $ref: '#/components/schemas/KeyVaultProperties'
          description: Key vault properties.
    KeyVaultProperties:
      type: object
      properties:
        keyIdentifier:
          description: Key vault uri to access the encryption key.
          type: string
        identity:
          description: The client ID of the identity which will be used to access key vault.
          type: string
    CheckNameAvailabilityRequest:
      description: The check availability request body.
      type: object
      properties:
        name:
          description: The name of the resource for which availability needs to be checked.
          type: string
        type:
          description: The resource type.
          type: string
    CheckNameAvailabilityResponse:
      description: The check availability result.
      type: object
      properties:
        nameAvailable:
          description: Indicates if the resource name is available.
          type: boolean
        reason:
          description: The reason why the given name is not available.
          type: string
          enum:
            - Invalid
            - AlreadyExists
          x-ms-enum:
            name: CheckNameAvailabilityReason
            modelAsString: true
        message:
          description: Detailed reason why the given name is available.
          type: string
  parameters:
    ProjectNameParameter:
      name: projectName
      in: path
      description: The name of the project.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9-_.]{2,62}$
        minLength: 3
        maxLength: 63
        type: string
    TopParameter:
      name: $top
      in: query
      description: 'The maximum number of resources to return from the operation. Example: ''$top=10''.'
      required: false
      x-ms-parameter-location: method
      schema:
        format: int32
        type: integer
    PoolNameParameter:
      name: poolName
      in: path
      description: Name of the pool.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9-_.]{2,62}$
        minLength: 3
        maxLength: 63
        type: string
    NetworkConnectionName:
      name: networkConnectionName
      in: path
      description: Name of the Network Connection that can be applied to a Pool.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9-_.]{2,62}$
        minLength: 3
        maxLength: 63
        type: string
    ScheduleNameParameter:
      name: scheduleName
      in: path
      description: The name of the schedule that uniquely identifies it.
      required: true
      x-ms-parameter-location: method
      schema:
        minLength: 1
        maxLength: 100
        pattern: ^[-\w]+$
        type: string
    FilterParameter:
      name: $filter
      in: query
      description: 'The filter to apply to the operation. Example: ''$filter=contains(name,''myName'').'
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    DevCenterNameParameter:
      name: devCenterName
      in: path
      description: The name of the devcenter.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9-]{2,25}$
        minLength: 3
        maxLength: 26
        type: string
    CatalogNameParameter:
      name: catalogName
      in: path
      description: The name of the Catalog.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9-_.]{2,62}$
        minLength: 3
        maxLength: 63
        type: string
    GalleryNameParameter:
      name: galleryName
      in: path
      description: The name of the gallery.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9-_.]{2,62}$
        minLength: 3
        maxLength: 63
        type: string
    ImageNameParameter:
      name: imageName
      in: path
      description: The name of the image.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    VersionNameParameter:
      name: versionName
      in: path
      description: The version of the image.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    EnvironmentTypeNameParameter:
      name: environmentTypeName
      in: path
      description: The name of the environment type.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9-_.]{2,62}$
        minLength: 3
        maxLength: 63
        type: string
    AttachedNetworkConnectionNameParameter:
      name: attachedNetworkConnectionName
      in: path
      description: The name of the attached NetworkConnection.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9-_.]{2,62}$
        minLength: 3
        maxLength: 63
        type: string
    DevBoxDefinitionName:
      name: devBoxDefinitionName
      in: path
      description: The name of the Dev Box definition.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9-_.]{2,62}$
        minLength: 3
        maxLength: 63
        type: string
    LocationParameter:
      name: location
      in: path
      description: The name of Azure region.
      required: true
      x-ms-parameter-location: method
      schema:
        minLength: 1
        type: string
    OperationIdParameter:
      name: operationId
      in: path
      description: The ID of an ongoing async operation.
      required: true
      x-ms-parameter-location: method
      schema:
        minLength: 1
        type: string
    CustomizationTaskNameParameter:
      name: taskName
      in: path
      description: The name of the Task.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9-_.]{2,62}$
        minLength: 3
        maxLength: 63
        type: string
    EnvironmentDefinitionNameParameter:
      name: environmentDefinitionName
      in: path
      description: The name of the Environment Definition.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9-_.]{2,62}$
        minLength: 3
        maxLength: 63
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription.
      required: true
      schema:
        minLength: 1
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        minLength: 1
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        minLength: 1
        maxLength: 90
        type: string
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.DevCenter/skus:
    x-api-version: 2023-10-01-preview
    parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/TopParameter'
    get:
      tags:
        - SKUs
      description: Lists the Microsoft.DevCenter SKUs available in a subscription
      operationId: Skus_ListBySubscription
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkuListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/projects/{projectName}/pools:
    x-api-version: 2023-10-01-preview
    parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ProjectNameParameter'
      - $ref: '#/components/parameters/TopParameter'
    get:
      tags:
        - Pools
      description: Lists pools for a project
      operationId: Pools_ListByProject
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoolListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/projects/{projectName}/pools/{poolName}:
    x-api-version: 2023-10-01-preview
    parameters:
      - $ref: '#/components/parameters/ApiVersionParameter'
      - $ref: '#/components/parameters/SubscriptionIdParameter'
      - $ref: '#/components/parameters/ResourceGroupNameParameter'
      - $ref: '#/components/parameters/ProjectNameParameter'
      - $ref: '#/components/parameters/PoolNameParameter'
    get:
      tags:
        - Pools
      description: Gets a machine pool
      operationId: Pools_Get
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
    put:
      tags:
        - Pools
      description: Creates or updates a machine pool
      operationId: Pools_CreateOrUpdate
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      requestBody:
        description: Represents a machine pool
        required: true
        x-ms-requestBody-name: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pool'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
        '201':
          description: Created. Operation will complete asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
    patch:
      tags:
        - Pools
      description: Partially updates a machine pool
      operationId: Pools_Update
      requestBody:
        description: Represents a machine pool
        required: true
        x-ms-requestBody-name: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PoolUpdate'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
        '202':
          description: Accepted. Operation will complete asynchronously
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
    delete:
      tags:
        - Pools
      description: Deletes a machine pool
      operationId: Pools_Delete
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      responses:
        '200':
          description: OK. Resource has been deleted
        '202':
          description: Accepted. Operation will complete asynchronously.
        '204':
          description: Resource does not exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/projects/{projectName}/pools/{poolName}/runHealthChecks:
    x-api-version: 2023-10-01-preview
    post:
      tags:
        - Pools
      description: Triggers a refresh of the pool status.
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ProjectNameParameter'
        - $ref: '#/components/parameters/PoolNameParameter'
      operationId: Pools_RunHealthChecks
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      responses:
        '200':
          description: OK. Successfully initiated refresh.
        '202':
[...]
