openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  title: Hybrid Compute
  description: Azure Arc enables you to manage servers running outside of Azure using Azure Resource Manager. Each server is represented in Azure as a hybrid compute machine resource. Once a server is managed with Azure Arc, you can deploy agents, scripts, or configurations to the machine using extensions. The Hybrid Compute API allows you to create, list, update and delete your Azure Arc enabled servers and any extensions associated with them.
  contact:
    name: StackQL Studios
    url: https://stackql.io/
    email: info@stackql.io
  version: 2024-06-14-stackql-generated
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription.
      required: true
      schema:
        minLength: 1
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        minLength: 1
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        minLength: 1
        maxLength: 90
        type: string
    OperationIdParameter:
      name: operationId
      in: path
      description: The ID of an ongoing async operation.
      required: true
      x-ms-parameter-location: method
      schema:
        minLength: 1
        type: string
    LocationParameter:
      name: location
      in: path
      description: The location of the target resource.
      required: true
      x-ms-parameter-location: method
      schema:
        minLength: 1
        type: string
    PrivateLinkScopeName:
      name: scopeName
      in: path
      description: The name of the Azure Arc PrivateLinkScope resource.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    PrivateLinkScopeId:
      name: privateLinkScopeId
      in: path
      description: The id (Guid) of the Azure Arc PrivateLinkScope resource.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    GroupNameParameter:
      name: groupName
      in: path
      description: The name of the private link resource.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    MachineNameParameter:
      name: machineName
      in: path
      description: The name of the target machine to get the private link scope validation details for.
      required: true
      x-ms-parameter-location: method
      schema:
        minLength: 1
        type: string
  schemas:
    Resource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
      x-ms-azure-resource: true
    AzureEntityResource:
      x-ms-client-name: AzureEntityResource
      title: Entity Resource
      description: The resource model definition for an Azure Resource Manager resource with an etag.
      properties:
        etag:
          type: string
          readOnly: true
          description: Resource Etag.
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
      type: object
    TrackedResource:
      title: Tracked Resource
      description: The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'
      required:
        - location
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
            - read
            - create
            - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
            - read
            - create
          description: The geo-location where the resource lives
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
      type: object
    ProxyResource:
      title: Proxy Resource
      description: The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a location
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
      type: object
    ResourceModelWithAllowedPropertySet:
      description: The resource model definition containing the full set of allowed properties for a resource. Except properties bag, there cannot be a top level property outside of this set.
      type: object
      properties:
        id:
          readOnly: true
          type: string
          x-ms-mutability:
            - read
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          x-ms-mutability:
            - read
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
        location:
          type: string
          x-ms-mutability:
            - read
            - create
          description: The geo-location where the resource lives
        managedBy:
          type: string
          x-ms-mutability:
            - read
            - create
            - update
          description: The fully qualified resource ID of the resource that manages this resource. Indicates if this resource is managed by another Azure resource. If this is present, complete mode deployment will not delete the resource if it is removed from the template since it is managed by another resource.
        kind:
          type: string
          x-ms-mutability:
            - read
            - create
          description: Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value.
          pattern: ^[-\w\._,\(\)]+$
        etag:
          readOnly: true
          type: string
          description: 'The etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields. '
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
            - read
            - create
            - update
          description: Resource tags.
        identity:
          allOf:
            - $ref: '#/components/schemas/Identity'
        sku:
          allOf:
            - $ref: '#/components/schemas/Sku'
        plan:
          allOf:
            - $ref: '#/components/schemas/Plan'
      x-ms-azure-resource: true
    Sku:
      description: The resource model definition representing SKU
      type: object
      properties:
        name:
          type: string
          description: The name of the SKU. Ex - P3. It is typically a letter+number code
        tier:
          type: string
          enum:
            - Free
            - Basic
            - Standard
            - Premium
          x-ms-enum:
            name: SkuTier
            modelAsString: false
          description: This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT.
        size:
          type: string
          description: 'The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. '
        family:
          type: string
          description: If the service has different generations of hardware, for the same SKU, then that can be captured here.
        capacity:
          type: integer
          format: int32
          description: If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted.
      required:
        - name
    Identity:
      description: Identity for the resource.
      type: object
      properties:
        principalId:
          readOnly: true
          type: string
          description: The principal ID of resource identity.
        tenantId:
          readOnly: true
          type: string
          description: The tenant ID of resource.
        type:
          type: string
          description: The identity type.
          enum:
            - SystemAssigned
          x-ms-enum:
            name: ResourceIdentityType
            modelAsString: false
    Plan:
      type: object
      properties:
        name:
          type: string
          description: A user defined name of the 3rd Party Artifact that is being procured.
        publisher:
          type: string
          description: The publisher of the 3rd Party Artifact that is being bought. E.g. NewRelic
        product:
          type: string
          description: 'The 3rd Party artifact that is being procured. E.g. NewRelic. Product maps to the OfferID specified for the artifact at the time of Data Market onboarding. '
        promotionCode:
          type: string
          description: A publisher provided promotion code as provisioned in Data Market for the said product/artifact.
        version:
          type: string
          description: The version of the desired product/artifact.
      description: Plan for the resource.
      required:
        - name
        - publisher
        - product
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
          x-ms-identifiers:
            - message
            - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          description: The error additional info.
    ErrorResponse:
      title: Error Response
      description: Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.)
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponse'
          x-ms-identifiers:
            - message
            - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          description: The error additional info.
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    Operation:
      title: REST API Operation
      description: Details of a REST API operation, returned from the Resource Provider Operations API
      type: object
      properties:
        name:
          description: 'The name of the operation, as per Resource-Based Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write", "Microsoft.Compute/virtualMachines/capture/action"'
          type: string
          readOnly: true
        isDataAction:
          description: Whether the operation applies to data-plane. This is "true" for data-plane operations and "false" for ARM/control-plane operations.
          type: boolean
          readOnly: true
        display:
          description: Localized display information for this particular operation.
          type: object
          properties:
            provider:
              description: The localized friendly form of the resource provider name, e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".
              type: string
              readOnly: true
            resource:
              description: The localized friendly name of the resource type related to this operation. E.g. "Virtual Machines" or "Job Schedule Collections".
              type: string
              readOnly: true
            operation:
              description: The concise, localized friendly name for the operation; suitable for dropdowns. E.g. "Create or Update Virtual Machine", "Restart Virtual Machine".
              type: string
              readOnly: true
            description:
              description: The short, localized friendly description of the operation; suitable for tool tips and detailed views.
              type: string
              readOnly: true
        origin:
          description: The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is "user,system"
          type: string
          readOnly: true
          enum:
            - user
            - system
            - user,system
          x-ms-enum:
            name: Origin
            modelAsString: true
        actionType:
          description: Enum. Indicates the action type. "Internal" refers to actions that are for internal only APIs.
          type: string
          readOnly: true
          enum:
            - Internal
          x-ms-enum:
            name: ActionType
            modelAsString: true
    OperationListResult:
      description: A list of REST API operations supported by an Azure Resource Provider. It contains an URL link to get the next set of results.
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Operation'
          x-ms-identifiers:
            - name
          description: List of operations supported by the resource provider
          readOnly: true
        nextLink:
          type: string
          description: URL to get the next set of operation list results (if there are any).
          readOnly: true
    OperationStatusResult:
      description: The current status of an async operation.
      type: object
      required:
        - status
      properties:
        id:
          description: Fully qualified ID for the async operation.
          type: string
        name:
          description: Name of the async operation.
          type: string
        status:
          description: Operation status.
          type: string
        percentComplete:
          description: Percent of the operation that is complete.
          type: number
          minimum: 0
          maximum: 100
        startTime:
          description: The start time of the operation.
          type: string
          format: date-time
        endTime:
          description: The end time of the operation.
          type: string
          format: date-time
        operations:
          description: The operations list.
          type: array
          items:
            $ref: '#/components/schemas/OperationStatusResult'
        error:
          description: If present, details of the operation error.
          $ref: '#/components/schemas/ErrorDetail'
    locationData:
      description: Metadata pertaining to the geographic location of the resource.
      type: object
      properties:
        name:
          type: string
          maxLength: 256
          description: A canonical name for the geographic or physical location.
        city:
          type: string
          description: The city or locality where the resource is located.
        district:
          type: string
          description: The district, state, or province where the resource is located.
        countryOrRegion:
          type: string
          description: The country or region where the resource is located
      required:
        - name
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
    encryptionProperties:
      description: Configuration of key for data encryption
      type: object
      properties:
        status:
          description: Indicates whether or not the encryption is enabled for container registry.
          enum:
            - enabled
            - disabled
          type: string
          x-ms-enum:
            name: EncryptionStatus
            modelAsString: true
        keyVaultProperties:
          $ref: '#/components/schemas/KeyVaultProperties'
          description: Key vault properties.
    KeyVaultProperties:
      type: object
      properties:
        keyIdentifier:
          description: Key vault uri to access the encryption key.
          type: string
        identity:
          description: The client ID of the identity which will be used to access key vault.
          type: string
    CheckNameAvailabilityRequest:
      description: The check availability request body.
      type: object
      properties:
        name:
          description: The name of the resource for which availability needs to be checked.
          type: string
        type:
          description: The resource type.
          type: string
    CheckNameAvailabilityResponse:
      description: The check availability result.
      type: object
      properties:
        nameAvailable:
          description: Indicates if the resource name is available.
          type: boolean
        reason:
          description: The reason why the given name is not available.
          type: string
          enum:
            - Invalid
            - AlreadyExists
          x-ms-enum:
            name: CheckNameAvailabilityReason
            modelAsString: true
        message:
          description: Detailed reason why the given name is available.
          type: string
    ExtensionValueListResult:
      type: object
      properties:
        value:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ExtensionValue'
          description: The list of extension metadata
          x-ms-identifiers: []
      description: The List Extension Metadata response.
    ExtensionValue:
      description: Describes a Extension Metadata
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ExtensionValueProperties'
          description: The single extension based on search criteria
      type: object
    ExtensionValueProperties:
      type: object
      properties:
        version:
          type: string
          readOnly: true
          description: The version of the Extension being received.
        extensionType:
          type: string
          readOnly: true
          description: The type of the Extension being received.
        publisher:
          type: string
          readOnly: true
          description: The publisher of the Extension being received.
      description: Describes Extension Metadata properties
    OperationValue:
      type: object
      properties:
        origin:
          type: string
          readOnly: true
          description: The origin of the compute operation.
        name:
          type: string
          readOnly: true
          description: The name of the compute operation.
        display:
          $ref: '#/components/schemas/OperationValueDisplay'
          description: Display properties
        isDataAction:
          type: boolean
          readOnly: true
          description: This property indicates if the operation is an action or a data action
      description: Describes the properties of a Compute Operation value.
    OperationValueDisplay:
      type: object
      properties:
        operation:
          type: string
          readOnly: true
          description: The display name of the compute operation.
        resource:
          type: string
          readOnly: true
          description: The display name of the resource the operation applies to.
        description:
          type: string
          readOnly: true
          description: The description of the operation.
        provider:
          type: string
          readOnly: true
          description: The resource provider for the operation.
      description: Describes the properties of a Hybrid Compute Operation Value Display.
    PatchSettings:
      type: object
      properties:
        assessmentMode:
          type: string
          description: Specifies the assessment mode.
          enum:
            - ImageDefault
            - AutomaticByPlatform
          x-ms-enum:
            name: AssessmentModeTypes
            modelAsString: true
        patchMode:
          type: string
          description: Specifies the patch mode.
          enum:
            - ImageDefault
            - AutomaticByPlatform
            - AutomaticByOS
            - Manual
          x-ms-enum:
            name: PatchModeTypes
            modelAsString: true
      description: Specifies the patch settings.
    AgentConfiguration:
      type: object
      readOnly: true
      properties:
        proxyUrl:
          type: string
          readOnly: true
          description: Specifies the URL of the proxy to be used.
        incomingConnectionsPorts:
          type: array
          readOnly: true
          description: Specifies the list of ports that the agent will be able to listen on.
          items:
            type: string
        extensionsAllowList:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ConfigurationExtension'
          description: Array of extensions that are allowed to be installed or updated.
          x-ms-identifiers: []
        extensionsBlockList:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ConfigurationExtension'
          description: Array of extensions that are blocked (cannot be installed or updated)
          x-ms-identifiers: []
        proxyBypass:
          type: array
          readOnly: true
          description: List of service names which should not use the specified proxy server.
          items:
            type: string
        extensionsEnabled:
          type: string
          readOnly: true
          description: Specifies whether the extension service is enabled or disabled.
        guestConfigurationEnabled:
          type: string
          readOnly: true
          description: Specified whether the guest configuration service is enabled or disabled.
        configMode:
          type: string
          readOnly: true
          description: Name of configuration mode to use. Modes are pre-defined configurations of security controls, extension allowlists and guest configuration, maintained by Microsoft.
          enum:
            - full
            - monitor
          x-ms-enum:
            name: agent configuration mode
            modelAsString: true
      description: Configurable properties that the user can set locally via the azcmagent config command, or remotely via ARM.
    ConfigurationExtension:
      type: object
      properties:
        publisher:
          type: string
          readOnly: true
          description: Publisher of the extension.
        type:
          type: string
          readOnly: true
          description: Type of the extension.
      description: Describes properties that can identify extensions.
    ServiceStatuses:
      type: object
      properties:
        extensionService:
          $ref: '#/components/schemas/ServiceStatus'
          description: The state of the extension service on the Arc-enabled machine.
        guestConfigurationService:
          $ref: '#/components/schemas/ServiceStatus'
          description: The state of the guest configuration service on the Arc-enabled machine.
      description: Reports the state and behavior of dependent services.
    ServiceStatus:
      type: object
      properties:
        status:
          type: string
          description: The current status of the service.
        startupType:
          type: string
          description: The behavior of the service when the Arc-enabled machine starts up.
      description: Describes the status and behavior of a service.
    CloudMetadata:
      type: object
      properties:
        provider:
          type: string
          readOnly: true
          description: Specifies the cloud provider (Azure/AWS/GCP...).
      description: The metadata of the cloud environment (Azure/GCP/AWS/OCI...).
    AgentUpgrade:
      type: object
      properties:
        desiredVersion:
          type: string
          description: Specifies the version info w.r.t AgentUpgrade for the machine.
        correlationId:
          type: string
          description: The correlation ID passed in from RSM per upgrade.
        enableAutomaticUpgrade:
          type: boolean
          description: Specifies if RSM should try to upgrade this machine
        lastAttemptTimestamp:
          type: string
          readOnly: true
          description: Timestamp of last upgrade attempt
        lastAttemptStatus:
          type: string
          readOnly: true
          enum:
            - Success
            - Failed
          x-ms-enum:
            name: LastAttemptStatusEnum
            modelAsString: true
          description: Specifies the status of Agent Upgrade.
        lastAttemptMessage:
          type: string
          readOnly: true
          description: Failure message of last upgrade attempt if any.
      description: The info w.r.t Agent Upgrade.
    OSProfile:
      type: object
      properties:
        computerName:
          type: string
          readOnly: true
          description: Specifies the host OS name of the hybrid machine.
        windowsConfiguration:
          type: object
          properties:
            patchSettings:
              x-ms-client-flatten: true
              $ref: '#/components/schemas/PatchSettings'
          description: Specifies the windows configuration for update management.
        linuxConfiguration:
          type: object
          properties:
            patchSettings:
              x-ms-client-flatten: true
              $ref: '#/components/schemas/PatchSettings'
          description: Specifies the linux configuration for update management.
      description: Specifies the operating system settings for the hybrid machine.
    DetectedProperties:
      readOnly: true
      additionalProperties:
        type: string
      description: Detected properties from the machine.
      properties: {}
      type: object
    MachineProperties:
      type: object
      properties:
        locationData:
          $ref: '#/components/schemas/locationData'
        agentConfiguration:
          $ref: '#/components/schemas/AgentConfiguration'
          description: Configurable properties that the user can set locally via the azcmagent config command, or remotely via ARM.
        serviceStatuses:
          $ref: '#/components/schemas/ServiceStatuses'
          description: Statuses of dependent services that are reported back to ARM.
        cloudMetadata:
          $ref: '#/components/schemas/CloudMetadata'
          description: The metadata of the cloud environment (Azure/GCP/AWS/OCI...).
        agentUpgrade:
          $ref: '#/components/schemas/AgentUpgrade'
          description: The info of the machine w.r.t Agent Upgrade
        osProfile:
          $ref: '#/components/schemas/OSProfile'
          description: Specifies the operating system settings for the hybrid machine.
        provisioningState:
          readOnly: true
          type: string
          description: The provisioning state, which only appears in the response.
        status:
          readOnly: true
          type: string
          description: The status of the hybrid machine agent.
          enum:
            - Connected
            - Disconnected
            - Error
          x-ms-enum:
            name: StatusTypes
            modelAsString: true
        lastStatusChange:
          readOnly: true
          type: string
          format: date-time
          description: The time of the last status change.
        errorDetails:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Details about the error state.
          x-ms-identifiers: []
        agentVersion:
          readOnly: true
          type: string
          description: The hybrid machine agent full version.
        vmId:
          type: string
          x-ms-mutability:
            - read
            - create
          description: Specifies the hybrid machine unique ID.
        displayName:
          readOnly: true
          type: string
          description: Specifies the hybrid machine display name.
        machineFqdn:
          readOnly: true
          type: string
          description: Specifies the hybrid machine FQDN.
        clientPublicKey:
          type: string
          description: Public Key that the client provides to be used during initial resource onboarding
        osName:
          readOnly: true
          type: string
          description: The Operating System running on the hybrid machine.
        osVersion:
          readOnly: true
          type: string
          description: The version of Operating System running on the hybrid machine.
        osType:
          type: string
          description: The type of Operating System (windows/linux).
        vmUuid:
          readOnly: true
          type: string
          description: Specifies the Arc Machine's unique SMBIOS ID
        extensions:
          type: array
          items:
            $ref: '#/components/schemas/MachineExtensionInstanceView'
          description: Machine Extensions information (deprecated field)
          x-ms-identifiers: []
        osSku:
          readOnly: true
          type: string
          description: Specifies the Operating System product SKU.
        domainName:
          readOnly: true
          type: string
          description: Specifies the Windows domain name.
        adFqdn:
          readOnly: true
          type: string
          description: Specifies the AD fully qualified display name.
        dnsFqdn:
          readOnly: true
          type: string
          description: Specifies the DNS fully qualified display name.
        privateLinkScopeResourceId:
          type: string
          description: The resource id of the private link scope this machine is assigned to, if any.
        parentClusterResourceId:
          type: string
          description: The resource id of the parent cluster (Azure HCI) this machine is assigned to, if any.
        mssqlDiscovered:
          type: string
          description: Specifies whether any MS SQL instance is discovered on the machine.
        detectedProperties:
          $ref: '#/components/schemas/DetectedProperties'
          description: Detected properties from the machine.
      description: Describes the properties of a hybrid machine.
    MachineUpdateProperties:
      type: object
      properties:
        locationData:
          $ref: '#/components/schemas/locationData'
        osProfile:
          $ref: '#/components/schemas/OSProfile'
        cloudMetadata:
          $ref: '#/components/schemas/CloudMetadata'
          description: The metadata of the cloud environment (Azure/GCP/AWS/OCI...).
        agentUpgrade:
          $ref: '#/components/schemas/AgentUpgrade'
          description: The info of the machine w.r.t Agent Upgrade
        parentClusterResourceId:
          type: string
          description: The resource id of the parent cluster (Azure HCI) this machine is assigned to, if any.
        privateLinkScopeResourceId:
          type: string
          description: The resource id of the private link scope this machine is assigned to, if any.
      description: Describes the ARM updatable properties of a hybrid machine.
    Machine:
      description: Describes a hybrid machine.
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/MachineProperties'
          description: Hybrid Compute Machine properties
        resources:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/MachineExtension'
          description: The list of extensions affiliated to the machine
        identity:
          $ref: '#/components/schemas/Identity'
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
            - read
            - create
            - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
            - read
            - create
          description: The geo-location where the resource lives
      type: object
    MachineUpdate:
      description: Describes a hybrid machine Update.
      properties:
        identity:
          $ref: '#/components/schemas/Identity'
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/MachineUpdateProperties'
          description: Hybrid Compute Machine properties
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      type: object
    MachineListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Machine'
          description: The list of hybrid machines.
        nextLink:
          type: string
          description: The URI to fetch the next page of Machines. Call ListNext() with this URI to fetch the next page of hybrid machines.
      required:
        - value
      description: The List hybrid machine operation response.
    ResourceUpdate:
      type: object
      description: The Update Resource model definition.
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
    MachineExtension:
      description: Describes a Machine Extension.
      properties:
        properties:
          $ref: '#/components/schemas/MachineExtensionProperties'
          description: Describes Machine Extension Properties.
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
            - read
            - create
            - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
            - read
            - create
          description: The geo-location where the resource lives
      type: object
    MachineExtensionUpdate:
      description: Describes a Machine Extension Update.
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/MachineExtensionUpdateProperties'
          description: Describes Machine Extension Update Properties.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      type: object
    MachineExtensionProperties:
      type: object
      properties:
        forceUpdateTag:
          type: string
          description: How the extension handler should be forced to update even if the extension configuration has not changed.
        publisher:
          type: string
          description: The name of the extension handler publisher.
        type:
          type: string
          description: Specifies the type of the extension; an example is "CustomScriptExtension".
        typeHandlerVersion:
          type: string
          description: Specifies the version of the script handler.
        enableAutomaticUpgrade:
          type: boolean
          description: Indicates whether the extension should be automatically upgraded by the platform if there is a newer version available.
        autoUpgradeMinorVersion:
          type: boolean
          description: Indicates whether the extension should use a newer minor version if one is available at deployment time. Once deployed, however, the extension will not upgrade minor versions unless redeployed, even with this property set to true.
        settings:
          type: object
          additionalProperties: {}
          description: Json formatted public settings for the extension.
        protectedSettings:
          type: object
          additionalProperties: {}
          description: The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all.
        provisioningState:
          readOnly: true
          type: string
          description: The provisioning state, which only appears in the response.
        instanceView:
          $ref: '#/components/schemas/MachineExtensionInstanceView'
          description: The machine extension instance view.
      description: Describes the properties of a Machine Extension.
    MachineExtensionUpdateProperties:
      type: object
      properties:
        forceUpdateTag:
          type: string
          description: How the extension handler should be forced to update even if the extension configuration has not changed.
        publisher:
          type: string
          description: The name of the extension handler publisher.
        type:
          type: string
          description: Specifies the type of the extension; an example is "CustomScriptExtension".
        typeHandlerVersion:
          type: string
          description: Specifies the version of the script handler.
        enableAutomaticUpgrade:
          type: boolean
          description: Indicates whether the extension should be automatically upgraded by the platform if there is a newer version available.
        autoUpgradeMinorVersion:
          type: boolean
          description: Indicates whether the extension should use a newer minor version if one is available at deployment time. Once deployed, however, the extension will not upgrade minor versions unless redeployed, even with this property set to true.
        settings:
          type: object
          additionalProperties: {}
          description: Json formatted public settings for the extension.
        protectedSettings:
          type: object
          additionalProperties: {}
          description: The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all.
      description: Describes the properties of a Machine Extension.
    MachineExtensionInstanceView:
      type: object
      properties:
        name:
          type: string
          description: The machine extension name.
        type:
          type: string
          description: Specifies the type of the extension; an example is "CustomScriptExtension".
        typeHandlerVersion:
          type: string
          description: Specifies the version of the script handler.
        status:
          type: object
          properties:
            code:
              type: string
              description: The status code.
            level:
              type: string
              description: The level code.
              enum:
                - Info
                - Warning
                - Error
              x-ms-enum:
                name: StatusLevelTypes
                modelAsString: true
            displayStatus:
              type: string
              description: The short localizable label for the status.
            message:
              type: string
              description: The detailed status message, including for alerts and error messages.
            time:
              type: string
              format: date-time
              description: The time of the status.
          description: Instance view status.
      description: Describes the Machine Extension Instance View.
    MachineExtensionsListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/MachineExtension'
          description: The list of extensions
        nextLink:
          type: string
          description: The uri to fetch the next page of machine extensions. Call ListNext() with this to fetch the next page of extensions.
      description: Describes the Machine Extensions List Result.
    TargetVersion:
      type: string
      description: Extension Upgrade Target Version.
    ExtensionTargetProperties:
      type: object
      properties:
        targetVersion:
          type: object
          $ref: '#/components/schemas/TargetVersion'
          description: Properties for the specified Extension to Upgrade.
      description: Describes the Machine Extension Target Version Properties
    ExtensionTarget:
      additionalProperties:
        type: object
        $ref: '#/components/schemas/ExtensionTargetProperties'
      description: Describes the Machine Extension Target Properties
      properties: {}
      type: object
    MachineExtensionUpgrade:
      type: object
      properties:
        extensionTargets:
          $ref: '#/components/schemas/ExtensionTarget'
          description: Describes the Extension Target Properties.
      description: Describes the Machine Extension Upgrade Properties.
    NetworkProfile:
      type: object
      readOnly: true
      properties:
        networkInterfaces:
          type: array
          items:
            $ref: '#/components/schemas/NetworkInterface'
          description: The list of network interfaces.
          x-ms-identifiers: []
      description: Describes the network information on this machine.
    NetworkInterface:
      type: object
      readOnly: true
      properties:
        ipAddresses:
          type: array
          items:
            $ref: '#/components/schemas/IpAddress'
          description: The list of IP addresses in this interface.
          x-ms-identifiers: []
      description: Describes a network interface.
    IpAddress:
      type: object
      readOnly: true
      properties:
        address:
          type: string
          description: Represents the IP Address.
        ipAddressVersion:
          type: string
          description: Represents the Ip Address Version.
        subnet:
          type: object
          $ref: '#/components/schemas/Subnet'
          description: The subnet to which this IP address belongs.
      description: Describes properties of the IP address.
    Subnet:
      type: object
      readOnly: true
      properties:
        addressPrefix:
          type: string
          description: Represents address prefix.
      description: Describes the subnet.
    MachineAssessPatchesResult:
      type: object
      properties:
        status:
          type: string
          readOnly: true
          description: The overall success or failure status of the operation. It remains "InProgress" until the operation completes. At that point it will become "Unknown", "Failed", "Succeeded", or "CompletedWithWarnings."
          enum:
            - Unknown
            - InProgress
            - Failed
            - Succeeded
            - CompletedWithWarnings
          x-ms-enum:
            name: PatchOperationStatus
            modelAsString: true
        assessmentActivityId:
          type: string
          readOnly: true
          description: The activity ID of the operation that produced this result.
        rebootPending:
          type: boolean
          readOnly: true
          description: The overall reboot status of the VM. It will be true when partially installed patches require a reboot to complete installation but the reboot has not yet occurred.
        availablePatchCountByClassification:
          $ref: '#/components/schemas/AvailablePatchCountByClassification'
          description: Summarization of patches available for installation on the machine by classification.
        startDateTime:
          type: string
          readOnly: true
          format: date-time
          description: The UTC timestamp when the operation began.
        lastModifiedDateTime:
          type: string
          readOnly: true
          format: date-time
          description: The UTC timestamp when the operation finished.
        startedBy:
          type: string
          readOnly: true
          enum:
            - User
            - Platform
          x-ms-enum:
            name: PatchOperationStartedBy
            modelAsString: true
          description: Indicates if operation was triggered by user or by platform.
        patchServiceUsed:
          type: string
          readOnly: true
          enum:
            - Unknown
            - WU
            - WU_WSUS
            - YUM
            - APT
            - Zypper
          x-ms-enum:
            name: PatchServiceUsed
            modelAsString: true
          description: Specifies the patch service used for the operation.
        osType:
          type: string
          readOnly: true
          enum:
            - Windows
            - Linux
          x-ms-enum:
            name: OsType
            modelAsString: true
          description: The operating system type of the machine.
        errorDetails:
          $ref: '#/components/schemas/ErrorDetail'
          readOnly: true
          description: The errors that were encountered during execution of the operation. The details array contains the list of them.
      description: Describes the properties of an AssessPatches result.
    AvailablePatchCountByClassification:
      type: object
      properties:
        security:
          readOnly: true
          type: integer
          format: int32
          description: Number of security patches available for installation.
        critical:
          readOnly: true
          type: integer
          format: int32
          description: Number of critical patches available for installation.
        definition:
          readOnly: true
          type: integer
          format: int32
          description: Number of definition patches available for installation.
        updateRollup:
          readOnly: true
          type: integer
          format: int32
          description: Number of update Rollup patches available for installation.
        featurePack:
          readOnly: true
          type: integer
          format: int32
          description: Number of feature pack patches available for installation.
        servicePack:
          readOnly: true
          type: integer
          format: int32
          description: Number of service pack patches available for installation.
        tools:
          readOnly: true
          type: integer
          format: int32
          description: Number of tools patches available for installation.
        updates:
          readOnly: true
          type: integer
          format: int32
          description: Number of updates category patches available for installation.
        other:
          readOnly: true
          type: integer
          format: int32
          description: Number of other patches available for installation.
      description: Summarization of patches available for installation on the machine by classification.
    MachineInstallPatchesParameters:
      type: object
      properties:
        maximumDuration:
          type: string
          description: Specifies the maximum amount of time that the operation will run. It must be an ISO 8601-compliant duration string such as PT4H (4 hours)
        rebootSetting:
          type: string
          description: Defines when it is acceptable to reboot a VM during a software update operation.
          enum:
            - IfRequired
            - Never
            - Always
          x-ms-enum:
            name: VMGuestPatchRebootSetting
            modelAsString: true
        windowsParameters:
          $ref: '#/components/schemas/WindowsParameters'
          description: Input for InstallPatches on a Windows VM, as directly received by the API
        linuxParameters:
          $ref: '#/components/schemas/LinuxParameters'
          description: Input for InstallPatches on a Linux VM, as directly received by the API
      required:
        - maximumDuration
        - rebootSetting
      description: Input for InstallPatches as directly received by the API
    WindowsParameters:
      type: object
      properties:
        classificationsToInclude:
          type: array
          description: The update classifications to select when installing patches for Windows.
          items:
            type: string
            enum:
              - Critical
              - Security
              - UpdateRollUp
              - FeaturePack
              - ServicePack
              - Definition
              - Tools
              - Updates
            x-ms-enum:
              name: VMGuestPatchClassification_Windows
              modelAsString: true
        kbNumbersToInclude:
          type: array
          description: Kbs to include in the patch operation
          items:
            type: string
        kbNumbersToExclude:
          type: array
          description: Kbs to exclude in the patch operation
          items:
            type: string
        excludeKbsRequiringReboot:
          type: boolean
          description: Filters out Kbs that don't have an InstallationRebootBehavior of 'NeverReboots' when this is set to true.
        maxPatchPublishDate:
          type: string
          format: date-time
          description: This is used to install patches that were published on or before this given max published date.
      description: Input for InstallPatches on a Windows VM, as directly received by the API
    LinuxParameters:
      type: object
      properties:
        classificationsToInclude:
          type: array
          description: The update classifications to select when installing patches for Linux.
          items:
            type: string
            enum:
              - Critical
              - Security
              - Other
            x-ms-enum:
              name: VMGuestPatchClassification_Linux
              modelAsString: true
        packageNameMasksToInclude:
          type: array
          description: 'packages to include in the patch operation. Format: packageName_packageVersion'
          items:
            type: string
        packageNameMasksToExclude:
          type: array
          description: 'packages to exclude in the patch operation. Format: packageName_packageVersion'
          items:
            type: string
      description: Input for InstallPatches on a Linux VM, as directly received by the API
    MachineInstallPatchesResult:
      type: object
      properties:
        status:
          type: string
          readOnly: true
          description: The overall success or failure status of the operation. It remains "InProgress" until the operation completes. At that point it will become "Failed", "Succeeded", "Unknown" or "CompletedWithWarnings."
          enum:
            - Unknown
            - InProgress
            - Failed
            - Succeeded
            - CompletedWithWarnings
          x-ms-enum:
            name: PatchOperationStatus
            modelAsString: true
        installationActivityId:
          type: string
          readOnly: true
          description: The activity ID of the operation that produced this result.
        rebootStatus:
          type: string
          readOnly: true
          description: The reboot state of the VM following completion of the operation.
          enum:
            - Unknown
            - NotNeeded
            - Required
            - Started
            - Failed
            - Completed
          x-ms-enum:
            name: VMGuestPatchRebootStatus
            modelAsString: true
        maintenanceWindowExceeded:
          type: boolean
          readOnly: true
          description: Whether the operation ran out of time before it completed all its intended actions.
        excludedPatchCount:
          type: integer
          readOnly: true
          format: int32
          description: The number of patches that were not installed due to the user blocking their installation.
        notSelectedPatchCount:
          type: integer
          readOnly: true
          format: int32
          description: The number of patches that were detected as available for install, but did not meet the operation's criteria.
        pendingPatchCount:
          type: integer
          readOnly: true
          format: int32
          description: The number of patches that were identified as meeting the installation criteria, but were not able to be installed. Typically this happens when maintenanceWindowExceeded == true.
        installedPatchCount:
          type: integer
          readOnly: true
          format: int32
          description: The number of patches successfully installed.
        failedPatchCount:
          type: integer
          readOnly: true
          format: int32
          description: The number of patches that could not be installed due to some issue. See errors for details.
        startDateTime:
          type: string
          readOnly: true
          format: date-time
          description: The UTC timestamp when the operation began.
        lastModifiedDateTime:
          type: string
          readOnly: true
          format: date-time
          description: The UTC timestamp when the operation finished.
        startedBy:
          type: string
          readOnly: true
          enum:
            - User
            - Platform
          x-ms-enum:
            name: PatchOperationStartedBy
            modelAsString: true
          description: Indicates if operation was triggered by user or by platform.
        patchServiceUsed:
          type: string
          readOnly: true
          enum:
            - Unknown
            - WU
            - WU_WSUS
            - YUM
            - APT
            - Zypper
          x-ms-enum:
            name: PatchServiceUsed
            modelAsString: true
          description: Specifies the patch service used for the operation.
        osType:
          type: string
          readOnly: true
          enum:
            - Windows
            - Linux
          x-ms-enum:
            name: OsType
            modelAsString: true
          description: The operating system type of the machine.
        errorDetails:
          $ref: '#/components/schemas/ErrorDetail'
          readOnly: true
          description: The errors that were encountered during execution of the operation. The details array contains the list of them.
      description: The result summary of an installation operation.
    SkuTier:
      type: string
      enum:
        - Free
        - Basic
        - Standard
        - Premium
      x-ms-enum:
        name: SkuTier
        modelAsString: false
      description: This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT.
    PrivateLinkScopesResource:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: Azure resource Id
        name:
          type: string
          description: Azure resource name
          readOnly: true
        type:
          type: string
          readOnly: true
          description: Azure resource type
        location:
          type: string
          description: Resource location
          x-ms-mutability:
            - create
            - read
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      required:
        - location
      x-ms-azure-resource: true
      description: An azure resource object
    TagsResource:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      description: A container holding only the Tags for a resource, allowing the user to update the tags on a PrivateLinkScope instance.
    HybridComputePrivateLinkScope:
      description: An Azure Arc PrivateLinkScope definition.
      properties:
        properties:
          description: Properties that define a Azure Arc PrivateLinkScope resource.
          $ref: '#/components/schemas/HybridComputePrivateLinkScopeProperties'
        systemData:
          readOnly: true
          description: The system meta data relating to this resource.
          $ref: '#/components/schemas/systemData'
        id:
          type: string
          readOnly: true
          description: Azure resource Id
        name:
          type: string
          description: Azure resource name
          readOnly: true
        type:
          type: string
          readOnly: true
          description: Azure resource type
        location:
          type: string
          description: Resource location
          x-ms-mutability:
            - create
            - read
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      type: object
    PrivateLinkScopeValidationDetails:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: Azure resource Id
        publicNetworkAccess:
          description: Indicates whether machines associated with the private link scope can also use public Azure Arc service endpoints.
          $ref: '#/components/schemas/PublicNetworkAccessType'
        connectionDetails:
          type: array
          description: List of Private Endpoint Connection details.
          items:
            $ref: '#/components/schemas/ConnectionDetail'
    ConnectionDetail:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: Azure resource Id
        privateIpAddress:
          type: string
          readOnly: true
          description: The private endpoint connection private ip address
        linkIdentifier:
          type: string
          readOnly: true
          description: The private endpoint connection link identifier
        groupId:
          type: string
          readOnly: true
          description: The private endpoint connection group id
        memberName:
          type: string
          readOnly: true
          description: The private endpoint connection member name
    HybridComputePrivateLinkScopeProperties:
      type: object
      description: Properties that define a Azure Arc PrivateLinkScope resource.
      properties:
        publicNetworkAccess:
          description: Indicates whether machines associated with the private link scope can also use public Azure Arc service endpoints.
          $ref: '#/components/schemas/PublicNetworkAccessType'
        provisioningState:
          type: string
          description: 'Current state of this PrivateLinkScope: whether or not is has been provisioned within the resource group it is defined. Users cannot change this value but are able to read from it. Values will include Provisioning ,Succeeded, Canceled and Failed.'
          readOnly: true
        privateLinkScopeId:
          readOnly: true
          description: The Guid id of the private link scope.
          type: string
        privateEndpointConnections:
          readOnly: true
          description: The collection of associated Private Endpoint Connections.
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnectionDataModel'
    HybridComputePrivateLinkScopeListResult:
      type: object
      description: Describes the list of Azure Arc PrivateLinkScope resources.
      required:
        - value
      properties:
        value:
          type: array
          description: List of Azure Arc PrivateLinkScope definitions.
          items:
            $ref: '#/components/schemas/HybridComputePrivateLinkScope'
        nextLink:
          type: string
          description: The URI to get the next set of Azure Arc PrivateLinkScope definitions if too many PrivateLinkScopes where returned in the result set.
    PrivateLinkResourceListResult:
      type: object
      description: A list of private link resources
      properties:
        value:
          description: Array of results.
          type: array
          items:
            $ref: '#/components/schemas/PrivateLinkResource'
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    PrivateLinkResource:
      description: A private link resource
      properties:
        properties:
          $ref: '#/components/schemas/PrivateLinkResourceProperties'
          description: Resource properties.
        systemData:
          readOnly: true
          description: The system meta data relating to this resource.
          $ref: '#/components/schemas/systemData'
      type: object
    PrivateLinkResourceProperties:
      type: object
      description: Properties of a private link resource.
      properties:
        groupId:
          description: The private link resource group id.
          type: string
          readOnly: true
        requiredMembers:
          description: The private link resource required member names.
          type: array
          items:
            type: string
          readOnly: true
        requiredZoneNames:
          description: Required DNS zone names of the the private link resource.
          type: array
          items:
            type: string
          readOnly: true
    PrivateEndpointConnectionDataModel:
      description: The Data Model for a Private Endpoint Connection associated with a Private Link Scope
      properties:
        id:
          description: The ARM Resource Id of the Private Endpoint.
          type: string
          readOnly: true
        name:
          description: The Name of the Private Endpoint.
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
          description: Azure resource type
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
          description: The Private Endpoint Connection properties.
      type: object
    PrivateEndpointConnectionProperties:
      type: object
      description: Properties of a private endpoint connection.
      properties:
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpointProperty'
          description: Private endpoint which the connection belongs to.
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionStateProperty'
          description: Connection state of the private endpoint connection.
        provisioningState:
          description: State of the private endpoint connection.
          type: string
          readOnly: true
        groupIds:
          description: List of group IDs.
          type: array
          items:
            type: string
          readOnly: true
    PrivateEndpointProperty:
      type: object
      description: Private endpoint which the connection belongs to.
      properties:
        id:
          description: Resource id of the private endpoint.
          type: string
    PrivateLinkServiceConnectionStateProperty:
      type: object
      description: State of the private endpoint connection.
      required:
        - status
        - description
      properties:
        status:
          description: The private link service connection status.
          type: string
        description:
          description: The private link service connection description.
          type: string
        actionsRequired:
          description: The actions required for private link service connection.
          type: string
          readOnly: true
    PrivateEndpointConnection:
      description: A private endpoint connection
      properties:
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
          description: Resource properties.
        systemData:
          readOnly: true
          description: The system meta data relating to this resource.
          $ref: '#/components/schemas/systemData'
      type: object
    PrivateEndpointConnectionListResult:
      type: object
      description: A list of private endpoint connections.
      properties:
        value:
          description: Array of results.
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    PublicNetworkAccessType:
      type: string
      description: The network access policy to determine if Azure Arc agents can use public Azure Arc service endpoints. Defaults to disabled (access to Azure Arc services only via private link).
      default: Disabled
      enum:
        - Enabled
        - Disabled
      x-ms-enum:
        name: PublicNetworkAccessType
        modelAsString: true
        values:
          - value: Enabled
            description: Allows Azure Arc agents to communicate with Azure Arc services over both public (internet) and private endpoints.
          - value: Disabled
            description: Does not allow Azure Arc agents to communicate with Azure Arc services over public (internet) endpoints. The agents must use the private link.
  x-stackQL-resources:
    machines:
      id: azure.hybrid_compute.machines
      name: machines
      title: machines
      methods:
        create_or_update:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1machines~1{machineName}~1?api-version=2022-12-27/put'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        update:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1machines~1{machineName}~1?api-version=2022-12-27/patch'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        delete:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1machines~1{machineName}~1?api-version=2022-12-27/delete'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        get:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1machines~1{machineName}~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        assess_patches:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1machines~1{name}~1assessPatches~1?api-version=2022-12-27/post'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        install_patches:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1machines~1{name}~1installPatches~1?api-version=2022-12-27/post'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        list_by_resource_group:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1machines~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        _list_by_resource_group:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1machines~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        list_by_subscription:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.HybridCompute~1machines~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        _list_by_subscription:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.HybridCompute~1machines~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/machines/methods/get'
          - $ref: '#/components/x-stackQL-resources/machines/methods/list_by_resource_group'
          - $ref: '#/components/x-stackQL-resources/machines/methods/list_by_subscription'
        insert:
          - $ref: '#/components/x-stackQL-resources/machines/methods/create_or_update'
        update: []
        delete:
          - $ref: '#/components/x-stackQL-resources/machines/methods/delete'
    machine_extensions:
      id: azure.hybrid_compute.machine_extensions
      name: machine_extensions
      title: machine_extensions
      methods:
        create_or_update:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1machines~1{machineName}~1extensions~1{extensionName}~1?api-version=2022-12-27/put'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        update:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1machines~1{machineName}~1extensions~1{extensionName}~1?api-version=2022-12-27/patch'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        delete:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1machines~1{machineName}~1extensions~1{extensionName}~1?api-version=2022-12-27/delete'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        get:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1machines~1{machineName}~1extensions~1{extensionName}~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        list:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1machines~1{machineName}~1extensions~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        _list:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1machines~1{machineName}~1extensions~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/machine_extensions/methods/get'
          - $ref: '#/components/x-stackQL-resources/machine_extensions/methods/list'
        insert:
          - $ref: '#/components/x-stackQL-resources/machine_extensions/methods/create_or_update'
        update: []
        delete:
          - $ref: '#/components/x-stackQL-resources/machine_extensions/methods/delete'
    machine_extensions_upgrade:
      id: azure.hybrid_compute.machine_extensions_upgrade
      name: machine_extensions_upgrade
      title: machine_extensions_upgrade
      methods:
        machine_extensions_upgrade:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1machines~1{machineName}~1upgradeExtensions~1?api-version=2022-12-27/post'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
      sqlVerbs:
        select: []
        insert: []
        update: []
        delete: []
    extension_metadata:
      id: azure.hybrid_compute.extension_metadata
      name: extension_metadata
      title: extension_metadata
      methods:
        get:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.HybridCompute~1locations~1{location}~1publishers~1{publisher}~1extensionTypes~1{extensionType}~1versions~1{version}~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        list:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.HybridCompute~1locations~1{location}~1publishers~1{publisher}~1extensionTypes~1{extensionType}~1versions~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        _list:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.HybridCompute~1locations~1{location}~1publishers~1{publisher}~1extensionTypes~1{extensionType}~1versions~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/extension_metadata/methods/get'
          - $ref: '#/components/x-stackQL-resources/extension_metadata/methods/list'
        insert: []
        update: []
        delete: []
    operations:
      id: azure.hybrid_compute.operations
      name: operations
      title: operations
      methods:
        list:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.HybridCompute~1operations~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        _list:
          operation:
            $ref: '#/paths/~1providers~1Microsoft.HybridCompute~1operations~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/operations/methods/list'
        insert: []
        update: []
        delete: []
    network_profile:
      id: azure.hybrid_compute.network_profile
      name: network_profile
      title: network_profile
      methods:
        get:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1machines~1{machineName}~1networkProfile~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/network_profile/methods/get'
        insert: []
        update: []
        delete: []
    private_link_scopes:
      id: azure.hybrid_compute.private_link_scopes
      name: private_link_scopes
      title: private_link_scopes
      methods:
        list:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.HybridCompute~1privateLinkScopes~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        _list:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.HybridCompute~1privateLinkScopes~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        list_by_resource_group:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1privateLinkScopes~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        _list_by_resource_group:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1privateLinkScopes~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        delete:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1privateLinkScopes~1{scopeName}~1?api-version=2022-12-27/delete'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        get:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1privateLinkScopes~1{scopeName}~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        create_or_update:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1privateLinkScopes~1{scopeName}~1?api-version=2022-12-27/put'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/private_link_scopes/methods/get'
          - $ref: '#/components/x-stackQL-resources/private_link_scopes/methods/list_by_resource_group'
          - $ref: '#/components/x-stackQL-resources/private_link_scopes/methods/list'
        insert:
          - $ref: '#/components/x-stackQL-resources/private_link_scopes/methods/create_or_update'
        update: []
        delete:
          - $ref: '#/components/x-stackQL-resources/private_link_scopes/methods/delete'
    private_link_scopes_tags:
      id: azure.hybrid_compute.private_link_scopes_tags
      name: private_link_scopes_tags
      title: private_link_scopes_tags
      methods:
        update:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1privateLinkScopes~1{scopeName}~1?api-version=2022-12-27/patch'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
      sqlVerbs:
        select: []
        insert: []
        update: []
        delete: []
    private_link_resources:
      id: azure.hybrid_compute.private_link_resources
      name: private_link_resources
      title: private_link_resources
      methods:
        list_by_private_link_scope:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1privateLinkScopes~1{scopeName}~1privateLinkResources~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        _list_by_private_link_scope:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1privateLinkScopes~1{scopeName}~1privateLinkResources~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        get:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1privateLinkScopes~1{scopeName}~1privateLinkResources~1{groupName}~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/private_link_resources/methods/get'
          - $ref: '#/components/x-stackQL-resources/private_link_resources/methods/list_by_private_link_scope'
        insert: []
        update: []
        delete: []
    private_endpoint_connections:
      id: azure.hybrid_compute.private_endpoint_connections
      name: private_endpoint_connections
      title: private_endpoint_connections
      methods:
        get:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1privateLinkScopes~1{scopeName}~1privateEndpointConnections~1{privateEndpointConnectionName}~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        create_or_update:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1privateLinkScopes~1{scopeName}~1privateEndpointConnections~1{privateEndpointConnectionName}~1?api-version=2022-12-27/put'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        delete:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1privateLinkScopes~1{scopeName}~1privateEndpointConnections~1{privateEndpointConnectionName}~1?api-version=2022-12-27/delete'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        list_by_private_link_scope:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1privateLinkScopes~1{scopeName}~1privateEndpointConnections~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
        _list_by_private_link_scope:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1privateLinkScopes~1{scopeName}~1privateEndpointConnections~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/private_endpoint_connections/methods/get'
          - $ref: '#/components/x-stackQL-resources/private_endpoint_connections/methods/list_by_private_link_scope'
        insert:
          - $ref: '#/components/x-stackQL-resources/private_endpoint_connections/methods/create_or_update'
        update: []
        delete:
          - $ref: '#/components/x-stackQL-resources/private_endpoint_connections/methods/delete'
    private_link_scopes_validation_details:
      id: azure.hybrid_compute.private_link_scopes_validation_details
      name: private_link_scopes_validation_details
      title: private_link_scopes_validation_details
      methods:
        get:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1providers~1Microsoft.HybridCompute~1locations~1{location}~1privateLinkScopes~1{privateLinkScopeId}~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/private_link_scopes_validation_details/methods/get'
        insert: []
        update: []
        delete: []
    private_link_scopes_validation_details_for_machine:
      id: azure.hybrid_compute.private_link_scopes_validation_details_for_machine
      name: private_link_scopes_validation_details_for_machine
      title: private_link_scopes_validation_details_for_machine
      methods:
        get:
          operation:
            $ref: '#/paths/~1subscriptions~1{subscriptionId}~1resourceGroups~1{resourceGroupName}~1providers~1Microsoft.HybridCompute~1machines~1{machineName}~1privateLinkScopes~1current~1?api-version=2022-12-27/get'
          response:
            mediaType: application/json
            openAPIDocKey: '200'
      sqlVerbs:
        select:
          - $ref: '#/components/x-stackQL-resources/private_link_scopes_validation_details_for_machine/methods/get'
        insert: []
        update: []
        delete: []
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/?api-version=2022-12-27:
    put:
      tags:
        - machines
      operationId: Machines_CreateOrUpdate
      description: The operation to create or update a hybrid machine. Please note some properties can be set only during machine creation.
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - name: machineName
          in: path
          description: The name of the hybrid machine.
          required: true
          schema:
            pattern: ^[a-zA-Z0-9-_\.]{1,54}$
            minLength: 1
            maxLength: 54
            type: string
      requestBody:
        description: Parameters supplied to the Create hybrid machine operation.
        required: true
        x-ms-requestBody-name: parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Machine'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Machine'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - machines
      operationId: Machines_Update
      description: The operation to update a hybrid machine.
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - name: machineName
          in: path
          description: The name of the hybrid machine.
          required: true
          schema:
            pattern: ^[a-zA-Z0-9-_\.]{1,54}$
            minLength: 1
            maxLength: 54
            type: string
      requestBody:
        description: Parameters supplied to the Update hybrid machine operation.
        required: true
        x-ms-requestBody-name: parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MachineUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Machine'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - machines
      operationId: Machines_Delete
      description: The operation to delete a hybrid machine.
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - name: machineName
          in: path
          description: The name of the hybrid machine.
          required: true
          schema:
            pattern: ^[a-zA-Z0-9-_\.]{1,54}$
            minLength: 1
            maxLength: 54
            type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      tags:
        - machines
      operationId: Machines_Get
      description: Retrieves information about the model view or the instance view of a hybrid machine.
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - name: machineName
          in: path
          description: The name of the hybrid machine.
          required: true
          schema:
            pattern: ^[a-zA-Z0-9-_\.]{1,54}$
            minLength: 1
            maxLength: 54
            type: string
        - name: $expand
          in: query
          description: The expand expression to apply on the operation.
          required: false
          schema:
            enum:
              - instanceView
            x-ms-enum:
              name: InstanceViewTypes
              modelAsString: true
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Machine'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{name}/assessPatches/?api-version=2022-12-27:
    post:
      tags:
        - machines
      operationId: Machines_AssessPatches
      description: The operation to assess patches on a hybrid machine identity in Azure.
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - name: resourceGroupName
          in: path
          description: The name of the resource group.
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: The name of the hybrid machine.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineAssessPatchesResult'
        '202':
          description: HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously.
          headers:
            Location:
              schema:
                type: string
              description: The URL of the resource used to check the status of the asynchronous operation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{name}/installPatches/?api-version=2022-12-27:
    post:
      tags:
        - machines
      operationId: Machines_InstallPatches
      description: The operation to install patches on a hybrid machine identity in Azure.
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - name: resourceGroupName
          in: path
          description: The name of the resource group.
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: The name of the hybrid machine.
          required: true
          schema:
            type: string
      requestBody:
        description: Input for InstallPatches as directly received by the API
        required: true
        x-ms-requestBody-name: installPatchesInput
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MachineInstallPatchesParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineInstallPatchesResult'
        '202':
          description: HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously.
          headers:
            Location:
              schema:
                type: string
              description: The URL of the resource used to check the status of the asynchronous operation.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/?api-version=2022-12-27:
    get:
      tags:
        - machines
      operationId: Machines_ListByResourceGroup
      description: Lists all the hybrid machines in the specified resource group. Use the nextLink property in the response to get the next page of hybrid machines.
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.HybridCompute/machines/?api-version=2022-12-27:
    get:
      tags:
        - machines
      operationId: Machines_ListBySubscription
      description: Lists all the hybrid machines in the specified subscription. Use the nextLink property in the response to get the next page of hybrid machines.
      parameters:
[...]
