openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  title: Azure Resource Graph
  description: Azure Resource Graph API Reference
  version: '2021-03-01'
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    QueryRequest:
      description: Describes a query to be executed.
      type: object
      properties:
        subscriptions:
          description: Azure subscriptions against which to execute the query.
          type: array
          items:
            type: string
            description: Subscription Id.
        managementGroups:
          description: 'Azure management groups against which to execute the query. Example: [ ''mg1'', ''mg2'' ]'
          type: array
          items:
            type: string
            description: The name of Management group.
        query:
          description: The resources query.
          type: string
        options:
          description: The query evaluation options
          $ref: '#/components/schemas/QueryRequestOptions'
        facets:
          description: An array of facet requests to be computed against the query result.
          type: array
          items:
            $ref: '#/components/schemas/FacetRequest'
      required:
        - query
    QueryRequestOptions:
      description: The options for query evaluation
      properties:
        $skipToken:
          description: Continuation token for pagination, capturing the next page size and offset, as well as the context of the query.
          type: string
        $top:
          description: The maximum number of rows that the query should return. Overrides the page size when ```$skipToken``` property is present.
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
        $skip:
          description: The number of rows to skip from the beginning of the results. Overrides the next page offset when ```$skipToken``` property is present.
          type: integer
          format: int32
          minimum: 0
        resultFormat:
          description: Defines in which format query result returned.
          type: string
          enum:
            - table
            - objectArray
          default: objectArray
          x-ms-enum:
            name: ResultFormat
            modelAsString: false
        allowPartialScopes:
          description: Only applicable for tenant and management group level queries to decide whether to allow partial scopes for result in case the number of subscriptions exceed allowed limits.
          type: boolean
          default: false
    FacetRequest:
      description: A request to compute additional statistics (facets) over the query results.
      type: object
      properties:
        expression:
          description: The column or list of columns to summarize by
          type: string
        options:
          description: The options for facet evaluation
          $ref: '#/components/schemas/FacetRequestOptions'
      required:
        - expression
    FacetRequestOptions:
      description: The options for facet evaluation
      properties:
        sortBy:
          description: The column name or query expression to sort on. Defaults to count if not present.
          type: string
        sortOrder:
          description: The sorting order by the selected column (count by default).
          type: string
          default: desc
          enum:
            - asc
            - desc
          x-ms-enum:
            name: FacetSortOrder
            modelAsString: false
        filter:
          description: Specifies the filter condition for the 'where' clause which will be run on main query's result, just before the actual faceting.
          type: string
        $top:
          description: The maximum number of facet rows that should be returned.
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
    QueryResponse:
      description: Query result.
      type: object
      properties:
        totalRecords:
          description: Number of total records matching the query.
          type: integer
          format: int64
        count:
          description: Number of records returned in the current response. In the case of paging, this is the number of records in the current page.
          type: integer
          format: int64
        resultTruncated:
          description: Indicates whether the query results are truncated.
          type: string
          enum:
            - 'true'
            - 'false'
          x-ms-enum:
            name: ResultTruncated
            modelAsString: false
        $skipToken:
          description: When present, the value can be passed to a subsequent query call (together with the same query and scopes used in the current request) to retrieve the next page of data.
          type: string
        data:
          description: Query output in JObject array or Table format.
          type: object
        facets:
          description: Query facets.
          type: array
          items:
            $ref: '#/components/schemas/Facet'
      required:
        - totalRecords
        - count
        - resultTruncated
        - data
    Table:
      description: Query output in tabular format.
      type: object
      properties:
        columns:
          description: Query result column descriptors.
          type: array
          items:
            $ref: '#/components/schemas/Column'
            description: Column descriptor.
        rows:
          description: Query result rows.
          type: array
          items:
            $ref: '#/components/schemas/Row'
            description: Query result row.
      required:
        - columns
        - rows
    Column:
      description: Query result column descriptor.
      type: object
      properties:
        name:
          description: Column name.
          type: string
        type:
          description: Column data type.
          $ref: '#/components/schemas/ColumnDataType'
      required:
        - name
        - type
    ColumnDataType:
      description: Data type of a column in a table.
      type: string
      enum:
        - string
        - integer
        - number
        - boolean
        - object
      x-ms-enum:
        name: ColumnDataType
        modelAsString: false
    Row:
      description: Query result row.
      type: array
      items:
        type: object
        description: Cell value.
    Facet:
      description: A facet containing additional statistics on the response of a query. Can be either FacetResult or FacetError.
      type: object
      properties:
        expression:
          description: Facet expression, same as in the corresponding facet request.
          type: string
        resultType:
          description: Result type
          type: string
      required:
        - expression
        - resultType
      discriminator:
        propertyName: resultType
    FacetResult:
      x-ms-discriminator-value: FacetResult
      description: Successfully executed facet containing additional statistics on the response of a query.
      type: object
      properties:
        totalRecords:
          description: Number of total records in the facet results.
          type: integer
          format: int64
        count:
          description: Number of records returned in the facet response.
          type: integer
          format: int32
        data:
          description: A JObject array or Table containing the desired facets. Only present if the facet is valid.
          type: object
      required:
        - totalRecords
        - count
        - data
      allOf:
        - $ref: '#/components/schemas/Facet'
    FacetError:
      x-ms-discriminator-value: FacetError
      description: A facet whose execution resulted in an error.
      type: object
      properties:
        errors:
          description: An array containing detected facet errors with details.
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetails'
      required:
        - errors
      allOf:
        - $ref: '#/components/schemas/Facet'
    ErrorResponse:
      title: Error response.
      type: object
      description: An error response from the API.
      properties:
        error:
          $ref: '#/components/schemas/Error'
          description: Error information.
      required:
        - error
    Error:
      title: Error info.
      type: object
      description: Error details.
      properties:
        code:
          type: string
          description: Error code identifying the specific error.
        message:
          type: string
          description: A human readable error message.
        details:
          type: array
          description: Error details
          items:
            $ref: '#/components/schemas/ErrorDetails'
      required:
        - code
        - message
    ErrorDetails:
      title: Error details.
      type: object
      properties:
        code:
          type: string
          description: Error code identifying the specific error.
        message:
          type: string
          description: A human readable error message.
      additionalProperties:
        type: object
      required:
        - code
        - message
    OperationListResult:
      description: Result of the request to list Resource Graph operations. It contains a list of operations and a URL link to get the next set of results.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Operation'
          description: List of Resource Graph operations supported by the Resource Graph resource provider.
    Operation:
      description: Resource Graph REST API operation definition.
      properties:
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
        display:
          description: Display metadata associated with the operation.
          properties:
            provider:
              description: 'Service provider: Microsoft Resource Graph.'
              type: string
            resource:
              description: Resource on which the operation is performed etc.
              type: string
            operation:
              description: 'Type of operation: get, read, delete, etc.'
              type: string
            description:
              description: Description for the operation.
              type: string
        origin:
          type: string
          description: The origin of operations.
    Resource:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: Azure resource Id
        name:
          type: string
          readOnly: true
          description: Azure resource name. This is GUID value. The display name should be assigned within properties field.
        location:
          type: string
          readOnly: false
          description: The location of the resource
        type:
          type: string
          readOnly: true
          description: Azure resource type
        etag:
          type: string
          description: This will be used to handle Optimistic Concurrency. If not present, it will always overwrite the existing resource without checking conflict.
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      x-ms-azure-resource: true
      description: An azure resource object
    GraphQueryListResult:
      type: object
      properties:
        nextLink:
          description: URL to fetch the next set of queries.
          type: string
        value:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/GraphQueryResource'
          description: An array of graph queries.
      description: Graph query list result.
    GraphQueryResource:
      type: object
      description: Graph Query entity definition.
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          x-ms-client-flatten: true
          description: Metadata describing a graph query for an Azure resource.
          $ref: '#/components/schemas/GraphQueryProperties'
    GraphQueryProperties:
      type: object
      description: Properties that contain a graph query.
      required:
        - query
      properties:
        timeModified:
          type: string
          description: Date and time in UTC of the last modification that was made to this graph query definition.
          format: date-time
          readOnly: true
        description:
          type: string
          description: The description of a graph query.
        query:
          type: string
          description: KQL query that will be graph.
        resultKind:
          description: Enum indicating a type of graph query.
          readOnly: true
          type: string
          enum:
            - basic
          x-ms-enum:
            name: ResultKind
            modelAsString: true
    GraphQueryUpdateParameters:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        etag:
          type: string
          description: This will be used to handle Optimistic Concurrency. If not present, it will always overwrite the existing resource without checking conflict.
        properties:
          x-ms-client-flatten: true
          description: Metadata describing a graph query for an Azure resource.
          $ref: '#/components/schemas/GraphQueryPropertiesUpdateParameters'
      description: The parameters that can be provided when updating workbook properties properties.
    GraphQueryPropertiesUpdateParameters:
      type: object
      description: Properties that contain a workbook for PATCH operation.
      properties:
        description:
          type: string
          description: The description of a graph query.
        query:
          type: string
          description: KQL query that will be graph.
    ErrorFieldContract:
      type: object
      properties:
        code:
          type: string
          description: Property level error code.
        message:
          type: string
          description: Human-readable representation of property-level error.
        target:
          type: string
          description: Property name.
      description: Error Field contract.
    GraphQueryError:
      type: object
      properties:
        error:
          type: object
          description: The error object.
          properties:
            code:
              type: string
              description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
            message:
              type: string
              description: Human-readable representation of the error.
            details:
              type: array
              items:
                $ref: '#/components/schemas/ErrorFieldContract'
              description: The list of invalid fields send in request, in case of validation error.
      description: Error message body that will indicate why the operation failed.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The Azure subscription Id.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    GraphQueryResourceNameParameter:
      name: resourceName
      in: path
      description: The name of the Graph Query resource.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[^<>&:\?]*$
        type: string
paths:
  /providers/Microsoft.ResourceGraph/resources:
    x-api-version: '2021-03-01'
    post:
      tags:
        - Resources
      operationId: Resources
      description: Queries the resources managed by Azure Resource Manager for scopes specified in the request.
      externalDocs:
        description: Learn more about the query syntax here
        url: https://aka.ms/resource-graph/learntoquery
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: Request specifying query and its options.
        required: true
        x-ms-requestBody-name: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      responses:
        '200':
          description: Result of the query operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponse'
        default:
          description: An error occurred while processing the request. See the error.code parameter to identify the specific error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /providers/Microsoft.ResourceGraph/operations:
    x-api-version: '2021-03-01'
    get:
      tags:
        - Operations
      description: Lists all of the available REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
        default:
          description: An error occurred while processing the request. See the error.code parameter to identify the specific error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: null
  /subscriptions/{subscriptionId}/providers/Microsoft.ResourceGraph/queries:
    x-api-version: '2021-03-01'
    get:
      tags:
        - GraphQuery
      description: Get all graph queries defined within a specified subscription.
      operationId: GraphQuery_ListBySubscription
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: A list containing 0 or more graph queries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQueryListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQueryError'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceGraph/queries:
    x-api-version: '2021-03-01'
    get:
      tags:
        - GraphQuery
      description: Get all graph queries defined within a specified subscription and resource group.
      operationId: GraphQuery_List
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: A list containing 0 or more graph queries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQueryListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQueryError'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceGraph/queries/{resourceName}:
    x-api-version: '2021-03-01'
    get:
      tags:
        - GraphQuery
      description: Get a single graph query by its resourceName.
      operationId: GraphQuery_Get
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/GraphQueryResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: A graph query definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQueryResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQueryError'
    delete:
      tags:
        - GraphQuery
      description: Delete a graph query.
      operationId: GraphQuery_Delete
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/GraphQueryResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The graph query has been successfully deleted.
        '204':
          description: The resource doesn't exist.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQueryError'
    put:
      tags:
        - GraphQuery
      description: Create a new graph query.
      operationId: GraphQuery_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/GraphQueryResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: Properties that need to be specified to create a new graph query.
        required: true
        x-ms-requestBody-name: properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraphQueryResource'
      responses:
        '200':
          description: The newly created graph query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQueryResource'
        '201':
          description: The newly created graph query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQueryResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQueryError'
    patch:
      description: Updates a graph query that has already been added.
      operationId: GraphQuery_Update
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/GraphQueryResourceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: Properties that need to be specified to create a new graph query.
        required: true
        x-ms-requestBody-name: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraphQueryUpdateParameters'
      responses:
        '200':
          description: The graph query definition updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQueryResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQueryError'
