openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  version: '2020-05-01'
  title: BillingManagementClient
  description: Billing client provides access to billing resources for Azure subscriptions.
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    CustomerListResult:
      description: The list of customers.
      properties:
        value:
          description: The list of customers.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Customer'
        totalCount:
          description: Total number of records.
          type: number
          format: int32
          readOnly: true
        nextLink:
          description: The link (url) to the next page of results.
          type: string
          readOnly: true
    Customer:
      description: A partner's customer.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: The customer.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/CustomerProperties'
    CustomerProperties:
      description: The properties of a customer.
      properties:
        billingProfileId:
          description: The ID of the billing profile for the invoice section.
          type: string
          readOnly: true
        billingProfileDisplayName:
          description: The name of the billing profile for the invoice section.
          type: string
          readOnly: true
        displayName:
          description: The name of the customer.
          type: string
        enabledAzurePlans:
          description: Azure plans enabled for the customer.
          type: array
          items:
            $ref: '#/components/schemas/AzurePlan'
        resellers:
          description: The list of resellers for which an Azure plan is enabled for the customer.
          type: array
          items:
            $ref: '#/components/schemas/Reseller'
    ValidateAddressResponse:
      type: object
      description: Result of the address validation
      properties:
        status:
          description: status of the address validation.
          $ref: '#/components/schemas/AddressValidationStatus'
        suggestedAddresses:
          description: The list of suggested addresses.
          type: array
          items:
            $ref: '#/components/schemas/AddressDetails'
        validationMessage:
          description: Validation error message.
          type: string
    AddressValidationStatus:
      type: string
      description: Status of the address validation.
      enum:
        - Valid
        - Invalid
      x-ms-enum:
        name: addressValidationStatus
        modelAsString: true
    TransferProductRequestProperties:
      description: The properties of the product to initiate a transfer.
      properties:
        destinationInvoiceSectionId:
          type: string
          description: The destination invoice section id.
    TransferBillingSubscriptionRequestProperties:
      type: object
      description: Request parameters to transfer billing subscription.
      required:
        - destinationInvoiceSectionId
      properties:
        destinationInvoiceSectionId:
          type: string
          description: The destination invoice section id.
    ValidateSubscriptionTransferEligibilityResult:
      type: object
      description: Result of the transfer eligibility validation.
      properties:
        isMoveEligible:
          description: Specifies whether the subscription is eligible to be transferred.
          type: boolean
          readOnly: true
        errorDetails:
          description: Validation error details.
          $ref: '#/components/schemas/ValidateSubscriptionTransferEligibilityError'
    ValidateSubscriptionTransferEligibilityError:
      type: object
      description: Error details of the transfer eligibility validation
      properties:
        code:
          description: Error code for the product transfer validation.
          $ref: '#/components/schemas/SubscriptionTransferValidationErrorCode'
        message:
          description: The error message.
          type: string
        details:
          description: Detailed error message explaining the error.
          type: string
    SubscriptionTransferValidationErrorCode:
      type: string
      description: Error code of the transfer validation response.
      enum:
        - BillingAccountInactive
        - CrossBillingAccountNotAllowed
        - DestinationBillingProfileInactive
        - DestinationBillingProfileNotFound
        - DestinationBillingProfilePastDue
        - DestinationInvoiceSectionInactive
        - DestinationInvoiceSectionNotFound
        - InsufficientPermissionOnDestination
        - InsufficientPermissionOnSource
        - InvalidDestination
        - InvalidSource
        - MarketplaceNotEnabledOnDestination
        - NotAvailableForDestinationMarket
        - ProductInactive
        - ProductNotFound
        - ProductTypeNotSupported
        - SourceBillingProfilePastDue
        - SourceInvoiceSectionInactive
        - SubscriptionNotActive
        - SubscriptionTypeNotSupported
      x-ms-enum:
        name: subscriptionTransferValidationErrorCode
        modelAsString: true
    BillingAccountListResult:
      description: The list of billing accounts.
      properties:
        value:
          description: The list of billing accounts.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/BillingAccount'
        nextLink:
          description: The link (url) to the next page of results.
          type: string
          readOnly: true
    BillingAccount:
      description: A billing account.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: The properties of the billing account.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/BillingAccountProperties'
    BillingAccountProperties:
      description: The properties of the billing account.
      properties:
        displayName:
          description: The billing account name.
          type: string
        soldTo:
          description: The address of the individual or organization that is responsible for the billing account.
          $ref: '#/components/schemas/AddressDetails'
        agreementType:
          description: The type of agreement.
          type: string
          enum:
            - MicrosoftCustomerAgreement
            - EnterpriseAgreement
            - MicrosoftOnlineServicesProgram
            - MicrosoftPartnerAgreement
          readOnly: true
          x-ms-enum:
            name: AgreementType
            modelAsString: true
        accountType:
          description: The type of customer.
          type: string
          enum:
            - Enterprise
            - Individual
            - Partner
          readOnly: true
          x-ms-enum:
            name: AccountType
            modelAsString: true
        accountStatus:
          description: The current status of the billing account.
          type: string
          enum:
            - Active
            - Deleted
            - Disabled
            - Expired
            - Transferred
            - Extended
            - Terminated
          readOnly: true
          x-ms-enum:
            name: AccountStatus
            modelAsString: true
        billingProfiles:
          description: The billing profiles associated with the billing account. By default this is not populated, unless it's specified in $expand.
          $ref: '#/components/schemas/BillingProfilesOnExpand'
        enrollmentDetails:
          description: The details about the associated legacy enrollment. By default this is not populated, unless it's specified in $expand.
          $ref: '#/components/schemas/Enrollment'
          readOnly: true
        departments:
          description: The departments associated to the enrollment.
          type: array
          items:
            $ref: '#/components/schemas/Department'
        enrollmentAccounts:
          description: The accounts associated to the enrollment.
          type: array
          items:
            $ref: '#/components/schemas/EnrollmentAccount'
        hasReadAccess:
          description: Indicates whether user has read access to the billing account.
          type: boolean
          readOnly: true
        notificationEmailAddress:
          description: Notification email address, only for legacy accounts
          type: string
    BillingProfilesOnExpand:
      description: The billing profiles associated with the billing account. By default this is not populated, unless it's specified in $expand.
      properties:
        hasMoreResults:
          description: Indicates whether there are more billing profiles than the ones listed in this collection. The collection lists a maximum of 50 billing profiles. To get all billing profiles, use the list billing profiles API.
          type: boolean
          readOnly: true
        value:
          description: The billing profiles associated with the billing account.
          type: array
          items:
            $ref: '#/components/schemas/BillingProfile'
    BillingAccountUpdateRequest:
      description: The request properties of the billing account that can be updated.
      properties:
        properties:
          description: A billing property.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/BillingAccountProperties'
    BillingProperty:
      description: A billing property.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: A billing property.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/BillingPropertyProperties'
    BillingPropertyProperties:
      description: The billing property.
      properties:
        accountAdminNotificationEmailAddress:
          description: The email address on which the account admin gets all Azure notifications.
          type: string
          readOnly: true
        billingTenantId:
          description: The Azure AD tenant ID of the billing account for the subscription.
          type: string
          readOnly: true
        billingAccountId:
          description: The ID of the billing account to which the subscription is billed.
          type: string
          readOnly: true
        billingAccountDisplayName:
          description: The name of the billing account to which the subscription is billed.
          type: string
          readOnly: true
        billingProfileId:
          description: The ID of the billing profile to which the subscription is billed.
          type: string
          readOnly: true
        billingProfileDisplayName:
          description: The name of the billing profile to which the subscription is billed.
          type: string
          readOnly: true
        billingProfileStatus:
          description: The status of the billing profile.
          enum:
            - Active
            - Disabled
            - Warned
          type: string
          readOnly: true
          x-ms-enum:
            name: BillingProfileStatus
            modelAsString: true
        billingProfileStatusReasonCode:
          description: Reason for the specified billing profile status.
          enum:
            - PastDue
            - SpendingLimitReached
            - SpendingLimitExpired
          type: string
          readOnly: true
          x-ms-enum:
            name: BillingProfileStatusReasonCode
            modelAsString: true
        billingProfileSpendingLimit:
          description: The billing profile spending limit.
          enum:
            - 'Off'
            - 'On'
          type: string
          readOnly: true
          x-ms-enum:
            name: BillingProfileSpendingLimit
            modelAsString: true
        costCenter:
          description: The cost center applied to the subscription.
          type: string
        invoiceSectionId:
          description: The ID of the invoice section to which the subscription is billed.
          type: string
          readOnly: true
        invoiceSectionDisplayName:
          description: The name of the invoice section to which the subscription is billed.
          type: string
          readOnly: true
        isAccountAdmin:
          description: Indicates whether user is the account admin.
          type: boolean
          readOnly: true
        productId:
          description: The product ID of the Azure plan.
          type: string
          readOnly: true
        productName:
          description: The product name of the Azure plan.
          type: string
          readOnly: true
        skuId:
          description: The sku ID of the Azure plan for the subscription.
          type: string
          readOnly: true
        skuDescription:
          description: The sku description of the Azure plan for the subscription.
          type: string
          readOnly: true
    Enrollment:
      description: The properties of an enrollment.
      properties:
        startDate:
          description: The start date of the enrollment.
          type: string
          format: date-time
        endDate:
          description: The end date of the enrollment.
          type: string
          format: date-time
        currency:
          description: The billing currency for the enrollment.
          type: string
          readOnly: true
        channel:
          description: The channel type of the enrollment.
          type: string
          readOnly: true
        policies:
          description: The policies for Enterprise Agreement enrollments.
          $ref: '#/components/schemas/EnrollmentPolicies'
          readOnly: true
        language:
          description: The language for the enrollment.
          type: string
          readOnly: true
        countryCode:
          description: The country code of the enrollment.
          type: string
          readOnly: true
        status:
          description: The current status of the enrollment.
          type: string
          readOnly: true
        billingCycle:
          description: The billing cycle for the enrollment.
          type: string
          readOnly: true
    EnrollmentPolicies:
      description: The policies for Enterprise Agreement enrollments.
      properties:
        accountOwnerViewCharges:
          description: The policy that controls whether Account Owners can view charges.
          type: boolean
          readOnly: true
        departmentAdminViewCharges:
          description: The policy that controls whether Department Administrators can view charges.
          type: boolean
          readOnly: true
        marketplaceEnabled:
          description: The policy that controls whether Azure marketplace purchases are allowed in the enrollment.
          type: boolean
          readOnly: true
        reservedInstancesEnabled:
          description: The policy that controls whether Azure reservation purchases are allowed in the enrollment.
          type: boolean
          readOnly: true
    Department:
      description: A department.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: A department.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/DepartmentProperties'
    DepartmentProperties:
      description: The properties of a department.
      properties:
        departmentName:
          description: The name of the department.
          type: string
        costCenter:
          description: The cost center associated with the department.
          type: string
        status:
          description: The status of the department.
          type: string
        enrollmentAccounts:
          description: Associated enrollment accounts. By default this is not populated, unless it's specified in $expand.
          type: array
          items:
            $ref: '#/components/schemas/EnrollmentAccount'
    EnrollmentAccount:
      description: An enrollment account.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: The properties of an enrollment account.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/EnrollmentAccountProperties'
    EnrollmentAccountProperties:
      description: The properties of an enrollment account.
      properties:
        accountName:
          description: The name of the enrollment account.
          type: string
        costCenter:
          description: The cost center associated with the enrollment account.
          type: string
        accountOwner:
          description: The owner of the enrollment account.
          type: string
        accountOwnerEmail:
          description: The enrollment account owner email address.
          type: string
        status:
          description: The status of the enrollment account.
          type: string
        startDate:
          description: The start date of the enrollment account.
          type: string
          format: date-time
        endDate:
          description: The end date of the enrollment account.
          type: string
          format: date-time
        department:
          description: Associated department. By default this is not populated, unless it's specified in $expand.
          $ref: '#/components/schemas/Department'
    InstructionListResult:
      description: The list of billing instructions used during invoice generation.
      properties:
        value:
          description: The list of billing instructions used during invoice generation.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Instruction'
        nextLink:
          description: The link (url) to the next page of results.
          type: string
          readOnly: true
    BillingProfileListResult:
      description: The list of billing profiles.
      properties:
        value:
          description: The list of billing profiles.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/BillingProfile'
        totalCount:
          description: Total number of records.
          type: number
          format: int32
          readOnly: true
        nextLink:
          description: The link (url) to the next page of results.
          type: string
          readOnly: true
    BillingProfile:
      description: A billing profile.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: The properties of the billing profile.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/BillingProfileProperties'
    Instruction:
      description: An instruction.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: A billing instruction used during invoice generation.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/InstructionProperties'
    InstructionProperties:
      description: A billing instruction used during invoice generation.
      required:
        - amount
        - startDate
        - endDate
      properties:
        amount:
          description: The amount budgeted for this billing instruction.
          type: number
        startDate:
          description: The date this billing instruction goes into effect.
          type: string
          format: date-time
        endDate:
          description: The date this billing instruction is no longer in effect.
          type: string
          format: date-time
        creationDate:
          description: The date this billing instruction was created.
          type: string
          format: date-time
    BillingProfileCreationRequest:
      description: The request parameters for creating a new billing profile.
      properties:
        displayName:
          description: The name of the billing profile.
          type: string
        poNumber:
          description: The purchase order name that will appear on the invoices generated for the billing profile.
          type: string
        billTo:
          description: The address of the individual or organization that is responsible for the billing profile.
          $ref: '#/components/schemas/AddressDetails'
        invoiceEmailOptIn:
          description: Flag controlling whether the invoices for the billing profile are sent through email.
          type: boolean
        enabledAzurePlans:
          description: Enabled azure plans for the billing profile.
          type: array
          items:
            $ref: '#/components/schemas/AzurePlan'
    BillingProfileProperties:
      description: The properties of the billing profile.
      properties:
        displayName:
          description: The name of the billing profile.
          type: string
        poNumber:
          description: The purchase order name that will appear on the invoices generated for the billing profile.
          type: string
        billingRelationshipType:
          description: Identifies which services and purchases are paid by a billing profile.
          type: string
          enum:
            - Direct
            - IndirectCustomer
            - IndirectPartner
            - CSPPartner
          readOnly: true
          x-ms-enum:
            name: BillingRelationshipType
            modelAsString: true
        billTo:
          description: Billing address.
          $ref: '#/components/schemas/AddressDetails'
        indirectRelationshipInfo:
          description: Identifies the billing profile that is linked to another billing profile in indirect purchase motion.
          readOnly: true
          $ref: '#/components/schemas/IndirectRelationshipInfo'
        invoiceEmailOptIn:
          description: Flag controlling whether the invoices for the billing profile are sent through email.
          type: boolean
        invoiceDay:
          description: The day of the month when the invoice for the billing profile is generated.
          type: integer
          format: int32
          readOnly: true
        currency:
          description: The currency in which the charges for the billing profile are billed.
          type: string
          readOnly: true
        enabledAzurePlans:
          description: Information about the enabled azure plans.
          type: array
          items:
            $ref: '#/components/schemas/AzurePlan'
        invoiceSections:
          description: The invoice sections associated to the billing profile. By default this is not populated, unless it's specified in $expand.
          $ref: '#/components/schemas/InvoiceSectionsOnExpand'
        hasReadAccess:
          description: Indicates whether user has read access to the billing profile.
          type: boolean
          readOnly: true
        systemId:
          description: The system generated unique identifier for a billing profile.
          type: string
          readOnly: true
        status:
          description: The status of the billing profile.
          enum:
            - Active
            - Disabled
            - Warned
          type: string
          readOnly: true
          x-ms-enum:
            name: BillingProfileStatus
            modelAsString: true
        statusReasonCode:
          description: Reason for the specified billing profile status.
          enum:
            - PastDue
            - SpendingLimitReached
            - SpendingLimitExpired
          type: string
          readOnly: true
          x-ms-enum:
            name: StatusReasonCode
            modelAsString: true
        spendingLimit:
          description: The billing profile spending limit.
          enum:
            - 'Off'
            - 'On'
          type: string
          readOnly: true
          x-ms-enum:
            name: SpendingLimit
            modelAsString: true
        targetClouds:
          description: Identifies the cloud environments that are associated with a billing profile. This is a system managed optional field and gets updated as the billing profile gets associated with accounts in various clouds.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/TargetCloud'
        tags:
          description: Tags of billing profiles.
          type: object
          additionalProperties:
            type: string
          maxItems: 1000
    InvoiceSectionsOnExpand:
      description: The invoice sections associated to the billing profile. By default this is not populated, unless it's specified in $expand.
      properties:
        hasMoreResults:
          description: Indicates whether there are more invoice sections than the ones listed in this collection. The collection lists a maximum of 50 invoice sections. To get all invoice sections, use the list invoice sections API.
          type: boolean
          readOnly: true
        value:
          description: The invoice sections associated to the billing profile.
          type: array
          items:
            $ref: '#/components/schemas/InvoiceSection'
    AddressDetails:
      description: Address details.
      required:
        - addressLine1
        - country
      properties:
        firstName:
          description: First name.
          type: string
        middleName:
          description: Middle name.
          type: string
        lastName:
          description: Last name.
          type: string
        companyName:
          description: Company name.
          type: string
        addressLine1:
          description: Address line 1.
          type: string
        addressLine2:
          description: Address line 2.
          type: string
        addressLine3:
          description: Address line 3.
          type: string
        city:
          description: Address city.
          type: string
        district:
          description: Address district.
          type: string
        region:
          description: Address region.
          type: string
        country:
          description: Country code uses ISO2, 2-digit format.
          type: string
        postalCode:
          description: Postal code.
          type: string
        email:
          description: Email address.
          type: string
        phoneNumber:
          description: Phone number.
          type: string
    IndirectRelationshipInfo:
      description: The billing profile details of the partner of the customer for an indirect motion.
      properties:
        billingAccountName:
          description: The billing account name of the partner or the customer for an indirect motion.
          type: string
        billingProfileName:
          description: The billing profile name of the partner or the customer for an indirect motion.
          type: string
        displayName:
          description: The display name of the partner or customer for an indirect motion.
          type: string
    InvoiceSectionCreationRequest:
      description: The properties of the invoice section.
      properties:
        displayName:
          description: The name of the invoice section.
          type: string
    InvoiceSectionListResult:
      description: The list of invoice sections.
      properties:
        value:
          description: The list of invoice sections.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/InvoiceSection'
        totalCount:
          description: Total number of records.
          type: number
          format: int32
          readOnly: true
        nextLink:
          description: The link (url) to the next page of results.
          type: string
          readOnly: true
    InvoiceSection:
      description: An invoice section.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: The properties of an invoice section.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/InvoiceSectionProperties'
    InvoiceSectionProperties:
      description: The properties of an invoice section.
      properties:
        displayName:
          description: The name of the invoice section.
          type: string
        labels:
          type: object
          description: Dictionary of metadata associated with the invoice section.
          additionalProperties:
            type: string
          maxItems: 50
        state:
          description: Identifies the state of an invoice section.
          type: string
          enum:
            - Active
            - Restricted
          readOnly: true
          x-ms-enum:
            name: InvoiceSectionState
            modelAsString: true
        systemId:
          description: The system generated unique identifier for an invoice section.
          type: string
          readOnly: true
        tags:
          type: object
          description: Dictionary of metadata associated with the invoice section. Maximum key/value length supported of 256 characters. Keys/value should not empty value nor null. Keys can not contain < > % & \ ? /
          additionalProperties:
            type: string
          maxItems: 50
        targetCloud:
          description: Identifies the cloud environments that are associated with an invoice section. This is a system managed optional field and gets updated as the invoice section gets associated with accounts in various clouds.
          $ref: '#/components/schemas/TargetCloud'
          readOnly: true
    InvoiceSectionListWithCreateSubPermissionResult:
      type: object
      description: The list of invoice section properties with create subscription permission.
      properties:
        value:
          description: The list of invoice section properties with create subscription permission.
          type: array
          items:
            $ref: '#/components/schemas/InvoiceSectionWithCreateSubPermission'
        nextLink:
          description: The link (url) to the next page of results.
          type: string
          readOnly: true
    InvoiceSectionWithCreateSubPermission:
      description: Invoice section properties with create subscription permission.
      properties:
        invoiceSectionId:
          description: The ID of the invoice section.
          type: string
          readOnly: true
        invoiceSectionDisplayName:
          description: The name of the invoice section.
          type: string
          readOnly: true
        invoiceSectionSystemId:
          description: The system generated unique identifier for an invoice section.
          type: string
          readOnly: true
        billingProfileId:
          description: The ID of the billing profile for the invoice section.
          type: string
          readOnly: true
        billingProfileDisplayName:
          description: The name of the billing profile for the invoice section.
          type: string
          readOnly: true
        billingProfileStatus:
          description: The status of the billing profile.
          enum:
            - Active
            - Disabled
            - Warned
          type: string
          readOnly: true
          x-ms-enum:
            name: BillingProfileStatus
            modelAsString: true
        billingProfileStatusReasonCode:
          description: Reason for the specified billing profile status.
          enum:
            - PastDue
            - SpendingLimitReached
            - SpendingLimitExpired
          type: string
          readOnly: true
          x-ms-enum:
            name: StatusReasonCodeForBillingProfile
            modelAsString: true
        billingProfileSpendingLimit:
          description: The billing profile spending limit.
          enum:
            - 'Off'
            - 'On'
          readOnly: true
          type: string
          x-ms-enum:
            name: SpendingLimitForBillingProfile
            modelAsString: true
        billingProfileSystemId:
          description: The system generated unique identifier for a billing profile.
          type: string
          readOnly: true
        enabledAzurePlans:
          description: Enabled azure plans for the associated billing profile.
          type: array
          items:
            $ref: '#/components/schemas/AzurePlan'
    AzurePlan:
      description: Details of the Azure plan.
      properties:
        skuId:
          description: The sku id.
          type: string
        skuDescription:
          description: The sku description.
          type: string
          readOnly: true
    DownloadUrl:
      description: A secure URL that can be used to download a an entity until the URL expires.
      properties:
        expiryTime:
          description: The time in UTC when the download URL will expire.
          type: string
          format: date-time
          readOnly: true
        url:
          description: The URL to the PDF file.
          type: string
          readOnly: true
    ErrorDetails:
      description: The details of the error.
      properties:
        code:
          description: Error code.
          type: string
          readOnly: true
        message:
          description: Error message indicating why the operation failed.
          type: string
          readOnly: true
        target:
          description: The target of the particular error.
          type: string
          readOnly: true
        details:
          description: The sub details of the error.
          readOnly: true
          $ref: '#/components/schemas/ErrorSubDetails'
    ErrorResponse:
      description: Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.
      type: object
      properties:
        error:
          description: The details of the error.
          $ref: '#/components/schemas/ErrorDetails'
    ErrorSubDetails:
      type: array
      items:
        type: object
        properties:
          code:
            description: Error code.
            type: string
            readOnly: true
          message:
            description: Error message indicating why the operation failed.
            type: string
            readOnly: true
          target:
            description: The target of the particular error.
            type: string
            readOnly: true
    Reseller:
      description: Details of the reseller.
      properties:
        resellerId:
          description: The MPN ID of the reseller.
          type: string
          readOnly: true
        description:
          description: The name of the reseller.
          type: string
          readOnly: true
    Resource:
      description: The Resource model definition.
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
      x-ms-azure-resource: true
    InvoiceListResult:
      description: The list of invoices.
      properties:
        value:
          description: The list of invoices.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Invoice'
        nextLink:
          description: The link (url) to the next page of results.
          type: string
          readOnly: true
        totalCount:
          description: Total number of records.
          type: number
          format: int32
          readOnly: true
    Invoice:
      description: An invoice.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: An invoice.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/InvoiceProperties'
    InvoiceProperties:
      description: The properties of the invoice.
      properties:
        dueDate:
          description: The due date for the invoice.
          type: string
          format: date-time
          readOnly: true
        invoiceDate:
          description: The date when the invoice was generated.
          type: string
          format: date-time
          readOnly: true
        status:
          description: The current status of the invoice.
          type: string
          enum:
            - Due
            - OverDue
            - Paid
            - Void
          readOnly: true
          x-ms-enum:
            name: InvoiceStatus
            modelAsString: true
        amountDue:
          description: The amount due as of now.
          readOnly: true
          $ref: '#/components/schemas/Amount'
        azurePrepaymentApplied:
          readOnly: true
          description: The amount of Azure prepayment applied to the charges. This field is applicable to billing accounts with agreement type Microsoft Customer Agreement.
          $ref: '#/components/schemas/Amount'
        billedAmount:
          description: The total charges for the invoice billing period.
          readOnly: true
          $ref: '#/components/schemas/Amount'
        creditAmount:
          description: The total refund for returns and cancellations during the invoice billing period. This field is applicable to billing accounts with agreement type Microsoft Customer Agreement.
          readOnly: true
          $ref: '#/components/schemas/Amount'
        freeAzureCreditApplied:
          description: The amount of free Azure credits applied to the charges. This field is applicable to billing accounts with agreement type Microsoft Customer Agreement.
          readOnly: true
          $ref: '#/components/schemas/Amount'
        subTotal:
          description: The pre-tax amount due. This field is applicable to billing accounts with agreement type Microsoft Customer Agreement.
          readOnly: true
          $ref: '#/components/schemas/Amount'
        taxAmount:
          description: The amount of tax charged for the billing period. This field is applicable to billing accounts with agreement type Microsoft Customer Agreement.
          readOnly: true
          $ref: '#/components/schemas/Amount'
        totalAmount:
          description: The amount due when the invoice was generated. This field is applicable to billing accounts with agreement type Microsoft Customer Agreement.
          readOnly: true
          $ref: '#/components/schemas/Amount'
        invoicePeriodStartDate:
          description: The start date of the billing period for which the invoice is generated.
          type: string
          format: date-time
          readOnly: true
        invoicePeriodEndDate:
          description: The end date of the billing period for which the invoice is generated.
          type: string
          format: date-time
          readOnly: true
        invoiceType:
          description: Invoice type.
          enum:
            - AzureService
            - AzureMarketplace
            - AzureSupport
          type: string
          readOnly: true
          x-ms-enum:
            name: InvoiceType
            modelAsString: true
        isMonthlyInvoice:
          description: Specifies if the invoice is generated as part of monthly invoicing cycle or not. This field is applicable to billing accounts with agreement type Microsoft Customer Agreement.
          type: boolean
          readOnly: true
        billingProfileId:
          description: The ID of the billing profile for which the invoice is generated.
          type: string
          readOnly: true
        billingProfileDisplayName:
          description: The name of the billing profile for which the invoice is generated.
          type: string
          readOnly: true
        purchaseOrderNumber:
          description: An optional purchase order number for the invoice.
          type: string
          readOnly: true
        documents:
          description: List of documents available to download such as invoice and tax receipt.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Document'
        payments:
          description: List of payments.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/PaymentProperties'
        rebillDetails:
          description: Rebill details for an invoice.
          type: object
          readOnly: true
          additionalProperties:
            type: object
            $ref: '#/components/schemas/RebillDetails'
        documentType:
          description: The type of the document.
          type: string
          enum:
            - Invoice
            - CreditNote
          readOnly: true
          x-ms-enum:
            name: InvoiceDocumentType
            modelAsString: true
        billedDocumentId:
          description: The Id of the active invoice which is originally billed after this invoice was voided. This field is applicable to the void invoices only.
          type: string
          readOnly: true
        creditForDocumentId:
          description: The Id of the invoice which got voided and this credit note was issued as a result. This field is applicable to the credit notes only.
          type: string
          readOnly: true
        subscriptionId:
          description: The ID of the subscription for which the invoice is generated.
          type: string
          readOnly: true
    PaymentProperties:
      description: The properties of a payment.
      properties:
        paymentType:
          description: The type of payment.
          type: string
          readOnly: true
        amount:
          description: The paid amount.
          readOnly: true
          $ref: '#/components/schemas/Amount'
        date:
          description: The date when the payment was made.
          type: string
          format: date-time
          readOnly: true
        paymentMethodFamily:
          description: The family of payment method.
          type: string
          enum:
            - Credits
            - CheckWire
            - CreditCard
            - None
          x-ms-enum:
            name: PaymentMethodFamily
            modelAsString: true
        paymentMethodType:
          description: The type of payment method.
          type: string
          readOnly: true
    RebillDetails:
      description: The rebill details of an invoice.
      properties:
        creditNoteDocumentId:
          description: The ID of credit note.
          type: string
          readOnly: true
        invoiceDocumentId:
          description: The ID of invoice.
          type: string
          readOnly: true
        rebillDetails:
          description: Rebill details for an invoice.
          type: object
          readOnly: true
          additionalProperties:
            type: object
            $ref: '#/components/schemas/RebillDetails'
    Document:
      description: The properties of a document.
      properties:
        kind:
          description: The type of the document.
          type: string
          enum:
            - Invoice
            - VoidNote
            - TaxReceipt
            - CreditNote
          readOnly: true
          x-ms-enum:
            name: DocumentType
            modelAsString: true
        url:
          description: Document URL.
          type: string
          readOnly: true
        source:
          description: The source of the document. ENF for Brazil and DRS for rest of the world.
          type: string
          enum:
            - DRS
            - ENF
          readOnly: true
          x-ms-enum:
            name: DocumentSource
            modelAsString: true
    ProductsListResult:
      description: The list of products. It contains a list of available product summaries in reverse chronological order by purchase date.
      properties:
        value:
          description: The list of products.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Product'
        totalCount:
          description: Total number of records.
          type: number
          format: int32
          readOnly: true
        nextLink:
          description: The link (url) to the next page of results.
          type: string
          readOnly: true
    Product:
      description: A product.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ProductProperties'
          title: Product properties
    ProductProperties:
      description: The properties of a product.
      properties:
        autoRenew:
          description: Indicates whether auto renewal is turned on or off for a product.
          type: string
          enum:
            - 'Off'
            - 'On'
          x-ms-enum:
            name: AutoRenew
            modelAsString: true
        displayName:
          description: The display name of the product.
          type: string
          readOnly: true
        purchaseDate:
          description: The date when the product was purchased.
          type: string
          format: date-time
          readOnly: true
        productTypeId:
          description: The ID of the type of product.
          type: string
          readOnly: true
        productType:
          description: The description of the type of product.
          type: string
          readOnly: true
        status:
          description: The current status of the product.
          type: string
          enum:
            - Active
            - Inactive
            - PastDue
            - Expiring
            - Expired
            - Disabled
            - Cancelled
            - AutoRenew
          x-ms-enum:
            name: ProductStatusType
            modelAsString: true
        endDate:
          description: The date when the product will be renewed or canceled.
          type: string
          format: date-time
          readOnly: true
        billingFrequency:
          description: The frequency at which the product will be billed.
          type: string
          enum:
            - OneTime
            - Monthly
            - UsageBased
          x-ms-enum:
            name: BillingFrequency
            modelAsString: true
        lastCharge:
          description: The last month charges.
          readOnly: true
          $ref: '#/components/schemas/Amount'
        lastChargeDate:
          description: The date of the last charge.
          type: string
          format: date-time
          readOnly: true
        quantity:
          description: The quantity purchased for the product.
          type: number
          readOnly: true
        skuId:
          description: The sku ID of the product.
          type: string
          readOnly: true
        skuDescription:
          description: The sku description of the product.
          type: string
          readOnly: true
        tenantId:
          description: The id of the tenant in which the product is used.
          type: string
          readOnly: true
        availabilityId:
          description: The availability of the product.
          type: string
          readOnly: true
        invoiceSectionId:
          description: The ID of the invoice section to which the product is billed.
          type: string
          readOnly: true
        invoiceSectionDisplayName:
          description: The name of the invoice section to which the product is billed.
          type: string
          readOnly: true
        billingProfileId:
          description: The ID of the billing profile to which the product is billed.
          type: string
          readOnly: true
        billingProfileDisplayName:
          description: The name of the billing profile to which the product is billed.
          type: string
          readOnly: true
        customerId:
          description: The ID of the customer for whom the product was purchased. The field is applicable only for Microsoft Partner Agreement billing account.
          type: string
          readOnly: true
        customerDisplayName:
          description: The name of the customer for whom the product was purchased. The field is applicable only for Microsoft Partner Agreement billing account.
          type: string
          readOnly: true
        reseller:
          description: Reseller for this product.
          readOnly: true
          $ref: '#/components/schemas/Reseller'
    ValidateProductTransferEligibilityResult:
      type: object
      description: Result of the product transfer eligibility validation.
      properties:
        isMoveEligible:
          description: Specifies whether the transfer is eligible or not.
          type: boolean
          readOnly: true
        errorDetails:
          description: Validation error details.
          $ref: '#/components/schemas/ValidateProductTransferEligibilityError'
    ValidateProductTransferEligibilityError:
      type: object
      description: Error details of the product transfer eligibility validation.
      properties:
        code:
          description: Error code for the product transfer validation.
          $ref: '#/components/schemas/ProductTransferValidationErrorCode'
        message:
          description: The error message.
          type: string
        details:
          description: Detailed error message explaining the error.
          type: string
    ProductTransferValidationErrorCode:
      type: string
      description: Error code of the transfer validation response.
      enum:
        - InvalidSource
        - ProductNotActive
        - InsufficientPermissionOnSource
        - InsufficientPermissionOnDestination
        - DestinationBillingProfilePastDue
        - ProductTypeNotSupported
        - CrossBillingAccountNotAllowed
        - NotAvailableForDestinationMarket
        - OneTimePurchaseProductTransferNotAllowed
      x-ms-enum:
        name: ProductTransferValidationErrorCode
        modelAsString: true
    BillingSubscriptionsListResult:
      description: The list of billing subscriptions.
      properties:
        value:
          description: The list of billing subscriptions.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/BillingSubscription'
        totalCount:
          description: Total number of records.
          type: number
          format: int32
          readOnly: true
        nextLink:
          description: The link (url) to the next page of results.
          type: string
          readOnly: true
    BillingSubscription:
      description: A billing subscription.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/BillingSubscriptionProperties'
          title: Billing subscription properties
    BillingSubscriptionProperties:
      description: The billing properties of a subscription.
      properties:
        displayName:
          description: The name of the subscription.
          type: string
          readOnly: true
        subscriptionId:
          description: The ID of the subscription.
          type: string
          format: uuid
          readOnly: true
        subscriptionBillingStatus:
          description: The current billing status of the subscription.
          type: string
          enum:
            - Active
            - Inactive
            - Abandoned
            - Deleted
            - Warning
          x-ms-enum:
            name: BillingSubscriptionStatusType
            modelAsString: true
        lastMonthCharges:
          description: The last month charges.
          readOnly: true
          $ref: '#/components/schemas/Amount'
        monthToDateCharges:
          description: The current month to date charges.
          readOnly: true
          $ref: '#/components/schemas/Amount'
        billingProfileId:
          description: The ID of the billing profile to which the subscription is billed.
          type: string
          readOnly: true
        billingProfileDisplayName:
          description: The name of the billing profile to which the subscription is billed.
          type: string
          readOnly: true
        costCenter:
          description: The cost center applied to the subscription.
          type: string
        customerId:
          description: The ID of the customer for whom the subscription was created. The field is applicable only for Microsoft Partner Agreement billing account.
          type: string
          readOnly: true
        customerDisplayName:
          description: The name of the customer for whom the subscription was created. The field is applicable only for Microsoft Partner Agreement billing account.
          type: string
          readOnly: true
        invoiceSectionId:
          description: The ID of the invoice section to which the subscription is billed.
          type: string
          readOnly: true
        invoiceSectionDisplayName:
          description: The name of the invoice section to which the subscription is billed.
          type: string
          readOnly: true
        reseller:
          description: Reseller for this subscription.
          readOnly: true
          $ref: '#/components/schemas/Reseller'
        skuId:
          description: The sku ID of the Azure plan for the subscription.
          type: string
        skuDescription:
          description: The sku description of the Azure plan for the subscription.
          type: string
          readOnly: true
        suspensionReasons:
          description: The suspension reason for a subscription. Applies only to subscriptions in Microsoft Online Services Program billing accounts.
          type: array
          readOnly: true
          items:
            type: string
    EnrollmentAccountContext:
      description: The enrollment account context
      properties:
        costCenter:
          description: The cost center associated with the enrollment account.
          type: string
        startDate:
          description: The start date of the enrollment account.
          type: string
          format: date-time
        endDate:
          description: The end date of the enrollment account.
          type: string
          format: date-time
        enrollmentAccountName:
          description: The ID of the enrollment account.
          type: string
    TargetCloud:
      type: string
      description: Possible cloud environments.
      enum:
        - USGov
        - USNat
        - USSec
      x-ms-enum:
        name: targetCloud
        modelAsString: true
    TransactionListResult:
      description: The list of transactions.
      properties:
        value:
          description: The list of transactions.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Transaction'
        totalCount:
          description: Total number of records.
          type: number
          format: int32
          readOnly: true
        nextLink:
          description: The link (url) to the next page of results.
          type: string
          readOnly: true
    Transaction:
      description: A transaction.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/TransactionProperties'
          title: Transaction properties
    TransactionProperties:
      description: The properties of a transaction.
      properties:
        kind:
          type: string
          description: The kind of transaction. Options are all or reservation.
          enum:
            - all
            - reservation
          x-ms-enum:
            name: TransactionTypeKind
            modelAsString: true
        date:
          description: The date of transaction.
          type: string
          format: date-time
          readOnly: true
        invoice:
          description: Invoice on which the transaction was billed or 'pending' if the transaction is not billed.
          type: string
          readOnly: true
        invoiceId:
          description: The ID of the invoice on which the transaction was billed. This field is only applicable for transactions which are billed.
          type: string
          readOnly: true
        orderId:
          description: The order ID of the reservation. The field is only applicable for transaction of kind reservation.
          type: string
          readOnly: true
        orderName:
          description: The name of the reservation order. The field is only applicable for transactions of kind reservation.
          type: string
          readOnly: true
        productFamily:
          description: The family of the product for which the transaction took place.
          type: string
          readOnly: true
        productTypeId:
          description: The ID of the product type for which the transaction took place.
          type: string
          readOnly: true
        productType:
          description: The type of the product for which the transaction took place.
          type: string
          readOnly: true
        productDescription:
          description: The description of the product for which the transaction took place.
          type: string
          readOnly: true
        transactionType:
          description: The type of transaction.
          type: string
          enum:
            - Purchase
            - Usage Charge
          x-ms-enum:
            name: ReservationType
            modelAsString: true
        transactionAmount:
          description: The charge associated with the transaction.
          readOnly: true
          $ref: '#/components/schemas/Amount'
        quantity:
          description: The quantity purchased in the transaction.
          type: integer
          format: int32
          readOnly: true
        invoiceSectionId:
          description: The ID of the invoice section which will be billed for the transaction.
          type: string
          readOnly: true
        invoiceSectionDisplayName:
          description: The name of the invoice section which will be billed for the transaction.
          type: string
          readOnly: true
        billingProfileId:
          description: The ID of the billing profile which will be billed for the transaction.
          type: string
          readOnly: true
        billingProfileDisplayName:
          description: The name of the billing profile which will be billed for the transaction.
          type: string
          readOnly: true
        customerId:
          description: The ID of the customer for which the transaction took place. The field is applicable only for Microsoft Partner Agreement billing account.
          type: string
          readOnly: true
        customerDisplayName:
          description: The name of the customer for which the transaction took place. The field is applicable only for Microsoft Partner Agreement billing account.
          type: string
          readOnly: true
        subscriptionId:
          description: The ID of the subscription that was used for the transaction. The field is only applicable for transaction of kind reservation.
          type: string
          readOnly: true
        subscriptionName:
          description: The name of the subscription that was used for the transaction. The field is only applicable for transaction of kind reservation.
          type: string
          readOnly: true
        azurePlan:
          description: The type of azure plan of the subscription that was used for the transaction.
          type: string
          readOnly: true
        azureCreditApplied:
          description: The amount of any Azure credits automatically applied to this transaction.
          readOnly: true
          $ref: '#/components/schemas/Amount'
        billingCurrency:
          description: The ISO 4217 code for the currency in which this transaction is billed.
          type: string
          readOnly: true
        discount:
          description: The percentage discount, if any, applied to this transaction.
          type: number
          readOnly: true
        effectivePrice:
          description: The price of the product after applying any discounts.
          readOnly: true
          $ref: '#/components/schemas/Amount'
        exchangeRate:
          description: The exchange rate used to convert charged amount to billing currency, if applicable.
          type: number
          readOnly: true
        marketPrice:
          description: The retail price of the product.
          readOnly: true
          $ref: '#/components/schemas/Amount'
        pricingCurrency:
          description: The ISO 4217 code for the currency in which the product is priced.
          type: string
          readOnly: true
        servicePeriodStartDate:
          description: The date of the purchase of the product, or the start date of the month in which usage started.
          type: string
          format: date-time
          readOnly: true
        servicePeriodEndDate:
          description: The end date of the product term, or the end date of the month in which usage ended.
          type: string
          format: date-time
          readOnly: true
        subTotal:
          description: The pre-tax charged amount for the transaction.
          readOnly: true
          $ref: '#/components/schemas/Amount'
        tax:
          description: The tax amount applied to the transaction.
          readOnly: true
          $ref: '#/components/schemas/Amount'
        unitOfMeasure:
          description: The unit of measure used to bill for the product. For example, compute services are billed per hour.
          type: string
          readOnly: true
        units:
          description: The number of units used for a given product.
          type: number
          readOnly: true
        unitType:
          description: The description for the unit of measure for a given product.
          type: string
          readOnly: true
    Policy:
      description: A policy.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PolicyProperties'
          title: Policy properties
    PolicyProperties:
      description: The properties of a policy.
      properties:
        marketplacePurchases:
          description: The policy that controls whether Azure marketplace purchases are allowed for a billing profile.
          type: string
          enum:
            - AllAllowed
            - OnlyFreeAllowed
            - NotAllowed
          x-ms-enum:
            name: MarketplacePurchasesPolicy
            modelAsString: true
        reservationPurchases:
          description: The policy that controls whether Azure reservation purchases are allowed for a billing profile.
          type: string
          enum:
            - Allowed
            - NotAllowed
          x-ms-enum:
            name: ReservationPurchasesPolicy
            modelAsString: true
        viewCharges:
          description: The policy that controls whether users with Azure RBAC access to a subscription can view its charges.
          type: string
          enum:
            - Allowed
            - NotAllowed
          x-ms-enum:
            name: ViewChargesPolicy
            modelAsString: true
    CustomerPolicy:
      description: The customer's Policy.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/CustomerPolicyProperties'
          title: Customer Policy properties
    CustomerPolicyProperties:
      description: The properties of a customer's policy.
      properties:
        viewCharges:
          description: The policy that controls whether the users in customer's organization can view charges at pay-as-you-go prices.
          type: string
          enum:
            - Allowed
            - NotAllowed
          x-ms-enum:
            name: ViewCharges
            modelAsString: true
    AvailableBalance:
      description: The latest Azure credit balance. This is the balance available for pay now.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AvailableBalanceProperties'
          title: Available balance properties
    AvailableBalanceProperties:
      description: The properties of available balance.
      properties:
        amount:
          description: Balance amount.
          readOnly: true
          $ref: '#/components/schemas/Amount'
    Amount:
      description: The amount.
      properties:
        currency:
          description: The currency for the amount value.
          type: string
          readOnly: true
        value:
          description: Amount value.
          type: number
    BillingRoleAssignmentListResult:
      description: The list of role assignments.
      properties:
        value:
          description: The list of role assignments.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/BillingRoleAssignment'
        nextLink:
          description: The link (url) to the next page of results.
          type: string
          readOnly: true
    BillingRoleAssignment:
      description: The role assignment
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: The properties of the role assignment.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/BillingRoleAssignmentProperties'
    BillingRoleAssignmentProperties:
      description: The properties of the role assignment.
      properties:
        createdOn:
          description: The date the role assignment was created.
          type: string
          readOnly: true
        createdByPrincipalTenantId:
          description: The tenant Id of the user who created the role assignment.
          type: string
          readOnly: true
        createdByPrincipalId:
          description: The principal Id of the user who created the role assignment.
          type: string
          readOnly: true
        createdByUserEmailAddress:
          description: The email address of the user who created the role assignment.
          type: string
          readOnly: true
        principalId:
          description: The principal id of the user to whom the role was assigned.
          type: string
        principalTenantId:
          description: The principal tenant id of the user to whom the role was assigned.
          type: string
        roleDefinitionId:
          description: The ID of the role definition.
          type: string
        scope:
          description: The scope at which the role was assigned.
          type: string
          readOnly: true
        userAuthenticationType:
          description: The authentication type.
          type: string
        userEmailAddress:
          description: The email address of the user.
          type: string
    BillingRoleDefinitionListResult:
      description: The list of role definitions.
      properties:
        value:
          description: The role definitions.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/BillingRoleDefinition'
        nextLink:
          description: The link (url) to the next page of results.
          type: string
          readOnly: true
    BillingRoleDefinition:
      description: The properties of a role definition.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: The properties of the a role definition.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/BillingRoleDefinitionProperties'
    BillingRoleDefinitionProperties:
      description: The properties of the a role definition.
      properties:
        description:
          description: The role description
          type: string
          readOnly: true
        permissions:
          description: The billingPermissions the role has
          type: array
          items:
            $ref: '#/components/schemas/BillingPermissionsProperties'
        roleName:
          description: The name of the role
          type: string
          readOnly: true
    BillingPermissionsListResult:
      description: Result of list billingPermissions a caller has on a billing account.
      properties:
        value:
          description: The list of billingPermissions a caller has on a billing account.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/BillingPermissionsProperties'
        nextLink:
          description: The link (url) to the next page of results.
          type: string
          readOnly: true
    BillingPermissionsProperties:
      description: The set of allowed action and not allowed actions a caller has on a billing account
      type: object
      properties:
        actions:
          description: The set of actions that the caller is allowed to perform.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Action'
        notActions:
          description: The set of actions that the caller is not allowed to perform.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/NotAction'
    AgreementListResult:
      description: Result of listing agreements.
      properties:
        value:
          description: The list of agreements.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Agreement'
        nextLink:
          description: The link (url) to the next page of results.
          type: string
          readOnly: true
    Agreement:
      description: An agreement.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: The properties of an agreement.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AgreementProperties'
    AgreementProperties:
      description: The properties of an agreement.
      properties:
        agreementLink:
          description: The URL to download the agreement.
          type: string
          readOnly: true
        category:
          type: string
          description: The category of the agreement signed by a customer.
          readOnly: true
          enum:
            - MicrosoftCustomerAgreement
            - AffiliatePurchaseTerms
            - Other
          x-ms-enum:
            name: category
            modelAsString: true
        acceptanceMode:
          type: string
          description: The mode of acceptance for an agreement.
          readOnly: true
          enum:
            - Other
            - ClickToAccept
            - ESignEmbedded
            - ESignOffline
            - PhysicalSign
            - Offline
            - Implicit
          x-ms-enum:
            name: acceptanceMode
            modelAsString: true
        billingProfileInfo:
          description: The list of billing profiles associated with agreement and present only for specific agreements.
          readOnly: true
          $ref: '#/components/schemas/BillingProfileInfo'
        effectiveDate:
          description: The date from which the agreement is effective.
          type: string
          format: date-time
          readOnly: true
        expirationDate:
          description: The date when the agreement expires.
          type: string
          format: date-time
          readOnly: true
        participants:
          description: The list of participants that participates in acceptance of an agreement.
          type: array
          items:
            $ref: '#/components/schemas/Participants'
        status:
          description: The current status of the agreement.
          type: string
          readOnly: true
    BillingProfileInfo:
      description: Details about billing profile associated with agreement and available only for specific agreements.
      type: object
      properties:
        billingProfileId:
          description: The unique identifier for the billing profile.
          type: string
        billingProfileDisplayName:
          description: The name of the billing profile
          type: string
        indirectRelationshipOrganizationName:
          description: Billing account name. This property is available for a specific type of agreement.
          type: string
    Participants:
      description: The details about a participant.
      properties:
        status:
          description: The acceptance status of the participant.
          type: string
          readOnly: true
        statusDate:
          description: The date when the status got changed.
          type: string
          format: date-time
          readOnly: true
        email:
          description: The email address of the participant.
          type: string
          readOnly: true
    Action:
      description: The action the caller is allowed to perform.
      type: string
      readOnly: true
    NotAction:
      description: The set of actions that the caller is not allowed to perform.
      type: string
      readOnly: true
    ReservationsListResult:
      description: The list of reservations and summary of roll out count of reservations in each state.
      properties:
        value:
          description: The list of reservations.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Reservation'
        nextLink:
          description: The link (url) to the next page of results.
          type: string
          readOnly: true
        summary:
          description: The roll out count summary of the reservations
          type: object
          $ref: '#/components/schemas/ReservationSummary'
    Reservation:
      description: The definition of the reservation.
      properties:
        id:
          description: The id of the reservation.
          type: string
          readOnly: true
        name:
          description: The name of the reservation.
          type: string
          readOnly: true
        type:
          description: The type of the reservation.
          type: string
          readOnly: true
        location:
          description: The location of the reservation.
          type: string
          readOnly: true
        sku:
          description: 'The sku information associated to this reservation '
          type: object
          $ref: '#/components/schemas/ReservationSkuProperty'
        properties:
          description: 'The properties associated to this reservation '
          type: object
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ReservationProperty'
    ReservationSkuProperty:
      description: The property of reservation sku object.
      properties:
        name:
          description: The name of the reservation sku.
          type: string
          readOnly: true
    ReservationProperty:
      description: The property of reservation object.
      properties:
        appliedScopes:
          description: The array of applied scopes of a reservation. Will be null if the reservation is in Shared scope
          type: array
          items:
            $ref: '#/components/schemas/ReservationAppliedScope'
        appliedScopeType:
          description: The applied scope type of the reservation.
          type: string
          readOnly: true
        reservedResourceType:
          description: The reserved source type of the reservation, e.g. virtual machine.
          type: string
          readOnly: true
        quantity:
          description: The number of the reservation.
          type: number
          readOnly: true
        provisioningState:
          description: The provisioning state of the reservation, e.g. Succeeded
          type: string
          readOnly: true
        expiryDate:
          description: The expiry date of the reservation
          type: string
          readOnly: true
        provisioningSubState:
          description: The provisioning state of the reservation, e.g. Succeeded
          type: string
          readOnly: true
        displayName:
          description: The display name of the reservation
          type: string
          readOnly: true
        displayProvisioningState:
          description: The provisioning state of the reservation for display, e.g. Succeeded
          type: string
          readOnly: true
        userFriendlyRenewState:
          description: The renew state of the reservation for display, e.g. On
          type: string
          readOnly: true
        userFriendlyAppliedScopeType:
          description: The applied scope type of the reservation for display, e.g. Shared
          type: string
          readOnly: true
        effectiveDateTime:
          description: The effective date time of the reservation
          type: string
          readOnly: true
        skuDescription:
          description: The sku description of the reservation
          type: string
          readOnly: true
        term:
          description: The term of the reservation, e.g. P1Y
          type: string
          readOnly: true
        renew:
          description: The renew state of the reservation
          type: boolean
          readOnly: true
        renewSource:
          description: The renew source of the reservation
          type: string
          readOnly: true
        utilization:
          readOnly: true
          type: object
          description: Reservation utilization
          properties:
            trend:
              description: The number of days trend for a reservation
              readOnly: true
              type: string
            aggregates:
              description: The array of aggregates of a reservation's utilization
              type: array
              items:
                $ref: '#/components/schemas/ReservationUtilizationAggregates'
    ReservationAppliedScope:
      readOnly: true
      type: string
      description: Reservation applied scope
    ReservationUtilizationAggregates:
      description: The aggregate values of reservation utilization
      type: object
      properties:
        grain:
          description: The grain of the aggregate
          readOnly: true
          type: number
        grainUnit:
          description: The grain unit of the aggregate
          readOnly: true
          type: string
        value:
          description: The aggregate value
          readOnly: true
          type: number
        valueUnit:
          description: The aggregate value unit
          readOnly: true
          type: string
    ReservationSummary:
      description: The roll up count summary of reservations in each state
      type: object
      properties:
        succeededCount:
          description: The number of reservation in Succeeded state
          readOnly: true
          type: number
        failedCount:
          description: The number of reservation in Failed state
          readOnly: true
          type: number
        expiringCount:
          description: The number of reservation in Expiring state
          readOnly: true
          type: number
        expiredCount:
          description: The number of reservation in Expired state
          readOnly: true
          type: number
        pendingCount:
          description: The number of reservation in Pending state
          readOnly: true
          type: number
        cancelledCount:
          description: The number of reservation in Cancelled state
          readOnly: true
          type: number
    OperationListResult:
      description: The list of billing operations and a URL link to get the next set of results.
      type: object
      properties:
        value:
          description: The list of billing operations supported by the Microsoft.Billing resource provider.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Operation'
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
          readOnly: true
    Operation:
      description: A Billing REST API operation.
      type: object
      properties:
        name:
          description: 'Operation name: {provider}/{resource}/{operation}.'
          type: string
          readOnly: true
        isDataAction:
          description: Identifies if the operation is a data operation.
          type: boolean
          readOnly: true
        display:
          description: The object that represents the operation.
          type: object
          properties:
            provider:
              description: 'Service provider: Microsoft.Billing.'
              type: string
              readOnly: true
            resource:
              description: Resource on which the operation is performed such as invoice and billing subscription.
              type: string
              readOnly: true
            operation:
              description: Operation type such as read, write and delete.
              type: string
              readOnly: true
            description:
              description: Description of operation.
              type: string
              readOnly: true
    OperationsErrorResponse:
      description: Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.
      type: object
      properties:
        error:
          description: The details of the error.
          $ref: '#/components/schemas/OperationsErrorDetails'
    OperationsErrorDetails:
      description: The details of the error.
      type: object
      properties:
        code:
          description: Error code.
          type: string
          readOnly: true
        message:
          description: Error message indicating why the operation failed.
          type: string
          readOnly: true
        target:
          description: The target of the particular error.
          type: string
          readOnly: true
    EnrollmentAccountSummary:
      description: An enrollment account resource.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: An enrollment account.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/EnrollmentAccountSummaryProperties'
    EnrollmentAccountListResult:
      description: Result of listing enrollment accounts.
      properties:
        value:
          description: The list of enrollment accounts.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/EnrollmentAccountSummary'
        nextLink:
          description: The link (url) to the next page of results.
          type: string
          readOnly: true
    EnrollmentAccountSummaryProperties:
      description: The properties of the enrollment account.
      properties:
        principalName:
          description: The account owner's principal name.
          type: string
          readOnly: true
    BillingPeriod:
      description: A billing period resource.
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: A billing period.
          x-ms-client-flatten: true
          $ref: '#/components/schemas/BillingPeriodProperties'
    BillingPeriodsListResult:
      description: Result of listing billing periods. It contains a list of available billing periods in reverse chronological order.
      properties:
        value:
          description: The list of billing periods.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/BillingPeriod'
        nextLink:
          description: The link (url) to the next page of results.
          type: string
          readOnly: true
    BillingPeriodProperties:
      description: The properties of the billing period.
      properties:
        billingPeriodStartDate:
          description: The start of the date range covered by the billing period.
          type: string
          format: date
          readOnly: true
        billingPeriodEndDate:
          description: The end of the date range covered by the billing period.
          type: string
          format: date
          readOnly: true
        invoiceIds:
          description: Array of invoice ids that associated with.
          type: array
          readOnly: true
          items:
            type: string
  parameters:
    apiVersionParameter:
      name: api-version
      in: query
      description: Version of the API to be used with the client request. The current version is 2018-03-01-preview.
      required: true
      schema:
        type: string
    subscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID that uniquely identifies an Azure subscription.
      required: true
      schema:
        type: string
    billingAccountNameParameter:
      name: billingAccountName
      in: path
      description: The ID that uniquely identifies a billing account.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    invoiceSectionNameParameter:
      name: invoiceSectionName
      in: path
      description: The ID that uniquely identifies an invoice section.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    enrollmentAccountNameParameter:
      name: enrollmentAccountName
      in: path
      description: The ID that uniquely identifies an enrollment account.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    departmentNameParameter:
      name: departmentName
      in: path
      description: The ID that uniquely identifies a department.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    instructionNameParameter:
      name: instructionName
      in: path
      description: Instruction Name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    billingProfileNameParameter:
      name: billingProfileName
      in: path
      description: The ID that uniquely identifies a billing profile.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    operationIdParameter:
      name: operationId
      in: path
      description: Operation Id.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    billingRoleDefinitionNameParameter:
      name: billingRoleDefinitionName
      in: path
      description: The ID that uniquely identifies a role definition.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    billingRoleAssignmentNameParameter:
      name: billingRoleAssignmentName
      in: path
      description: The ID that uniquely identifies a role assignment.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    invoiceNameParameter:
      name: invoiceName
      in: path
      description: The ID that uniquely identifies an invoice.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    productNameParameter:
      name: productName
      in: path
      description: The ID that uniquely identifies a product.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    agreementNameParameter:
      name: agreementName
      in: path
      description: The ID that uniquely identifies an agreement.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    transactionNameParameter:
      name: transactionName
      in: path
      description: The ID that uniquely identifies a transaction.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    customerNameParameter:
      name: customerName
      in: path
      description: The ID that uniquely identifies a customer.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
paths:
  /providers/Microsoft.Billing/billingAccounts:
    x-api-version: '2020-05-01'
    get:
      tags:
        - BillingAccounts
      operationId: BillingAccounts_List
      description: Lists the billing accounts that a user has access to.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - name: $expand
          in: query
          description: May be used to expand the soldTo, invoice sections and billing profiles.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAccountListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}:
    x-api-version: '2020-05-01'
    get:
      tags:
        - BillingAccounts
      operationId: BillingAccounts_Get
      description: Gets a billing account by its ID.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountNameParameter'
        - name: $expand
          in: query
          description: May be used to expand the soldTo, invoice sections and billing profiles.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAccount'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - BillingAccounts
      operationId: BillingAccounts_Update
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      description: Updates the properties of a billing account. Currently, displayName and address can be updated. The operation is supported only for billing accounts with agreement type Microsoft Customer Agreement.
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountNameParameter'
      requestBody:
        description: Request parameters that are provided to the update billing account operation.
        required: true
        x-ms-requestBody-name: parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingAccountUpdateRequest'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAccount'
        '202':
          description: Accepted. Billing account update is in progress.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/listInvoiceSectionsWithCreateSubscriptionPermission:
    x-api-version: '2020-05-01'
    post:
      tags:
        - BillingAccounts
      operationId: BillingAccounts_ListInvoiceSectionsByCreateSubscriptionPermission
      description: Lists the invoice sections for which the user has permission to create Azure subscriptions. The operation is supported only for billing accounts with agreement type Microsoft Customer Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountNameParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceSectionListWithCreateSubPermissionResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/validateAddress:
    x-api-version: '2020-05-01'
    post:
      tags:
        - Address
      operationId: Address_Validate
      description: Validates an address. Use the operation to validate an address before using it as soldTo or a billTo address.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      requestBody:
        required: true
        x-ms-requestBody-name: address
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressDetails'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateAddressResponse'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/availableBalance/default:
    x-api-version: '2020-05-01'
    get:
      tags:
        - AvailableBalances
      operationId: AvailableBalances_Get
      description: The available credit balance for a billing profile. This is the balance that can be used for pay now to settle due or past due invoices. The operation is supported only for billing accounts with agreement type Microsoft Customer Agreement.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      parameters:
        - $ref: '#/components/parameters/billingAccountNameParameter'
        - $ref: '#/components/parameters/billingProfileNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableBalance'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/instructions:
    x-api-version: '2020-05-01'
    get:
      tags:
        - Instructions
      operationId: Instructions_ListByBillingProfile
      description: Lists the instructions by billing profile id.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      parameters:
        - $ref: '#/components/parameters/billingAccountNameParameter'
        - $ref: '#/components/parameters/billingProfileNameParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstructionListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/instructions/{instructionName}:
    x-api-version: '2020-05-01'
    get:
      tags:
        - Instructions
      operationId: Instructions_Get
      description: Get the instruction by name. These are custom billing instructions and are only applicable for certain customers.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/billing/
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
        - $ref: '#/components/parameters/billingAccountNameParameter'
        - $ref: '#/components/parameters/billingProfileNameParameter'
        - $ref: '#/components/parameters/instructionNameParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instruction'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Instructions
      operationId: Instructions_Put
      description: Creates or updates an instruction. These are custom billing instructions and are only applicable for certain customers.
      parameters:
[...]
