openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  title: HybridNetworkManagementClient
  description: The resources in this swagger specification will be used by publishers to on-board offerings and manage network functions.
  version: '2023-09-01'
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    UserAssignedIdentities:
      title: User-Assigned Identities
      description: 'The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests.'
      type: object
      additionalProperties:
        $ref: '#/components/schemas/UserAssignedIdentity'
    UserAssignedIdentity:
      type: object
      description: User assigned identity properties
      properties:
        principalId:
          description: The principal ID of the assigned identity.
          format: uuid
          type: string
          readOnly: true
        clientId:
          description: The client ID of the assigned identity.
          format: uuid
          type: string
          readOnly: true
    ManagedServiceIdentityType:
      description: Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed).
      enum:
        - None
        - SystemAssigned
        - UserAssigned
        - SystemAssigned,UserAssigned
      type: string
      x-ms-enum:
        name: ManagedServiceIdentityType
        modelAsString: true
    ManagedServiceIdentity:
      description: Managed service identity (system assigned and/or user assigned identities)
      type: object
      properties:
        principalId:
          readOnly: true
          format: uuid
          type: string
          description: The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity.
        tenantId:
          readOnly: true
          format: uuid
          type: string
          description: The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity.
        type:
          $ref: '#/components/schemas/ManagedServiceIdentityType'
        userAssignedIdentities:
          $ref: '#/components/schemas/UserAssignedIdentities'
      required:
        - type
    SystemAssignedServiceIdentityType:
      description: Type of managed service identity (either system assigned, or none).
      enum:
        - None
        - SystemAssigned
      type: string
      x-ms-enum:
        name: SystemAssignedServiceIdentityType
        modelAsString: true
    SystemAssignedServiceIdentity:
      description: Managed service identity (either system assigned, or none)
      type: object
      properties:
        principalId:
          readOnly: true
          format: uuid
          type: string
          description: The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity.
        tenantId:
          readOnly: true
          format: uuid
          type: string
          description: The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity.
        type:
          $ref: '#/components/schemas/SystemAssignedServiceIdentityType'
      required:
        - type
    NetworkServiceDesignGroup:
      type: object
      properties:
        properties:
          x-ms-client-flatten: false
          $ref: '#/components/schemas/NetworkServiceDesignGroupPropertiesFormat'
          description: network service design group properties.
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: network service design group resource.
    NetworkServiceDesignGroupPropertiesFormat:
      description: network service design group properties.
      type: object
      properties:
        provisioningState:
          readOnly: true
          x-ms-mutability:
            - read
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state of the network service design groups resource.
        description:
          type: string
          description: The network service design group description.
    NetworkServiceDesignGroupListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/NetworkServiceDesignGroup'
          description: A list of network service design group.
        nextLink:
          readOnly: true
          type: string
          description: The URL to get the next set of results.
      description: A list of network service design group resources.
    networkServiceDesignVersionListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/networkServiceDesignVersion'
          description: A list of network service design versions.
        nextLink:
          readOnly: true
          type: string
          description: The URI to get the next set of results.
      description: A list of network service design versions.
    networkServiceDesignVersion:
      description: network service design version.
      type: object
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      properties:
        properties:
          x-ms-client-flatten: false
          $ref: '#/components/schemas/networkServiceDesignVersionPropertiesFormat'
          description: network service design version properties.
    networkServiceDesignVersionPropertiesFormat:
      description: network service design version properties.
      type: object
      properties:
        provisioningState:
          readOnly: true
          x-ms-mutability:
            - read
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state of the network service design version resource.
        versionState:
          readOnly: true
          description: The network service design version state.
          $ref: '#/components/schemas/NSDVersionState'
        description:
          type: string
          description: The network service design version description.
        configurationGroupSchemaReferences:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ReferencedResource'
          description: The configuration schemas to used to define the values.
        nfvisFromSite:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/NfviDetails'
          description: The nfvis from the site.
        resourceElementTemplates:
          type: array
          items:
            $ref: '#/components/schemas/ResourceElementTemplate'
          description: List of resource element template
          x-ms-identifiers:
            - name
    NfviDetails:
      type: object
      properties:
        name:
          description: The nfvi name.
          type: string
        type:
          description: The nfvi type.
          type: string
      description: The nfvi details.
    ResourceElementTemplate:
      required:
        - type
      discriminator:
        propertyName: type
      type: object
      properties:
        name:
          type: string
          description: Name of the resource element template.
        type:
          $ref: '#/components/schemas/Type'
          description: The resource element template type.
          x-ms-client-name: ResourceElementType
        dependsOnProfile:
          $ref: '#/components/schemas/DependsOnProfile'
          description: The depends on profile.
      description: The resource element template object.
    Type:
      type: string
      description: The resource element template type.
      enum:
        - Unknown
        - ArmResourceDefinition
        - NetworkFunctionDefinition
      x-ms-enum:
        name: type
        modelAsString: true
    ArmResourceDefinitionResourceElementTemplateDetails:
      description: The arm resource definition resource element template details.
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceElementTemplate'
      properties:
        configuration:
          $ref: '#/components/schemas/ArmResourceDefinitionResourceElementTemplate'
          description: The resource element template type.
      x-ms-discriminator-value: ArmResourceDefinition
    ArmResourceDefinitionResourceElementTemplate:
      type: object
      properties:
        templateType:
          description: The template type.
          $ref: '#/components/schemas/TemplateType'
        parameterValues:
          type: string
          description: Name and value pairs that define the parameter values. It can be  a well formed escaped JSON string.
        artifactProfile:
          $ref: '#/components/schemas/NSDArtifactProfile'
          description: Artifact profile properties.
      description: The arm template RE.
    NetworkFunctionDefinitionResourceElementTemplateDetails:
      description: The network function definition resource element template details.
      type: object
      allOf:
        - $ref: '#/components/schemas/ResourceElementTemplate'
      properties:
        configuration:
          $ref: '#/components/schemas/ArmResourceDefinitionResourceElementTemplate'
          description: The resource element template type.
      x-ms-discriminator-value: NetworkFunctionDefinition
    NSDArtifactProfile:
      description: Artifact profile properties.
      type: object
      properties:
        artifactStoreReference:
          $ref: '#/components/schemas/ReferencedResource'
          description: The artifact store resource id
        artifactName:
          type: string
          description: Artifact name.
        artifactVersion:
          type: string
          description: Artifact version.
    TemplateType:
      type: string
      description: The template type.
      enum:
        - Unknown
        - ArmTemplate
      x-ms-enum:
        name: templateType
        modelAsString: true
    ConfigurationGenerationType:
      type: string
      description: The configuration generation type.
      enum:
        - Unknown
        - HandlebarTemplate
      x-ms-enum:
        name: configurationGenerationType
        modelAsString: true
    NSDVersionState:
      type: string
      description: The network service design version state.
      enum:
        - Unknown
        - Preview
        - Active
        - Deprecated
      x-ms-enum:
        name: versionState
        modelAsString: true
    NetworkServiceDesignVersionUpdateState:
      type: object
      description: Publisher network service design version update request definition.
      properties:
        versionState:
          description: The network service design version state.
          $ref: '#/components/schemas/NSDVersionState'
          x-ms-mutability:
            - read
            - create
    SiteNetworkService:
      type: object
      properties:
        properties:
          x-ms-client-flatten: false
          $ref: '#/components/schemas/SiteNetworkServicePropertiesFormat'
          description: Site network service properties.
        identity:
          $ref: '#/components/schemas/ManagedServiceIdentity'
          description: The managed identity of the Site network service, if configured.
        sku:
          $ref: '#/components/schemas/Sku'
          description: Sku of the site network service.
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: Site network service resource.
    SiteNetworkServicePropertiesFormat:
      type: object
      description: Site network service properties.
      properties:
        provisioningState:
          readOnly: true
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state of the site network service resource.
        managedResourceGroupConfiguration:
          $ref: '#/components/schemas/ManagedResourceGroupConfiguration'
        siteReference:
          $ref: '#/components/schemas/ReferencedResource'
          description: The site details
        publisherName:
          readOnly: true
          type: string
          description: The publisher name for the site network service.
        publisherScope:
          readOnly: true
          $ref: '#/components/schemas/PublisherScope'
          description: The scope of the publisher.
        networkServiceDesignGroupName:
          readOnly: true
          type: string
          description: The network service design group name for the site network service.
        networkServiceDesignVersionName:
          readOnly: true
          type: string
          description: The network service design version for the site network service.
        networkServiceDesignVersionOfferingLocation:
          readOnly: true
          type: string
          description: The location of the network service design offering.
        networkServiceDesignVersionResourceReference:
          $ref: '#/components/schemas/DeploymentResourceIdReference'
          description: The network service design version resource reference.
        desiredStateConfigurationGroupValueReferences:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ReferencedResource'
          description: The goal state of the site network service resource. This has references to the configuration group value objects that describe the desired state of the site network service.
        lastStateNetworkServiceDesignVersionName:
          readOnly: true
          type: string
          description: The network service design version for the site network service.
        lastStateConfigurationGroupValueReferences:
          type: object
          readOnly: true
          additionalProperties:
            $ref: '#/components/schemas/ReferencedResource'
          description: The last state of the site network service resource.
    SiteNetworkServiceListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/SiteNetworkService'
          description: A list of site network services in a resource group.
        nextLink:
          type: string
          readOnly: true
          description: The URL to get the next set of results.
      description: Response for site network services API service call.
    Sku:
      description: The resource model definition representing SKU
      type: object
      properties:
        name:
          type: string
          description: The name of the SKU. Ex - P3. It is typically a letter+number code
        tier:
          $ref: '#/components/schemas/SkuTier'
        size:
          type: string
          description: 'The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. '
        family:
          type: string
          description: If the service has different generations of hardware, for the same SKU, then that can be captured here.
        capacity:
          type: integer
          format: int32
          description: If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted.
      required:
        - name
    Site:
      type: object
      properties:
        properties:
          x-ms-client-flatten: false
          $ref: '#/components/schemas/SitePropertiesFormat'
          description: Site properties.
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: Site resource.
    SitePropertiesFormat:
      type: object
      description: Site properties.
      properties:
        provisioningState:
          readOnly: true
          $ref: '#/components/schemas/ProvisioningState'
          description: 'The provisioning state of the site resource. **TODO**: Confirm if this is needed.'
        nfvis:
          type: array
          items:
            $ref: '#/components/schemas/NFVIs'
          description: List of NFVIs
          x-ms-identifiers:
            - name
        siteNetworkServiceReferences:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ReferencedResource'
          description: The list of site network services on the site.
          x-ms-identifiers:
            - id
    SiteListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Site'
          description: A list of sites in a resource group.
        nextLink:
          type: string
          readOnly: true
          description: The URL to get the next set of results.
      description: Response for sites API service call.
    NFVIs:
      required:
        - nfviType
      discriminator:
        propertyName: nfviType
      type: object
      properties:
        name:
          type: string
          description: Name of the nfvi.
        nfviType:
          $ref: '#/components/schemas/NFVIType'
          description: The NFVI type.
      description: The NFVI object.
    AzureCoreNFVIDetails:
      description: The Azure Core NFVI detail.
      type: object
      allOf:
        - $ref: '#/components/schemas/NFVIs'
      properties:
        location:
          type: string
          description: Location of the Azure core.
      x-ms-discriminator-value: AzureCore
    AzureArcK8sClusterNFVIDetails:
      description: The AzureArcK8sCluster NFVI detail.
      type: object
      allOf:
        - $ref: '#/components/schemas/NFVIs'
      properties:
        customLocationReference:
          $ref: '#/components/schemas/ReferencedResource'
          description: The reference to the custom location.
      x-ms-discriminator-value: AzureArcKubernetes
    AzureOperatorNexusClusterNFVIDetails:
      description: The AzureOperatorNexusCluster NFVI detail.
      type: object
      allOf:
        - $ref: '#/components/schemas/NFVIs'
      properties:
        customLocationReference:
          $ref: '#/components/schemas/ReferencedResource'
          description: The reference to the custom location.
      x-ms-discriminator-value: AzureOperatorNexus
    configurationGroupValue:
      type: object
      properties:
        properties:
          x-ms-client-flatten: false
          $ref: '#/components/schemas/configurationGroupValuePropertiesFormat'
          description: Hybrid configuration group value properties.
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: Hybrid configuration group value resource.
    configurationGroupValuePropertiesFormat:
      type: object
      description: Hybrid configuration group value properties.
      required:
        - configurationType
      discriminator:
        propertyName: configurationType
      properties:
        provisioningState:
          readOnly: true
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state of the site resource.
        publisherName:
          readOnly: true
          type: string
          description: The publisher name for the configuration group schema.
        publisherScope:
          readOnly: true
          $ref: '#/components/schemas/PublisherScope'
          description: The scope of the publisher.
        configurationGroupSchemaName:
          readOnly: true
          type: string
          description: The configuration group schema name.
        configurationGroupSchemaOfferingLocation:
          readOnly: true
          type: string
          description: The location of the configuration group schema offering.
        configurationGroupSchemaResourceReference:
          $ref: '#/components/schemas/DeploymentResourceIdReference'
          description: The configuration group schema resource reference.
        configurationType:
          $ref: '#/components/schemas/configurationGroupValueConfigurationType'
          description: The value which indicates if configuration values are secrets
    ConfigurationValueWithSecrets:
      description: The ConfigurationValue with secrets.
      type: object
      allOf:
        - $ref: '#/components/schemas/configurationGroupValuePropertiesFormat'
      properties:
        secretConfigurationValue:
          type: string
          description: Name and value pairs that define the configuration value secrets. It can be a well formed escaped JSON string.
          x-ms-secret: true
          x-ms-mutability:
            - create
            - update
      x-ms-discriminator-value: Secret
    ConfigurationValueWithoutSecrets:
      description: The ConfigurationValue with no secrets.
      type: object
      allOf:
        - $ref: '#/components/schemas/configurationGroupValuePropertiesFormat'
      properties:
        configurationValue:
          type: string
          description: Name and value pairs that define the configuration value. It can be a well formed escaped JSON string.
      x-ms-discriminator-value: Open
    configurationGroupValueListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/configurationGroupValue'
          description: A list of hybrid configurationGroups.
        nextLink:
          type: string
          readOnly: true
          description: The URL to get the next set of results.
      description: Response for hybrid configurationGroups API service call.
    configurationGroupValueConfigurationType:
      type: string
      description: The secret type which indicates if secret or not.
      enum:
        - Unknown
        - Secret
        - Open
      x-ms-enum:
        name: ConfigurationGroupValueConfigurationType
        modelAsString: true
    ProxyArtifactOverviewListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ProxyArtifactListOverview'
          description: A list of available proxy artifacts.
        nextLink:
          type: string
          readOnly: true
          description: The URL to get the next set of results.
      description: The proxy artifact list result.
    ProxyArtifactVersionsOverviewListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ProxyArtifactVersionsListOverview'
          description: A list of available proxy artifacts.
        nextLink:
          type: string
          readOnly: true
          description: The URL to get the next set of results.
      description: The proxy artifact list result.
    ProxyArtifactVersionsListOverview:
      type: object
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          x-ms-client-flatten: false
          readOnly: true
          $ref: '#/components/schemas/ProxyArtifactOverviewPropertiesValue'
          description: Proxy Artifact overview properties.
      readOnly: true
      description: The proxy artifact overview.
    ProxyArtifactListOverview:
      type: object
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      readOnly: true
      description: The proxy artifact overview.
    ProxyArtifactOverview:
      type: object
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          x-ms-client-flatten: false
          readOnly: true
          $ref: '#/components/schemas/ProxyArtifactOverviewPropertiesFormat'
          description: Proxy Artifact properties overview.
      readOnly: true
      description: The proxy artifact overview.
    ProxyArtifactOverviewPropertiesFormat:
      description: Proxy Artifact overview properties.
      type: object
      properties:
        artifactVersions:
          type: array
          items:
            $ref: '#/components/schemas/ProxyArtifactOverviewPropertiesValue'
          description: The proxy artifact overview properties.
          x-ms-identifiers: []
    ProxyArtifactOverviewPropertiesValue:
      type: object
      properties:
        artifactType:
          $ref: '#/components/schemas/ArtifactType'
          description: The artifact type.
        artifactVersion:
          type: string
          description: The artifact version.
        artifactState:
          $ref: '#/components/schemas/ArtifactState'
          description: The artifact state
    ArtifactChangeState:
      description: The artifact updating request payload.
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/ArtifactChangeStateProperties'
          description: Artifact update state properties.
    ArtifactChangeStateProperties:
      description: The artifact update state properties.
      type: object
      properties:
        artifactState:
          $ref: '#/components/schemas/ArtifactState'
          description: The artifact state
    ArtifactState:
      type: string
      description: The artifact state.
      enum:
        - Unknown
        - Preview
        - Active
        - Deprecated
      x-ms-enum:
        name: ArtifactState
        modelAsString: true
    Publisher:
      type: object
      properties:
        properties:
          x-ms-client-flatten: false
          $ref: '#/components/schemas/PublisherPropertiesFormat'
          description: Publisher properties.
        identity:
          $ref: '#/components/schemas/ManagedServiceIdentity'
          description: The managed identity of the publisher, if configured.
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: publisher resource.
    PublisherPropertiesFormat:
      description: publisher properties.
      type: object
      properties:
        provisioningState:
          readOnly: true
          x-ms-mutability:
            - read
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state of the publisher resource.
        scope:
          description: The publisher scope.
          $ref: '#/components/schemas/PublisherScope'
          x-ms-mutability:
            - read
            - create
    PublisherListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Publisher'
          description: A list of publishers.
        nextLink:
          readOnly: true
          type: string
          description: The URL to get the next set of results.
      description: A list of publishers.
    ArtifactStore:
      type: object
      properties:
        properties:
          x-ms-client-flatten: false
          $ref: '#/components/schemas/ArtifactStorePropertiesFormat'
          description: ArtifactStores properties.
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: Artifact store properties.
    ArtifactStorePropertiesFormat:
      description: Artifact store properties.
      type: object
      properties:
        provisioningState:
          readOnly: true
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state of the application groups resource.
        storeType:
          type: string
          x-ms-mutability:
            - read
            - create
          description: The artifact store type.
          enum:
            - Unknown
            - AzureContainerRegistry
            - AzureStorageAccount
          x-ms-enum:
            name: ArtifactStoreType
            modelAsString: true
        replicationStrategy:
          type: string
          description: The replication strategy.
          enum:
            - Unknown
            - SingleReplication
          x-ms-enum:
            name: ArtifactReplicationStrategy
            modelAsString: true
        managedResourceGroupConfiguration:
          type: object
          properties:
            name:
              type: string
              x-ms-mutability:
                - read
                - create
              description: The managed resource group name.
            location:
              type: string
              x-ms-mutability:
                - read
                - create
              description: The managed resource group location.
        storageResourceId:
          type: string
          readOnly: true
          x-ms-mutability:
            - read
          description: The created storage resource id
    ArtifactStoreListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ArtifactStore'
          description: A list of artifact stores.
        nextLink:
          readOnly: true
          type: string
          description: The URL to get the next set of results.
      description: A list of artifact stores.
    ArtifactManifestListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ArtifactManifest'
          description: A list of artifact manifests.
        nextLink:
          readOnly: true
          type: string
          description: The URI to get the next set of results.
      description: A list of artifact manifests.
    ArtifactManifest:
      description: Artifact manifest properties.
      type: object
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      properties:
        properties:
          x-ms-client-flatten: false
          $ref: '#/components/schemas/ArtifactManifestPropertiesFormat'
          description: Artifact manifest properties.
    ArtifactManifestPropertiesFormat:
      description: Artifact manifest properties.
      type: object
      properties:
        provisioningState:
          readOnly: true
          x-ms-mutability:
            - read
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state of the ArtifactManifest resource.
        artifactManifestState:
          readOnly: true
          description: The artifact manifest state.
          $ref: '#/components/schemas/ArtifactManifestState'
        artifacts:
          type: array
          items:
            $ref: '#/components/schemas/ManifestArtifactFormat'
          x-ms-identifiers:
            - artifactName
            - artifactType
            - artifactVersion
          description: The artifacts list.
    ManifestArtifactFormat:
      description: Manifest artifact properties.
      type: object
      properties:
        artifactName:
          type: string
          description: The artifact name
          x-ms-mutability:
            - read
            - create
        artifactType:
          $ref: '#/components/schemas/ArtifactType'
          description: The artifact type.
          x-ms-mutability:
            - read
            - create
        artifactVersion:
          type: string
          description: The artifact version.
          x-ms-mutability:
            - read
            - create
    ArtifactManifestUpdateState:
      description: The artifact manifest updating request payload. Only the 'Uploaded' state is allowed for updates. Other states are used for internal state transitioning.
      type: object
      properties:
        artifactManifestState:
          description: The artifact manifest state.
          $ref: '#/components/schemas/ArtifactManifestState'
          x-ms-mutability:
            - read
            - create
    ArtifactManifestState:
      type: string
      description: The artifact manifest state.
      enum:
        - Unknown
        - Uploading
        - Uploaded
        - Validating
        - ValidationFailed
        - Succeeded
      x-ms-enum:
        name: ArtifactManifestState
        modelAsString: true
    ArtifactType:
      type: string
      description: The artifact type.
      enum:
        - Unknown
        - OCIArtifact
        - VhdImageFile
        - ArmTemplate
        - ImageFile
      x-ms-enum:
        name: ArtifactType
        modelAsString: true
    NetworkFunction:
      type: object
      properties:
        properties:
          x-ms-client-flatten: false
          $ref: '#/components/schemas/NetworkFunctionPropertiesFormat'
          description: Network function properties.
        etag:
          type: string
          description: A unique read-only string that changes whenever the resource is updated.
        identity:
          $ref: '#/components/schemas/ManagedServiceIdentity'
          description: The managed identity of the network function.
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: Network function resource response.
    NetworkFunctionPropertiesFormat:
      type: object
      description: Network function properties.
      required:
        - configurationType
      discriminator:
        propertyName: configurationType
      properties:
        provisioningState:
          readOnly: true
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state of the network function resource.
        publisherName:
          readOnly: true
          type: string
          description: The publisher name for the network function.
        publisherScope:
          readOnly: true
          $ref: '#/components/schemas/PublisherScope'
          description: The scope of the publisher.
        networkFunctionDefinitionGroupName:
          readOnly: true
          type: string
          description: The network function definition group name for the network function.
        networkFunctionDefinitionVersion:
          readOnly: true
          type: string
          description: The network function definition version for the network function.
        networkFunctionDefinitionOfferingLocation:
          readOnly: true
          type: string
          description: The location of the network function definition offering.
        networkFunctionDefinitionVersionResourceReference:
          $ref: '#/components/schemas/DeploymentResourceIdReference'
          description: The network function definition version resource reference.
        nfviType:
          $ref: '#/components/schemas/NFVIType'
          description: The nfvi type for the network function.
        nfviId:
          type: string
          description: The nfviId for the network function.
        allowSoftwareUpdate:
          type: boolean
          description: Indicates if software updates are allowed during deployment.
        configurationType:
          $ref: '#/components/schemas/NetworkFunctionConfigurationType'
          description: The value which indicates if NF  values are secrets
        roleOverrideValues:
          type: array
          items:
            $ref: '#/components/schemas/RoleOverrideValues'
          description: The role configuration override values from the user.
    NetworkFunctionValueWithSecrets:
      description: NetworkFunction with secrets.
      type: object
      allOf:
        - $ref: '#/components/schemas/NetworkFunctionPropertiesFormat'
      properties:
        secretDeploymentValues:
          type: string
          description: The JSON-serialized secret deployment values from the user. This contains secrets like passwords,keys etc
          x-ms-secret: true
          x-ms-mutability:
            - create
            - update
      x-ms-discriminator-value: Secret
    NetworkFunctionValueWithoutSecrets:
      description: NetworkFunction with no secrets.
      type: object
      allOf:
        - $ref: '#/components/schemas/NetworkFunctionPropertiesFormat'
      properties:
        deploymentValues:
          type: string
          description: The JSON-serialized deployment values from the user.
      x-ms-discriminator-value: Open
    NetworkFunctionListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/NetworkFunction'
          description: A list of network function resources in a subscription or resource group.
        nextLink:
          type: string
          readOnly: true
          description: The URL to get the next set of results.
      description: Response for network function API service call.
    NetworkFunctionConfigurationType:
      type: string
      description: The secret type which indicates if secret or not.
      enum:
        - Unknown
        - Secret
        - Open
      x-ms-enum:
        name: NetworkFunctionConfigurationType
        modelAsString: true
    RoleOverrideValues:
      type: string
      description: The JSON-serialized role configuration override values.
    Component:
      type: object
      x-ms-azure-resource: true
      properties:
        properties:
          x-ms-client-flatten: false
          $ref: '#/components/schemas/ComponentProperties'
          description: The component properties.
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      description: The component sub resource.
    ComponentProperties:
      type: object
      properties:
        provisioningState:
          readOnly: true
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state of the component resource.
        deploymentProfile:
          readOnly: true
          type: string
          description: The JSON-serialized deployment profile of the component resource.
        deploymentStatus:
          readOnly: true
          x-ms-mutability:
            - read
          $ref: '#/components/schemas/DeploymentStatusProperties'
          description: The deployment status of the component resource.
      description: The component properties of the network function.
    DeploymentStatusProperties:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/Status'
          description: The status of the component resource.
        resources:
          $ref: '#/components/schemas/Resources'
          description: The resource related to the component resource.
        nextExpectedUpdateAt:
          type: string
          format: date-time
          description: The next expected update of deployment status.
      description: The deployment status properties of the network function component.
    Status:
      type: string
      description: The component resource deployment status.
      enum:
        - Unknown
        - Deployed
        - Uninstalled
        - Superseded
        - Failed
        - Uninstalling
        - Pending-Install
        - Pending-Upgrade
        - Pending-Rollback
        - Downloading
        - Installing
        - Reinstalling
        - Rollingback
        - Upgrading
      x-ms-enum:
        name: Status
        modelAsString: true
    Resources:
      type: object
      properties:
        deployments:
          type: array
          items:
            $ref: '#/components/schemas/Deployment'
          description: Deployments that are related to component resource.
          x-ms-identifiers: []
        pods:
          type: array
          items:
            $ref: '#/components/schemas/Pod'
          description: Pods related to component resource.
          x-ms-identifiers: []
        replicaSets:
          type: array
          items:
            $ref: '#/components/schemas/ReplicaSet'
          description: Replica sets related to component resource.
          x-ms-identifiers: []
        statefulSets:
          type: array
          items:
            $ref: '#/components/schemas/StatefulSet'
          description: Stateful sets related to component resource.
          x-ms-identifiers: []
        daemonSets:
          type: array
          items:
            $ref: '#/components/schemas/DaemonSet'
          description: Daemonsets related to component resource.
          x-ms-identifiers: []
      description: The resources of the network function component.
    Deployment:
      type: object
      properties:
        name:
          type: string
          description: The name of the deployment.
        namespace:
          type: string
          description: The namespace of the deployment.
        desired:
          type: integer
          format: int32
          description: Desired number of pods
        ready:
          type: integer
          format: int32
          description: Number of ready pods.
        upToDate:
          type: integer
          format: int32
          description: Number of upto date pods.
        available:
          type: integer
          format: int32
          description: Number of available pods.
        creationTime:
          type: string
          format: date-time
          description: Creation Time of deployment.
      description: Helm Deployment status properties.
    Pod:
      type: object
      properties:
        name:
          type: string
          description: The name of the Pod.
        namespace:
          type: string
          description: The namespace of the Pod.
        desired:
          type: integer
          format: int32
          description: Desired number of containers
        ready:
          type: integer
          format: int32
          description: Number of ready containers.
        status:
          $ref: '#/components/schemas/PodStatus'
          description: The status of a pod.
        creationTime:
          type: string
          format: date-time
          description: Creation Time of Pod.
        events:
          type: array
          items:
            $ref: '#/components/schemas/PodEvent'
          description: Last 5 Pod events.
          x-ms-identifiers: []
      description: Helm Pod status properties.
    PodStatus:
      type: string
      description: The status of a Pod.
      enum:
        - Unknown
        - Succeeded
        - Failed
        - Running
        - Pending
        - Terminating
        - NotReady
      x-ms-enum:
        name: PodStatus
        modelAsString: true
    PodEvent:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/PodEventType'
          description: The type of pod event.
        reason:
          type: string
          description: Event reason.
        message:
          type: string
          description: Event message.
        lastSeenTime:
          type: string
          format: date-time
          description: Event Last seen.
      description: Pod Event  properties.
    PodEventType:
      type: string
      description: The type of pod event.
      enum:
        - Normal
        - Warning
      x-ms-enum:
        name: PodEventType
        modelAsString: true
    ReplicaSet:
      type: object
      properties:
        name:
          type: string
          description: The name of the replicaSet.
        namespace:
          type: string
          description: The namespace of the replicaSet.
        desired:
          type: integer
          format: int32
          description: Desired number of pods
        ready:
          type: integer
          format: int32
          description: Number of ready pods.
        current:
          type: integer
          format: int32
          description: Number of current pods.
        creationTime:
          type: string
          format: date-time
          description: Creation Time of replicaSet.
      description: Helm ReplicaSet status properties.
    StatefulSet:
      type: object
      properties:
        name:
          type: string
          description: The name of the statefulset.
        namespace:
          type: string
          description: The namespace of the statefulset.
        desired:
          type: integer
          format: int32
          description: Desired number of pods
        ready:
          type: integer
          format: int32
          description: Number of ready pods.
        creationTime:
          type: string
          format: date-time
          description: Creation Time of statefulset.
      description: Helm StatefulSet status properties.
    DaemonSet:
      type: object
      properties:
        name:
          type: string
          description: The name of the daemonSet.
        namespace:
          type: string
          description: The namespace of the daemonSet.
        desired:
          type: integer
          format: int32
          description: Desired number of pods
        current:
          type: integer
          format: int32
          description: Current number of pods
        ready:
          type: integer
          format: int32
          description: Number of Ready pods
        upToDate:
          type: integer
          format: int32
          description: Number of  upto date pods
        available:
          type: integer
          format: int32
          description: Number of available pods.
        creationTime:
          type: string
          format: date-time
          description: Creation Time of daemonSet.
      description: Helm DaemonSet status properties.
    ComponentListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Component'
          description: A list of component resources in a networkFunction.
        nextLink:
          type: string
          readOnly: true
          description: The URL to get the next set of results.
      description: Response for list component API service call.
    ExecuteRequestParameters:
      type: object
      properties:
        serviceEndpoint:
          type: string
          description: The endpoint of service to call.
        requestMetadata:
          $ref: '#/components/schemas/RequestMetadata'
          description: The request metadata.
      required:
        - serviceEndpoint
        - requestMetadata
      description: Payload for execute request post call.
    RequestMetadata:
      type: object
      properties:
        relativePath:
          type: string
          description: The relative path of the request.
        httpMethod:
          type: string
          description: The http method of the request.
          enum:
            - Unknown
            - Post
            - Put
            - Get
            - Patch
            - Delete
          x-ms-enum:
            name: HttpMethod
            modelAsString: true
        serializedBody:
          type: string
          description: The serialized body of the request.
        apiVersion:
          type: string
          description: The api version of the request.
      required:
        - relativePath
        - httpMethod
        - serializedBody
      description: Request metadata of execute request post call payload.
    ReferencedResource:
      type: object
      properties:
        id:
          type: string
          description: Resource ID.
      description: Reference to another resource.
      x-ms-azure-resource: true
    CustomLocationResourceId:
      type: object
      properties:
        id:
          type: string
          pattern: ^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\.[eE][xX][tT][eE][nN][dD][eE][dD][lL][oO][cC][aA][tT][iI][oO][nN]/[cC][uU][sS][tT][oO][mM][lL][oO][cC][aA][tT][iI][oO][nN][sS]/[^/?#]+$
          description: Azure ARC custom location resource ID.
      description: Reference to an Azure ARC custom location resource.
      x-ms-azure-resource: true
    ProvisioningState:
      type: string
      readOnly: true
      description: The current provisioning state.
      enum:
        - Unknown
        - Succeeded
        - Accepted
        - Deleting
        - Failed
        - Canceled
        - Deleted
        - Converging
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
    NetworkFunctionType:
      type: string
      description: The network function type.
      enum:
        - Unknown
        - VirtualNetworkFunction
        - ContainerizedNetworkFunction
      x-ms-mutability:
        - read
        - create
      x-ms-enum:
        name: NetworkFunctionType
        modelAsString: true
    NFVIType:
      type: string
      description: The NFVI type.
      enum:
        - Unknown
        - AzureArcKubernetes
        - AzureCore
        - AzureOperatorNexus
      x-ms-enum:
        name: NFVIType
        modelAsString: true
    TagsObject:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags.
      description: Tags object for patch operations.
    NetworkFunctionApplication:
      description: Network function application definition.
      type: object
      properties:
        name:
          type: string
          description: The name of the network function application.
        dependsOnProfile:
          description: Depends on profile definition.
          $ref: '#/components/schemas/DependsOnProfile'
    DependsOnProfile:
      description: Depends on profile definition.
      type: object
      properties:
        installDependsOn:
          type: array
          description: Application installation operation dependency.
          items:
            type: string
          x-ms-identifiers: []
        uninstallDependsOn:
          type: array
          description: Application deletion operation dependency.
          items:
            type: string
          x-ms-identifiers: []
        updateDependsOn:
          type: array
          description: Application update operation dependency.
          items:
            type: string
          x-ms-identifiers: []
    ArtifactProfile:
      description: Artifact profile properties.
      type: object
      properties:
        artifactStore:
          $ref: '#/components/schemas/ReferencedResource'
          description: The reference to artifact store.
    MappingRuleProfile:
      description: Mapping rule profile properties.
      type: object
      properties:
        applicationEnablement:
          type: string
          description: The application enablement.
          enum:
            - Unknown
            - Enabled
            - Disabled
          x-ms-enum:
            name: ApplicationEnablement
            modelAsString: true
    GenericParameters:
      type: object
      description: The parameters for the generic object.
    ConfigurationGroup:
      type: object
      additionalProperties:
        type: object
      description: The configuration group in form of {key, value}.
    ConfigurationGroups:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/ConfigurationGroup'
      description: The configuration object for the specified cluster.
    ManagedResourceGroupConfiguration:
      description: Managed resource group configuration.
      type: object
      properties:
        name:
          type: string
          description: Managed resource group name.
        location:
          type: string
          description: Managed resource group location.
    PublisherScope:
      type: string
      description: Publisher Scope.
      enum:
        - Unknown
        - Private
      x-ms-enum:
        name: PublisherScope
        modelAsString: true
    ArtifactAccessCredential:
      description: The artifact manifest credential definition.
      type: object
      discriminator:
        propertyName: credentialType
      required:
        - credentialType
      properties:
        credentialType:
          type: string
          description: The credential type.
          enum:
            - Unknown
            - AzureContainerRegistryScopedToken
            - AzureStorageAccountToken
          x-ms-enum:
            name: CredentialType
            modelAsString: true
    AzureContainerRegistryScopedTokenCredential:
      description: The azure container registry scoped token credential definition.
      type: object
      x-ms-discriminator-value: AzureContainerRegistryScopedToken
      allOf:
        - $ref: '#/components/schemas/ArtifactAccessCredential'
      properties:
        username:
          type: string
          description: The username of the credential.
        acrToken:
          type: string
          description: The credential value.
        acrServerUrl:
          type: string
          description: The Acr server url
        repositories:
          type: array
          description: The repositories that could be accessed using the current credential.
          items:
            type: string
            description: The repository that could be accessed using the current credential.
          x-ms-identifiers: []
        expiry:
          type: string
          format: date-time
          description: The UTC time when credential will expire.
    AzureStorageAccountCredential:
      description: The azure storage account credential definition.
      type: object
      x-ms-discriminator-value: AzureStorageAccountToken
      allOf:
        - $ref: '#/components/schemas/ArtifactAccessCredential'
      properties:
        storageAccountId:
          type: string
          description: The storage account Id
        containerCredentials:
          type: array
          description: The containers that could be accessed using the current credential.
          items:
            $ref: '#/components/schemas/AzureStorageAccountContainerCredential'
            description: The container that could be accessed using the current credential.
          x-ms-identifiers: []
        expiry:
          type: string
          format: date-time
          description: The UTC time when credential will expire.
    AzureStorageAccountContainerCredential:
      description: The azure storage account container credential definition.
      type: object
      properties:
        containerName:
          type: string
          description: The storage account container name
        containerSasUri:
          type: string
          description: The storage account container sas uri
    DeploymentResourceIdReference:
      description: The azure resource reference which is used for deployment.
      type: object
      discriminator:
        propertyName: idType
      required:
        - idType
      properties:
        idType:
          description: The resource reference arm id type.
          $ref: '#/components/schemas/IdType'
    SecretDeploymentResourceReference:
      description: Secret deployment resource id reference.
      x-ms-discriminator-value: Secret
      type: object
      allOf:
        - $ref: '#/components/schemas/DeploymentResourceIdReference'
      properties:
        id:
          type: string
          x-ms-secret: true
          description: Resource ID.
          x-ms-mutability:
            - create
            - update
    OpenDeploymentResourceReference:
      description: Non secret deployment resource id reference.
      x-ms-discriminator-value: Open
      type: object
      allOf:
        - $ref: '#/components/schemas/DeploymentResourceIdReference'
      properties:
        id:
          type: string
          description: Resource ID.
      x-ms-azure-resource: true
    IdType:
      type: string
      description: The resource reference arm id type.
      default: Open
      enum:
        - Unknown
        - Open
        - Secret
      x-ms-enum:
        name: idType
        modelAsString: true
    Resource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
        systemData:
          readOnly: true
          type: object
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
          $ref: '#/components/schemas/systemData'
      x-ms-azure-resource: true
    AzureEntityResource:
      x-ms-client-name: AzureEntityResource
      title: Entity Resource
      description: The resource model definition for an Azure Resource Manager resource with an etag.
      type: object
      properties:
        etag:
          type: string
          readOnly: true
          description: Resource Etag.
      allOf:
        - $ref: '#/components/schemas/Resource'
    TrackedResource:
      title: Tracked Resource
      description: The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
            - read
            - create
            - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
            - read
            - create
          description: The geo-location where the resource lives
      required:
        - location
      allOf:
        - $ref: '#/components/schemas/Resource'
    ProxyResource:
      title: Proxy Resource
      description: The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a location
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
    ResourceModelWithAllowedPropertySet:
      description: The resource model definition containing the full set of allowed properties for a resource. Except properties bag, there cannot be a top level property outside of this set.
      type: object
      properties:
        managedBy:
          type: string
          x-ms-mutability:
            - read
            - create
            - update
          description: The fully qualified resource ID of the resource that manages this resource. Indicates if this resource is managed by another Azure resource. If this is present, complete mode deployment will not delete the resource if it is removed from the template since it is managed by another resource.
        kind:
          type: string
          x-ms-mutability:
            - read
            - create
          description: Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value.
          pattern: ^[-\w\._,\(\)]+$
        etag:
          readOnly: true
          type: string
          description: 'The etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields. '
        identity:
          allOf:
            - $ref: '#/components/schemas/Identity'
        sku:
          allOf:
            - $ref: '#/components/schemas/Sku'
        plan:
          allOf:
            - $ref: '#/components/schemas/Plan'
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      x-ms-azure-resource: true
    SkuTier:
      type: string
      enum:
        - Free
        - Basic
        - Standard
        - Premium
      x-ms-enum:
        name: SkuTier
        modelAsString: false
      description: This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT.
    Identity:
      description: Identity for the resource.
      type: object
      properties:
        principalId:
          readOnly: true
          type: string
          description: The principal ID of resource identity.
        tenantId:
          readOnly: true
          type: string
          description: The tenant ID of resource.
        type:
          type: string
          description: The identity type.
          enum:
            - SystemAssigned
          x-ms-enum:
            name: ResourceIdentityType
            modelAsString: false
    Plan:
      type: object
      properties:
        name:
          type: string
          description: A user defined name of the 3rd Party Artifact that is being procured.
        publisher:
          type: string
          description: The publisher of the 3rd Party Artifact that is being bought. E.g. NewRelic
        product:
          type: string
          description: 'The 3rd Party artifact that is being procured. E.g. NewRelic. Product maps to the OfferID specified for the artifact at the time of Data Market onboarding. '
        promotionCode:
          type: string
          description: A publisher provided promotion code as provisioned in Data Market for the said product/artifact.
        version:
          type: string
          description: The version of the desired product/artifact.
      description: Plan for the resource.
      required:
        - name
        - publisher
        - product
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
          x-ms-identifiers:
            - message
            - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          description: The error additional info.
    ErrorResponse:
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).
      type: object
      properties:
        error:
          description: The error object.
          $ref: '#/components/schemas/ErrorDetail'
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    Operation:
      title: REST API Operation
      description: Details of a REST API operation, returned from the Resource Provider Operations API
      type: object
      properties:
        name:
          description: 'The name of the operation, as per Resource-Based Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write", "Microsoft.Compute/virtualMachines/capture/action"'
          type: string
          readOnly: true
        isDataAction:
          description: Whether the operation applies to data-plane. This is "true" for data-plane operations and "false" for ARM/control-plane operations.
          type: boolean
          readOnly: true
        display:
          description: Localized display information for this particular operation.
          type: object
          properties:
            provider:
              description: The localized friendly form of the resource provider name, e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".
              type: string
              readOnly: true
            resource:
              description: The localized friendly name of the resource type related to this operation. E.g. "Virtual Machines" or "Job Schedule Collections".
              type: string
              readOnly: true
            operation:
              description: The concise, localized friendly name for the operation; suitable for dropdowns. E.g. "Create or Update Virtual Machine", "Restart Virtual Machine".
              type: string
              readOnly: true
            description:
              description: The short, localized friendly description of the operation; suitable for tool tips and detailed views.
              type: string
              readOnly: true
        origin:
          description: The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is "user,system"
          type: string
          readOnly: true
          enum:
            - user
            - system
            - user,system
          x-ms-enum:
            name: Origin
            modelAsString: true
        actionType:
          description: Enum. Indicates the action type. "Internal" refers to actions that are for internal only APIs.
          type: string
          readOnly: true
          enum:
            - Internal
          x-ms-enum:
            name: ActionType
            modelAsString: true
    OperationListResult:
      description: A list of REST API operations supported by an Azure Resource Provider. It contains an URL link to get the next set of results.
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Operation'
          x-ms-identifiers:
            - name
          description: List of operations supported by the resource provider
          readOnly: true
        nextLink:
          type: string
          description: URL to get the next set of operation list results (if there are any).
          readOnly: true
    OperationStatusResult:
      description: The current status of an async operation.
      type: object
      required:
        - status
      properties:
        id:
          description: Fully qualified ID for the async operation.
          type: string
        name:
          description: Name of the async operation.
          type: string
        status:
          description: Operation status.
          type: string
        percentComplete:
          description: Percent of the operation that is complete.
          type: number
          minimum: 0
          maximum: 100
        startTime:
          description: The start time of the operation.
          type: string
          format: date-time
        endTime:
          description: The end time of the operation.
          type: string
          format: date-time
        operations:
          description: The operations list.
          type: array
          items:
            $ref: '#/components/schemas/OperationStatusResult'
        error:
          description: If present, details of the operation error.
          $ref: '#/components/schemas/ErrorDetail'
    locationData:
      description: Metadata pertaining to the geographic location of the resource.
      type: object
      properties:
        name:
          type: string
          maxLength: 256
          description: A canonical name for the geographic or physical location.
        city:
          type: string
          description: The city or locality where the resource is located.
        district:
          type: string
          description: The district, state, or province where the resource is located.
        countryOrRegion:
          type: string
          description: The country or region where the resource is located
      required:
        - name
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
    encryptionProperties:
      description: Configuration of key for data encryption
      type: object
      properties:
        status:
          description: Indicates whether or not the encryption is enabled for container registry.
          enum:
            - enabled
            - disabled
          type: string
          x-ms-enum:
            name: EncryptionStatus
            modelAsString: true
        keyVaultProperties:
          $ref: '#/components/schemas/KeyVaultProperties'
          description: Key vault properties.
    KeyVaultProperties:
      type: object
      properties:
        keyIdentifier:
          description: Key vault uri to access the encryption key.
          type: string
        identity:
          description: The client ID of the identity which will be used to access key vault.
          type: string
    CheckNameAvailabilityRequest:
      description: The check availability request body.
      type: object
      properties:
        name:
          description: The name of the resource for which availability needs to be checked.
          type: string
        type:
          description: The resource type.
          type: string
    CheckNameAvailabilityResponse:
      description: The check availability result.
      type: object
      properties:
        nameAvailable:
          description: Indicates if the resource name is available.
          type: boolean
        reason:
          description: The reason why the given name is not available.
          type: string
          enum:
            - Invalid
            - AlreadyExists
          x-ms-enum:
            name: CheckNameAvailabilityReason
            modelAsString: true
        message:
          description: Detailed reason why the given name is available.
          type: string
    ConfigurationGroupSchema:
      type: object
      properties:
        properties:
          x-ms-client-flatten: false
          $ref: '#/components/schemas/ConfigurationGroupSchemaPropertiesFormat'
          description: Configuration group schema properties.
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: Configuration group schema resource.
    ConfigurationGroupSchemaPropertiesFormat:
      description: Configuration group schema properties.
      type: object
      properties:
        provisioningState:
          readOnly: true
          x-ms-mutability:
            - read
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state of the Configuration group schema resource.
        versionState:
          readOnly: true
          description: The configuration group schema version state.
          $ref: '#/components/schemas/ConfigurationGroupSchemaVersionState'
        description:
          type: string
          description: Description of what schema can contain.
        schemaDefinition:
          type: string
          description: Name and value pairs that define the configuration value. It can be a well formed escaped JSON string.
    ConfigurationGroupSchemaListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ConfigurationGroupSchema'
          description: A list of configuration group schema.
        nextLink:
          readOnly: true
          type: string
          description: The URL to get the next set of results.
      description: A list of configuration group schema resources.
    ConfigurationGroupSchemaVersionState:
      type: string
      description: The configuration group schema state.
      enum:
        - Unknown
        - Preview
        - Active
        - Deprecated
      x-ms-enum:
        name: versionState
        modelAsString: true
    ConfigurationGroupSchemaVersionUpdateState:
      type: object
      description: Publisher configuration group schema update request definition.
      properties:
        versionState:
          description: The configuration group schema state.
          $ref: '#/components/schemas/ConfigurationGroupSchemaVersionState'
          x-ms-mutability:
            - read
            - create
    NetworkFunctionDefinitionGroup:
      type: object
      properties:
        properties:
          x-ms-client-flatten: false
          $ref: '#/components/schemas/NetworkFunctionDefinitionGroupPropertiesFormat'
          description: Network function definition group properties.
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      description: Network function definition group resource.
    NetworkFunctionDefinitionGroupPropertiesFormat:
      description: Network function definition group properties.
      type: object
      properties:
        provisioningState:
          readOnly: true
          x-ms-mutability:
            - read
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state of the network function definition groups resource.
        description:
          type: string
          description: The network function definition group description.
    NetworkFunctionDefinitionGroupListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/NetworkFunctionDefinitionGroup'
          description: A list of network function definition group.
        nextLink:
          readOnly: true
          type: string
          description: The URL to get the next set of results.
      description: A list of network function definition group resources.
    NetworkFunctionDefinitionVersionListResult:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/NetworkFunctionDefinitionVersion'
          description: A list of network function definition versions.
        nextLink:
          readOnly: true
          type: string
          description: The URI to get the next set of results.
      description: A list of network function definition versions.
    NetworkFunctionDefinitionVersion:
      description: Network function definition version.
      type: object
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      properties:
        properties:
          x-ms-client-flatten: false
          $ref: '#/components/schemas/NetworkFunctionDefinitionVersionPropertiesFormat'
          description: Network function definition version properties.
    NetworkFunctionDefinitionVersionPropertiesFormat:
      description: Network function definition version properties.
      discriminator:
        propertyName: networkFunctionType
      required:
        - networkFunctionType
      type: object
      properties:
        provisioningState:
          readOnly: true
          x-ms-mutability:
            - read
          $ref: '#/components/schemas/ProvisioningState'
          description: The provisioning state of the network function definition version resource.
        versionState:
          readOnly: true
          description: The network function definition version state.
          $ref: '#/components/schemas/VersionState'
        description:
          type: string
          description: The network function definition version description.
        deployParameters:
          type: string
          description: The deployment parameters of the network function definition version.
        networkFunctionType:
          description: The network function type.
          $ref: '#/components/schemas/NetworkFunctionType'
    ContainerizedNetworkFunctionDefinitionVersion:
      description: Containerized network function network function definition version properties.
      x-ms-discriminator-value: ContainerizedNetworkFunction
      type: object
      allOf:
        - $ref: '#/components/schemas/NetworkFunctionDefinitionVersionPropertiesFormat'
      properties:
        networkFunctionTemplate:
          description: Containerized network function template.
          $ref: '#/components/schemas/ContainerizedNetworkFunctionTemplate'
    VirtualNetworkFunctionNetworkFunctionDefinitionVersion:
      description: Virtual network function network function definition version properties.
      x-ms-discriminator-value: VirtualNetworkFunction
      type: object
      allOf:
        - $ref: '#/components/schemas/NetworkFunctionDefinitionVersionPropertiesFormat'
      properties:
        networkFunctionTemplate:
          description: Virtual network function template.
          $ref: '#/components/schemas/VirtualNetworkFunctionTemplate'
    ContainerizedNetworkFunctionTemplate:
      description: Containerized network function template.
      discriminator:
        propertyName: nfviType
      required:
        - nfviType
      type: object
      properties:
        nfviType:
          type: string
          description: The network function type.
          enum:
            - Unknown
            - AzureArcKubernetes
          x-ms-enum:
            name: ContainerizedNetworkFunctionNFVIType
            modelAsString: true
          x-ms-mutability:
            - read
            - create
    VirtualNetworkFunctionTemplate:
      description: Virtual network function template.
      discriminator:
        propertyName: nfviType
      required:
        - nfviType
      type: object
      properties:
        nfviType:
          type: string
          description: The network function type.
          enum:
            - Unknown
            - AzureCore
            - AzureOperatorNexus
          x-ms-enum:
            name: VirtualNetworkFunctionNFVIType
            modelAsString: true
          x-ms-mutability:
            - read
            - create
    AzureArcKubernetesNetworkFunctionTemplate:
      description: Azure Arc kubernetes network function template.
      x-ms-discriminator-value: AzureArcKubernetes
      type: object
      allOf:
        - $ref: '#/components/schemas/ContainerizedNetworkFunctionTemplate'
      properties:
        networkFunctionApplications:
          type: array
          description: Network function applications.
          items:
            $ref: '#/components/schemas/AzureArcKubernetesNetworkFunctionApplication'
          x-ms-identifiers:
            - name
    AzureArcKubernetesNetworkFunctionApplication:
      description: Azure arc kubernetes network function application definition.
      allOf:
        - $ref: '#/components/schemas/NetworkFunctionApplication'
      type: object
      discriminator:
        propertyName: artifactType
      required:
        - artifactType
      properties:
        artifactType:
          type: string
          description: The artifact type.
          enum:
            - Unknown
            - HelmPackage
          x-ms-enum:
            name: AzureArcKubernetesArtifactType
            modelAsString: true
    AzureArcKubernetesHelmApplication:
      description: Azure arc kubernetes helm application configurations.
      allOf:
        - $ref: '#/components/schemas/AzureArcKubernetesNetworkFunctionApplication'
      x-ms-discriminator-value: HelmPackage
      type: object
      properties:
        artifactProfile:
          description: Azure arc kubernetes artifact profile.
          $ref: '#/components/schemas/AzureArcKubernetesArtifactProfile'
        deployParametersMappingRuleProfile:
          description: Deploy mapping rule profile.
          $ref: '#/components/schemas/AzureArcKubernetesDeployMappingRuleProfile'
    AzureArcKubernetesArtifactProfile:
      description: Azure arc kubernetes artifact profile properties.
      type: object
      allOf:
        - $ref: '#/components/schemas/ArtifactProfile'
      properties:
        helmArtifactProfile:
          description: Helm artifact profile.
          $ref: '#/components/schemas/HelmArtifactProfile'
    HelmArtifactProfile:
      description: Helm artifact profile.
      type: object
      properties:
        helmPackageName:
          type: string
          description: Helm package name.
        helmPackageVersionRange:
          type: string
          description: Helm package version range.
        registryValuesPaths:
          type: array
          description: The registry values path list.
          items:
            description: The registry values path.
            type: string
          x-ms-identifiers: []
        imagePullSecretsValuesPaths:
          type: array
          description: The image pull secrets values path list.
          items:
            description: The image pull secrets values path.
            type: string
          x-ms-identifiers: []
    AzureArcKubernetesDeployMappingRuleProfile:
      description: Azure arc kubernetes deploy mapping rule profile.
      type: object
      allOf:
        - $ref: '#/components/schemas/MappingRuleProfile'
      properties:
        helmMappingRuleProfile:
          description: The helm mapping rule profile.
          $ref: '#/components/schemas/HelmMappingRuleProfile'
    HelmMappingRuleProfile:
      description: Helm mapping rule profile
      type: object
      properties:
        releaseNamespace:
          description: Helm release namespace.
          type: string
        releaseName:
          description: Helm release name.
          type: string
        helmPackageVersion:
          description: Helm package version.
          type: string
        values:
          description: Helm release values.
          type: string
          x-ms-mutability:
            - read
            - create
        options:
          type: object
          description: The helm deployment options
          properties:
            installOptions:
              $ref: '#/components/schemas/HelmInstallOptions'
              description: The helm deployment install options
            upgradeOptions:
              $ref: '#/components/schemas/HelmUpgradeOptions'
              description: The helm deployment upgrade options
    HelmInstallOptions:
      type: object
      description: The helm deployment install options
      properties:
        atomic:
          type: string
          description: The helm deployment atomic options
        wait:
          type: string
          description: The helm deployment wait options
        timeout:
          type: string
          description: The helm deployment timeout options
    HelmUpgradeOptions:
      type: object
      description: The helm deployment install options
      properties:
        atomic:
          type: string
          description: The helm deployment atomic options
        wait:
          type: string
          description: The helm deployment wait options
        timeout:
          type: string
          description: The helm deployment timeout options
    AzureCoreNetworkFunctionTemplate:
      description: Azure virtual network function template.
      x-ms-discriminator-value: AzureCore
      type: object
      allOf:
        - $ref: '#/components/schemas/VirtualNetworkFunctionTemplate'
      properties:
        networkFunctionApplications:
          type: array
          description: Network function applications.
          items:
            $ref: '#/components/schemas/AzureCoreNetworkFunctionApplication'
          x-ms-identifiers:
            - name
    AzureOperatorNexusNetworkFunctionTemplate:
      description: Azure Operator Distributed Services network function template.
      x-ms-discriminator-value: AzureOperatorNexus
      type: object
      allOf:
        - $ref: '#/components/schemas/VirtualNetworkFunctionTemplate'
      properties:
        networkFunctionApplications:
          type: array
          description: Network function applications.
          items:
            $ref: '#/components/schemas/AzureOperatorNexusNetworkFunctionApplication'
          x-ms-identifiers:
            - name
    AzureCoreNetworkFunctionApplication:
      description: Azure virtual network function application definition.
      allOf:
        - $ref: '#/components/schemas/NetworkFunctionApplication'
      type: object
      discriminator:
        propertyName: artifactType
      required:
        - artifactType
      properties:
        artifactType:
          type: string
          description: The artifact type.
          enum:
            - Unknown
            - VhdImageFile
            - ArmTemplate
          x-ms-enum:
            name: AzureCoreArtifactType
            modelAsString: true
    AzureOperatorNexusNetworkFunctionApplication:
      description: Azure Operator Distributed Services network function application definition.
      allOf:
        - $ref: '#/components/schemas/NetworkFunctionApplication'
      type: object
      discriminator:
        propertyName: artifactType
      required:
        - artifactType
      properties:
        artifactType:
          type: string
          description: The artifact type.
          enum:
            - Unknown
            - ImageFile
            - ArmTemplate
          x-ms-enum:
            name: AzureOperatorNexusArtifactType
            modelAsString: true
    AzureCoreNetworkFunctionVhdApplication:
      description: Azure core network function vhd application definition.
      allOf:
        - $ref: '#/components/schemas/AzureCoreNetworkFunctionApplication'
      x-ms-discriminator-value: VhdImageFile
      type: object
      properties:
        artifactProfile:
          description: Azure vhd image artifact profile.
          $ref: '#/components/schemas/AzureCoreVhdImageArtifactProfile'
        deployParametersMappingRuleProfile:
          description: Deploy mapping rule profile.
          $ref: '#/components/schemas/AzureCoreVhdImageDeployMappingRuleProfile'
    AzureCoreNetworkFunctionArmTemplateApplication:
      description: Azure core network function Template application definition.
      allOf:
        - $ref: '#/components/schemas/AzureCoreNetworkFunctionApplication'
      x-ms-discriminator-value: ArmTemplate
      type: object
      properties:
        artifactProfile:
          description: Azure template artifact profile.
          $ref: '#/components/schemas/AzureCoreArmTemplateArtifactProfile'
        deployParametersMappingRuleProfile:
          description: Deploy mapping rule profile.
          $ref: '#/components/schemas/AzureCoreArmTemplateDeployMappingRuleProfile'
    AzureOperatorNexusNetworkFunctionImageApplication:
      description: Azure Operator Distributed Services network function image application definition.
      allOf:
        - $ref: '#/components/schemas/AzureOperatorNexusNetworkFunctionApplication'
      x-ms-discriminator-value: ImageFile
      type: object
      properties:
        artifactProfile:
          description: Azure Operator Distributed Services image artifact profile.
          $ref: '#/components/schemas/AzureOperatorNexusImageArtifactProfile'
        deployParametersMappingRuleProfile:
          description: Deploy mapping rule profile.
          $ref: '#/components/schemas/AzureOperatorNexusImageDeployMappingRuleProfile'
    AzureOperatorNexusNetworkFunctionArmTemplateApplication:
      description: Azure Operator Distributed Services network function Template application definition.
      allOf:
        - $ref: '#/components/schemas/AzureOperatorNexusNetworkFunctionApplication'
      x-ms-discriminator-value: ArmTemplate
      type: object
      properties:
        artifactProfile:
          description: Azure Operator Distributed Services Template artifact profile.
          $ref: '#/components/schemas/AzureOperatorNexusArmTemplateArtifactProfile'
        deployParametersMappingRuleProfile:
          description: Deploy mapping rule profile.
          $ref: '#/components/schemas/AzureOperatorNexusArmTemplateDeployMappingRuleProfile'
    AzureCoreVhdImageArtifactProfile:
      description: Azure vhd artifact profile properties.
      type: object
      allOf:
        - $ref: '#/components/schemas/ArtifactProfile'
      properties:
        vhdArtifactProfile:
          description: Vhd artifact profile.
          $ref: '#/components/schemas/VhdImageArtifactProfile'
    AzureCoreArmTemplateArtifactProfile:
      description: Azure template artifact profile properties.
      type: object
      allOf:
        - $ref: '#/components/schemas/ArtifactProfile'
      properties:
        templateArtifactProfile:
          description: Template artifact profile.
          $ref: '#/components/schemas/ArmTemplateArtifactProfile'
    AzureOperatorNexusImageArtifactProfile:
      description: Azure Operator Distributed Services image artifact profile properties.
      type: object
      allOf:
        - $ref: '#/components/schemas/ArtifactProfile'
      properties:
        imageArtifactProfile:
          description: Image artifact profile.
          $ref: '#/components/schemas/ImageArtifactProfile'
    AzureOperatorNexusArmTemplateArtifactProfile:
      description: Azure Operator Distributed Services vhd artifact profile properties.
      type: object
      allOf:
        - $ref: '#/components/schemas/ArtifactProfile'
      properties:
        templateArtifactProfile:
          description: Template artifact profile.
          $ref: '#/components/schemas/ArmTemplateArtifactProfile'
    AzureCoreVhdImageDeployMappingRuleProfile:
      description: Azure vhd deploy mapping rule profile.
      type: object
      allOf:
        - $ref: '#/components/schemas/MappingRuleProfile'
      properties:
        vhdImageMappingRuleProfile:
          description: The vhd mapping rule profile.
          $ref: '#/components/schemas/VhdImageMappingRuleProfile'
    AzureCoreArmTemplateDeployMappingRuleProfile:
      description: Azure template deploy mapping rule profile.
      type: object
      allOf:
        - $ref: '#/components/schemas/MappingRuleProfile'
      properties:
        templateMappingRuleProfile:
          description: The template mapping rule profile.
          $ref: '#/components/schemas/ArmTemplateMappingRuleProfile'
    AzureOperatorNexusImageDeployMappingRuleProfile:
      description: Azure Operator Distributed Services image deploy mapping rule profile.
      type: object
      allOf:
        - $ref: '#/components/schemas/MappingRuleProfile'
      properties:
        imageMappingRuleProfile:
          description: The vhd mapping rule profile.
          $ref: '#/components/schemas/ImageMappingRuleProfile'
    AzureOperatorNexusArmTemplateDeployMappingRuleProfile:
      description: Azure Operator Distributed Services template deploy mapping rule profile.
      type: object
      allOf:
        - $ref: '#/components/schemas/MappingRuleProfile'
      properties:
        templateMappingRuleProfile:
          description: The template mapping rule profile.
          $ref: '#/components/schemas/ArmTemplateMappingRuleProfile'
    VhdImageArtifactProfile:
      description: Vhd artifact profile.
      type: object
      properties:
        vhdName:
          type: string
          description: Vhd name.
        vhdVersion:
          type: string
          description: Vhd version.
    VhdImageMappingRuleProfile:
      description: Vhd mapping rule profile
      type: object
      properties:
        userConfiguration:
          description: List of values.
          type: string
    ArmTemplateArtifactProfile:
      description: Template artifact profile.
      type: object
      properties:
        templateName:
          type: string
          description: Template name.
        templateVersion:
          type: string
          description: Template version.
    ArmTemplateMappingRuleProfile:
      description: Template mapping rule profile
      type: object
      properties:
        templateParameters:
          description: List of template parameters.
          type: string
    ImageArtifactProfile:
      description: Image artifact profile.
      type: object
      properties:
        imageName:
          type: string
          description: Image name.
        imageVersion:
          type: string
          description: Image version.
    ImageMappingRuleProfile:
      description: Image mapping rule profile
      type: object
      properties:
        userConfiguration:
          description: List of values.
          type: string
    VersionState:
      type: string
      description: The network function definition version state.
      enum:
        - Unknown
        - Preview
        - Validating
        - ValidationFailed
        - Active
        - Deprecated
      x-ms-enum:
        name: versionState
        modelAsString: true
    NetworkFunctionDefinitionVersionUpdateState:
      type: object
      description: Publisher network function definition version update request definition.
      properties:
        versionState:
          description: The network function definition version state. Only the 'Active' and 'Deprecated' states are allowed for updates. Other states are used for internal state transitioning.
          $ref: '#/components/schemas/VersionState'
          x-ms-mutability:
            - read
            - create
  parameters:
    PublisherNameParameter:
      name: publisherName
      in: path
      description: The name of the publisher.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
        maxLength: 64
        type: string
    SiteNameParameter:
      name: siteName
      in: path
      description: The name of the network service site.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
        maxLength: 64
        type: string
    NetworkServiceDesignGroupNameParameter:
      name: networkServiceDesignGroupName
      in: path
      description: The name of the network service design group.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
        maxLength: 64
        type: string
    ConfigurationGroupValueNameParameter:
      name: configurationGroupValueName
      in: path
      description: The name of the configuration group value.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
        maxLength: 64
        type: string
    ConfigurationGroupSchemaNameParameter:
      name: configurationGroupSchemaName
      in: path
      description: The name of the configuration group schema.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
        maxLength: 64
        type: string
    NetworkServiceDesignVersionNameParameter:
      name: networkServiceDesignVersionName
      in: path
      description: 'The name of the network service design version. The name should conform to the SemVer 2.0.0 specification: https://semver.org/spec/v2.0.0.html.'
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$
        maxLength: 64
        type: string
    SiteNetworkServiceNameParameter:
      name: siteNetworkServiceName
      in: path
      description: The name of the site network service.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
        maxLength: 64
        type: string
    NetworkFunctionDefinitionGroupNameParameter:
      name: networkFunctionDefinitionGroupName
      in: path
      description: The name of the network function definition group.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
        maxLength: 64
        type: string
    NetworkFunctionDefinitionVersionNameParameter:
      name: networkFunctionDefinitionVersionName
      in: path
      description: 'The name of the network function definition version. The name should conform to the SemVer 2.0.0 specification: https://semver.org/spec/v2.0.0.html.'
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$
        maxLength: 64
        type: string
    ArtifactStoreParameter:
      name: artifactStoreName
      in: path
      description: The name of the artifact store.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
        maxLength: 64
        type: string
    ArtifactManifestParameter:
      name: artifactManifestName
      in: path
      description: The name of the artifact manifest.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[^\s]*[^\s]+[^\s]*$
        maxLength: 64
        type: string
    PublisherScopeNameParameter:
      name: publisherScopeName
      in: query
      description: The name of the publisher scope.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
        maxLength: 64
        type: string
    PublisherLocationNameParameter:
      name: publisherLocationName
      in: query
      description: The name of the publisher location.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
        maxLength: 64
        type: string
    ProxyPublisherNameParameter:
      name: proxyPublisherName
      in: path
      description: The name of the proxy publisher.
      required: true
[...]
