openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  title: Azure Log Analytics - Operations Management
  description: Azure Log Analytics API reference for Solution.
  version: 2015-11-01-preview
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    OperationListResult:
      description: Result of the request to list solution operations.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Operation'
          x-ms-identifiers:
            - name
          description: List of solution operations supported by the OperationsManagement resource provider.
    Operation:
      description: Supported operation of OperationsManagement resource provider.
      properties:
        name:
          description: 'Operation name: {provider}/{resource}/{operation}'
          type: string
        display:
          description: Display metadata associated with the operation.
          properties:
            provider:
              description: 'Service provider: Microsoft OperationsManagement.'
              type: string
            resource:
              description: Resource on which the operation is performed etc.
              type: string
            operation:
              description: 'Type of operation: get, read, delete, etc.'
              type: string
    SolutionProperties:
      description: Solution properties supported by the OperationsManagement resource provider.
      properties:
        workspaceResourceId:
          type: string
          description: The azure resourceId for the workspace where the solution will be deployed/enabled.
        provisioningState:
          type: string
          description: The provisioning state for the solution.
          readOnly: true
        containedResources:
          type: array
          items:
            type: string
            description: the azure resourceId of the resource.
          description: The azure resources that will be contained within the solutions. They will be locked and gets deleted automatically when the solution is deleted.
        referencedResources:
          type: array
          items:
            type: string
            description: the azure resourceId of the resource.
          description: The resources that will be referenced from this solution. Deleting any of those solution out of band will break the solution.
      required:
        - workspaceResourceId
      x-ms-azure-resource: true
    ManagementAssociationProperties:
      description: ManagementAssociation properties supported by the OperationsManagement resource provider.
      properties:
        applicationId:
          type: string
          description: The applicationId of the appliance for this association.
      required:
        - applicationId
      x-ms-azure-resource: true
    ManagementConfigurationProperties:
      description: ManagementConfiguration properties supported by the OperationsManagement resource provider.
      properties:
        applicationId:
          type: string
          description: The applicationId of the appliance for this Management.
        parentResourceType:
          type: string
          description: The type of the parent resource.
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/ArmTemplateParameter'
          x-ms-identifiers:
            - name
          description: Parameters to run the ARM template
        provisioningState:
          readOnly: true
          type: string
          description: The provisioning state for the ManagementConfiguration.
        template:
          type: object
          description: The Json object containing the ARM template to deploy
      required:
        - parameters
        - parentResourceType
        - template
      x-ms-azure-resource: true
    SolutionPropertiesList:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Solution'
          description: List of solution properties within the subscription.
      description: the list of solution response
    ManagementAssociationPropertiesList:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ManagementAssociation'
          description: List of Management Association properties within the subscription.
      description: the list of ManagementAssociation response
    ManagementConfigurationPropertiesList:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ManagementConfiguration'
          description: List of Management Configuration properties within the subscription.
      description: the list of ManagementConfiguration response
    SolutionPlan:
      description: Plan for solution object supported by the OperationsManagement resource provider.
      properties:
        name:
          type: string
          description: name of the solution to be created. For Microsoft published solution it should be in the format of solutionType(workspaceName). SolutionType part is case sensitive. For third party solution, it can be anything.
        publisher:
          type: string
          description: Publisher name. For gallery solution, it is Microsoft.
        promotionCode:
          type: string
          description: promotionCode, Not really used now, can you left as empty
        product:
          type: string
          description: name of the solution to enabled/add. For Microsoft published gallery solution it should be in the format of OMSGallery/<solutionType>. This is case sensitive
    Solution:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        plan:
          description: Plan for solution object supported by the OperationsManagement resource provider.
          $ref: '#/components/schemas/SolutionPlan'
        properties:
          description: Properties for solution object supported by the OperationsManagement resource provider.
          $ref: '#/components/schemas/SolutionProperties'
      description: The container for solution.
      x-ms-azure-resource: true
    SolutionPatch:
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
      description: The properties of a Solution that can be patched.
      x-ms-azure-resource: true
    ManagementAssociation:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location
        properties:
          description: Properties for ManagementAssociation object supported by the OperationsManagement resource provider.
          $ref: '#/components/schemas/ManagementAssociationProperties'
      description: The container for solution.
      x-ms-azure-resource: true
    ManagementConfiguration:
      properties:
        id:
          readOnly: true
          type: string
          description: Resource ID.
        name:
          readOnly: true
          type: string
          description: Resource name.
        type:
          readOnly: true
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location
        properties:
          description: Properties for ManagementConfiguration object supported by the OperationsManagement resource provider.
          $ref: '#/components/schemas/ManagementConfigurationProperties'
      description: The container for solution.
      x-ms-azure-resource: true
    ArmTemplateParameter:
      description: Parameter to pass to ARM template
      properties:
        name:
          type: string
          description: name of the parameter.
        value:
          type: string
          description: 'value for the parameter. In Jtoken '
    CodeMessageError:
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: The error type.
            message:
              type: string
              description: The error message.
          description: The error details for a failed request.
      description: The error body contract.
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group to get. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[-\w\._\(\)]+$
        minLength: 1
        maxLength: 90
        type: string
    SolutionNameParameter:
      name: solutionName
      in: path
      description: User Solution Name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ManagementAssociationNameParameter:
      name: managementAssociationName
      in: path
      description: User ManagementAssociation Name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ManagementConfigurationNameParameter:
      name: managementConfigurationName
      in: path
      description: User Management Configuration Name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ProviderNameParameter:
      name: providerName
      in: path
      description: Provider name for the parent resource.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceTypeParameter:
      name: resourceType
      in: path
      description: Resource type for the parent resource
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceNameParameter:
      name: resourceName
      in: path
      description: Parent resource name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
paths:
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationsManagement/solutions/{solutionName}:
    x-api-version: 2015-11-01-preview
    put:
      tags:
        - Solution
      x-ms-long-running-operation: true
      operationId: Solutions_CreateOrUpdate
      summary: Create/Update Solution.
      description: Creates or updates the Solution.
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SolutionNameParameter'
      requestBody:
        description: The parameters required to create OMS Solution.
        required: true
        x-ms-requestBody-name: parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Solution'
      responses:
        '201':
          description: Created response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
    patch:
      tags:
        - Solution
      x-ms-long-running-operation: true
      operationId: Solutions_Update
      summary: Patch a Solution.
      description: Patch a Solution. Only updating tags supported.
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SolutionNameParameter'
      requestBody:
        description: The parameters required to patch a Solution.
        required: true
        x-ms-requestBody-name: parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SolutionPatch'
      responses:
        '200':
          description: Patch succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
    delete:
      tags:
        - Solution
      x-ms-long-running-operation: true
      operationId: Solutions_Delete
      summary: Deletes the solution
      description: Deletes the solution in the subscription.
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/SolutionNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK response definition.
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
    get:
      tags:
        - Solution
      operationId: Solutions_Get
      summary: Retrieve solution.
      description: Retrieves the user solution.
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/SolutionNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationsManagement/solutions:
    x-api-version: 2015-11-01-preview
    get:
      tags:
        - Solution
      operationId: Solutions_ListByResourceGroup
      summary: Retrieves the solution list for the subscription
      description: Retrieves the solution list. It will retrieve both first party and third party solutions
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionPropertiesList'
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
  /subscriptions/{subscriptionId}/providers/Microsoft.OperationsManagement/solutions:
    x-api-version: 2015-11-01-preview
    get:
      tags:
        - Solution
      operationId: Solutions_ListBySubscription
      summary: Retrieves the solution list for the subscription
      description: Retrieves the solution list. It will retrieve both first party and third party solutions
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionPropertiesList'
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
  /subscriptions/{subscriptionId}/providers/Microsoft.OperationsManagement/ManagementAssociations:
    x-api-version: 2015-11-01-preview
    get:
      tags:
        - ManagementAssociation
      operationId: ManagementAssociations_ListBySubscription
      summary: Retrieves the ManagementAssociations list for the subscription
      description: Retrieves the ManagementAssociations list.
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAssociationPropertiesList'
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.OperationsManagement/ManagementAssociations/{managementAssociationName}:
    x-api-version: 2015-11-01-preview
    put:
      tags:
        - ManagementAssociation
      operationId: ManagementAssociations_CreateOrUpdate
      summary: Create/Update ManagementAssociation.
      description: Creates or updates the ManagementAssociation.
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ProviderNameParameter'
        - $ref: '#/components/parameters/ResourceTypeParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ManagementAssociationNameParameter'
      requestBody:
        description: The parameters required to create ManagementAssociation extension.
        required: true
        x-ms-requestBody-name: parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagementAssociation'
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAssociation'
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
    delete:
      tags:
        - ManagementAssociation
      operationId: ManagementAssociations_Delete
      summary: Deletes the ManagementAssociation
      description: Deletes the ManagementAssociation in the subscription.
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ProviderNameParameter'
        - $ref: '#/components/parameters/ResourceTypeParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ManagementAssociationNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK response definition.
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
    get:
      tags:
        - ManagementAssociation
      operationId: ManagementAssociations_Get
      summary: Retrieve ManagementAssociation.
      description: Retrieves the user ManagementAssociation.
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ProviderNameParameter'
        - $ref: '#/components/parameters/ResourceTypeParameter'
        - $ref: '#/components/parameters/ResourceNameParameter'
        - $ref: '#/components/parameters/ManagementAssociationNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementAssociation'
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
  /subscriptions/{subscriptionId}/providers/Microsoft.OperationsManagement/ManagementConfigurations:
    x-api-version: 2015-11-01-preview
    get:
      tags:
        - ManagementConfiguration
      operationId: ManagementConfigurations_ListBySubscription
      summary: Retrieves the ManagementConfigurations list for the subscription
      description: Retrieves the ManagementConfigurations list.
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementConfigurationPropertiesList'
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationsManagement/ManagementConfigurations/{managementConfigurationName}:
    x-api-version: 2015-11-01-preview
    put:
      tags:
        - ManagementConfiguration
      operationId: ManagementConfigurations_CreateOrUpdate
      summary: Create/Update ManagementConfiguration.
      description: Creates or updates the ManagementConfiguration.
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ManagementConfigurationNameParameter'
      requestBody:
        description: The parameters required to create OMS Solution.
        required: true
        x-ms-requestBody-name: parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagementConfiguration'
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementConfiguration'
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
    delete:
      tags:
        - ManagementConfiguration
      operationId: ManagementConfigurations_Delete
      summary: Deletes the ManagementConfiguration
      description: Deletes the ManagementConfiguration in the subscription.
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ManagementConfigurationNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK response definition.
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
    get:
      tags:
        - ManagementConfiguration
      operationId: ManagementConfigurations_Get
      summary: Retrieve ManagementConfiguration.
      description: Retrieves the user ManagementConfiguration.
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ManagementConfigurationNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementConfiguration'
        default:
          description: Error response definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessageError'
  /providers/Microsoft.OperationsManagement/operations:
    x-api-version: 2015-11-01-preview
    get:
      tags:
        - Operations
      description: Lists all of the available OperationsManagement Rest API operations.
      operationId: Operations_List
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
      x-ms-pageable:
        nextLinkName: null
