openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  title: Azure Monitor Workspaces Control Plane API
  description: Provides operations for working with Azure Monitor Workspaces
  version: '2023-04-03'
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  contact:
    email: obsaccounts@microsoft.com
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Resource:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: Azure resource Id
        name:
          type: string
          readOnly: true
          description: Azure resource name
        type:
          type: string
          readOnly: true
          description: Azure resource type
        location:
          type: string
          description: Resource location
          x-ms-mutability:
            - create
            - read
        tags:
          type: object
          additionalProperties:
            type: string
          description: Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater in length than 128 characters and a value no greater in length than 256 characters.
        systemData:
          readOnly: true
          description: The system metadata related to the response.
          $ref: '#/components/schemas/systemData'
      required:
        - location
      x-ms-azure-resource: true
      description: The autoscale setting resource.
    AzureEntityResource:
      x-ms-client-name: AzureEntityResource
      title: Entity Resource
      description: The resource model definition for an Azure Resource Manager resource with an etag.
      type: object
      properties:
        etag:
          type: string
          readOnly: true
          description: Resource Etag.
      allOf:
        - $ref: '#/components/schemas/Resource'
    TrackedResource:
      title: Tracked Resource
      description: The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
            - read
            - create
            - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
            - read
            - create
          description: The geo-location where the resource lives
      required:
        - location
      allOf:
        - $ref: '#/components/schemas/Resource'
    ProxyResource:
      title: Proxy Resource
      description: The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a location
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
    ResourceModelWithAllowedPropertySet:
      description: The resource model definition containing the full set of allowed properties for a resource. Except properties bag, there cannot be a top level property outside of this set.
      type: object
      properties:
        managedBy:
          type: string
          x-ms-mutability:
            - read
            - create
            - update
          description: The fully qualified resource ID of the resource that manages this resource. Indicates if this resource is managed by another Azure resource. If this is present, complete mode deployment will not delete the resource if it is removed from the template since it is managed by another resource.
        kind:
          type: string
          x-ms-mutability:
            - read
            - create
          description: Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value.
          pattern: ^[-\w\._,\(\)]+$
        etag:
          readOnly: true
          type: string
          description: 'The etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields. '
        identity:
          allOf:
            - $ref: '#/components/schemas/Identity'
        sku:
          allOf:
            - $ref: '#/components/schemas/Sku'
        plan:
          allOf:
            - $ref: '#/components/schemas/Plan'
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      x-ms-azure-resource: true
    SkuTier:
      type: string
      enum:
        - Free
        - Basic
        - Standard
        - Premium
      x-ms-enum:
        name: SkuTier
        modelAsString: false
      description: This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT.
    Sku:
      description: The resource model definition representing SKU
      type: object
      properties:
        name:
          type: string
          description: The name of the SKU. Ex - P3. It is typically a letter+number code
        tier:
          $ref: '#/components/schemas/SkuTier'
        size:
          type: string
          description: 'The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. '
        family:
          type: string
          description: If the service has different generations of hardware, for the same SKU, then that can be captured here.
        capacity:
          type: integer
          format: int32
          description: If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted.
      required:
        - name
    Identity:
      properties:
        principalId:
          readOnly: true
          type: string
          description: The principal ID of resource identity.
        tenantId:
          readOnly: true
          type: string
          description: The tenant ID of resource.
        type:
          type: string
          description: Type of managed service identity.
          enum:
            - SystemAssigned
            - UserAssigned
            - None
          x-ms-enum:
            name: IdentityType
            modelAsString: false
        userAssignedIdentities:
          description: 'The list of user identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}''.'
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserIdentityProperties'
      required:
        - type
      type: object
      description: Identity for the resource.
    Plan:
      type: object
      properties:
        name:
          type: string
          description: A user defined name of the 3rd Party Artifact that is being procured.
        publisher:
          type: string
          description: The publisher of the 3rd Party Artifact that is being bought. E.g. NewRelic
        product:
          type: string
          description: 'The 3rd Party artifact that is being procured. E.g. NewRelic. Product maps to the OfferID specified for the artifact at the time of Data Market onboarding. '
        promotionCode:
          type: string
          description: A publisher provided promotion code as provisioned in Data Market for the said product/artifact.
        version:
          type: string
          description: The version of the desired product/artifact.
      description: Plan for the resource.
      required:
        - name
        - publisher
        - product
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
          x-ms-identifiers:
            - message
            - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          description: The error additional info.
    ErrorResponse:
      description: Describes the format of Error response.
      type: object
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    Operation:
      title: REST API Operation
      description: Details of a REST API operation, returned from the Resource Provider Operations API
      type: object
      properties:
        name:
          description: 'The name of the operation, as per Resource-Based Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write", "Microsoft.Compute/virtualMachines/capture/action"'
          type: string
          readOnly: true
        isDataAction:
          description: Whether the operation applies to data-plane. This is "true" for data-plane operations and "false" for ARM/control-plane operations.
          type: boolean
          readOnly: true
        display:
          description: Localized display information for this particular operation.
          type: object
          properties:
            provider:
              description: The localized friendly form of the resource provider name, e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".
              type: string
              readOnly: true
            resource:
              description: The localized friendly name of the resource type related to this operation. E.g. "Virtual Machines" or "Job Schedule Collections".
              type: string
              readOnly: true
            operation:
              description: The concise, localized friendly name for the operation; suitable for dropdowns. E.g. "Create or Update Virtual Machine", "Restart Virtual Machine".
              type: string
              readOnly: true
            description:
              description: The short, localized friendly description of the operation; suitable for tool tips and detailed views.
              type: string
              readOnly: true
        origin:
          description: The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is "user,system"
          type: string
          readOnly: true
          enum:
            - user
            - system
            - user,system
          x-ms-enum:
            name: Origin
            modelAsString: true
        actionType:
          description: Enum. Indicates the action type. "Internal" refers to actions that are for internal only APIs.
          type: string
          readOnly: true
          enum:
            - Internal
          x-ms-enum:
            name: ActionType
            modelAsString: true
    OperationListResult:
      description: A list of REST API operations supported by an Azure Resource Provider. It contains an URL link to get the next set of results.
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Operation'
          x-ms-identifiers:
            - name
          description: List of operations supported by the resource provider
          readOnly: true
        nextLink:
          type: string
          description: URL to get the next set of operation list results (if there are any).
          readOnly: true
    OperationStatusResult:
      description: The current status of an async operation.
      type: object
      required:
        - status
      properties:
        id:
          description: Fully qualified ID for the async operation.
          type: string
        name:
          description: Name of the async operation.
          type: string
        status:
          description: Operation status.
          type: string
        percentComplete:
          description: Percent of the operation that is complete.
          type: number
          minimum: 0
          maximum: 100
        startTime:
          description: The start time of the operation.
          type: string
          format: date-time
        endTime:
          description: The end time of the operation.
          type: string
          format: date-time
        operations:
          description: The operations list.
          type: array
          items:
            $ref: '#/components/schemas/OperationStatusResult'
        error:
          description: If present, details of the operation error.
          $ref: '#/components/schemas/ErrorDetail'
    locationData:
      description: Metadata pertaining to the geographic location of the resource.
      type: object
      properties:
        name:
          type: string
          maxLength: 256
          description: A canonical name for the geographic or physical location.
        city:
          type: string
          description: The city or locality where the resource is located.
        district:
          type: string
          description: The district, state, or province where the resource is located.
        countryOrRegion:
          type: string
          description: The country or region where the resource is located
      required:
        - name
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
    encryptionProperties:
      description: Configuration of key for data encryption
      type: object
      properties:
        status:
          description: Indicates whether or not the encryption is enabled for container registry.
          enum:
            - enabled
            - disabled
          type: string
          x-ms-enum:
            name: EncryptionStatus
            modelAsString: true
        keyVaultProperties:
          $ref: '#/components/schemas/KeyVaultProperties'
          description: Key vault properties.
    KeyVaultProperties:
      type: object
      properties:
        keyIdentifier:
          description: Key vault uri to access the encryption key.
          type: string
        identity:
          description: The client ID of the identity which will be used to access key vault.
          type: string
    CheckNameAvailabilityRequest:
      description: The check availability request body.
      type: object
      properties:
        name:
          description: The name of the resource for which availability needs to be checked.
          type: string
        type:
          description: The resource type.
          type: string
    CheckNameAvailabilityResponse:
      description: The check availability result.
      type: object
      properties:
        nameAvailable:
          description: Indicates if the resource name is available.
          type: boolean
        reason:
          description: The reason why the given name is not available.
          type: string
          enum:
            - Invalid
            - AlreadyExists
          x-ms-enum:
            name: CheckNameAvailabilityReason
            modelAsString: true
        message:
          description: Detailed reason why the given name is available.
          type: string
    Metrics:
      description: Properties related to the metrics container in the Azure Monitor Workspace
      type: object
      properties:
        prometheusQueryEndpoint:
          description: The Prometheus query endpoint for the Azure Monitor Workspace
          type: string
          readOnly: true
          x-ms-mutability:
            - read
        internalId:
          description: An internal identifier for the metrics container. Only to be used by the system
          type: string
          readOnly: true
          x-ms-mutability:
            - read
    IngestionSettings:
      description: Settings for data ingestion
      type: object
      properties:
        dataCollectionRuleResourceId:
          description: The Azure resource Id of the default data collection rule for this Azure Monitor Workspace.
          type: string
          readOnly: true
          x-ms-mutability:
            - read
        dataCollectionEndpointResourceId:
          description: The Azure resource Id of the default data collection endpoint for this Azure Monitor Workspace.
          type: string
          readOnly: true
          x-ms-mutability:
            - read
    AzureMonitorWorkspace:
      description: Properties of an Azure Monitor Workspace
      type: object
      properties:
        accountId:
          description: The immutable Id of the Azure Monitor Workspace. This property is read-only.
          type: string
          readOnly: true
          x-ms-mutability:
            - read
        metrics:
          description: Properties related to the metrics container in the Azure Monitor Workspace
          allOf:
            - $ref: '#/components/schemas/Metrics'
          readOnly: true
          x-ms-mutability:
            - read
        provisioningState:
          description: The provisioning state of the Azure Monitor Workspace. Set to Succeeded if everything is healthy.
          enum:
            - Creating
            - Succeeded
            - Deleting
            - Failed
            - Canceled
          type: string
          readOnly: true
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
          x-ms-mutability:
            - read
        defaultIngestionSettings:
          description: The Data Collection Rule and Endpoint used for ingestion by default.
          allOf:
            - $ref: '#/components/schemas/IngestionSettings'
          readOnly: true
          x-ms-mutability:
            - read
        privateEndpointConnections:
          description: List of private endpoint connections
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          readOnly: true
          x-ms-mutability:
            - read
          x-ms-identifiers:
            - id
        publicNetworkAccess:
          description: Gets or sets allow or disallow public network access to Azure Monitor Workspace
          enum:
            - Enabled
            - Disabled
          type: string
          readOnly: true
          x-ms-enum:
            name: PublicNetworkAccess
            modelAsString: true
          x-ms-mutability:
            - read
    AzureMonitorWorkspaceResource:
      description: An Azure Monitor Workspace definition
      required:
        - location
      type: object
      properties:
        properties:
          description: Resource properties
          allOf:
            - $ref: '#/components/schemas/AzureMonitorWorkspace'
          x-ms-client-flatten: true
        etag:
          description: Resource entity tag (ETag)
          type: string
          readOnly: true
          x-ms-mutability:
            - read
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      x-ms-azure-resource: true
    AzureMonitorWorkspaceResourceListResult:
      description: A pageable list of resources
      required:
        - value
      type: object
      properties:
        value:
          description: A list of resources
          type: array
          items:
            $ref: '#/components/schemas/AzureMonitorWorkspaceResource'
        nextLink:
          description: The URL to use for getting the next set of results
          type: string
    AzureMonitorWorkspaceResourceForUpdate:
      description: Definition of ARM tracked top level resource properties for the Update operation
      type: object
      properties:
        tags:
          description: Resource tags
          type: object
          additionalProperties:
            type: string
    AzureResource:
      description: An Azure resource object.
      x-ms-azure-resource: true
      type: object
      properties:
        id:
          description: The resource Id.
          type: string
          readOnly: true
        name:
          description: The name of the resource.
          type: string
          readOnly: true
        type:
          description: The type of the resource.
          type: string
          readOnly: true
        location:
          description: The location of the resource. Since Azure Activity Log Alerts is a global service, the location of the rules should always be 'global'.
          type: string
          default: global
          x-ms-mutability:
            - read
            - create
        tags:
          description: The tags of the resource.
          type: object
          additionalProperties:
            type: string
    TestNotificationDetailsResponse:
      description: The details of the test notification results.
      type: object
      properties:
        context:
          type: object
          $ref: '#/components/schemas/Context'
        state:
          type: string
          description: The overall state
        completedTime:
          type: string
          description: The completed time
        createdTime:
          type: string
          description: The created time
        actionDetails:
          x-ms-identifiers: []
          type: array
          items:
            $ref: '#/components/schemas/ActionDetail'
          description: The list of action detail
      required:
        - state
    ActionDetail:
      description: The action detail
      type: object
      properties:
        mechanismType:
          type: string
          description: The mechanism type
        name:
          type: string
          description: The name of the action
        status:
          type: string
          description: The status of the action
        subState:
          type: string
          description: The substatus of the action
        sendTime:
          type: string
          description: The send time
        message:
          type: string
          description: The detail of the friendly error message
    Context:
      description: The context info
      type: object
      properties:
        notificationSource:
          type: string
          description: The source of the notification request
        contextType:
          type: string
          description: The context id type
    ActionGroupResource:
      description: An action group resource.
      type: object
      allOf:
        - $ref: '#/components/schemas/AzureResource'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ActionGroup'
          description: The action groups properties of the resource.
    ActionGroupList:
      description: A list of action groups.
      type: object
      properties:
        value:
          x-ms-identifiers: []
          type: array
          items:
            $ref: '#/components/schemas/ActionGroupResource'
          description: The list of action groups.
        nextLink:
          type: string
          description: Provides the link to retrieve the next set of elements.
    NotificationRequestBody:
      description: The request body which contain contact detail metadata
      type: object
      properties:
        alertType:
          type: string
          maxLength: 30
          description: 'The value of the supported alert type. Supported alert type values are: servicehealth, metricstaticthreshold, metricsdynamicthreshold, logalertv2, smartalert, webtestalert, logalertv1numresult, logalertv1metricmeasurement, resourcehealth, activitylog, actualcostbudget, forecastedbudget'
        emailReceivers:
          x-ms-identifiers: []
          type: array
          items:
            $ref: '#/components/schemas/EmailReceiver'
          description: The list of email receivers that are part of this action group.
        smsReceivers:
          x-ms-identifiers: []
          type: array
          items:
            $ref: '#/components/schemas/SmsReceiver'
          description: The list of SMS receivers that are part of this action group.
        webhookReceivers:
          x-ms-identifiers: []
          type: array
          items:
            $ref: '#/components/schemas/WebhookReceiver'
          description: The list of webhook receivers that are part of this action group.
        itsmReceivers:
          x-ms-identifiers: []
          type: array
          items:
            $ref: '#/components/schemas/ItsmReceiver'
          description: The list of ITSM receivers that are part of this action group.
        azureAppPushReceivers:
          x-ms-identifiers: []
          type: array
          items:
            $ref: '#/components/schemas/AzureAppPushReceiver'
          description: The list of AzureAppPush receivers that are part of this action group.
        automationRunbookReceivers:
          x-ms-identifiers: []
          type: array
          items:
            $ref: '#/components/schemas/AutomationRunbookReceiver'
          description: The list of AutomationRunbook receivers that are part of this action group.
        voiceReceivers:
          x-ms-identifiers: []
          type: array
          items:
            $ref: '#/components/schemas/VoiceReceiver'
          description: The list of voice receivers that are part of this action group.
        logicAppReceivers:
          x-ms-identifiers: []
          type: array
          items:
            $ref: '#/components/schemas/LogicAppReceiver'
          description: The list of logic app receivers that are part of this action group.
        azureFunctionReceivers:
          x-ms-identifiers: []
          type: array
          items:
            $ref: '#/components/schemas/AzureFunctionReceiver'
          description: The list of azure function receivers that are part of this action group.
        armRoleReceivers:
          x-ms-identifiers: []
          type: array
          items:
            $ref: '#/components/schemas/ArmRoleReceiver'
          description: The list of ARM role receivers that are part of this action group. Roles are Azure RBAC roles and only built-in roles are supported.
        eventHubReceivers:
          x-ms-identifiers: []
          type: array
          items:
            $ref: '#/components/schemas/EventHubReceiver'
          description: The list of event hub receivers that are part of this action group.
      required:
        - alertType
    ActionGroup:
      description: A pointer to an Azure Action Group.
      properties:
        actionGroupId:
          description: The resource ID of the Action Group. This cannot be null or empty.
          type: string
        webhookProperties:
          description: the dictionary of custom properties to include with the post operation. These data are appended to the webhook payload.
          additionalProperties:
            type: string
      required:
        - actionGroupId
    EmailReceiver:
      description: An email receiver.
      type: object
      properties:
        name:
          type: string
          description: The name of the email receiver. Names must be unique across all receivers within a tenant action group.
        emailAddress:
          type: string
          description: The email address of this receiver.
        useCommonAlertSchema:
          type: boolean
          default: false
          description: Indicates whether to use common alert schema.
        status:
          readOnly: true
          $ref: '#/components/schemas/ReceiverStatus'
          description: The receiver status of the e-mail.
      required:
        - name
        - emailAddress
    SmsReceiver:
      description: An SMS receiver.
      type: object
      properties:
        name:
          type: string
          description: The name of the SMS receiver. Names must be unique across all receivers within a tenant action group.
        countryCode:
          type: string
          description: The country code of the SMS receiver.
        phoneNumber:
          type: string
          description: The phone number of the SMS receiver.
        status:
          readOnly: true
          $ref: '#/components/schemas/ReceiverStatus'
          description: The status of the receiver.
      required:
        - name
        - countryCode
        - phoneNumber
    WebhookReceiver:
      description: A webhook receiver.
      type: object
      properties:
        name:
          type: string
          description: The name of the webhook receiver. Names must be unique across all receivers within a tenant action group.
        serviceUri:
          type: string
          description: The URI where webhooks should be sent.
        useCommonAlertSchema:
          type: boolean
          default: false
          description: Indicates whether to use common alert schema.
        useAadAuth:
          type: boolean
          default: false
          description: Indicates whether or not use AAD authentication.
        objectId:
          type: string
          description: Indicates the webhook app object Id for aad auth.
        identifierUri:
          type: string
          description: Indicates the identifier uri for aad auth.
        tenantId:
          type: string
          description: Indicates the tenant id for aad auth.
      required:
        - name
        - serviceUri
    ItsmReceiver:
      description: An Itsm receiver.
      type: object
      properties:
        name:
          type: string
          description: The name of the Itsm receiver. Names must be unique across all receivers within an action group.
        workspaceId:
          type: string
          description: OMS LA instance identifier.
        connectionId:
          type: string
          description: Unique identification of ITSM connection among multiple defined in above workspace.
        ticketConfiguration:
          type: string
          description: JSON blob for the configurations of the ITSM action. CreateMultipleWorkItems option will be part of this blob as well.
        region:
          type: string
          description: Region in which workspace resides. Supported values:'centralindia','japaneast','southeastasia','australiasoutheast','uksouth','westcentralus','canadacentral','eastus','westeurope'
      required:
        - name
        - workspaceId
        - connectionId
        - ticketConfiguration
        - region
    EventHubReceiver:
      description: An Event hub receiver.
      type: object
      properties:
        name:
          type: string
          description: The name of the Event hub receiver. Names must be unique across all receivers within an action group.
        eventHubNameSpace:
          type: string
          description: The Event Hub namespace
        eventHubName:
          type: string
          description: The name of the specific Event Hub queue
        useCommonAlertSchema:
          type: boolean
          default: false
          description: Indicates whether to use common alert schema.
        tenantId:
          type: string
          description: The tenant Id for the subscription containing this event hub
        subscriptionId:
          type: string
          description: The Id for the subscription containing this event hub
      required:
        - name
        - eventHubNameSpace
        - eventHubName
        - subscriptionId
    AzureAppPushReceiver:
      description: The Azure mobile App push notification receiver.
      type: object
      properties:
        name:
          type: string
          description: The name of the Azure mobile app push receiver. Names must be unique across all receivers within a tenant action group.
        emailAddress:
          type: string
          description: The email address registered for the Azure mobile app.
      required:
        - name
        - emailAddress
    AutomationRunbookReceiver:
      description: The Azure Automation Runbook notification receiver.
      type: object
      properties:
        automationAccountId:
          type: string
          description: The Azure automation account Id which holds this runbook and authenticate to Azure resource.
        runbookName:
          type: string
          description: The name for this runbook.
        webhookResourceId:
          type: string
          description: The resource id for webhook linked to this runbook.
        isGlobalRunbook:
          type: boolean
          description: Indicates whether this instance is global runbook.
        name:
          type: string
          description: Indicates name of the webhook.
        serviceUri:
          type: string
          description: The URI where webhooks should be sent.
        useCommonAlertSchema:
          type: boolean
          default: false
          description: Indicates whether to use common alert schema.
      required:
        - automationAccountId
        - runbookName
        - webhookResourceId
        - isGlobalRunbook
    VoiceReceiver:
      description: A voice receiver.
      type: object
      properties:
        name:
          type: string
          description: The name of the voice receiver. Names must be unique across all receivers within a tenant action group.
        countryCode:
          type: string
          description: The country code of the voice receiver.
        phoneNumber:
          type: string
          description: The phone number of the voice receiver.
      required:
        - name
        - countryCode
        - phoneNumber
    LogicAppReceiver:
      description: A logic app receiver.
      type: object
      properties:
        name:
          type: string
          description: The name of the logic app receiver. Names must be unique across all receivers within an action group.
        resourceId:
          type: string
          description: The azure resource id of the logic app receiver.
        callbackUrl:
          type: string
          description: The callback url where http request sent to.
        useCommonAlertSchema:
          type: boolean
          default: false
          description: Indicates whether to use common alert schema.
      required:
        - name
        - resourceId
        - callbackUrl
    AzureFunctionReceiver:
      description: An azure function receiver.
      type: object
      properties:
        name:
          type: string
          description: The name of the azure function receiver. Names must be unique across all receivers within an action group.
        functionAppResourceId:
          type: string
          description: The azure resource id of the function app.
        functionName:
          type: string
          description: The function name in the function app.
        httpTriggerUrl:
          type: string
          description: The http trigger url where http request sent to.
        useCommonAlertSchema:
          type: boolean
          default: false
          description: Indicates whether to use common alert schema.
      required:
        - name
        - functionAppResourceId
        - functionName
        - httpTriggerUrl
    ArmRoleReceiver:
      description: An arm role receiver.
      type: object
      properties:
        name:
          type: string
          description: The name of the arm role receiver. Names must be unique across all receivers within an action group.
        roleId:
          type: string
          description: The arm role id.
        useCommonAlertSchema:
          type: boolean
          default: false
          description: Indicates whether to use common alert schema.
      required:
        - name
        - roleId
    ReceiverStatus:
      type: string
      enum:
        - NotSpecified
        - Enabled
        - Disabled
      x-ms-enum:
        name: ReceiverStatus
        modelAsString: false
      description: Indicates the status of the receiver. Receivers that are not Enabled will not receive any communications.
    EnableRequest:
      description: Describes a receiver that should be resubscribed.
      type: object
      properties:
        receiverName:
          type: string
          description: The name of the receiver to resubscribe.
      required:
        - receiverName
    ActionGroupPatchBody:
      description: A tenant action group object for the body of patch operations.
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ActionGroupPatch'
          description: The action group settings for an update operation.
    ActionGroupPatch:
      description: A tenant action group for patch operations.
      type: object
      properties:
        enabled:
          type: boolean
          default: true
          description: Indicates whether this tenant action group is enabled. If a tenant action group is not enabled, then none of its actions will be activated.
    OperationStatus:
      description: The status of operation.
      type: object
      properties:
        id:
          type: string
          description: The operation Id.
        name:
          type: string
          description: The operation name.
        startTime:
          type: string
          format: date-time
          nullable: true
          description: Start time of the job in standard ISO8601 format.
        endTime:
          type: string
          format: date-time
          nullable: true
          description: End time of the job in standard ISO8601 format.
        status:
          type: string
          description: The status of the operation.
        error:
          type: object
          description: The error detail of the operation if any.
          $ref: '#/components/schemas/ErrorDetail'
          nullable: true
          x-nullable: true
    TagsResource:
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
      description: A container holding only the Tags for a resource, allowing the user to update the tags on a PrivateLinkScope instance.
    AzureMonitorPrivateLinkScope:
      properties:
        properties:
          x-ms-client-flatten: true
          description: Properties that define a Azure Monitor PrivateLinkScope resource.
          $ref: '#/components/schemas/AzureMonitorPrivateLinkScopeProperties'
        systemData:
          $ref: '#/components/schemas/systemData'
          description: System data
          readOnly: true
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      required:
        - properties
      description: An Azure Monitor PrivateLinkScope definition.
    AzureMonitorPrivateLinkScopeProperties:
      description: Properties that define a Azure Monitor PrivateLinkScope resource.
      properties:
        provisioningState:
          type: string
          description: 'Current state of this PrivateLinkScope: whether or not is has been provisioned within the resource group it is defined. Users cannot change this value but are able to read from it. Values will include Provisioning ,Succeeded, Canceled and Failed.'
          readOnly: true
        privateEndpointConnections:
          readOnly: true
          description: List of private endpoint connections.
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
        accessModeSettings:
          type: object
          $ref: '#/components/schemas/AccessModeSettings'
          description: Access mode settings
      required:
        - accessModeSettings
    AccessModeSettings:
      type: object
      description: Properties that define the scope private link mode settings.
      properties:
        queryAccessMode:
          description: Specifies the default access mode of queries through associated private endpoints in scope. If not specified default value is 'Open'. You can override this default setting for a specific private endpoint connection by adding an exclusion in the 'exclusions' array.
          $ref: '#/components/schemas/AccessMode'
        ingestionAccessMode:
          description: Specifies the default access mode of ingestion through associated private endpoints in scope. If not specified default value is 'Open'. You can override this default setting for a specific private endpoint connection by adding an exclusion in the 'exclusions' array.
          $ref: '#/components/schemas/AccessMode'
        exclusions:
          description: List of exclusions that override the default access mode settings for specific private endpoint connections.
          type: array
          items:
            $ref: '#/components/schemas/AccessModeSettingsExclusion'
      required:
        - queryAccessMode
        - ingestionAccessMode
    AccessModeSettingsExclusion:
      type: object
      description: Properties that define the scope private link mode settings exclusion item. This setting applies to a specific private endpoint connection and overrides the default settings for that private endpoint connection.
      properties:
        privateEndpointConnectionName:
          description: The private endpoint connection name associated to the private endpoint on which we want to apply the specific access mode settings.
          type: string
        queryAccessMode:
          description: Specifies the access mode of queries through the specified private endpoint connection in the exclusion.
          $ref: '#/components/schemas/AccessMode'
        ingestionAccessMode:
          description: Specifies the access mode of ingestion through the specified private endpoint connection in the exclusion.
          $ref: '#/components/schemas/AccessMode'
    AccessMode:
      description: Access mode types.
      type: string
      enum:
        - Open
        - PrivateOnly
      x-ms-enum:
        name: AccessMode
        modelAsString: true
    AzureMonitorPrivateLinkScopeListResult:
      description: Describes the list of Azure Monitor PrivateLinkScope resources.
      required:
        - value
      properties:
        value:
          type: array
          description: List of Azure Monitor PrivateLinkScope definitions.
          items:
            $ref: '#/components/schemas/AzureMonitorPrivateLinkScope'
        nextLink:
          type: string
          description: The URI to get the next set of Azure Monitor PrivateLinkScope definitions if too many PrivateLinkScopes where returned in the result set.
    ScopedResourceListResult:
      description: A list of scoped resources in a private link scope.
      type: object
      properties:
        value:
          description: Array of results.
          type: array
          items:
            $ref: '#/components/schemas/ScopedResource'
          readOnly: true
        nextLink:
          description: Link to retrieve next page of results.
          type: string
          readOnly: true
    ScopedResource:
      description: A private link scoped resource
      type: object
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          $ref: '#/components/schemas/ScopedResourceProperties'
          description: Resource properties.
          x-ms-client-flatten: true
        systemData:
          $ref: '#/components/schemas/systemData'
          description: System data
          readOnly: true
    ScopedResourceProperties:
      description: Properties of a private link scoped resource.
      type: object
      properties:
        linkedResourceId:
          description: The resource id of the scoped Azure monitor resource.
          type: string
        provisioningState:
          description: State of the private endpoint connection.
          type: string
          readOnly: true
    DefaultErrorResponse:
      title: Default error response
      description: Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).
      type: object
      properties:
        error:
          description: The error object.
          $ref: '#/components/schemas/ErrorDetail'
    LocalizableString:
      type: object
      required:
        - value
      properties:
        value:
          type: string
          description: The invariant value.
        localizedValue:
          type: string
          description: The display name.
      description: The localizable string class.
    SenderAuthorization:
      properties:
        action:
          type: string
          description: 'the permissible actions. For instance: microsoft.support/supporttickets/write'
        role:
          type: string
          description: 'the role of the user. For instance: Subscription Admin'
        scope:
          type: string
          description: the scope.
      description: the authorization used by the user who has performed the operation that led to this event. This captures the RBAC properties of the event. These usually include the 'action', 'role' and the 'scope'
    HttpRequestInfo:
      properties:
        clientRequestId:
          type: string
          description: the client request id.
        clientIpAddress:
          type: string
          description: the client Ip Address
        method:
          type: string
          description: the Http request method.
        uri:
          type: string
          description: the Uri.
      description: The Http request info.
    EventData:
      properties:
        authorization:
          readOnly: true
          $ref: '#/components/schemas/SenderAuthorization'
          description: The sender authorization information.
        claims:
          readOnly: true
          type: object
          additionalProperties:
            type: string
          description: key value pairs to identify ARM permissions.
        caller:
          readOnly: true
          type: string
          description: the email address of the user who has performed the operation, the UPN claim or SPN claim based on availability.
        description:
          readOnly: true
          type: string
          description: the description of the event.
        id:
          readOnly: true
          type: string
          description: the Id of this event as required by ARM for RBAC. It contains the EventDataID and a timestamp information.
        eventDataId:
          readOnly: true
          type: string
          description: the event data Id. This is a unique identifier for an event.
        correlationId:
          readOnly: true
          type: string
          description: the correlation Id, usually a GUID in the string format. The correlation Id is shared among the events that belong to the same uber operation.
        eventName:
          readOnly: true
          $ref: '#/components/schemas/LocalizableString'
          description: the event name. This value should not be confused with OperationName. For practical purposes, OperationName might be more appealing to end users.
        category:
          readOnly: true
          $ref: '#/components/schemas/LocalizableString'
          description: the event category.
        httpRequest:
          readOnly: true
          $ref: '#/components/schemas/HttpRequestInfo'
          description: the HTTP request info. Usually includes the 'clientRequestId', 'clientIpAddress' (IP address of the user who initiated the event) and 'method' (HTTP method e.g. PUT).
        level:
          readOnly: true
          type: string
          description: the event level
          enum:
            - Critical
            - Error
            - Warning
            - Informational
            - Verbose
          x-ms-enum:
            name: EventLevel
            modelAsString: false
        resourceGroupName:
          readOnly: true
          externalDocs:
            url: http://msdn.microsoft.com/en-us/library/azure/dn790546.aspx
          type: string
          description: the resource group name of the impacted resource.
        resourceProviderName:
          readOnly: true
          $ref: '#/components/schemas/LocalizableString'
          externalDocs:
            url: http://msdn.microsoft.com/en-us/library/azure/dn790572.aspx
          description: the resource provider name of the impacted resource.
        resourceId:
          readOnly: true
          externalDocs:
            url: http://msdn.microsoft.com/en-us/library/azure/dn790569.aspx
          type: string
          description: the resource uri that uniquely identifies the resource that caused this event.
        resourceType:
          readOnly: true
          $ref: '#/components/schemas/LocalizableString'
          externalDocs:
            url: http://msdn.microsoft.com/en-us/library/azure/dn790569.aspx
          description: the resource type
        operationId:
          readOnly: true
          type: string
          description: It is usually a GUID shared among the events corresponding to single operation. This value should not be confused with EventName.
        operationName:
          readOnly: true
          $ref: '#/components/schemas/LocalizableString'
          description: the operation name.
        properties:
          readOnly: true
          type: object
          additionalProperties:
            type: string
          description: the set of <Key, Value> pairs (usually a Dictionary<String, String>) that includes details about the event.
        status:
          readOnly: true
          $ref: '#/components/schemas/LocalizableString'
          description: 'a string describing the status of the operation. Some typical values are: Started, In progress, Succeeded, Failed, Resolved.'
        subStatus:
          readOnly: true
          $ref: '#/components/schemas/LocalizableString'
          description: 'the event sub status. Most of the time, when included, this captures the HTTP status code of the REST call. Common values are: OK (HTTP Status Code: 200), Created (HTTP Status Code: 201), Accepted (HTTP Status Code: 202), No Content (HTTP Status Code: 204), Bad Request(HTTP Status Code: 400), Not Found (HTTP Status Code: 404), Conflict (HTTP Status Code: 409), Internal Server Error (HTTP Status Code: 500), Service Unavailable (HTTP Status Code:503), Gateway Timeout (HTTP Status Code: 504)'
        eventTimestamp:
          readOnly: true
          type: string
          format: date-time
          description: the timestamp of when the event was generated by the Azure service processing the request corresponding the event. It in ISO 8601 format.
        submissionTimestamp:
          readOnly: true
          type: string
          format: date-time
          description: the timestamp of when the event became available for querying via this API. It is in ISO 8601 format. This value should not be confused eventTimestamp. As there might be a delay between the occurrence time of the event, and the time that the event is submitted to the Azure logging infrastructure.
        subscriptionId:
          readOnly: true
          type: string
          description: the Azure subscription Id usually a GUID.
        tenantId:
          readOnly: true
          type: string
          description: the Azure tenant Id
      description: The Azure event log entries are of type EventData
    EventDataCollection:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/EventData'
          description: this list that includes the Azure audit logs.
        nextLink:
          type: string
          description: Provides the link to retrieve the next set of events.
      required:
        - value
      description: Represents collection of events.
    PrivateEndpoint:
      type: object
      properties:
        id:
          readOnly: true
          type: string
          description: The ARM identifier for private endpoint.
      description: The private endpoint resource.
    PrivateEndpointConnection:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
          x-ms-client-flatten: true
          description: Resource properties.
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: The private endpoint connection resource.
    PrivateEndpointConnectionProperties:
      type: object
      properties:
        groupIds:
          description: The group ids for the private endpoint resource.
          type: array
          items:
            type: string
          readOnly: true
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpoint'
          description: The private endpoint resource.
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionState'
          description: A collection of information about the state of the connection between service consumer and provider.
        provisioningState:
          $ref: '#/components/schemas/PrivateEndpointConnectionProvisioningState'
          description: The provisioning state of the private endpoint connection resource.
      required:
        - privateLinkServiceConnectionState
      description: Properties of the private endpoint connection.
    PrivateLinkServiceConnectionState:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/PrivateEndpointServiceConnectionStatus'
          description: Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service.
        description:
          type: string
          description: The reason for approval/rejection of the connection.
        actionsRequired:
          type: string
          description: A message indicating if changes on the service provider require any updates on the consumer.
      description: A collection of information about the state of the connection between service consumer and provider.
    PrivateEndpointServiceConnectionStatus:
      type: string
      description: The private endpoint connection status.
      enum:
        - Pending
        - Approved
        - Rejected
      x-ms-enum:
        name: PrivateEndpointServiceConnectionStatus
        modelAsString: true
    PrivateEndpointConnectionProvisioningState:
      type: string
      readOnly: true
      description: The current provisioning state.
      enum:
        - Succeeded
        - Creating
        - Deleting
        - Failed
      x-ms-enum:
        name: PrivateEndpointConnectionProvisioningState
        modelAsString: true
    PrivateLinkResource:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/PrivateLinkResourceProperties'
          description: Resource properties.
          x-ms-client-flatten: true
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: A private link resource.
    PrivateLinkResourceProperties:
      type: object
      properties:
        groupId:
          description: The private link resource group id.
          type: string
          readOnly: true
        requiredMembers:
          description: The private link resource required member names.
          type: array
          items:
            type: string
          readOnly: true
        requiredZoneNames:
          type: array
          items:
            type: string
          description: The private link resource private link DNS zone name.
      description: Properties of a private link resource.
    PrivateEndpointConnectionListResult:
      type: object
      properties:
        value:
          type: array
          description: Array of private endpoint connections.
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
      description: List of private endpoint connections associated with the specified resource.
    PrivateLinkResourceListResult:
      type: object
      properties:
        value:
          type: array
          description: Array of private link resources
          items:
            $ref: '#/components/schemas/PrivateLinkResource'
      description: A list of private link resources.
    Metadata:
      description: Metadata about the resource
      type: object
      properties:
        provisionedBy:
          description: Azure offering managing this resource on-behalf-of customer.
          type: string
          readOnly: true
          example: Azure Security Center
          x-ms-mutability:
            - read
        provisionedByResourceId:
          description: Resource Id of azure offering managing this resource on-behalf-of customer.
          type: string
          readOnly: true
          example: /subscriptions/da58aca0-2082-4f5a-85ba-27344286c17c/resourceGroups/ws-rg/providers/Microsoft.OperationalInsights/workspaces/ws-name1
          x-ms-mutability:
            - read
    ColumnDefinition:
      description: Definition of custom data column.
      type: object
      properties:
        name:
          description: The name of the column.
          type: string
        type:
          description: The type of the column data.
          enum:
            - string
            - int
            - long
            - real
            - boolean
            - datetime
            - dynamic
          type: string
          x-ms-enum:
            name: KnownColumnDefinitionType
            modelAsString: true
    StreamDeclaration:
      description: Declaration of a custom stream.
      type: object
      properties:
        columns:
          description: List of columns used by data in this stream.
          type: array
          items:
            $ref: '#/components/schemas/ColumnDefinition'
          x-ms-identifiers:
            - name
    PerfCounterDataSource:
      description: "Definition of which performance counters will be collected and how they will be collected by this data collection rule.\r\nCollected from both Windows and Linux machines where the counter is present."
      type: object
      properties:
        streams:
          description: "List of streams that this data source will be sent to.\r\nA stream indicates what schema will be used for this data and usually what table in Log Analytics the data will be sent to."
          type: array
          items:
            enum:
              - Microsoft-Perf
              - Microsoft-InsightsMetrics
            type: string
            x-ms-enum:
              name: KnownPerfCounterDataSourceStreams
              modelAsString: true
        samplingFrequencyInSeconds:
          format: int32
          description: The number of seconds between consecutive counter measurements (samples).
          type: integer
          example: 15
        counterSpecifiers:
          description: "A list of specifier names of the performance counters you want to collect.\r\nUse a wildcard (*) to collect a counter for all instances.\r\nTo get a list of performance counters on Windows, run the command 'typeperf'."
          type: array
          items:
            type: string
        name:
          description: "A friendly name for the data source. \r\nThis name should be unique across all data sources (regardless of type) within the data collection rule."
          type: string
          example: myDataSource1
    WindowsEventLogDataSource:
      description: "Definition of which Windows Event Log events will be collected and how they will be collected.\r\nOnly collected from Windows machines."
      type: object
      properties:
        streams:
          description: "List of streams that this data source will be sent to.\r\nA stream indicates what schema will be used for this data and usually what table in Log Analytics the data will be sent to."
          type: array
          items:
            enum:
              - Microsoft-WindowsEvent
              - Microsoft-Event
            type: string
            x-ms-enum:
              name: KnownWindowsEventLogDataSourceStreams
              modelAsString: true
        xPathQueries:
          description: A list of Windows Event Log queries in XPATH format.
          type: array
          items:
            type: string
        name:
          description: "A friendly name for the data source. \r\nThis name should be unique across all data sources (regardless of type) within the data collection rule."
          type: string
          example: myDataSource1
    SyslogDataSource:
      description: "Definition of which syslog data will be collected and how it will be collected.\r\nOnly collected from Linux machines."
      type: object
      properties:
        streams:
          description: "List of streams that this data source will be sent to.\r\nA stream indicates what schema will be used for this data and usually what table in Log Analytics the data will be sent to."
          type: array
          items:
            enum:
              - Microsoft-Syslog
            type: string
            x-ms-enum:
              name: KnownSyslogDataSourceStreams
              modelAsString: true
        facilityNames:
          description: The list of facility names.
          type: array
          items:
            enum:
              - alert
              - audit
              - auth
              - authpriv
              - clock
              - cron
              - daemon
              - ftp
              - kern
              - lpr
              - mail
              - mark
              - news
              - nopri
              - ntp
              - syslog
              - user
              - uucp
              - local0
              - local1
              - local2
              - local3
              - local4
              - local5
              - local6
              - local7
              - '*'
            type: string
            x-ms-enum:
              name: KnownSyslogDataSourceFacilityNames
              modelAsString: true
        logLevels:
          description: The log levels to collect.
          type: array
          items:
            enum:
              - Debug
              - Info
              - Notice
              - Warning
              - Error
              - Critical
              - Alert
              - Emergency
              - '*'
            type: string
            x-ms-enum:
              name: KnownSyslogDataSourceLogLevels
              modelAsString: true
        name:
          description: "A friendly name for the data source. \r\nThis name should be unique across all data sources (regardless of type) within the data collection rule."
          type: string
          example: myDataSource1
    ExtensionDataSource:
      description: "Definition of which data will be collected from a separate VM extension that integrates with the Azure Monitor Agent.\r\nCollected from either Windows and Linux machines, depending on which extension is defined."
      required:
        - extensionName
      type: object
      properties:
        streams:
          description: "List of streams that this data source will be sent to.\r\nA stream indicates what schema will be used for this data and usually what table in Log Analytics the data will be sent to."
          type: array
          items:
            enum:
              - Microsoft-Event
              - Microsoft-InsightsMetrics
              - Microsoft-Perf
              - Microsoft-Syslog
              - Microsoft-WindowsEvent
            type: string
            x-ms-enum:
              name: KnownExtensionDataSourceStreams
              modelAsString: true
        extensionName:
          description: The name of the VM extension.
          type: string
          example: AzureSecurityLinuxAgent
        extensionSettings:
          description: The extension settings. The format is specific for particular extension.
          type: object
        inputDataSources:
          description: The list of data sources this extension needs data from.
          type: array
          items:
            type: string
        name:
          description: "A friendly name for the data source. \r\nThis name should be unique across all data sources (regardless of type) within the data collection rule."
          type: string
          example: myDataSource1
    LogFileTextSettings:
      description: Settings for text log files
      required:
        - recordStartTimestampFormat
      type: object
      properties:
        recordStartTimestampFormat:
          description: One of the supported timestamp formats
          enum:
            - ISO 8601
            - YYYY-MM-DD HH:MM:SS
            - M/D/YYYY HH:MM:SS AM/PM
            - Mon DD, YYYY HH:MM:SS
            - yyMMdd HH:mm:ss
            - ddMMyy HH:mm:ss
            - MMM d hh:mm:ss
            - dd/MMM/yyyy:HH:mm:ss zzz
            - yyyy-MM-ddTHH:mm:ssK
          type: string
          example: ISO 8601, yyyy-MM-dd HH:mm:ss
          x-ms-enum:
            name: KnownLogFileTextSettingsRecordStartTimestampFormat
            modelAsString: true
    LogFileSettings:
      description: Settings for different log file formats
      type: object
      properties:
        text:
          description: Text settings
          allOf:
            - $ref: '#/components/schemas/LogFileTextSettings'
    LogFilesDataSource:
      description: Definition of which custom log files will be collected by this data collection rule
      required:
        - filePatterns
        - format
        - streams
      type: object
      properties:
        streams:
          description: "List of streams that this data source will be sent to.\r\nA stream indicates what schema will be used for this data source"
          type: array
          items:
            type: string
        filePatterns:
          description: File Patterns where the log files are located
          type: array
          items:
            type: string
        format:
          description: The data format of the log files
          enum:
            - text
          type: string
          example: text
          x-ms-enum:
            name: KnownLogFilesDataSourceFormat
            modelAsString: true
        settings:
          description: The log files specific settings.
          allOf:
            - $ref: '#/components/schemas/LogFileSettings'
        name:
          description: "A friendly name for the data source. \r\nThis name should be unique across all data sources (regardless of type) within the data collection rule."
          type: string
          example: myDataSource1
    IisLogsDataSource:
      description: Enables IIS logs to be collected by this data collection rule.
      required:
        - streams
      type: object
      properties:
        streams:
          description: IIS streams
          type: array
          items:
            type: string
        logDirectories:
          description: Absolute paths file location
          type: array
          items:
            type: string
        name:
          description: "A friendly name for the data source. \r\nThis name should be unique across all data sources (regardless of type) within the data collection rule."
          type: string
          example: myDataSource1
    WindowsFirewallLogsDataSource:
      description: Enables Firewall logs to be collected by this data collection rule.
      required:
        - streams
      type: object
      properties:
        streams:
          description: Firewall logs streams
          type: array
          items:
            type: string
        name:
          description: "A friendly name for the data source. \r\nThis name should be unique across all data sources (regardless of type) within the data collection rule."
          type: string
          example: myDataSource1
    PrometheusForwarderDataSource:
      description: Definition of Prometheus metrics forwarding configuration.
      type: object
      properties:
        streams:
          description: List of streams that this data source will be sent to.
          type: array
          items:
            enum:
              - Microsoft-PrometheusMetrics
            type: string
            x-ms-enum:
              name: KnownPrometheusForwarderDataSourceStreams
              modelAsString: true
        labelIncludeFilter:
          description: "The list of label inclusion filters in the form of label \"name-value\" pairs.\r\nCurrently only one label is supported: 'microsoft_metrics_include_label'.\r\nLabel values are matched case-insensitively."
          type: object
          additionalProperties:
            type: string
        name:
          description: "A friendly name for the data source. \r\nThis name should be unique across all data sources (regardless of type) within the data collection rule."
          type: string
          example: myDataSource1
    PlatformTelemetryDataSource:
      description: Definition of platform telemetry data source configuration
      required:
        - streams
      type: object
      properties:
        streams:
          description: List of platform telemetry streams to collect
          type: array
          items:
            type: string
        name:
          description: "A friendly name for the data source. \r\nThis name should be unique across all data sources (regardless of type) within the data collection rule."
          type: string
          example: myDataSource1
    EventHubDataSource:
      type: object
      properties:
        name:
          description: "A friendly name for the data source. \r\nThis name should be unique across all data sources (regardless of type) within the data collection rule."
          type: string
          example: myDataSource1
        consumerGroup:
          description: Event Hub consumer group name
          type: string
        stream:
          description: The stream to collect from EventHub
          type: string
    DataImportSources:
      type: object
      properties:
        eventHub:
          description: Definition of Event Hub configuration.
          allOf:
            - $ref: '#/components/schemas/EventHubDataSource'
    DataSourcesSpec:
      description: Specification of data sources that will be collected.
      type: object
      properties:
        performanceCounters:
          description: The list of performance counter data source configurations.
          type: array
          items:
            $ref: '#/components/schemas/PerfCounterDataSource'
          x-ms-identifiers:
            - name
        windowsEventLogs:
          description: The list of Windows Event Log data source configurations.
          type: array
          items:
            $ref: '#/components/schemas/WindowsEventLogDataSource'
          x-ms-identifiers:
            - name
        syslog:
          description: The list of Syslog data source configurations.
          type: array
          items:
            $ref: '#/components/schemas/SyslogDataSource'
          x-ms-identifiers:
            - name
        extensions:
          description: The list of Azure VM extension data source configurations.
          type: array
          items:
            $ref: '#/components/schemas/ExtensionDataSource'
          x-ms-identifiers:
            - name
        logFiles:
          description: The list of Log files source configurations.
          type: array
          items:
            $ref: '#/components/schemas/LogFilesDataSource'
          x-ms-identifiers:
            - name
        iisLogs:
          description: The list of IIS logs source configurations.
          type: array
          items:
            $ref: '#/components/schemas/IisLogsDataSource'
          x-ms-identifiers:
            - name
        windowsFirewallLogs:
          description: The list of Windows Firewall logs source configurations.
          type: array
          items:
            $ref: '#/components/schemas/WindowsFirewallLogsDataSource'
          x-ms-identifiers:
            - name
        prometheusForwarder:
          description: The list of Prometheus forwarder data source configurations.
          type: array
          items:
            $ref: '#/components/schemas/PrometheusForwarderDataSource'
          x-ms-identifiers:
            - name
        platformTelemetry:
          description: The list of platform telemetry configurations
          type: array
          items:
            $ref: '#/components/schemas/PlatformTelemetryDataSource'
          x-ms-identifiers:
            - name
        dataImports:
          description: Specifications of pull based data sources
          allOf:
            - $ref: '#/components/schemas/DataImportSources'
          x-ms-identifiers:
            - name
    LogAnalyticsDestination:
      description: Log Analytics destination.
      type: object
      properties:
        workspaceResourceId:
          description: The resource ID of the Log Analytics workspace.
          type: string
          example: /subscriptions/703362b3-f278-4e4b-9179-c76eaf41ffc2/resourceGroups/myResourceGroup/providers/Microsoft.OperationalInsights/workspaces/centralTeamWorkspace
        workspaceId:
          description: The Customer ID of the Log Analytics workspace.
          type: string
          readOnly: true
          example: 9ba8bc53-bd36-4156-8667-e983e7ae0e4f
          x-ms-mutability:
            - read
        name:
          description: "A friendly name for the destination. \r\nThis name should be unique across all destinations (regardless of type) within the data collection rule."
          type: string
          example: myDest1
    MonitoringAccountDestination:
      description: Monitoring account destination.
      type: object
      properties:
        accountResourceId:
          description: The resource ID of the monitoring account.
          type: string
          example: /subscriptions/703362b3-f278-4e4b-9179-c76eaf41ffc2/resourceGroups/myResourceGroup/providers/Microsoft.Monitor/accounts/centralTeamAccount
        accountId:
          description: The immutable ID  of the account.
          type: string
          readOnly: true
          example: a6a097e1-15e9-42bc-8f48-fcddd804d0f3
          x-ms-mutability:
            - read
        name:
          description: "A friendly name for the destination. \r\nThis name should be unique across all destinations (regardless of type) within the data collection rule."
          type: string
          example: myDest1
    AzureMonitorMetricsDestination:
      description: Azure Monitor Metrics destination.
      type: object
      properties:
        name:
          description: "A friendly name for the destination. \r\nThis name should be unique across all destinations (regardless of type) within the data collection rule."
          type: string
          example: myDest1
    EventHubDestination:
      type: object
      properties:
        eventHubResourceId:
          description: The resource ID of the event hub.
          type: string
          example: /subscriptions/703362b3-f278-4e4b-9179-c76eaf41ffc2/resourceGroups/amcs/providers/Microsoft.EventHub/namespaces/foo/eventhubs/bar
        name:
          description: "A friendly name for the destination. \r\nThis name should be unique across all destinations (regardless of type) within the data collection rule."
          type: string
          example: myDest1
    EventHubDirectDestination:
      type: object
      properties:
        eventHubResourceId:
          description: The resource ID of the event hub.
          type: string
          example: /subscriptions/703362b3-f278-4e4b-9179-c76eaf41ffc2/resourceGroups/amcs/providers/Microsoft.EventHub/namespaces/foo/eventhubs/bar
        name:
          description: "A friendly name for the destination. \r\nThis name should be unique across all destinations (regardless of type) within the data collection rule."
          type: string
          example: myDest1
    StorageBlobDestination:
      type: object
      properties:
        containerName:
          description: The container name of the Storage Blob.
          type: string
          example: foobar
        storageAccountResourceId:
          description: The resource ID of the storage account.
          type: string
          example: /subscriptions/ee63c5dc-9b88-42e3-8070-944a5226aea3/resourceGroups/foo/providers/Microsoft.Storage/storageAccounts/bar
        name:
          description: "A friendly name for the destination. \r\nThis name should be unique across all destinations (regardless of type) within the data collection rule."
          type: string
          example: myDest1
    StorageTableDestination:
      type: object
      properties:
        tableName:
          description: The name of the Storage Table.
          type: string
          example: foobar
        storageAccountResourceId:
          description: The resource ID of the storage account.
          type: string
          example: /subscriptions/ee63c5dc-9b88-42e3-8070-944a5226aea3/resourceGroups/foo/providers/Microsoft.Storage/storageAccounts/bar
        name:
          description: "A friendly name for the destination. \r\nThis name should be unique across all destinations (regardless of type) within the data collection rule."
          type: string
          example: myDest1
    DestinationsSpec:
      description: Specification of destinations that can be used in data flows.
      type: object
      properties:
        logAnalytics:
          description: List of Log Analytics destinations.
          type: array
          items:
            $ref: '#/components/schemas/LogAnalyticsDestination'
          x-ms-identifiers:
            - name
        monitoringAccounts:
          description: List of monitoring account destinations.
          type: array
          items:
            $ref: '#/components/schemas/MonitoringAccountDestination'
          x-ms-identifiers:
            - name
        azureMonitorMetrics:
          description: Azure Monitor Metrics destination.
          allOf:
            - $ref: '#/components/schemas/AzureMonitorMetricsDestination'
        eventHubs:
          description: List of Event Hubs destinations.
          type: array
          items:
            $ref: '#/components/schemas/EventHubDestination'
          x-ms-identifiers:
            - name
        eventHubsDirect:
          description: List of Event Hubs Direct destinations.
          type: array
          items:
            $ref: '#/components/schemas/EventHubDirectDestination'
          x-ms-identifiers:
            - name
        storageBlobsDirect:
          description: List of Storage Blob Direct destinations. To be used only for sending data directly to store from the agent.
          type: array
          items:
            $ref: '#/components/schemas/StorageBlobDestination'
          x-ms-identifiers:
            - name
        storageTablesDirect:
          description: List of Storage Table Direct destinations.
          type: array
          items:
            $ref: '#/components/schemas/StorageTableDestination'
          x-ms-identifiers:
            - name
        storageAccounts:
          description: List of storage accounts destinations.
          type: array
          items:
            $ref: '#/components/schemas/StorageBlobDestination'
          x-ms-identifiers:
            - name
    DataFlow:
      description: Definition of which streams are sent to which destinations.
      type: object
      properties:
        streams:
          description: List of streams for this data flow.
          type: array
          items:
            enum:
              - Microsoft-Event
              - Microsoft-InsightsMetrics
              - Microsoft-Perf
              - Microsoft-Syslog
              - Microsoft-WindowsEvent
            type: string
            x-ms-enum:
              name: KnownDataFlowStreams
              modelAsString: true
        destinations:
          description: List of destinations for this data flow.
          type: array
          items:
            type: string
        transformKql:
          description: The KQL query to transform stream data.
          type: string
        outputStream:
          description: The output stream of the transform. Only required if the transform changes data to a different stream.
          type: string
          example: '"Microsoft-SecurityEvent"'
        builtInTransform:
          description: The builtIn transform to transform stream data
          type: string
          example: '"Syslog-CRON"'
    DataCollectionRule:
      description: Definition of what monitoring data to collect and where that data should be sent.
      type: object
      properties:
        description:
          description: Description of the data collection rule.
          type: string
        immutableId:
          description: The immutable ID of this data collection rule. This property is READ-ONLY.
          type: string
          readOnly: true
          example: dcr-b74e0d383fc9415abaa584ec41adece3
          x-ms-mutability:
            - read
        dataCollectionEndpointId:
          description: The resource ID of the data collection endpoint that this rule can be used with.
          type: string
          example: /subscriptions/703362b3-f278-4e4b-9179-c76eaf41ffc2/resourceGroups/myResourceGroup/providers/Microsoft.Insights/dataCollectionEndpoints/myCollectionEndpoint
        metadata:
          description: Metadata about the resource
          allOf:
            - $ref: '#/components/schemas/Metadata'
          readOnly: true
          x-ms-mutability:
            - read
        streamDeclarations:
          description: Declaration of custom streams used in this rule.
          type: object
          additionalProperties:
            $ref: '#/components/schemas/StreamDeclaration'
        dataSources:
          description: "The specification of data sources. \r\nThis property is optional and can be omitted if the rule is meant to be used via direct calls to the provisioned endpoint."
          allOf:
            - $ref: '#/components/schemas/DataSourcesSpec'
        destinations:
          description: The specification of destinations.
          allOf:
            - $ref: '#/components/schemas/DestinationsSpec'
        dataFlows:
          description: The specification of data flows.
          type: array
          items:
            $ref: '#/components/schemas/DataFlow'
          x-ms-identifiers: []
        provisioningState:
          description: The resource provisioning state.
          enum:
            - Creating
            - Updating
            - Deleting
            - Succeeded
            - Canceled
            - Failed
          type: string
          readOnly: true
          example: Creating
          x-ms-enum:
            name: KnownDataCollectionRuleProvisioningState
            modelAsString: true
          x-ms-mutability:
            - read
    DataCollectionRuleResource:
      description: Definition of ARM tracked top level resource.
      required:
        - location
      type: object
      properties:
        properties:
          description: Resource properties.
          allOf:
            - $ref: '#/components/schemas/DataCollectionRule'
          x-ms-client-flatten: true
        location:
          description: The geo-location where the resource lives.
          type: string
          x-ms-mutability:
            - create
            - read
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
        kind:
          description: The kind of the resource.
          enum:
            - Linux
            - Windows
          type: string
          example: Linux
          x-ms-enum:
            name: KnownDataCollectionRuleResourceKind
            modelAsString: true
        identity:
          description: Managed service identity of the resource.
          allOf:
            - $ref: '#/components/schemas/ManagedServiceIdentity'
        id:
          description: Fully qualified ID of the resource.
          type: string
          readOnly: true
          example: /subscriptions/703362b3-f278-4e4b-9179-c76eaf41ffc2/resourceGroups/myResourceGroup/providers/Microsoft.Insights/dataCollectionRules/myCollectionRule
          x-ms-mutability:
            - read
        name:
          description: The name of the resource.
          type: string
          readOnly: true
          example: myCollectionRule
          x-ms-mutability:
            - read
        type:
          description: The type of the resource.
          type: string
          readOnly: true
          example: Microsoft.Insights/dataCollectionRules
          x-ms-mutability:
            - read
        etag:
          description: Resource entity tag (ETag).
          type: string
          readOnly: true
          x-ms-mutability:
            - read
        systemData:
          description: Metadata pertaining to creation and last modification of the resource.
          allOf:
            - $ref: '#/components/schemas/systemData'
          readOnly: true
          x-ms-mutability:
            - read
      x-ms-azure-resource: true
    DataCollectionRuleResourceListResult:
      description: A pageable list of resources.
      required:
        - value
      type: object
      properties:
        value:
          description: A list of resources.
          type: array
          items:
            $ref: '#/components/schemas/DataCollectionRuleResource'
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
    ResourceForUpdate:
      description: Definition of ARM tracked top level resource properties for update operation.
      type: object
      properties:
        tags:
          description: Resource tags.
          type: object
          additionalProperties:
            type: string
        identity:
          description: Managed Service Identity.
          allOf:
            - $ref: '#/components/schemas/ManagedServiceIdentity'
    ErrorResponseCommonV2:
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).
      type: object
      properties:
        error:
          description: The error object.
          $ref: '#/components/schemas/ErrorDetail'
    TenantNotificationRequestBody:
      description: The request body which contain contact detail metadata
      type: object
      properties:
        alertType:
          type: string
          maxLength: 30
          description: 'The value of the supported alert type. Supported alert type value is: servicehealth'
        emailReceivers:
          x-ms-identifiers: []
          type: array
          items:
            $ref: '#/components/schemas/EmailReceiver'
          description: The list of email receivers that are part of this action group.
        smsReceivers:
          x-ms-identifiers: []
          type: array
          items:
            $ref: '#/components/schemas/SmsReceiver'
          description: The list of SMS receivers that are part of this action group.
        webhookReceivers:
          x-ms-identifiers: []
          type: array
          items:
            $ref: '#/components/schemas/WebhookReceiver'
          description: The list of webhook receivers that are part of this action group.
        azureAppPushReceivers:
          x-ms-identifiers: []
          type: array
          items:
            $ref: '#/components/schemas/AzureAppPushReceiver'
          description: The list of AzureAppPush receivers that are part of this action group.
        voiceReceivers:
          x-ms-identifiers: []
          type: array
          items:
            $ref: '#/components/schemas/VoiceReceiver'
          description: The list of voice receivers that are part of this action group.
      required:
        - alertType
    TenantActionGroupResource:
      description: A tenant action group resource.
      type: object
      allOf:
        - $ref: '#/components/schemas/AzureResource'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/TenantActionGroup'
          description: The tenant action groups properties of the resource.
    TenantActionGroupList:
      description: A list of tenant action groups.
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TenantActionGroupResource'
          description: The list of tenant action groups.
        nextLink:
          type: string
          description: Provides the link to retrieve the next set of elements.
    TenantActionGroup:
      description: A tenant  action group.
      type: object
      properties:
        groupShortName:
          type: string
          maxLength: 12
          description: The short name of the action group. This will be used in SMS messages.
        enabled:
          type: boolean
          default: true
          description: Indicates whether this tenant action group is enabled. If a tenant action group is not enabled, then none of its receivers will receive communications.
        emailReceivers:
          x-ms-identifiers:
            - emailAddress
          type: array
          items:
            $ref: '#/components/schemas/EmailReceiver'
          description: The list of email receivers that are part of this tenant action group.
        smsReceivers:
          x-ms-identifiers:
            - phoneNumber
          type: array
          items:
            $ref: '#/components/schemas/SmsReceiver'
          description: The list of SMS receivers that are part of this tenant action group.
        webhookReceivers:
          x-ms-identifiers:
            - name
          type: array
          items:
            $ref: '#/components/schemas/WebhookReceiver'
          description: The list of webhook receivers that are part of this tenant action group.
        azureAppPushReceivers:
          x-ms-identifiers:
            - emailAddress
          type: array
          items:
            $ref: '#/components/schemas/AzureAppPushReceiver'
          description: The list of AzureAppPush receivers that are part of this tenant action group.
        voiceReceivers:
          x-ms-identifiers:
            - phoneNumber
          type: array
          items:
            $ref: '#/components/schemas/VoiceReceiver'
          description: The list of voice receivers that are part of this tenant action group.
      required:
        - groupShortName
        - enabled
    RetentionPolicy:
      type: object
      properties:
        enabled:
          type: boolean
          description: a value indicating whether the retention policy is enabled.
        days:
          type: integer
          format: int32
          minimum: 0
          description: the number of days for the retention in days. A value of 0 will retain the events indefinitely.
      required:
        - enabled
        - days
      description: Specifies the retention policy for the log.
    LogProfileProperties:
      required:
        - locations
        - categories
        - retentionPolicy
      properties:
        storageAccountId:
          type: string
          description: the resource id of the storage account to which you would like to send the Activity Log.
        serviceBusRuleId:
          type: string
          description: 'The service bus rule ID of the service bus namespace in which you would like to have Event Hubs created for streaming the Activity Log. The rule ID is of the format: ''{service bus resource ID}/authorizationrules/{key name}''.'
        locations:
          type: array
          items:
            type: string
          description: List of regions for which Activity Log events should be stored or streamed. It is a comma separated list of valid ARM locations including the 'global' location.
        categories:
          type: array
          items:
            type: string
          description: 'the categories of the logs. These categories are created as is convenient to the user. Some values are: ''Write'', ''Delete'', and/or ''Action.'''
        retentionPolicy:
          $ref: '#/components/schemas/RetentionPolicy'
          description: the retention policy for the events in the log.
      description: The log profile properties.
    LogProfileResource:
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/LogProfileProperties'
          description: The log profile properties of the resource.
      required:
        - properties
      description: The log profile resource.
    LogProfileResourcePatch:
      description: The log profile resource for patch operations.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/LogProfileProperties'
          description: The log profile properties for an update operation.
    LogProfileCollection:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/LogProfileResource'
          description: the values of the log profiles.
      required:
        - value
      description: Represents a collection of log profiles.
    MetricAlertAction:
      description: An alert action.
      properties:
        actionGroupId:
          type: string
          description: the id of the action group to use.
        webHookProperties:
          type: object
          additionalProperties:
            type: string
            description: the dictionary of custom properties to include with the post operation. These data are appended to the webhook payload.
          description: This field allows specifying custom properties, which would be appended to the alert payload sent as input to the webhook.
    MetricAlertProperties:
      required:
        - enabled
        - severity
        - evaluationFrequency
        - windowSize
        - criteria
        - scopes
      properties:
        description:
          type: string
          description: the description of the metric alert that will be included in the alert email.
        severity:
          type: integer
          format: int32
          description: Alert severity {0, 1, 2, 3, 4}
        enabled:
          type: boolean
          description: the flag that indicates whether the metric alert is enabled.
        scopes:
          type: array
          items:
            type: string
          description: the list of resource id's that this metric alert is scoped to.
        evaluationFrequency:
          type: string
          format: duration
          description: how often the metric alert is evaluated represented in ISO 8601 duration format.
        windowSize:
          type: string
          format: duration
          description: the period of time (in ISO 8601 duration format) that is used to monitor alert activity based on the threshold.
        targetResourceType:
          type: string
          description: the resource type of the target resource(s) on which the alert is created/updated. Mandatory if the scope contains a subscription, resource group, or more than one resource.
        targetResourceRegion:
          type: string
          description: the region of the target resource(s) on which the alert is created/updated. Mandatory if the scope contains a subscription, resource group, or more than one resource.
        criteria:
          $ref: '#/components/schemas/MetricAlertCriteria'
          description: defines the specific alert criteria information.
        autoMitigate:
          type: boolean
          description: the flag that indicates whether the alert should be auto resolved or not. The default is true.
        actions:
          type: array
          items:
            $ref: '#/components/schemas/MetricAlertAction'
          x-ms-identifiers:
            - actionGroupId
          description: the array of actions that are performed when the alert rule becomes active, and when an alert condition is resolved.
        lastUpdatedTime:
          readOnly: true
          type: string
          format: date-time
          description: Last time the rule was updated in ISO8601 format.
        isMigrated:
          type: boolean
          description: the value indicating whether this alert rule is migrated.
          readOnly: true
      description: An alert rule.
    MetricAlertPropertiesPatch:
      properties:
        description:
          type: string
[...]
