openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  title: PurviewManagementClient
  description: Creates a Microsoft.Purview management client.
  version: 2023-05-01-preview
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    AccessKeys:
      description: The Purview Account access keys.
      type: object
      properties:
        atlasKafkaPrimaryEndpoint:
          description: Gets or sets the primary connection string.
          type: string
        atlasKafkaSecondaryEndpoint:
          description: Gets or sets the secondary connection string.
          type: string
    Account:
      description: Account resource
      type: object
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      properties:
        properties:
          $ref: '#/components/schemas/AccountProperties'
          x-ms-client-flatten: true
        sku:
          description: Gets or sets the Sku.
          allOf:
            - $ref: '#/components/schemas/AccountSku'
          readOnly: true
    AccountEndpoints:
      description: The account endpoints
      type: object
      properties:
        catalog:
          description: Gets the catalog endpoint.
          type: string
          readOnly: true
        scan:
          description: Gets the scan endpoint.
          type: string
          readOnly: true
    AccountList:
      description: Paged list of Account resources
      required:
        - value
      type: object
      properties:
        nextLink:
          description: The Url of next result page.
          type: string
        value:
          description: Collection of items of type results.
          type: array
          items:
            $ref: '#/components/schemas/Account'
          x-ms-identifiers: []
    AccountProperties:
      description: The account properties
      type: object
      properties:
        accountStatus:
          description: Gets or sets the status of the account.
          allOf:
            - $ref: '#/components/schemas/AccountStatus'
          readOnly: true
        cloudConnectors:
          $ref: '#/components/schemas/CloudConnectors'
        createdAt:
          format: date-time
          description: Gets the time at which the entity was created.
          type: string
          readOnly: true
        createdBy:
          description: Gets the creator of the entity.
          type: string
          readOnly: true
        createdByObjectId:
          description: Gets the creators of the entity's object id.
          type: string
          readOnly: true
        endpoints:
          description: The URIs that are the public endpoints of the account.
          allOf:
            - $ref: '#/components/schemas/AccountEndpoints'
          readOnly: true
        friendlyName:
          description: Gets or sets the friendly name.
          type: string
          readOnly: true
        ingestionStorage:
          $ref: '#/components/schemas/IngestionStorage'
        managedEventHubState:
          description: Gets or sets the state of managed eventhub. If enabled managed eventhub will be created, if disabled the managed eventhub will be removed.
          default: NotSpecified
          enum:
            - NotSpecified
            - Disabled
            - Enabled
          type: string
          x-ms-enum:
            name: managedEventHubState
            modelAsString: true
        managedResourceGroupName:
          description: Gets or sets the managed resource group name
          type: string
          x-ms-mutability:
            - read
            - create
        managedResources:
          description: Gets the resource identifiers of the managed resources.
          allOf:
            - $ref: '#/components/schemas/ManagedResources'
          readOnly: true
        managedResourcesPublicNetworkAccess:
          description: Gets or sets the public network access for managed resources.
          default: NotSpecified
          enum:
            - NotSpecified
            - Enabled
            - Disabled
          type: string
          x-ms-enum:
            name: managedResourcesPublicNetworkAccess
            modelAsString: true
        privateEndpointConnections:
          description: Gets the private endpoint connections information.
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          readOnly: true
          x-ms-identifiers: []
        provisioningState:
          description: Gets or sets the state of the provisioning.
          enum:
            - Unknown
            - Creating
            - Moving
            - Deleting
            - SoftDeleting
            - SoftDeleted
            - Failed
            - Succeeded
            - Canceled
          type: string
          readOnly: true
          x-ms-enum:
            name: provisioningState
            modelAsString: true
        publicNetworkAccess:
          description: Gets or sets the public network access.
          default: Enabled
          enum:
            - NotSpecified
            - Enabled
            - Disabled
          type: string
          x-ms-enum:
            name: publicNetworkAccess
            modelAsString: true
    AccountSku:
      description: The Sku
      type: object
      properties:
        capacity:
          format: int32
          description: Gets or sets the sku capacity.
          type: integer
        name:
          description: Gets or sets the sku name.
          enum:
            - Standard
            - Free
          type: string
          x-ms-enum:
            name: name
            modelAsString: true
    AccountStatus:
      description: The account status.
      type: object
      properties:
        accountProvisioningState:
          description: Gets the account status code.
          enum:
            - Unknown
            - Creating
            - Updating
            - Moving
            - Deleting
            - SoftDeleting
            - SoftDeleted
            - Failed
            - Succeeded
            - Canceled
          type: string
          readOnly: true
          x-ms-enum:
            name: accountProvisioningState
            modelAsString: true
        errorDetails:
          description: Gets the account error details.
          allOf:
            - $ref: '#/components/schemas/ErrorModel'
          readOnly: true
    AccountUpdateParameters:
      description: The account update properties.
      type: object
      properties:
        identity:
          $ref: '#/components/schemas/Identity'
        properties:
          $ref: '#/components/schemas/AccountProperties'
        tags:
          description: Tags on the azure resource.
          type: object
          additionalProperties:
            type: string
    BatchFeatureRequest:
      description: Feature request model
      type: object
      properties:
        features:
          description: Set of features
          uniqueItems: true
          type: array
          items:
            type: string
          x-ms-identifiers: []
    BatchFeatureStatus:
      description: List of features with enabled status
      type: object
      properties:
        features:
          description: Features with enabled status
          type: object
          additionalProperties:
            type: boolean
          readOnly: true
    CheckNameAvailabilityRequest:
      description: The request payload for CheckNameAvailability API
      type: object
      properties:
        name:
          description: Resource name to verify for availability
          type: string
        type:
          description: Fully qualified resource type which includes provider namespace
          type: string
    CheckNameAvailabilityResult:
      description: The response payload for CheckNameAvailability API
      type: object
      properties:
        message:
          description: Error message
          type: string
        nameAvailable:
          description: Indicates if name is valid and available.
          type: boolean
        reason:
          description: The reason the name is not available.
          enum:
            - Invalid
            - AlreadyExists
          type: string
          x-ms-enum:
            name: reason
            modelAsString: true
    CloudConnectors:
      description: External Cloud Service connectors
      type: object
      properties:
        awsExternalId:
          description: "AWS external identifier.\r\nConfigured in AWS to allow use of the role arn used for scanning"
          type: string
          readOnly: true
    CollectionAdminUpdate:
      description: Collection administrator update.
      type: object
      properties:
        objectId:
          description: Gets or sets the object identifier of the admin.
          type: string
    Consent:
      description: Consent extension resource
      type: object
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        kind:
          description: Gets or sets the consent kind.
          enum:
            - Metadata
            - Governance
          type: string
          x-ms-enum:
            name: ConsentKind
            modelAsString: true
        properties:
          $ref: '#/components/schemas/ConsentProperties'
          x-ms-client-flatten: true
    ConsentProperties:
      description: The consent properties
      type: object
      properties:
        scope:
          type: string
          readOnly: true
        scopeType:
          description: Defines consent scope type.
          enum:
            - Azure
            - Fabric
            - Databricks
            - Snowflake
            - S3
          type: string
          readOnly: true
          x-ms-enum:
            name: ConsentScopeType
            modelAsString: true
        status:
          description: Defines consent status.
          enum:
            - NotSpecified
            - Enabled
            - Disabled
          type: string
          readOnly: true
          x-ms-enum:
            name: ConsentStatus
            modelAsString: true
    Credentials:
      description: Credentials to access the event streaming service attached to the purview account.
      type: object
      properties:
        identityId:
          description: Identity identifier for UserAssign type.
          type: string
        type:
          description: Identity Type.
          enum:
            - None
            - SystemAssigned
            - UserAssigned
          type: string
          x-ms-enum:
            name: CredentialsType
            modelAsString: true
    DefaultAccountPayload:
      description: Payload to get and set the default account in the given scope
      type: object
      properties:
        accountName:
          description: The name of the account that is set as the default.
          type: string
        resourceGroupName:
          description: The resource group name of the account that is set as the default.
          type: string
        scope:
          description: The scope object ID. For example, sub ID or tenant ID.
          type: string
        scopeTenantId:
          description: The scope tenant in which the default account is set.
          type: string
        scopeType:
          description: The scope where the default account is set.
          enum:
            - Tenant
            - Subscription
          type: string
          x-ms-enum:
            name: scopeType
            modelAsString: true
        subscriptionId:
          description: The subscription ID of the account that is set as the default.
          type: string
    DimensionProperties:
      description: properties for dimension
      type: object
      properties:
        displayName:
          description: localized display name of the dimension to customer
          type: string
        name:
          description: dimension name
          type: string
        toBeExportedForCustomer:
          description: flag indicating whether this dimension should be included to the customer in Azure Monitor logs (aka Shoebox)
          type: boolean
    ErrorModel:
      description: Default error model
      type: object
      properties:
        code:
          description: Gets or sets the code.
          type: string
          readOnly: true
        details:
          description: Gets or sets the details.
          type: array
          items:
            $ref: '#/components/schemas/ErrorModel'
          readOnly: true
          x-ms-identifiers: []
        message:
          description: Gets or sets the messages.
          type: string
          readOnly: true
        target:
          description: Gets or sets the target.
          type: string
          readOnly: true
    ErrorResponseModel:
      description: Default error response model
      type: object
      properties:
        error:
          description: Gets or sets the error.
          allOf:
            - $ref: '#/components/schemas/ErrorModel'
          readOnly: true
    Identity:
      description: The Managed Identity of the resource
      type: object
      properties:
        principalId:
          description: Service principal object Id
          type: string
          readOnly: true
        tenantId:
          description: Tenant Id
          type: string
          readOnly: true
        type:
          description: Identity Type
          enum:
            - None
            - SystemAssigned
            - UserAssigned
          type: string
          x-ms-enum:
            name: type
            modelAsString: true
        userAssignedIdentities:
          description: User Assigned Identities
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserAssignedIdentity'
    IngestionStorage:
      description: Ingestion Storage Account Info
      type: object
      properties:
        id:
          description: Gets or sets the Id.
          type: string
          readOnly: true
        primaryEndpoint:
          description: Gets or sets the primary endpoint.
          type: string
          readOnly: true
        publicNetworkAccess:
          description: Gets or sets the public network access setting
          enum:
            - NotSpecified
            - Enabled
            - Disabled
          type: string
          x-ms-enum:
            name: PublicNetworkAccess
            modelAsString: true
    KafkaConfiguration:
      description: The configuration of the event streaming service resource attached to the Purview account for kafka notifications.
      type: object
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          $ref: '#/components/schemas/KafkaConfigurationProperties'
          x-ms-client-flatten: true
    KafkaConfigurationList:
      description: Paged list of kafka configuration resources
      required:
        - value
      type: object
      properties:
        nextLink:
          description: The Url of next result page.
          type: string
        value:
          description: Collection of items of type results.
          type: array
          items:
            $ref: '#/components/schemas/KafkaConfiguration'
          x-ms-identifiers: []
    KafkaConfigurationProperties:
      description: The kafka configuration properties of the event streaming service attached to the Purview account for kafka notifications.
      type: object
      properties:
        consumerGroup:
          description: Consumer group for hook event hub.
          type: string
        credentials:
          $ref: '#/components/schemas/Credentials'
        eventHubPartitionId:
          description: Optional partition Id for notification event hub. If not set, all partitions will be leveraged.
          type: string
        eventHubResourceId:
          type: string
          format: arm-id
          x-ms-arm-id-details:
            allowedResources:
              - type: Microsoft.EventHub/namespaces/eventHubs
        eventHubType:
          description: The event hub type.
          enum:
            - Notification
            - Hook
          type: string
          x-ms-enum:
            name: eventHubType
            modelAsString: true
        eventStreamingState:
          description: The state of the event streaming service
          default: Enabled
          enum:
            - Disabled
            - Enabled
          type: string
          x-ms-enum:
            name: eventStreamingState
            modelAsString: true
        eventStreamingType:
          description: The event streaming service type
          default: None
          enum:
            - None
            - Managed
            - Azure
          type: string
          x-ms-enum:
            name: eventStreamingType
            modelAsString: true
    ManagedResources:
      description: The managed resources in customer subscription.
      type: object
      properties:
        eventHubNamespace:
          description: Gets the managed event hub namespace resource identifier.
          type: string
          readOnly: true
        resourceGroup:
          description: Gets the managed resource group resource identifier. This resource group will host resource dependencies for the account.
          type: string
          readOnly: true
        storageAccount:
          description: Gets the managed storage account resource identifier.
          type: string
          readOnly: true
    Operation:
      description: Operation resource
      type: object
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplay'
        isDataAction:
          description: Whether operation is a data action
          type: boolean
        name:
          description: Operation name for display purposes
          type: string
        origin:
          description: origin of the operation
          type: string
        properties:
          $ref: '#/components/schemas/OperationProperties'
          x-ms-client-flatten: true
    OperationDisplay:
      description: The response model for get operation properties
      type: object
      properties:
        description:
          description: Description of the operation for display purposes
          type: string
        operation:
          description: Name of the operation for display purposes
          type: string
        provider:
          description: Name of the provider for display purposes
          type: string
        resource:
          description: Name of the resource type for display purposes
          type: string
    OperationList:
      description: Paged list of operation resources
      required:
        - value
      type: object
      properties:
        count:
          format: int64
          description: Total item count.
          type: integer
        nextLink:
          description: The Url of next result page.
          type: string
        value:
          description: Collection of items of type results.
          type: array
          items:
            $ref: '#/components/schemas/Operation'
          x-ms-identifiers: []
    OperationMetaLogSpecification:
      description: log specifications for operation api
      type: object
      properties:
        blobDuration:
          description: blob duration of the log
          type: string
        displayName:
          description: localized name of the log category
          type: string
        name:
          description: name of the log category
          type: string
    OperationMetaMetricSpecification:
      description: metric specifications for the operation
      type: object
      properties:
        aggregationType:
          description: aggregation type of metric
          type: string
        dimensions:
          description: properties for dimension
          type: array
          items:
            $ref: '#/components/schemas/DimensionProperties'
          x-ms-identifiers: []
        displayDescription:
          description: description of the metric
          type: string
        displayName:
          description: localized name of the metric
          type: string
        enableRegionalMdmAccount:
          description: enable regional mdm account
          type: string
        internalMetricName:
          description: internal metric name
          type: string
        name:
          description: name of the metric
          type: string
        resourceIdDimensionNameOverride:
          description: dimension name use to replace resource id if specified
          type: string
        sourceMdmNamespace:
          description: "Metric namespace.\r\nOnly set the namespace if different from the default value, \r\nleaving it empty makes it use the value from the ARM manifest."
          type: string
        supportedAggregationTypes:
          description: supported aggregation types
          type: array
          items:
            type: string
          x-ms-identifiers: []
        supportedTimeGrainTypes:
          description: supported time grain types
          type: array
          items:
            type: string
          x-ms-identifiers: []
        unit:
          description: units for the metric
          type: string
    OperationMetaServiceSpecification:
      description: The operation meta service specification
      type: object
      properties:
        logSpecifications:
          description: log specifications for the operation
          type: array
          items:
            $ref: '#/components/schemas/OperationMetaLogSpecification'
          x-ms-identifiers: []
        metricSpecifications:
          description: metric specifications for the operation
          type: array
          items:
            $ref: '#/components/schemas/OperationMetaMetricSpecification'
          x-ms-identifiers: []
    OperationProperties:
      description: properties on meta info
      type: object
      properties:
        serviceSpecification:
          $ref: '#/components/schemas/OperationMetaServiceSpecification'
    PrivateEndpoint:
      description: A private endpoint class.
      type: object
      properties:
        id:
          description: The private endpoint identifier.
          type: string
    PrivateEndpointConnection:
      description: A private endpoint connection class.
      type: object
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
          description: The connection identifier.
          x-ms-client-flatten: true
    PrivateEndpointConnectionList:
      description: Paged list of private endpoint connections
      required:
        - value
      type: object
      properties:
        nextLink:
          description: The Url of next result page.
          type: string
        value:
          description: Collection of items of type results.
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
    PrivateEndpointConnectionProperties:
      description: A private endpoint connection properties class.
      type: object
      properties:
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpoint'
          description: The private endpoint information.
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionState'
          description: The private link service connection state.
        provisioningState:
          description: The provisioning state.
          type: string
          readOnly: true
    PrivateEndpointConnectionStatusUpdateRequest:
      description: A private endpoint connection status update request class.
      type: object
      properties:
        privateEndpointId:
          description: The private endpoint resource identifier.
          type: string
        status:
          description: The private endpoint connection status.
          type: string
    PrivateEndpointConnectionStatusUpdateResponse:
      description: A private endpoint connection status update response class.
      type: object
      properties:
        privateEndpointId:
          description: The private endpoint resource identifier.
          type: string
        status:
          description: The private endpoint connection status.
          type: string
    PrivateLinkResource:
      description: A privately linkable resource.
      type: object
      properties:
        id:
          description: The private link resource identifier.
          type: string
          readOnly: true
        name:
          description: The private link resource name.
          type: string
          readOnly: true
        properties:
          $ref: '#/components/schemas/PrivateLinkResourceProperties'
          description: The private link resource properties.
          readOnly: true
        type:
          description: The private link resource type.
          type: string
          readOnly: true
    PrivateLinkResourceList:
      description: Paged list of private link resources
      required:
        - value
      type: object
      properties:
        nextLink:
          description: The Url of next result page.
          type: string
        value:
          description: Collection of items of type results.
          type: array
          items:
            $ref: '#/components/schemas/PrivateLinkResource'
    PrivateLinkResourceProperties:
      description: A privately linkable resource properties.
      type: object
      properties:
        groupId:
          description: The private link resource group identifier.
          type: string
          readOnly: true
        requiredMembers:
          description: This translates to how many Private IPs should be created for each privately linkable resource.
          uniqueItems: false
          type: array
          items:
            type: string
          readOnly: true
        requiredZoneNames:
          description: The required zone names for private link resource.
          uniqueItems: false
          type: array
          items:
            type: string
          readOnly: true
    PrivateLinkServiceConnectionState:
      description: The private link service connection state.
      type: object
      properties:
        actionsRequired:
          description: The required actions.
          type: string
        description:
          description: The description.
          type: string
        status:
          description: The status.
          enum:
            - Unknown
            - Pending
            - Approved
            - Rejected
            - Disconnected
          type: string
          x-ms-enum:
            name: status
            modelAsString: true
    ProxyResource:
      description: Proxy Azure Resource
      type: object
      properties:
        id:
          description: Gets or sets the identifier.
          type: string
          readOnly: true
        name:
          description: Gets or sets the name.
          type: string
          readOnly: true
        systemData:
          description: Metadata pertaining to creation and last modification of the resource.
          allOf:
            - $ref: '#/components/schemas/SystemData'
          readOnly: true
        type:
          description: Gets or sets the type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    QuotaName:
      description: Quota name
      type: object
      properties:
        localizedValue:
          description: Gets or sets the localized name value.
          type: string
        value:
          description: Gets or sets the name value.
          type: string
    SystemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      properties:
        createdAt:
          format: date-time
          description: The timestamp of resource creation (UTC).
          type: string
          readOnly: true
        createdBy:
          description: The identity that created the resource.
          type: string
          readOnly: true
        createdByType:
          description: The type of identity that created the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
          type: string
          readOnly: true
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          format: date-time
          description: The timestamp of the last modification the resource (UTC).
          type: string
          readOnly: true
        lastModifiedBy:
          description: The identity that last modified the resource.
          type: string
          readOnly: true
        lastModifiedByType:
          description: The type of identity that last modified the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
          type: string
          readOnly: true
          x-ms-enum:
            name: lastModifiedByType
            modelAsString: true
    TrackedResource:
      description: Azure ARM Tracked Resource
      type: object
      properties:
        id:
          description: Gets or sets the identifier.
          type: string
          readOnly: true
        identity:
          $ref: '#/components/schemas/Identity'
        location:
          description: Gets or sets the location.
          type: string
        name:
          description: Gets or sets the name.
          type: string
          readOnly: true
        systemData:
          description: Metadata pertaining to creation and last modification of the resource.
          allOf:
            - $ref: '#/components/schemas/SystemData'
          readOnly: true
        tags:
          description: Tags on the azure resource.
          type: object
          additionalProperties:
            type: string
        type:
          description: Gets or sets the type.
          type: string
          readOnly: true
      x-ms-azure-resource: true
    Usage:
      description: Response for usage information
      type: object
      properties:
        currentValue:
          format: int32
          description: Current usage quota value
          type: integer
          readOnly: true
        id:
          description: Fully qualified resource Id
          type: string
          readOnly: true
        limit:
          format: int32
          description: Usage quota limit
          type: integer
          readOnly: true
        name:
          description: Quota name
          allOf:
            - $ref: '#/components/schemas/QuotaName'
          readOnly: true
        unit:
          description: Quota usage unit.
          type: string
          readOnly: true
    UsageList:
      description: List of usage information
      type: object
      properties:
        value:
          description: Collection of usage values.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/Usage'
          readOnly: true
        nextLink:
          description: The Url of next link.
          type: string
    UserAssignedIdentity:
      description: Uses client ID and Principal ID
      type: object
      properties:
        clientId:
          description: Gets or Sets Client ID
          type: string
          readOnly: true
        principalId:
          description: Gets or Sets Principal ID
          type: string
          readOnly: true
  parameters:
    subscriptionId:
      name: subscriptionId
      in: path
      description: The subscription identifier
      required: true
      schema:
        type: string
    api-version:
      name: api-version
      in: query
      description: The api version to use.
      required: true
      schema:
        type: string
    accountName:
      name: accountName
      in: path
      description: The name of the account.
      required: true
      x-ms-parameter-location: method
      schema:
        maxLength: 63
        minLength: 3
        pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
        type: string
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The resource group name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Purview/accounts:
    x-api-version: 2023-05-01-preview
    get:
      tags:
        - Account
      summary: Gets the accounts resources by subscription.
      description: List accounts in Subscription
      operationId: Accounts_ListBySubscription
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/api-version'
        - name: $skipToken
          in: query
          description: The skip token.
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Purview/accounts:
    x-api-version: 2023-05-01-preview
    get:
      tags:
        - Account
      summary: Gets the accounts resources by resource group.
      description: List accounts in ResourceGroup
      operationId: Accounts_ListByResourceGroup
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/api-version'
        - name: $skipToken
          in: query
          description: The skip token.
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Purview/accounts/{accountName}:
    x-api-version: 2023-05-01-preview
    get:
      tags:
        - Account
      summary: Gets the account resource.
      description: Get an account
      operationId: Accounts_Get
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/accountName'
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
    put:
      tags:
        - Account
      summary: Create or update an account resource.
      description: Creates or updates an account
      operationId: Accounts_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/accountName'
        - $ref: '#/components/parameters/api-version'
      requestBody:
        description: The account.
        required: true
        x-ms-requestBody-name: account
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-long-running-operation: true
    delete:
      tags:
        - Account
      summary: Deletes the account resource.
      description: Deletes an account resource
      operationId: Accounts_Delete
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/accountName'
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-long-running-operation: true
    patch:
      tags:
        - Account
      summary: Patches the account resource.
      description: Updates an account
      operationId: Accounts_Update
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/accountName'
        - $ref: '#/components/parameters/api-version'
      requestBody:
        description: The account update parameters.
        required: true
        x-ms-requestBody-name: accountUpdateParameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateParameters'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Purview/accounts/{accountName}/addRootCollectionAdmin:
    x-api-version: 2023-05-01-preview
    post:
      tags:
        - Account
      summary: Add the administrator for root collection.
      description: Add the administrator for root collection associated with this account.
      operationId: Accounts_AddRootCollectionAdmin
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/accountName'
        - $ref: '#/components/parameters/api-version'
      requestBody:
        description: The collection admin update payload.
        required: true
        x-ms-requestBody-name: collectionAdminUpdate
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionAdminUpdate'
      responses:
        '200':
          description: Success
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Purview/accounts/{accountName}/listkeys:
    x-api-version: 2023-05-01-preview
    post:
      tags:
        - Account
      summary: Lists the keys asynchronous.
      description: List the authorization keys associated with this account.
      operationId: Accounts_ListKeys
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/accountName'
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKeys'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
  /providers/Microsoft.Purview/getDefaultAccount:
    x-api-version: 2023-05-01-preview
    get:
      tags:
        - DefaultAccount
      summary: Gets the default account information set for the scope.
      description: Get the default account for the scope.
      operationId: DefaultAccounts_Get
      parameters:
        - name: scopeTenantId
          in: query
          description: The tenant ID.
          required: true
          schema:
            format: uuid
            type: string
        - name: scopeType
          in: query
          description: The scope for the default account.
          required: true
          schema:
            enum:
              - Tenant
              - Subscription
            x-ms-enum:
              name: ScopeType
              modelAsString: true
            type: string
        - name: scope
          in: query
          description: The Id of the scope object, for example if the scope is "Subscription" then it is the ID of that subscription.
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultAccountPayload'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
  /providers/Microsoft.Purview/removeDefaultAccount:
    x-api-version: 2023-05-01-preview
    post:
      tags:
        - DefaultAccount
      summary: Removes the default account from the scope.
      description: Removes the default account from the scope.
      operationId: DefaultAccounts_Remove
      parameters:
        - name: scopeTenantId
          in: query
          description: The tenant ID.
          required: true
          schema:
            format: uuid
            type: string
        - name: scopeType
          in: query
          description: The scope for the default account.
          required: true
          schema:
            enum:
              - Tenant
              - Subscription
            x-ms-enum:
              name: ScopeType
              modelAsString: true
            type: string
        - name: scope
          in: query
          description: The Id of the scope object, for example if the scope is "Subscription" then it is the ID of that subscription.
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
        '204':
          description: No Content
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
  /providers/Microsoft.Purview/setDefaultAccount:
    x-api-version: 2023-05-01-preview
    post:
      tags:
        - DefaultAccount
      summary: Sets the default account for the scope.
      description: Sets the default account for the scope.
      operationId: DefaultAccounts_Set
      parameters:
        - $ref: '#/components/parameters/api-version'
      requestBody:
        description: The payload containing the default account information and the scope.
        required: true
        x-ms-requestBody-name: defaultAccountPayload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DefaultAccountPayload'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultAccountPayload'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
  /subscriptions/{subscriptionId}/providers/Microsoft.Purview/locations/{locations}/listFeatures:
    x-api-version: 2023-05-01-preview
    post:
      tags:
        - Feature
      summary: "Gets a list of features and their status for the location and subscription.\r\nStatus of enabled features will be true. Status of disabled features will be false.\r\nFeatures that don't exist will be excluded from the results."
      description: Gets details from a list of feature names.
      operationId: Features_SubscriptionGet
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - name: locations
          in: path
          description: Location of feature.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      requestBody:
        description: Request body with feature names.
        required: true
        x-ms-requestBody-name: featureRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchFeatureRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchFeatureStatus'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Purview/accounts/{accountName}/listFeatures:
    x-api-version: 2023-05-01-preview
    post:
      tags:
        - Feature
      summary: "Gets a list of features and their status for the account.\r\nStatus of enabled features will be true. Status of disabled features will be false.\r\nFeatures that don't exist will be excluded from the results."
      description: Gets details from a list of feature names.
      operationId: Features_AccountGet
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/accountName'
        - $ref: '#/components/parameters/api-version'
      requestBody:
        description: Request body with feature names.
        required: true
        x-ms-requestBody-name: featureRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchFeatureRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchFeatureStatus'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Purview/accounts/{accountName}/ingestionPrivateEndpointConnections:
    x-api-version: 2023-05-01-preview
    get:
      tags:
        - IngestionPrivateEndpoint
      summary: Lists all ingestion private endpoint connections.
      description: Lists all ingestion private endpoint connections
      operationId: IngestionPrivateEndpointConnections_List
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/accountName'
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionList'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Purview/accounts/{accountName}/ingestionPrivateEndpointConnectionStatus:
    x-api-version: 2023-05-01-preview
    post:
      tags:
        - IngestionPrivateEndpoint
      summary: Updates ingestion private endpoint connection status.
      description: Update ingestion private endpoint connection status
      operationId: IngestionPrivateEndpointConnections_UpdateStatus
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/accountName'
        - $ref: '#/components/parameters/api-version'
      requestBody:
        description: The ingestion private endpoint connection status update request.
        required: true
        x-ms-requestBody-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnectionStatusUpdateRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionStatusUpdateResponse'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Purview/accounts/{accountName}/kafkaConfigurations:
    x-api-version: 2023-05-01-preview
    get:
      tags:
        - KafkaConfiguration
      summary: Gets the list of Kafka configurations for the account.
      description: Lists the Kafka configurations in the Account
      operationId: KafkaConfigurations_ListByAccount
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/accountName'
        - $ref: '#/components/parameters/api-version'
        - name: $skipToken
          in: query
          description: The skip token.
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaConfigurationList'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Purview/accounts/{accountName}/kafkaConfigurations/{kafkaConfigurationName}:
    x-api-version: 2023-05-01-preview
    get:
      tags:
        - KafkaConfiguration
      summary: Gets the kafka configuration.
      description: Gets the kafka configuration for the account
      operationId: KafkaConfigurations_Get
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/accountName'
        - name: kafkaConfigurationName
          in: path
          description: Name of kafka configuration.
          required: true
          schema:
            maxLength: 63
            minLength: 3
            pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaConfiguration'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
    put:
      tags:
        - KafkaConfiguration
      summary: Create or update the kafka configuration.
      description: Create or update Kafka Configuration
      operationId: KafkaConfigurations_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/accountName'
        - name: kafkaConfigurationName
          in: path
          description: The kafka configuration name.
          required: true
          schema:
            maxLength: 63
            minLength: 3
            pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
            type: string
        - $ref: '#/components/parameters/api-version'
      requestBody:
        description: The kafka configuration of the account.
        required: true
        x-ms-requestBody-name: kafkaConfiguration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KafkaConfiguration'
      responses:
        '200':
          description: Create or Update Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaConfiguration'
        '201':
          description: Create or Update Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KafkaConfiguration'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
    delete:
      tags:
        - KafkaConfiguration
      summary: Deletes the kafka configuration on the account.
      description: Deletes a KafkaConfiguration resource.
      operationId: KafkaConfigurations_Delete
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/accountName'
        - name: kafkaConfigurationName
          in: path
          description: Name of kafka configuration.
          required: true
          schema:
            maxLength: 63
            minLength: 3
            pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
        '204':
          description: No Content
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
  /providers/Microsoft.Purview/operations:
    x-api-version: 2023-05-01-preview
    get:
      tags:
        - Operation
      summary: Lists the available operations
      description: List of available operations
      operationId: Operations_List
      parameters:
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Purview/accounts/{accountName}/privateEndpointConnections:
    x-api-version: 2023-05-01-preview
    get:
      tags:
        - PrivateEndpointConnection
      summary: Gets private endpoint connections.
      description: Get private endpoint connections for account
      operationId: PrivateEndpointConnections_ListByAccount
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/accountName'
        - $ref: '#/components/parameters/api-version'
        - name: $skipToken
          in: query
          description: The skip token.
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionList'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Purview/accounts/{accountName}/privateEndpointConnections/{privateEndpointConnectionName}:
    x-api-version: 2023-05-01-preview
    get:
      tags:
        - PrivateEndpointConnection
      summary: Gets private endpoint connection information.
      description: Get a private endpoint connection
      operationId: PrivateEndpointConnections_Get
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/accountName'
        - name: privateEndpointConnectionName
          in: path
          description: Name of the private endpoint connection.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
    put:
      tags:
        - PrivateEndpointConnection
      summary: Approves/Rejects private endpoint connection request.
      description: Create or update a private endpoint connection
      operationId: PrivateEndpointConnections_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/accountName'
        - name: privateEndpointConnectionName
          in: path
          description: Name of the private endpoint connection.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      requestBody:
        description: The request.
        required: true
        x-ms-requestBody-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnection'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-long-running-operation: true
    delete:
      tags:
        - PrivateEndpointConnection
      summary: Deletes private endpoint connection.
      description: Delete a private endpoint connection
      operationId: PrivateEndpointConnections_Delete
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/accountName'
        - name: privateEndpointConnectionName
          in: path
          description: Name of the private endpoint connection.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Purview/accounts/{accountName}/privateLinkResources:
    x-api-version: 2023-05-01-preview
    get:
      tags:
        - PrivateLinkResource
      summary: Gets a list of privately linkable resources for an account.
      description: Gets a list of privately linkable resources for an account
      operationId: PrivateLinkResources_ListByAccount
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/accountName'
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourceList'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Purview/accounts/{accountName}/privateLinkResources/{groupId}:
    x-api-version: 2023-05-01-preview
    get:
      tags:
        - PrivateLinkResource
      summary: Gets a privately linkable resources for an account with given group identifier.
      description: Gets a privately linkable resources for an account with given group identifier
      operationId: PrivateLinkResources_GetByGroupId
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/resourceGroupName'
        - $ref: '#/components/parameters/accountName'
        - name: groupId
          in: path
          description: The group identifier.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResource'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
  /subscriptions/{subscriptionId}/providers/Microsoft.Purview/checkNameAvailability:
    x-api-version: 2023-05-01-preview
    post:
      tags:
        - Provider
      summary: Checks the account name availability.
      description: Checks if account name is available.
      operationId: Accounts_CheckNameAvailability
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - $ref: '#/components/parameters/api-version'
      requestBody:
        description: The check name availability request.
        required: true
        x-ms-requestBody-name: checkNameAvailabilityRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
  /subscriptions/{subscriptionId}/providers/Microsoft.Purview/locations/{location}/usages:
    x-api-version: 2023-05-01-preview
    get:
      tags:
        - Usages
      summary: Gets the Usage quota configuration.
      description: Get the usage quota configuration
      operationId: Usages_Get
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - name: location
          in: path
          description: The region.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
        - name: $filter
          in: query
          description: The filter, currently unused.
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageList'
        default:
          description: An error response received from the provider.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
