openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  version: 2017-02-01-preview
  title: KeyVaultManagementClient
  description: The Admin KeyVault Management Client.
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Quota:
      description: KeyVault Quota.
      type: object
      properties:
        properties:
          x-ms-client-flatten: true
          description: Properties for keyvault quotas.
          $ref: '#/components/schemas/QuotaProperties'
      allOf:
        - $ref: '#/components/schemas/Resource'
    QuotaProperties:
      description: Properties for keyvault quotas.
      type: object
      properties: {}
    QuotaList:
      description: List of keyvault quotas.
      type: object
      properties:
        value:
          description: List of keyvault quotas.
          type: array
          items:
            $ref: '#/components/schemas/Quota'
        nextLink:
          type: string
          description: URI to the next page.
    Operation:
      description: Describes the supported rest operation.
      properties:
        name:
          description: The name of the operation being performed on this particular object. It should match the action name that appears in RBAC / the event service.
          type: string
        display:
          description: Contains the localized display information for this particular operation / action.
          $ref: '#/components/schemas/Display'
    Display:
      description: Contains the localized display information for this particular operation / action.
      properties:
        provider:
          description: The localized friendly form of the resource provider name; it is expected to also include the publisher/company responsible. It should use Title Casing and begin with "Microsoft" for 1st party services. e.g. "Microsoft Monitoring Insights" or "Microsoft Compute."
          type: string
        resource:
          description: The localized friendly form of the resource type related to this action/operation; it should match the public documentation for the resource provider.
          type: string
        operation:
          description: The localized friendly name for the operation, as it should be shown to the user.
          type: string
        description:
          description: The localized friendly description for the operation, as it should be shown to the user. It should be thorough, yet concise it will be used in tool tips and detailed views.
          type: string
    OperationList:
      description: List of Operations
      properties:
        value:
          description: Array of operations
          type: array
          items:
            $ref: '#/components/schemas/Operation'
          x-ms-identifiers:
            - name
        nextLink:
          description: URI to the next page of operations.
          type: string
    Resource:
      description: Base Resource Object
      type: object
      properties:
        id:
          readOnly: true
          description: URI of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of resource.
          type: string
        location:
          readOnly: true
          description: Location where resource is location.
          type: string
        tags:
          readOnly: true
          description: List of key value pairs.
          type: object
          additionalProperties:
            type: string
      x-ms-azure-resource: true
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        default: 2017-02-01-preview
        type: string
    LocationParameter:
      name: location
      in: path
      description: The location of the quota.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.KeyVault.Admin/locations/{location}/quotas:
    x-api-version: 2017-02-01-preview
    get:
      description: Get a list of all quota objects for KeyVault at a location.
      tags:
        - KeyVault
      operationId: Quotas_List
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/LocationParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaList'
      x-ms-pageable:
        nextLinkName: null
  /providers/Microsoft.KeyVault.Admin/operations:
    x-api-version: 2017-02-01-preview
    get:
      description: Get the list of support rest operations.
      tags:
        - KeyVault
      operationId: Operations_List
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
      x-ms-pageable:
        nextLinkName: nextLink
