openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  version: 2017-10-01-preview
  title: IoTSpacesClient
  description: Use this API to manage the IoTSpaces service instances in your Azure subscription.
  x-ms-code-generation-settings:
    header: MICROSOFT_MIT_NO_VERSION
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas: {}
  parameters:
    subscriptionId:
      name: subscriptionId
      in: path
      description: The subscription identifier.
      required: true
      schema:
        format: uuid
        type: string
    api-version:
      name: api-version
      in: query
      description: The version of the API.
      required: true
      schema:
        enum:
          - 2017-10-01-preview
        minLength: 10
        type: string
    resourceGroupName:
      name: resourceGroupName
      in: path
      description: The name of the resource group that contains the IoTSpaces instance.
      required: true
      x-ms-parameter-location: method
      schema:
        minLength: 1
        maxLength: 64
        type: string
    resourceName:
      name: resourceName
      in: path
      description: The name of the IoTSpaces instance.
      required: true
      x-ms-parameter-location: method
      schema:
        minLength: 1
        maxLength: 64
        type: string
paths: {}
