openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  title: Azure VMware Solution API
  description: Azure VMware Solution API
  version: '2023-03-01'
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Trial:
      type: object
      description: Subscription trial availability
      properties:
        status:
          description: Trial status
          type: string
          enum:
            - TrialAvailable
            - TrialUsed
            - TrialDisabled
          readOnly: true
          x-ms-enum:
            name: TrialStatus
            modelAsString: true
        availableHosts:
          description: Number of trial hosts available
          type: integer
          format: int32
          readOnly: true
    Quota:
      type: object
      description: Subscription quotas
      properties:
        hostsRemaining:
          description: Remaining hosts quota by sku type
          type: object
          readOnly: true
          additionalProperties:
            type: integer
            format: int32
            readOnly: true
        quotaEnabled:
          description: Host quota is active for current subscription
          type: string
          enum:
            - Enabled
            - Disabled
          readOnly: true
          x-ms-enum:
            name: QuotaEnabled
            modelAsString: true
    Resource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
        systemData:
          readOnly: true
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
          $ref: '#/components/schemas/systemData'
      x-ms-azure-resource: true
    TrackedResource:
      title: Tracked Resource
      description: The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
            - read
            - create
            - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
            - read
            - create
          description: The geo-location where the resource lives
      required:
        - location
      allOf:
        - $ref: '#/components/schemas/Resource'
    ResourceTags:
      description: Resource tags
      type: object
      additionalProperties:
        type: string
      x-ms-mutability:
        - read
        - create
        - update
    ProxyResource:
      title: Proxy Resource
      description: The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a location
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
    OperationList:
      type: object
      description: Pageable list of operations
      properties:
        value:
          description: List of operations
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Operation'
          x-ms-identifiers:
            - name
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    Operation:
      title: REST API Operation
      description: Details of a REST API operation, returned from the Resource Provider Operations API
      type: object
      properties:
        name:
          description: 'The name of the operation, as per Resource-Based Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write", "Microsoft.Compute/virtualMachines/capture/action"'
          type: string
          readOnly: true
        isDataAction:
          description: Whether the operation applies to data-plane. This is "true" for data-plane operations and "false" for ARM/control-plane operations.
          type: boolean
          readOnly: true
        display:
          description: Localized display information for this particular operation.
          type: object
          properties:
            provider:
              description: The localized friendly form of the resource provider name, e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".
              type: string
              readOnly: true
            resource:
              description: The localized friendly name of the resource type related to this operation. E.g. "Virtual Machines" or "Job Schedule Collections".
              type: string
              readOnly: true
            operation:
              description: The concise, localized friendly name for the operation; suitable for dropdowns. E.g. "Create or Update Virtual Machine", "Restart Virtual Machine".
              type: string
              readOnly: true
            description:
              description: The short, localized friendly description of the operation; suitable for tool tips and detailed views.
              type: string
              readOnly: true
        origin:
          description: The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is "user,system"
          type: string
          readOnly: true
          enum:
            - user
            - system
            - user,system
          x-ms-enum:
            name: Origin
            modelAsString: true
        actionType:
          description: Enum. Indicates the action type. "Internal" refers to actions that are for internal only APIs.
          type: string
          readOnly: true
          enum:
            - Internal
          x-ms-enum:
            name: ActionType
            modelAsString: true
    OperationProperties:
      description: Extra Operation properties
      type: object
      properties:
        serviceSpecification:
          $ref: '#/components/schemas/ServiceSpecification'
          description: Service specifications of the operation
    ServiceSpecification:
      description: Service specification payload
      type: object
      properties:
        logSpecifications:
          description: Specifications of the Log for Azure Monitoring
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/LogSpecification'
          x-ms-identifiers:
            - name
        metricSpecifications:
          description: Specifications of the Metrics for Azure Monitoring
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/MetricSpecification'
          x-ms-identifiers:
            - name
    LogSpecification:
      description: Specifications of the Log for Azure Monitoring
      type: object
      properties:
        name:
          description: Name of the log
          type: string
        displayName:
          description: Localized friendly display name of the log
          type: string
        blobDuration:
          description: Blob duration of the log
          type: string
    MetricSpecification:
      description: Specifications of the Metrics for Azure Monitoring
      type: object
      properties:
        name:
          description: Name of the metric
          type: string
        displayName:
          description: Localized friendly display name of the metric
          type: string
        displayDescription:
          description: Localized friendly description of the metric
          type: string
        unit:
          description: Unit that makes sense for the metric
          type: string
        category:
          description: Name of the metric category that the metric belongs to. A metric can only belong to a single category.
          type: string
        aggregationType:
          description: 'Only provide one value for this field. Valid values: Average, Minimum, Maximum, Total, Count.'
          type: string
        supportedAggregationTypes:
          description: Supported aggregation types
          uniqueItems: false
          type: array
          items:
            type: string
        supportedTimeGrainTypes:
          description: Supported time grain types
          uniqueItems: false
          type: array
          items:
            type: string
        fillGapWithZero:
          description: Optional. If set to true, then zero will be returned for time duration where no metric is emitted/published.
          type: boolean
        dimensions:
          description: Dimensions of the metric
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/MetricDimension'
          x-ms-identifiers:
            - name
        enableRegionalMdmAccount:
          description: Whether or not the service is using regional MDM accounts.
          type: string
        sourceMdmAccount:
          description: The name of the MDM account.
          type: string
        sourceMdmNamespace:
          description: The name of the MDM namespace.
          type: string
    MetricDimension:
      description: Specifications of the Dimension of metrics
      type: object
      properties:
        name:
          description: Name of the dimension
          type: string
        displayName:
          description: Localized friendly display name of the dimension
          type: string
        internalName:
          description: Name of the dimension as it appears in MDM
          type: string
        toBeExportedForShoebox:
          description: A boolean flag indicating whether this dimension should be included for the shoebox export scenario
          type: boolean
    ExpressRouteAuthorization:
      type: object
      description: ExpressRoute Circuit Authorization
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: The properties of an ExpressRoute Circuit Authorization resource
          $ref: '#/components/schemas/ExpressRouteAuthorizationProperties'
          x-ms-client-flatten: true
          readOnly: true
    ExpressRouteAuthorizationProperties:
      type: object
      description: The properties of an ExpressRoute Circuit Authorization resource
      properties:
        provisioningState:
          description: The state of the  ExpressRoute Circuit Authorization provisioning
          type: string
          readOnly: true
          enum:
            - Succeeded
            - Failed
            - Updating
            - Canceled
          x-ms-enum:
            name: ExpressRouteAuthorizationProvisioningState
            modelAsString: true
        expressRouteAuthorizationId:
          description: The ID of the ExpressRoute Circuit Authorization
          type: string
          readOnly: true
        expressRouteAuthorizationKey:
          description: The key of the ExpressRoute Circuit Authorization
          type: string
          readOnly: true
        expressRouteId:
          type: string
          description: The ID of the ExpressRoute Circuit
    ExpressRouteAuthorizationList:
      type: object
      description: A paged list of ExpressRoute Circuit Authorizations
      properties:
        value:
          description: The items on a page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ExpressRouteAuthorization'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    Circuit:
      type: object
      description: An ExpressRoute Circuit
      properties:
        primarySubnet:
          type: string
          readOnly: true
          description: CIDR of primary subnet
        secondarySubnet:
          type: string
          readOnly: true
          description: CIDR of secondary subnet
        expressRouteID:
          type: string
          readOnly: true
          description: Identifier of the ExpressRoute Circuit (Microsoft Colo only)
        expressRoutePrivatePeeringID:
          type: string
          readOnly: true
          description: ExpressRoute Circuit private peering identifier
    EncryptionKeyVaultProperties:
      type: object
      description: An Encryption Key
      properties:
        keyName:
          type: string
          description: The name of the key.
        keyVersion:
          type: string
          description: The version of the key.
        autoDetectedKeyVersion:
          type: string
          readOnly: true
          description: The auto-detected version of the key if versionType is auto-detected.
        keyVaultUrl:
          type: string
          description: The URL of the vault.
        keyState:
          type: string
          description: The state of key provided
          readOnly: true
          enum:
            - Connected
            - AccessDenied
          x-ms-enum:
            name: EncryptionKeyStatus
            modelAsString: true
        versionType:
          type: string
          description: Property of the key if user provided or auto detected
          readOnly: true
          enum:
            - Fixed
            - AutoDetected
          x-ms-enum:
            name: EncryptionVersionType
            modelAsString: true
    Encryption:
      type: object
      description: The properties of customer managed encryption key
      properties:
        status:
          description: Status of customer managed encryption key
          type: string
          enum:
            - Enabled
            - Disabled
          x-ms-enum:
            name: EncryptionState
            modelAsString: true
        keyVaultProperties:
          description: The key vault where the encryption key is stored
          $ref: '#/components/schemas/EncryptionKeyVaultProperties'
    Endpoints:
      type: object
      description: Endpoint addresses
      properties:
        nsxtManager:
          description: Endpoint for the NSX-T Data Center manager
          type: string
          readOnly: true
        vcsa:
          description: Endpoint for Virtual Center Server Appliance
          type: string
          readOnly: true
        hcxCloudManager:
          description: Endpoint for the HCX Cloud Manager
          type: string
          readOnly: true
    IdentitySource:
      type: object
      description: vCenter Single Sign On Identity Source
      properties:
        name:
          description: The name of the identity source
          type: string
        alias:
          description: The domain's NetBIOS name
          type: string
        domain:
          description: The domain's dns name
          type: string
        baseUserDN:
          description: The base distinguished name for users
          type: string
        baseGroupDN:
          description: The base distinguished name for groups
          type: string
        primaryServer:
          description: Primary server URL
          type: string
        secondaryServer:
          description: Secondary server URL
          type: string
        ssl:
          description: Protect LDAP communication using SSL certificate (LDAPS)
          type: string
          enum:
            - Enabled
            - Disabled
          x-ms-enum:
            name: SslEnum
            modelAsString: true
        username:
          description: The ID of an Active Directory user with a minimum of read-only access to Base DN for users and group
          type: string
        password:
          description: The password of the Active Directory user with a minimum of read-only access to Base DN for users and groups.
          type: string
          x-ms-secret: true
    AvailabilityProperties:
      type: object
      description: The properties describing private cloud availability zone distribution
      properties:
        strategy:
          description: The availability strategy for the private cloud
          type: string
          enum:
            - SingleZone
            - DualZone
          x-ms-enum:
            name: AvailabilityStrategy
            modelAsString: true
        zone:
          description: The primary availability zone for the private cloud
          type: integer
          format: int32
        secondaryZone:
          description: The secondary availability zone for the private cloud
          type: integer
          format: int32
    PrivateCloud:
      type: object
      description: A private cloud resource
      required:
        - location
        - sku
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      properties:
        sku:
          description: The private cloud SKU
          $ref: '#/components/schemas/Sku'
        properties:
          description: The properties of a private cloud resource
          $ref: '#/components/schemas/PrivateCloudProperties'
          x-ms-client-flatten: true
        identity:
          $ref: '#/components/schemas/PrivateCloudIdentity'
          description: The identity of the private cloud, if configured.
    PrivateCloudUpdate:
      type: object
      description: An update to a private cloud resource
      properties:
        tags:
          description: Resource tags
          $ref: '#/components/schemas/ResourceTags'
        properties:
          description: The updatable properties of a private cloud resource
          $ref: '#/components/schemas/PrivateCloudUpdateProperties'
          x-ms-client-flatten: true
        identity:
          $ref: '#/components/schemas/PrivateCloudIdentity'
          description: The identity of the private cloud, if configured.
    PrivateCloudUpdateProperties:
      type: object
      description: The properties of a private cloud resource that may be updated
      properties:
        managementCluster:
          description: The default cluster used for management
          $ref: '#/components/schemas/ManagementCluster'
        internet:
          description: Connectivity to internet is enabled or disabled
          type: string
          enum:
            - Enabled
            - Disabled
          default: Disabled
          x-ms-enum:
            name: InternetEnum
            modelAsString: true
        identitySources:
          description: vCenter Single Sign On Identity Sources
          type: array
          items:
            $ref: '#/components/schemas/IdentitySource'
          x-ms-identifiers:
            - name
        availability:
          description: Properties describing how the cloud is distributed across availability zones
          $ref: '#/components/schemas/AvailabilityProperties'
          x-ms-mutability:
            - create
            - read
        encryption:
          description: Customer managed key encryption, can be enabled or disabled
          $ref: '#/components/schemas/Encryption'
        extendedNetworkBlocks:
          description: Array of additional networks noncontiguous with networkBlock. Networks must be unique and non-overlapping across VNet in your subscription, on-premise, and this privateCloud networkBlock attribute. Make sure the CIDR format conforms to (A.B.C.D/X).
          type: array
          items:
            type: string
    PrivateCloudProperties:
      type: object
      description: The properties of a private cloud resource
      required:
        - managementCluster
        - networkBlock
      allOf:
        - $ref: '#/components/schemas/PrivateCloudUpdateProperties'
      properties:
        provisioningState:
          description: The provisioning state
          type: string
          readOnly: true
          enum:
            - Succeeded
            - Failed
            - Cancelled
            - Pending
            - Building
            - Deleting
            - Updating
            - Canceled
          x-ms-enum:
            name: PrivateCloudProvisioningState
            modelAsString: true
        circuit:
          description: An ExpressRoute Circuit
          $ref: '#/components/schemas/Circuit'
        endpoints:
          description: The endpoints
          readOnly: true
          $ref: '#/components/schemas/Endpoints'
        networkBlock:
          description: The block of addresses should be unique across VNet in your subscription as well as on-premise. Make sure the CIDR format is conformed to (A.B.C.D/X) where A,B,C,D are between 0 and 255, and X is between 0 and 22
          type: string
          x-ms-mutability:
            - create
            - read
        managementNetwork:
          description: Network used to access vCenter Server and NSX-T Manager
          type: string
          readOnly: true
        provisioningNetwork:
          description: Used for virtual machine cold migration, cloning, and snapshot migration
          type: string
          readOnly: true
        vmotionNetwork:
          description: Used for live migration of virtual machines
          type: string
          readOnly: true
        vcenterPassword:
          description: Optionally, set the vCenter admin password when the private cloud is created
          type: string
          x-ms-secret: true
        nsxtPassword:
          description: Optionally, set the NSX-T Manager password when the private cloud is created
          type: string
          x-ms-secret: true
        vcenterCertificateThumbprint:
          description: Thumbprint of the vCenter Server SSL certificate
          type: string
          readOnly: true
        nsxtCertificateThumbprint:
          description: Thumbprint of the NSX-T Manager SSL certificate
          type: string
          readOnly: true
        externalCloudLinks:
          description: Array of cloud link IDs from other clouds that connect to this one
          type: array
          readOnly: true
          items:
            type: string
        secondaryCircuit:
          description: A secondary expressRoute circuit from a separate AZ. Only present in a stretched private cloud
          $ref: '#/components/schemas/Circuit'
        nsxPublicIpQuotaRaised:
          description: Flag to indicate whether the private cloud has the quota for provisioned NSX Public IP count raised from 64 to 1024
          type: string
          readOnly: true
          enum:
            - Enabled
            - Disabled
          x-ms-enum:
            name: nsxPublicIpQuotaRaisedEnum
            modelAsString: true
    Cluster:
      type: object
      description: A cluster resource
      required:
        - sku
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        sku:
          description: The cluster SKU
          $ref: '#/components/schemas/Sku'
        properties:
          description: The properties of a cluster resource
          $ref: '#/components/schemas/ClusterProperties'
          x-ms-client-flatten: true
    ClusterUpdate:
      type: object
      description: An update of a cluster resource
      properties:
        properties:
          description: The properties of a cluster resource that may be updated
          $ref: '#/components/schemas/ClusterUpdateProperties'
          x-ms-client-flatten: true
    ClusterUpdateProperties:
      type: object
      description: The properties of a cluster that may be updated
      properties:
        clusterSize:
          description: The cluster size
          type: integer
          format: int32
        hosts:
          description: The hosts
          type: array
          items:
            type: string
    ClusterProvisioningState:
      description: The state of the cluster provisioning
      type: string
      readOnly: true
      enum:
        - Succeeded
        - Failed
        - Cancelled
        - Deleting
        - Updating
        - Canceled
      x-ms-enum:
        name: ClusterProvisioningState
        modelAsString: true
    CommonClusterProperties:
      type: object
      description: The common properties of a cluster
      properties:
        clusterSize:
          description: The cluster size
          type: integer
          format: int32
        provisioningState:
          description: The state of the cluster provisioning
          $ref: '#/components/schemas/ClusterProvisioningState'
        clusterId:
          description: The identity
          type: integer
          format: int32
          readOnly: true
        hosts:
          description: The hosts
          type: array
          items:
            type: string
    ManagementCluster:
      type: object
      description: The properties of a management cluster
      required:
        - clusterSize
      allOf:
        - $ref: '#/components/schemas/CommonClusterProperties'
    ClusterProperties:
      type: object
      description: The properties of a cluster
      allOf:
        - $ref: '#/components/schemas/CommonClusterProperties'
    PrivateCloudList:
      type: object
      description: A paged list of private clouds
      properties:
        value:
          description: The items on the page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/PrivateCloud'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    ClusterList:
      type: object
      description: A paged list of clusters
      properties:
        value:
          description: The items on a page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Cluster'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    Addon:
      type: object
      description: An addon resource
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: The properties of an addon resource
          $ref: '#/components/schemas/AddonProperties'
          x-ms-client-flatten: false
    AddonProperties:
      type: object
      description: The properties of an addon
      discriminator:
        propertyName: addonType
      properties:
        addonType:
          description: The type of private cloud addon
          type: string
          enum:
            - SRM
            - VR
            - HCX
            - Arc
          x-ms-enum:
            name: AddonType
            modelAsString: true
        provisioningState:
          description: The state of the addon provisioning
          type: string
          readOnly: true
          enum:
            - Succeeded
            - Failed
            - Cancelled
            - Building
            - Deleting
            - Updating
            - Canceled
          x-ms-enum:
            name: AddonProvisioningState
            modelAsString: true
      required:
        - addonType
    AddonSrmProperties:
      type: object
      description: The properties of a Site Recovery Manager (SRM) addon
      x-ms-discriminator-value: SRM
      allOf:
        - $ref: '#/components/schemas/AddonProperties'
      properties:
        licenseKey:
          description: The Site Recovery Manager (SRM) license
          type: string
    AddonVrProperties:
      type: object
      description: The properties of a vSphere Replication (VR) addon
      x-ms-discriminator-value: VR
      allOf:
        - $ref: '#/components/schemas/AddonProperties'
      properties:
        vrsCount:
          description: The vSphere Replication Server (VRS) count
          type: integer
          format: int32
      required:
        - vrsCount
    AddonHcxProperties:
      type: object
      description: The properties of an HCX addon
      x-ms-discriminator-value: HCX
      allOf:
        - $ref: '#/components/schemas/AddonProperties'
      properties:
        offer:
          description: The HCX offer, example VMware MaaS Cloud Provider (Enterprise)
          type: string
      required:
        - offer
    AddonArcProperties:
      type: object
      description: The properties of an Arc addon
      x-ms-discriminator-value: Arc
      allOf:
        - $ref: '#/components/schemas/AddonProperties'
      properties:
        vCenter:
          description: The VMware vCenter resource ID
          type: string
    AddonList:
      type: object
      description: A paged list of addons
      properties:
        value:
          description: The items on a page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Addon'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    DatastoreList:
      type: object
      description: A paged list of datastores
      properties:
        value:
          description: The items on a page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Datastore'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    Datastore:
      type: object
      description: A datastore resource
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: The properties of a datastore resource
          $ref: '#/components/schemas/DatastoreProperties'
          x-ms-client-flatten: true
    DatastoreProperties:
      type: object
      description: The properties of a datastore
      properties:
        provisioningState:
          description: The state of the datastore provisioning
          type: string
          readOnly: true
          enum:
            - Succeeded
            - Failed
            - Cancelled
            - Pending
            - Creating
            - Updating
            - Deleting
            - Canceled
          x-ms-enum:
            name: DatastoreProvisioningState
            modelAsString: true
        netAppVolume:
          description: An Azure NetApp Files volume
          $ref: '#/components/schemas/NetAppVolume'
        diskPoolVolume:
          description: An iSCSI volume
          $ref: '#/components/schemas/DiskPoolVolume'
        status:
          description: The operational status of the datastore
          type: string
          readOnly: true
          enum:
            - Unknown
            - Accessible
            - Inaccessible
            - Attached
            - Detached
            - LostCommunication
            - DeadOrError
          x-ms-enum:
            name: DatastoreStatus
            modelAsString: true
    NetAppVolume:
      type: object
      description: An Azure NetApp Files volume from Microsoft.NetApp provider
      properties:
        id:
          type: string
          description: Azure resource ID of the NetApp volume
      required:
        - id
    DiskPoolVolume:
      type: object
      description: An iSCSI volume from Microsoft.StoragePool provider
      properties:
        targetId:
          type: string
          description: Azure resource ID of the iSCSI target
        lunName:
          type: string
          description: Name of the LUN to be used for datastore
        mountOption:
          type: string
          description: Mode that describes whether the LUN has to be mounted as a datastore or attached as a LUN
          enum:
            - MOUNT
            - ATTACH
          x-ms-enum:
            name: MountOptionEnum
            modelAsString: true
          default: MOUNT
        path:
          type: string
          description: Device path
          readOnly: true
      required:
        - targetId
        - lunName
    AdminCredentials:
      type: object
      description: Administrative credentials for accessing vCenter and NSX-T
      properties:
        nsxtUsername:
          description: NSX-T Manager username
          type: string
          readOnly: true
        nsxtPassword:
          description: NSX-T Manager password
          type: string
          readOnly: true
          x-ms-secret: true
        vcenterUsername:
          description: vCenter admin username
          type: string
          readOnly: true
        vcenterPassword:
          description: vCenter admin password
          type: string
          readOnly: true
          x-ms-secret: true
    Sku:
      description: The resource model definition representing SKU
      type: object
      properties:
        name:
          type: string
          description: The name of the SKU. E.g. P3. It is typically a letter+number code
        tier:
          $ref: '#/components/schemas/SkuTier'
        size:
          type: string
          description: 'The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. '
        family:
          type: string
          description: If the service has different generations of hardware, for the same SKU, then that can be captured here.
        capacity:
          type: integer
          format: int32
          description: If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted.
      required:
        - name
    HcxEnterpriseSiteList:
      type: object
      description: A paged list of HCX Enterprise Sites
      properties:
        value:
          description: The items on a page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/HcxEnterpriseSite'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    HcxEnterpriseSite:
      type: object
      description: An HCX Enterprise Site resource
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: The properties of an HCX Enterprise Site resource
          $ref: '#/components/schemas/HcxEnterpriseSiteProperties'
          x-ms-client-flatten: true
          readOnly: true
    HcxEnterpriseSiteProperties:
      type: object
      description: The properties of an HCX Enterprise Site
      properties:
        activationKey:
          description: The activation key
          type: string
          readOnly: true
        status:
          description: The status of the HCX Enterprise Site
          type: string
          readOnly: true
          enum:
            - Available
            - Consumed
            - Deactivated
            - Deleted
          x-ms-enum:
            name: HcxEnterpriseSiteStatus
            modelAsString: true
    GlobalReachConnectionList:
      type: object
      description: A paged list of global reach connections
      properties:
        value:
          description: The items on a page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/GlobalReachConnection'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    GlobalReachConnection:
      type: object
      description: A global reach connection resource
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: The properties of a global reach connection resource
          $ref: '#/components/schemas/GlobalReachConnectionProperties'
          x-ms-client-flatten: true
    GlobalReachConnectionProperties:
      type: object
      description: The properties of a global reach connection
      properties:
        provisioningState:
          description: The state of the  ExpressRoute Circuit Authorization provisioning
          type: string
          readOnly: true
          enum:
            - Succeeded
            - Failed
            - Updating
            - Canceled
          x-ms-enum:
            name: GlobalReachConnectionProvisioningState
            modelAsString: true
        addressPrefix:
          description: The network used for global reach carved out from the original network block provided for the private cloud
          type: string
          readOnly: true
        authorizationKey:
          description: Authorization key from the peer express route used for the global reach connection
          type: string
        circuitConnectionStatus:
          description: The connection status of the global reach connection
          type: string
          readOnly: true
          enum:
            - Connected
            - Connecting
            - Disconnected
          x-ms-enum:
            name: GlobalReachConnectionStatus
            modelAsString: true
        peerExpressRouteCircuit:
          type: string
          description: Identifier of the ExpressRoute Circuit to peer with in the global reach connection
        expressRouteId:
          type: string
          description: The ID of the Private Cloud's ExpressRoute Circuit that is participating in the global reach connection
    CloudLinkList:
      type: object
      description: A paged list of cloud links
      properties:
        value:
          description: The items on a page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/CloudLink'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    CloudLink:
      type: object
      description: A cloud link resource
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: The properties of a cloud link.
          $ref: '#/components/schemas/CloudLinkProperties'
          x-ms-client-flatten: true
    CloudLinkProperties:
      type: object
      description: The properties of a cloud link.
      properties:
        status:
          description: The state of the cloud link.
          type: string
          readOnly: true
          enum:
            - Active
            - Building
            - Deleting
            - Failed
            - Disconnected
          x-ms-enum:
            name: CloudLinkStatus
            modelAsString: true
        linkedCloud:
          type: string
          description: Identifier of the other private cloud participating in the link.
    WorkloadNetworkSegmentSubnet:
      type: object
      description: Subnet configuration for segment
      properties:
        dhcpRanges:
          description: DHCP Range assigned for subnet.
          type: array
          items:
            type: string
        gatewayAddress:
          description: Gateway address.
          type: string
    WorkloadNetworkSegmentPortVif:
      type: object
      description: Ports and any VIF attached to segment.
      properties:
        portName:
          description: Name of port or VIF attached to segment.
          type: string
    WorkloadNetworkSegmentProperties:
      type: object
      description: NSX Segment Properties
      properties:
        displayName:
          description: Display name of the segment.
          type: string
        connectedGateway:
          description: Gateway which to connect segment to.
          type: string
        subnet:
          description: Subnet which to connect segment to.
          $ref: '#/components/schemas/WorkloadNetworkSegmentSubnet'
        portVif:
          description: Port Vif which segment is associated with.
          type: array
          items:
            $ref: '#/components/schemas/WorkloadNetworkSegmentPortVif'
          x-ms-identifiers:
            - portName
          readOnly: true
        status:
          description: Segment status.
          type: string
          enum:
            - SUCCESS
            - FAILURE
          x-ms-enum:
            name: SegmentStatusEnum
            modelAsString: true
          readOnly: true
        provisioningState:
          description: The provisioning state
          type: string
          readOnly: true
          enum:
            - Succeeded
            - Failed
            - Building
            - Deleting
            - Updating
            - Canceled
          x-ms-enum:
            name: WorkloadNetworkSegmentProvisioningState
            modelAsString: true
        revision:
          description: NSX revision number.
          type: integer
          format: int64
    WorkloadNetwork:
      type: object
      description: Workload Network
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
    WorkloadNetworkSegment:
      type: object
      description: NSX Segment
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          description: The properties of a Workload Segment proxy resource.
          $ref: '#/components/schemas/WorkloadNetworkSegmentProperties'
          x-ms-client-flatten: true
    WorkloadNetworkList:
      type: object
      description: A list of workload networks
      properties:
        value:
          description: The items on the page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/WorkloadNetwork'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    WorkloadNetworkSegmentsList:
      type: object
      description: A list of NSX Segments
      properties:
        value:
          description: The items on the page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/WorkloadNetworkSegment'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    WorkloadNetworkDhcpEntity:
      type: object
      description: Base class for WorkloadNetworkDhcpServer and WorkloadNetworkDhcpRelay to inherit from
      discriminator:
        propertyName: dhcpType
      properties:
        dhcpType:
          description: 'Type of DHCP: SERVER or RELAY.'
          type: string
          enum:
            - SERVER
            - RELAY
          x-ms-enum:
            name: DhcpTypeEnum
            modelAsString: true
        displayName:
          description: Display name of the DHCP entity.
          type: string
        segments:
          description: NSX Segments consuming DHCP.
          type: array
          items:
            type: string
          readOnly: true
        provisioningState:
          description: The provisioning state
          type: string
          readOnly: true
          enum:
            - Succeeded
            - Failed
            - Building
            - Deleting
            - Updating
            - Canceled
          x-ms-enum:
            name: WorkloadNetworkDhcpProvisioningState
            modelAsString: true
        revision:
          description: NSX revision number.
          type: integer
          format: int64
      required:
        - dhcpType
    WorkloadNetworkDhcpServer:
      type: object
      description: NSX DHCP Server
      x-ms-discriminator-value: SERVER
      allOf:
        - $ref: '#/components/schemas/WorkloadNetworkDhcpEntity'
      properties:
        serverAddress:
          description: DHCP Server Address.
          type: string
        leaseTime:
          description: DHCP Server Lease Time.
          type: integer
          format: int64
    WorkloadNetworkDhcpRelay:
      type: object
      description: NSX DHCP Relay
      x-ms-discriminator-value: RELAY
      allOf:
        - $ref: '#/components/schemas/WorkloadNetworkDhcpEntity'
      properties:
        serverAddresses:
          description: DHCP Relay Addresses. Max 3.
          type: array
          items:
            type: string
          minItems: 1
          maxItems: 3
    WorkloadNetworkDhcp:
      type: object
      description: NSX DHCP
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          description: DHCP properties.
          $ref: '#/components/schemas/WorkloadNetworkDhcpEntity'
          x-ms-client-flatten: false
    WorkloadNetworkDhcpList:
      type: object
      description: A list of NSX dhcp entities
      properties:
        value:
          description: The items on the page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/WorkloadNetworkDhcp'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    WorkloadNetworkPortMirroringProperties:
      type: object
      description: NSX Port Mirroring Properties
      properties:
        displayName:
          description: Display name of the port mirroring profile.
          type: string
        direction:
          description: Direction of port mirroring profile.
          type: string
          enum:
            - INGRESS
            - EGRESS
            - BIDIRECTIONAL
          x-ms-enum:
            name: PortMirroringDirectionEnum
            modelAsString: true
        source:
          description: Source VM Group.
          type: string
        destination:
          description: Destination VM Group.
          type: string
        status:
          description: Port Mirroring Status.
          type: string
          enum:
            - SUCCESS
            - FAILURE
          x-ms-enum:
            name: PortMirroringStatusEnum
            modelAsString: true
          readOnly: true
        provisioningState:
          description: The provisioning state
          type: string
          readOnly: true
          enum:
            - Succeeded
            - Failed
            - Building
            - Deleting
            - Updating
            - Canceled
          x-ms-enum:
            name: WorkloadNetworkPortMirroringProvisioningState
            modelAsString: true
        revision:
          description: NSX revision number.
          type: integer
          format: int64
    WorkloadNetworkPortMirroring:
      type: object
      description: NSX Port Mirroring
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          description: Port Mirroring Properties.
          $ref: '#/components/schemas/WorkloadNetworkPortMirroringProperties'
          x-ms-client-flatten: true
    WorkloadNetworkPortMirroringList:
      type: object
      description: A list of NSX Port Mirroring
      properties:
        value:
          description: The items on the page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/WorkloadNetworkPortMirroring'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    WorkloadNetworkVMGroupProperties:
      type: object
      description: NSX VM Group Properties
      properties:
        displayName:
          description: Display name of the VM group.
          type: string
        members:
          description: Virtual machine members of this group.
          type: array
          items:
            type: string
        status:
          description: VM Group status.
          type: string
          enum:
            - SUCCESS
            - FAILURE
          x-ms-enum:
            name: VMGroupStatusEnum
            modelAsString: true
          readOnly: true
        provisioningState:
          description: The provisioning state
          type: string
          readOnly: true
          enum:
            - Succeeded
            - Failed
            - Building
            - Deleting
            - Updating
            - Canceled
          x-ms-enum:
            name: WorkloadNetworkVMGroupProvisioningState
            modelAsString: true
        revision:
          description: NSX revision number.
          type: integer
          format: int64
    WorkloadNetworkVMGroup:
      type: object
      description: NSX VM Group
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          description: VM Group properties.
          $ref: '#/components/schemas/WorkloadNetworkVMGroupProperties'
          x-ms-client-flatten: true
    WorkloadNetworkVMGroupsList:
      type: object
      description: A list of NSX VM Groups
      properties:
        value:
          description: The items on the page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/WorkloadNetworkVMGroup'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    WorkloadNetworkVirtualMachineProperties:
      type: object
      description: NSX Virtual Machine Properties
      properties:
        displayName:
          description: Display name of the VM.
          type: string
        vmType:
          description: Virtual machine type.
          type: string
          enum:
            - REGULAR
            - EDGE
            - SERVICE
          x-ms-enum:
            name: VMTypeEnum
            modelAsString: true
          readOnly: true
    WorkloadNetworkVirtualMachine:
      type: object
      description: NSX Virtual Machine
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          description: Virtual machine properties.
          $ref: '#/components/schemas/WorkloadNetworkVirtualMachineProperties'
          x-ms-client-flatten: true
    WorkloadNetworkVirtualMachinesList:
      type: object
      description: A list of NSX Virtual Machines
      properties:
        value:
          description: The items on the page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/WorkloadNetworkVirtualMachine'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    WorkloadNetworkGatewayProperties:
      type: object
      description: Properties of a NSX Gateway.
      properties:
        displayName:
          description: Display name of the DHCP entity.
          type: string
        path:
          description: NSX Gateway Path.
          type: string
          readOnly: true
    WorkloadNetworkGateway:
      type: object
      description: NSX Gateway.
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          description: Gateway properties.
          $ref: '#/components/schemas/WorkloadNetworkGatewayProperties'
          x-ms-client-flatten: true
    WorkloadNetworkGatewayList:
      type: object
      description: A list of NSX Gateways
      properties:
        value:
          description: The items on the page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/WorkloadNetworkGateway'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    WorkloadNetworkDnsServiceProperties:
      type: object
      description: NSX DNS Service Properties
      properties:
        displayName:
          description: Display name of the DNS Service.
          type: string
        dnsServiceIp:
          description: DNS service IP of the DNS Service.
          type: string
        defaultDnsZone:
          description: Default DNS zone of the DNS Service.
          type: string
        fqdnZones:
          description: FQDN zones of the DNS Service.
          type: array
          items:
            type: string
        logLevel:
          description: DNS Service log level.
          type: string
          enum:
            - DEBUG
            - INFO
            - WARNING
            - ERROR
            - FATAL
          x-ms-enum:
            name: DnsServiceLogLevelEnum
            modelAsString: true
        status:
          description: DNS Service status.
          type: string
          enum:
            - SUCCESS
            - FAILURE
          x-ms-enum:
            name: DnsServiceStatusEnum
            modelAsString: true
          readOnly: true
        provisioningState:
          description: The provisioning state
          type: string
          readOnly: true
          enum:
            - Succeeded
            - Failed
            - Building
            - Deleting
            - Updating
            - Canceled
          x-ms-enum:
            name: WorkloadNetworkDnsServiceProvisioningState
            modelAsString: true
        revision:
          description: NSX revision number.
          type: integer
          format: int64
    WorkloadNetworkDnsService:
      type: object
      description: NSX DNS Service
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          description: DNS Service properties
          $ref: '#/components/schemas/WorkloadNetworkDnsServiceProperties'
          x-ms-client-flatten: true
    WorkloadNetworkDnsServicesList:
      type: object
      description: A list of NSX DNS Services
      properties:
        value:
          description: The items on the page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/WorkloadNetworkDnsService'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    WorkloadNetworkDnsZoneProperties:
      type: object
      description: NSX DNS Zone Properties
      properties:
        displayName:
          description: Display name of the DNS Zone.
          type: string
        domain:
          description: Domain names of the DNS Zone.
          type: array
          items:
            type: string
        dnsServerIps:
          description: DNS Server IP array of the DNS Zone.
          type: array
          items:
            type: string
        sourceIp:
          description: Source IP of the DNS Zone.
          type: string
        dnsServices:
          description: Number of DNS Services using the DNS zone.
          type: integer
          format: int64
        provisioningState:
          description: The provisioning state
          type: string
          readOnly: true
          enum:
            - Succeeded
            - Failed
            - Building
            - Deleting
            - Updating
            - Canceled
          x-ms-enum:
            name: WorkloadNetworkDnsZoneProvisioningState
            modelAsString: true
        revision:
          description: NSX revision number.
          type: integer
          format: int64
    WorkloadNetworkDnsZone:
      type: object
      description: NSX DNS Zone
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          description: DNS Zone properties
          $ref: '#/components/schemas/WorkloadNetworkDnsZoneProperties'
          x-ms-client-flatten: true
    WorkloadNetworkDnsZonesList:
      type: object
      description: A list of NSX DNS Zones
      properties:
        value:
          description: The items on the page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/WorkloadNetworkDnsZone'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    WorkloadNetworkPublicIPProperties:
      type: object
      description: NSX Public IP Block Properties
      properties:
        displayName:
          description: Display name of the Public IP Block.
          type: string
        numberOfPublicIPs:
          description: Number of Public IPs requested.
          type: integer
          format: int64
        publicIPBlock:
          description: CIDR Block of the Public IP Block.
          type: string
          readOnly: true
        provisioningState:
          description: The provisioning state
          type: string
          readOnly: true
          enum:
            - Succeeded
            - Failed
            - Building
            - Deleting
            - Updating
            - Canceled
          x-ms-enum:
            name: WorkloadNetworkPublicIPProvisioningState
            modelAsString: true
    WorkloadNetworkPublicIP:
      type: object
      description: NSX Public IP Block
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          description: Public IP Block properties
          $ref: '#/components/schemas/WorkloadNetworkPublicIPProperties'
          x-ms-client-flatten: true
    WorkloadNetworkPublicIPsList:
      type: object
      description: A list of NSX Public IP Blocks
      properties:
        value:
          description: The items on the page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/WorkloadNetworkPublicIP'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    VirtualMachineRestrictMovementState:
      description: Whether VM DRS-driven movement is restricted (enabled) or not (disabled)
      type: string
      enum:
        - Enabled
        - Disabled
      x-ms-enum:
        name: virtualMachineRestrictMovementState
        modelAsString: true
    VirtualMachineRestrictMovement:
      type: object
      description: Set VM DRS-driven movement to restricted (enabled) or not (disabled)
      properties:
        restrictMovement:
          $ref: '#/components/schemas/VirtualMachineRestrictMovementState'
    VirtualMachineProperties:
      type: object
      description: Virtual Machine Properties
      properties:
        displayName:
          description: Display name of the VM.
          type: string
          readOnly: true
        moRefId:
          description: Virtual machine managed object reference id
          type: string
          readOnly: true
        folderPath:
          description: Path to virtual machine's folder starting from datacenter virtual machine folder
          type: string
          readOnly: true
        restrictMovement:
          $ref: '#/components/schemas/VirtualMachineRestrictMovementState'
          readOnly: true
    VirtualMachine:
      type: object
      description: Virtual Machine
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          description: Virtual machine properties.
          $ref: '#/components/schemas/VirtualMachineProperties'
          x-ms-client-flatten: true
    VirtualMachinesList:
      type: object
      description: A list of Virtual Machines
      properties:
        value:
          description: The items to be displayed on the page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/VirtualMachine'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    PlacementPolicyProperties:
      type: object
      description: Abstract placement policy properties
      discriminator:
        propertyName: type
      properties:
        type:
          description: placement policy type
          type: string
          enum:
            - VmVm
            - VmHost
          x-ms-enum:
            name: PlacementPolicyType
            modelAsString: true
        state:
          description: Whether the placement policy is enabled or disabled
          type: string
          enum:
            - Enabled
            - Disabled
          x-ms-enum:
            name: PlacementPolicyState
            modelAsString: true
        displayName:
          description: Display name of the placement policy
          type: string
        provisioningState:
          description: The provisioning state
          type: string
          readOnly: true
          enum:
            - Succeeded
            - Failed
            - Building
            - Deleting
            - Updating
            - Canceled
          x-ms-enum:
            name: PlacementPolicyProvisioningState
            modelAsString: true
      required:
        - type
    VmVmPlacementPolicyProperties:
      type: object
      description: VM-VM placement policy properties
      x-ms-discriminator-value: VmVm
      allOf:
        - $ref: '#/components/schemas/PlacementPolicyProperties'
      properties:
        vmMembers:
          description: Virtual machine members list
          type: array
          items:
            type: string
        affinityType:
          description: placement policy affinity type
          $ref: '#/components/schemas/AffinityType'
      required:
        - vmMembers
        - affinityType
    VmHostPlacementPolicyProperties:
      type: object
      description: VM-Host placement policy properties
      x-ms-discriminator-value: VmHost
      allOf:
        - $ref: '#/components/schemas/PlacementPolicyProperties'
      properties:
        vmMembers:
          description: Virtual machine members list
          type: array
          items:
            type: string
        hostMembers:
          description: Host members list
          type: array
          items:
            type: string
        affinityType:
          description: placement policy affinity type
          $ref: '#/components/schemas/AffinityType'
        affinityStrength:
          description: vm-host placement policy affinity strength (should/must)
          $ref: '#/components/schemas/AffinityStrength'
        azureHybridBenefitType:
          description: placement policy azure hybrid benefit opt-in type
          $ref: '#/components/schemas/AzureHybridBenefitType'
      required:
        - vmMembers
        - hostMembers
        - affinityType
    PlacementPolicy:
      type: object
      description: A vSphere Distributed Resource Scheduler (DRS) placement policy
      allOf:
        - $ref: '#/components/schemas/Resource'
      properties:
        properties:
          description: placement policy properties
          $ref: '#/components/schemas/PlacementPolicyProperties'
          x-ms-client-flatten: false
    PlacementPoliciesList:
      type: object
      description: Represents list of placement policies
      properties:
        value:
          description: The items on the page
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/PlacementPolicy'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    PlacementPolicyUpdate:
      type: object
      description: An update of a DRS placement policy resource
      properties:
        properties:
          description: The properties of a placement policy resource that may be updated
          $ref: '#/components/schemas/PlacementPolicyUpdateProperties'
          x-ms-client-flatten: true
    PlacementPolicyUpdateProperties:
      type: object
      description: The properties of a placement policy resource that may be updated
      properties:
        state:
          description: Whether the placement policy is enabled or disabled
          type: string
          enum:
            - Enabled
            - Disabled
          x-ms-enum:
            name: PlacementPolicyState
            modelAsString: true
        vmMembers:
          description: Virtual machine members list
          type: array
          items:
            type: string
        hostMembers:
          description: Host members list
          type: array
          items:
            type: string
        affinityStrength:
          description: vm-host placement policy affinity strength (should/must)
          $ref: '#/components/schemas/AffinityStrength'
        azureHybridBenefitType:
          description: placement policy azure hybrid benefit opt-in type
          $ref: '#/components/schemas/AzureHybridBenefitType'
    AffinityType:
      description: Placement policy affinity type
      type: string
      enum:
        - Affinity
        - AntiAffinity
      x-ms-enum:
        name: AffinityType
        modelAsString: true
    AffinityStrength:
      description: VM-Host placement policy affinity strength (should/must)
      type: string
      enum:
        - Should
        - Must
      x-ms-enum:
        name: AffinityStrength
        modelAsString: true
    AzureHybridBenefitType:
      description: Placement policy hosts opt-in Azure Hybrid Benefit type
      type: string
      enum:
        - SqlHost
        - None
      x-ms-enum:
        name: AzureHybridBenefitType
        modelAsString: true
    ScriptPackageProperties:
      type: object
      description: Properties of a Script Package subresource
      properties:
        description:
          description: User friendly description of the package
          type: string
          readOnly: true
        version:
          description: Module version
          type: string
          readOnly: true
        company:
          description: Company that created and supports the package
          type: string
          readOnly: true
        uri:
          description: Link to support by the package vendor
          type: string
          readOnly: true
    ScriptPackagesList:
      type: object
      description: A list of the available script packages
      properties:
        value:
          description: List of script package resources
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ScriptPackage'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    ScriptPackage:
      type: object
      description: Script Package resources available for execution
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          description: ScriptPackage resource properties
          $ref: '#/components/schemas/ScriptPackageProperties'
          x-ms-client-flatten: true
    ScriptParameter:
      type: object
      description: An parameter that the script will accept
      properties:
        type:
          type: string
          readOnly: true
          description: The type of parameter the script is expecting. psCredential is a PSCredentialObject
          enum:
            - String
            - SecureString
            - Credential
            - Int
            - Bool
            - Float
          x-ms-enum:
            name: ScriptParameterTypes
            modelAsString: true
        name:
          type: string
          description: The parameter name that the script will expect a parameter value for
        description:
          type: string
          readOnly: true
          description: User friendly description of the parameter
        visibility:
          description: Should this parameter be visible to arm and passed in the parameters argument when executing
          type: string
          readOnly: true
          enum:
            - Visible
            - Hidden
          x-ms-enum:
            name: VisibilityParameterEnum
            modelAsString: true
        optional:
          description: Is this parameter required or optional
          type: string
          readOnly: true
          enum:
            - Optional
            - Required
          x-ms-enum:
            name: OptionalParamEnum
            modelAsString: true
    ScriptCmdlet:
      type: object
      description: A cmdlet available for script execution
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          description: The properties of a script cmdlet resource
          $ref: '#/components/schemas/ScriptCmdletProperties'
          x-ms-client-flatten: true
    ScriptCmdletProperties:
      type: object
      description: Properties of a pre-canned script
      properties:
        description:
          description: Description of the scripts functionality
          type: string
          readOnly: true
        timeout:
          description: Recommended time limit for execution
          type: string
          readOnly: true
        parameters:
          description: Parameters the script will accept
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ScriptParameter'
          x-ms-identifiers:
            - name
    ScriptCmdletsList:
      type: object
      description: Pageable list of scripts/cmdlets
      properties:
        value:
          description: List of scripts
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ScriptCmdlet'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    ScriptExecutionParameter:
      type: object
      discriminator:
        propertyName: type
      description: The arguments passed in to the execution
      properties:
        name:
          type: string
          description: The parameter name
        type:
          description: The type of execution parameter
          type: string
          enum:
            - Value
            - SecureValue
            - Credential
          x-ms-enum:
            name: ScriptExecutionParameterType
            modelAsString: true
      required:
        - type
        - name
    ScriptExecution:
      type: object
      description: An instance of a script executed by a user - custom or AVS
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        properties:
          description: The properties of a script execution resource
          $ref: '#/components/schemas/ScriptExecutionProperties'
          x-ms-client-flatten: true
    ScriptExecutionProperties:
      type: object
      description: Properties of a user-invoked script
      properties:
        scriptCmdletId:
          description: A reference to the script cmdlet resource if user is running a AVS script
          type: string
        parameters:
          description: Parameters the script will accept
          type: array
          items:
            $ref: '#/components/schemas/ScriptExecutionParameter'
          x-ms-identifiers:
            - name
        hiddenParameters:
          description: Parameters that will be hidden/not visible to ARM, such as passwords and credentials
          type: array
          items:
            $ref: '#/components/schemas/ScriptExecutionParameter'
          x-ms-identifiers:
            - name
        failureReason:
          type: string
          description: Error message if the script was able to run, but if the script itself had errors or powershell threw an exception
        timeout:
          description: Time limit for execution
          type: string
        retention:
          description: Time to live for the resource. If not provided, will be available for 60 days
          type: string
        submittedAt:
          description: Time the script execution was submitted
          type: string
          format: date-time
          readOnly: true
        startedAt:
          description: Time the script execution was started
          type: string
          format: date-time
          readOnly: true
        finishedAt:
          description: Time the script execution was finished
          type: string
          format: date-time
          readOnly: true
        provisioningState:
          description: The state of the script execution resource
          type: string
          readOnly: true
          enum:
            - Pending
            - Running
            - Succeeded
            - Failed
            - Cancelling
            - Cancelled
            - Deleting
            - Canceled
          x-ms-enum:
            name: ScriptExecutionProvisioningState
            modelAsString: true
        output:
          description: Standard output stream from the powershell execution
          type: array
          items:
            type: string
        namedOutputs:
          description: User-defined dictionary.
          type: object
          additionalProperties:
            type: object
            description: Dictionary in <name, value> pair.
        information:
          description: Standard information out stream from the powershell execution
          type: array
          items:
            type: string
          readOnly: true
        warnings:
          description: Standard warning out stream from the powershell execution
          type: array
          items:
            type: string
          readOnly: true
        errors:
          description: Standard error output stream from the powershell execution
          type: array
          items:
            type: string
          readOnly: true
      required:
        - timeout
    ScriptExecutionsList:
      type: object
      description: Pageable list of script executions
      properties:
        value:
          description: List of scripts
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/ScriptExecution'
        nextLink:
          description: URL to get the next page if any
          type: string
          readOnly: true
    ScriptSecureStringExecutionParameter:
      type: object
      description: a plain text value execution parameter
      x-ms-discriminator-value: SecureValue
      allOf:
        - $ref: '#/components/schemas/ScriptExecutionParameter'
      properties:
        secureValue:
          type: string
          description: A secure value for the passed parameter, not to be stored in logs
          x-ms-secret: true
    ScriptStringExecutionParameter:
      type: object
      description: a plain text value execution parameter
      x-ms-discriminator-value: Value
      allOf:
        - $ref: '#/components/schemas/ScriptExecutionParameter'
      properties:
        value:
          type: string
          description: The value for the passed parameter
    PSCredentialExecutionParameter:
      type: object
      description: a powershell credential object
      x-ms-discriminator-value: Credential
      allOf:
        - $ref: '#/components/schemas/ScriptExecutionParameter'
      properties:
        username:
          description: username for login
          type: string
        password:
          description: password for login
          type: string
      x-ms-secret: true
    PrivateCloudIdentity:
      type: object
      properties:
        principalId:
          readOnly: true
          type: string
          description: The principal ID of private cloud identity. This property will only be provided for a system assigned identity.
        tenantId:
          readOnly: true
          type: string
          description: The tenant ID associated with the private cloud. This property will only be provided for a system assigned identity.
        type:
          type: string
          description: The type of identity used for the private cloud. The type 'SystemAssigned' refers to an implicitly created identity. The type 'None' will remove any identities from the Private Cloud.
          enum:
            - SystemAssigned
            - None
          x-ms-enum:
            name: ResourceIdentityType
            modelAsString: true
      description: Identity for the virtual machine.
    ClusterZone:
      type: object
      properties:
        hosts:
          readOnly: true
          type: array
          items:
            type: string
          description: List of hosts belonging to the availability zone in a cluster
        zone:
          readOnly: true
          type: string
          description: Availability zone identifier
      description: Zone and associated hosts info
    ClusterZoneList:
      type: object
      properties:
        zones:
          type: array
          description: Zone and associated hosts info
          items:
            $ref: '#/components/schemas/ClusterZone'
          x-ms-identifiers:
            - zone
      description: List of all zones and associated hosts for a cluster
    AzureEntityResource:
      x-ms-client-name: AzureEntityResource
      title: Entity Resource
      description: The resource model definition for an Azure Resource Manager resource with an etag.
      type: object
      properties:
        etag:
          type: string
          readOnly: true
          description: Resource Etag.
      allOf:
        - $ref: '#/components/schemas/Resource'
    ResourceModelWithAllowedPropertySet:
      description: The resource model definition containing the full set of allowed properties for a resource. Except properties bag, there cannot be a top level property outside of this set.
      type: object
      properties:
        managedBy:
          type: string
          x-ms-mutability:
            - read
            - create
            - update
          description: The fully qualified resource ID of the resource that manages this resource. Indicates if this resource is managed by another Azure resource. If this is present, complete mode deployment will not delete the resource if it is removed from the template since it is managed by another resource.
        kind:
          type: string
          x-ms-mutability:
            - read
            - create
          description: Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type. E.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value.
          pattern: ^[-\w\._,\(\)]+$
        etag:
          readOnly: true
          type: string
          description: 'The etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields. '
        identity:
          allOf:
            - $ref: '#/components/schemas/Identity'
        sku:
          allOf:
            - $ref: '#/components/schemas/Sku'
        plan:
          allOf:
            - $ref: '#/components/schemas/Plan'
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      x-ms-azure-resource: true
    SkuTier:
      type: string
      enum:
        - Free
        - Basic
        - Standard
        - Premium
      x-ms-enum:
        name: SkuTier
        modelAsString: false
      description: This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT.
    Identity:
      description: Identity for the resource.
      type: object
      properties:
        principalId:
          readOnly: true
          type: string
          format: uuid
          description: The principal ID of resource identity. The value must be an UUID.
        tenantId:
          readOnly: true
          type: string
          format: uuid
          description: The tenant ID of resource. The value must be an UUID.
        type:
          type: string
          description: The identity type.
          enum:
            - SystemAssigned
          x-ms-enum:
            name: ResourceIdentityType
            modelAsString: false
    Plan:
      type: object
      properties:
        name:
          type: string
          description: A user defined name of the 3rd Party Artifact that is being procured.
        publisher:
          type: string
          description: The publisher of the 3rd Party Artifact that is being bought. E.g. NewRelic
        product:
          type: string
          description: 'The 3rd Party artifact that is being procured. E.g. NewRelic. Product maps to the OfferID specified for the artifact at the time of Data Market onboarding. '
        promotionCode:
          type: string
          description: A publisher provided promotion code as provisioned in Data Market for the said product/artifact.
        version:
          type: string
          description: The version of the desired product/artifact.
      description: Plan for the resource.
      required:
        - name
        - publisher
        - product
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
          x-ms-identifiers:
            - message
            - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          description: The error additional info.
    ErrorResponse:
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).
      type: object
      properties:
        error:
          description: The error object.
          $ref: '#/components/schemas/ErrorDetail'
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    OperationListResult:
      description: A list of REST API operations supported by an Azure Resource Provider. It contains an URL link to get the next set of results.
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Operation'
          x-ms-identifiers:
            - name
          description: List of operations supported by the resource provider
          readOnly: true
        nextLink:
          type: string
          format: uri
          description: URL to get the next set of operation list results (if there are any).
          readOnly: true
    OperationStatusResult:
      description: The current status of an async operation.
      type: object
      required:
        - status
      properties:
        id:
          description: Fully qualified ID for the async operation.
          type: string
          format: arm-id
        resourceId:
          description: Fully qualified ID of the resource against which the original async operation was started.
          type: string
          format: arm-id
          readOnly: true
        name:
          description: Name of the async operation.
          type: string
        status:
          description: Operation status.
          type: string
        percentComplete:
          description: Percent of the operation that is complete.
          type: number
          minimum: 0
          maximum: 100
        startTime:
          description: The start time of the operation.
          type: string
          format: date-time
        endTime:
          description: The end time of the operation.
          type: string
          format: date-time
        operations:
          description: The operations list.
          type: array
          items:
            $ref: '#/components/schemas/OperationStatusResult'
        error:
          description: If present, details of the operation error.
          $ref: '#/components/schemas/ErrorDetail'
    locationData:
      description: Metadata pertaining to the geographic location of the resource.
      type: object
      properties:
        name:
          type: string
          maxLength: 256
          description: A canonical name for the geographic or physical location.
        city:
          type: string
          description: The city or locality where the resource is located.
        district:
          type: string
          description: The district, state, or province where the resource is located.
        countryOrRegion:
          type: string
          description: The country or region where the resource is located
      required:
        - name
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
    encryptionProperties:
      description: Configuration of key for data encryption
      type: object
      properties:
        status:
          description: Indicates whether or not the encryption is enabled for container registry.
          enum:
            - enabled
            - disabled
          type: string
          x-ms-enum:
            name: EncryptionStatus
            modelAsString: true
        keyVaultProperties:
          $ref: '#/components/schemas/KeyVaultProperties'
          description: Key vault properties.
    KeyVaultProperties:
      type: object
      properties:
        keyIdentifier:
          description: Key vault uri to access the encryption key.
          type: string
        identity:
          description: The client ID of the identity which will be used to access key vault.
          type: string
    CheckNameAvailabilityRequest:
      description: The check availability request body.
      type: object
      properties:
        name:
          description: The name of the resource for which availability needs to be checked.
          type: string
        type:
          description: The resource type.
          type: string
    CheckNameAvailabilityResponse:
      description: The check availability result.
      type: object
      properties:
        nameAvailable:
          description: Indicates if the resource name is available.
          type: boolean
        reason:
          description: The reason why the given name is not available.
          type: string
          enum:
            - Invalid
            - AlreadyExists
          x-ms-enum:
            name: CheckNameAvailabilityReason
            modelAsString: true
        message:
          description: Detailed reason why the given name is available.
          type: string
  parameters:
    privateCloudName:
      name: privateCloudName
      in: path
      description: Name of the private cloud
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[-\w\._]+$
        type: string
    clusterName:
      name: clusterName
      in: path
      description: Name of the cluster in the private cloud
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[-\w\._]+$
        type: string
    hcxEnterpriseSiteName:
      name: hcxEnterpriseSiteName
      in: path
      description: Name of the HCX Enterprise Site in the private cloud
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[-\w\._]+$
        type: string
    addonName:
      name: addonName
      in: path
      description: Name of the addon for the private cloud
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[-\w\._]+$
        type: string
    authorizationName:
      name: authorizationName
      in: path
      description: Name of the ExpressRoute Circuit Authorization in the private cloud
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[-\w\._]+$
        type: string
    globalReachConnectionName:
      name: globalReachConnectionName
      in: path
      description: Name of the global reach connection in the private cloud
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[-\w\._]+$
        type: string
    segmentId:
      name: segmentId
      in: path
      description: NSX Segment identifier. Generally the same as the Segment's display name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    dhcpId:
      name: dhcpId
      in: path
      description: NSX DHCP identifier. Generally the same as the DHCP display name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    portMirroringId:
      name: portMirroringId
      in: path
      description: NSX Port Mirroring identifier. Generally the same as the Port Mirroring display name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    vmGroupId:
      name: vmGroupId
      in: path
      description: NSX VM Group identifier. Generally the same as the VM Group's display name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    virtualMachineId:
      name: virtualMachineId
      in: path
      description: Virtual Machine identifier
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    gatewayId:
      name: gatewayId
      in: path
      description: NSX Gateway identifier. Generally the same as the Gateway's display name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    dnsServiceId:
      name: dnsServiceId
      in: path
      description: NSX DNS Service identifier. Generally the same as the DNS Service's display name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    dnsZoneId:
      name: dnsZoneId
      in: path
      description: NSX DNS Zone identifier. Generally the same as the DNS Zone's display name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    publicIPId:
      name: publicIPId
      in: path
      description: NSX Public IP Block identifier. Generally the same as the Public IP Block's display name
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    datastoreName:
      name: datastoreName
      in: path
      description: Name of the datastore in the private cloud cluster
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[-\w\._]+$
        type: string
    cloudLinkName:
      name: cloudLinkName
      in: path
      description: Name of the cloud link resource
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[-\w\._]+$
        type: string
    placementPolicyName:
      name: placementPolicyName
      in: path
      description: Name of the VMware vSphere Distributed Resource Scheduler (DRS) placement policy
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[-\w\._]+$
        type: string
    scriptExecutionName:
      name: scriptExecutionName
      in: path
      description: Name of the user-invoked script execution resource
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[-\w\._]+$
        type: string
    scriptPackageName:
      name: scriptPackageName
      in: path
      description: Name of the script package in the private cloud
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[-\w\._@]+$
        type: string
    scriptCmdletName:
      name: scriptCmdletName
      in: path
      description: Name of the script cmdlet resource in the script package in the private cloud
      required: true
      x-ms-parameter-location: method
      schema:
        pattern: ^[-\w\._]+$
        type: string
    workloadNetworkName:
      name: workloadNetworkName
      in: path
      description: Name for the workload network in the private cloud
      required: true
      x-ms-parameter-location: method
      schema:
        enum:
          - default
        x-ms-enum:
          name: WorkloadNetworkName
          modelAsString: true
        pattern: ^[-\w\._]+$
        type: string
    provisionedNetworkName:
      name: provisionedNetworkName
      in: path
      description: Name of the provisioned network in the private cloud
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        format: uuid
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        minLength: 1
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        minLength: 1
        maxLength: 90
        type: string
    OperationIdParameter:
      name: operationId
      in: path
      description: The ID of an ongoing async operation.
      required: true
      x-ms-parameter-location: method
      schema:
        minLength: 1
        type: string
    LocationParameter:
      name: location
      in: path
      description: The name of the Azure region.
      required: true
      x-ms-parameter-location: method
      schema:
        minLength: 1
        type: string
    ManagementGroupNameParameter:
      name: managementGroupName
      in: path
      description: The name of the management group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        minLength: 1
        maxLength: 90
        type: string
    ScopeParameter:
      name: scope
      in: path
      description: The scope at which the operation is performed.
      required: true
      x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      schema:
        minLength: 1
        maxLength: 90
        type: string
    TenantIdParameter:
      name: tenantId
      in: path
      description: The Azure tenant ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)
      required: true
      x-ms-parameter-location: method
      schema:
        format: uuid
        type: string
    If-Match:
      name: ifMatch
      in: header
      description: The If-Match header that makes a request conditional.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    If-None-Match:
      name: ifNoneMatch
      in: header
      description: The If-None-Match header that makes a request conditional.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
paths:
  /providers/Microsoft.AVS/operations:
    x-api-version: '2023-03-01'
    get:
      tags:
        - Operations
      description: Lists all of the available operations
      operationId: Operations_List
      x-ms-pageable:
        nextLinkName: nextLink
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.AVS/locations/{location}/checkTrialAvailability:
    x-api-version: '2023-03-01'
    post:
      tags:
        - Locations
      description: Return trial status for subscription by region
      operationId: Locations_CheckTrialAvailability
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - name: location
          in: path
          description: Azure region
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: The sku to check for trial availability
        required: false
        x-ms-requestBody-name: sku
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sku'
      responses:
        '200':
          description: Request has succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trial'
        default:
          description: Error response describing why the operation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.AVS/locations/{location}/checkQuotaAvailability:
    x-api-version: '2023-03-01'
    post:
      tags:
        - Locations
      description: Return quota for subscription by region
      operationId: Locations_CheckQuotaAvailability
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - name: location
          in: path
          description: Azure region
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Request has succeeded
          content:
[...]
