openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  version: 2018-02-28-preview
  title: Customer Lockbox
  description: Azure Customer Lockbox API Reference
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    OperationListResult:
      description: Result of the request to list Customer Lockbox operations. It contains a list of operations.
      type: object
      properties:
        value:
          description: List of Customer Lockbox operations supported by the Microsoft.StreamAnalytics resource provider.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Operation'
          x-ms-identifiers:
            - name
        nextLink:
          description: URL to get the next set of operation list results if there are any.
          type: string
          readOnly: true
    Operation:
      description: Operation result model for ARM RP
      type: object
      readOnly: true
      properties:
        name:
          description: Gets or sets action name
          type: string
          readOnly: true
        isDataAction:
          description: Gets or sets a value indicating whether it is a data plane action
          type: string
          readOnly: true
        display:
          description: Contains the localized display information for this particular operation / action.
          type: object
          readOnly: true
          properties:
            provider:
              description: The localized friendly form of the resource provider name.
              type: string
              readOnly: true
            resource:
              description: The localized friendly form of the resource type related to this action/operation.
              type: string
              readOnly: true
            operation:
              description: The localized friendly name for the operation.
              type: string
              readOnly: true
            description:
              description: The localized friendly description for the operation.
              type: string
              readOnly: true
        properties:
          description: Gets or sets properties
          type: string
          readOnly: true
        origin:
          description: Gets or sets origin
          type: string
          readOnly: true
    TenantOptInResponse:
      description: TenantOptIn Response object
      type: object
      properties:
        isOptedIn:
          type: boolean
          description: 'True if tenant is opted in, false otherwise '
          readOnly: true
    RequestListResult:
      description: Object containing a list of streaming jobs.
      type: object
      properties:
        value:
          type: array
          description: A list of Lockbox requests. Populated by a 'List' operation.
          items:
            $ref: '#/components/schemas/LockboxRequestResponse'
          readOnly: true
        nextLink:
          type: string
          readOnly: true
          description: URL to get the next set of operation list results if there are any.
    LockboxRequestResponse:
      description: A Lockbox request response object, containing all information associated with the request.
      type: object
      properties:
        id:
          type: string
          description: The Arm resource id of the Lockbox request.
          readOnly: true
        name:
          type: string
          description: The name of the Lockbox request.
          readOnly: true
        type:
          type: string
          description: The type of the Lockbox request.
          readOnly: true
        properties:
          $ref: '#/components/schemas/LockboxRequestResponseProperties'
          description: The properties that are associated with a lockbox request.
    LockboxRequestResponseProperties:
      description: The properties that are associated with a lockbox request.
      type: object
      properties:
        requestId:
          type: string
          readOnly: true
          description: The Lockbox request ID.
        justification:
          type: string
          readOnly: true
          description: The justification of the requestor.
        status:
          $ref: '#/components/schemas/LockboxRequestStatus'
          description: The status of the request.
        createdDateTime:
          format: date-time
          type: string
          description: The creation time of the request.
          readOnly: true
        expirationDateTime:
          format: date-time
          type: string
          description: The expiration time of the request.
          readOnly: true
        duration:
          type: string
          description: The duration of the request in hours.
          readOnly: true
        resourceIds:
          type: string
          description: A list of resource IDs associated with the Lockbox request separated by ','.
          readOnly: true
        resourceType:
          type: string
          description: The resource type of the requested resources.
          readOnly: true
        supportRequest:
          type: string
          description: The id of the support request associated.
          readOnly: true
        supportCaseUrl:
          type: string
          description: The url of the support case.
          readOnly: true
        workitemsource:
          type: string
          description: The support case system that was used to initiate the request.
          readOnly: true
        subscriptionId:
          type: string
          description: The subscription ID.
          readOnly: true
        accessLevel:
          type: string
          description: Access level for requested resource
          readOnly: true
    LockboxRequestStatus:
      enum:
        - Initializing
        - Pending
        - Approving
        - Denying
        - Approved
        - Denied
        - Expired
        - Revoking
        - Revoked
        - Error
        - Unknown
        - Completed
        - Completing
      type: string
      description: The status of the request.
      x-ms-enum:
        name: Status
        modelAsString: true
    Approval:
      description: Request content object, in the use of Approve or Deny a Lockbox request.
      type: object
      properties:
        status:
          enum:
            - Approve
            - Deny
          type: string
          description: Approval decision to the Lockbox request.
          x-ms-enum:
            name: Status
            modelAsString: true
        reason:
          type: string
          description: Reason of the decision
    ErrorResponse:
      x-ms-external: true
      description: An error response from the Lockbox service.
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorBody'
          description: Detailed information about the error encountered.
    ErrorBody:
      x-ms-external: true
      description: An error response body from the Lockbox service.
      type: object
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        additionalInfo:
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          description: A list of error details about the error.
    ErrorAdditionalInfo:
      x-ms-external: true
      description: An error additional info for the Lockbox service.
      type: object
      properties:
        type:
          type: string
          description: The type of error info.
        info:
          type: object
          description: Additional information about the request that is in error state.
          properties:
            currentStatus:
              $ref: '#/components/schemas/LockboxRequestStatus'
              description: The current status/state of the request quired.
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    TenantIdParameter:
      name: tenantId
      in: path
      description: The Azure tenant ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to be used with the HTTP request.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    RequestIdParameter:
      name: requestId
      in: path
      description: The Lockbox request ID.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
paths:
  /providers/Microsoft.CustomerLockbox/operations:
    x-api-version: 2018-02-28-preview
    get:
      tags:
        - Operations
      description: Lists all the available REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK. Successfully retrieved operation list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.CustomerLockbox/tenantOptedIn/{tenantId}:
    x-api-version: 2018-02-28-preview
    get:
      tags:
        - Requests
      description: Get Customer Lockbox request
      operationId: Get_TenantOptedIn
      parameters:
        - $ref: '#/components/parameters/TenantIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Retrieval of Opt-in status for Tenant successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantOptInResponse'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /providers/Microsoft.CustomerLockbox/enableLockbox:
    x-api-version: 2018-02-28-preview
    post:
      tags:
        - Requests
      description: 'Enable Tenant for Lockbox '
      operationId: Post_EnableLockbox
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Enabling Tenant for Lockbox successful
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /providers/Microsoft.CustomerLockbox/disableLockbox:
    x-api-version: 2018-02-28-preview
    post:
      tags:
        - Requests
      description: 'Disable Tenant for Lockbox '
      operationId: Post_DisableLockbox
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Disabling Tenant for Lockbox successful
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.CustomerLockbox/requests/{requestId}:
    x-api-version: 2018-02-28-preview
    get:
      tags:
        - Requests
      description: Get Customer Lockbox request
      operationId: Requests_Get
      parameters:
        - $ref: '#/components/parameters/RequestIdParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Retrieval of Customer Lockbox request successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockboxRequestResponse'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.CustomerLockbox/requests/{requestId}/updateApproval:
    x-api-version: 2018-02-28-preview
    post:
      tags:
        - Requests
      description: Update Customer Lockbox request approval status API
      operationId: Requests_UpdateStatus
      requestBody:
        description: The approval object to update request status.
        required: true
        x-ms-requestBody-name: approval
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Approval'
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/RequestIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Update of Request Status successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.CustomerLockbox/requests:
    x-api-version: 2018-02-28-preview
    get:
      tags:
        - Requests
      description: Lists all of the Lockbox requests in the given subscription.
      operationId: Requests_List
      parameters:
        - name: $filter
          in: query
          description: The $filter OData query parameter. Only filter by request status is supported, e.g $filter=properties/status eq 'Pending'
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Successfully listed the Lockbox requests under the given subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
