openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  version: '2019-01-01'
  title: DeploymentAdminClient
  description: Deployment Admin Client.
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Resource:
      description: Object model of azure resource manager base.
      type: object
      properties:
        id:
          readOnly: true
          description: ID of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        type:
          readOnly: true
          description: Type of Resource.
          type: string
        location:
          description: Location of the resource.
          type: string
      x-ms-azure-resource: true
    ExtendedErrorInfo:
      type: object
      description: Error response.
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinition'
          description: The error details.
    ErrorDefinition:
      type: object
      description: Error definition.
      properties:
        code:
          description: Service specific error code which serves as the substatus for the HTTP error code.
          type: string
          readOnly: true
        message:
          description: Description of the error.
          type: string
          readOnly: true
        details:
          description: Internal error details.
          type: array
          items:
            $ref: '#/components/schemas/ErrorDefinition'
          x-ms-identifiers: []
          readOnly: true
    JTokenString:
      description: Error information
      type: object
      properties:
        value:
          description: Parameters as JToken string
          type: string
    Operation:
      description: Describes the supported REST operation.
      properties:
        name:
          description: The name of the operation being performed on this particular object. This name should match the name that appears in RBAC or the event service.
          type: string
        display:
          description: Contains the localized display information for this particular operation or action.
          $ref: '#/components/schemas/Display'
        origin:
          description: Origin for the operation. Eg. User, System
          type: string
    Display:
      description: Contains the localized display information for this particular operation or action.
      properties:
        provider:
          description: The localized, friendly version of the resource provider name. The provider name is expected to include the name of the publisher or company responsible. The provider name format should use title case and begin with "Microsoft" for first-party services. For example, the provider name may be"Microsoft Monitoring Insights" or "Microsoft Compute."
          type: string
        resource:
          description: The localized, friendly version of the resource type related to this action or operation; the resource type should match the public documentation for the resource provider.
          type: string
        operation:
          description: The localized, friendly name for the operation. Use the name as it will displayed to the user.
          type: string
        description:
          description: The localized, friendly description for the operation. The description will be displayed to the user. It should be thorough and concise for used in both tooltips and detailed views.
          type: string
    OperationList:
      description: List of Operations
      properties:
        value:
          description: Array of operations
          type: array
          items:
            $ref: '#/components/schemas/Operation'
          x-ms-identifiers:
            - name
        nextLink:
          description: URI to the next page of operations.
          type: string
    LocationList:
      description: List of locations
      properties:
        value:
          description: Array of locations.
          type: array
          items:
            $ref: '#/components/schemas/LocationsResourceEntity'
        nextLink:
          type: string
          description: Continuation token
    LocationsResourceEntity:
      type: object
      description: Location Resource Entity
      properties:
        properties:
          description: Location Properties
          $ref: '#/components/schemas/LocationAdminProperties'
          x-ms-client-flatten: true
        eTag:
          description: Entity tag of the resource
          type: string
      allOf:
        - $ref: '#/components/schemas/Resource'
    LocationAdminProperties:
      description: Location Admin Properties
      type: object
      properties:
        location:
          description: the location name
          title: location
          type: string
    ProductDeploymentsList:
      description: List of Product Deployments.
      properties:
        value:
          description: List of Product Deployments.
          type: array
          items:
            $ref: '#/components/schemas/ProductDeploymentResourceEntity'
        nextLink:
          description: URI to the next page.
          type: string
    ProductDeploymentResourceEntity:
      type: object
      description: Product deployment entity
      properties:
        properties:
          description: Product deployment resource properties
          $ref: '#/components/schemas/ProductDeploymentsProperties'
          x-ms-client-flatten: true
        eTag:
          description: entity tag
          type: string
      allOf:
        - $ref: '#/components/schemas/Resource'
    ProductDeploymentsProperties:
      type: object
      description: Product deployment resource properties
      properties:
        status:
          description: Status of the product deployment.
          $ref: '#/components/schemas/DeploymentStatus'
        subscriptionId:
          description: The product subscription identifier
          type: string
        deployment:
          description: The current deployment information
          $ref: '#/components/schemas/DeploymentInfo'
        lastSuccessfulDeployment:
          description: The last successful deployment information
          $ref: '#/components/schemas/DeploymentInfo'
        secretRotation:
          description: Resource provider secret rotation information
          $ref: '#/components/schemas/SecretRotationInfo'
        internalState:
          description: Product deployment resource internal state
          $ref: '#/components/schemas/ProductDeploymentsInternalState'
        error:
          description: Error Information
          $ref: '#/components/schemas/ExtendedErrorInfo'
        externalAccess:
          description: Resource provider secret rotation information
          $ref: '#/components/schemas/ExternalAccessInfo'
        provisioningState:
          description: The provisioning state
          type: string
        productId:
          description: The product identifier
          type: string
    DeploymentStatus:
      description: Status of an operation.
      type: string
      enum:
        - None
        - Bootstrapping
        - BootstrapSucceeded
        - BootstrapFailed
        - Deploying
        - DeploymentSucceeded
        - DeploymentFailed
        - Updating
        - UpdateSucceeded
        - UpdateFailed
        - Removing
        - RemoveFailed
        - SecretRotationInProgress
        - SecretRotationSucceeded
        - SecretRotationFailed
        - Migrated
      x-ms-enum:
        name: DeploymentStatus
        modelAsString: true
    DeploymentInfo:
      type: object
      description: Resource provider deployment information
      properties:
        version:
          description: The product version
          type: string
        parameters:
          description: The latest deployment parameters as JToken
          type: string
        actionPlanInstanceResourceId:
          description: The identifier of the latest action plan instance resource.
          type: string
        eTag:
          description: entity tag
          type: string
    SecretRotationInfo:
      type: object
      description: Resource provider deployment information
      properties:
        secretRotationPlanInstanceResourceId:
          description: The identifier of the latest secret rotation plan instance resource.
          type: string
    ExternalAccessInfo:
      type: object
      description: Resource provider deployment information
      properties:
        principalId:
          description: The object identifier of the user, group or service principal that have access to resource provider subscription.
          type: string
        expirationTime:
          description: The deployment start time
          type: string
          format: date-time
    ProductDeploymentsInternalState:
      type: object
      description: Resource type internal state
      properties:
        jobId:
          description: The latest deployment job identifier
          type: string
        intermediateVaultId:
          description: The intermediate vault resource identifier
          type: string
        intermediateVaultUri:
          description: The intermediate vault Uri.
          type: string
        externalAccessRoleAssignmentId:
          description: The current external access role assignment identifier
          type: string
    DeployActionParameters:
      description: Parameters for deploy action
      type: object
      properties:
        version:
          description: Generic Version object
          type: string
        parameters:
          description: Deployment parameters, value in JToken
          type: object
    BootStrapActionParameters:
      description: Parameters for bootstrap action
      type: object
      properties:
        version:
          description: Generic Version object
          type: string
    ExecuteRunnerActionParameters:
      description: Parameters for execute runner action
      type: object
      properties:
        parameters:
          description: Execute Runner parameters, value in JToken
          type: object
    ActionPlanList:
      description: List of action plans
      properties:
        value:
          description: Array of action plans.
          type: array
          items:
            $ref: '#/components/schemas/ActionPlanResourceEntity'
        nextLink:
          type: string
          description: Continuation token
    ActionPlanResourceEntity:
      type: object
      description: Action Plan Resource Entity
      properties:
        properties:
          description: Action Plan Properties
          $ref: '#/components/schemas/ActionPlanAdminProperties'
          x-ms-client-flatten: true
        eTag:
          description: Entity tag of the resource
          type: string
      allOf:
        - $ref: '#/components/schemas/Resource'
    ActionPlanAdminProperties:
      type: object
      description: Action Plan Properties
      properties:
        actionPlanUri:
          description: Action plan uri
          type: string
        resourceGroupName:
          description: The target resource group name
          type: string
        subscriptionId:
          description: The target subscription identifier
          type: string
        parameters:
          description: The deployment parameters in JToken format
          type: object
          $ref: '#/components/schemas/JTokenString'
        startTime:
          description: The deployment start time
          type: string
          format: date-time
        endTime:
          description: The deployment end time
          type: string
          format: date-time
        error:
          description: Error Information
          $ref: '#/components/schemas/ExtendedErrorInfo'
        provisioningState:
          description: The provisioning state
          type: string
        actionPlanInstanceId:
          description: Action plan instance identifier
          type: string
        blobContainerName:
          description: Blob container name storing the deployment data
          type: string
    FileContainer:
      type: object
      description: File container entity.
      properties:
        properties:
          description: File Container properties
          $ref: '#/components/schemas/FileContainerAdminProperties'
          x-ms-client-flatten: true
      allOf:
        - $ref: '#/components/schemas/Resource'
    FileContainerAdminProperties:
      description: File Container Properties.
      type: object
      properties:
        fileContainerId:
          description: File container resource identifier containing product manifest.
          $ref: '#/components/schemas/FileContainerId'
        sourceUri:
          description: The remote file location. This is write-only property, DRP never returns it back to a user.
          $ref: '#/components/schemas/SourceUri'
        uri:
          description: The file or container Uri. This is read-only property; a user cannot set it.
          type: string
        postCopyAction:
          description: Specifies the file post copy action.
          $ref: '#/components/schemas/PostCopyAction'
        error:
          description: The error response message.
          $ref: '#/components/schemas/ErrorInfo'
        provisioningState:
          description: Provisioning state of the resource.
          type: string
    FileContainersList:
      description: List of file containers.
      properties:
        value:
          description: List of file containers.
          type: array
          items:
            $ref: '#/components/schemas/FileContainer'
        nextLink:
          description: Continuation token.
          type: string
    ErrorInfo:
      description: Extended Error Information.
      type: object
      properties:
        code:
          description: The error code.
          type: string
        message:
          description: The error message.
          type: string
        details:
          description: The detailed error messages.
          type: array
          items:
            $ref: '#/components/schemas/ErrorInfo'
          x-ms-identifiers: []
    PostCopyAction:
      description: Specifies the file post copy action.
      type: string
      enum:
        - None
        - Unzip
      x-ms-enum:
        modelAsString: true
        name: PostCopyAction
    SourceUri:
      description: Specifies The remote file location.
      type: string
    FileContainerId:
      description: File container resource identifier containing product manifest.
      type: string
    FileContainerParameters:
      description: Parameters for creating a new file container.
      type: object
      properties:
        properties:
          description: Specifies the file container body
          $ref: '#/components/schemas/FileContainerBody'
    FileContainerBody:
      description: Body for creating a new file container.
      type: object
      properties:
        postCopyAction:
          description: Specifies the file post copy action.
          $ref: '#/components/schemas/PostCopyAction'
        sourceUri:
          description: Specifies The remote file location.
          $ref: '#/components/schemas/SourceUri'
    ProductPackage:
      description: Properties for a product package.
      type: object
      properties:
        properties:
          description: Properties of a product package.
          $ref: '#/components/schemas/ProductPackageProperties'
          x-ms-client-flatten: true
      allOf:
        - $ref: '#/components/schemas/Resource'
    ProductPackagesList:
      description: List of product packages.
      properties:
        value:
          description: List of product packages.
          type: array
          items:
            $ref: '#/components/schemas/ProductPackage'
        nextLink:
          description: Continuation Token.
          type: string
    ProductPackageProperties:
      type: object
      description: Properties for Product package.
      properties:
        fileContainerId:
          description: File container resource identifier containing product manifest.
          $ref: '#/components/schemas/FileContainerId'
        isDeployable:
          description: Value indicating whether the package is applicable for deployment.
          type: boolean
        isUpdatable:
          description: Value indicating whether the package is applicable for update.
          type: boolean
        productDeploymentId:
          description: The identifier of product deployment; null if this version is not installed.
          type: string
        provisioningState:
          description: Provisioning state of the resource.
          type: string
    ProductProperties:
      description: Additional properties of the product
      type: object
      properties:
        version:
          description: The version of the product
          type: string
    ProductLink:
      description: Link to a product.
      type: object
      properties:
        displayName:
          description: Displayed name of product.
          type: string
        uri:
          description: URI to product.
          type: string
    ProductLinks:
      description: List of product links.
      type: array
      items:
        $ref: '#/components/schemas/ProductLink'
      x-ms-identifiers:
        - uri
    ProductPackageParameters:
      description: Parameters for creating a new product package.
      type: object
      properties:
        properties:
          description: Specifies the product package
          $ref: '#/components/schemas/ProductPackageBody'
    ProductPackageBody:
      description: Body for creating a new product package.
      type: object
      properties:
        fileContainerId:
          description: Specifies the file container.
          $ref: '#/components/schemas/FileContainerId'
    OperationAttemptResult:
      description: Result of an Operation Attempt.
      type: object
      properties:
        properties:
          description: Result of an Operation Attempt.
          $ref: '#/components/schemas/OperationAttemptProperties'
          x-ms-client-flatten: true
      allOf:
        - $ref: '#/components/schemas/Resource'
    OperationAttemptProperties:
      type: object
      description: Operation Attempt Properties.
      properties:
        startTime:
          description: The deployment start time
          type: string
          format: date-time
        endTime:
          description: The deployment end time
          type: string
          format: date-time
        provisioningState:
          description: Provisioning state of the resource.
          type: string
    ProductSecret:
      description: Properties for a product secret.
      type: object
      properties:
        properties:
          description: Properties of a product secret.
          $ref: '#/components/schemas/ProductSecretProperties'
          x-ms-client-flatten: true
      allOf:
        - $ref: '#/components/schemas/Resource'
    ProductSecretsList:
      description: List of product secrets.
      properties:
        value:
          description: List of product secrets.
          type: array
          items:
            $ref: '#/components/schemas/ProductSecret'
        nextLink:
          description: URI to the next page.
          type: string
    ProductSecretProperties:
      type: object
      description: Properties of product secret.
      properties:
        secretState:
          description: The secret state.
          $ref: '#/components/schemas/SecretState'
        secretDescriptor:
          description: The secret type-specific descriptor.
          $ref: '#/components/schemas/SecretDescriptor'
        expiresAfter:
          description: The expiration period of the secret (in ISO8601 format).
          type: string
        description:
          description: The secret description.
          type: string
        provisioningState:
          description: Provisioning state of the resource.
          type: string
        secretKind:
          description: Specifies the secret kind.
          type: string
          enum:
            - AdHoc
            - Certificate
            - Password
            - StorageAccount
            - SymmetricKey
          x-ms-enum:
            modelAsString: true
            name: SecretKind
    SecretDescriptor:
      description: The secret type-specific descriptor.
      type: object
      properties:
        keyLength:
          description: The key length.
          type: integer
        alternativeDnsNames:
          description: Alternative DNS Names.
          type: array
          items:
            $ref: '#/components/schemas/AlternativeDnsNames'
        secondaryKeyIsActive:
          description: A value indicating whether the secondary or primary storage account key is active as a secret.
          type: boolean
        rotationStatus:
          description: The storage account key secret rotation status.
          type: string
          enum:
            - None
            - PlantNewSak
            - RotateInactiveSak
            - Complete
          x-ms-enum:
            modelAsString: true
            name: RotationStatus
        passwordLength:
          description: The minimum password length is 8 characters, and the maximum password length is 128 characters.
          type: integer
        allowedCharacters:
          description: The allowed characters in the password
          type: string
        passwordValidationRegex:
          description: Password validation regular expression.
          type: string
        subject:
          description: Certificate's subject
          type: string
        alternativeIpAddresses:
          description: The list of alternative IP addresses.
          type: array
          items:
            $ref: '#/components/schemas/AlternativeIpAddresses'
    AlternativeDnsNames:
      description: List of alternative DNS names.
      type: string
    AlternativeIpAddresses:
      description: List of alternative IP Addresses.
      type: string
    SecretState:
      description: Represents the secret state.
      type: object
      properties:
        status:
          description: The secret status.
          $ref: '#/components/schemas/SecretStatus'
        rotationStatus:
          description: the secret rotation status.
          $ref: '#/components/schemas/SecretRotationStatus'
        expirationDate:
          description: The secret expiration date.
          type: string
          format: date-time
    SecretStatus:
      description: Specifies the secret status.
      type: string
      enum:
        - NotUploaded
        - Uploaded
        - Deployed
      x-ms-enum:
        modelAsString: true
        name: SecretStatus
    SecretRotationStatus:
      description: Specifies the secret rotation status.
      type: string
      enum:
        - None
        - InProgress
        - Complete
      x-ms-enum:
        modelAsString: true
        name: SecretRotationStatus
    value:
      description: The secret value in a secure string format.
      type: string
    data:
      description: The converted Base64 String from a certificate pfx file.
      type: string
    key:
      description: The symmetric key as a secure string.
      type: string
    password:
      description: The password as a secure string.
      type: string
    SecretParameters:
      description: Parameters required for creating/updating a product secret.
      type: object
      properties:
        value:
          description: The secret value in a secure string format.
          $ref: '#/components/schemas/value'
        data:
          description: The pfx certificate converted Base64 data.
          $ref: '#/components/schemas/data'
        password:
          description: The pfx certificate file password.
          $ref: '#/components/schemas/password'
        key:
          description: The symmetric key.
          $ref: '#/components/schemas/key'
    ActionPlanOperationsList:
      description: List of action plan operations
      properties:
        value:
          description: Array of action plan operations.
          type: array
          items:
            $ref: '#/components/schemas/ActionPlanOperationResourceEntity'
        nextLink:
          type: string
          description: Continuation token
    ActionPlanOperationResourceEntity:
      type: object
      description: Action Plan Operation Resource Entity
      properties:
        properties:
          description: Action Plan Properties
          $ref: '#/components/schemas/ActionPlanOperationAdminProperties'
          x-ms-client-flatten: true
        eTag:
          description: Entity tag of the resource
          type: string
      allOf:
        - $ref: '#/components/schemas/Resource'
    ActionPlanOperationAdminProperties:
      description: Action Plan Operation Properties
      type: object
      properties:
        title:
          description: The operation title
          type: string
        description:
          description: The operation description
          type: string
        type:
          description: The action plan operation type
          $ref: '#/components/schemas/ActionType'
        subscriptionId:
          description: The target subscription identifier
          type: string
        parameters:
          description: The deployment parameters in JToken format
          type: object
        startTime:
          description: The deployment start time
          type: string
          format: date-time
        endTime:
          description: The deployment end time
          type: string
          format: date-time
        outputs:
          description: The action plan operation outputs in JToken format
          type: object
        error:
          description: Error Information
          $ref: '#/components/schemas/ExtendedErrorInfo'
        provisioningState:
          description: The provisioning state
          type: string
        actionPlanInstanceId:
          description: Action plan instance identifier
          type: string
        actionPlanOperationId:
          description: Action plan operation identifier
          type: string
        blobContainerName:
          description: Blob container name storing the deployment data
          type: string
    ActionType:
      description: Action plan operation type
      type: string
    OperationResult:
      description: Operation Result Entity.
      type: object
      properties:
        id:
          readOnly: true
          description: ID of the resource.
          type: string
        name:
          readOnly: true
          description: Name of the resource.
          type: string
        status:
          description: status of the Operation result.
          $ref: '#/components/schemas/Status'
        startTime:
          description: The deployment start time
          type: string
          format: date-time
        endTime:
          description: The deployment end time
          type: string
          format: date-time
        percentComplete:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: Percentage completed.
    Status:
      description: Specifies the state of the Operation result.
      type: string
      enum:
        - Bootstrapping
        - Creating
        - ExecutingRunner
        - Updating
        - Deleting
        - Deploying
        - Removing
        - RotatingSecrets
        - Canceled
        - Failed
        - Succeeded
      x-ms-enum:
        modelAsString: true
        name: Status
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
      required: true
      schema:
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client API Version.
      required: true
      schema:
        default: '2019-01-01'
        type: string
    LocationParameter:
      name: location
      in: path
      description: Location of the resource.
      required: true
      x-ms-parameter-location: method
      schema:
        default: '2019-01-01'
        type: string
    ProductIdParameter:
      name: productId
      in: path
      description: The product identifier.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    PackageIdParameter:
      name: packageId
      in: path
      description: The package identifier.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceGroupParameter:
      name: resourceGroup
      in: path
      description: The resource group the resource is located under.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    PlanIdParameter:
      name: planId
      in: path
      description: Identifier of the action plan.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    FileContainerIdParameter:
      name: fileContainerId
      in: path
      description: The file container identifier.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    OperationIdParameter:
      name: operationId
      in: path
      description: Identifier of the action plan operation.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    SecretNameParameter:
      name: secretName
      in: path
      description: The secret name.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    OperationResultIdParameter:
      name: operationResultId
      in: path
      description: The operation result identifier.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
paths:
  /providers/Microsoft.Deployment.Admin/operations:
    x-api-version: '2019-01-01'
    get:
      description: Returns the list of supported REST operations.
      tags:
        - Deployment
      operationId: Operations_List
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global:
    x-api-version: '2019-01-01'
    get:
      description: Gets the location
      tags:
        - Locations
      operationId: Locations_Get
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationsResourceEntity'
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations:
    x-api-version: '2019-01-01'
    get:
      description: Gets the list of locations
      tags:
        - Locations
      operationId: Locations_List
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationList'
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments:
    x-api-version: '2019-01-01'
    get:
      description: Invokes bootstrap action on the product deployment
      tags:
        - ProductDeployments
      operationId: ProductDeployments_List
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDeploymentsList'
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}:
    x-api-version: '2019-01-01'
    get:
      description: Invokes bootstrap action on the product deployment
      tags:
        - ProductDeployments
      operationId: ProductDeployments_Get
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ProductIdParameter'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDeploymentResourceEntity'
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/bootstrap:
    x-api-version: '2019-01-01'
    post:
      description: Invokes bootstrap action on the product deployment
      tags:
        - ProductDeployments
      operationId: BootstrapAction_Product
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ProductIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: Represents bootstrap action parameter
        required: true
        x-ms-requestBody-name: bootstrapActionParameter
        x-ms-parameter-location: method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BootStrapActionParameters'
      responses:
        '200':
          description: Ok
        '202':
          description: ACCEPTED
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/deploy:
    x-api-version: '2019-01-01'
    post:
      description: Invokes deploy action on the product
      tags:
        - ProductDeployments
      operationId: DeployAction_Product
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ProductIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: Represents bootstrap action parameter
        required: true
        x-ms-requestBody-name: deployActionParameter
        x-ms-parameter-location: method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployActionParameters'
      responses:
        '200':
          description: Ok
        '202':
          description: ACCEPTED
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/remove:
    x-api-version: '2019-01-01'
    post:
      description: Invokes remove action on the product deployment
      tags:
        - ProductDeployments
      operationId: RemoveAction_Product
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ProductIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Ok
        '202':
          description: ACCEPTED
        '204':
          description: No Content
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/rotateSecrets:
    x-api-version: '2019-01-01'
    post:
      description: Invokes rotate secrets action on the product deployment
      tags:
        - ProductDeployments
      operationId: RotateSecretsAction_Product
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ProductIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/executeRunner:
    x-api-version: '2019-01-01'
    post:
      description: Invokes execute runner action on the product deployment
      tags:
        - ProductDeployments
      operationId: ExecuteRunnerAction_Product
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ProductIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: Represents execute runner action parameter
        required: true
        x-ms-requestBody-name: executeRunnerActionParameter
        x-ms-parameter-location: method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteRunnerActionParameters'
      responses:
        '200':
          description: OK
        '202':
          description: ACCEPTED
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/actionPlans:
    x-api-version: '2019-01-01'
    get:
      description: Gets the list of action plans
      tags:
        - ActionPlans
      operationId: ActionPlans_List
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionPlanList'
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/actionPlans/{planId}:
    x-api-version: '2019-01-01'
    get:
      description: Gets the specified action plan
      tags:
        - ActionPlans
      operationId: ActionPlans_Get
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/PlanIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionPlanResourceEntity'
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/fileContainers:
    x-api-version: '2019-01-01'
    get:
      description: Returns an array of file containers.
      tags:
        - FileContainers
      operationId: FileContainers_List
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileContainersList'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/fileContainers/{fileContainerId}:
    x-api-version: '2019-01-01'
    get:
      description: Retrieves the specific file container details.
      tags:
        - FileContainers
      operationId: FileContainers_Get
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/FileContainerIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileContainer'
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
    put:
      description: Creates a new file container.
      tags:
        - FileContainers
      operationId: FileContainers_Create
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/FileContainerIdParameter'
      requestBody:
        description: The parameters required to create a new file container.
        required: true
        x-ms-requestBody-name: fileContainerParameters
        x-ms-parameter-location: method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileContainerParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileContainer'
        '202':
          description: Accepted
      x-ms-long-running-operation: true
    delete:
      tags:
        - FileContainers
      summary: Deletes specified file container.
      description: Delete an existing file container.
      operationId: FileContainers_Delete
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/FileContainerIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productPackages:
    x-api-version: '2019-01-01'
    get:
      description: Returns an array of product packages.
      tags:
        - ProductPackages
      operationId: ProductPackages_List
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPackagesList'
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productPackages/{packageId}:
    x-api-version: '2019-01-01'
    get:
      description: Retrieves the specific product package details.
      tags:
        - ProductPackages
      operationId: ProductPackages_Get
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/PackageIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPackage'
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
    put:
      description: Creates a new product package.
      tags:
        - ProductPackages
      operationId: ProductPackages_Create
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/PackageIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: The parameters required to create a new product package.
        required: true
        x-ms-requestBody-name: ProductPackageParameters
        x-ms-parameter-location: method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPackageParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPackage'
        '202':
          description: Accepted
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
      x-ms-long-running-operation: true
    delete:
      description: Deletes a product package.
      tags:
        - ProductPackages
      operationId: ProductPackages_Delete
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/PackageIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/{location}/actionplans/{planId}/operations/{operationId}/attempts:
    x-api-version: '2019-01-01'
    get:
      description: Returns the information about action plan operation attempt.
      tags:
        - ActionPlanOperationAttempt
      operationId: ActionPlanOperationAttempt_List
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/LocationParameter'
        - $ref: '#/components/parameters/PlanIdParameter'
        - $ref: '#/components/parameters/OperationIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationAttemptResult'
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productPackages/{packageId}/secrets:
    x-api-version: '2019-01-01'
    get:
      description: Returns an array of product secrets.
      tags:
        - ProductSecrets
      operationId: ProductSecrets_List
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/PackageIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSecretsList'
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productPackages/{packageId}/secrets/{secretName}:
    x-api-version: '2019-01-01'
    get:
      description: Returns the specific product secret.
      tags:
        - ProductSecrets
      operationId: ProductSecrets_GET
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/PackageIdParameter'
        - $ref: '#/components/parameters/SecretNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSecret'
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productPackages/{packageId}/secrets/{secretName}/import:
    x-api-version: '2019-01-01'
    post:
      description: Imports a product secret.
      tags:
        - ProductSecrets
      operationId: ProductSecrets_Set
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/PackageIdParameter'
        - $ref: '#/components/parameters/SecretNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: The parameters required for creating/updating a product secret.
        required: true
        x-ms-requestBody-name: secretParameters
        x-ms-parameter-location: method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretParameters'
      responses:
        '200':
          description: Accepted
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productPackages/{packageId}/secrets/{secretName}/validate:
    x-api-version: '2019-01-01'
    post:
      description: Validates a product secret.
      tags:
        - ProductSecrets
      operationId: ProductSecrets_Validate
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/PackageIdParameter'
        - $ref: '#/components/parameters/SecretNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: The parameters required for creating/updating a product secret.
        required: true
        x-ms-requestBody-name: secretParameters
        x-ms-parameter-location: method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretParameters'
      responses:
        '200':
          description: Accepted
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/actionPlans/{planId}/operations:
    x-api-version: '2019-01-01'
    get:
      description: Lists the action plan operations
      tags:
        - ActionPlanOperations
      operationId: ActionPlanOperations_List
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/PlanIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionPlanOperationsList'
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/actionPlans/{planId}/operations/{operationId}:
    x-api-version: '2019-01-01'
    get:
      description: Gets the specified action plan operation
      tags:
        - ActionPlanOperations
      operationId: ActionPlanOperations_Get
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/PlanIdParameter'
        - $ref: '#/components/parameters/OperationIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionPlanOperationResourceEntity'
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
  /subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/{location}/operationresults/{operationResultId}:
    x-api-version: '2019-01-01'
    get:
      description: Retrieves the specific operation results.
      tags:
        - OperationResults
      operationId: OperationResults_Get
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/LocationParameter'
        - $ref: '#/components/parameters/OperationResultIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        default:
          description: Default Response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedErrorInfo'
