openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  title: Hybrid Connectivity Management API
  description: REST API for Hybrid Connectivity
  version: '2024-12-01'
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Resource:
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource Manager resources
      type: object
      properties:
        id:
          readOnly: true
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
        name:
          readOnly: true
          type: string
          description: The name of the resource
        type:
          readOnly: true
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
        systemData:
          readOnly: true
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
          $ref: '#/components/schemas/systemData'
      x-ms-azure-resource: true
    AzureEntityResource:
      x-ms-client-name: AzureEntityResource
      title: Entity Resource
      description: The resource model definition for an Azure Resource Manager resource with an etag.
      type: object
      properties:
        etag:
          type: string
          readOnly: true
          description: Resource Etag.
      allOf:
        - $ref: '#/components/schemas/Resource'
    TrackedResource:
      title: Tracked Resource
      description: The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: string
          x-ms-mutability:
            - read
            - create
            - update
          description: Resource tags.
        location:
          type: string
          x-ms-mutability:
            - read
            - create
          description: The geo-location where the resource lives
      required:
        - location
      allOf:
        - $ref: '#/components/schemas/Resource'
    ProxyResource:
      title: Proxy Resource
      description: The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a location
      type: object
      allOf:
        - $ref: '#/components/schemas/Resource'
    ResourceModelWithAllowedPropertySet:
      description: The resource model definition containing the full set of allowed properties for a resource. Except properties bag, there cannot be a top level property outside of this set.
      type: object
      properties:
        managedBy:
          type: string
          x-ms-mutability:
            - read
            - create
            - update
          description: The fully qualified resource ID of the resource that manages this resource. Indicates if this resource is managed by another Azure resource. If this is present, complete mode deployment will not delete the resource if it is removed from the template since it is managed by another resource.
        kind:
          type: string
          x-ms-mutability:
            - read
            - create
          description: Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type. E.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value.
          pattern: ^[-\w\._,\(\)]+$
        etag:
          readOnly: true
          type: string
          description: 'The etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields. '
        identity:
          allOf:
            - $ref: '#/components/schemas/Identity'
        sku:
          allOf:
            - $ref: '#/components/schemas/Sku'
        plan:
          allOf:
            - $ref: '#/components/schemas/Plan'
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
      x-ms-azure-resource: true
    SkuTier:
      type: string
      enum:
        - Free
        - Basic
        - Standard
        - Premium
      x-ms-enum:
        name: SkuTier
        modelAsString: false
      description: This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT.
    Sku:
      description: The resource model definition representing SKU
      type: object
      properties:
        name:
          type: string
          description: The name of the SKU. E.g. P3. It is typically a letter+number code
        tier:
          $ref: '#/components/schemas/SkuTier'
        size:
          type: string
          description: 'The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. '
        family:
          type: string
          description: If the service has different generations of hardware, for the same SKU, then that can be captured here.
        capacity:
          type: integer
          format: int32
          description: If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted.
      required:
        - name
    Identity:
      description: Identity for the resource.
      type: object
      properties:
        principalId:
          readOnly: true
          type: string
          format: uuid
          description: The principal ID of resource identity. The value must be an UUID.
        tenantId:
          readOnly: true
          type: string
          format: uuid
          description: The tenant ID of resource. The value must be an UUID.
        type:
          type: string
          description: The identity type.
          enum:
            - SystemAssigned
          x-ms-enum:
            name: ResourceIdentityType
            modelAsString: false
    Plan:
      type: object
      properties:
        name:
          type: string
          description: A user defined name of the 3rd Party Artifact that is being procured.
        publisher:
          type: string
          description: The publisher of the 3rd Party Artifact that is being bought. E.g. NewRelic
        product:
          type: string
          description: 'The 3rd Party artifact that is being procured. E.g. NewRelic. Product maps to the OfferID specified for the artifact at the time of Data Market onboarding. '
        promotionCode:
          type: string
          description: A publisher provided promotion code as provisioned in Data Market for the said product/artifact.
        version:
          type: string
          description: The version of the desired product/artifact.
      description: Plan for the resource.
      required:
        - name
        - publisher
        - product
    ErrorDetail:
      description: The error detail.
      type: object
      properties:
        code:
          readOnly: true
          type: string
          description: The error code.
        message:
          readOnly: true
          type: string
          description: The error message.
        target:
          readOnly: true
          type: string
          description: The error target.
        details:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
          x-ms-identifiers:
            - message
            - target
          description: The error details.
        additionalInfo:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          x-ms-identifiers: []
          description: The error additional info.
    ErrorResponse:
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).
      type: object
      properties:
        error:
          description: The error object.
          $ref: '#/components/schemas/ErrorDetail'
    ErrorAdditionalInfo:
      type: object
      properties:
        type:
          readOnly: true
          type: string
          description: The additional info type.
        info:
          readOnly: true
          type: object
          description: The additional info.
      description: The resource management error additional info.
    Operation:
      title: REST API Operation
      description: Details of a REST API operation, returned from the Resource Provider Operations API
      type: object
      properties:
        name:
          description: 'The name of the operation, as per Resource-Based Access Control (RBAC). Examples: "Microsoft.Compute/virtualMachines/write", "Microsoft.Compute/virtualMachines/capture/action"'
          type: string
          readOnly: true
        isDataAction:
          description: Whether the operation applies to data-plane. This is "true" for data-plane operations and "false" for ARM/control-plane operations.
          type: boolean
          readOnly: true
        display:
          description: Localized display information for this particular operation.
          type: object
          properties:
            provider:
              description: The localized friendly form of the resource provider name, e.g. "Microsoft Monitoring Insights" or "Microsoft Compute".
              type: string
              readOnly: true
            resource:
              description: The localized friendly name of the resource type related to this operation. E.g. "Virtual Machines" or "Job Schedule Collections".
              type: string
              readOnly: true
            operation:
              description: The concise, localized friendly name for the operation; suitable for dropdowns. E.g. "Create or Update Virtual Machine", "Restart Virtual Machine".
              type: string
              readOnly: true
            description:
              description: The short, localized friendly description of the operation; suitable for tool tips and detailed views.
              type: string
              readOnly: true
        origin:
          description: The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is "user,system"
          type: string
          readOnly: true
          enum:
            - user
            - system
            - user,system
          x-ms-enum:
            name: Origin
            modelAsString: true
        actionType:
          description: Enum. Indicates the action type. "Internal" refers to actions that are for internal only APIs.
          type: string
          readOnly: true
          enum:
            - Internal
          x-ms-enum:
            name: ActionType
            modelAsString: true
    OperationListResult:
      description: A list of REST API operations supported by an Azure Resource Provider. It contains an URL link to get the next set of results.
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Operation'
          x-ms-identifiers:
            - name
          description: List of operations supported by the resource provider
          readOnly: true
        nextLink:
          type: string
          format: uri
          description: URL to get the next set of operation list results (if there are any).
          readOnly: true
    OperationStatusResult:
      description: The current status of an async operation.
      type: object
      required:
        - status
      properties:
        id:
          description: Fully qualified ID for the async operation.
          type: string
          format: arm-id
        resourceId:
          description: Fully qualified ID of the resource against which the original async operation was started.
          type: string
          format: arm-id
          readOnly: true
        name:
          description: Name of the async operation.
          type: string
        status:
          description: Operation status.
          type: string
        percentComplete:
          description: Percent of the operation that is complete.
          type: number
          minimum: 0
          maximum: 100
        startTime:
          description: The start time of the operation.
          type: string
          format: date-time
        endTime:
          description: The end time of the operation.
          type: string
          format: date-time
        operations:
          description: The operations list.
          type: array
          items:
            $ref: '#/components/schemas/OperationStatusResult'
        error:
          description: If present, details of the operation error.
          $ref: '#/components/schemas/ErrorDetail'
    locationData:
      description: Metadata pertaining to the geographic location of the resource.
      type: object
      properties:
        name:
          type: string
          maxLength: 256
          description: A canonical name for the geographic or physical location.
        city:
          type: string
          description: The city or locality where the resource is located.
        district:
          type: string
          description: The district, state, or province where the resource is located.
        countryOrRegion:
          type: string
          description: The country or region where the resource is located
      required:
        - name
    systemData:
      description: Metadata pertaining to creation and last modification of the resource.
      type: object
      readOnly: true
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
            - User
            - Application
            - ManagedIdentity
            - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
    encryptionProperties:
      description: Configuration of key for data encryption
      type: object
      properties:
        status:
          description: Indicates whether or not the encryption is enabled for container registry.
          enum:
            - enabled
            - disabled
          type: string
          x-ms-enum:
            name: EncryptionStatus
            modelAsString: true
        keyVaultProperties:
          $ref: '#/components/schemas/KeyVaultProperties'
          description: Key vault properties.
    KeyVaultProperties:
      type: object
      properties:
        keyIdentifier:
          description: Key vault uri to access the encryption key.
          type: string
        identity:
          description: The client ID of the identity which will be used to access key vault.
          type: string
    CheckNameAvailabilityRequest:
      description: The check availability request body.
      type: object
      properties:
        name:
          description: The name of the resource for which availability needs to be checked.
          type: string
        type:
          description: The resource type.
          type: string
    CheckNameAvailabilityResponse:
      description: The check availability result.
      type: object
      properties:
        nameAvailable:
          description: Indicates if the resource name is available.
          type: boolean
        reason:
          description: The reason why the given name is not available.
          type: string
          enum:
            - Invalid
            - AlreadyExists
          x-ms-enum:
            name: CheckNameAvailabilityReason
            modelAsString: true
        message:
          description: Detailed reason why the given name is available.
          type: string
    RelayNamespaceAccessProperties:
      type: object
      description: Azure relay hybrid connection access properties
      required:
        - namespaceName
        - namespaceNameSuffix
        - hybridConnectionName
      properties:
        namespaceName:
          type: string
          description: The namespace name.
          minLength: 1
          maxLength: 200
        namespaceNameSuffix:
          type: string
          description: The suffix domain name of relay namespace.
          minLength: 1
          maxLength: 100
        hybridConnectionName:
          type: string
          description: Azure Relay hybrid connection name for the resource.
        accessKey:
          type: string
          description: Access key for hybrid connection.
          readOnly: true
        expiresOn:
          type: integer
          format: int64
          description: The expiration of access key in unix time.
        serviceConfigurationToken:
          type: string
          description: The token to access the enabled service.
          x-ms-secret: true
    IngressGatewayResource:
      description: The ingress gateway access credentials
      type: object
      properties:
        relay:
          $ref: '#/components/schemas/RelayNamespaceAccessProperties'
          x-ms-client-flatten: true
        ingress:
          $ref: '#/components/schemas/IngressProfileProperties'
          x-ms-client-flatten: true
    IngressProfileProperties:
      type: object
      description: Ingress gateway profile
      required:
        - hostname
        - aadProfile
      properties:
        hostname:
          type: string
          description: The ingress hostname.
        aadProfile:
          $ref: '#/components/schemas/AADProfileProperties'
          x-ms-client-flatten: true
    AADProfileProperties:
      type: object
      description: The AAD Profile
      required:
        - serverId
        - tenantId
      properties:
        serverId:
          type: string
          description: The arc ingress gateway server app id.
        tenantId:
          type: string
          description: The target resource home tenant id.
    EndpointAccessResource:
      description: The endpoint access for the target resource.
      type: object
      properties:
        relay:
          $ref: '#/components/schemas/RelayNamespaceAccessProperties'
          x-ms-client-flatten: true
    EndpointProperties:
      type: object
      description: Endpoint details
      required:
        - type
      properties:
        type:
          type: string
          description: The type of endpoint.
          enum:
            - default
            - custom
          x-ms-enum:
            name: type
            modelAsString: true
        resourceId:
          type: string
          description: The resource Id of the connectivity endpoint (optional).
        provisioningState:
          type: string
          readOnly: true
          description: The resource provisioning state.
    ServiceConfigurationList:
      description: The paginated list of serviceConfigurations
      type: object
      properties:
        value:
          description: The list of service configuration
          type: array
          items:
            $ref: '#/components/schemas/ServiceConfigurationResource'
        nextLink:
          description: The link to fetch the next page of connected cluster
          type: string
    EndpointResource:
      description: The endpoint for the target resource.
      type: object
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        systemData:
          description: System data of endpoint resource
          $ref: '#/components/schemas/systemData'
          x-ms-client-flatten: true
        properties:
          description: The endpoint properties.
          $ref: '#/components/schemas/EndpointProperties'
          x-ms-client-flatten: false
    ServiceConfigurationResource:
      description: The service configuration details associated with the target resource.
      type: object
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
      properties:
        systemData:
          description: System data of endpoint resource
          $ref: '#/components/schemas/systemData'
          x-ms-client-flatten: true
        properties:
          description: The service configuration properties.
          $ref: '#/components/schemas/ServiceConfigurationProperties'
          x-ms-client-flatten: true
    ServiceConfigurationProperties:
      type: object
      description: Service configuration details
      required:
        - serviceName
      properties:
        serviceName:
          type: string
          description: Name of the service.
          enum:
            - SSH
            - WAC
          x-ms-enum:
            name: serviceName
            modelAsString: true
        resourceId:
          type: string
          description: The resource Id of the connectivity endpoint (optional).
        port:
          type: integer
          format: int64
          description: The port on which service is enabled.
        provisioningState:
          type: string
          readOnly: true
          description: The resource provisioning state.
          enum:
            - Succeeded
            - Creating
            - Updating
            - Failed
            - Canceled
          x-ms-enum:
            name: ProvisioningState
            modelAsString: true
    ServiceConfigurationResourcePatch:
      description: The service details under service configuration for the target endpoint resource.
      type: object
      properties:
        properties:
          description: The service configuration properties.
          $ref: '#/components/schemas/ServiceConfigurationPropertiesPatch'
          x-ms-client-flatten: true
    ServiceConfigurationPropertiesPatch:
      type: object
      description: Service configuration details
      properties:
        port:
          type: integer
          format: int64
          description: The port on which service is enabled.
    EndpointsList:
      description: The list of endpoints.
      type: object
      properties:
        nextLink:
          description: The link used to get the next page of endpoints list.
          type: string
        value:
          description: The list of endpoint.
          type: array
          items:
            $ref: '#/components/schemas/EndpointResource'
    ManagedProxyResource:
      type: object
      description: Managed Proxy
      required:
        - proxy
        - expiresOn
      properties:
        proxy:
          type: string
          description: The short lived proxy name.
        expiresOn:
          type: integer
          format: int64
          description: The expiration time of short lived proxy name in unix epoch.
    ManagedProxyRequest:
      type: object
      description: Represent ManageProxy Request object.
      required:
        - service
      properties:
        service:
          type: string
          description: The name of the service.
        hostname:
          type: string
          description: The target host name.
        serviceName:
          type: string
          description: The name of the service. It is an optional property, if not provided, service configuration tokens issue code would be by passed.
          enum:
            - SSH
            - WAC
          x-ms-enum:
            name: serviceName
            modelAsString: true
    ListCredentialsRequest:
      type: object
      description: The details of the service for which credentials needs to be returned.
      properties:
        serviceName:
          type: string
          description: 'The name of the service. If not provided, the request will by pass the generation of service configuration token '
          enum:
            - SSH
            - WAC
          x-ms-enum:
            name: serviceName
            modelAsString: true
    ListIngressGatewayCredentialsRequest:
      type: object
      description: Represent ListIngressGatewayCredentials Request object.
      properties:
        serviceName:
          type: string
          description: The name of the service.
          enum:
            - SSH
            - WAC
          x-ms-enum:
            name: serviceName
            modelAsString: true
    AwsCloudProfile:
      type: object
      description: cloud profile for AWS.
      properties:
        accountId:
          type: string
          description: Account id for the AWS account.
          x-ms-mutability:
            - create
        excludedAccounts:
          type: array
          description: List of AWS accounts which need to be excluded.
          items:
            type: string
        isOrganizationalAccount:
          type: boolean
          description: Boolean value that indicates whether the account is organizational or not. True represents organization account, whereas false represents a single account.
          default: false
          x-ms-mutability:
            - create
      required:
        - accountId
    AwsCloudProfileUpdate:
      type: object
      description: cloud profile for AWS.
      properties:
        excludedAccounts:
          type: array
          description: List of AWS accounts which need to be excluded.
          items:
            type: string
    Azure.ResourceManager.CommonTypes.TrackedResourceUpdate:
      type: object
      description: The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'
      properties:
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
      allOf:
        - $ref: '#/components/schemas/Resource'
    Azure.ResourceManager.ResourceProvisioningState:
      type: string
      description: The provisioning state of a resource type.
      enum:
        - Succeeded
        - Failed
        - Canceled
      x-ms-enum:
        name: ResourceProvisioningState
        modelAsString: true
        values:
          - name: Succeeded
            value: Succeeded
            description: Resource has been created.
          - name: Failed
            value: Failed
            description: Resource creation failed.
          - name: Canceled
            value: Canceled
            description: Resource creation was canceled.
      readOnly: true
    CloudNativeType:
      type: string
      description: Cloud Native Type enum.
      enum:
        - ec2
      x-ms-enum:
        name: CloudNativeType
        modelAsString: true
        values:
          - name: ec2
            value: ec2
            description: ec2 enum.
    GenerateAwsTemplateRequest:
      type: object
      description: ConnectorId and SolutionTypes and their properties to Generate AWS CFT Template.
      properties:
        connectorId:
          type: string
          description: The name of public cloud connector
        solutionTypes:
          type: array
          description: The list of solution types and their settings
          items:
            $ref: '#/components/schemas/SolutionTypeSettings'
          x-ms-identifiers: []
      required:
        - connectorId
    HostType:
      type: string
      description: Enum of host cloud the public cloud connector is referencing.
      enum:
        - AWS
      x-ms-enum:
        name: HostType
        modelAsString: true
        values:
          - name: AWS
            value: AWS
            description: AWS state
    InventoryProperties:
      type: object
      description: Definition of inventory.
      properties:
        cloudNativeType:
          $ref: '#/components/schemas/CloudNativeType'
          description: Gets or sets the cloud native resource type.
        cloudNativeResourceId:
          type: string
          description: Gets or sets the cloud native resource name.
        azureResourceId:
          type: string
          description: Gets or sets the mapped azure resource id.
        status:
          $ref: '#/components/schemas/SolutionConfigurationStatus'
          description: Gets or sets the status of the inventory.
        statusDetails:
          type: string
          description: Gets or sets the status details.
        provisioningState:
          $ref: '#/components/schemas/Azure.ResourceManager.ResourceProvisioningState'
          description: The resource provisioning state.
          readOnly: true
    InventoryResource:
      type: object
      description: Concrete proxy resource types can be created by aliasing this type using a specific property type.
      properties:
        properties:
          $ref: '#/components/schemas/InventoryProperties'
          description: The resource-specific properties for this resource.
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
    InventoryResourceListResult:
      type: object
      description: The response of a InventoryResource list operation.
      properties:
        value:
          type: array
          description: The InventoryResource items on this page
          items:
            $ref: '#/components/schemas/InventoryResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
        - value
    PublicCloudConnector:
      type: object
      description: Public Cloud Connector
      properties:
        properties:
          $ref: '#/components/schemas/PublicCloudConnectorProperties'
          description: The resource-specific properties for this resource.
      allOf:
        - $ref: '#/components/schemas/TrackedResource'
    PublicCloudConnectorListResult:
      type: object
      description: The response of a PublicCloudConnector list operation.
      properties:
        value:
          type: array
          description: The PublicCloudConnector items on this page
          items:
            $ref: '#/components/schemas/PublicCloudConnector'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
        - value
    PublicCloudConnectorProperties:
      type: object
      description: Properties of public cloud connectors.
      properties:
        awsCloudProfile:
          $ref: '#/components/schemas/AwsCloudProfile'
          description: Cloud profile for AWS.
        hostType:
          $ref: '#/components/schemas/HostType'
          description: Host cloud the public cloud connector.
          x-ms-mutability:
            - create
        provisioningState:
          $ref: '#/components/schemas/Azure.ResourceManager.ResourceProvisioningState'
          description: The resource provisioning state.
          readOnly: true
        connectorPrimaryIdentifier:
          type: string
          description: Connector primary identifier.
          readOnly: true
      required:
        - awsCloudProfile
        - hostType
    PublicCloudConnectorPropertiesUpdate:
      type: object
      description: Properties of public cloud connectors.
      properties:
        awsCloudProfile:
          $ref: '#/components/schemas/AwsCloudProfileUpdate'
          description: Cloud profile for AWS.
    PublicCloudConnectorUpdate:
      type: object
      description: Public Cloud Connector
      properties:
        properties:
          $ref: '#/components/schemas/PublicCloudConnectorPropertiesUpdate'
          description: The resource-specific properties for this resource.
      allOf:
        - $ref: '#/components/schemas/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate'
    SolutionConfiguration:
      type: object
      description: Solution Configuration
      properties:
        properties:
          $ref: '#/components/schemas/SolutionConfigurationProperties'
          description: The resource-specific properties for this resource.
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
    SolutionConfigurationListResult:
      type: object
      description: The response of a SolutionConfiguration list operation.
      properties:
        value:
          type: array
          description: The SolutionConfiguration items on this page
          items:
            $ref: '#/components/schemas/SolutionConfiguration'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
        - value
    SolutionConfigurationProperties:
      type: object
      description: Solution configuration resource.
      properties:
        provisioningState:
          $ref: '#/components/schemas/Azure.ResourceManager.ResourceProvisioningState'
          description: The resource provisioning state.
          readOnly: true
        solutionType:
          type: string
          description: The type of the solution
        solutionSettings:
          $ref: '#/components/schemas/SolutionSettings'
          description: Solution settings
        status:
          $ref: '#/components/schemas/SolutionConfigurationStatus'
          description: The status of solution configurations
          readOnly: true
        statusDetails:
          type: string
          description: The detailed message of status details
          readOnly: true
        lastSyncTime:
          type: string
          format: date-time
          description: The last time resources were inventoried
          readOnly: true
      required:
        - solutionType
    SolutionConfigurationPropertiesUpdate:
      type: object
      description: Solution configuration resource.
      properties:
        solutionType:
          type: string
          description: The type of the solution
        solutionSettings:
          $ref: '#/components/schemas/SolutionSettings'
          description: Solution settings
    SolutionConfigurationStatus:
      type: string
      description: Solution Configuration Status.
      enum:
        - New
        - InProgress
        - Completed
        - Failed
      x-ms-enum:
        name: SolutionConfigurationStatus
        modelAsString: true
        values:
          - name: New
            value: New
            description: New status
          - name: InProgress
            value: InProgress
            description: InProgress status
          - name: Completed
            value: Completed
            description: Canceled status
          - name: Failed
            value: Failed
            description: Failed status
    SolutionConfigurationUpdate:
      type: object
      description: Solution Configuration
      properties:
        properties:
          $ref: '#/components/schemas/SolutionConfigurationPropertiesUpdate'
          description: The resource-specific properties for this resource.
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
    SolutionSettings:
      type: object
      description: Solution settings
      additionalProperties:
        type: string
    SolutionTypeEnum:
      type: string
      description: Solution types.
      enum:
        - Microsoft.AssetManagement
        - Microsoft.HybridCompute.Onboard
        - Microsoft.HybridNetwork.VWan.Provision
      x-ms-enum:
        name: SolutionTypeEnum
        modelAsString: true
        values:
          - name: Microsoft.AssetManagement
            value: Microsoft.AssetManagement
            description: Asset Management solution type
          - name: Microsoft.HybridCompute.Onboard
            value: Microsoft.HybridCompute.Onboard
            description: Hybrid Compute Onboard solution type
          - name: Microsoft.HybridNetwork.VWan.Provision
            value: Microsoft.HybridNetwork.VWan.Provision
            description: VWan Provisioning solution type
    SolutionTypePermissions:
      type: object
      description: Solution type permissions.
      properties:
        solutionType:
          $ref: '#/components/schemas/SolutionTypeEnum'
          description: The name of solution Type
        status:
          $ref: '#/components/schemas/Status'
          description: The status
        statusDetails:
          type: string
          description: The details of the status
      required:
        - solutionType
        - status
        - statusDetails
    SolutionTypeProperties:
      type: object
      description: Definition of Solution type resource.
      properties:
        solutionType:
          type: string
          description: The name of the solution type.
        description:
          type: string
          description: Short description of solution type.
        supportedAzureRegions:
          type: array
          description: The locations this solution is supported in.
          items:
            type: string
        solutionSettings:
          type: array
          description: Array of solution settings and its description.
          items:
            $ref: '#/components/schemas/SolutionTypeSettingsProperties'
          x-ms-identifiers: []
    SolutionTypeResource:
      type: object
      description: Concrete proxy resource types can be created by aliasing this type using a specific property type.
      properties:
        properties:
          $ref: '#/components/schemas/SolutionTypeProperties'
          description: The resource-specific properties for this resource.
      allOf:
        - $ref: '#/components/schemas/ProxyResource'
    SolutionTypeResourceListResult:
      type: object
      description: The response of a SolutionTypeResource list operation.
      properties:
        value:
          type: array
          description: The SolutionTypeResource items on this page
          items:
            $ref: '#/components/schemas/SolutionTypeResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
        - value
    SolutionTypeSettings:
      type: object
      description: The properties of Solution Type
      properties:
        solutionType:
          type: string
          description: The type of the solution
        solutionSettings:
          $ref: '#/components/schemas/SolutionSettings'
          description: Solution settings
      required:
        - solutionType
    SolutionTypeSettingsProperties:
      type: object
      description: Represent Solution settings properties description array.
      properties:
        name:
          type: string
          description: The name of the solution setting property.
        displayName:
          type: string
          description: The UI friendly name of the solution setting property.
        type:
          type: string
          description: Type of the solution setting property, represented as a string.
        description:
          type: string
          description: Description of solution setting property.
        allowedValues:
          type: array
          description: Array of allowed values for this solution settings property.
          items:
            type: string
        defaultValue:
          type: string
          description: Default value for this solution settings property.
      required:
        - name
        - displayName
        - type
        - description
        - allowedValues
        - defaultValue
    Status:
      type: string
      description: Connection status.
      enum:
        - Connected
        - Disconnected
      x-ms-enum:
        name: Status
        modelAsString: true
        values:
          - name: Connected
            value: Connected
            description: Connected status
          - name: Disconnected
            value: Disconnected
            description: Disconnected status
    TestPermissionResult:
      type: object
      description: Public connector permissions.
      properties:
        solutionTypes:
          type: array
          description: Solution type permissions.
          items:
            $ref: '#/components/schemas/SolutionTypePermissions'
          x-ms-identifiers: []
      required:
        - solutionTypes
  parameters:
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        format: uuid
        type: string
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        minLength: 1
        type: string
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        minLength: 1
        maxLength: 90
        type: string
    ManagementGroupNameParameter:
      name: managementGroupName
      in: path
      description: The name of the management group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        minLength: 1
        maxLength: 90
        type: string
    ScopeParameter:
      name: scope
      in: path
      description: The scope at which the operation is performed.
      required: true
      x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      schema:
        minLength: 1
        type: string
    TenantIdParameter:
      name: tenantId
      in: path
      description: The Azure tenant ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)
      required: true
      x-ms-parameter-location: method
      schema:
        format: uuid
        type: string
    OperationIdParameter:
      name: operationId
      in: path
      description: The ID of an ongoing async operation.
      required: true
      x-ms-parameter-location: method
      schema:
        minLength: 1
        type: string
    LocationParameter:
      name: location
      in: path
      description: The name of the Azure region.
      required: true
      x-ms-parameter-location: method
      schema:
        minLength: 1
        type: string
    If-Match:
      name: ifMatch
      in: header
      description: The If-Match header that makes a request conditional.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    If-None-Match:
      name: ifNoneMatch
      in: header
      description: The If-None-Match header that makes a request conditional.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
    ResourceUriParameter:
      name: resourceUri
      in: path
      description: The fully qualified Azure Resource manager identifier of the resource to be connected.
      required: true
      x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      schema:
        type: string
    EndpointNameParameter:
      name: endpointName
      in: path
      description: The endpoint name.
      required: true
      x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      schema:
        type: string
    ServiceConfigurationNameParameter:
      name: serviceConfigurationName
      in: path
      description: The service name.
      required: true
      x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      schema:
        type: string
    AccessTokenExpirationParameter:
      name: expiresin
      in: query
      description: The is how long the endpoint access token is valid (in seconds).
      required: false
      x-ms-parameter-location: method
      schema:
        format: int64
        default: 10800
        minimum: 600
        maximum: 10800
        type: integer
    Azure.ResourceManager.ResourceUriParameter:
      name: resourceUri
      in: path
      description: The fully qualified Azure Resource manager identifier of the resource.
      required: true
      x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      schema:
        type: string
paths:
  /providers/Microsoft.HybridConnectivity/operations:
    x-api-version: '2024-12-01'
    get:
      tags:
        - Operations
      description: Lists the available Hybrid Connectivity REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Operation details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
  /{resourceUri}/providers/Microsoft.HybridConnectivity/endpoints:
    x-api-version: '2024-12-01'
    get:
      tags:
        - Endpoints
      description: List of endpoints to the target resource.
      operationId: Endpoints_List
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ResourceUriParameter'
      responses:
        '200':
          description: List of endpoints.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointsList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
  /{resourceUri}/providers/Microsoft.HybridConnectivity/endpoints/{endpointName}:
    x-api-version: '2024-12-01'
    get:
      tags:
        - Endpoints
      description: Gets the endpoint to the resource.
      operationId: Endpoints_Get
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ResourceUriParameter'
        - $ref: '#/components/parameters/EndpointNameParameter'
      responses:
        '200':
          description: Endpoint details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
    put:
      tags:
        - Endpoints
      description: Create or update the endpoint to the target resource.
      operationId: Endpoints_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ResourceUriParameter'
        - $ref: '#/components/parameters/EndpointNameParameter'
      requestBody:
        description: Endpoint details
        required: true
        x-ms-requestBody-name: EndpointResource
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointResource'
      responses:
        '200':
          description: Endpoint details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - Endpoints
      description: Update the endpoint to the target resource.
      operationId: Endpoints_Update
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ResourceUriParameter'
        - $ref: '#/components/parameters/EndpointNameParameter'
      requestBody:
        description: Endpoint details
        required: true
        x-ms-requestBody-name: EndpointResource
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointResource'
      responses:
        '200':
          description: Endpoint resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Endpoints
      description: Deletes the endpoint access to the target resource.
      operationId: Endpoints_Delete
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ResourceUriParameter'
        - $ref: '#/components/parameters/EndpointNameParameter'
      responses:
        '200':
          description: The endpoint is deleted successfully.
        '204':
          description: The endpoint has been deleted already.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /{resourceUri}/providers/Microsoft.HybridConnectivity/endpoints/{endpointName}/serviceConfigurations:
    x-api-version: '2024-12-01'
    get:
      tags:
        - ServiceConfigurations
      summary: Lists of all the services associated with endpoint resource.
      operationId: ServiceConfigurations_ListByEndpointResource
      description: API to enumerate registered services in service configurations under a Endpoint Resource
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ResourceUriParameter'
        - $ref: '#/components/parameters/EndpointNameParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceConfigurationList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /{resourceUri}/providers/Microsoft.HybridConnectivity/endpoints/{endpointName}/serviceConfigurations/{serviceConfigurationName}:
    x-api-version: '2024-12-01'
    get:
      tags:
        - ServiceConfigurations
      description: Gets the details about the service to the resource.
      operationId: ServiceConfigurations_Get
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ResourceUriParameter'
        - $ref: '#/components/parameters/EndpointNameParameter'
        - $ref: '#/components/parameters/ServiceConfigurationNameParameter'
      responses:
        '200':
          description: Service configuration resource request was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceConfigurationResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
    put:
      tags:
        - ServiceConfigurations
      description: Create or update a service in serviceConfiguration for the endpoint resource.
      operationId: ServiceConfigurations_CreateOrupdate
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ResourceUriParameter'
        - $ref: '#/components/parameters/EndpointNameParameter'
        - $ref: '#/components/parameters/ServiceConfigurationNameParameter'
      requestBody:
        description: Service details
        required: true
        x-ms-requestBody-name: ServiceConfigurationResource
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceConfigurationResource'
      responses:
        '200':
          description: ServiceConfiguration resource create request was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceConfigurationResource'
        '201':
          description: ServiceConfiguration resource is successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceConfigurationResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
        - ServiceConfigurations
      description: Update the service details in the service configurations of the target resource.
      operationId: ServiceConfigurations_Update
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ResourceUriParameter'
        - $ref: '#/components/parameters/EndpointNameParameter'
        - $ref: '#/components/parameters/ServiceConfigurationNameParameter'
      requestBody:
        description: Service details
        required: true
        x-ms-requestBody-name: ServiceConfigurationResource
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceConfigurationResourcePatch'
      responses:
        '200':
          description: ServiceConfiguration service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceConfigurationResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - ServiceConfigurations
      description: Deletes the service details to the target resource.
      operationId: ServiceConfigurations_Delete
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ResourceUriParameter'
        - $ref: '#/components/parameters/EndpointNameParameter'
        - $ref: '#/components/parameters/ServiceConfigurationNameParameter'
      responses:
        '200':
          description: The service configuration resource is deleted successfully.
        '204':
          description: The service configuration resource has been deleted already.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /{resourceUri}/providers/Microsoft.HybridConnectivity/endpoints/{endpointName}/listCredentials:
    x-api-version: '2024-12-01'
    post:
      tags:
        - Endpoints
      description: Gets the endpoint access credentials to the resource.
      operationId: Endpoints_ListCredentials
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ResourceUriParameter'
        - $ref: '#/components/parameters/EndpointNameParameter'
        - $ref: '#/components/parameters/AccessTokenExpirationParameter'
      requestBody:
        description: Object of type ListCredentialsRequest
        x-ms-requestBody-name: ListCredentialsRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListCredentialsRequest'
      responses:
        '200':
          description: Endpoint access credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointAccessResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
  /{resourceUri}/providers/Microsoft.HybridConnectivity/endpoints/{endpointName}/listIngressGatewayCredentials:
    x-api-version: '2024-12-01'
    post:
      tags:
        - Endpoints
      description: 'Gets the ingress gateway endpoint credentials '
      operationId: Endpoints_ListIngressGatewayCredentials
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ResourceUriParameter'
        - $ref: '#/components/parameters/EndpointNameParameter'
        - $ref: '#/components/parameters/AccessTokenExpirationParameter'
      requestBody:
        description: Object of type ListIngressGatewayCredentialsRequest
        x-ms-requestBody-name: ListIngressGatewayCredentialsRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListIngressGatewayCredentialsRequest'
      responses:
        '200':
          description: Ingress gateway access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngressGatewayResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
  /{resourceUri}/providers/Microsoft.HybridConnectivity/endpoints/{endpointName}/listManagedProxyDetails:
    x-api-version: '2024-12-01'
    post:
      tags:
        - Endpoints
      description: 'Fetches the managed proxy details '
      operationId: Endpoints_ListManagedProxyDetails
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/ResourceUriParameter'
        - $ref: '#/components/parameters/EndpointNameParameter'
      requestBody:
        description: Object of type ManagedProxyRequest
        required: true
        x-ms-requestBody-name: ManagedProxyRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedProxyRequest'
      responses:
        '200':
          description: Managed Proxy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedProxyResource'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: false
  /{resourceUri}/providers/Microsoft.HybridConnectivity/solutionConfigurations:
    x-api-version: '2024-12-01'
    get:
      operationId: SolutionConfigurations_List
      tags:
        - SolutionConfigurations
      description: List SolutionConfiguration resources by parent
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/Azure.ResourceManager.ResourceUriParameter'
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionConfigurationListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /{resourceUri}/providers/Microsoft.HybridConnectivity/solutionConfigurations/{solutionConfiguration}:
    x-api-version: '2024-12-01'
    get:
      operationId: SolutionConfigurations_Get
      tags:
        - SolutionConfigurations
      description: Get a SolutionConfiguration
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/Azure.ResourceManager.ResourceUriParameter'
        - name: solutionConfiguration
          in: path
          description: Represent Solution Configuration Resource.
          required: true
          schema:
            pattern: ^[a-zA-Z0-9-]{3,63}$
            type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionConfiguration'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: SolutionConfigurations_CreateOrUpdate
      tags:
        - SolutionConfigurations
      description: Create a SolutionConfiguration
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/Azure.ResourceManager.ResourceUriParameter'
        - name: solutionConfiguration
          in: path
          description: Represent Solution Configuration Resource.
          required: true
          schema:
            pattern: ^[a-zA-Z0-9-]{3,63}$
            type: string
      requestBody:
        description: Resource create parameters.
        required: true
        x-ms-requestBody-name: resource
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SolutionConfiguration'
      responses:
        '200':
          description: Resource 'SolutionConfiguration' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionConfiguration'
        '201':
          description: Resource 'SolutionConfiguration' create operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionConfiguration'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      operationId: SolutionConfigurations_Update
      tags:
        - SolutionConfigurations
      description: Update a SolutionConfiguration
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/Azure.ResourceManager.ResourceUriParameter'
        - name: solutionConfiguration
          in: path
          description: Represent Solution Configuration Resource.
          required: true
          schema:
            pattern: ^[a-zA-Z0-9-]{3,63}$
            type: string
      requestBody:
        description: The resource properties to be updated.
        required: true
        x-ms-requestBody-name: properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SolutionConfigurationUpdate'
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionConfiguration'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: SolutionConfigurations_Delete
      tags:
        - SolutionConfigurations
      description: Delete a SolutionConfiguration
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/Azure.ResourceManager.ResourceUriParameter'
        - name: solutionConfiguration
          in: path
          description: Represent Solution Configuration Resource.
          required: true
          schema:
            pattern: ^[a-zA-Z0-9-]{3,63}$
            type: string
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /{resourceUri}/providers/Microsoft.HybridConnectivity/solutionConfigurations/{solutionConfiguration}/inventory:
    x-api-version: '2024-12-01'
    get:
      operationId: Inventory_ListByWidget
      tags:
        - Inventory
      description: List InventoryResource resources by SolutionConfiguration
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/Azure.ResourceManager.ResourceUriParameter'
        - name: solutionConfiguration
          in: path
          description: Represent Solution Configuration Resource.
          required: true
          schema:
            pattern: ^[a-zA-Z0-9-]{3,63}$
            type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /{resourceUri}/providers/Microsoft.HybridConnectivity/solutionConfigurations/{solutionConfiguration}/inventory/{inventoryId}:
    x-api-version: '2024-12-01'
    get:
      operationId: Inventory_Get
      tags:
        - Inventory
      description: Get a InventoryResource
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/Azure.ResourceManager.ResourceUriParameter'
        - name: solutionConfiguration
          in: path
          description: Represent Solution Configuration Resource.
          required: true
          schema:
            pattern: ^[a-zA-Z0-9-]{3,63}$
            type: string
        - name: inventoryId
          in: path
          description: Inventory resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /{resourceUri}/providers/Microsoft.HybridConnectivity/solutionConfigurations/{solutionConfiguration}/syncNow:
    x-api-version: '2024-12-01'
    post:
      operationId: SolutionConfigurations_SyncNow
      tags:
        - SolutionConfigurations
      description: Trigger immediate sync with source cloud
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/Azure.ResourceManager.ResourceUriParameter'
        - name: solutionConfiguration
          in: path
          description: Represent Solution Configuration Resource.
          required: true
          schema:
            pattern: ^[a-zA-Z0-9-]{3,63}$
            type: string
      responses:
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              schema:
                type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
            Retry-After:
              schema:
                format: int32
                type: integer
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/providers/Microsoft.HybridConnectivity/generateAwsTemplate:
    x-api-version: '2024-12-01'
    post:
      operationId: GenerateAwsTemplate_Post
      tags:
        - GenerateAwsTemplate
      description: Retrieve AWS Cloud Formation template
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      requestBody:
        description: ConnectorId and SolutionTypes and their properties to Generate AWS CFT Template.
        required: true
        x-ms-requestBody-name: generateAwsTemplateRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateAwsTemplateRequest'
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                type: object
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.HybridConnectivity/publicCloudConnectors:
    x-api-version: '2024-12-01'
    get:
      operationId: PublicCloudConnectors_ListBySubscription
      tags:
        - PublicCloudConnectors
      description: List PublicCloudConnector resources by subscription ID
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicCloudConnectorListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.HybridConnectivity/solutionTypes:
    x-api-version: '2024-12-01'
    get:
      operationId: SolutionTypes_ListBySubscription
      tags:
        - SolutionTypes
      description: List SolutionTypeResource resources by subscription ID
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionTypeResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridConnectivity/publicCloudConnectors:
    x-api-version: '2024-12-01'
    get:
      operationId: PublicCloudConnectors_ListByResourceGroup
      tags:
        - PublicCloudConnectors
      description: List PublicCloudConnector resources by resource group
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicCloudConnectorListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridConnectivity/publicCloudConnectors/{publicCloudConnector}:
    x-api-version: '2024-12-01'
    get:
      operationId: PublicCloudConnectors_Get
      tags:
        - PublicCloudConnectors
      description: Get a PublicCloudConnector
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - name: publicCloudConnector
          in: path
          description: Represent public cloud connectors resource.
          required: true
          schema:
            pattern: ^[a-zA-Z0-9-]{3,63}$
            type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicCloudConnector'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: PublicCloudConnectors_CreateOrUpdate
      tags:
        - PublicCloudConnectors
      description: Create a PublicCloudConnector
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - name: publicCloudConnector
          in: path
          description: Represent public cloud connectors resource.
          required: true
          schema:
            pattern: ^[a-zA-Z0-9-]{3,63}$
            type: string
      requestBody:
        description: Resource create parameters.
        required: true
        x-ms-requestBody-name: resource
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicCloudConnector'
      responses:
        '200':
          description: Resource 'PublicCloudConnector' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicCloudConnector'
        '201':
          description: Resource 'PublicCloudConnector' create operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicCloudConnector'
          headers:
            Azure-AsyncOperation:
              schema:
                type: string
              description: A link to the status monitor
            Retry-After:
              schema:
                format: int32
                type: integer
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-long-running-operation: true
    patch:
      operationId: PublicCloudConnectors_Update
      tags:
        - PublicCloudConnectors
      description: Update a PublicCloudConnector
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - name: publicCloudConnector
          in: path
          description: Represent public cloud connectors resource.
          required: true
          schema:
            pattern: ^[a-zA-Z0-9-]{3,63}$
            type: string
      requestBody:
        description: The resource properties to be updated.
        required: true
        x-ms-requestBody-name: properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicCloudConnectorUpdate'
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicCloudConnector'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: PublicCloudConnectors_Delete
      tags:
        - PublicCloudConnectors
      description: Delete a PublicCloudConnector
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - name: publicCloudConnector
          in: path
          description: Represent public cloud connectors resource.
          required: true
          schema:
            pattern: ^[a-zA-Z0-9-]{3,63}$
            type: string
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridConnectivity/publicCloudConnectors/{publicCloudConnector}/testPermissions:
    x-api-version: '2024-12-01'
    post:
      operationId: PublicCloudConnectors_TestPermissions
      tags:
        - PublicCloudConnectors
      description: A long-running resource action.
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - name: publicCloudConnector
          in: path
          description: Represent public cloud connectors resource.
          required: true
          schema:
            pattern: ^[a-zA-Z0-9-]{3,63}$
            type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestPermissionResult'
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              schema:
                type: string
              description: The Location header contains the URL where the status of the long running operation can be checked.
            Retry-After:
              schema:
                format: int32
                type: integer
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridConnectivity/solutionTypes:
    x-api-version: '2024-12-01'
    get:
      operationId: SolutionTypes_ListByResourceGroup
      tags:
        - SolutionTypes
      description: List SolutionTypeResource resources by resource group
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionTypeResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridConnectivity/solutionTypes/{solutionType}:
    x-api-version: '2024-12-01'
    get:
      operationId: SolutionTypes_Get
      tags:
        - SolutionTypes
      description: Get a SolutionTypeResource
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - name: solutionType
          in: path
          description: Solution Type resource
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionTypeResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
