openapi: 3.0.0
servers:
  - url: https://management.azure.com/
info:
  version: 2015-01-14-preview
  title: IntuneResourceManagementClient
  description: Microsoft.Intune Resource provider Api features in the swagger-2.0 specification
security:
  - azure_auth:
      - user_impersonation
components:
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
  schemas:
    Resource:
      x-ms-azure-resource: true
      properties:
        id:
          readOnly: true
          type: string
          description: Resource Id
        name:
          readOnly: true
          type: string
          description: Resource name
        type:
          readOnly: true
          type: string
          description: Resource type
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource Tags
        location:
          type: string
          description: Resource Location
    Location:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/LocationProperties'
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Location entity for given tenant.
    LocationProperties:
      required:
        - hostName
      properties:
        hostName:
          type: string
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: string
        message:
          type: string
    LocationCollection:
      required:
        - value
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Location'
        nextlink:
          readOnly: true
          type: string
          description: Gets the URL to get the next set of results.
    GroupsCollection:
      required:
        - value
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/GroupItem'
        nextlink:
          readOnly: true
          type: string
          description: Gets the URL to get the next set of results.
    GroupItem:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/GroupProperties'
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Group entity for Intune MAM.
    GroupProperties:
      required:
        - friendlyName
        - platform
      properties:
        friendlyName:
          type: string
    ApplicationCollection:
      required:
        - value
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Application'
        nextlink:
          readOnly: true
          type: string
          description: Gets the URL to get the next set of results.
    Application:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/ApplicationProperties'
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Application entity for Intune MAM.
    ApplicationProperties:
      required:
        - friendlyName
        - platform
      properties:
        friendlyName:
          type: string
        platform:
          type: string
          default: ios
          enum:
            - ios
            - android
            - windows
        appId:
          type: string
    IOSMAMPolicyCollection:
      required:
        - value
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/iOSMAMPolicy'
        nextlink:
          readOnly: true
          type: string
          description: Gets the URL to get the next set of results.
    AndroidMAMPolicyCollection:
      required:
        - value
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AndroidMAMPolicy'
        nextlink:
          readOnly: true
          type: string
          description: Gets the URL to get the next set of results.
    iOSMAMPolicy:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/iOSMAMPolicyProperties'
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: iOS Policy entity for Intune MAM.
    AndroidMAMPolicy:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/AndroidMAMPolicyProperties'
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Android Policy entity for Intune MAM.
    MAMPolicyAppIdOrGroupIdPayload:
      properties:
        properties:
          $ref: '#/components/schemas/MAMPolicyAppOrGroupIdProperties'
      description: MAM Policy request body for properties Intune MAM.
    MAMPolicyAppOrGroupIdProperties:
      required:
        - url
      properties:
        url:
          type: string
      description: Android Policy request body for Intune MAM.
    MAMPolicyProperties:
      required:
        - friendlyName
      properties:
        friendlyName:
          type: string
        description:
          type: string
        appSharingFromLevel:
          type: string
          default: none
          enum:
            - none
            - policyManagedApps
            - allApps
        appSharingToLevel:
          type: string
          default: none
          enum:
            - none
            - policyManagedApps
            - allApps
        authentication:
          type: string
          default: required
          enum:
            - required
            - notRequired
        clipboardSharingLevel:
          type: string
          default: blocked
          enum:
            - blocked
            - policyManagedApps
            - policyManagedAppsWithPasteIn
            - allApps
        dataBackup:
          type: string
          default: allow
          enum:
            - allow
            - block
        fileSharingSaveAs:
          type: string
          default: allow
          enum:
            - allow
            - block
        pin:
          type: string
          default: required
          enum:
            - required
            - notRequired
        pinNumRetry:
          type: integer
        deviceCompliance:
          type: string
          default: enable
          enum:
            - enable
            - disable
        managedBrowser:
          type: string
          default: required
          enum:
            - required
            - notRequired
        accessRecheckOfflineTimeout:
          type: string
          format: duration
        accessRecheckOnlineTimeout:
          type: string
          format: duration
        offlineWipeTimeout:
          type: string
          format: duration
        numOfApps:
          type: integer
          readOnly: true
        groupStatus:
          readOnly: true
          type: string
          default: notTargeted
          enum:
            - notTargeted
            - targeted
        lastModifiedTime:
          type: string
          readOnly: true
          format: date-time
    iOSMAMPolicyProperties:
      allOf:
        - $ref: '#/components/schemas/MAMPolicyProperties'
      properties:
        fileEncryptionLevel:
          type: string
          default: deviceLocked
          enum:
            - deviceLocked
            - deviceLockedExceptFilesOpen
            - afterDeviceRestart
            - useDeviceSettings
        touchId:
          type: string
          default: enable
          enum:
            - enable
            - disable
      description: Intune MAM iOS Policy Properties.
    AndroidMAMPolicyProperties:
      allOf:
        - $ref: '#/components/schemas/MAMPolicyProperties'
      properties:
        screenCapture:
          type: string
          default: allow
          enum:
            - allow
            - block
        fileEncryption:
          type: string
          default: required
          enum:
            - required
            - notRequired
      description: Intune MAM iOS Policy Properties.
    DeviceCollection:
      required:
        - value
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Device'
        nextlink:
          readOnly: true
          type: string
          description: Gets the URL to get the next set of results.
    Device:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/DeviceProperties'
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Device entity for Intune.
    DeviceProperties:
      required:
        - userId
        - friendlyName
        - platform
        - platformVersion
        - deviceType
      properties:
        userId:
          type: string
        friendlyName:
          type: string
        platform:
          type: string
        platformVersion:
          type: string
        deviceType:
          type: string
    WipeDeviceOperationResult:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/WipeDeviceOperationResultProperties'
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Device entity for Intune.
    WipeDeviceOperationResultProperties:
      required:
        - value
      properties:
        value:
          type: string
    OperationResultCollection:
      required:
        - value
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/OperationResult'
        nextlink:
          readOnly: true
          type: string
          description: Gets the URL to get the next set of results.
    OperationResult:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/OperationResultProperties'
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: OperationResult entity for Intune.
    OperationResultProperties:
      required:
        - userId
        - friendlyName
        - platform
        - operationMetadata
      properties:
        friendlyName:
          type: string
        category:
          type: string
        lastModifiedTime:
          type: string
        state:
          type: string
        operationMetadata:
          type: array
          items:
            $ref: '#/components/schemas/operationMetadataProperties'
          x-ms-identifiers:
            - name
    operationMetadataProperties:
      required:
        - name
        - value
      properties:
        name:
          type: string
        value:
          type: string
    StatusesDefault:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/StatusesProperties'
        nextlink:
          readOnly: true
          type: string
          description: Gets the URL to get the next set of results.
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Default Statuses entity for the given tenant.
    StatusesProperties:
      properties:
        deployedPolicies:
          type: integer
          readOnly: true
        enrolledUsers:
          type: integer
          readOnly: true
        flaggedUsers:
          type: integer
          readOnly: true
        lastModifiedTime:
          type: string
          readOnly: true
          format: date-time
        policyAppliedUsers:
          type: integer
          readOnly: true
        status:
          type: string
          readOnly: true
        wipeFailedApps:
          type: integer
          readOnly: true
        wipePendingApps:
          type: integer
          readOnly: true
        wipeSucceededApps:
          type: integer
          readOnly: true
    FlaggedUserCollection:
      required:
        - value
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/FlaggedUser'
        nextlink:
          readOnly: true
          type: string
          description: Gets the URL to get the next set of results.
      description: Flagged user collection for the given tenant.
    FlaggedUser:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/FlaggedUserProperties'
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Flagged user for the given tenant.
    FlaggedUserProperties:
      properties:
        errorCount:
          type: integer
          readOnly: true
        friendlyName:
          type: string
          readOnly: true
    FlaggedEnrolledAppCollection:
      required:
        - value
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/FlaggedEnrolledApp'
        nextlink:
          readOnly: true
          type: string
          description: Gets the URL to get the next set of results.
      description: Flagged Enrolled App collection for the given tenant.
    FlaggedEnrolledApp:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/FlaggedEnrolledAppProperties'
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Flagged Enrolled App for the given tenant.
    FlaggedEnrolledAppProperties:
      properties:
        deviceType:
          type: string
          readOnly: true
        friendlyName:
          type: string
          readOnly: true
        lastModifiedTime:
          type: string
          readOnly: true
        platform:
          type: string
          readOnly: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/FlaggedEnrolledAppError'
          x-ms-identifiers:
            - errorCode
    FlaggedEnrolledAppError:
      properties:
        errorCode:
          type: string
          readOnly: true
        severity:
          type: string
          readOnly: true
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: Service Api Version.
      required: true
      schema:
        type: string
paths:
  /providers/Microsoft.Intune/locations:
    x-api-version: 2015-01-14-preview
    get:
      description: Returns location for user tenant.
      operationId: GetLocations
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: location response as a collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/hostName:
    x-api-version: 2015-01-14-preview
    get:
      description: Returns location for given tenant.
      operationId: GetLocationByHostName
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: single location response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /providers/Microsoft.Intune/locations/{hostName}/apps:
    x-api-version: 2015-01-14-preview
    get:
      description: Returns Intune Manageable apps.
      operationId: GetApps
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - name: $filter
          in: query
          description: The filter to apply on the operation.
          required: false
          schema:
            type: string
        - name: $top
          in: query
          required: false
          schema:
            format: int32
            type: integer
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: applications as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies:
    x-api-version: 2015-01-14-preview
    get:
      description: Returns Intune iOSPolicies.
      operationId: Ios_GetMAMPolicies
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - name: $filter
          in: query
          description: The filter to apply on the operation.
          required: false
          schema:
            type: string
        - name: $top
          in: query
          required: false
          schema:
            format: int32
            type: integer
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: applications as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IOSMAMPolicyCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies:
    x-api-version: 2015-01-14-preview
    get:
      description: Returns Intune Android policies.
      operationId: Android_GetMAMPolicies
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - name: $filter
          in: query
          description: The filter to apply on the operation.
          required: false
          schema:
            type: string
        - name: $top
          in: query
          required: false
          schema:
            format: int32
            type: integer
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: android Policies response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidMAMPolicyCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}:
    x-api-version: 2015-01-14-preview
    get:
      description: Returns Intune iOS policies.
      operationId: Ios_GetMAMPolicyByName
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: iOSMAMPolicy entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iOSMAMPolicy'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      description: Creates or updates iOSMAMPolicy.
      operationId: Ios_CreateOrUpdateMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: Parameters supplied to the Create or update an android policy operation.
        required: true
        x-ms-requestBody-name: parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iOSMAMPolicy'
      responses:
        '200':
          description: iOSMAMPolicy entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iOSMAMPolicy'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: ' patch an iOSMAMPolicy.'
      operationId: Ios_PatchMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: Parameters supplied to the Create or update an android policy operation.
        required: true
        x-ms-requestBody-name: parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iOSMAMPolicy'
      responses:
        '200':
          description: iOSMAMPolicy entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iOSMAMPolicy'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Delete Ios Policy
      operationId: Ios_DeleteMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}:
    x-api-version: 2015-01-14-preview
    get:
      description: Returns AndroidMAMPolicy with given name.
      operationId: Android_GetMAMPolicyByName
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: iOSMAMPolicy entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidMAMPolicy'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      description: Creates or updates AndroidMAMPolicy.
      operationId: Android_CreateOrUpdateMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: Parameters supplied to the Create or update an android policy operation.
        required: true
        x-ms-requestBody-name: parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AndroidMAMPolicy'
      responses:
        '200':
          description: android entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidMAMPolicy'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Patch AndroidMAMPolicy.
      operationId: Android_PatchMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: Parameters supplied to the Create or update an android policy operation.
        required: true
        x-ms-requestBody-name: parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AndroidMAMPolicy'
      responses:
        '200':
          description: android entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AndroidMAMPolicy'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Delete Android Policy
      operationId: Android_DeleteMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/apps:
    x-api-version: 2015-01-14-preview
    get:
      description: Get apps for an iOSMAMPolicy.
      operationId: Ios_GetAppForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - name: $filter
          in: query
          description: The filter to apply on the operation.
          required: false
          schema:
            type: string
        - name: $top
          in: query
          required: false
          schema:
            format: int32
            type: integer
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: applications as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/AndroidPolicies/{policyName}/apps:
    x-api-version: 2015-01-14-preview
    get:
      description: Get apps for an AndroidMAMPolicy.
      operationId: Android_GetAppForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - name: $filter
          in: query
          description: The filter to apply on the operation.
          required: false
          schema:
            type: string
        - name: $top
          in: query
          required: false
          schema:
            format: int32
            type: integer
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: applications as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/apps/{appName}:
    x-api-version: 2015-01-14-preview
    put:
      description: Add app to an iOSMAMPolicy.
      operationId: Ios_AddAppForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - name: appName
          in: path
          description: application unique Name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: Parameters supplied to add an app to an ios policy.
        required: true
        x-ms-requestBody-name: parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MAMPolicyAppIdOrGroupIdPayload'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Delete App for Ios Policy
      operationId: Ios_DeleteAppForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - name: appName
          in: path
          description: application unique Name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/apps/{appName}:
    x-api-version: 2015-01-14-preview
    put:
      description: Add app to an AndroidMAMPolicy.
      operationId: Android_AddAppForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - name: appName
          in: path
          description: application unique Name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: Parameters supplied to the Create or update app to an android policy operation.
        required: true
        x-ms-requestBody-name: parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MAMPolicyAppIdOrGroupIdPayload'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Delete App for Android Policy
      operationId: Android_DeleteAppForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - name: appName
          in: path
          description: application unique Name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/groups:
    x-api-version: 2015-01-14-preview
    get:
      description: Returns groups for a given iOSMAMPolicy.
      operationId: Ios_GetGroupsForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: policy name for the tenant
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: groups as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/groups:
    x-api-version: 2015-01-14-preview
    get:
      description: Returns groups for a given AndroidMAMPolicy.
      operationId: Android_GetGroupsForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: policy name for the tenant
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: groups as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/groups/{groupId}:
    x-api-version: 2015-01-14-preview
    put:
      description: Add group to an iOSMAMPolicy.
      operationId: Ios_AddGroupForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - name: groupId
          in: path
          description: group Id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: Parameters supplied to the Create or update app to an android policy operation.
        required: true
        x-ms-requestBody-name: parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MAMPolicyAppIdOrGroupIdPayload'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Delete Group for iOS Policy
      operationId: Ios_DeleteGroupForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - name: groupId
          in: path
          description: application unique Name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/groups/{groupId}:
    x-api-version: 2015-01-14-preview
    put:
      description: Add group to an AndroidMAMPolicy.
      operationId: Android_AddGroupForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - name: groupId
          in: path
          description: group Id
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      requestBody:
        description: Parameters supplied to the Create or update app to an android policy operation.
        required: true
        x-ms-requestBody-name: parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MAMPolicyAppIdOrGroupIdPayload'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Delete Group for Android Policy
      operationId: Android_DeleteGroupForMAMPolicy
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: policyName
          in: path
          description: Unique name for the policy
          required: true
          schema:
            type: string
        - name: groupId
          in: path
          description: application unique Name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: No-Content.
        '204':
          description: No-Content.
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices:
    x-api-version: 2015-01-14-preview
    get:
      description: Get devices for a user.
      operationId: GetMAMUserDevices
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: userName
          in: path
          description: user unique Name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - name: $filter
          in: query
          description: The filter to apply on the operation.
          required: false
          schema:
            type: string
        - name: $top
          in: query
          required: false
          schema:
            format: int32
            type: integer
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: devices as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices/{deviceName}:
    x-api-version: 2015-01-14-preview
    get:
      description: Get a unique device for a user.
      operationId: GetMAMUserDeviceByDeviceName
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: userName
          in: path
          description: unique user name
          required: true
          schema:
            type: string
        - name: deviceName
          in: path
          description: device name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Device entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices/{deviceName}/wipe:
    x-api-version: 2015-01-14-preview
    post:
      description: Wipe a device for a user.
      operationId: WipeMAMUserDevice
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: userName
          in: path
          description: unique user name
          required: true
          schema:
            type: string
        - name: deviceName
          in: path
          description: device name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Wipe operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WipeDeviceOperationResult'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /providers/Microsoft.Intune/locations/{hostName}/operationResults:
    x-api-version: 2015-01-14-preview
    get:
      description: Returns operationResults.
      operationId: GetOperationResults
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - name: $filter
          in: query
          description: The filter to apply on the operation.
          required: false
          schema:
            type: string
        - name: $top
          in: query
          required: false
          schema:
            format: int32
            type: integer
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: applications as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/statuses/default:
    x-api-version: 2015-01-14-preview
    get:
      description: Returns Intune Tenant level statuses.
      operationId: GetMAMStatuses
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: applications as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusesDefault'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/flaggedUsers:
    x-api-version: 2015-01-14-preview
    get:
      description: Returns Intune flagged user collection
      operationId: GetMAMFlaggedUsers
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - name: $filter
          in: query
          description: The filter to apply on the operation.
          required: false
          schema:
            type: string
        - name: $top
          in: query
          required: false
          schema:
            format: int32
            type: integer
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Flagged users as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlaggedUserCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
  /providers/Microsoft.Intune/locations/{hostName}/flaggedUsers/{userName}:
    x-api-version: 2015-01-14-preview
    get:
      description: Returns Intune flagged user details
      operationId: GetMAMFlaggedUserByName
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: userName
          in: path
          description: Flagged userName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Flagged user details in response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlaggedUser'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /providers/Microsoft.Intune/locations/{hostName}/flaggedUsers/{userName}/flaggedEnrolledApps:
    x-api-version: 2015-01-14-preview
    get:
      description: Returns Intune flagged enrolled app collection for the User
      operationId: GetMAMUserFlaggedEnrolledApps
      parameters:
        - name: hostName
          in: path
          description: Location hostName for the tenant
          required: true
          schema:
            type: string
        - name: userName
          in: path
          description: User name for the tenant
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - name: $filter
          in: query
          description: The filter to apply on the operation.
          required: false
          schema:
            type: string
        - name: $top
          in: query
          required: false
          schema:
            format: int32
            type: integer
        - name: $select
          in: query
          description: select specific fields in entity.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Flagged enrolled Apps as collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlaggedEnrolledAppCollection'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-ms-pageable:
        nextLinkName: nextlink
